Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

updated documentation to explain how to use the internal CSS variables for custom `gap` values
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

added more content to the `Flex` documentation
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

added example of vertical stack of cards
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

sort of working sticky column
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

HDS-4650 Add first draft of documentation
  website/app/styles/app.scss
  website/app/styles/pages/layouts/grid.scss
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/code/component-api.md
  website/docs/layouts/grid/partials/code/how-to-use.md
  website/docs/layouts/grid/partials/version-history/version-history.md
Labels: docs-website

compressed image assets
  website/public/assets/components/table/advanced-table/advanced-table-density-mix.png
  website/public/assets/components/table/advanced-table/advanced-table-dont-parent-nested.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-link.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-sort.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-tooltip.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-arrow-key-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-left.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-right.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-up.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-tab.png
  website/public/assets/components/table/advanced-table/expandable-rows.png
Labels: none

Compressed Image Assets (#2773)
  website/public/assets/components/table/advanced-table/advanced-table-density-mix.png
  website/public/assets/components/table/advanced-table/advanced-table-dont-parent-nested.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-link.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-sort.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-tooltip.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-arrow-key-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-left.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-right.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-up.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-tab.png
  website/public/assets/components/table/advanced-table/expandable-rows.png
Labels: none

Run `changeset version` outside `changesets/action`
  .github/workflows/release-candidate.yml
Labels: none

Run `changeset version` outside `changesets/action` (#2774)
  .github/workflows/release-candidate.yml
Labels: none

Fix: A11y improvements
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/navigation.scss
Labels: packages/components

HDS-4411 `Stepper::Navigation` and `Stepper::List` components added
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Feat: body block when using `@steps`
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Fix: a11y structure improvements for non-interactive steps
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/styles/components/stepper/navigation.scss
Labels: packages/components

Feat: Add panel component, align to tabs implementation
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Fix: Set description color on list
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components

Fix: Remove stepNumber arg from step sub components
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Feat: Convert list step to custom modifier
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

Feat: `Stepper::Nav` mobile design
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Chore: Linting fixes
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Convert did-insert to custom modifier
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Feat: Add `ariaLabel` arg for nav and list
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Chore: component linting
  packages/components/src/components/hds/stepper/nav/index.ts
Labels: packages/components

Fix: Step ordering issue when steps added or removed
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  showcase/app/controllers/components/stepper/nav.js
Labels: packages/components, showcase

Fix: Address list feedback
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
Labels: packages/components

Fix: `List::Step` status set to optional
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

Chore: Address changeset feedback
  .changeset/four-jokes-wait.md
Labels: none

Fix: Align to BEM class naming
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Navigation interactive title color
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: Address feedback
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/styles/components/stepper/nav.scss
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Feat: Nav support for not using panel blocks
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Feat: `Stepper::Nav` animation
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Chore: Add changeset
  .changeset/four-jokes-wait.md
Labels: none

Fix: Refactor Nav methods
  packages/components/src/components/hds/stepper/nav/index.ts
Labels: packages/components

Fix: Nav sr only text placement
  packages/components/src/components/hds/stepper/nav/step.hbs
Labels: packages/components

Chore: Showcase linting
  showcase/app/controllers/components/stepper/nav.js
Labels: showcase

Fix: Prevent click and keyboard on non-interactive steps
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Fix: Nav style and animation bugs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: Remove insert & destroy actions from `Stepper::List`
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

Feat: Tests added, Bugs from tests fixed in list and navigation
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/step.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
