Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

Move back message logic to backing class
  packages/components/addon/components/hds/form/character-count/index.hbs
  packages/components/addon/components/hds/form/character-count/index.js
Labels: packages/components

Add custom messages for `maxLength`
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
Labels: packages/components

Add custom messages for `minLength`
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
Labels: packages/components

Update logic for `minLength ` and `maxLength`
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
Labels: packages/components

Add default `currentLength` examples
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
Labels: packages/components

Add dummy character count validation to `TextInput`
  packages/components/tests/dummy/app/controllers/components/form/text-input.js
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
Labels: packages/components

Add dummy character count validation to `Textarea`
  packages/components/tests/dummy/app/controllers/components/form/textarea.js
  packages/components/tests/dummy/app/templates/components/form/textarea.hbs
Labels: packages/components

Add dummy character count validation to `MaskedInput`
  packages/components/tests/dummy/app/controllers/components/form/masked-input.js
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
Labels: packages/components

removed leftover “dummy” class names
  packages/components/tests/dummy/app/styles/_globals.scss
  website/docs/components/avatar/partials/guidelines/guidelines.md
  website/docs/components/empty-state/partials/specifications/design-guidelines.md
  website/docs/foundations/colors/partials/other/palette.md
Labels: docs-website, packages/components

Apply suggestions from code review
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/tests/dummy/app/controllers/components/form/masked-input.js
  packages/components/tests/dummy/app/controllers/components/form/text-input.js
  packages/components/tests/dummy/app/controllers/components/form/textarea.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/dummy/app/templates/components/form/textarea.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
Labels: packages/components

Update changelog
  .changeset/brown-berries-tap.md
Labels: none

Refactor `CharacterCount` showcase
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
Labels: packages/components

added `@isVisuallyHidden` argument to `Hds::Table::Th`
  packages/components/addon/components/hds/table/th.hbs
Labels: packages/components

updated `Hds::Table` to support `isVisuallyHidden` argument in the `@columns` object
  packages/components/addon/components/hds/table/index.hbs
Labels: packages/components

updated showcase for `Table` component to include also examples container visually hidden table headers
  packages/components/tests/dummy/app/templates/components/table.hbs
Labels: packages/components

updated second example to avoid complains from the compiler in case it’s rendered
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

added example with visually hidden table headers to the “How to use” section
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

updated “Component API” documentation
  website/docs/components/table/partials/code/component-api.md
Labels: docs-website

Update .changeset/tidy-rivers-sin.md
  .changeset/tidy-rivers-sin.md
Labels: none

changeset
  .changeset/tidy-rivers-sin.md
Labels: none

removed drafted `Avatar` component
  packages/components/addon/components/hds/avatar/index.hbs
  packages/components/app/components/hds/avatar/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/avatar.scss
  packages/components/tests/acceptance/components/hds/avatar-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/avatar.js
  packages/components/tests/dummy/app/templates/components/avatar.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/avatar/index-test.js
  website/docs/components/avatar/index.md
  website/docs/components/avatar/partials/accessibility/accessibility.md
  website/docs/components/avatar/partials/code/component-api.md
  website/docs/components/avatar/partials/code/how-to-use.md
  website/docs/components/avatar/partials/guidelines/guidelines.md
  website/docs/components/avatar/partials/guidelines/overview.md
Labels: docs-website, packages/components

removed drafted `EmptyState` component
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/empty-state.js
  packages/components/tests/dummy/app/templates/components/empty-state.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  website/docs/components/empty-state/index.md
  website/docs/components/empty-state/partials/accessibility/accessibility.md
  website/docs/components/empty-state/partials/code/component-api.md
  website/docs/components/empty-state/partials/code/how-to-use.md
  website/docs/components/empty-state/partials/specifications/design-guidelines.md
Labels: docs-website, packages/components

removed Axe global rules for `color-contrast` and `list` per Melanie’s request
  website/tests/a11y-helper.js
Labels: none

HDS-2926 Add support for Ruby language to CodeBlock
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website, packages/components

fixed acceptance test for `dropdown`
  website/tests/acceptance/components/dropdown-test.js
Labels: none

Group `onInput` arguments as object
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/tests/dummy/app/controllers/components/form/base-elements.js
  packages/components/tests/dummy/app/controllers/components/form/masked-input.js
  packages/components/tests/dummy/app/controllers/components/form/text-input.js
  packages/components/tests/dummy/app/controllers/components/form/textarea.js
Labels: packages/components

HDS-2926 Add changeset
  .changeset/friendly-hounds-jog.md
Labels: none

Update packages/components/addon/components/hds/code-block/index.js
  packages/components/addon/components/hds/code-block/index.js
Labels: packages/components

Updating character count guidelines and adding image examples
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
  website/public/assets/components/form/primitives/character-count-do-helper-text.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text-overlap.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text.png
  website/public/assets/components/form/primitives/primitives-example-textarea.png
  website/public/assets/components/form/primitives/primitives-example-textfield.png
Labels: docs-website

small tweak to the wording on a `Table` example in the “How to use” documentation
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

Guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
Labels: docs-website

Small cleanup and updates to prose
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
Labels: docs-website

Images added
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/public/assets/components/form/primitives/primitives-example-textarea.png
  website/public/assets/components/form/primitives/primitives-example-textfield.png
Labels: docs-website

image update
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/public/assets/components/form/primitives/primitives-example-textarea.png
  website/public/assets/components/form/primitives/primitives-example-textfield.png
Labels: docs-website

Updating character count guidelines and adding image examples
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
  website/public/assets/components/form/primitives/character-count-do-helper-text.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text-overlap.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text.png
  website/public/assets/components/form/primitives/primitives-example-textarea.png
  website/public/assets/components/form/primitives/primitives-example-textfield.png
Labels: docs-website

Updating primitive guidelines and images with new property
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
  website/public/assets/components/form/masked-input/masked-input-anatomy.png
  website/public/assets/components/form/text-input/textinput-anatomy.png
  website/public/assets/components/form/textarea/textarea-anatomy.png
Labels: docs-website

Add CharacterCount to 'How to use' form primitives
  website/docs/components/form/primitives/partials/code/how-to-use.md
Labels: docs-website

Add `CharacterCount` docs to `Form::Field`
  website/docs/components/form/primitives/partials/code/component-api.md
Labels: docs-website

Add `CharacterCount` docs to field components
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/textarea/partials/code/component-api.md
Labels: docs-website

Add 'How to use' character count examples to text field components
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
Labels: docs-website
