Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added support for hcl
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: packages/components, showcase

feat: add support for caption
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

feat: infer if nested from model + childrenKey
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/tr-expandable-group.hbs
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
  showcase/public/api/mock-nested-rows-custom.json
Labels: packages/components, showcase

updating build
  packages/components/declarations/components/hds/app-footer/status-link.d.ts.map
  packages/components/declarations/components/hds/flyout/index.d.ts.map
  packages/components/dist/components/hds/flyout/index.js.map
Labels: packages/components

feat: add rowIndex back
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/tr-expandable-group.hbs
  packages/components/src/components/hds/advanced-table/tr-expandable-group.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

chore: rename to expandable-tr-group
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
Labels: packages/components

fix: current showcase errors
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

added more examples in the showcase
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

feat: assert not selectable or striped if nested
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  showcase/app/controllers/components/advanced-table.js
  showcase/app/routes/components/advanced-table.js
Labels: packages/components, showcase

Flyover revert prop name to element
  packages/components/declarations/components/hds/flyout/index.d.ts
  packages/components/declarations/components/hds/flyout/index.d.ts.map
  packages/components/dist/components/hds/flyout/index.js
  packages/components/dist/components/hds/flyout/index.js.map
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

found a scrappy but working way to generate themed CSS files
  packages/tokens/scripts/@types/Config.d.ts
  packages/tokens/scripts/build-parts/generateExtraThemingFiles.ts
  packages/tokens/scripts/build.ts
Labels: packages/tokens

generated CSS output files
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/common-tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/dark-tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/light-tokens.css
Labels: packages/tokens

cherry-pick commits from `spike-showcase-theming`
  showcase/app/components/shw/theme/switcher.gts
  showcase/app/controllers/foundations/theming.js
  showcase/app/index.html
  showcase/app/router.ts
  showcase/app/services/theming.js
  showcase/app/styles/_globals.scss
  showcase/app/styles/_tokens.scss
  showcase/app/styles/_typography.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/divider.scss
  showcase/app/styles/showcase-components/frame.scss
  showcase/app/styles/showcase-components/label.scss
  showcase/app/styles/showcase-components/placeholder.scss
  showcase/app/styles/showcase-components/theme-switcher.scss
  showcase/app/styles/showcase-pages/theming.scss
  showcase/app/styles/showcase-pages/typography.scss
  showcase/app/styles/showcase-theming/dark.scss
  showcase/app/styles/showcase-theming/light.scss
  showcase/app/templates/application.hbs
  showcase/app/templates/foundations/theming.hbs
  showcase/app/templates/index.hbs
  showcase/ember-cli-build.js
Labels: showcase

changed `design-system-components.scss` file imports structure so the common part can be re-used to generate themed files
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/@hashicorp/partials/design-system-components-common.scss
Labels: packages/components

added “themed” scss files
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-css-selectors.scss
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-prefers-color-scheme.scss
Labels: packages/components

added `outputReferences": true` to be able to use the themed tokens
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/common-tokens.css
  packages/tokens/scripts/build.ts
Labels: packages/tokens

fix: explicitly test that label doesn't change
  showcase/tests/integration/components/hds/table/index-test.js
Labels: showcase

HDS-2508 flyout failing tests fix
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

Marking private prop name update as to-do
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

`Flyout` - Element prop name update (#2597)
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

Add yarn shorthand
  showcase/package.json
Labels: showcase

removed color from parent “text” wrapper in `Alert` component
  packages/components/src/styles/components/alert.scss
Labels: packages/components

changeset
  .changeset/gentle-countries-build.md
Labels: none

replaced core palettes (“neutral” and “accents”) values with Jory’s one in Figma
  packages/tokens/src/global/themed/dark/color/palette-accents.json
  packages/tokens/src/global/themed/dark/color/palette-neutrals.json
Labels: packages/tokens

regenerated design tokens output files to use dark colors from Figma
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/dark-tokens.css
Labels: packages/tokens

tried to update the Rollup.js config to generate multiple CSS in output but it doesn’t work
  packages/components/rollup.config.mjs
Labels: packages/components

TEMP local link to SD
  package.json
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

workaround for Rollup not compiling distinct CSS in output
  packages/components/rollup.config.mjs
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-css-selectors.css
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-prefers-color-scheme.css
  packages/components/src/styles/@hashicorp/design-system-components.scss
Labels: packages/components

removed neeed for “gap” token in Showcase
  showcase/app/styles/_tokens.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/flex.scss
  showcase/app/styles/showcase-components/grid.scss
Labels: showcase

HDS-4242 updating release and cloud-ui testing docs
  packages/components/HOW-TO-TEST-A-COMPONENT-IN-CLOUD-UI.md
  packages/components/RELEASE.md
Labels: packages/components

`Alert` - Removed color from parent “text” wrapper (#2598)
  .changeset/gentle-countries-build.md
  packages/components/src/styles/components/alert.scss
Labels: packages/components

Add changelog entry
  .changeset/neat-eels-speak.md
Labels: none

`Dropdown`, `RichTooltip` - fix `ResizeObserver`-related errors (#2550)
  .changeset/great-papayas-develop.md
  packages/components/package.json
  packages/components/src/modifiers/hds-anchored-position.ts
  showcase/tests/integration/components/hds/dropdown/index-test.js
  yarn.lock
Labels: packages/components, showcase

fix: time component docs broken link
  website/docs/components/time/partials/code/how-to-use.md
Labels: docs-website

Resolve sass warnings in rollup build (#2594)
  .changeset/neat-eels-speak.md
  packages/components/src/styles/components/badge-count.scss
  packages/components/src/styles/components/badge.scss
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/icon-tile.scss
  packages/components/src/styles/components/link/standalone.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
  packages/components/src/styles/components/stepper/task-indicator.scss
  packages/components/src/styles/components/tabs.scss
  packages/components/src/styles/mixins/_button.scss
Labels: packages/components

`Time` - Docs broken link fix (#2600)
  website/docs/components/time/partials/code/how-to-use.md
Labels: docs-website

Update CHANGELOG.md with docs alias
  packages/components/CHANGELOG.md
Labels: packages/components

Version Packages (#2559)
  .changeset/cold-humans-mix.md
  .changeset/eighty-lobsters-brush.md
  .changeset/gentle-countries-build.md
  .changeset/great-papayas-develop.md
  .changeset/happy-readers-notice.md
  .changeset/lucky-hotels-sell.md
  .changeset/neat-eels-speak.md
  .changeset/silly-taxis-reply.md
  .changeset/smart-seahorses-cough.md
  .changeset/sweet-penguins-shave.md
  .changeset/thin-games-doubt.md
  .changeset/violet-suns-scream.md
  .changeset/wicked-cheetahs-change.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

HDS-4262 Reorder style declarations to resolve sass warnings
  website/app/styles/pages/about/principles.scss
  website/app/styles/pages/application/cover.scss
  website/app/styles/pages/home.scss
Labels: none

fix: selectable + sortable th table showcase examples
  showcase/app/templates/components/table.hbs
Labels: showcase
