Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Forward `@layout` argument from `RadioCard::Group` to `Fieldset`
  packages/components/addon/components/hds/form/radio-card/group.hbs
  packages/components/app/styles/components/form/group.scss
  packages/components/tests/integration/components/hds/form/radio-card/group-test.js
Labels: packages/components

Update changelog entry
  .changeset/plenty-months-lick.md
Labels: none

Rename `isMasked` → `isContentMasked`
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/masked-input/base.js
  packages/components/addon/components/hds/form/masked-input/field.hbs
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  packages/components/tests/integration/components/hds/form/masked-input/base-test.js
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
Labels: docs-website, packages/components

Remove Password section
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
Labels: packages/components

Add changelog entry
  .changeset/shy-ads-care.md
Labels: none

Rename `TextInput` aria arguments
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.js
Labels: packages/components

Add `@hasVisibilityToggle` example
  website/docs/components/form/text-input/partials/code/how-to-use.md
Labels: docs-website

Keep `isPasswordReadable` private
  packages/components/addon/components/hds/form/text-input/field.js
Labels: packages/components

Add changelog entry
  .changeset/plenty-months-lick.md
Labels: none

Update `TextInput` docs
  website/docs/components/form/text-input/partials/code/component-api.md
Labels: docs-website

Add example of vertical layout and fixed width
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
Labels: packages/components

Rename `TextInput` arguments
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.js
Labels: packages/components

Apply suggestions from code review
  .changeset/plenty-months-lick.md
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
Labels: packages/components

Apply suggestions from code review
  .changeset/shy-ads-care.md
Labels: none

Amend changelog entry
  .changeset/plenty-months-lick.md
Labels: none

updated showcase of “Statuses” section for `Copy::Snippet`
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/copy/snippet.scss
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

updated `Stepper` component to use the `Text` component
  packages/components/addon/components/hds/stepper/step/indicator.hbs
  packages/components/app/styles/components/stepper/step-indicator.scss
Labels: packages/components

Install `ember-cli-typescript`
  packages/components/package.json
  packages/components/tests/dummy/app/config/environment.d.ts
  packages/components/tsconfig.json
  packages/components/types/global.d.ts
  yarn.lock
Labels: packages/components

Add signature and types for `interactive/index.ts`
  packages/components/addon/components/hds/interactive/index.ts
  packages/components/addon/template-registry.ts
Labels: packages/components

added “integration” + “unit” tests for the `hds-clipboard` modifier
  packages/components/tests/integration/modifiers/hds-clipboard-test.js
Labels: packages/components

updated showcase for `Code::Snippet` to include “Containers” section
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

`interactive/index.js` → `interactive/index.ts`
  packages/components/addon/components/hds/interactive/index.ts
Labels: packages/components

updated different `Form` components to use the `Text` component
  packages/components/addon/components/hds/form/error/index.hbs
  packages/components/addon/components/hds/form/error/index.js
  packages/components/addon/components/hds/form/error/message.hbs
  packages/components/addon/components/hds/form/helper-text/index.hbs
  packages/components/addon/components/hds/form/helper-text/index.js
  packages/components/addon/components/hds/form/indicator/index.hbs
  packages/components/addon/components/hds/form/indicator/index.js
  packages/components/addon/components/hds/form/radio-card/description.hbs
  packages/components/addon/components/hds/form/radio-card/label.hbs
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
Labels: packages/components

Remove dummy changeset entry
  .changeset/neat-panthers-develop.md
Labels: none

Provide migration instructions for major changes
  .changeset/plenty-months-lick.md
  .changeset/shy-ads-care.md
Labels: none

Add Button to template registry
  packages/components/addon/template-registry.ts
Labels: packages/components

changed `Copy::Button/Snippet` components to use our internal `hds-clipboard` helper/modifier + added `onSuccess/onError` callbacks
  packages/components/addon/components/hds/copy/button/index.hbs
  packages/components/addon/components/hds/copy/button/index.js
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
Labels: packages/components

updated showcase for `Copy::Button` to cover more use cases
  packages/components/tests/dummy/app/controllers/components/copy/button.js
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
Labels: packages/components

Add level 2 separators
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
Labels: packages/components

simplified verbiage per comments in code review
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

updated website documentation for `Copy::Button/Snippet`
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
Labels: docs-website

split the logic of `hds-clipboard` modifier so it’s easier to test
  packages/components/addon/modifiers/hds-clipboard.js
Labels: packages/components

updated showcase for `Dropdown` component
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
Labels: packages/components

Define union types from the array of strings
  packages/components/addon/components/hds/button/index.ts
Labels: packages/components

updated the `hds-clipboard` modifier to be “function-based” instead of “class-based” (as suggested by @meirish)
  packages/components/addon/components/hds/copy/button/index.js
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/addon/modifiers/hds-clipboard.js
  packages/components/tests/dummy/app/controllers/components/copy/button.js
Labels: packages/components

updated “Containers” demo in showcase for `Button` elements to follow the `Copy::Snippet` one
  packages/components/tests/dummy/app/styles/showcase-pages/button.scss
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

Document layout and control position usage
  website/docs/components/form/radio-card/partials/code/how-to-use.md
Labels: docs-website

Add `RadioCard` layout docs (#1527)
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
Labels: docs-website

updated integration tests for `Copy::Snippet`
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

`button/index.js` → `button/index.ts`
  packages/components/addon/components/hds/button/index.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
