Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Generate a new codemods project
  packages/codemods/.eslintignore
  packages/codemods/.eslintrc.js
  packages/codemods/.github/workflows/ci.yml
  packages/codemods/.gitignore
  packages/codemods/.prettierrc
  packages/codemods/README.md
  packages/codemods/bin/cli.js
  packages/codemods/package.json
  packages/codemods/transforms/.gitkeep
  yarn.lock
Labels: none

Update package name
  packages/codemods/package.json
  yarn.lock
Labels: none

allow for the selected index to be controlled by the consuming application
  packages/components/addon/components/hds/tabs/index.hbs
  packages/components/addon/components/hds/tabs/index.js
  packages/components/tests/dummy/app/controllers/components/tabs.js
  packages/components/tests/dummy/app/templates/components/tabs.hbs
Labels: packages/components

use component getter rather than template if statement
  packages/components/addon/components/hds/tabs/index.hbs
Labels: packages/components

adds test for external control of selected tab index
  packages/components/tests/integration/components/hds/tabs/index-test.js
Labels: packages/components

remove console.log
  packages/components/addon/components/hds/tabs/index.js
Labels: packages/components

update website docs for Tabs
  website/docs/components/tabs/index.js
  website/docs/components/tabs/partials/code/component-api.md
  website/docs/components/tabs/partials/code/how-to-use.md
Labels: docs-website

Update CONTRIBUTING.md
  packages/flight-icons/CONTRIBUTING.md
Labels: packages/flight-icons

Added retroactive changeset
  .changeset/kind-crabs-warn.md
Labels: none

Update pull_request_template.md
  .github/pull_request_template.md
Labels: none

Align animation durations to 200ms
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/app/styles/components/side-nav/vars.scss
Labels: packages/components

Update pull_request_template.md
  .github/pull_request_template.md
Labels: none

Style power-select when list is positioned above
  packages/components/app/styles/@hashicorp/design-system-power-select-overrides.scss
  packages/components/tests/dummy/app/templates/overrides/power-select.hbs
Labels: packages/components

Add changelog entry
  .changeset/curvy-cherries-sin.md
Labels: none

Update changeset to better capture new icons categorically
  .changeset/kind-crabs-warn.md
Labels: none

Update pull_request_template.md (#1658)
  .github/pull_request_template.md
Labels: none

Update website/app/components/doc/page/footer.hbs
  website/app/components/doc/page/footer.hbs
Labels: none

Update website/app/components/doc/page/footer.hbs
  website/app/components/doc/page/footer.hbs
Labels: none

Update website/docs/about/support.md
  website/docs/about/support.md
Labels: docs-website

add links to our feedback form (#1650)
  website/app/components/doc/page/footer.hbs
  website/app/templates/error.hbs
  website/docs/about/support.md
Labels: docs-website

fix yml for ember-flight-icons ci
  .github/workflows/ci-ember-flight-icons.yml
Labels: none

Update CHANGELOG.md
  packages/ember-flight-icons/CHANGELOG.md
Labels: packages/ember-flight-icons

fix capitilization of feedback change
  website/docs/about/support.md
Labels: docs-website

only run website tests when needed
  .github/scripts/filter_changed_files_website.sh
  .github/workflows/ci-website.yml
Labels: none

only run component tests when needed
  .github/scripts/filter_changed_files_components.sh
  .github/workflows/ci-components.yml
Labels: none

WIP
  .github/workflows/ci-ember-flight-icons.yml
Labels: none

a
  .github/workflows/ci-ember-flight-icons.yml
Labels: none

a
  .github/workflows/ci-ember-flight-icons.yml
  .github/workflows/ci-website.yml
Labels: none

a
  .github/workflows/ci-components.yml
Labels: none

clarify direct contributions
  website/docs/about/contribution.md
Labels: docs-website

updating design checklist
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

renamed `extraBefore/After` to `ExtraBefore/After` (uppercase `E`)
  packages/components/addon/components/hds/side-nav/list/index.hbs
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website, packages/components

Add codemod for v3 dropdown changes
  packages/codemods/README.md
  packages/codemods/transforms/v3/dropdown/README.md
  packages/codemods/transforms/v3/dropdown/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/dropdown/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/dropdown/index.js
  packages/codemods/transforms/v3/dropdown/test.js
Labels: none

Clarify usage instructions
  packages/codemods/README.md
  packages/codemods/transforms/v3/dropdown/README.md
Labels: none

Delete .gitkeep
  packages/codemods/transforms/.gitkeep
Labels: none

Update test fixture
  packages/codemods/transforms/v3/dropdown/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/dropdown/__testfixtures__/basic.output.hbs
Labels: none

Remove CI workflows
  packages/codemods/.github/workflows/ci.yml
Labels: none

Add codemod for v3 masked-input changes
  packages/codemods/transforms/v3/dropdown/index.js
  packages/codemods/transforms/v3/masked-input/README.md
  packages/codemods/transforms/v3/masked-input/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/masked-input/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/masked-input/index.js
  packages/codemods/transforms/v3/masked-input/test.js
Labels: none

Add codemod for v3 radio-card changes
  packages/codemods/transforms/v3/radio-card/README.md
  packages/codemods/transforms/v3/radio-card/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/radio-card/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/radio-card/index.js
  packages/codemods/transforms/v3/radio-card/test.js
Labels: none

consolidate file change bash scripts
  .github/scripts/filter_changed_files.sh
  .github/scripts/filter_changed_files_components.sh
  .github/scripts/filter_changed_files_efi.sh
  .github/scripts/filter_changed_files_website.sh
  .github/workflows/ci-components.yml
  .github/workflows/ci-ember-flight-icons.yml
  .github/workflows/ci-website.yml
Labels: none

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
