Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Upgrade `@figma/rest-api-sync` to `0.22.0`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `@types/archiver` to `6.0.3`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `@types/react-dom` to `19.0.2`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `@types/react` to `19.0.2`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `@types/svgo` to `3.0.0`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `archiver` to `7.0.1`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `chalk` to `5.4.0`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Remove `ember-source` from devDependencies in `components`
  packages/components/package.json
Labels: packages/components

Update yarn.lock
  yarn.lock
Labels: none

Upgrade `concurrently` to `9.1.0`
  packages/components/package.json
  packages/ember-flight-icons/package.json
  showcase/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

Upgrade `cspell` to `8.17.1`
  website/package.json
  yarn.lock
Labels: none

Upgrade `ember-cli-app-version` to `7.0.0`
  website/package.json
  yarn.lock
Labels: none

Upgrade `dotenv` to `16.4.7`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `ember-cli-deprecation-workflow` to `3.0.2`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Upgrade `ember-cli` to `6.0.1`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Upgrade `ember-load-initializers` to `3.0.1`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Upgrade `ember-math-helpers` to `4.2.1`
  website/package.json
  yarn.lock
Labels: none

Upgrade `ember-prism` to `1.0.0`
  website/package.json
  yarn.lock
Labels: none

Upgrade `ember-resolver` to `13.1.0`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Upgrade `ember-test-selectors` to `7.0.0`
  website/package.json
  yarn.lock
Labels: none

Upgrade `eslint-plugin-ember` to `12.3.3`
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

Upgrade `eslint-plugin-n` to `17.15.1`
  showcase/package.json
  yarn.lock
Labels: showcase

Upgrade `jsdom` to `25.0.1`
  website/package.json
  yarn.lock
Labels: none

Upgrade `sinon` to `19.0.2`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Upgrade `stylelint-config-standard-scss` to `14.0.0`
  packages/components/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, showcase

HDS-4252 upgrade minor and patch `dependencies`
  packages/components/package.json
  packages/ember-flight-icons/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

Upgrade Yarn to 4.5.3 (#2617)
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

Add changeset entry
  .changeset/forty-vans-laugh.md
Labels: none

Revert upgrades to showcase and website `devDependencies` contained in `components` `dependencies`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Removing `jsdom` from the website `devDependencies`
  website/package.json
  yarn.lock
Labels: none

Revert upgrades to `ember-cli` and `ember-prism`
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Install `codemirror` 5
  packages/components/package.json
  yarn.lock
Labels: packages/components

Generate `CodeEditor` showcase
  showcase/app/router.ts
  showcase/app/routes/components/code-editor.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/code-editor.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: showcase

added tab support
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

website docs WIP
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/docs/components/code-editor/partials/version-history/4.15.0.md
Labels: docs-website

working on initial structure
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  yarn.lock
Labels: packages/components

working on showcase docs
  showcase/app/templates/components/code-editor.hbs
Labels: showcase

added some initial language support
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: showcase

styling wip
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/toolbar-button.hbs
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

cleanup
  showcase/app/controllers/components/code-editor.js
Labels: showcase
