Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Add `version-history` partial to blueprint
  website/blueprints/hds-component-docs/files/docs/components/__name__/index.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/version-history/version-history.md
Labels: none

Add `version-history` partial to documentation blueprint (#2784)
  website/blueprints/hds-component-docs/files/docs/components/__name__/index.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/version-history/version-history.md
Labels: none

AdvancedTable - Declarative Template Updates (#2768)
  .changeset/four-cameras-warn.md
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

Feat: Rename `Stepper::Navigation` to `Stepper::Nav`
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/template-registry.ts
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Feat: Tests added, Bugs from tests fixed in list and navigation
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/step.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Feat: body block when using `@steps`
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Feat: Add panel component, align to tabs implementation
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Feat: `Stepper::Nav` animation
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: a11y structure improvements for non-interactive steps
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/styles/components/stepper/navigation.scss
Labels: packages/components

Feat: `Stepper::Nav` mobile design
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: A11y improvements
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/navigation.scss
Labels: packages/components

Fix: Address list feedback
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
Labels: packages/components

Fix: Align class names in List
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components

Feat: Separate stepper showcase to sub pages
  showcase/app/controllers/components/stepper/nav.js
  showcase/app/router.ts
  showcase/app/routes/components/stepper/indicator.js
  showcase/app/routes/components/stepper/list.js
  showcase/app/routes/components/stepper/nav.js
  showcase/app/templates/components/stepper/indicator.hbs
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/stepper/indicator-test.js
  showcase/tests/acceptance/components/hds/stepper/list-test.js
  showcase/tests/acceptance/components/hds/stepper/nav-test.js
  showcase/tests/acceptance/percy-test.js
Labels: showcase

Feat: Assertion for number of panels and steps
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Fix: Address a11y feedback
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  showcase/tests/acceptance/components/hds/stepper/indicator-test.js
  showcase/tests/acceptance/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Align to BEM class naming
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Chore: Add changeset
  .changeset/four-jokes-wait.md
Labels: none

Chore: Address changeset feedback
  .changeset/four-jokes-wait.md
Labels: none

Fix: Remove stepNumber arg from step sub components
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Feat: Design style alignment
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Fix: Navigation interactive title color
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: List failing test
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: showcase

Fix: Prevent steps from getting set to complete initially
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Fix: Prevent click and keyboard on non-interactive steps
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Fix: Add showcase list examples and cleanup
  showcase/app/controllers/components/stepper/list.js
  showcase/app/controllers/components/stepper/nav.js
  showcase/app/routes/components/stepper/indicator.js
  showcase/app/routes/components/stepper/list.js
  showcase/app/routes/components/stepper/nav.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/styles/showcase-pages/stepper/list.scss
  showcase/app/styles/showcase-pages/stepper/nav.scss
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
Labels: showcase

Feat: Nav support for not using panel blocks
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Feat: Move isInteractive from `Navigation::Step` to `Navigation`, have currentStep determine step status
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Fix: Address design feedback
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Chore: Linting fixes
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Remove insert & destroy actions from `Stepper::List`
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

Feat: Add `ariaLabel` arg for nav and list
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Feat: Convert list step to custom modifier
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

HDS-4411 `Stepper::Navigation` and `Stepper::List` components added
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Fix: Address feedback
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/styles/components/stepper/nav.scss
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: showcase active state and a11y automated tests
  showcase/app/templates/components/stepper.hbs
  showcase/tests/acceptance/components/hds/stepper-test.js
Labels: showcase

Fix: Convert did-insert to custom modifier
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Fix: Refactor Nav methods
  packages/components/src/components/hds/stepper/nav/index.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
