Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Refactor showcase
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Rename CSS variable
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Component fixes based on feedback
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
Labels: packages/components

Use inset focus ring for flush accordion items
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Move `sizeMap` up one level as `TEXT_SIZE_MAP`
  packages/components/src/components/hds/accordion/item/index.ts
Labels: packages/components

Add `@type` argument
  packages/components/src/components/hds/accordion/index.hbs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
  packages/components/src/styles/components/accordion.scss
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Remove Sass variables
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Reorder items in `sizeMap`
  packages/components/src/components/hds/accordion/item/index.ts
Labels: packages/components

Fix `Accordion::Item::Button` showcase
  showcase/app/styles/showcase-pages/accordion.scss
Labels: showcase

Adjust hover and active states for 'flush' variant
  packages/components/src/styles/components/accordion.scss
  showcase/app/templates/components/accordion.hbs
Labels: packages/components, showcase

Restructured accordion showcase and added `@type`
  showcase/app/routes/components/accordion.js
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Fix type for card when is static
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Remove top border for accordion item flush
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Adjustments after #2181
  showcase/app/templates/components/accordion.hbs
Labels: showcase

added tests for Hds::Icon component
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: showcase

created icon component
  packages/components/src/components.ts
  packages/components/src/components/hds/icon/index.hbs
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/styles/components/icon.scss
Labels: packages/components

Update `DisclosurePrimitive` to allow external control
  packages/components/src/components/hds/disclosure-primitive/index.hbs
  packages/components/src/components/hds/disclosure-primitive/index.ts
  showcase/app/controllers/utilities/disclosure-primitive.js
  showcase/app/templates/utilities/disclosure-primitive.hbs
  showcase/tests/integration/components/hds/disclosure-primitive/index-test.js
Labels: packages/components, showcase

Update `Accordion` to allow external control via `@forceState`
  packages/components/src/components/hds/accordion/index.hbs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  showcase/app/controllers/components/accordion.js
  showcase/app/templates/components/accordion.hbs
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Expose `close` function to `Accordion::Item`
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  showcase/app/templates/components/accordion.hbs
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Fix typo in comment
  packages/components/src/components/hds/disclosure-primitive/index.ts
Labels: packages/components

Add `onClickToggle` callback to DisclosurePrimitive
  packages/components/src/components/hds/disclosure-primitive/index.ts
  showcase/tests/integration/components/hds/disclosure-primitive/index-test.js
Labels: packages/components, showcase

Move type in a separate file
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
Labels: packages/components

Forward `onClickToggle` to `Accordion::Item`
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Update external controlled example for DisclosurePrimitive
  showcase/app/controllers/utilities/disclosure-primitive.js
  showcase/app/templates/utilities/disclosure-primitive.hbs
Labels: showcase

Update tests to be more specific about which item is open
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: showcase

Simplify `_isOpen` state when not controlled
  packages/components/src/components/hds/disclosure-primitive/index.ts
Labels: packages/components

Update forced state examples to showcase `onClickToggle`
  showcase/app/controllers/components/accordion.js
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Use stricter inequality operator
  packages/components/src/components/hds/disclosure-primitive/index.ts
Labels: packages/components

added component to package file
  packages/components/package.json
Labels: packages/components

Lint
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
Labels: packages/components

Update labels for controlled examples
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Add return types where missing
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
Labels: packages/components

Add changelog entry
  .changeset/six-flowers-joke.md
Labels: none

Move `c.close` example
  showcase/app/templates/components/accordion.hbs
Labels: showcase

updating class selectors in hds::icon integration tests
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: showcase

Update guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

documentation update
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/public/assets/components/accordion/accordion-card-type-example.png
  website/public/assets/components/accordion/accordion-flush-example.png
  website/public/assets/components/accordion/accordion-isStatic-example.png
  website/public/assets/components/accordion/accordion-nesting-example-dont.png
  website/public/assets/components/accordion/accordion-nesting-example.png
  website/public/assets/components/accordion/accordion-patterns-collapse-all-dont.png
  website/public/assets/components/accordion/accordion-patterns-expand-collapse-all-labels.png
  website/public/assets/components/accordion/accordion-size-Dont.png
  website/public/assets/components/accordion/accordion-size-range.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Update guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Document new properties
  website/docs/components/accordion/partials/code/component-api.md
Labels: docs-website
