Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

fix: address feedback
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

`AdvancedTable` Keyboard navigation doc update (#2698)
  website/app/components/doc/badge-group/index.hbs
  website/app/styles/doc-components/badge-group.scss
  website/app/styles/doc-components/index.scss
  website/docs/components/table/advanced-table/partials/accessibility/accessibility.md
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-link.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-sort.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-tooltip.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-arrow-key-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-left.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-right.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-up.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-tab.png
Labels: docs-website

Add changelog entry
  .changeset/friendly-balloons-wave.md
Labels: none

Fix: Nav style and animation bugs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: Address style color feedback
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

fix: bring next back
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: remove unneeded code
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

Update .changeset/friendly-balloons-wave.md
  .changeset/friendly-balloons-wave.md
Labels: none

fix: limit select column width
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

chore: add explorer like example to showcase
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

chore: changeset
  .changeset/purple-poems-battle.md
Labels: none

chore: lint
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fix: switch to min content instead of px value
  .changeset/purple-poems-battle.md
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: grammar error
  .changeset/purple-poems-battle.md
Labels: none

example
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

wip
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/types.ts
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

wip
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/types.ts
Labels: packages/components

wip
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

Fix: Website - Add alt text to keyboard arrow icons
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
Labels: docs-website

Website - Add alt text to keyboard arrow icons (#2762)
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
Labels: docs-website

Update .changeset/purple-poems-battle.md
  .changeset/purple-poems-battle.md
Labels: none

Update packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: shorten showcase example
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fix: simplify gridTemplateColumns getter
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: spacing error
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

linting
  showcase/tests/integration/components/hds/layout/flex/item-test.js
Labels: showcase

replaced `Hds::Flex::Item` with `HLF.Item` where meaningful
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

assigned HTML tags to some of the flex items in the showcase page
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

`AdvancedTable`: add expand all button (#2688)
  .changeset/swift-elephants-play.md
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/modifiers/hds-advanced-table-cell.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
  showcase/public/api/mock-spanning-cells.json
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/public/assets/components/table/advanced-table/advanced-table-density-mix.png
  website/public/assets/components/table/advanced-table/advanced-table-dont-parent-nested.png
  website/public/assets/components/table/advanced-table/expandable-rows.png
Labels: docs-website, packages/components, showcase

Feat: Style updates for nav interactive indicator
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
Labels: packages/components

Guidelines.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/public/assets/components/table/advanced-table/expandable-rows-collapse-all.png
  website/public/assets/components/table/advanced-table/expandable-rows-collapsed-state.png
  website/public/assets/components/table/advanced-table/expandable-rows-expand-all.png
Labels: docs-website

shared tag-related types across `Flex` and `Flex::Item`
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/item.ts
  packages/components/src/components/hds/layout/flex/types.ts
Labels: packages/components

simplified some tests
  showcase/tests/integration/components/hds/layout/flex/index-test.js
  showcase/tests/integration/components/hds/layout/flex/item-test.js
Labels: showcase

Feat: Nav - set `isInteractive` default value to `true`
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Updated wording in specifications tab.
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

Updated wording within docs.
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Feat: Stepper code docs
  website/docs/components/stepper/list/partials/code/component-api.md
  website/docs/components/stepper/list/partials/code/how-to-use.md
  website/docs/components/stepper/navigation/partials/code/component-api.md
  website/docs/components/stepper/navigation/partials/code/how-to-use.md
Labels: docs-website

Updated indicator docs by removing 'out of order'
  website/docs/components/stepper/indicator/partials/guidelines/guidelines.md
Labels: docs-website

Updated page structure to follow naming convention
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/component-api.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/guidelines/overview.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

updated examples for progressive disclosure
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-do.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-dont.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure.png
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
