Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Added a new folder for the super select, added images to that folder and also included more text in the guidelines doc.
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-before-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-before-options-search.png
  website/public/assets/components/form/super-select/super-select-dont-visually-heavy.png
  website/public/assets/components/form/super-select/super-select-multiple-variant.png
  website/public/assets/components/form/super-select/super-select-single-variant-footer-with-counter.png
  website/public/assets/components/form/super-select/super-select-single-variant-text.png
Labels: docs-website

HDS-3222 Add example of rich content to docs
  website/app/styles/app.scss
  website/app/styles/pages/components/super-select.scss
  website/docs/components/form/super-select/index.js
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Added no selections 'select all' flow details
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-flow-no-selections-select-all.png
Labels: docs-website

Added that a max width can be defined for 'auto width' lists
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Update text for checkmark and checkbox
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

HDS-3222 Update file paths in test
  website/tests/acceptance/components/super-select.js
Labels: none

Updated images to reflect structured content
  website/public/assets/components/form/super-select/super-select-after-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-single-multiple-footer-custom-content.png
  website/public/assets/components/form/super-select/super-select-single-variant-footer-with-counter.png
Labels: none

HDS-3222 Add more information and examples to code docs, document group component API
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Updated single variant footer to only have total counter, also updated image to reflect change.
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-single-variant-footer-with-counter.png
Labels: docs-website

HDS-3222 Restructure code example content, add additional examples similar to Select component
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

HDS-3222 clarify wording to remove references to 'variant'
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Added group section for docs.
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-group-list-items.png
Labels: docs-website

HDS-3222 Add noop function for SuperSelect examples
  website/docs/components/super-select/index.js
  website/docs/components/super-select/partials/code/how-to-use.md
Labels: docs-website

HDS-3222 Add selectedOption component for example of custom tag content in docs
  website/app/components/power-select/selected-option.hbs
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

last typo updates for how-to-use
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Changed some sub-headings based on feedback
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Update multi-select API docs
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

update per feedback
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Changes to code docs content
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Integrating some feedback
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

Added common single-select API properties/arguments
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

Update website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

Update website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

run image compression action weekly
  .github/workflows/ci-compress-images.yml
Labels: none

refactored `hds-anchored-position` modifier to flatten the `arrowOptions`
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

fixed issue with `named` argument of the modifier being mutated
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

updated integration tests for `hds-anchored-modifier`
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

added simple integration test for `hds-register-event`
  packages/components/src/modifiers/hds-register-event.js
  showcase/tests/integration/modifiers/hds-register-event-test.js
Labels: packages/components, showcase

Update tests per review suggestion
  showcase/tests/integration/modifiers/hds-register-event-test.js
Labels: showcase

added `hds-register-event` modifier
  packages/components/package.json
  packages/components/src/modifiers/hds-register-event.js
Labels: packages/components

Resolve issue where malformed code sample was causing a11y failure
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: docs-website

tidy up places where we didn't need merge anymore
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/tests/acceptance/components/dropdown-test.js
  website/tests/acceptance/components/side-nav-test.js
  website/tests/acceptance/components/text-test.js
  website/tests/acceptance/index-test.js
Labels: docs-website

A couple extra test updates for more thorough a11y testing circumstances
  website/tests/acceptance/components/text-test.js
  website/tests/integration/components/doc/list-container-test.js
Labels: none

Adds WCAG 2.2 and removes SC 4.1.1
  website/app/components/doc/wcag-list/index.js
  website/docs/components/accordion/partials/accessibility/accessibility.md
  website/docs/components/alert/partials/accessibility/accessibility.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/flyout/partials/accessibility/accessibility.md
  website/docs/components/form/checkbox/partials/accessibility/accessibility.md
  website/docs/components/form/file-input/partials/accessibility/accessibility.md
  website/docs/components/form/masked-input/partials/accessibility/accessibility.md
  website/docs/components/form/primitives/partials/accessibility/accessibility.md
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/form/radio/partials/accessibility/accessibility.md
  website/docs/components/form/select/partials/accessibility/accessibility.md
  website/docs/components/form/text-input/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/partials/accessibility/accessibility.md
  website/docs/components/form/toggle/partials/accessibility/accessibility.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/accessibility/accessibility.md
  website/docs/components/reveal/partials/accessibility/accessibility.md
  website/docs/components/segmented-group/partials/accessibility/accessibility.md
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tag/partials/accessibility/accessibility.md
  website/docs/components/toast/partials/accessibility/accessibility.md
Labels: docs-website

changeset
  .changeset/afraid-beds-serve.md
Labels: none

changeset
  .changeset/metal-zoos-push.md
Labels: none

remove wrong changeset file
  .changeset/soft-lions-warn.md
Labels: none

Adds WCAG 2.2 and removes SC 4.1.1 (#2068)
  website/app/components/doc/wcag-list/index.js
  website/docs/components/accordion/partials/accessibility/accessibility.md
  website/docs/components/alert/partials/accessibility/accessibility.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/flyout/partials/accessibility/accessibility.md
  website/docs/components/form/checkbox/partials/accessibility/accessibility.md
  website/docs/components/form/file-input/partials/accessibility/accessibility.md
  website/docs/components/form/masked-input/partials/accessibility/accessibility.md
  website/docs/components/form/primitives/partials/accessibility/accessibility.md
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/form/radio/partials/accessibility/accessibility.md
  website/docs/components/form/select/partials/accessibility/accessibility.md
  website/docs/components/form/text-input/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/partials/accessibility/accessibility.md
  website/docs/components/form/toggle/partials/accessibility/accessibility.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/accessibility/accessibility.md
  website/docs/components/reveal/partials/accessibility/accessibility.md
  website/docs/components/segmented-group/partials/accessibility/accessibility.md
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tag/partials/accessibility/accessibility.md
  website/docs/components/toast/partials/accessibility/accessibility.md
Labels: docs-website

Initial commit to open PR (to be removed later)
  .changeset/sixty-worms-yell.md
Labels: none

changed default layout to “block” instead of “inline”
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
