Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

renamed `hds-register-event.js` to `hds-register-event.ts`
  packages/components/src/modifiers/hds-register-event.ts
Labels: packages/components

added types to `hds-register-event.ts`
  packages/components/src/modifiers/hds-register-event.ts
Labels: packages/components

changeset
  .changeset/loud-clouds-type.md
Labels: none

add the modifier to the `template-registry.ts` file
  packages/components/src/template-registry.ts
Labels: packages/components

added missing return type
  packages/components/src/modifiers/hds-register-event.ts
Labels: packages/components

added types to `hds-anchored-position.ts`
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

added the modifier to the `template-registry.ts` file
  packages/components/src/template-registry.ts
Labels: packages/components

renamed `hds-anchored-position.js` to `hds-anchored-position.ts`
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

fix: add correct file extension
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

added missing return types
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

small tweak based on code review suggestion
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

changeset
  .changeset/loud-coats-reply.md
Labels: none

updated import of the modifier in `PopoverPrimitive`
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

fixed import paths for `modifiers/hds-anchored-position` in `SuperSelect` component
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/single/base.js
Labels: packages/components

renamed `popover-primitive/index.js` to `popover-primitive/index.ts`
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

yarn.lock update
  yarn.lock
Labels: none

added missing optionality on `args`
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

run the command `npx ember-codemod-args-to-signature --src src/components/hds/popover-primitive`
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

add patch for `ember-modifier`
  .yarn/patches/ember-modifier-npm-4.1.0-3cc235307c.patch
  package.json
  yarn.lock
Labels: none

removed patch for `ember-modifier`
  .yarn/patches/ember-modifier-npm-4.1.0-3cc235307c.patch
  package.json
  yarn.lock
Labels: none

updated import of `PLACEMENTS` constant
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.js
  showcase/app/routes/components/rich-tooltip.js
  showcase/app/routes/utilities/popover-primitive.js
Labels: packages/components, showcase

removed `{ eager: true }` from modifiers
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

updated signature of PopoverPrimitive
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.js
  packages/components/src/template-registry.ts
Labels: packages/components

fix signature
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

added signature for anchoredPositionOptions
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

remove `arrowElement` from yielding because it doesn’t exist
  packages/components/src/components/hds/popover-primitive/index.hbs
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: docs-website, packages/components

changeset
  .changeset/giant-eagles-agree.md
Labels: none

changeset
  .changeset/nasty-fireants-wash.md
Labels: none

run the command `npx ember-codemod-args-to-signature --src src/components/hds/ rich-tooltip`
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

added types to `RichTooltip` component/sub-components
  packages/components/src/components/hds/rich-tooltip/bubble.hbs
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.hbs
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
  packages/components/src/components/hds/rich-tooltip/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

renamed `RichTooltip` files from `.js` to `.ts`
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

added missing return types
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

applied code review suggestions
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

adding test code to the sprite loader
  packages/components/declarations/instance-initializers/load-sprite.d.ts.map
  packages/components/dist/instance-initializers/load-sprite.js
  packages/components/dist/instance-initializers/load-sprite.js.map
  packages/components/src/instance-initializers/load-sprite.ts
  packages/ember-flight-icons/src/instance-initializers/load-sprite.js
Labels: packages/components, packages/ember-flight-icons

testing wip
  packages/components/declarations/instance-initializers/load-sprite.d.ts.map
  packages/components/dist/instance-initializers/load-sprite.js
  packages/components/dist/instance-initializers/load-sprite.js.map
  packages/components/src/instance-initializers/load-sprite.ts
  packages/ember-flight-icons/declarations/instance-initializers/load-sprite.d.ts
  packages/ember-flight-icons/declarations/instance-initializers/load-sprite.d.ts.map
  packages/ember-flight-icons/dist/instance-initializers/load-sprite.js
  packages/ember-flight-icons/dist/instance-initializers/load-sprite.js.map
  packages/ember-flight-icons/dist/styles/icons.css
  packages/ember-flight-icons/src/instance-initializers/load-sprite.js
Labels: packages/components, packages/ember-flight-icons

removed references to `dialog-polyfill` in documentation pages for `Flyout` and `Modal`
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

remove `@oddbird/popover-polyfill` dependency
  packages/components/package.json
  yarn.lock
Labels: packages/components

remove code related to `@oddbird/popover-polyfill`
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/styles/components/rich-tooltip.scss
Labels: packages/components

removed reference to `@oddbird/popover-polyfill` in documentation
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

changeset
  .changeset/new-buckets-fry.md
Labels: none

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
