Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

included all the foundational tokens for “email” target
  packages/tokens/scripts/build.ts
Labels: packages/tokens

re-generated tokens
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/tokens.scss
Labels: packages/tokens

Set `hasImage` to true by default
  packages/components/src/components/hds/dropdown/toggle/icon.js
Labels: packages/components

Add changelog entry
  .changeset/smooth-hairs-nail.md
Labels: none

Add broken image path example to showcase
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

added logic for conditional output of CSS variables in CSS helpers generation
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/scripts/build-parts/generateCssHelpers.ts
  packages/tokens/scripts/build-parts/generateElevationHelpers.ts
  packages/tokens/scripts/build-parts/generateFocusRingHelpers.ts
  packages/tokens/scripts/build-parts/generateTypographyHelpers.ts
Labels: packages/tokens

re-generated helpers
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
Labels: packages/tokens

updated transformation group for `product/email` to generate `font-size` tokens in `px` (not `rem`)
  packages/tokens/scripts/build.ts
Labels: packages/tokens

re-generated tokens and helpers
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
Labels: packages/tokens

Updated table image for button organization page
  website/public/assets/patterns/button-organization/using-right-alignment.png
Labels: none

Update contribution docs after v2 addon format
  packages/components/CONTRIBUTING.md
Labels: packages/components

Apply suggestions from code review
  packages/components/CONTRIBUTING.md
Labels: packages/components

Load the `imageSrc` dynamically
  showcase/tests/integration/components/hds/dropdown/toggle/icon-test.js
Labels: showcase

Remove `height` and `width` from image tag
  packages/components/src/components/hds/dropdown/toggle/icon.hbs
Labels: packages/components

chore: add glint packages and configuration
  packages/components/package.json
  packages/components/src/types/global.d.ts
  packages/components/tsconfig.json
  yarn.lock
Labels: packages/components

chore: add lint:glint script
  packages/components/package.json
Labels: packages/components

chore: add type declarations for FlightIcon
  packages/components/src/types/@hashicorp/ember-flight-icons/flight-icon.d.ts
Labels: packages/components

chore: update ember-truth-helpers to a version that exposes glint registry types
  packages/components/package.json
  yarn.lock
Labels: packages/components

chore: add ember-truth-helper and LinkToExternal types to glint registry
  packages/components/src/types/global.d.ts
Labels: packages/components

refactor: convert hds-link-to-query to typescript
  packages/components/src/helpers/hds-link-to-query.ts
Labels: packages/components

refactor: convert hds-link-to-models to typescript
  packages/components/src/helpers/hds-link-to-models.ts
Labels: packages/components

fix: update HdsInteractive args to comply with link components
  packages/components/src/components/hds/interactive/index.ts
Labels: packages/components

Remove dialog polyfill from Flyout
  packages/components/src/components/hds/flyout/index.js
Labels: packages/components

Remove dialog polyfill from Modal
  packages/components/src/components/hds/modal/index.js
Labels: packages/components

Remove `dialog-polyfill` dependency
  packages/components/package.json
  packages/components/rollup.config.mjs
  yarn.lock
Labels: packages/components

Add changelog entry
  .changeset/twenty-goats-type.md
Labels: none

Updated images and videos for updated table asset
  website/public/assets/components/badge/badge-inverted-dont.png
  website/public/assets/components/form/checkbox/checkbox-indeterminate-do.png
  website/public/assets/patterns/filter-patterns/batch-filtering.mp4
  website/public/assets/patterns/filter-patterns/example-data-set-tabular-data.png
  website/public/assets/patterns/filter-patterns/layout-filter-bar.png
  website/public/assets/patterns/filter-patterns/live-filtering.mp4
  website/public/assets/patterns/filter-patterns/overflow-filter-bar-multiple-rows.png
  website/public/assets/patterns/filter-patterns/per-filter.mp4
Labels: none

Changed image back to descending order vs just 'isSortable'
  website/public/assets/components/badge/badge-inverted-dont.png
Labels: none

chore: add changelog entries
  .changeset/dirty-peaches-drum.md
  .changeset/grumpy-hounds-shave.md
Labels: none

Bump 'required' text color up to next darkest so it passes a11y contrast
  website/app/styles/doc-components/component-api.scss
Labels: none

Bump “required” text color up to next darkest to pass a11y contrast (#1979)
  website/app/styles/doc-components/component-api.scss
Labels: none

refactor: convert to typescript
  packages/components/src/components/hds/dismiss-button/index.js
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

chore: add changelog entry
  .changeset/nice-radios-hammer.md
Labels: none

Skip flake in Dropdown toggle icon test
  showcase/tests/integration/components/hds/dropdown/toggle/icon-test.js
Labels: showcase

Updated images to reflect correct color for header columns that are not sorted yet.
  website/public/assets/patterns/filter-patterns/example-data-set-tabular-data.png
  website/public/assets/patterns/filter-patterns/layout-filter-bar.png
  website/public/assets/patterns/filter-patterns/overflow-filter-bar-multiple-rows.png
Labels: none

chore: add PascalCase alias for `DismissButton` in registry
  packages/components/src/components/hds/dismiss-button/index.ts
Labels: packages/components

Updated videos with the appropriate colors. Hopefully frame rate is also better.
  website/public/assets/patterns/filter-patterns/batch-filtering.mp4
  website/public/assets/patterns/filter-patterns/live-filtering.mp4
  website/public/assets/patterns/filter-patterns/per-filter.mp4
Labels: none

Avoid copywrite on type declaration files
  .copywrite.hcl
Labels: none

changeset
  .changeset/chilled-ducks-march.md
Labels: none

Create beige-cups-raise.md
  .changeset/beige-cups-raise.md
Labels: none
