Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

Remove Y-axis transform
  packages/components/app/styles/components/side-nav/toggle-button.scss
Labels: packages/components

Refactor toggle button box model
  packages/components/app/styles/components/side-nav/toggle-button.scss
Labels: packages/components

Add tests for 'mobile'
  packages/components/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components

Fix SideNav showcase for toggle button
  packages/components/tests/dummy/app/styles/showcase-pages/side-nav.scss
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

Remove unused tokens
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/side-nav.json
Labels: packages/tokens

Update SideNav guidelines, anatomy, docs (#1665)
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-collapse-interaction.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
Labels: docs-website

Apply suggestions from code review
  wiki/Infrastructure-Efficiency.md
Labels: none

Apply suggestions from code review
  wiki/Infrastructure-Efficiency.md
Labels: none

add infra efficiency docs to wiki (#1675)
  wiki/Infrastructure-Efficiency.md
Labels: none

add website component docs a11y test blueprint
  website/blueprints/hds-component-docs/files/tests/acceptance/components/__name__.js
Labels: none

add component a11y test blueprint
  packages/components/blueprints/hds-component-test/files/tests/acceptance/components/hds/__name__.js
Labels: packages/components

HDS-2480 Rename component to AppFooter
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/index.js
  packages/components/addon/components/hds/app-footer/item.hbs
  packages/components/addon/components/hds/app-footer/link.hbs
  packages/components/addon/components/hds/application-footer/index.hbs
  packages/components/app/components/hds/app-footer/index.js
  packages/components/app/components/hds/app-footer/item.js
  packages/components/app/components/hds/app-footer/link.js
  packages/components/app/components/hds/application-footer/index.js
  packages/components/app/components/hds/application-footer/item.js
  packages/components/app/components/hds/application-footer/link.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/app-footer.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
Labels: packages/components

HDS-2480 Change Interactive component back to LinkInline for now
  packages/components/addon/components/hds/app-footer/link.hbs
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Refactor StatusLink to accept custom values
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Update Showcae to add example with only default content vs. additional custom content
  packages/components/addon/components/hds/application-footer/index.hbs
  packages/components/tests/dummy/app/templates/components/application-footer.hbs
Labels: packages/components

HDS-2480 Move typography classes
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/item.hbs
  packages/components/addon/components/hds/app-footer/link.hbs
Labels: packages/components

HDS-2480 Add standalone examples of new child components to Showcase
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2277 Fix linting errors
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
Labels: packages/components

HDS-2480 refactor font styles applied to Item, update Showcase to add layout highlight toggle and more examples
  packages/components/addon/components/hds/app-footer/index.js
  packages/components/addon/components/hds/app-footer/item.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/controllers/components/app-footer.js
  packages/components/tests/dummy/app/routes/components/app-footer.js
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Refactor StatusLink to accept custom string
  packages/components/addon/components/hds/app-footer/status-link.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Create child components for Item and Link, add named blocks for adding custom content
  packages/components/addon/components/hds/application-footer/index.hbs
  packages/components/addon/components/hds/application-footer/item.hbs
  packages/components/addon/components/hds/application-footer/link.hbs
  packages/components/app/components/hds/application-footer/item.js
  packages/components/app/components/hds/application-footer/link.js
  packages/components/app/styles/components/application-footer.scss
  packages/components/tests/dummy/app/styles/showcase-pages/application-footer.scss
  packages/components/tests/dummy/app/templates/components/application-footer.hbs
Labels: packages/components

HDS-2480 Combine similar sections together in Showcase
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Update Showcase content examples, align center of items
  packages/components/app/styles/components/application-footer.scss
  packages/components/tests/dummy/app/templates/components/application-footer.hbs
Labels: packages/components

HDS-2480 Add rough scaffolding for component
  packages/components/addon/components/hds/application-footer/index.hbs
  packages/components/addon/components/hds/application-footer/index.js
  packages/components/app/components/hds/application-footer/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/application-footer.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/application-footer.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/application-footer.scss
  packages/components/tests/dummy/app/templates/components/application-footer.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/application-footer/index-test.js
Labels: packages/components

HDS-2480 Create preliminary statusLink copmponent with visual styles, update colors to match newer designs
  packages/components/addon/components/hds/app-footer/status-link.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/app/components/hds/app-footer/status-link.js
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Refactor named block structure and create new sub-components for legalLinks and copyright
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/addon/components/hds/app-footer/legal-links.js
  packages/components/addon/components/hds/app-footer/status-link.hbs
  packages/components/app/components/hds/app-footer/copyright.js
  packages/components/app/components/hds/app-footer/legal-links.js
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Remove extra content area, change Link to Interactive, add logo, update styling
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/link.hbs
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Minor code clean up
  packages/components/addon/components/hds/app-footer/copyright.js
  packages/components/addon/components/hds/app-footer/link.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Make copyright be 'built in'
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Remove class names, comment out tests & add TODO to figure out how to test items
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
Labels: packages/components

HDS-2480 Target list-item to add layout styles
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Add commented out hasStyle tests
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
Labels: packages/components

added icon to custom link example in showcase
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Add changset
  .changeset/gorgeous-sheep-tap.md
Labels: none

HDS-2480 Rename LegalLinks args
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/addon/components/hds/app-footer/legal-links.js
Labels: packages/components

HDS-2480 Refactor yields
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/extra-content.hbs
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/app/components/hds/app-footer/extra-content.js
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
Labels: packages/components

fix model variable name in showcase
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS2480 Update class names
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/item.hbs
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Delete unneeded js file
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/index.js
Labels: packages/components

HDS-2480 Remove old ul elements
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components
