Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

fix: icon tyle color arg type
  .changeset/famous-dragons-march.md
  packages/components/src/components/hds/icon-tile/types.ts
Labels: packages/components

fix: add a guard so the yielded close function is always defined
  .changeset/tricky-forks-lay.md
  packages/components/src/components/hds/dialog-primitive/footer.hbs
  packages/components/src/components/hds/dialog-primitive/footer.ts
Labels: packages/components

HDS-3867 Add documentation for onDesktopViewportChange
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

Align `Hds::Interactive` signature with `LinkTo`
  packages/components/src/components/hds/interactive/index.ts
Labels: packages/components

Add changelog entry
  .changeset/forty-hounds-nail.md
Labels: none

Add comment to clarify types' origin
  packages/components/src/components/hds/interactive/index.ts
Labels: packages/components

Rebuild declaration files on the fly
  packages/components/package.json
Labels: packages/components

Move Button types to a separate file to follow convention
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/button/types.ts
Labels: packages/components

Add return types to Button getters
  packages/components/src/components/hds/button/index.ts
Labels: packages/components

Add changelog entry
  .changeset/twenty-pumpkins-notice.md
Labels: none

`SideNav` - Add documentation for onDesktopViewportChange (HDS-3867) (#2454)
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

Moved change in opacity to radio-card__content
  packages/components/src/styles/components/form/radio-card.scss
Labels: packages/components

Slight change in opacity value
  packages/components/src/styles/components/form/radio-card.scss
Labels: packages/components

Revert examples in showcase
  showcase/app/templates/components/form/radio-card.hbs
Labels: showcase

Cleanup of showcase and revert changing text styles
  packages/components/src/styles/components/form/radio-card.scss
  showcase/app/templates/components/form/radio-card.hbs
Labels: packages/components, showcase

temp do not merge
  showcase/.gitignore
  showcase/dist/api/folk.json
  showcase/dist/api/mock-clusters-with-status.json
  showcase/dist/api/mock-many-columns.json
  showcase/dist/api/mock-selectable-data.json
  showcase/dist/api/mock-users.json
  showcase/dist/assets/chunk.app.a59f9238872d27888ce9.js
  showcase/dist/assets/chunk.packages_flight-icons_svg-sprite_svg-sprite-module_js.ad365d658aa885c3599c.js
  showcase/dist/assets/chunk.private_var_folders_5y_pqxrp58d4x9g4rbw99gkz9cc0000gn_T_broccoli-6362YdI65URduV3I_cache-295-w-6b052f.e59ebdb154660c963376.js
  showcase/dist/assets/chunk.tests.cd7094a9b9c44ee944c5.js
  showcase/dist/assets/chunk.vendors-node_modules_axe-core_axe_js-node_modules_ember-power-select_dist_test-support_js-nod-b305ea.4a59423e25ff0ac70a11.js
  showcase/dist/assets/chunk.vendors-node_modules_glimmer_env_dist_modules_es2017_index_js-node_modules_ember-assign-helpe-f93675.fb804874ef9b3ca49d79.js
  showcase/dist/assets/fonts/Rubik-Italic-VF.ttf
  showcase/dist/assets/fonts/Rubik-VF.ttf
  showcase/dist/assets/fonts/gilmer-300-normal.woff2
  showcase/dist/assets/fonts/gilmer-400-normal.woff2
  showcase/dist/assets/fonts/gilmer-500-normal.woff2
  showcase/dist/assets/fonts/gilmer-700-normal.woff2
  showcase/dist/assets/images/avatar.png
  showcase/dist/assets/images/cat-banner.png
  showcase/dist/assets/logos/favicon.png
  showcase/dist/assets/showcase.css
  showcase/dist/assets/showcase.css.map
  showcase/dist/assets/showcase.js
  showcase/dist/assets/showcase.map
  showcase/dist/assets/test-support.js
  showcase/dist/assets/test-support.map
  showcase/dist/assets/tests.js
  showcase/dist/assets/tests.map
  showcase/dist/assets/vendor.css
  showcase/dist/assets/vendor.js
  showcase/dist/assets/vendor.map
  showcase/dist/index.html
  showcase/dist/robots.txt
  showcase/dist/testem.js
  showcase/dist/tests/index.html
Labels: showcase

trying to add instance init to template-registry
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3830 Convert Divider to GTS
  showcase/app/components/shw/divider.gts
  showcase/app/components/shw/divider/index.hbs
  showcase/app/components/shw/divider/index.ts
Labels: showcase

HDS-3830 Add Blocks to signature
  showcase/app/components/shw/divider.gts
Labels: showcase

chore: remove ember-keyboard dependency
  .changeset/sharp-phones-wait.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

HDS-3830 Remove attribute spreading and Blocks
  showcase/app/components/shw/divider.gts
Labels: showcase

`Shw::Divider` - Convert to GTS (HDS-3830) (#2459)
  showcase/app/components/shw/divider.gts
  showcase/app/components/shw/divider/index.hbs
  showcase/app/components/shw/divider/index.ts
Labels: showcase

Add link to 4.12.0 documentation
  packages/components/CHANGELOG.md
Labels: packages/components

Adjust changelog entries
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

HDS-3800 Clean up type definitions
  packages/components/src/components/hds/app-side-nav/base.ts
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

HDS-3800 Make preliminary css updates to AppSideNav to replace dark theme
  packages/components/src/styles/components/app-side-nav/header.scss
  packages/components/src/styles/components/app-side-nav/main.scss
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
  showcase/app/styles/showcase-pages/app-side-nav.scss
  showcase/app/templates/components/app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Add aria-current=page for active ListLink
  packages/components/src/components/hds/app-side-nav/list/link.hbs
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
Labels: packages/components, showcase

HDS-3800 Remove interaction styles for current/active link since it doesn't actually do anything
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Remove background-color from hds-app-side-nav__list-item-link
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Fix states for active List::Link, remove temporary token definitions
  packages/components/src/styles/components/app-side-nav/content.scss
  packages/components/src/styles/components/app-side-nav/main.scss
Labels: packages/components

HDS-3800 Remove old argument, fix failing test
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

HDS-3800 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3800 Add fix for toggle border overlaying AppSideNav border
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
Labels: packages/components

HDS-3800 Add test for iconColor arg
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
Labels: showcase

HDS-3800 Update JSON values
  packages/tokens/src/products/shared/app-side-nav.json
Labels: packages/tokens

HDS-3800 Remove examples of nested BUttons & Dropdowns from Showcase as style overrides are no longer being applied
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Add clip-path to prevent white background of toggle corners from showing
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
Labels: packages/components

HDS-3800 Remove skip link example from Showcase as it's no longer applicable
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Remove header component and HomeLink child component
  packages/components/package.json
  packages/components/src/components/hds/app-side-nav/header/home-link.hbs
  packages/components/src/components/hds/app-side-nav/header/home-link.ts
  packages/components/src/components/hds/app-side-nav/header/index.hbs
  packages/components/src/components/hds/app-side-nav/header/index.ts
  packages/components/src/styles/components/app-side-nav/header.scss
  packages/components/src/styles/components/app-side-nav/index.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/app-side-nav.hbs
  showcase/tests/integration/components/hds/app-side-nav/header/home-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/header/index-test.js
Labels: packages/components, showcase

HDS-3800 Update Badges in AppSideNav to outlined variant
  packages/components/src/components/hds/app-side-nav/list/link.hbs
  showcase/app/templates/components/app-side-nav.hbs
Labels: packages/components, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
