Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3945 Update naming of isoUtcString argument
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/single.hbs
  packages/components/src/components/hds/time/single.ts
Labels: packages/components

Apply suggestions from code review
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

HDS-3945 Update display related arg naming for clarity
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/single.hbs
  packages/components/src/components/hds/time/single.ts
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
Labels: packages/components

HDS-3945 Fix class name of Time Range
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/styles/components/time.scss
Labels: packages/components

updated `build.ts` script and other sub-scripts to follow the new StyleDictionary APIs and in the process fix all the TS issues raised by the linter
  packages/tokens/scripts/@types/Config.d.ts
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/scripts/build-parts/generateCssHelpers.ts
  packages/tokens/scripts/build-parts/generateElevationHelpers.ts
  packages/tokens/scripts/build-parts/generateFocusRingHelpers.ts
  packages/tokens/scripts/build-parts/generateTypographyHelpers.ts
  packages/tokens/scripts/build.ts
Labels: packages/tokens

Added `prettier` as dev-dependency
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

updated `tsconfig.json` to make the Node.js application run and build correctly
  packages/tokens/tsconfig.json
Labels: packages/tokens

replaced `lodash` dev-dependency with `lodash-es` (compatible with ES Modules)
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

run the migration codemod
  packages/tokens/scripts/build.ts
Labels: packages/tokens

run `yarn build` with the new version of StyleDictonary
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

updated `build` script in `package.json` file to use `tsx` instead of `tsc`
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

changeset
  .changeset/silly-taxis-reply.md
Labels: none

updated `style-dictionary` dev-dependency to `4.2.0` (latest)
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

updated `package.json` file to be `"type": "module”` per StyleDictionary guide
  packages/tokens/package.json
Labels: packages/tokens

Adding space between en dashes
  website/docs/content/writing-guidelines/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/content/writing-guidelines/index.md
  website/docs/content/writing-style/index.md
Labels: docs-website

reverting space between en dash because it looks too large
  website/docs/content/writing-guidelines/index.md
Labels: docs-website

Design tokens pipeline - Upgrade `StyleDictionary` to version `4.2.0` (#2560)
  .changeset/silly-taxis-reply.md
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/package.json
  packages/tokens/scripts/@types/Config.d.ts
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/scripts/build-parts/generateCssHelpers.ts
  packages/tokens/scripts/build-parts/generateElevationHelpers.ts
  packages/tokens/scripts/build-parts/generateFocusRingHelpers.ts
  packages/tokens/scripts/build-parts/generateTypographyHelpers.ts
  packages/tokens/scripts/build.ts
  packages/tokens/tsconfig.json
  yarn.lock
Labels: packages/tokens

Private props standardization - modifiers (#2583)
  .changeset/violet-suns-scream.md
  packages/components/src/modifiers/hds-anchored-position.ts
  packages/components/src/modifiers/hds-register-event.ts
  packages/components/src/modifiers/hds-tooltip.ts
Labels: packages/components

`SuperSelect` documentation update (#2578)
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

updated path for the ember public folder in the icons pipeline script
  packages/flight-icons/scripts/config.ts
Labels: packages/flight-icons

added missing `await` to call to zip folder
  packages/flight-icons/scripts/build-parts/generatePublicZIPFile.ts
Labels: packages/flight-icons

re-run the script to re-generate the zip file with the latest icons
  website/public/assets/zip/flight-icons-svg.zip
Labels: none

HDS-3945 Implement initial Time component based on Cloud-ui and add Showcase
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/inner.ts
  packages/components/src/services.ts
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/application.js
  showcase/app/routes/components/time.js
  showcase/app/templates/components/time.hbs
  showcase/app/templates/index.hbs
  yarn.lock
Labels: packages/components, showcase

HDS-3945 Add type keyword to imports
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
Labels: packages/components

HDS-3945 Add basic tests, update Showcase, add class names
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  showcase/app/templates/components/time.hbs
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Add back glint nocheck tags to templates
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
Labels: packages/components

HDS-3945 Replace any types
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Add method calls for registering and unregistering component with time service
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/services/hds-time.ts
Labels: packages/components

HDS-3945 Remove glint-nochecks
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
Labels: packages/components

HDS-3945 Converted time service from typescript back to javascript, added copy of service for Showcase
  packages/components/src/components/hds/time/index.ts
  packages/components/src/services/hds-time.js
  showcase/app/services/hds-time.js
  showcase/app/services/types.ts
Labels: packages/components, showcase

HDS-3945 replaced a remaining any type with appropriate type
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Create type definitions for complex display types
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
  packages/components/src/components/hds/time/types.ts
Labels: packages/components

HDS-3945 Update package dependencies for time service in Showcase
  packages/components/src/components/hds/time/index.ts
  showcase/package.json
  yarn.lock
Labels: packages/components, showcase

HDS-3945 Fix import of displays for Showcase example
  showcase/app/routes/components/time.js
Labels: showcase

HDS-3945 Add service file with preliminary code, comment out code in component that should come from service
  packages/components/src/components/hds/time/index.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/services/types.ts
Labels: packages/components

WIP2
  showcase/app/index.html
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/theming.scss
  showcase/app/styles/showcase-theming/dark.scss
  showcase/app/styles/showcase-theming/light.scss
  showcase/app/templates/foundations/theming.hbs
  showcase/ember-cli-build.js
Labels: showcase

HDS-3945 Remove ember-intl and replace format-date helper with basic new helper
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-date.ts
  showcase/app/routes/application.js
  showcase/tests/integration/components/hds/time/index-test.js
  yarn.lock
Labels: packages/components, showcase

Remove `hds-time` service copy from `showcase`
  showcase/app/services/hds-time.js
  showcase/app/services/types.ts
Labels: showcase

HDS-3945 Fix units for format-relative
  packages/components/src/components/hds/time/inner.hbs
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
