Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

added option to the `Shw::Grid::Item` to force a `min-width` value (instead of `auto`)
  packages/components/tests/dummy/app/components/shw/grid/item.js
  packages/components/tests/dummy/app/styles/showcase-components/grid.scss
Labels: packages/components

removed `ember-cli-clipboard` as dependency
  packages/components/package.json
  yarn.lock
Labels: packages/components

updated `Accordion` component to use the `Text` component
  packages/components/addon/components/hds/accordion/item/index.hbs
Labels: packages/components

updated `Tag` component to use the `Text` component
  packages/components/addon/components/hds/tag/index.hbs
  packages/components/app/styles/components/tag.scss
Labels: packages/components

Run TypeScript check in CI
  packages/components/package.json
Labels: packages/components

added a few clarifications to the changeset files
  .changeset/little-ads-explain.md
  .changeset/silver-dodos-retire.md
  .changeset/strange-birds-juggle.md
  .changeset/strong-bears-kick.md
Labels: none

updated `Dropdown` component to use the `Text` component
  packages/components/addon/components/hds/dropdown/list-item/checkmark.hbs
  packages/components/addon/components/hds/dropdown/list-item/copy-item.hbs
  packages/components/addon/components/hds/dropdown/list-item/description.hbs
  packages/components/addon/components/hds/dropdown/list-item/description.js
  packages/components/addon/components/hds/dropdown/list-item/interactive.hbs
  packages/components/addon/components/hds/dropdown/list-item/radio.hbs
  packages/components/addon/components/hds/dropdown/list-item/title.hbs
  packages/components/addon/components/hds/dropdown/list-item/title.js
  packages/components/app/styles/components/dropdown.scss
Labels: packages/components

changeset
  .changeset/silver-dodos-retire.md
Labels: none

updated `Flyout` component to use the `Text` component
  packages/components/addon/components/hds/flyout/description.hbs
  packages/components/addon/components/hds/flyout/header.hbs
  packages/components/app/styles/components/flyout.scss
Labels: packages/components

changeset
  .changeset/strong-bears-kick.md
Labels: none

Extend HdsButtonSignature from HdsInteractiveSignature
  packages/components/addon/components/hds/button/index.ts
  packages/components/addon/components/hds/interactive/index.ts
Labels: packages/components

changeset
  .changeset/strange-birds-juggle.md
Labels: none

Add signature and types for `button/index.js`
  packages/components/addon/components/hds/button/index.ts
Labels: packages/components

Add changelog entry
  .changeset/yellow-monkeys-wave.md
Labels: none

Update group test title
  packages/components/tests/integration/components/hds/form/radio-card/group-test.js
Labels: packages/components

changeset
  .changeset/little-ads-explain.md
Labels: none

copy fix
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

Update fixed/fluid CSS classes
  packages/components/addon/components/hds/form/radio-card/index.js
  packages/components/app/styles/components/form/radio-card.scss
  packages/components/tests/integration/components/hds/form/radio-card/index-test.js
Labels: packages/components

updated `Copy::Snippet` component to use the `Text` component
  packages/components/addon/components/hds/copy/snippet/index.hbs
Labels: packages/components

updated `PageHeader` component to use the `Text` component
  packages/components/addon/components/hds/page-header/description.hbs
  packages/components/addon/components/hds/page-header/subtitle.hbs
  packages/components/addon/components/hds/page-header/title.hbs
Labels: packages/components

updated “How to use” and “Component API” documentation for `Dropdown::ListItem::CopyItem`
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

updated `Pagination` component to use the `Text` component
  packages/components/addon/components/hds/pagination/info/index.hbs
  packages/components/addon/components/hds/pagination/nav/arrow.hbs
  packages/components/addon/components/hds/pagination/nav/arrow.js
  packages/components/addon/components/hds/pagination/nav/number.hbs
  packages/components/addon/components/hds/pagination/nav/number.js
Labels: packages/components

Add changelog entry
  .changeset/stale-hornets-worry.md
Labels: none

replaced `console.log` with Ember `warn`
  packages/components/addon/modifiers/hds-clipboard.js
Labels: packages/components

changed the way in which “truncation” is applied to the `Code::Snippet` content
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

changed copy logic for `CopyButton` used inside `Form::MaskedInput`
  packages/components/addon/components/hds/form/masked-input/base.hbs
Labels: packages/components

updated/fixed integration tests for `Copy::Button/Snippet`
  packages/components/package.json
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
  yarn.lock
Labels: packages/components

updated changeset per requirements
  .changeset/strong-bears-kick.md
Labels: none

updated `ApplicationState` component to use the `Text` component
  packages/components/addon/components/hds/application-state/body.hbs
  packages/components/addon/components/hds/application-state/header.hbs
Labels: packages/components

fixed issue with Ember `warn` requiring an `ID` that was causing the tests to fail
  packages/components/addon/modifiers/hds-clipboard.js
Labels: packages/components

implemented `hds-clipboard` modifier
  packages/components/addon/modifiers/hds-clipboard.js
  packages/components/app/modifiers/hds-clipboard.js
Labels: packages/components

changeset
  .changeset/fresh-oranges-add.md
Labels: none

renamed `extraBefore/After` to `ExtraBefore/After` (uppercase `E`)
  packages/components/addon/components/hds/side-nav/list/index.hbs
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website, packages/components

changed default “color“ and “truncation” for `Dropdown::ListItem::CopyItem`
  packages/components/addon/components/hds/dropdown/list-item/copy-item.hbs
  packages/components/addon/components/hds/dropdown/list-item/copy-item.js
Labels: packages/components

updated `Modal` component to use the `Text` component
  packages/components/addon/components/hds/modal/header.hbs
Labels: packages/components

Apply suggestions from code review
  packages/components/addon/modifiers/hds-clipboard.js
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
Labels: packages/components

changeset
  .changeset/shy-bobcats-eat.md
Labels: none

fixed background colors for `Copy::Snippet` according to Figma specs
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

fixed the way in which “width/full-width” is applied to the `Code::Snippet`
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

Install and setup glint
  packages/components/package.json
  packages/components/tsconfig.json
  packages/components/types/dummy/index.d.ts
  yarn.lock
Labels: packages/components

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
