Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3945 Place temporary output examples next to component examples in Showcase
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Fix some type errors
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/inner.ts
Labels: packages/components

HDS-3945 Delete commented out code moved to service, fix passing of display format options to format-date helper
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-date.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Create backing function to test display of different near time dates in Showcase
  showcase/app/components/shw/divider/index.gts
  showcase/app/controllers/components/time.js
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Add helpers to registry
  packages/components/src/template-registry.ts
Labels: packages/components

HdS-3945 Add preliminary format-relative helper to replace ember-intl helper
  packages/components/package.json
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-relative.ts
Labels: packages/components

Re-export services
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: packages/components

HDS-3945 Set locale based on browser locale in helpers, test using Luxon dateTime in format-date helper
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
  packages/components/src/services/hds-time.js
Labels: packages/components

HDS-3945 Implement date range with stratDate and endDate, add examples to Showcase
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 regenerate yarn.lock
  yarn.lock
Labels: none

HDS-3945 Fix test
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Refactor to create TimeSingle instead of TimeInner child component, code cleanup
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/range.ts
  packages/components/src/components/hds/time/single.hbs
  packages/components/src/components/hds/time/single.ts
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3945 Rename service types file, use types from service in component
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/single.ts
  packages/components/src/components/hds/time/types.ts
  packages/components/src/services/hds-time-types.ts
  packages/components/src/services/hds-time.ts
Labels: packages/components

HDS-3945 Added check for endDate >= to startDate for range, renamed register and unregister
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Fix whitespace in components, add examples to Showcase
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/single.hbs
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Clean up Showcase
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-394 Fix Showcase to skip percy test in correct section
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Remove Time showcase page from list of pages Percy tests
  showcase/tests/acceptance/percy-test.js
Labels: showcase

HDS-3945 Change tests to use toISOString to compare UTC values
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Add try catch for toIsoUtcString conversion
  packages/components/src/services/hds-time.js
Labels: packages/components

HDS-3945 Add changelog
  .changeset/happy-readers-notice.md
Labels: none

HDS-3945 Add unit tests for time service
  packages/components/src/services/hds-time.ts
  showcase/tests/unit/services/hds-time-test.js
Labels: packages/components, showcase

HDS-3945 Refator to create child component for range, update Showcase examples
  packages/components/package.json
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/range.ts
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/styles/components/time.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Export defaultDisplayType
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/types.ts
Labels: packages/components

HDS-3945 Add time showcase to percy testing
  showcase/tests/acceptance/percy-test.js
Labels: showcase

Fix locale-related tests failing when not 'en-US'
  showcase/app/index.html
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Replace type definition of displayInner with DisplayType
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Remove unneeded libraries
  showcase/package.json
  yarn.lock
Labels: showcase

HDS-3945 Remove disabling for type checking, fix type error with date
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/single.ts
Labels: packages/components

HDS-3945 Add tests for various date options
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

Update showcase/app/index.html to remove extra closing html tag
  showcase/app/index.html
Labels: showcase

HDS-3945 Clean up comments on helpers with examples
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
Labels: packages/components

HDS-3945 Fix dashes in tooltip content
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Remove percy testing from Time Showcase page
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Update tests to create expected date string from Date
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Update tests for near future relative dates to assert against T - 1, import time consts from service to use in calculations
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Add timezone to friendly local time
  packages/components/src/components/hds/time/types.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/services/types.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Convert time service to typescript and fix type errors
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/range.ts
  packages/components/src/components/hds/time/single.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/services/types.ts
Labels: packages/components

HDS-3945 Update type for display to be more explicit
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Consolidate display type, delete unused types file
  packages/components/src/components/hds/time/single.ts
  packages/components/src/components/hds/time/types.ts
  packages/components/src/services/types.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
