Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3221 Add PowerSelect components and forward arguments, add basic component examples to Showcase and fix basic tests
  packages/components/package.json
  packages/components/src/components/hds/super-select/index.js
  packages/components/src/components/hds/super-select/multiple/index.hbs
  packages/components/src/components/hds/super-select/single/index.hbs
  showcase/app/controllers/components/super-select.js
  showcase/app/routes/components/super-select.js
  showcase/app/templates/components/super-select.hbs
  showcase/tests/integration/components/hds/super-select/multiple/index-test.js
  showcase/tests/integration/components/hds/super-select/single/index-test.js
Labels: packages/components, showcase

HDS-3221 Stub out files for SuperSelect components
  packages/components/package.json
  packages/components/src/components/hds/super-select/index.js
  packages/components/src/components/hds/super-select/multiple/index.hbs
  packages/components/src/components/hds/super-select/multiple/index.js
  packages/components/src/components/hds/super-select/single/index.hbs
  packages/components/src/components/hds/super-select/single/index.js
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/super-select.scss
  showcase/app/router.js
  showcase/app/routes/components/super-select.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/super-select.scss
  showcase/app/templates/components/super-select.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/super-select/multiple.js
  showcase/tests/acceptance/components/hds/super-select/single.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/super-select/multiple/index-test.js
  showcase/tests/integration/components/hds/super-select/single/index-test.js
Labels: packages/components, showcase

HDS-3221 Add center position example for options
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Reorganize list related options in Showcase, add section for Before & After Options content
  showcase/app/templates/components/power-select/generic-content.hbs
  showcase/app/templates/components/super-select.hbs
Labels: showcase

HDS-3221 Move back Tabs showcase file which was accidentally moved
  showcase/app/templates/components/tabs.hbs
Labels: showcase

Add field components
  packages/components/package.json
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  packages/components/src/components/hds/form/super-select/single/field.hbs
Labels: packages/components

Rename `hds-super-select` → `hds-form-super-select`
  packages/components/src/components/hds/form/super-select/multiple/index.js
  packages/components/src/components/hds/form/super-select/single/index.js
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/templates/components/form/power-select/group-component.hbs
  showcase/tests/integration/components/hds/super-select/multiple/index-test.js
  showcase/tests/integration/components/hds/super-select/single/index-test.js
Labels: packages/components, showcase

HDS-3221 Style default tags for multi-select, adjust padding and spacing
  showcase/app/styles/showcase-pages/super-select/theme.scss
  showcase/app/templates/components/super-select.hbs
Labels: showcase

HDS-3211 clean up CSS to fix linting error
  packages/components/src/styles/components/form/super-select/theme.scss
Labels: packages/components

Rename index to base
  packages/components/package.json
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/base.js
Labels: packages/components

HDS-3221 Move SuperSelect to be under Form components, move all related files and update component name in Showcase and tests
  packages/components/package.json
  packages/components/src/components/hds/form/super-select/multiple/index.hbs
  packages/components/src/components/hds/form/super-select/multiple/index.js
  packages/components/src/components/hds/form/super-select/single/index.hbs
  packages/components/src/components/hds/form/super-select/single/index.js
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/form/super-select/index.scss
  packages/components/src/styles/components/form/super-select/theme.scss
  showcase/app/controllers/components/form/super-select.js
  showcase/app/router.js
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/power-select/after-options.hbs
  showcase/app/templates/components/form/power-select/generic-content.hbs
  showcase/app/templates/components/form/super-select.hbs
  showcase/app/templates/components/form/tabs.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/super-select/multiple.js
  showcase/tests/acceptance/components/hds/super-select/single.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/super-select/multiple/index-test.js
  showcase/tests/integration/components/hds/super-select/single/index-test.js
Labels: packages/components, showcase

Bring SuperSelect showcase in line with form components
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Replace background images for checkboxes with styled pseudo element
  packages/components/src/styles/components/form/super-select/theme.scss
Labels: packages/components

HDS-3221 Additional styling for active and hovered items, style cleanup, add simplified options to match Figma for better comparison
  showcase/app/routes/components/super-select.js
  showcase/app/styles/showcase-pages/super-select/theme.scss
Labels: showcase

HDS-3221 Add example of Right & Left positioning with matchTriggerWidth=false
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Change :disabled reference to aria-disabled since list item can't be disabled
  packages/components/src/styles/components/super-select/theme.scss
Labels: packages/components

HDS-3221 Update Showcase to add new sections and reorganize, separate out list state style variations for Single and Multiple variants
  packages/components/src/components/hds/super-select/multiple/index.js
  packages/components/src/components/hds/super-select/single/index.js
  showcase/app/routes/components/super-select.js
  showcase/app/styles/showcase-pages/super-select/theme.scss
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Add example of Grouped options with temp styles
  packages/components/src/styles/components/form/super-select/theme.scss
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/power-select/group-component.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

Update tests after Base/Field changes
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
  showcase/tests/integration/components/hds/form/super-select/multiple/field-test.js
  showcase/tests/integration/components/hds/form/super-select/single/base-test.js
  showcase/tests/integration/components/hds/form/super-select/single/field-test.js
Labels: showcase

Update showcase after Base/Field changes
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Style SuperSelect tags to follow HDS Tag, add flex layout to trigger and adjust padding so height won't be stretched by tags
  packages/components/src/styles/components/super-select/theme.scss
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

Consolidate SuperSelect styles
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/form/index.scss
  packages/components/src/styles/components/form/super-select.scss
  packages/components/src/styles/components/form/super-select/index.scss
Labels: packages/components

Update vertical list position showcase
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Add temporary section to Showcase for form layout experiments, lengthen longest string in options example
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Move and rename style files in wrong places
  packages/components/src/styles/components/super-select.scss
  packages/components/src/styles/components/super-select/index.scss
  packages/components/src/styles/components/super-select/theme.scss
  showcase/app/styles/app.scss
Labels: packages/components, showcase

HDS-3221 Clean up CSS code, add more styling for various option states
  packages/components/src/styles/components/super-select/theme.scss
Labels: packages/components

HDS-3221 Improve layout of examples
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Fix value for @matcher
  packages/components/src/components/hds/super-select/multiple/index.hbs
  packages/components/src/components/hds/super-select/multiple/index.js
  packages/components/src/components/hds/super-select/single/index.hbs
Labels: packages/components

HDS-3221 Add encoded SVG backgrounds for multiple select checkboxes
  packages/components/src/styles/components/super-select/theme.scss
Labels: packages/components

HDS-3221 Add invalid styles
  packages/components/src/components/hds/form/super-select/multiple/index.js
  packages/components/src/components/hds/form/super-select/single/index.js
  packages/components/src/styles/components/form/super-select/theme.scss
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Update Showcase layout
  showcase/app/templates/components/super-select.hbs
Labels: showcase

Add `ember-power-select` as dependency
  packages/components/package.json
  showcase/package.json
  yarn.lock
Labels: packages/components, showcase

Remove unused actions from showcase controller
  showcase/app/controllers/components/form/super-select.js
Labels: showcase

Fix getters description
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/single/base.js
Labels: packages/components

Add option-group component and make default, style groups and refactor styles for spacing option list items, refactor example data and update Showcase examples
  packages/components/package.json
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/option-group.hbs
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/power-select/group-component.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

Add tests for `SuperSelect::Single`
  showcase/tests/integration/components/hds/form/super-select/single/base-test.js
  showcase/tests/integration/components/hds/form/super-select/single/field-test.js
Labels: showcase

HDS-3221 Adjust positioning of single hovered option border and checkmark
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Remove option-like style from `no-matches-message`
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Add 'Show All' action
  packages/components/src/components/hds/form/super-select/multiple/after-options.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.js
Labels: packages/components

Fix style for current items
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
