Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: A11y improvements
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/navigation.scss
Labels: packages/components

Feat: Assertion for number of panels and steps
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Feat: Rename `Stepper::Navigation` to `Stepper::Nav`
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/template-registry.ts
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Feat: body block when using `@steps`
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Fix: List failing test
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: showcase

Feat: Move isInteractive from `Navigation::Step` to `Navigation`, have currentStep determine step status
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Feat: Add panel component, align to tabs implementation
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Fix: Convert did-insert to custom modifier
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Feat: Tests added, Bugs from tests fixed in list and navigation
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.hbs
  packages/components/src/components/hds/stepper/navigation/step.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Fix: Navigation interactive title color
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: Prevent click and keyboard on non-interactive steps
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Fix: Remove stepNumber arg from step sub components
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Add `release-candidate` workflow
  .github/workflows/release-candidate.yml
  package.json
Labels: none

Use calculated version for snapshots
  .changeset/config.json
Labels: none

Feat: Convert list step to custom modifier
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

Feat: Stepper code docs
  website/docs/components/stepper/list/partials/code/component-api.md
  website/docs/components/stepper/list/partials/code/how-to-use.md
  website/docs/components/stepper/navigation/partials/code/component-api.md
  website/docs/components/stepper/navigation/partials/code/how-to-use.md
Labels: docs-website

Chore: Add changeset
  .changeset/four-jokes-wait.md
Labels: none

Updated page structure to follow naming convention
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/component-api.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/guidelines/overview.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

Updated wording within docs.
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Updated wording in specifications tab.
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

Updated indicator docs by removing 'out of order'
  website/docs/components/stepper/indicator/partials/guidelines/guidelines.md
Labels: docs-website

HDS-4550 Add percy testing data attributes to limited sections
  showcase/app/templates/components/time.hbs
Labels: showcase

updated figma path
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

fix: update images
  website/public/assets/components/table/advanced-table/advanced-table-dont-parent-nested.png
  website/public/assets/components/table/advanced-table/expandable-rows.png
Labels: none

fix: selector for border bottom radius
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

feat: enable `embroider-optimized` scenario
  showcase/config/ember-try.js
Labels: showcase

linting logic is in
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components

fix: try class selector instead
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

HDS-4550 Move percy data attribute to target limited cases, fix linting
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-4550 Remove and comment out percy tests and add explanatory comments
  showcase/app/templates/components/time.hbs
  showcase/tests/acceptance/percy-test.js
Labels: showcase

feat(components): properly exclude `AppHeader `
  packages/components/rollup.config.mjs
  packages/components/src/components.ts
Labels: packages/components

Update packages/components/src/styles/components/time.scss
  packages/components/src/styles/components/time.scss
Labels: packages/components

HDS-4550 Add text decoration style using webkit prefix for Safari
  packages/components/src/styles/components/time.scss
Labels: packages/components

fix(components): `tippy.js` css imports
  packages/components/rollup.config.mjs
  packages/components/src/modifiers/hds-tooltip.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  showcase/app/styles/app.scss
  website/app/styles/app.scss
Labels: packages/components, showcase

HDS-4550 Add webkit prefix to RichTooltip text-decoration style to fix Safari bug
  packages/components/src/styles/components/rich-tooltip.scss
Labels: packages/components

Update tidy-eels-doubt.md
  .changeset/tidy-eels-doubt.md
Labels: none

HDS-4550 Update text-decoration styles to remove need for webkit prefix in Safari
  packages/components/src/styles/components/rich-tooltip.scss
  packages/components/src/styles/components/time.scss
Labels: packages/components

HDS-4550 Add comment regarding Safari bug
  packages/components/src/styles/components/rich-tooltip.scss
  packages/components/src/styles/components/time.scss
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
