Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3064 Add test to search by category
  website/tests/acceptance/icon-test.js
Labels: none

Update website/docs/icons/library/index.js
  website/docs/icons/library/index.js
Labels: docs-website

HDS-3064 Add categories for filtered icon search
  website/app/components/doc/icons-list/grid.hbs
  website/app/components/doc/icons-list/index.hbs
  website/app/styles/doc-components/icons-list/index.scss
  website/docs/icons/library/index.js
  website/docs/icons/library/index.md
Labels: docs-website

HDS-3064 Refactored JS to perform search on flat ison array first then group results by category allowing constructor to be removed and avoid nested loops
  website/docs/icons/library/index.js
Labels: docs-website

fixed issue with `event.pointerType` not being consistent across browsers
  packages/components/src/components/hds/menu-primitive/index.js
Labels: packages/components

HDS-3064 Alphabetize icon search results
  website/docs/icons/library/index.js
Labels: docs-website

HDS-3064 Refactored alphabetization to alphabetize filteredIcons by category and then name
  website/docs/icons/library/index.js
Labels: docs-website

Update warning message
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

WIP implemented `Bubble` and `Arrow` subcomponent + added correct styling to Popover
  packages/components/package.json
  packages/components/src/components/hds/popover/arrow.hbs
  packages/components/src/components/hds/popover/bubble.hbs
  packages/components/src/components/hds/popover/index.hbs
  packages/components/src/components/hds/popover/index.js
  packages/components/src/styles/components/popover.scss
  showcase/app/templates/components/popover.hbs
Labels: packages/components, showcase

Replace node script with a bash one liner
  packages/components/package.json
  packages/components/scripts/check-compiled-css.mjs
Labels: packages/components

Bump components test timout from 10s to 20s
  showcase/testem.js
Labels: showcase

refactor: convert LinkStandalone to typescript
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/components/hds/link/standalone.hbs
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/link/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

chore: fix linting issues
  packages/components/src/components/hds/link/standalone.ts
Labels: packages/components

Web: Add categories for filtered icon search (HDS-3064) (#1989)
  website/app/components/doc/icons-list/grid.hbs
  website/app/components/doc/icons-list/index.hbs
  website/app/styles/doc-components/icons-list/index.scss
  website/docs/icons/library/index.js
  website/docs/icons/library/index.md
  website/tests/acceptance/icon-test.js
Labels: docs-website

Version Packages
  packages/components/package.json
Labels: packages/components

WIP split `MenuPrimitive` in two (`MenuPrimitive` + `PopoverPrimitive`, names TBD)
  packages/components/package.json
  packages/components/src/components/hds/menu-primitive/index.hbs
  packages/components/src/components/hds/menu-primitive/index.js
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/components/hds/popover/index.hbs
  packages/components/src/modifiers/hds-float-popover.js
  packages/components/src/modifiers/hds-register-event.js
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/menu-primitive.scss
  packages/components/src/styles/components/popover-primitive.scss
Labels: packages/components

HDS-3209 Alphabetize token search results, remove empty category displays, update test, update margins and category header size to match icon search
  website/app/components/doc/tokens-list/grid.hbs
  website/app/components/doc/tokens-list/index.hbs
  website/app/styles/doc-components/tokens-list.scss
  website/docs/foundations/tokens/index.js
  website/tests/acceptance/token-test.js
Labels: docs-website

Remove PowerSelect style overrides in showcase
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/power-select.scss
Labels: showcase

HDS-3143 Add PowerSelectMultiple variant to spike component, update Showcase, fix list item styles to remove stray bullet
  packages/components/src/components/hds/super-select/index.hbs
  packages/components/src/components/hds/super-select/index.js
  packages/components/src/styles/@hashicorp/design-system-power-select-overrides.scss
  packages/components/src/styles/components/super-select.scss
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3143 Add noMatchesMessge example for failed search
  packages/components/src/components/hds/super-select/index.hbs
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3143 Add initiallyOpen support
  packages/components/src/components/hds/super-select/index.hbs
Labels: packages/components

HDS-3143 Add preliminary HDS PowerSelect code
  packages/components/package.json
  packages/components/src/components/hds/super-select/index.hbs
  packages/components/src/components/hds/super-select/index.js
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/super-select.scss
  showcase/app/controllers/components/super-select.js
  showcase/app/router.js
  showcase/app/routes/components/super-select.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/super-select.scss
  showcase/app/templates/components/super-select.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/super-select.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/super-select/index-test.js
Labels: packages/components, showcase

HDS-3143 Fix linting errors
  showcase/app/routes/components/super-select.js
  showcase/app/templates/components/super-select.hbs
Labels: showcase

HDS-3143 Fix linter errors, set renderInPlace to true by default
  packages/components/src/components/hds/super-select/index.hbs
  showcase/app/templates/components/super-select.hbs
  showcase/tests/integration/components/hds/super-select/index-test.js
Labels: packages/components, showcase

Add sample PowerSelect theme declarations
  packages/components/src/styles/components/super-select/index.scss
  packages/components/src/styles/components/super-select/theme.scss
Labels: packages/components

HDS-3143 Fix linter errors
  showcase/app/templates/components/super-select.hbs
Labels: showcase

HDS-3143 Add more examples and pass through more arguments
  packages/components/src/components/hds/super-select/index.hbs
  packages/components/src/styles/components/super-select.scss
  showcase/app/routes/components/super-select.js
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3143 Add example of onInput message function, add WIP example of resultCountMessage
  packages/components/src/components/hds/super-select/index.hbs
  showcase/app/controllers/components/super-select.js
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3143 Fix failing tests
  packages/components/src/components/hds/super-select/index.hbs
  showcase/tests/integration/components/hds/super-select/index-test.js
Labels: packages/components, showcase

HDS-3143 Add solution for matchTriggerWidth false variant
  packages/components/src/components/hds/super-select/index.js
  packages/components/src/styles/components/super-select.scss
  showcase/app/routes/components/super-select.js
  showcase/app/styles/showcase-pages/super-select.scss
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3143 Add groupComponent example with custom group component to Showcase
  packages/components/src/styles/components/super-select.scss
  showcase/app/routes/components/super-select.js
  showcase/app/templates/components/power-select/group-component.hbs
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

Use Saas definitions for PowerSelect styles
  packages/components/rollup.config.mjs
  packages/components/src/styles/components/super-select.scss
  packages/components/src/styles/components/super-select/index.scss
  showcase/ember-cli-build.js
Labels: packages/components, showcase

HDS-3143 Move attributes spereading back to children and update basic integration test to pass
  packages/components/src/components/hds/super-select/index.hbs
  showcase/tests/integration/components/hds/super-select/index-test.js
Labels: packages/components, showcase

chore: change type import
  packages/components/package.json
  packages/components/src/components/hds/link/standalone.ts
Labels: packages/components

HDS-3143 Disable typescript check in files that haven't been updated yet
  showcase/app/templates/components/power-select/group-component.hbs
  showcase/app/templates/components/super-select.hbs
Labels: showcase

WIP logic handling the “arrow” element
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/components/hds/popover/arrow.hbs
  packages/components/src/components/hds/popover/bubble.hbs
  packages/components/src/components/hds/popover/index.hbs
  packages/components/src/components/hds/popover/index.js
  packages/components/src/modifiers/hds-float-popover.js
  packages/components/src/styles/components/popover.scss
  showcase/app/styles/showcase-pages/popover.scss
  showcase/app/templates/components/popover.hbs
Labels: packages/components, showcase

WIP added support for `ariaLabel` for the toggle
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/components/hds/popover/index.hbs
  showcase/app/templates/components/popover.hbs
Labels: packages/components, showcase

HDS-3209 Undo alphabetization of token search results
  website/docs/foundations/tokens/index.js
Labels: docs-website

bugfix(components): remove DEBUG from babel-plugin-macros
  .changeset/ten-falcons-run.md
  packages/components/src/components/hds/flyout/index.js
  packages/components/src/components/hds/modal/index.js
Labels: packages/components

first pass at clarifying the scope of the design system
  website/app/templates/about.hbs
  website/docs/about/overview.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
