Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

Revert dependency updates in `components`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Fix CSS lint error
  website/app/styles/pages/home.scss
Labels: none

Enforce resolutions for ember-lts-3.28
  packages/components/config/ember-try.js
Labels: packages/components

Upgrade `ember-power-select`
  packages/components/package.json
  website/package.json
  yarn.lock
Labels: packages/components

Update `ember-cli-fastboot` in `website`
  website/package.json
  yarn.lock
Labels: none

Upgrade Ember to 5.3 in `website`
  website/.eslintrc.js
  website/.gitignore
  website/.watchmanconfig
  website/config/ember-cli-update.json
  website/package.json
  website/tests/helpers/index.js
  yarn.lock
Labels: none

Update `prember` in `website`
  website/package.json
  yarn.lock
Labels: none

Lower `@ember/test-helpers` to satisfy `ember-a11y-testing`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Upgrade Ember to 5.3 in `ember-flight-icons`
  packages/ember-flight-icons/.gitignore
  packages/ember-flight-icons/.watchmanconfig
  packages/ember-flight-icons/config/ember-try.js
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/tests/dummy/config/ember-cli-update.json
  packages/ember-flight-icons/tests/helpers/index.js
  packages/ember-flight-icons/tsconfig.declarations.json
  yarn.lock
Labels: packages/ember-flight-icons

Replace `babel-eslint` with `@babel/eslint-parser` in `components`
  packages/components/.eslintrc.js
  packages/components/package.json
  yarn.lock
Labels: packages/components

Fix yarn.lock after rebase
  yarn.lock
Labels: none

Import `ember-source` types
  packages/components/types/dummy/index.d.ts
Labels: packages/components

Skip type checking of declaration files
  packages/components/tsconfig.json
Labels: packages/components

removed extra script call in `build` script for “website”
  website/package.json
Labels: none

increased length of release notes for all code-related changes
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: none

updated release notes
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: docs-website

optimized `code-block` images
  website/public/assets/components/code-block/code-block-anatomy.png
  website/public/assets/components/code-block/code-block-block-level.png
  website/public/assets/components/code-block/code-block-copy-button.png
  website/public/assets/components/code-block/code-block-dont-use-metadata.png
  website/public/assets/components/code-block/code-block-line-highlighting.png
  website/public/assets/components/code-block/code-block-line-numbers.png
  website/public/assets/components/code-block/code-block-line-selection.png
  website/public/assets/components/code-block/code-block-metadata.png
  website/public/assets/components/code-block/code-block-rounded-standalone.png
Labels: none

optimized `code-block` illustration
  website/public/assets/illustrations/components/code-block.jpg
Labels: none

Update images
  website/public/assets/components/code-block/code-block-anatomy.png
  website/public/assets/components/code-block/code-block-block-level.png
  website/public/assets/components/code-block/code-block-copy-button.png
  website/public/assets/components/code-block/code-block-dont-use-metadata.png
  website/public/assets/components/code-block/code-block-line-highlighting.png
  website/public/assets/components/code-block/code-block-line-numbers.png
  website/public/assets/components/code-block/code-block-line-selection.png
  website/public/assets/components/code-block/code-block-metadata.png
  website/public/assets/components/code-block/code-block-rounded-standalone.png
Labels: none

Porting over missed updates
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Porting over missed updates
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/overview.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/code-block/partials/specifications/states.md
  website/public/assets/components/code-block/code-block-anatomy.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Update `maxHeight` description
  website/docs/components/code-block/partials/code/component-api.md
Labels: docs-website

Update title/description example
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Update basic invocation description
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

Rename variable
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

Move CSS variable
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

Update showcase heading
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Rename CSS variable
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

Apply wrapping to code only
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

Prevent line numbers from being clipped when reaching thousands
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

Move comment above definition
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

added a couple demos of codeblock in different containers to the showcase
  packages/components/tests/dummy/app/controllers/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Hack to get the line highlight working
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Import languages to fix render in website
  packages/components/addon/components/hds/code-block/index.js
Labels: packages/components

Remove `contentEditable` and `onInput`
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/controllers/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

Add focus ring
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

Style code selection
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

Add invalid example for language
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components
