Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

adding and documenting sentinel parser
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/languages/sentinel.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
  showcase/app/controllers/components/code-editor.js
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
Labels: docs-website, packages/components, showcase

removed docs
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
Labels: docs-website

Install `codemirror` 5
  packages/components/package.json
  yarn.lock
Labels: packages/components

Clean-up and lint
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

Theme
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

Generate `CodeEditor` showcase
  showcase/app/router.ts
  showcase/app/routes/components/code-editor.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/code-editor.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: showcase

added javascript support
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/types/hds-code-editor.types.ts
Labels: packages/components

working on initial structure
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  yarn.lock
Labels: packages/components

Generate `CodeEditor` component
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

Switch to `codemirror` 6 via subpackages
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  yarn.lock
Labels: packages/components

Generate `hds-code-editor` modifier
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/template-registry.ts
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

added some initial language support
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: showcase

added support for bracket matching
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

copy button works
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

fixing styling
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

adjusted styling and header composition to fit the new designs
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

added examples to the showcase
  packages/components/src/components/hds/text/index.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

added examples to the showcase
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

cleanup
  showcase/app/controllers/components/code-editor.js
Labels: showcase

website docs WIP
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/docs/components/code-editor/partials/version-history/4.15.0.md
Labels: docs-website

calls the update function
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

updated the highlight style
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

working on dynamic package importing
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

styling wip
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/toolbar-button.hbs
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

changed title and description to yielded subcomponents
  packages/components/package.json
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/description.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
  packages/components/src/template-registry.ts
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

adding keyboard nav support
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

fixed styling for differnet header combos
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

added tab support
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

improving keybopard navigation
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

added support for history
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
Labels: packages/tokens

updated highlighting
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/highlight-styles/hds-dark-highlight-style.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

writing tests and cleaning up code
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/components/hds/code-editor/page.js
Labels: packages/components, showcase

styling code editor
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/toolbar-button.hbs
  packages/components/src/components/hds/code-editor/toolbar-button.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  packages/components/src/template-registry.ts
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, packages/tokens, showcase

working on showcase docs
  showcase/app/templates/components/code-editor.hbs
Labels: showcase

rough version of fullscreen mode works
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/modifiers/hds-code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  packages/components/src/template-registry.ts
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: packages/components, showcase

can add new lines in the code editor
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

wip
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  yarn.lock
Labels: packages/components

added more examples in the showcase
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

got content selection styled
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

will only load once visible
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components
