Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

HDS-4150 update transitionValidator comments
  website/app/controllers/application.js
Labels: none

HDS-4096 dropdown toggle-icon focus ring on mouse click fix
  .changeset/cold-humans-mix.md
  packages/components/src/styles/components/dropdown.scss
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/4.15.0.md
Labels: docs-website, packages/components

Updated export of icons from Figma (#2563)
  .changeset/smart-seahorses-cough.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/postgres-16.svg
  packages/flight-icons/svg-original/postgres-24.svg
  packages/flight-icons/svg-original/postgres-color-16.svg
  packages/flight-icons/svg-original/postgres-color-24.svg
  packages/flight-icons/svg-original/vault-radar-16.svg
  packages/flight-icons/svg-original/vault-radar-24.svg
  packages/flight-icons/svg-original/vault-radar-color-16.svg
  packages/flight-icons/svg-original/vault-radar-color-24.svg
  packages/flight-icons/svg-original/vault-secrets-16.svg
  packages/flight-icons/svg-original/vault-secrets-24.svg
  packages/flight-icons/svg-original/vault-secrets-color-16.svg
  packages/flight-icons/svg-original/vault-secrets-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/postgres-16.tsx
  packages/flight-icons/svg-react/postgres-24.tsx
  packages/flight-icons/svg-react/postgres-color-16.tsx
  packages/flight-icons/svg-react/postgres-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/postgres-16.svg
  packages/flight-icons/svg/postgres-24.svg
  packages/flight-icons/svg/postgres-color-16.svg
  packages/flight-icons/svg/postgres-color-24.svg
Labels: packages/flight-icons

Website tabs - Set focus on tab change (#2561)
  website/app/components/doc/page/tabs.hbs
  website/app/components/doc/page/tabs.js
  website/app/controllers/application.js
  website/app/controllers/show.js
Labels: none

HDS-4096 Dropdown ToggleIcon focus border color update
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

HDS-4096 dropdown toggle-icon active state style alignment
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

feat: update cards on index page
  website/app/controllers/index.js
Labels: none

Adding content to pages.
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-for-ui-copy/index.md
Labels: docs-website

HDS-3945 Implement initial Time component based on Cloud-ui and add Showcase
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/inner.ts
  packages/components/src/services.ts
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/application.js
  showcase/app/routes/components/time.js
  showcase/app/templates/components/time.hbs
  showcase/app/templates/index.hbs
  yarn.lock
Labels: packages/components, showcase

HDS-3945 Add service file with preliminary code, comment out code in component that should come from service
  packages/components/src/components/hds/time/index.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/services/types.ts
Labels: packages/components

HDS-3945 Set locale based on browser locale in helpers, test using Luxon dateTime in format-date helper
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
  packages/components/src/services/hds-time.js
Labels: packages/components

HDS-3945 Add back glint nocheck tags to templates
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
Labels: packages/components

HDS-3945 Converted time service from typescript back to javascript, added copy of service for Showcase
  packages/components/src/components/hds/time/index.ts
  packages/components/src/services/hds-time.js
  showcase/app/services/hds-time.js
  showcase/app/services/types.ts
Labels: packages/components, showcase

HDS-3945 Create backing function to test display of different near time dates in Showcase
  showcase/app/components/shw/divider/index.gts
  showcase/app/controllers/components/time.js
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Add method calls for registering and unregistering component with time service
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/services/hds-time.ts
Labels: packages/components

HDS-3945 Fix units for format-relative
  packages/components/src/components/hds/time/inner.hbs
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Fix some type errors
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/inner.ts
Labels: packages/components

Re-export services
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: packages/components

HDS-3945 Delete commented out code moved to service, fix passing of display format options to format-date helper
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-date.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Add helpers to registry
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3945 Create type definitions for complex display types
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
  packages/components/src/components/hds/time/types.ts
Labels: packages/components

HDS-3945 Implement date range with stratDate and endDate, add examples to Showcase
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Add basic tests, update Showcase, add class names
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  showcase/app/templates/components/time.hbs
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Remove glint-nochecks
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
Labels: packages/components

HDS-3945 Remove ember-intl and replace format-date helper with basic new helper
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-date.ts
  showcase/app/routes/application.js
  showcase/tests/integration/components/hds/time/index-test.js
  yarn.lock
Labels: packages/components, showcase

HDS-3945 Update package dependencies for time service in Showcase
  packages/components/src/components/hds/time/index.ts
  showcase/package.json
  yarn.lock
Labels: packages/components, showcase

Remove `hds-time` service copy from `showcase`
  showcase/app/services/hds-time.js
  showcase/app/services/types.ts
Labels: showcase

HDS-3945 Add type keyword to imports
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
Labels: packages/components

HDS-3945 Place temporary output examples next to component examples in Showcase
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Replace any types
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HdS-3945 Add preliminary format-relative helper to replace ember-intl helper
  packages/components/package.json
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/helpers/hds-format-relative.ts
Labels: packages/components

HDS-3945 replaced a remaining any type with appropriate type
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Fix import of displays for Showcase example
  showcase/app/routes/components/time.js
Labels: showcase

HDS-3945 regenerate yarn.lock
  yarn.lock
Labels: none

HDS-3945 Convert time service to typescript and fix type errors
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/range.ts
  packages/components/src/components/hds/time/single.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/services/types.ts
Labels: packages/components

HDS-3945 Remove unneeded libraries
  showcase/package.json
  yarn.lock
Labels: showcase

Apply suggestions from code review
  packages/components/src/components/hds/time/range.ts
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3945 Fix dashes in tooltip content
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Refator to create child component for range, update Showcase examples
  packages/components/package.json
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/range.ts
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/styles/components/time.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Replace thin spaces with regular spaces
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase
