Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

squash commits
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

remove exclusions array and components we don't need to test on docs page
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Remove more components not needed for testing purposes
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

remove component from test page
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

added status badge to lists of cards
  website/app/components/doc/cards/card.hbs
  website/app/components/doc/cards/deck.hbs
  website/app/controllers/components.js
  website/app/controllers/foundations.js
  website/app/controllers/patterns.js
  website/app/styles/doc-components/cards/card.scss
Labels: none

added status badge to “show” page (cover)
  website/app/components/doc/page/cover.hbs
  website/app/controllers/show.js
  website/app/templates/show.hbs
Labels: none

added status badge (for deprecation only) to Component API properties
  website/app/components/doc/component-api/property.hbs
Labels: none

added processing of `status` entry in frontmatter metadata
  website/app/routes/show.js
  website/lib/markdown/markdown-to-jsonapi.js
  website/lib/markdown/table-of-contents.js
Labels: none

added status badge to sidenav (TOC)
  website/app/components/doc/table-of-contents/index.hbs
  website/app/styles/doc-components/table-of-contents.scss
Labels: none

Apply suggestions from code review
  website/app/components/doc/cards/card.hbs
  website/app/components/doc/table-of-contents/index.hbs
  website/app/controllers/show.js
Labels: none

added “deprecated” status (and version history) to `PowerSelect` overrides
  website/docs/overrides/power-select/index.md
  website/docs/overrides/power-select/partials/version-history/4.3.0.md
Labels: docs-website

added support for `Banner` in “Component API” property item
  website/app/components/doc/component-api/property.hbs
Labels: none

changed DOM position of the “status” badge in the cards
  website/app/components/doc/cards/card.hbs
Labels: none

updated “required” badge in Component API with `Doc::Badge`
  website/app/components/doc/component-api/property.hbs
  website/app/styles/doc-components/component-api.scss
Labels: none

adding a new type for HDSIcon sizes
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/components/hds/icon/types.ts
Labels: packages/components

Add missing `Form::Fieldset` to registry
  packages/components/src/template-registry.ts
Labels: packages/components

Showdown Extension for removing auto p tags around custom elements
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Export required signatures
  packages/components/src/components/hds/form/error/index.ts
  packages/components/src/components/hds/form/helper-text/index.ts
  packages/components/src/components/hds/form/label/index.ts
  packages/components/src/components/hds/form/legend/index.ts
Labels: packages/components

Add missing attribute to `HdsFormFieldSignature`
  packages/components/src/components/hds/form/field/index.ts
Labels: packages/components

Convert `Form::Checkbox::Base` to TypeScript
  packages/components/src/components/hds/form/checkbox/base.hbs
  packages/components/src/components/hds/form/checkbox/base.ts
Labels: packages/components

Convert `Form::Checkbox::Field` to TypeScript
  packages/components/src/components/hds/form/checkbox/field.hbs
  packages/components/src/components/hds/form/checkbox/field.ts
Labels: packages/components

Convert `Form::Checkbox::Group` to TypeScript
  packages/components/src/components/hds/form/checkbox/group.hbs
  packages/components/src/components/hds/form/checkbox/group.ts
Labels: packages/components

Add Checkbox components to registry
  packages/components/src/template-registry.ts
Labels: packages/components

Convert `Form::Radio::Base` to TypeScript
  packages/components/src/components/hds/form/radio/base.hbs
  packages/components/src/components/hds/form/radio/base.ts
Labels: packages/components

Convert `Form::Radio::Field` to TypeScript
  packages/components/src/components/hds/form/radio/field.hbs
  packages/components/src/components/hds/form/radio/field.ts
Labels: packages/components

Convert `Form::Radio::Group` to TypeScript
  packages/components/src/components/hds/form/radio/group.hbs
  packages/components/src/components/hds/form/radio/group.ts
Labels: packages/components

Add Radio components to registry
  packages/components/src/template-registry.ts
Labels: packages/components

Convert `Form::Toggle::Base` to TypeScript
  packages/components/src/components/hds/form/toggle/base.hbs
  packages/components/src/components/hds/form/toggle/base.ts
Labels: packages/components

Convert `Form::Toggle::Field` to TypeScript
  packages/components/src/components/hds/form/toggle/field.hbs
  packages/components/src/components/hds/form/toggle/field.ts
Labels: packages/components

Add Toggle components to registry
  packages/components/src/template-registry.ts
Labels: packages/components

Convert `Form::Toggle::Group` to TypeScript
  packages/components/src/components/hds/form/toggle/group.hbs
  packages/components/src/components/hds/form/toggle/group.ts
Labels: packages/components

Changes based on feedback in Engineering Sync and Cristiano's comments.
  website/app/styles/spacing/index.scss
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
  website/docs/testing/markdown/remove-auto-p-playground.js
  website/docs/testing/markdown/remove-auto-p-playground.md
Labels: docs-website

Convert `Form::RadioCard::Description` to TypeScript
  packages/components/src/components/hds/form/radio-card/description.hbs
  packages/components/src/components/hds/form/radio-card/description.ts
Labels: packages/components

Convert `Form::RadioCard::Label` to TypeScript
  packages/components/src/components/hds/form/radio-card/label.hbs
  packages/components/src/components/hds/form/radio-card/label.ts
Labels: packages/components

Convert `Form::RadioCard:` to TypeScript
  packages/components/src/components/hds/form/radio-card/index.hbs
  packages/components/src/components/hds/form/radio-card/index.js
  packages/components/src/components/hds/form/radio-card/index.ts
  packages/components/src/components/hds/form/radio-card/types.ts
  packages/components/src/components/hds/form/radio/base.ts
Labels: packages/components

HDS-3373 Update AppHeader styles to add border and dropshadow from newer design mocks, change buttons in Showcase to use Hds::Button icon only variant
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
Labels: packages/components, showcase

HDS-3373 Update logo size, update examples to add Terraform example and shift items around to match mocks
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
Labels: packages/components, showcase

HDS-3373 Refactor named block slots to simplify
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame.hbs
Labels: packages/components, showcase

HDS-3373 Add tests for AppHeader content and HomeLink child component
  showcase/tests/integration/components/hds/app-header/home-link-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: showcase

HDS-3373 Make aria-labels unique to pass accessibility tests
  showcase/app/templates/components/side-nav.hbs
Labels: showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
