Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3221 Add preliminary Search and Dropdown styles
  packages/components/src/components/hds/super-select/single/index.hbs
  packages/components/src/components/hds/super-select/single/index.js
  showcase/app/styles/showcase-pages/super-select/theme.scss
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

added simple integration test for `hds-register-event`
  showcase/tests/integration/modifiers/hds-register-event-test.js
Labels: showcase

added `hds-register-event` modifier
  packages/components/package.json
  packages/components/src/modifiers/hds-register-event.js
Labels: packages/components

Apply suggestions from code review
  website/app/templates/about.hbs
  website/docs/about/overview.md
Labels: docs-website

Fixing lint error
  website/app/templates/about.hbs
Labels: none

Update website/docs/about/overview.md
  website/docs/about/overview.md
Labels: docs-website

HDS-3221 Tweak spacing, padding, and selected item styles to better match mocks
  showcase/app/styles/showcase-pages/super-select/theme.scss
Labels: showcase

Add link to website release notes
  README.md
Labels: none

fix: explicit index imports
  showcase/app/routes/components/alert.js
  showcase/app/routes/components/badge-count.js
  showcase/app/routes/components/badge.js
  showcase/app/routes/components/button.js
  showcase/app/routes/components/code-block.js
  showcase/app/routes/components/copy/button.js
  showcase/app/routes/components/copy/snippet.js
  showcase/app/routes/components/flyout.js
  showcase/app/routes/components/icon-tile.js
  showcase/app/routes/components/modal.js
  showcase/app/routes/components/table.js
  showcase/app/routes/components/tabs.js
  showcase/app/routes/components/tag.js
  showcase/app/routes/components/toast.js
  showcase/app/routes/components/tooltip.js
  showcase/tests/unit/components/hds/pagination-test.js
Labels: showcase

Apply suggestions from code review
  website/app/templates/about.hbs
  website/docs/about/overview.md
Labels: docs-website

Update the description of HDS on website to clarify its intended scope (#2012)
  website/app/templates/about.hbs
  website/docs/about/overview.md
Labels: docs-website

HDS-3226 Make category search case-insensitive and update test
  website/docs/icons/library/index.js
  website/tests/acceptance/icon-test.js
Labels: docs-website

updated PopoverPrimitive to use new `isPolyfilled` method
  packages/components/package.json
  packages/components/src/components/hds/popover-primitive/index.js
  yarn.lock
Labels: packages/components

added unit tests for `getFloatingUIOptions()` function
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

renamed `hds-float-popover` modifier to `hds-anchored-position` and generalized code to be more agnostic (no “popover” references)
  packages/components/package.json
  packages/components/src/modifiers/hds-anchored-position.js
  packages/components/src/modifiers/hds-float-popover.js
Labels: packages/components

added integration test for when modifier is declared in template code
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

added constants for `PLACEMENTS/DEFAULT_PLACEMENT` so they can be exported and consumed by other components
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

added integration tests for `hds-float-popover`modifier
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

changed how the “arrow element” is provided to the modifier (from positional to named argument)
  packages/components/src/modifiers/hds-anchored-position.js
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: packages/components, showcase

Website: Make icon category search case-insensitive (HDS-3226) (#2035)
  website/docs/icons/library/index.js
  website/tests/acceptance/icon-test.js
Labels: docs-website

changed default of `arrowPadding` option (to keep it more agnostic)
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

updated support page
  website/docs/about/support.md
Labels: docs-website

created `config.yaml` for GitHub issue templates
  .github/ISSUE_TEMPLATE/config.yml.
Labels: none

removed the `bug-report` template and created a `file-issue-external-users` one
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/file-issue-external-users.md
Labels: none

WIP Yielded subcomponent + inline testing
  packages/components/package.json
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover/index.hbs
  packages/components/src/components/hds/popover/toggle/xxx.hbs
  packages/components/src/components/hds/popover/toggle/xxx.js
  packages/components/src/styles/components/popover-primitive.scss
  packages/components/src/styles/components/popover.scss
  showcase/app/templates/components/popover.hbs
Labels: packages/components, showcase

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/config.yml.
  .github/ISSUE_TEMPLATE/file-issue-external-users.md
Labels: none

Convert IconTile component to TypeScript
  .changeset/friendly-onions-walk.md
  packages/components/package.json
  packages/components/src/components/hds/icon-tile/index.hbs
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/icon-tile/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

fix linting error
  packages/components/src/components/hds/icon-tile/index.ts
Labels: packages/components

Determine colors as 'neutral' and product values
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/icon-tile/types.ts
Labels: packages/components

Use TemplateOnlyComponent from the right package
  packages/components/src/components/hds/toast/index.ts
  packages/components/tsconfig.json
Labels: packages/components

removed dot from file name
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Fix broken link in file
  website/docs/components/table/partials/content/icon-usage.md
Labels: docs-website

Fix broken link in file (#2039)
  website/docs/components/table/partials/content/icon-usage.md
Labels: docs-website

Updated overview to mention and explain that this component is a native HTML element and customizations are not possible.
  website/docs/components/form/select/partials/guidelines/overview.md
Labels: docs-website

Removed list from the 'custom variation' sentence because it doesn't only apply to the list. It applies to the entire component.
  website/docs/components/form/select/partials/guidelines/overview.md
Labels: docs-website

updated integration tests for `Dropdown::ListItem::Interactive`
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
Labels: showcase

changeset
  .changeset/six-wombats-press.md
Labels: none

added support for `@trailingIcon` in the `Dropdown::ListItem::Interactive` element
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

added demo of combinations of `@icon/@trailingIcons` in showcase
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

Updated doc to include the MDN link for more details.
  website/docs/components/form/select/partials/guidelines/overview.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
