Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

chore: add changeset
  .changeset/gentle-cows-remain.md
Labels: none

fix: implement feedback
  .changeset/gentle-cows-remain.md
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
  packages/components/src/components/hds/alert/title.ts
  packages/components/src/components/hds/alert/types.ts
  packages/components/src/components/hds/application-state/header.ts
  packages/components/src/components/hds/application-state/types.ts
  packages/components/src/components/hds/code-block/title.ts
  packages/components/src/components/hds/dialog-primitive/header.ts
  packages/components/src/components/hds/dialog-primitive/types.ts
  showcase/app/templates/components/alert.hbs
Labels: packages/components, showcase

chore: remove jsdocs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/dialog-primitive/header.ts
Labels: packages/components

feat: add tests for new arguments
  showcase/tests/integration/components/hds/accordion/index-test.js
  showcase/tests/integration/components/hds/alert/index-test.js
  showcase/tests/integration/components/hds/code-block/index-test.js
  showcase/tests/integration/components/hds/dialog-primitive/header-test.js
Labels: showcase

fix: revert css linting
  packages/components/src/styles/components/dialog-primitive.scss
Labels: packages/components

fix: alert test
  showcase/tests/integration/components/hds/alert/index-test.js
Labels: showcase

fix: rebase issue
  packages/components/src/components/hds/application-state/types.ts
Labels: packages/components

fix: more rebase issues
  packages/components/src/components/hds/application-state/types.ts
Labels: packages/components

yarn 4.4.0
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Labels: none

HDS-3793 Delete comments
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
Labels: packages/components

Update eight-houses-remain.md
  .changeset/eight-houses-remain.md
Labels: none

HDS-3793 Qualify selectors to scope inheritance of dark theme, add Showcase examples
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
Labels: packages/components, showcase

HDS-3793 Add changeset
  .changeset/eight-houses-remain.md
Labels: none

Enterprise Nav: `SideNav` & `AppHeader`—Improve scoping for dark theme styling (#2359)
  .changeset/eight-houses-remain.md
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
Labels: packages/components, showcase

HDS-3693 Trap focus in AppHeader when menu is open in mobile view
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
Labels: packages/components

HDS-3693 Remove mention of deprecated classname in SideNav docs
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

HDS-3693 Prevent tabbing to closed actions menu in mobile view
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3693 Enable collision detection for Dropdowns within AppHeader and SideNav Showcase examples
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
Labels: showcase

HDS-3693 Update AppHeader and SideNav code examples in web docs to enable collision detection for Dropdowns, add text advising consumers, delete unneeded classname from SideNav examples
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

HDS-3693 Remove aria-hidden as it's not longer needed together with style refactors
  packages/components/src/components/hds/app-header/index.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3693 Add changeset
  .changeset/four-zoos-promise.md
Labels: none

HDS-3693 Update tests to confirm aria-hidden is set on closed mobile menu, refactor aria-hidden logic to remove when false
  packages/components/src/components/hds/app-header/index.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

compressed image assets
  website/public/assets/foundations/color/colors-border-examples.png
  website/public/assets/foundations/color/colors-foreground-examples.png
  website/public/assets/foundations/color/colors-semantic-tokens-accessibility-examples.png
  website/public/assets/foundations/color/colors-status-examples.png
  website/public/assets/foundations/color/colors-surface-examples.png
  website/public/assets/foundations/color/colors-what-are-semantic-tokens.png
Labels: none

“Enterprise Nav”: Misc follow ons (HDS-3693) (#2351)
  .changeset/four-zoos-promise.md
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website, packages/components, showcase

Added an extra example in the showcase for modal with an input
  showcase/app/templates/components/modal.hbs
Labels: showcase

change label to be unique
  showcase/app/templates/components/modal.hbs
Labels: showcase

Add unique name to duplicate landmark
  showcase/app/templates/components/modal.hbs
Labels: showcase

Added all text and relevant images
  website/docs/foundations/typography/index.md
  website/docs/foundations/typography/partials/guidelines/guidelines.md
  website/docs/foundations/typography/partials/guidelines/overview.md
  website/public/assets/foundations/typography/typography-body-options.png
  website/public/assets/foundations/typography/typography-button-example.png
  website/public/assets/foundations/typography/typography-code-options.png
  website/public/assets/foundations/typography/typography-display-options.png
  website/public/assets/foundations/typography/typography-form-example.png
  website/public/assets/foundations/typography/typography-remaining-balance-example.png
Labels: docs-website

Updated Vagrant gradient start and stop aliases
  packages/tokens/src/products/shared/color/semantic-product-vagrant.json
Labels: packages/tokens

Build tokens
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

Add changeset
  .changeset/many-lies-leave.md
Labels: none

Remove ember-flight-icons as trigger for component CI
  .github/workflows/ci-components.yml
Labels: none

finished conversion of the compact pagination component
  packages/components/src/components/hds/pagination/compact/index.ts
Labels: packages/components

fixing tests
  packages/components/src/components/hds/pagination/numbered/index.ts
  showcase/tests/unit/components/hds/pagination/numbered-test.js
Labels: packages/components, showcase

cleaning up types
  packages/components/src/components/hds/pagination/compact/index.ts
Labels: packages/components

cleaning up types
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/pagination/size-selector/index.ts
Labels: packages/components

finished initial conversion of hds::pagination::numbered
  packages/components/package.json
  packages/components/src/components/hds/pagination/elliptize.ts
  packages/components/src/components/hds/pagination/info/index.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/pagination/types.ts
Labels: packages/components

cleaned up the number component
  packages/components/src/components/hds/pagination/nav/number.hbs
  packages/components/src/components/hds/pagination/nav/number.ts
Labels: packages/components

cleaning up types
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/nav/arrow.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/pagination/types.ts
Labels: packages/components

added ts files to component registry
  packages/components/src/components.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
