Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Web Docs - `SuperSelect::Multiple` guidance updates (#2823)
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-after-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-before-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-dont-visually-heavy.png
  website/public/assets/components/form/super-select/super-select-flow-clear-selected.png
  website/public/assets/components/form/super-select/super-select-flow-no-selections-select-all.png
  website/public/assets/components/form/super-select/super-select-flow-select-all.png
  website/public/assets/components/form/super-select/super-select-list-width-auto.png
  website/public/assets/components/form/super-select/super-select-list-width-matching.png
  website/public/assets/components/form/super-select/super-select-multiple-variant-footer.png
  website/public/assets/components/form/super-select/super-select-multiple-variant.png
  website/public/assets/components/form/super-select/super-select-single-multiple-footer-custom-content.png
  website/public/assets/components/form/super-select/super-select-trigger-filled.png
Labels: docs-website

fake change
  packages/components/README.md
Labels: packages/components

updating text and improving content layout
  website/docs/foundations/breakpoints/partials/guidelines/guidelines.md
  website/docs/foundations/breakpoints/partials/guidelines/overview.md
Labels: docs-website

chore: add test
  showcase/tests/integration/components/hds/modal/index-test.js
Labels: showcase

Guidelines update
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/public/assets/components/code-block/code-block-collapsed.png
  website/public/assets/components/code-block/code-block-expanded.png
Labels: docs-website

Update guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

added images
  website/public/assets/components/code-block/code-block-collapsed.png
  website/public/assets/components/code-block/code-block-expanded.png
Labels: none

Fix: Revert guidelines update
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/public/assets/components/code-block/code-block-collapsed.png
  website/public/assets/components/code-block/code-block-expanded.png
Labels: docs-website

Update Radio and Checkbox font weight in the Dropdown (#2854)
  .changeset/rude-rice-hang.md
  packages/components/src/components/hds/dropdown/list-item/checkbox.hbs
  packages/components/src/components/hds/dropdown/list-item/checkmark.hbs
  packages/components/src/components/hds/dropdown/list-item/radio.hbs
  showcase/app/templates/components/dropdown.hbs
Labels: packages/components, showcase

Update guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Try removing .js
  packages/components/src/utils/hds-resolve-link-to-component.ts
Labels: packages/components

Apply suggestions from code review
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

moved `breakpoints` file under `utils` folder per review suggestion
  packages/components/package.json
  packages/components/src/utils/hds-breakpoints.ts
  showcase/app/components/mock/demo/breakpoints-ruler.gts
  showcase/app/components/mock/demo/breakpoints-visualization.gts
Labels: packages/components, showcase

removed `appReexports` entry for `foundations` per review comment
  packages/components/rollup.config.mjs
Labels: packages/components

removed unused Sass code
  showcase/app/styles/mock-components/demo/breakpoints/colors.scss
  showcase/app/styles/mock-components/demo/breakpoints/ruler.scss
  showcase/app/styles/mock-components/demo/breakpoints/visualization.scss
Labels: showcase

Fix: Update expanded state class name
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/styles/components/code-block/index.scss
  showcase/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components, showcase

Tweak more packages
  packages/components/package.json
  pnpm-lock.yaml
  website/package.json
Labels: packages/components

Fix: Footer gradient horizontal overflow
  packages/components/src/styles/components/code-block/index.scss
Labels: packages/components

Fix: Linting
  showcase/tests/integration/components/hds/code-block/index-test.js
Labels: showcase

replaced custom breakpoint for `Pagination` component with standard `lg = 1088px` breakpoint (using `hds-breakpoint` mixin)
  packages/components/src/styles/components/pagination.scss
Labels: packages/components

replaced custom breakpoint for `Stepper::Nav` component with standard `sm` breakpoint (using `hds-breakpoint` mixin)
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

added `@breakpoint` argument and removed usage of `--hds-app-desktop-breakpoint` CSS variable and relied on `@breakpoint` argument for override of mobile breakpoint in `AppSideNav `
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/styles/components/app-side-nav/vars.scss
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  website/docs/components/app-side-nav/partials/code/how-to-use.md
Labels: docs-website, packages/components, showcase

removed usage of `--hds-app-desktop-breakpoint` CSS variable and relied on `@breakpoint` argument for override of mobile breakpoint in `AppHeader`
  packages/components/src/components/hds/app-header/index.ts
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

linked `lg` breakpoint value to `--hds-app-desktop-breakpoint` used in `SideNav`
  packages/components/src/styles/components/side-nav/vars.scss
Labels: packages/components

changeset
  .changeset/red-rice-refuse.md
Labels: none

Revert "[COMPLIANCE] Add Copyright and License Headers (#2853)"
  packages/components/src/utils/hds-resolve-link-to-component.ts
Labels: packages/components

Revert "fix(components): `LinkToExternal` & make `ember-engines` optional (#2838)"
  .changeset/tall-rings-act.md
  packages/components/package.json
  packages/components/src/components/hds/breadcrumb/item.hbs
  packages/components/src/components/hds/breadcrumb/item.ts
  packages/components/src/components/hds/interactive/index.hbs
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/utils/hds-resolve-link-to-component.ts
Labels: packages/components

`Modal`: fix issue with click outside to dismiss (#2846)
  .changeset/khaki-swans-type.md
  packages/components/src/components/hds/modal/index.hbs
  packages/components/src/components/hds/modal/index.ts
  showcase/tests/integration/components/hds/modal/index-test.js
Labels: packages/components, showcase

Adding text and images to guidelines
  website/docs/foundations/breakpoints/partials/guidelines/guidelines.md
  website/public/assets/foundations/breakpoints/breakpoints-table-example.png
Labels: docs-website

updating formatting
  website/docs/foundations/breakpoints/partials/guidelines/guidelines.md
Labels: docs-website

Added some changelog entries and generated markdown
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website, packages/components

Added the rest of the changelog and generated markdown
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

Update website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

comleted inital styling on range input
  packages/components/package.json
  packages/components/src/components/hds/form/range-slider/base.hbs
  packages/components/src/components/hds/form/range-slider/base.ts
  packages/components/src/styles/components/form/index.scss
  packages/components/src/styles/components/form/range-slider.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/form/base-elements.hbs
Labels: packages/components, showcase

resizing columns works with both the slider and the column border
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-menu/index.hbs
  packages/components/src/components/hds/advanced-table/th-menu/index.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/form/range-slider/base.hbs
  packages/components/src/components/hds/form/range-slider/base.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

resize handle extends to full height of table
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

adding a11y improvements
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/types.ts
Labels: packages/components

requiring widths for resize
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/styles/components/form/range-slider.scss
  showcase/app/controllers/components/advanced-table.js
Labels: packages/components, showcase

added column model
  packages/components/src/components/hds/advanced-table/models/column.ts
Labels: packages/components

a11y enhancements
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/th-menu/index.hbs
  packages/components/src/components/hds/advanced-table/th-menu/index.ts
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/template-registry.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
