Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

chore: add changeset
  .changeset/good-pumas-hunt.md
Labels: none

chore: update changelog
  .changeset/good-pumas-hunt.md
Labels: none

chore: add new types to textfield states showcase
  showcase/app/templates/components/form/text-input.hbs
Labels: showcase

HDS-3373 Fix issues with focus styles for interactive elements, clean up css
  packages/components/src/styles/components/side-nav/main.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3373 Clean up token naming
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3373 Refactor to use JS to control hide/show of items vs css
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Add additional tests for responsiveness, menu behavior, and a11y features
  packages/components/src/components/hds/app-header/index.ts
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Rename globalItems and utilityItems to globalActions and utilityActions
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

Small image update
  website/public/assets/components/side-nav/responsiveness.png
Labels: none

Responding to feedback and image updates
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/public/assets/components/app-header/app-header-anatomy-large.png
  website/public/assets/components/app-header/app-header-anatomy-small.png
  website/public/assets/components/app-header/app-header-user-dropdown.png
Labels: docs-website

HDS-3373 Add generated web docs for AppHeader
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/accessibility/accessibility.md
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/app-header/partials/specifications/states.md
  website/tests/acceptance/components/app-header.js
Labels: docs-website

HDS-3375 Add tech docs for AppHeader
  website/app/styles/app.scss
  website/app/styles/pages/components/app-header.scss
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
Labels: docs-website

Updating side-nav content and assets
  website/docs/components/app-header/partials/accessibility/accessibility.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/accessibility/accessibility.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/docs/components/side-nav/partials/specifications/states.md
  website/public/assets/components/app-header/app-header-focus-order.png
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-collapse-interaction.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
Labels: docs-website

Bit of grammatical cleanup
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
Labels: docs-website

HDS-3375 Update SideNav docs to add AppHeader relatd info, edit AppHeader docs for consistency
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

Added app-header illustration, updated side-nav illustration
  website/public/assets/illustrations/components/app-header.jpg
  website/public/assets/illustrations/components/side-nav.jpg
Labels: none

Added guidelines and specifications
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/app-header/partials/specifications/states.md
  website/public/assets/components/app-header/app-header-anatomy-large.png
  website/public/assets/components/app-header/app-header-anatomy-small.png
  website/public/assets/components/app-header/app-header-context-switcher.png
  website/public/assets/components/app-header/app-header-help-dropdown.png
  website/public/assets/components/app-header/app-header-hierarchy.png
  website/public/assets/components/app-header/app-header-home-link.png
  website/public/assets/components/app-header/app-header-menu.png
  website/public/assets/components/app-header/app-header-search.png
  website/public/assets/components/app-header/app-header-size-large.png
  website/public/assets/components/app-header/app-header-size-small.png
  website/public/assets/components/app-header/app-header-user-dropdown.png
Labels: docs-website

HDS-3375 Update docs to reflect updated naming for named blocks
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
Labels: docs-website

fix: changelog wording
  .changeset/good-pumas-hunt.md
Labels: none

Fix `MaskedInput` signatures
  packages/components/src/components/hds/form/masked-input/base.ts
  packages/components/src/components/hds/form/masked-input/field.ts
Labels: packages/components

Add missing component re-exports
  packages/components/src/components.ts
Labels: packages/components

a
  website/app/routes/show.js
  website/app/styles/app.scss
  website/app/templates/show-loading.hbs
Labels: none

WIP
  website/app/components/doc/page/cover.hbs
  website/app/components/doc/page/sidecar.hbs
  website/app/components/doc/page/tabs.hbs
  website/app/controllers/show.js
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/page-sections.js
  website/app/templates/show.hbs
  wiki/Website-Infrastructure.md
Labels: none

wip
  website/app/routes/show.js
  website/app/styles/app.scss
  website/app/templates/show-loading.hbs
Labels: none

fix: icon in month, week input types
  packages/components/src/styles/components/form/text-input.scss
Labels: packages/components

HDS-3375 Refactor AppHeader to eliminate duplicate globalActions to instead use CSS for responsive views, set frame header container to position sticky instead of making AppHeader position absolute
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3375 Fix issue with hovered border of disabled actions
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3375 Refactor AppHeader to eliminate duplicate globalActions to instead use CSS for responsive views, set frame header container to position sticky instead of making AppHeader position absolute
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3375 Fix issue with hovered border of disabled actions
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

Added app-header illustration, updated side-nav illustration
  website/public/assets/illustrations/components/app-header.jpg
  website/public/assets/illustrations/components/side-nav.jpg
Labels: none

Responding to feedback and image updates
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/public/assets/components/app-header/app-header-anatomy-large.png
  website/public/assets/components/app-header/app-header-anatomy-small.png
  website/public/assets/components/app-header/app-header-user-dropdown.png
Labels: docs-website

Added guidelines and specifications
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/app-header/partials/specifications/states.md
  website/public/assets/components/app-header/app-header-anatomy-large.png
  website/public/assets/components/app-header/app-header-anatomy-small.png
  website/public/assets/components/app-header/app-header-context-switcher.png
  website/public/assets/components/app-header/app-header-help-dropdown.png
  website/public/assets/components/app-header/app-header-hierarchy.png
  website/public/assets/components/app-header/app-header-home-link.png
  website/public/assets/components/app-header/app-header-menu.png
  website/public/assets/components/app-header/app-header-search.png
  website/public/assets/components/app-header/app-header-size-large.png
  website/public/assets/components/app-header/app-header-size-small.png
  website/public/assets/components/app-header/app-header-user-dropdown.png
Labels: docs-website

HDS-3375 Update SideNav docs to add AppHeader relatd info, edit AppHeader docs for consistency
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

Updating side-nav content and assets
  website/docs/components/app-header/partials/accessibility/accessibility.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/accessibility/accessibility.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/docs/components/side-nav/partials/specifications/states.md
  website/public/assets/components/app-header/app-header-focus-order.png
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-collapse-interaction.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
Labels: docs-website

HDS-3373 Add generated web docs for AppHeader
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/accessibility/accessibility.md
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/app-header/partials/specifications/states.md
  website/tests/acceptance/components/app-header.js
Labels: docs-website

Bit of grammatical cleanup
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
Labels: docs-website

HDS-3375 Add tech docs for AppHeader
  website/app/styles/app.scss
  website/app/styles/pages/components/app-header.scss
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
Labels: docs-website

Small image update
  website/public/assets/components/side-nav/responsiveness.png
Labels: none

HDS-3375 Update docs to reflect updated naming for named blocks
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
Labels: docs-website

HDS-3292 Add documentation for color usage for data visualization
  website/docs/patterns/data-visualization/color-usage/index.md
  website/docs/patterns/data-visualization/color-usage/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/color-usage/partials/guidelines/color-usage.md
  website/docs/patterns/data-visualization/color-usage/partials/guidelines/specifications.md
Labels: docs-website
