Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added example of vertical stack of cards
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

added more content to the `Flex` documentation
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

fixed linting
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

reworked the entire “How to use” section per review suggestions
  website/app/styles/pages/layouts/flex.scss
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

made changes per review suggestions
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

updated basic documentation
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

added more content to the `Flex` documentation
  website/app/styles/app.scss
  website/app/styles/pages/layouts/app-frame.scss
  website/app/styles/pages/layouts/flex.scss
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

remove the `<br>` tags in doc example
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

updated documentation to explain how to use the internal CSS variables for custom `gap` values
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

added missing documentation for `@gap` argument in `Flex`
  website/docs/layouts/flex/partials/code/component-api.md
Labels: docs-website

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

first draft doumentation for `Flex` and `Flex::Item` (mainly around the “Component API” section)
  website/docs/layouts/flex/index.js
  website/docs/layouts/flex/index.md
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
  website/docs/layouts/flex/partials/version-history/version-history.md
Labels: docs-website

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

small update
  website/docs/layouts/flex/partials/code/component-api.md
Labels: docs-website

Demonstrate dropdown re-render popover disassociation
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

Add Flex thumbnail image
  website/public/assets/illustrations/layouts/flex.jpg
Labels: none

fixing test
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: showcase

feat: add right and top indicators
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

fix: clean up styles
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

fixing test
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: showcase

fix: bugs from cleanup ~____~
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

fix: remove left for top shadow
  packages/components/src/components/hds/advanced-table/index.hbs
Labels: packages/components

chore: add changeset
  .changeset/nasty-rockets-grab.md
Labels: none

removed test that didn't work in CI
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: showcase

removed test that didn't work in CI
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: showcase

added a test for onLint
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: showcase

removed unused import
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: showcase

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

HDS-4532 Update Showcase example to set 30em min-width column vs 40em
  showcase/app/templates/layouts/grid.hbs
Labels: showcase

HDS-4532 Added columnMinWidth feature, Added Item child component, fixed issue with inline flex layout
  packages/components/package.json
  packages/components/src/components/hds/layout/grid/index.hbs
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/layout/grid/item.hbs
  packages/components/src/components/hds/layout/grid/item.ts
  packages/components/src/styles/components/layout/grid.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/layouts/grid.hbs
  showcase/tests/integration/components/hds/layout/grid/index-test.js
Labels: packages/components, showcase

Apply suggestions from code review
  packages/components/src/components/hds/layout/grid/index.hbs
  packages/components/src/components/hds/layout/grid/item.hbs
Labels: packages/components

HDS-4532 Add assertion tests
  showcase/tests/integration/components/hds/layout/grid/index-test.js
Labels: showcase

HDS-4532 Add basic grid CSS properties and Showcase examples
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/layout/grid/types.ts
  packages/components/src/styles/components/layout/grid.scss
  showcase/app/routes/layouts/grid.js
  showcase/app/templates/layouts/grid.hbs
Labels: packages/components, showcase

HDS-4532 Add test for columnMinWidth
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/styles/components/layout/grid.scss
  showcase/tests/integration/components/hds/layout/grid/index-test.js
Labels: packages/components, showcase

HDS-4532 Set up files for Grid component
  packages/components/package.json
  packages/components/src/components/hds/layout/grid/index.hbs
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/styles/components/layout/grid.scss
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/components/layout/grid.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/layout/grid.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/grid.hbs
  showcase/tests/acceptance/components/hds/layout/grid.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/layout/grid/index-test.js
Labels: packages/components, showcase

HDS-4532 Code & Showcase examples clean up from feedback
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/layout/grid/item.hbs
  packages/components/src/components/hds/layout/grid/item.ts
  packages/components/src/components/hds/layout/grid/types.ts
  showcase/app/templates/layouts/grid.hbs
Labels: packages/components, showcase

HDS-4532 Add comments to explain how gap values are defined in the CSS
  packages/components/src/styles/components/layout/grid.scss
Labels: packages/components

HDS-4532 Clan up css to remove redundant gap custom property
  packages/components/src/styles/components/layout/grid.scss
Labels: packages/components
