Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

Guidelines.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/public/assets/components/copy/copy-button-placement-do.png
  website/public/assets/components/copy/copy-button-placement-dont.png
  website/public/assets/components/copy/copy-snippet-do.png
  website/public/assets/components/copy/copy-snippet-dont.png
  website/public/assets/components/copy/copy-snippet-overuse.png
  website/public/assets/components/copy/copy-snippet-usage-example.png
Labels: docs-website

Guidelines.md
  website/public/assets/components/copy/copy-snippet-do.png
  website/public/assets/components/copy/copy-snippet-dont.png
Labels: none

HDS-1302 Add new layout argument with horizontal option for Doc::Cards
  website/app/components/doc/cards/card.js
  website/app/components/doc/cards/deck.hbs
  website/app/styles/doc-components/cards/card.scss
  website/app/templates/show.hbs
Labels: none

Guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/public/assets/components/copy/copy-snippet-usage-example-2.png
Labels: docs-website

Guidlines.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/public/assets/components/copy/copy-button-placement-do.png
Labels: docs-website

renamed some media queries (and fixed some declarations accordingly)
  website/app/styles/breakpoints/index.scss
  website/app/styles/doc-components/font-helpers-list.scss
  website/app/styles/doc-components/icons-list/index.scss
  website/app/styles/doc-components/tokens-list/index.scss
  website/app/styles/pages/about/principles.scss
  website/app/styles/pages/application/cover.scss
  website/app/styles/pages/application/error.scss
  website/app/styles/pages/application/footer.scss
  website/app/styles/pages/application/header.scss
  website/app/styles/pages/application/sidebar.scss
  website/app/styles/pages/application/tabs.scss
  website/app/styles/pages/home.scss
Labels: none

updated “Component API” component and styling according to new design specs
  website/app/components/doc/component-api/property.hbs
  website/app/styles/doc-components/component-api.scss
Labels: none

fix (again!) the interactivity of the sidenav links when in “minimized” state
  packages/components/app/styles/components/side-nav/main.scss
Labels: packages/components

changeset
  .changeset/good-ads-worry.md
Labels: none

added styles to allow non-breaking text to wrap
  packages/components/addon/components/hds/page-header/title.hbs
  packages/components/app/styles/components/page-header.scss
  packages/components/tests/dummy/app/templates/components/page-header.hbs
Labels: packages/components

fixed tests with the new class name
  packages/components/tests/integration/components/hds/page-header/index-test.js
Labels: packages/components

changeset
  .changeset/khaki-news-tie.md
Labels: none

HDS-1302 Delete old bullet lists of related items
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/guidelines/guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/badge-count/partials/guidelines/guidelines.md
  website/docs/components/badge/partials/guidelines/guidelines.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
  website/docs/components/form/radio/partials/guidelines/guidelines.md
  website/docs/components/form/select/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/docs/components/form/toggle/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/docs/components/reveal/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/partials/guidelines/guidelines.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/docs/components/tooltip/partials/guidelines/guidelines.md
Labels: docs-website

update office hours verbiage to match new process
  website/docs/about/support.md
Labels: docs-website

renamed classes following code review suggestion
  packages/components/addon/components/hds/page-header/index.hbs
  packages/components/addon/components/hds/page-header/title.hbs
  packages/components/app/styles/components/page-header.scss
  packages/components/tests/integration/components/hds/page-header/index-test.js
Labels: packages/components

HDS-1302 add conditional for displaying related items content
  website/app/templates/show.hbs
Labels: none

Copy component, initial commit
  packages/components/addon/components/hds/copy/button/index.hbs
  packages/components/addon/components/hds/copy/button/index.js
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/components/hds/copy/button/index.js
  packages/components/app/components/hds/copy/index.js
  packages/components/app/components/hds/copy/snippet/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/copy/button.scss
  packages/components/app/styles/components/copy/index.scss
  packages/components/app/styles/components/copy/snippet.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/copy/button.js
  packages/components/tests/dummy/app/routes/components/copy/snippet.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/copy.scss
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/styles/showcase-pages/copy/snippet.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

refactor copy/snippet
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

Update packages/components/app/styles/components/copy/snippet.scss
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

add more tests (for documented features)
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

move ember-cli-clipboard to dependency
  packages/components/package.json
Labels: packages/components

Update packages/components/app/styles/components/copy/snippet.scss
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

implement component(s)
  packages/components/addon/components/hds/copy/button/index.hbs
  packages/components/addon/components/hds/copy/button/index.js
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/button.scss
  packages/components/app/styles/components/copy/snippet.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/routes/components/copy/button.js
  packages/components/tests/dummy/app/routes/components/copy/snippet.js
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

initial add of tests
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

remove options we're not offering (per feedback)
  packages/components/addon/components/hds/copy/button/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.hbs
Labels: packages/components

Update packages/components/app/styles/components/copy/button.scss
  packages/components/app/styles/components/copy/button.scss
Labels: packages/components

make the copy/snippet styles a little more stable
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

fixed specific colors, tidied up code
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

Updated image sizing for alignment
  website/public/assets/patterns/button-organization/alignment-methods.png
Labels: none

update office hours verbiage to match new process (#1517)
  website/docs/about/support.md
Labels: docs-website

Run Copy docs blueprint
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/accessibility/accessibility.md
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/button/partials/code/how-to-use.md
  website/docs/components/copy/button/partials/code/showcase.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/components/copy/button/partials/guidelines/overview.md
  website/docs/components/copy/button/partials/specifications/anatomy.md
  website/docs/components/copy/button/partials/specifications/states.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/accessibility/accessibility.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/code/showcase.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/overview.md
  website/docs/components/copy/snippet/partials/specifications/anatomy.md
  website/docs/components/copy/snippet/partials/specifications/states.md
Labels: docs-website

Add component api and how to use for copy/button
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/button/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

Update guidelines.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
Labels: docs-website

Update guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
Labels: docs-website

Guidelines.md
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/components/copy/button/partials/guidelines/overview.md
  website/docs/components/copy/button/partials/specifications/anatomy.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/overview.md
  website/docs/components/copy/snippet/partials/specifications/anatomy.md
  website/public/assets/components/copy/copy-button-anatomy.png
  website/public/assets/components/copy/copy-snippet-anatomy.png
  website/public/assets/illustrations/components/copy-button.jpg
  website/public/assets/illustrations/components/copy-snippet.jpg
Labels: docs-website

add copy/button a11y doc
  website/docs/components/copy/button/partials/accessibility/accessibility.md
Labels: docs-website

markdown linting
  website/docs/components/copy/button/partials/guidelines/guidelines.md
Labels: docs-website

add copy/snippet a11y docs
  website/docs/components/copy/snippet/partials/accessibility/accessibility.md
Labels: docs-website

markdown linting, removed empty related
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/copy/snippet/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website
