Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Fix: Address code feedback
  packages/components/src/components/hds/stepper/nav/index.ts
Labels: packages/components

Feat: Nav - set `isInteractive` default value to `true`
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Address style color feedback
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Chore: Showcase linting
  showcase/app/controllers/components/stepper/nav.js
Labels: showcase

[Fix] Comment typo
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
Labels: showcase

Fix: Address feedback from pr
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
  showcase/app/styles/showcase-pages/stepper/nav.scss
  showcase/app/templates/components/stepper/nav.hbs
Labels: packages/components, showcase

Fix: Conditionally render named blocks
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/nav/step.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Fix: Nav mobile remove first step padding top
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: List progress bar visiblity
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components

Fix: Nav sr only text placement
  packages/components/src/components/hds/stepper/nav/step.hbs
Labels: packages/components

Fix: Address a11y feedback
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/types.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: showcase

Fix: Step ordering issue when steps added or removed
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  showcase/app/controllers/components/stepper/nav.js
Labels: packages/components, showcase

Fix: Use static position for nav mobile indicators
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Chore: component linting
  packages/components/src/components/hds/stepper/nav/index.ts
Labels: packages/components

Feat: Style updates for nav interactive indicator
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
Labels: packages/components

Fix: Nav style and animation bugs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: `List::Step` status set to optional
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

Fix: Set description color on list
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components

`Textarea` - Fix charcount margin (HDS-4680) (#2783)
  .changeset/tiny-radios-suffer.md
  packages/components/src/styles/components/form/field.scss
Labels: packages/components

feat: start sticky column
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

wip
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

sort of working sticky column
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

separate pinned header styles for column vs header
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

chore: lint
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

fix: improve styles
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

add right scroll indicator
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

all the indicators
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

temp
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

feat: sticky column lookin' good
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

fix: failing tests
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: showcase

chore: comment out js right scroll indicator
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fixed focus issue
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

Pin `flight-icon` version
  pnpm-lock.yaml
  website/package.json
Labels: none

added support for `@isInline` argument
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

updated template registry for `components` package
  packages/components/src/template-registry.ts
Labels: packages/components

added support for `@wrap` argument
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

initial blueprint generation + cleanup after generation
  packages/components/package.json
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/layout/flex.scss
  packages/components/src/styles/components/layout/index.scss
  showcase/app/router.ts
  showcase/app/routes/layouts/flex.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/flex.hbs
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/layout/flex/index-test.js
Labels: packages/components, showcase

added support for `@direction` argument
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/types.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

added support for `@tag` argument to support dynamic tag generation
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/components/hds/layout/flex/index.ts
Labels: packages/components
