Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Fix: Address style color feedback
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: Prevent steps from getting set to complete initially
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Feat: Design style alignment
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: packages/components, showcase

Fix: Address design feedback
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

Fix: Address a11y feedback
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/types.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Feat: Style updates for nav interactive indicator
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
Labels: packages/components

Feat: Separate stepper showcase to sub pages
  showcase/app/controllers/components/stepper/nav.js
  showcase/app/router.ts
  showcase/app/routes/components/stepper/indicator.js
  showcase/app/routes/components/stepper/list.js
  showcase/app/routes/components/stepper/nav.js
  showcase/app/templates/components/stepper/indicator.hbs
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/stepper/indicator-test.js
  showcase/tests/acceptance/components/hds/stepper/list-test.js
  showcase/tests/acceptance/components/hds/stepper/nav-test.js
  showcase/tests/acceptance/percy-test.js
Labels: showcase

Fix: Add showcase list examples and cleanup
  showcase/app/controllers/components/stepper/list.js
  showcase/app/controllers/components/stepper/nav.js
  showcase/app/routes/components/stepper/indicator.js
  showcase/app/routes/components/stepper/list.js
  showcase/app/routes/components/stepper/nav.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/styles/showcase-pages/stepper/list.scss
  showcase/app/styles/showcase-pages/stepper/nav.scss
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
Labels: showcase

Fix: Align class names in List
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components

Fix: Address code feedback
  packages/components/src/components/hds/stepper/nav/index.ts
Labels: packages/components

Feat: Rename `Stepper::Navigation` to `Stepper::Nav`
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/template-registry.ts
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Feat: Move isInteractive from `Navigation::Step` to `Navigation`, have currentStep determine step status
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Fix: Address a11y feedback
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  showcase/tests/acceptance/components/hds/stepper/indicator-test.js
  showcase/tests/acceptance/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: showcase active state and a11y automated tests
  showcase/app/templates/components/stepper.hbs
  showcase/tests/acceptance/components/hds/stepper-test.js
Labels: showcase

Fix: List failing test
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: showcase

Feat: Assertion for number of panels and steps
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Feat: Nav - set `isInteractive` default value to `true`
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

added a sentence about selection order
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

linting logic is in
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components

working on styline the linting elements
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

json linting works pretty well
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

working on linting
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

enable the minimum height of the editor only if linting is enabled
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

updating styles for linting drawer
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

added unit tests for linting methods
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: packages/components, showcase

cleaning up after debugging linting issues
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

fixed linting drawer display issue
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

updating docs
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

cleaned up PR
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
Labels: packages/components

Apply suggestions from code review
  .changeset/odd-flowers-heal.md
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

Add `lintGutter`
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

cleaning up types and imports
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components

styling the selected panel
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

increased close button size
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: packages/components, showcase

added changeset
  .changeset/odd-flowers-heal.md
Labels: none

working on documentation
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website, packages/components, showcase

pr cleanup
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

cleaned up PR
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
Labels: packages/components

working on initial linting plugin
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  pnpm-lock.yaml
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase
