Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

added missing return type
  packages/components/src/modifiers/hds-register-event.ts
Labels: packages/components

small tweak based on code review suggestion
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

fixed import paths for `modifiers/hds-anchored-position` in `SuperSelect` component
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/single/base.js
Labels: packages/components

renamed `hds-anchored-position.js` to `hds-anchored-position.ts`
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

added types to `hds-anchored-position.ts`
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

added the modifier to the `template-registry.ts` file
  packages/components/src/template-registry.ts
Labels: packages/components

changeset
  .changeset/loud-coats-reply.md
Labels: none

fix: add correct file extension
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

updated import of the modifier in `PopoverPrimitive`
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

added missing return types
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

Fix returned type for `customColor` getter
  packages/components/src/components/hds/text/index.ts
Labels: packages/components

renamed `popover-primitive/index.js` to `popover-primitive/index.ts`
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

run the command `npx ember-codemod-args-to-signature --src src/components/hds/popover-primitive`
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

added signature for anchoredPositionOptions
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/modifiers/hds-anchored-position.ts
Labels: packages/components

add patch for `ember-modifier`
  .yarn/patches/ember-modifier-npm-4.1.0-3cc235307c.patch
  package.json
  yarn.lock
Labels: none

added `.ts` extensions to “helpers” imports in `template-registry.ts` file
  packages/components/src/template-registry.ts
Labels: packages/components

added missing optionality on `args`
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

fix signature
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

updated import of `PLACEMENTS` constant
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.js
  showcase/app/routes/components/rich-tooltip.js
  showcase/app/routes/utilities/popover-primitive.js
Labels: packages/components, showcase

remove `arrowElement` from yielding because it doesn’t exist
  packages/components/src/components/hds/popover-primitive/index.hbs
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: docs-website, packages/components

updated signature of PopoverPrimitive
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.js
  packages/components/src/template-registry.ts
Labels: packages/components

changeset
  .changeset/giant-eagles-agree.md
Labels: none

yarn.lock update
  yarn.lock
Labels: none

removed `{ eager: true }` from modifiers
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

removed patch for `ember-modifier`
  .yarn/patches/ember-modifier-npm-4.1.0-3cc235307c.patch
  package.json
  yarn.lock
Labels: none

Update `onKeyUp` logic to align on returned type
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

changeset
  .changeset/nasty-fireants-wash.md
Labels: none

renamed `RichTooltip` files from `.js` to `.ts`
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

added types to `RichTooltip` component/sub-components
  packages/components/src/components/hds/rich-tooltip/bubble.hbs
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.hbs
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
  packages/components/src/components/hds/rich-tooltip/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

run the command `npx ember-codemod-args-to-signature --src src/components/hds/ rich-tooltip`
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

Fix type names in `HdsBadgeCount`
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/components/hds/badge-count/types.ts
Labels: packages/components

Add return type to `onDismiss` functions
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/tag/index.ts
Labels: packages/components

Ensuring more repo package consistency
  packages/flight-icons/package.json
  showcase/package.json
  website/package.json
Labels: packages/flight-icons, showcase

applied code review suggestions
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

added missing return types
  packages/components/src/components/hds/rich-tooltip/bubble.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.ts
Labels: packages/components

added a changet
  .changeset/fuzzy-suits-call.md
Labels: none

load sprites if they have not been loaded in another initializer
  packages/components/addon-main.cjs
  packages/components/package.json
  packages/components/src/instance-initializers/load-sprite.ts
  yarn.lock
Labels: packages/components

fix ember-qunit version
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

updated the sprite loader in ember-flight-icons to only run once
  packages/components/src/instance-initializers/load-sprite.ts
  packages/ember-flight-icons/src/instance-initializers/load-sprite.js
Labels: packages/components, packages/ember-flight-icons

updated import of the modifier in `PopoverPrimitive`
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
