Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Update new-teachers-pay.md
  .changeset/new-teachers-pay.md
Labels: none

more link updates
  .github/pull_request_template.md
  .github/workflows/open-pull-request-for-icon-update.yml
Labels: none

Update website/docs/components/side-nav/partials/version-history/4.10.0.md
  website/docs/components/side-nav/partials/version-history/4.10.0.md
Labels: docs-website

Update showcase/app/styles/showcase-pages/side-nav.scss
  showcase/app/styles/showcase-pages/side-nav.scss
Labels: showcase

`SideNav` - Deprecate `SideNav::Header::IconButton` (HDS-3770 ) (#2354)
  .changeset/new-teachers-pay.md
  packages/components/src/components/hds/side-nav/header/icon-button.hbs
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  showcase/app/routes/components/side-nav.js
  showcase/app/styles/showcase-pages/side-nav.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/version-history/4.10.0.md
Labels: docs-website, packages/components, showcase

updated title of “Component API” section for `Card` component
  website/docs/components/card/partials/code/component-api.md
Labels: docs-website

feat: label accordion item toggles by the title text
  packages/components/src/components/hds/accordion/item/button.hbs
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

chore: add changeset
  .changeset/khaki-bats-admire.md
Labels: none

fix: duplicated docs example
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/breadcrumb/partials/code/how-to-use.md
Labels: docs-website

fix: updated relevant palette colors to semantic colors
  packages/components/src/styles/components/stepper/task-indicator.scss
Labels: packages/components

Add changeset
  .changeset/silent-dolls-unite.md
Labels: none

fix: remove flyout and modal instances in design guidelines
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/public/assets/components/modal/modal-body-content.png
  website/public/assets/components/modal/modal-color-critical.png
  website/public/assets/components/modal/modal-color-neutral.png
  website/public/assets/components/modal/modal-color-warning.png
  website/public/assets/components/modal/modal-sizes.png
  website/tests/acceptance/components/flyout-test.js
  website/tests/acceptance/components/modal-test.js
Labels: docs-website

removed percy-related code in the website
  website/app/styles/app.scss
Labels: none

fix: update tokens to match design
  .changeset/long-moles-sneeze.md
  packages/components/src/styles/components/badge-count.scss
Labels: packages/components

Update long-moles-sneeze.md
  .changeset/long-moles-sneeze.md
Labels: none

fix: use correct colors
  .changeset/popular-shoes-tease.md
  packages/components/src/styles/components/badge.scss
Labels: packages/components

Update ci-compress-images.yml
  .github/workflows/ci-compress-images.yml
Labels: none

fix: add tokens to list of directories to check for changed files
  .github/workflows/ci-components.yml
Labels: none

BAD TOKEN CHANGE
  packages/tokens/src/global/color/palette-neutrals.json
Labels: packages/tokens

another bad token change
  packages/tokens/src/global/color/palette-neutrals.json
Labels: packages/tokens

fix: breadcrumb truncation token usage
  .changeset/fuzzy-buses-mate.md
  packages/components/src/styles/components/breadcrumb.scss
Labels: packages/components

compressed image assets
  website/public/assets/components/modal/modal-body-content.png
  website/public/assets/components/modal/modal-color-critical.png
  website/public/assets/components/modal/modal-color-neutral.png
  website/public/assets/components/modal/modal-color-warning.png
  website/public/assets/components/modal/modal-sizes.png
Labels: none

HDS-3672 Add default value of #main for SideNav a11yRefocusSkipTo and remove unneeded assertion, update related tests
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components, showcase

HDS-3672 Remove unneeded argument from test
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: showcase

HDS-3672 Update documentation related to a11yRefocusSkipTo and id values
  packages/components/src/components/hds/app-frame/parts/main.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
Labels: docs-website, packages/components, showcase

HDS-3672 Change default value of a11yRefocusSkipTo and associated id from 'main' to 'hds-main'
  packages/components/src/components/hds/app-frame/parts/main.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website, packages/components, showcase

HDS-3672 Add changelog
  .changeset/famous-garlics-fetch.md
Labels: none

Update famous-garlics-fetch.md
  .changeset/famous-garlics-fetch.md
Labels: none

feat(components): simplify reexport and add type reexport example
  packages/components/src/components.ts
Labels: packages/components

added missing sub-components + remove deprecated sub-components
  packages/components/src/components.ts
Labels: packages/components

re-organized some content
  packages/components/src/components.ts
Labels: packages/components

add changeset
  .changeset/fifty-kiwis-impress.md
Labels: none

feat(components): simplify components reexport and add types reexport (#2320)
  .changeset/fifty-kiwis-impress.md
  packages/components/src/components.ts
Labels: packages/components

feat(components): reexport icon names
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/components/hds/icon/types.ts
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

Remove `@glint-nocheck` from `RichTooltip::Toggle`
  packages/components/src/components/hds/rich-tooltip/toggle.hbs
Labels: packages/components

Remove `@glint-nocheck` from `DismissButton`
  packages/components/src/components/hds/dismiss-button/index.hbs
Labels: packages/components

Remove `@glint-nocheck` from `RadioCard::Group`
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/components/hds/form/fieldset/types.ts
  packages/components/src/components/hds/form/radio-card/group.hbs
  packages/components/src/utils/hds-aria-described-by.ts
Labels: packages/components

Add changelog entry
  .changeset/clean-tigers-promise.md
Labels: none

Switch from intersection to union type for `AriaDescribedByArgs`
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/utils/hds-aria-described-by.ts
Labels: packages/components

fix: remove the word component from hds component blueprint
  showcase/blueprints/hds-component/files/src/components/hds/__name__/index.ts
Labels: showcase
