Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

recommitting correct ignore
  packages/components/.gitignore
  packages/ember-flight-icons/.gitignore
Labels: packages/components, packages/ember-flight-icons

ensuring that the sprite is not added more than once
  packages/components/addon-main.cjs
  packages/ember-flight-icons/addon-main.cjs
Labels: packages/components, packages/ember-flight-icons

updating flight-icons package
  packages/components/package.json
  yarn.lock
Labels: packages/components

prettier & eslint-plugin-prettier package updates
  website/.eslintrc.js
  website/.prettierrc.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelFooter.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelNoResults.js
  website/app/components/dynamic-template-error.js
  website/app/components/dynamic-template.js
  website/app/initializers/showdown-extensions.js
  website/app/routes/application.js
  website/package.json
  yarn.lock
Labels: none

prettier 3 upgrade for showcase
  showcase/.eslintrc.js
  showcase/.prettierrc.js
  showcase/.template-lintrc.js
  showcase/package.json
  showcase/types/global.d.ts
  yarn.lock
Labels: showcase

Upgrade flight-icons package to prettier 3.3.2
  packages/flight-icons/package.json
  packages/flight-icons/scripts/build-parts/generateBundleSVG.ts
  packages/flight-icons/scripts/build-parts/generateBundleSVGReact.ts
  packages/flight-icons/scripts/build-parts/getCssForIconAnimation.ts
  yarn.lock
Labels: packages/flight-icons

update prettier config to match existing
  packages/flight-icons/scripts/build-parts/generateBundleSVGReact.ts
Labels: packages/flight-icons

codemods prettier package updates and lint fixes
  packages/codemods/package.json
  packages/codemods/transforms/v3/dropdown/index.js
  packages/codemods/transforms/v3/dropdown/test.js
  packages/codemods/transforms/v3/masked-input/index.js
  packages/codemods/transforms/v3/masked-input/test.js
  packages/codemods/transforms/v3/radio-card/test.js
  packages/codemods/transforms/v3/side-nav/index.js
  packages/codemods/transforms/v3/side-nav/test.js
  yarn.lock
Labels: none

Update ember-flight-icons to latest prettier packages
  packages/ember-flight-icons/.prettierrc.cjs
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

update packages/components repo to prettier 3.3.2
  packages/components/.eslintrc.cjs
  packages/components/.prettierrc.cjs
  packages/components/.template-lintrc.cjs
  packages/components/package.json
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/form/error/index.hbs
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/fieldset/index.hbs
  packages/components/src/components/hds/form/radio-card/index.hbs
  packages/components/src/components/hds/page-header/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/helpers/hds-link-to-models.ts
  yarn.lock
Labels: packages/components

Adding missed update to ember-template-lint packages in Website Repo
  website/.template-lintrc.js
  website/package.json
  yarn.lock
Labels: none

strict typings for entire config here
  packages/flight-icons/scripts/build-parts/generateBundleSVGReact.ts
Labels: packages/flight-icons

Ensure ember lint rules are consistent across repos
  packages/components/.template-lintrc.cjs
  packages/ember-flight-icons/.template-lintrcc.cjs
  showcase/.template-lintrc.js
  website/.template-lintrc.js
Labels: packages/components, packages/ember-flight-icons, showcase

fix ember-qunit version
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

Update packages/flight-icons/scripts/build-parts/generateBundleSVG.ts
  packages/flight-icons/scripts/build-parts/generateBundleSVG.ts
Labels: packages/flight-icons

Ensuring more repo package consistency
  packages/flight-icons/package.json
  showcase/package.json
  website/package.json
Labels: packages/flight-icons, showcase

Update packages/flight-icons/scripts/build-parts/generateBundleSVGReact.ts
  packages/flight-icons/scripts/build-parts/generateBundleSVGReact.ts
Labels: packages/flight-icons

Lint updates
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/helpers/hds-link-to-query.ts
Labels: packages/components

update packages/components repo to prettier 3.3.2
  packages/components/.template-lintrc.cjs
Labels: packages/components

Ensure ember lint rules are consistent across repos
  packages/components/.template-lintrc.cjs
Labels: packages/components

updated `Doc::Badge` component to support new variants
  website/app/components/doc/badge/index.js
  website/app/styles/doc-components/badge.scss
  website/docs/testing/components/badge.md
Labels: docs-website

Adjust content padding and border for nested flush accordions
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Add `@size` argument
  packages/components/src/components/hds/accordion/index.hbs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/button.hbs
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
  packages/components/src/styles/components/accordion.scss
  showcase/app/routes/components/accordion.js
  showcase/app/templates/components/accordion.hbs
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Add more bespoke padding/spacing on various sizes
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Add exception to automated a11y testing
  showcase/tests/acceptance/components/hds/accordion-test.js
Labels: showcase

Add changelog entry
  .changeset/tiny-shrimps-flash.md
Labels: none

Apply suggestions from code review
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/styles/components/accordion.scss
  showcase/tests/acceptance/components/hds/accordion-test.js
Labels: packages/components, showcase

Reorder showcase sections
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Refactor CSS to make use of scoped variables
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Add flush example with generic content in toggle
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Add tests for `@size` and `@type` at parent and item levels
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: showcase

Refactor `isStatic` to render a hidden button
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/styles/components/accordion.scss
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Style adjustments based on feedback
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Adjustments to `Accordion::Item::Button`
  packages/components/src/components/hds/accordion/item/button.hbs
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/styles/components/accordion.scss
  showcase/app/styles/showcase-pages/accordion.scss
  showcase/app/templates/components/accordion.hbs
Labels: packages/components, showcase

Add mixed nested examples
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Fix `Accordion::Item::Button` size after refactor
  packages/components/src/styles/components/accordion.scss
  showcase/app/templates/components/accordion.hbs
Labels: packages/components, showcase

Adjust focus state for 'flush' variant
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Adjustments for nested flush accordions
  packages/components/src/styles/components/accordion.scss
  showcase/app/templates/components/accordion.hbs
Labels: packages/components, showcase

Replace Sass variables with CSS variables
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Add `@isStatic` argument
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/styles/components/accordion.scss
  showcase/app/templates/components/accordion.hbs
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase
