Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

fixing test
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: showcase

added missing dependency to showcase for tests
  pnpm-lock.yaml
  showcase/package.json
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: showcase

cleaned up PR
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
Labels: packages/components

cleaned up PR
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
Labels: packages/components

fixed linting drawer display issue
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

revert changest to website
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

working on documentation
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website, packages/components, showcase

added changeset
  .changeset/odd-flowers-heal.md
Labels: none

json linting works pretty well
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

working on the json linter
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  pnpm-lock.yaml
Labels: packages/components

working on documentation
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website, packages/components

working on the json linter
  pnpm-lock.yaml
Labels: none

making website code updates
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

Update to add images and tweak copy
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/code-editor-linting-preview-dialog.png
  website/public/assets/components/code-editor/code-editor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/code-editor-linting-preview.png
Labels: docs-website

Addition of callout
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

re-removed additional info item
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Updates to image quality and accepting comment edits
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/code-editor-linting-preview-dialog.png
  website/public/assets/components/code-editor/code-editor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/code-editor-linting-preview.png
  website/public/assets/components/code-editor/codeeditor-linting-preview-dialog.png
  website/public/assets/components/code-editor/codeeditor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/codeeditor-linting-preview.png
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update to image and info callout
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/codeeditor-linting-preview-tooltip.png
Labels: docs-website

working on the json linter
  pnpm-lock.yaml
Labels: none

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

fixed spelling error
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

Update guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Troubleshooting images
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Adding links to CodeMirror and support
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

fixing mistaken code changes
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

revert lock change
  pnpm-lock.yaml
Labels: none

working to this point
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
Labels: packages/components

wip
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

individual row expansion works
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

simplifying default getters
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
Labels: packages/components

tracking table expansion state
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

working to this point
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
Labels: packages/components

stripped out old toggle all code (broken state)
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

moving row state to model
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
Labels: packages/components
