Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Upgrade `@typescript-eslint` dependencies
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/package.json
  packages/tokens/package.json
  showcase/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Fix empty signature in `Dropdown::Toggle::Chevron`
  packages/components/src/components/hds/dropdown/toggle/chevron.ts
Labels: packages/components

Forward error to warning
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

chore: remove existing statuses from before 4.9.0
  website/docs/components/app-header/index.md
  website/docs/components/application-state/index.md
  website/docs/components/badge/index.md
  website/docs/components/flyout/index.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/modal/index.md
  website/docs/components/side-nav/index.md
  website/docs/utilities/dialog-primitive/index.md
Labels: docs-website

fix: make tests more resilient for when alert has an updated badge in the sidebar
  website/tests/acceptance/component-query-test.js
Labels: none

chore: add updated metadata and version history to changed components
  website/docs/components/accordion/index.md
  website/docs/components/accordion/partials/version-history/4.10.0.md
  website/docs/components/alert/index.md
  website/docs/components/alert/partials/version-history/4.10.0.md
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/version-history/4.10.0.md
  website/docs/components/application-state/index.md
  website/docs/components/application-state/partials/version-history/4.10.0.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/breadcrumb/partials/version-history/4.10.0.md
  website/docs/components/card/index.md
  website/docs/components/card/partials/version-history/4.10.0.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/4.10.0.md
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.10.0.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/4.10.0.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.10.0.md
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/version-history/4.10.0.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/version-history/4.10.0.md
  website/docs/components/table/index.md
  website/docs/components/table/partials/version-history/4.10.0.md
  website/docs/layouts/app-frame/index.md
  website/docs/layouts/app-frame/partials/version-history/4.10.0.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/version-history/4.10.0.md
Labels: docs-website

Added a video showcasing the interaction of an autodismissing toast
  website/docs/components/toast/partials/guidelines/guidelines.md
  website/public/assets/components/toast/toast-video-auto-dismiss.mp4
Labels: docs-website

added cross reference between critical toast section and persist vs timeout section. also added an image
  website/docs/components/toast/partials/guidelines/guidelines.md
  website/public/assets/components/toast/toast-persist-critical-retry.png
Labels: docs-website

addressing pr feedback
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/toast/partials/guidelines/guidelines.md
Labels: docs-website

Require routing param for controlled pagination (#2400)
  .changeset/tidy-phones-rest.md
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  showcase/tests/integration/components/hds/pagination/compact-test.js
  showcase/tests/integration/components/hds/pagination/numbered-test.js
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: docs-website, packages/components, showcase

Updated icon colors to correspond with interactive states
  packages/components/src/styles/components/copy/button.scss
Labels: packages/components

Updated to use semantic token in the Stepper::Step::Indicator
  packages/components/src/styles/components/stepper/step-indicator.scss
Labels: packages/components

Changeset
  .changeset/friendly-balloons-fetch.md
Labels: none

Added a declaration to prevent the icon color from adhering to the interactive state when status is success or error
  packages/components/src/styles/components/copy/snippet.scss
Labels: packages/components

Update changeset
  .changeset/friendly-balloons-fetch.md
Labels: none

Removed unused CSS and resolved repetitive :not() statements
  packages/components/src/styles/components/copy/snippet.scss
Labels: packages/components

compressed image assets
  website/public/assets/components/toast/toast-colors.png
  website/public/assets/components/toast/toast-do-non-intrusive-notification.png
  website/public/assets/components/toast/toast-do-system-notifications.png
  website/public/assets/components/toast/toast-dont-intrusive-message.png
  website/public/assets/components/toast/toast-dont-validation-messages.png
  website/public/assets/components/toast/toast-icon-neutral-and-success.png
  website/public/assets/components/toast/toast-persist-critical-retry.png
Labels: none

refining implementation
  packages/components/src/components/hds/table/index.hbs
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/table/tr.hbs
  packages/components/src/components/hds/table/tr.ts
  showcase/app/templates/components/table.hbs
Labels: packages/components, showcase

addressing pr feedback
  packages/components/src/components/hds/table/index.ts
Labels: packages/components

removed dynamic classname
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.ts
Labels: packages/components

fixing failing tests
  showcase/tests/integration/components/hds/table/tr-test.js
Labels: showcase

fixed failing test
  showcase/tests/integration/components/hds/table/tr-test.js
Labels: showcase

fixing bad example
  showcase/app/templates/components/table.hbs
Labels: showcase

removed second example
  showcase/app/controllers/components/table.js
  showcase/app/templates/components/table.hbs
Labels: showcase

custom sort by selected works well
  showcase/app/controllers/components/table.js
Labels: showcase

addressing linting issue
  packages/components/src/components/hds/table/index.hbs
  packages/components/src/components/hds/table/th-selectable.hbs
Labels: packages/components

fixing aria issues
  packages/components/src/components/hds/table/th-selectable.hbs
Labels: packages/components

simplified the api a bit
  packages/components/src/components/hds/table/index.hbs
  packages/components/src/components/hds/table/th-selectable.ts
  showcase/app/templates/components/table.hbs
Labels: packages/components, showcase

preserving some deleted doc comments
  packages/components/src/components/hds/table/th-button-sort.ts
  packages/components/src/components/hds/table/th-button-tooltip.ts
Labels: packages/components

adding showcase example
  packages/components/src/components/hds/table/th-selectable.ts
  showcase/app/controllers/components/table.js
  showcase/app/templates/components/table.hbs
Labels: packages/components, showcase

fixing test
  showcase/tests/integration/components/hds/table/tr-test.js
Labels: showcase

adding test to table for sorting by selected
  showcase/tests/integration/components/hds/table/index-test.js
Labels: showcase

remove doc updates
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.ts
  website/docs/components/table/index.js
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website, packages/components

responding to pr feedback
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/table/th-sort.ts
Labels: packages/components

addressing ts error
  packages/components/src/components/hds/table/tr.hbs
Labels: packages/components

trying new approach
  packages/components/src/components/hds/table/index.hbs
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/table/tr.hbs
  packages/components/src/components/hds/table/tr.ts
  packages/components/src/components/hds/table/types.ts
Labels: packages/components

adding showcase demo
  showcase/app/controllers/components/table.js
  showcase/app/routes/components/table.js
  showcase/app/templates/components/table.hbs
Labels: showcase

responding to PR feedback
  showcase/app/controllers/components/table.js
  showcase/app/templates/components/table.hbs
Labels: showcase

responding to pr feedback. added changeset
  .changeset/large-spiders-protect.md
  packages/components/src/components/hds/table/index.hbs
Labels: packages/components
