Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3800 Update references to versioning
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/version-history/4.10.0.md
  website/docs/components/app-side-nav/partials/version-history/4.14.0.md
Labels: docs-website

`AppSideNav` - Web docs (HDS-3807) (#2410)
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/accessibility/accessibility.md
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/guidelines.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
  website/docs/components/app-side-nav/partials/specifications/anatomy.md
  website/docs/components/app-side-nav/partials/version-history/4.10.0.md
  website/public/assets/components/app-side-nav/app-side-nav-anatomy.png
  website/public/assets/components/app-side-nav/app-side-nav-collapse-interaction.png
  website/public/assets/components/app-side-nav/app-side-nav-overlay-small-viewport.png
  website/public/assets/components/app-side-nav/app-side-nav-position-and-responsive.png
  website/public/assets/components/app-side-nav/custom-content-body.png
  website/public/assets/components/app-side-nav/list-item-with-badge.png
  website/public/assets/components/app-side-nav/list-item-with-count.png
  website/public/assets/components/app-side-nav/list-item-with-external-link.png
  website/public/assets/components/app-side-nav/list-item-with-icon-do.png
  website/public/assets/components/app-side-nav/list-item-with-icon-dont.png
  website/public/assets/components/app-side-nav/list-item-with-icon.png
  website/public/assets/components/app-side-nav/list-item-with-nested-items.png
  website/public/assets/components/app-side-nav/list-item-without-icon.png
  website/public/assets/components/app-side-nav/responsiveness.png
  website/public/assets/components/app-side-nav/section-with-title.png
  website/public/assets/components/app-side-nav/section-without-title.png
  website/public/assets/illustrations/components/app-side-nav.jpg
  website/tests/acceptance/components/app-side-nav-test.js
Labels: docs-website

HDS-3800 UPdate list item color
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

`AppSideNav` - Replace tracked variables from args (#2486)
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

`SideNav` - Deprecate component (HDS-3848) (#2425)
  .changeset/seven-mugs-think.md
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
Labels: docs-website, packages/components

Update website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/index.md
Labels: docs-website

`AppSideNav` - deprioritize adoption (#2518)
  .changeset/seven-mugs-think.md
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/integration/components/hds/app-header/home-link-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/back-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/item-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
  showcase/tests/integration/components/hds/app-side-nav/portal/index-test.js
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
Labels: docs-website, packages/components, showcase

`AppSideNav` - overlay scrolling bug fix (HDS-3914) (#2472)
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

HDS-3800 Improve toggle tab rounded corner rendering
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
Labels: packages/components

HDS-3800 Remove negative tabIndex
  packages/components/src/components/hds/app-side-nav/list/link.hbs
Labels: packages/components

`AppSideNav` - Fix bug with scrolling caused by hidden panels (HDS-3892) (#2487)
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Add changelog
  .changeset/silver-planes-occur.md
Labels: none

HDS-3800 Update comment
  packages/components/src/components/hds/app-side-nav/portal/target.ts
Labels: packages/components

HDS-3800 Add example of BackLink used in context to Showcase
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Remove colored icons from framed example, remove typesafe disabling for entire template and instead add only where needed
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

`AppSideNav` - Follow-on improvements for headers & aria (HDS-3897) (#2463)
  packages/components/src/components/hds/app-side-nav/base.hbs
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/list/index.hbs
  packages/components/src/components/hds/app-side-nav/list/index.ts
  packages/components/src/components/hds/app-side-nav/list/title.hbs
  packages/components/src/components/hds/app-side-nav/list/title.ts
  showcase/tests/acceptance/components/hds/app-side-nav-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

fix: incorporate feedback
  .changeset/soft-pets-hear.md
  package.json
  packages/components/package.json
Labels: packages/components

chore: update yarn lock
  yarn.lock
Labels: none

Update images to match copy guidelines
  website/public/assets/components/application-state/application-state-dropdown-actions.png
  website/public/assets/components/application-state/application-state-media-slot-spot-illustration-center-alignment.png
Labels: none

HDS-3800 Remove changeset, comment out link to styles, skip tests
  .changeset/silver-planes-occur.md
  packages/components/src/styles/@hashicorp/design-system-components.scss
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

HDS-3800 skip tests
  showcase/tests/integration/components/hds/app-side-nav/portal/index-test.js
Labels: showcase

HDS-3800 Remove release badge and version history
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/version-history/4.14.0.md
Labels: docs-website

Update website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/index.md
Labels: docs-website

feat: lazy load clipboard polyfill
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

fix: improve dynamic import
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

chore: improve changelog
  .changeset/soft-pets-hear.md
Labels: none

Remove AppSideNav and AppHeader related components from template registry
  packages/components/src/template-registry.ts
Labels: packages/components

Comment out AppHeader in framed example
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
Labels: showcase

added extra demo to the `Dropdown` showcase, to demonstrate the issue with setting `width="100%"`
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

Fix typos
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/application-state/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/patterns/form-patterns/partials/validation/validation.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
Labels: docs-website

Fix link
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

Update .changeset/violet-donuts-matter.md
  .changeset/violet-donuts-matter.md
Labels: none

Update soft-pets-hear.md
  .changeset/soft-pets-hear.md
Labels: none

fix: make css selector more specific
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

add demo of RichTooltip applied to Dropdown and within Dropdown
  showcase/app/styles/showcase-pages/rich-tooltip.scss
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

Add CSS fix to prevent hidden panels from triggering unecessary overflow scrolling
  packages/components/src/styles/components/side-nav/content.scss
Labels: packages/components

Add changeset
  .changeset/smooth-cameras-yawn.md
Labels: none

Add a11y improvements to SideNav
  packages/components/src/components/hds/side-nav/base.hbs
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/list/index.hbs
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/side-nav/list/title.hbs
  packages/components/src/components/hds/side-nav/list/title.ts
  showcase/tests/acceptance/components/hds/side-nav-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components, showcase

Add changeset
  .changeset/modern-otters-bake.md
Labels: none

Update modern-otters-bake.md
  .changeset/modern-otters-bake.md
Labels: none

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
