Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

fix: resolve lint errors
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
Labels: packages/components

chore: remove hds-focus-ring-with-after-pseudo-element
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
Labels: packages/components

wip: advancedtable sub component tests
  showcase/tests/integration/components/hds/advanced-table/td-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: showcase

chore: add changeset
  .changeset/strange-wolves-press.md
Labels: none

fix: switch th-button-expand to use aria-description
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
Labels: packages/components

chore: lint
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fixes: used private vars, update showcase, sticky header styles
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/public/api/mock-nested-rows-custom.json
Labels: packages/components, showcase

feat: add rowIndex back
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/tr-expandable-group.hbs
  packages/components/src/components/hds/advanced-table/tr-expandable-group.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

feat: add keyboard tests
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th.hbs
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
Labels: packages/components, showcase

final cleanup
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: showcase

fix: selectable/sortable checkbox visual bug
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

chore: add tests that assertions work
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

feat: add support for caption
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

fix: current showcase errors
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

chore: fix lint ignore
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
Labels: packages/components

wip: matching advancedtable showcase to table
  showcase/app/controllers/components/advanced-table.js
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

chore: lint
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: striping styles
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

chore: convert to private properties
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th-button-sort.hbs
  packages/components/src/components/hds/advanced-table/th-button-sort.ts
  packages/components/src/components/hds/advanced-table/th-button-tooltip.hbs
  packages/components/src/components/hds/advanced-table/th-button-tooltip.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

chore: lint
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

fix: expandable th with tooltip
  packages/components/src/components/hds/advanced-table/th.hbs
Labels: packages/components

fix: remove changing checkbox labels
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: packages/components, showcase

feat: infer if nested from model + childrenKey
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/tr-expandable-group.hbs
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
  showcase/public/api/mock-nested-rows-custom.json
Labels: packages/components, showcase

wip: continue showcase updates
  showcase/app/controllers/components/advanced-table.js
  showcase/app/routes/components/advanced-table.js
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/public/api/mock-spanning-cells-manual.json
Labels: showcase

chore: rename to expandable-tr-group
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
Labels: packages/components

fix: all showcase examples are working
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

feat: assert not selectable or striped if nested
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  showcase/app/controllers/components/advanced-table.js
  showcase/app/routes/components/advanced-table.js
Labels: packages/components, showcase

fix: add escape listener for content of cells
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

feat: all table tests imported to advanced-table
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

chore: add keyboard instructions to showcase
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

valign examples
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fix: lint ignores
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fix: inline styles
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

focus trap in cell
  packages/components/src/components/hds/advanced-table/helpers.ts
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: packages/components, showcase

Group changelog entries
  website/docs/components/alert/index.md
  website/docs/components/alert/partials/version-history/4.10.0.md
  website/docs/components/alert/partials/version-history/4.15.0.md
  website/docs/components/alert/partials/version-history/version-history.md
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/4.10.0.md
  website/docs/components/dropdown/partials/version-history/4.12.0.md
  website/docs/components/dropdown/partials/version-history/4.13.0.md
  website/docs/components/dropdown/partials/version-history/4.14.0.md
  website/docs/components/dropdown/partials/version-history/4.15.0.md
  website/docs/components/dropdown/partials/version-history/version-history.md
  website/docs/components/icon-tile/index.md
  website/docs/components/icon-tile/partials/version-history/4.15.0.md
  website/docs/components/page-header/index.md
  website/docs/components/page-header/partials/version-history/4.15.0.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/table/index.md
  website/docs/components/table/partials/version-history/4.10.0.md
  website/docs/components/table/partials/version-history/4.15.0.md
  website/docs/components/table/partials/version-history/version-history.md
  website/docs/components/time/index.md
  website/docs/components/time/partials/version-history/4.15.0.md
Labels: docs-website

Update main component changelog to follow convention
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

Add script to generate component changelog entries
  website/lib/changelog/generate-component-changelog-entries.mjs
Labels: none

Add component changelog entries script to package.json
  website/package.json
Labels: none

Generate component changelog entries for 4.15
  website/docs/components/alert/partials/version-history/version-history.md
  website/docs/components/dropdown/partials/version-history/version-history.md
  website/docs/components/icon-tile/partials/version-history/version-history.md
  website/docs/components/page-header/partials/version-history/version-history.md
  website/docs/components/rich-tooltip/partials/version-history/version-history.md
  website/docs/components/table/partials/version-history/version-history.md
  website/docs/components/time/partials/version-history/version-history.md
Labels: docs-website

feat: sticky header test
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
