Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added integration tests for `width/height`
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

changed `eager` parameter for the modifiers from `false` to `true`
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

added showcase for `PopoverPrimitive`
  showcase/app/controllers/utilities/popover-primitive.js
  showcase/app/router.js
  showcase/app/routes/utilities/popover-primitive.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/popover-primitive.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

fixed integration tests for `block` (new default) vs `inline`
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

added `@oddbird/popover-polyfill` as dependency
  packages/components/package.json
  yarn.lock
Labels: packages/components

added support for `width/height` to the PopoverPrimitive
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/styles/components/popover-primitive.scss
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: packages/components, showcase

updated how `aria` atttributes are applied to the toggle and popover (plus other accessibility tweaks)
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

small CSS update
  packages/components/src/styles/components/popover-primitive.scss
Labels: packages/components

added `PopoverPrimitive` component
  packages/components/package.json
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/popover-primitive.scss
Labels: packages/components

split showcase for `enableCollisionDetection` in booleans vs strings
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

generalized autoscroll to `Shw::Autoscrollable` showcase component so it can be reused
  showcase/app/components/shw/autoscrollable/index.hbs
  showcase/app/components/shw/autoscrollable/index.js
  showcase/app/controllers/utilities/popover-primitive.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/autoscrollable.scss
  showcase/app/styles/showcase-pages/popover-primitive.scss
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

added integration tests for `PopoverPrimitive`
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

updated showcase
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

updated integration tests for A11Y attributes
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

updates following engineering sync review
  packages/components/src/components/hds/popover-primitive/index.hbs
Labels: packages/components

refactored `PopoverPrimitive` to be a headless component and provide only the Popover API functionality
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/popover-primitive.scss
Labels: packages/components

removed extra method
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

made the `containsInteractive` check an explicit `@toggleContainsInteractive` argument
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: packages/components, showcase

refactored/renamed APIs for `PopoverPrimitive`
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/styles/components/popover-primitive.scss
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: packages/components, showcase

updated integration tests for `PopoverPrimitive`
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

added percy test for `PopoverPrimitive`
  showcase/tests/acceptance/percy-test.js
Labels: showcase

updated integration tests
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

reordered “interaction” section
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

updated integration tests
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

small comment update (latest Firefox version supports Popover API)
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

added small clarification to the showcase
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

small tweak to the showcase page
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

updated showcase for `PopoverPrimitive` to account for API refactoring
  showcase/app/styles/showcase-pages/popover-primitive.scss
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

removed `aria-details` attribute from “toggle” element per code review
  packages/components/src/components/hds/popover-primitive/index.hbs
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: packages/components, showcase

small CSS cleanups
  showcase/app/styles/showcase-components/autoscrollable.scss
Labels: showcase

added “Component API” documentation
  website/docs/utilities/popover-primitive/index.md
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: docs-website

added acceptance test for `PopoverPrimitive`
  website/tests/acceptance/utilities/popover-primitive-test.js
Labels: none

Apply suggestions from code review
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

added illustration for `PopoverPrimitive`
  website/public/assets/illustrations/utilities/popover-primitive.jpg
Labels: none

updated “How to use” documentation for `PopoverPrimitive` following the refactoring of the component
  website/app/styles/app.scss
  website/app/styles/pages/utilities/popover-primitive.scss
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

updated “Component API” documentation for `PopoverPrimitive` following the refactoring of the component
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: docs-website

added “How to use” documentation
  website/app/styles/app.scss
  website/app/styles/pages/utilities/popover-primitive.scss
  website/docs/utilities/popover-primitive/index.js
  website/docs/utilities/popover-primitive/index.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

Fix header indentation issue
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: docs-website

Update .github/workflows/ci-compress-images.yml
  .github/workflows/ci-compress-images.yml
Labels: none

Adjust guidance for forms in Modal
  website/docs/components/modal/index.js
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website
