Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added missing `…attributes` to `InfoText` subcomponent
  packages/components/src/components/hds/rich-tooltip/toggle/info-text.hbs
Labels: packages/components

added a bubble use case to the showcase
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

fixed demo cases with inline text that has pre/post characters
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

changeset
  .changeset/small-onions-grow.md
Labels: none

fix for layout bug in Safari
  packages/components/src/styles/components/rich-tooltip.scss
Labels: packages/components

updated integration tests for `RichTooltip` (and sub-components)
  showcase/tests/integration/components/hds/rich-tooltip/bubble-test.js
  showcase/tests/integration/components/hds/rich-tooltip/index-test.js
  showcase/tests/integration/components/hds/rich-tooltip/info-text-test.js
  showcase/tests/integration/components/hds/rich-tooltip/toggle-test.js
Labels: showcase

Apply suggestions from code review
  packages/components/src/components/hds/rich-tooltip/bubble.js
  packages/components/src/components/hds/rich-tooltip/toggle.js
Labels: packages/components

updated copy in showcase
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

removed redundant splattributes
  packages/components/src/components/hds/rich-tooltip/index.hbs
Labels: packages/components

fixed linting in test file
  showcase/tests/integration/components/hds/rich-tooltip/bubble-test.js
Labels: showcase

small whitespace fix
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

small update to showcase
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

reverted committed suggestion
  packages/components/src/components/hds/rich-tooltip/toggle.js
Labels: packages/components

updated showcase in relation to the change to default `iconPosition` to `trailing`
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

removed extra whitespace in `RichTooltip` template
  packages/components/src/components/hds/rich-tooltip/index.hbs
Labels: packages/components

added integration tests for `RichTooltip` + `RichTooltip::Tooltip::InfoText`
  showcase/tests/integration/components/hds/rich-tooltip/index-test.js
  showcase/tests/integration/components/hds/rich-tooltip/info-text-test.js
Labels: showcase

improved vertical alignment when the toggle is icon-only and is inline
  packages/components/src/styles/components/rich-tooltip.scss
Labels: packages/components

added missing styling to tooltip content
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

updated showcase for `RichTooltip` to account for API refactoring
  showcase/app/routes/components/rich-tooltip.js
  showcase/app/styles/showcase-pages/rich-tooltip.scss
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

fixed integration test
  showcase/tests/integration/components/hds/rich-tooltip/index-test.js
Labels: showcase

changed default `iconPosition` to `trailing` for toggle (per discussion with Jory)
  packages/components/src/components/hds/rich-tooltip/toggle.js
Labels: packages/components

added use cases of text inline with other pre/post characters and inline only icon
  showcase/app/templates/components/rich-tooltip.hbs
Labels: showcase

Starting to write documentation and guidelines
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/accessibility/accessibility.md
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/guidelines/overview.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
  website/docs/components/rich-tooltip/partials/specifications/states.md
  website/tests/acceptance/components/rich-tooltip.js
Labels: docs-website

Adding a bunch of image examples
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/public/assets/components/rich-tooltip/rich-tooltip-collision-detection.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-links.png
  website/public/assets/components/rich-tooltip/rich-tooltip-offset-do.png
  website/public/assets/components/rich-tooltip/rich-tooltip-offset-dont.png
  website/public/assets/components/rich-tooltip/rich-tooltip-offset-spacing.png
  website/public/assets/components/rich-tooltip/rich-tooltip-placement.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-badge-do.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-badge-dont.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-button-dont.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-form-input-dont.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-helper-text-do.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-secondary-button.png
Labels: docs-website

Added component illustration
  website/public/assets/illustrations/components/rich-tooltip.jpg
Labels: none

Update image path
  website/docs/components/rich-tooltip/index.md
Labels: docs-website

Initial commit to open PR (to be removed later)
  .changeset/sixty-worms-yell.md
Labels: none

Editing, streamlining, and simplifying the guidelines content
  website/public/assets/illustrations/components/rich-tooltip.jpg
Labels: none

Added component illustration
  website/public/assets/illustrations/components/rich-tooltip.jpg
Labels: none

Editing, streamlining, and simplifying the guidelines content
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/guidelines/overview.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
  website/public/assets/illustrations/components/components/rich-tooltip.jpg
Labels: docs-website

Streamlining trigger and interaction content
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
Labels: docs-website

Adding a bunch of content to the guidelines, adding anatomy images
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
  website/public/assets/components/rich-tooltip/default-trigger-anatomy.png
  website/public/assets/components/rich-tooltip/rich-tooltip-anatomy.png
Labels: docs-website

Added many examples of different types of content, etc
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/public/assets/components/rich-tooltip/rich-tooltip-content-data-visualization.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-key-value-pair.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-onboarding.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-overflow.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-structure.png
Labels: docs-website

Added component illustration
  website/public/assets/illustrations/components/rich-tooltip.jpg
Labels: none

updated “How to use” documentation following the refactoring of the component
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

Further cleaning up the content, replacing trigger with toggle
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
Labels: docs-website

Added some information about the InfoText component, outlined variants and states
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/public/assets/components/rich-tooltip/infotext-states.png
Labels: docs-website

updated “Component API” documentation following the refactoring of the component
  website/docs/components/rich-tooltip/partials/code/component-api.md
Labels: docs-website

Added a note about omitting the icon in blocks of text
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
Labels: docs-website

added illustration for `RichTooltip`
  website/public/assets/illustrations/components/rich-tooltip.jpg
Labels: none
