Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

fixed alignment of results list in relation to other elements
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

renamed file
  website/app/styles/doc-components/algolia-search/index.scss
  website/app/styles/doc-components/algolia-search/trigger.scss
Labels: none

added fallback to “pageCaption” in result description
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
Labels: none

fixed small visual CSS bug
  website/app/styles/doc-components/algolia-search/trigger.scss
Labels: none

improved deduplication
  website/app/components/doc/page/header/search/index.js
Labels: none

reset query value when modal is closed
  website/app/components/doc/page/header/search/index.js
Labels: none

standardized focus color
  website/app/styles/doc-components/algolia-search/button.scss
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/results.scss
  website/app/styles/pages/application/header.scss
  website/app/styles/tokens.scss
Labels: none

added “beta” badge
  website/app/styles/doc-components/algolia-search/form.scss
Labels: none

small tweaks from code review
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/htmlPanelFooter.js
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/trigger.scss
Labels: none

“fixed” modal closing on enter
  website/app/components/doc/page/header/search/index.js
Labels: none

add link-to icon test
  website/app/components/doc/icons-list/item.hbs
  website/tests/acceptance/icon-test.js
Labels: none

Fix for 5dfc831ed91c9b93f62747668122d3ec064e5333 fix the copy in error message
  website/docs/components/form/masked-input/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/app/components/doc/icons-list/item.hbs
  website/tests/acceptance/icon-test.js
Labels: none

add link-to icon test (#1847)
  website/app/components/doc/icons-list/item.hbs
  website/tests/acceptance/icon-test.js
Labels: none

implemented second “fake” search button and hidden the algolia generated one
  website/app/components/doc/page/header/algolia-search/index.hbs
  website/app/components/doc/page/header/algolia-search/index.js
  website/app/components/doc/page/header/algolia-search/parts/algoliaSearchClient.js
  website/app/components/doc/page/header/algolia-search/parts/getItemsFunction.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelFooter.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelNoResults.js
  website/app/components/doc/page/header/algolia-search/parts/htmlTemplatesItemBody.js
  website/app/components/doc/page/header/algolia-search/parts/htmlTemplatesItemExtra.js
  website/app/components/doc/page/header/algolia-search/parts/htmlTemplatesItemPreview.js
  website/app/components/doc/page/header/algolia-search/parts/templatesFooterFunction.js
  website/app/components/doc/page/header/algolia-search/parts/templatesHeaderFunction.js
  website/app/components/doc/page/header/algolia-search/parts/templatesItemFunction.js
  website/app/components/doc/page/header/index.hbs
  website/app/styles/doc-components/algolia-search/index.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/trigger.scss
  website/app/styles/pages/application/header.scss
Labels: none

added handling of search results links using Ember router
  website/app/components/doc/page/header/algolia-search/index.js
Labels: none

removed `.aa-Autocomplete` from the Axe global “exclude” configuration
  website/tests/a11y-helper.js
Labels: none

simplified `emberRouterTransitionTo` function following Matthew Irish suggestion
  website/app/components/doc/page/header/algolia-search/index.js
Labels: none

changeset
  .changeset/mean-eyes-call.md
Labels: none

updated `Link::Standalone` DOM structure to contain only `span` elements
  packages/components/addon/components/hds/link/standalone.hbs
  packages/components/app/styles/components/link/standalone.scss
Labels: packages/components

updated `Button` DOM structure to contain only `span` elements
  packages/components/addon/components/hds/button/index.hbs
  packages/components/app/styles/components/button.scss
Labels: packages/components

updated `Dropdown` button elements DOM structure to contain only `span` elements
  packages/components/addon/components/hds/dropdown/list-item/checkmark.hbs
  packages/components/addon/components/hds/dropdown/list-item/interactive.hbs
  packages/components/app/styles/components/dropdown.scss
Labels: packages/components

Remove whitespace control in `related-components`
  website/app/components/doc/related-components/index.hbs
Labels: none

Remove whitespace control in codemods
  packages/codemods/transforms/v3/dropdown/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/dropdown/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/masked-input/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/masked-input/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/radio-card/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/radio-card/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/side-nav/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/side-nav/__testfixtures__/basic.output.hbs
Labels: none

Fix `ThSort` `onClick` sample code
  packages/components/tests/dummy/app/templates/components/table.hbs
Labels: packages/components

Use `@onClick` instead of `onClick` in showcase
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

added support for ENV variables in Ember app
  website/config/environment.js
  website/package.json
  yarn.lock
Labels: none

started adding basic custom styling for the UI - “button”
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/header/search/index.js
  website/app/styles/app.scss
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/button.scss
  website/app/styles/doc-components/algolia-search/index.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/index.scss
Labels: none

started adding basic custom styling for the UI - “modal” (container only)
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/templatesHeaderFunction.js
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/index.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

added suggested results on search start
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/templatesHeaderFunction.js
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
Labels: none

scaffolded basic “search” (detached) with button as an entry point
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/header/search/index.hbs
  website/app/components/doc/page/header/search/index.js
  website/app/styles/algolia-autocomplete-theme-classic.scss
  website/app/styles/app.scss
  website/package.json
  yarn.lock
Labels: none

split logic and templating for search results
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/getItems.js
  website/app/components/doc/page/header/search/parts/searchClient.js
  website/app/components/doc/page/header/search/parts/templatesFooterFunction.js
  website/app/components/doc/page/header/search/parts/templatesHeaderFunction.js
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
  website/app/components/doc/page/header/search/parts/templatesNoResultsFunction.js
Labels: none

more styling of the search results
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

more styling of the search results
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/templatesHeaderFunction.js
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/button.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

added rendering for no results
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/htmlPanelNoResults.js
  website/app/styles/doc-components/algolia-search/modal.scss
Labels: none

added sticky footer to the search modal
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/htmlPanelFooter.js
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/public/assets/logos/algolia.svg
Labels: none

styled “results” (to be continued)
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemExtra.js
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

added mobile-only trigger to header + styled it + applied focus styles to all the header links + small tweak to the responsive behaviour or header elements
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/styles/pages/application/header.scss
Labels: none

fixed issues with relative paths
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
Labels: none

reset query value when modal is closed
  website/app/components/doc/page/header/search/index.js
Labels: none
