Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

updated integration + acceptance tests
  packages/components/tests/acceptance/components/hds/pagination-test.js
  packages/components/tests/integration/components/hds/pagination/compact-test.js
  packages/components/tests/integration/components/hds/pagination/numbered-test.js
Labels: packages/components

renamed `hasRouting` to `isControlled` for consistency with the `Tabs` component
  packages/components/addon/components/hds/pagination/compact/index.js
  packages/components/addon/components/hds/pagination/numbered/index.js
Labels: packages/components

updated logic for “Compact” variant of `Pagination` to expose `@currentPageSize` and handle controlled/uncontrolled changes
  packages/components/addon/components/hds/pagination/compact/index.js
Labels: packages/components

added to the `Pagination` showcase relevant use case and demo for the `Compact` variant with `SizeSelector`
  packages/components/tests/dummy/app/controllers/components/pagination.js
  packages/components/tests/dummy/app/templates/components/pagination.hbs
Labels: packages/components

changeset
  .changeset/light-clouds-explain.md
Labels: none

updated “Component API” + “How to use” documentation for `Pagination`
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/button-set/partials/code/how-to-use.md
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

`Button` - updated horizontal padding of icon-only variant
  packages/components/addon/components/hds/button/index.js
  packages/components/app/styles/mixins/_button.scss
Labels: packages/components

updated showcase for `Button` to show differen sizes of the icon-only button
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

Apply suggestions from code review
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
Labels: docs-website

scaffolded basic “search” page
  website/app/components/doc/page/header/index.hbs
  website/app/controllers/application.js
  website/app/controllers/search.js
  website/app/router.js
  website/app/routes/search.js
  website/app/templates/search.hbs
Labels: none

Images added
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/public/assets/components/form/checkbox/checkbox-Indeterminate-do.png
  website/public/assets/components/form/checkbox/checkbox-Indeterminate-dont.png
Labels: docs-website

Update Website-Changelog.md
  wiki/Website-Changelog.md
Labels: none

Update guidelines.md
  website/docs/components/alert/partials/guidelines/guidelines.md
Labels: docs-website

Clarify indeterminate visual appearance
  website/docs/components/form/checkbox/partials/code/how-to-use.md
Labels: docs-website

HDS-2595 Add id and aria-describedby to connect button to code to be copied
  packages/components/addon/components/hds/code-block/copy-button.hbs
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
Labels: packages/components

HDS-2595 Minor cleanup
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block.scss
Labels: packages/components

HDS-2595 Refactor structure of classnames, cleanup unused styles, start to get overall styling and custom theming into place, fix lineWrapping, fix test
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/base.scss
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 Separate out styles for theming and begin adding rough custom theming
  packages/components/app/styles/components/code-block.scss
  packages/components/app/styles/components/code-block/base.scss
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

HDS-2595 Update arg name
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 refactor theming to be applied via a theme class name
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 Separate out copyButton as child component, add rough styles for button, add Showcase examples
  packages/components/addon/components/hds/code-block/copy-button.hbs
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/components/hds/code-block/copy-button.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
  packages/components/tests/dummy/app/routes/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2277 Add name of 3rd party library to Showcase for clarity
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 add new semantic token variables and remove direct references to color names in theming styles, rename some args for clarity & consistency, add WIP examples for Status
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
  packages/components/tests/dummy/app/routes/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Hds-2277 Enable highlight feature, add autoloader plugin (not functional yet), update Showcase
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 Fix scrolling with maxHeight set for keyboard users
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

HDS-2277 Add component scaffolding
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/components/hds/code-block/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/code-block.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/code-block.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/code-block.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

HDS-2277 Fix failing test, clean up CSS to prevent accidental override of whitespace value
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/app/styles/components/code-block.scss
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

HDS-2595 Update highlight styles to follow newer designs, move UI color styles into main css file
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

HDS-2595 Prepend theme colors with app name and purpose, change dimension custom properties to sass variables
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

HDS-2277 Override margin
  packages/components/app/styles/components/code-block.scss
Labels: packages/components

HDS-2595 Add Title and Description
  packages/components/addon/components/hds/code-block/description.hbs
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/title.hbs
  packages/components/app/components/hds/code-block/description.js
  packages/components/app/components/hds/code-block/title.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 Minor updates from feedback
  packages/components/addon/components/hds/code-block/description.hbs
  packages/components/addon/components/hds/code-block/title.hbs
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
Labels: packages/components

HDS-2277 Wire up different options
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block.scss
  packages/components/package.json
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  yarn.lock
Labels: packages/components

Fix borders as per design
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

Add changelog entry
  .changeset/yellow-chairs-sin.md
Labels: none

HDS-2595 Implement isRounded option
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Fix CopyButton states in showcase
  packages/components/tests/dummy/app/controllers/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Remove default `@language`
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

Restructure showcase
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components
