Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

fixing focus ring on action buttons
  packages/components/src/components/hds/code-editor/full-screen-button.hbs
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

changed to relative path import to fix the import issue
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

fixed full screen button
  packages/components/src/components/hds/code-editor/full-screen-button.hbs
  packages/components/src/components/hds/code-editor/full-screen-button.ts
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

added support for other langs
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
Labels: packages/components

handled escape key with a modifier that adds an ecent listener to the document
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

added exports to components file
  packages/components/src/components.ts
Labels: packages/components

cleaning up the state in the fullscreen toggle button
  packages/components/package.json
  packages/components/src/components/hds/code-editor/full-screen-button.hbs
  packages/components/src/components/hds/code-editor/full-screen-button.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/template-registry.ts
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

removing button component and applying styles to child button elements
  packages/components/package.json
  packages/components/src/components/hds/code-editor/button.hbs
  packages/components/src/components/hds/code-editor/button.ts
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

fixed height issue in full screen mode with too much content
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

responding to PR feedback
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/full-screen-button.hbs
  packages/components/src/components/hds/code-editor/full-screen-button.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/types/hds-code-editor.types.ts
Labels: packages/components

waiting for the component to load before taking percy screenshot
  showcase/tests/acceptance/percy-test.js
Labels: showcase

added a test for the copy button
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: showcase

addressing PR feedback
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

Upgrade Nodejs to 22 (#2619)
  .changeset/silver-trees-occur.md
  .github/workflows/ci-components.yml
  .github/workflows/ci-compress-images.yml
  .github/workflows/ci-website.yml
  .github/workflows/open-pull-request-for-icon-update.yml
  .github/workflows/release.yml
  packages/codemods/package.json
  packages/components/package.json
  packages/ember-flight-icons/README.md
  packages/ember-flight-icons/package.json
  showcase/package.json
  website/package.json
Labels: packages/components, packages/ember-flight-icons, showcase

Update changelog entry
  .changeset/curvy-colts-applaud.md
Labels: none

fix: Reverting border-radius update, and using overflow hidden on tag
  packages/components/src/styles/components/form/super-select.scss
  packages/components/src/styles/components/tag.scss
Labels: packages/components

Fix: Tag linting issue
  packages/components/src/styles/components/tag.scss
Labels: packages/components

Chore: Removed changeset
  .changeset/curvy-colts-applaud.md
Labels: none

sync & build of flight icons
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/confluence-16.svg
  packages/flight-icons/svg-original/confluence-24.svg
  packages/flight-icons/svg-original/confluence-color-16.svg
  packages/flight-icons/svg-original/confluence-color-24.svg
  packages/flight-icons/svg-original/kubernetes-color-16.svg
  packages/flight-icons/svg-original/kubernetes-color-24.svg
  packages/flight-icons/svg-react/confluence-16.tsx
  packages/flight-icons/svg-react/confluence-24.tsx
  packages/flight-icons/svg-react/confluence-color-16.tsx
  packages/flight-icons/svg-react/confluence-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/kubernetes-color-16.tsx
  packages/flight-icons/svg-react/kubernetes-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/confluence-16.svg
  packages/flight-icons/svg/confluence-24.svg
  packages/flight-icons/svg/confluence-color-16.svg
  packages/flight-icons/svg/confluence-color-24.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/kubernetes-color-16.svg
  packages/flight-icons/svg/kubernetes-color-24.svg
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

Added changeset
  .changeset/twenty-ladybugs-drive.md
Labels: none

Updated Changelog
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

update
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website, packages/components

Update figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

Apply suggestions from code review
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components

Apply suggestions from code review
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components

changelog Figma update
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website, packages/components

sync & build of flight icons
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/confluence-16.svg
  packages/flight-icons/svg-original/confluence-24.svg
  packages/flight-icons/svg-original/confluence-color-16.svg
  packages/flight-icons/svg-original/confluence-color-24.svg
  packages/flight-icons/svg-original/kubernetes-color-16.svg
  packages/flight-icons/svg-original/kubernetes-color-24.svg
  packages/flight-icons/svg-react/confluence-16.tsx
  packages/flight-icons/svg-react/confluence-24.tsx
  packages/flight-icons/svg-react/confluence-color-16.tsx
  packages/flight-icons/svg-react/confluence-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/kubernetes-color-16.tsx
  packages/flight-icons/svg-react/kubernetes-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/confluence-16.svg
  packages/flight-icons/svg/confluence-24.svg
  packages/flight-icons/svg/confluence-color-16.svg
  packages/flight-icons/svg/confluence-color-24.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/kubernetes-color-16.svg
  packages/flight-icons/svg/kubernetes-color-24.svg
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

update
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website, packages/components

New Utilites.md added
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  packages/components/CHANGELOG-FIGMA-PATTERNS.md
  packages/components/CHANGELOG-FIGMA-UTILITIES.md
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
  website/docs/whats-new/release-notes/partials/figma-library-patterns.md
  website/docs/whats-new/release-notes/partials/figma-library-utilities.md
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: docs-website, packages/components

Update website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

chore: add wireframes cspell dictionary
  website/cspell-config/project-words.txt
Labels: none

Sync and build icons manually
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/confluence-16.svg
  packages/flight-icons/svg-original/confluence-24.svg
  packages/flight-icons/svg-original/confluence-color-16.svg
  packages/flight-icons/svg-original/confluence-color-24.svg
  packages/flight-icons/svg-react/confluence-16.tsx
  packages/flight-icons/svg-react/confluence-24.tsx
  packages/flight-icons/svg-react/confluence-color-16.tsx
  packages/flight-icons/svg-react/confluence-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/confluence-16.svg
  packages/flight-icons/svg/confluence-24.svg
  packages/flight-icons/svg/confluence-color-16.svg
  packages/flight-icons/svg/confluence-color-24.svg
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

Add changeset
  .changeset/sharp-beds-approve.md
Labels: none

Updated export of icons from Figma (#2635)
  .changeset/sharp-beds-approve.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/confluence-16.svg
  packages/flight-icons/svg-original/confluence-24.svg
  packages/flight-icons/svg-original/confluence-color-16.svg
  packages/flight-icons/svg-original/confluence-color-24.svg
  packages/flight-icons/svg-original/kubernetes-color-16.svg
  packages/flight-icons/svg-original/kubernetes-color-24.svg
  packages/flight-icons/svg-react/confluence-16.tsx
  packages/flight-icons/svg-react/confluence-24.tsx
  packages/flight-icons/svg-react/confluence-color-16.tsx
  packages/flight-icons/svg-react/confluence-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/kubernetes-color-16.tsx
  packages/flight-icons/svg-react/kubernetes-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/confluence-16.svg
  packages/flight-icons/svg/confluence-24.svg
  packages/flight-icons/svg/confluence-color-16.svg
  packages/flight-icons/svg/confluence-color-24.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/kubernetes-color-16.svg
  packages/flight-icons/svg/kubernetes-color-24.svg
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

Update packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components

Update packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components

HDS-4254 Update ember-power-select version
  packages/components/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, showcase

Update new-paws-cross.md
  .changeset/new-paws-cross.md
Labels: none

HDS-4254 Hard code value of searchFieldPosition to before-options in Multiple SuperSelect, clean up Showcase
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

HDS-4254 Add changeset
  .changeset/new-paws-cross.md
Labels: none
