Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Fix line number layout
  packages/components/app/styles/components/code-block/index.scss
Labels: packages/components

HDS-2595 Separate out copyButton as child component, add rough styles for button, add Showcase examples
  packages/components/addon/components/hds/code-block/copy-button.hbs
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/components/hds/code-block/copy-button.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
  packages/components/tests/dummy/app/routes/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 Implement isRounded option
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Rename `isReadOnly` to `contentEditable`
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

Add changelog entry
  .changeset/yellow-chairs-sin.md
Labels: none

Refactor title and description
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

Fix CopyButton states in showcase
  packages/components/tests/dummy/app/controllers/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2595 Tweaks from feedback
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/code-block/theme.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Added link to component in Figma
  website/docs/components/code-block/index.md
Labels: docs-website

Allow `onInput` callback function
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/controllers/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

Rename `isRounded`→`isStandalone`
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components

Fix `ember-flight-icons`'s dependency on `ember-get-config`
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

Add changelog entry
  .changeset/healthy-pots-deliver.md
Labels: none

linked changeset template in NEW COMPONENT CHECKLIST
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

Update .github/workflows/open-pull-request-for-icon-update.yml
  .github/workflows/open-pull-request-for-icon-update.yml
Labels: none

added PR template to `body` of `create-pull-request` in github action for new icons
  .github/workflows/open-pull-request-for-icon-update.yml
Labels: none

linked changeset template in PR template for icons updates
  .github/workflows/open-pull-request-for-icon-update.yml
Labels: none

linked changeset template in PR template
  .github/pull_request_template.md
Labels: none

Port in-page assets from #1691
  website/public/assets/components/code-block/code-block-anatomy.png
  website/public/assets/components/code-block/code-block-block-level.png
  website/public/assets/components/code-block/code-block-copy-button.png
  website/public/assets/components/code-block/code-block-dont-use-metadata.png
  website/public/assets/components/code-block/code-block-line-highlighting.png
  website/public/assets/components/code-block/code-block-line-numbers.png
  website/public/assets/components/code-block/code-block-line-selection.png
  website/public/assets/components/code-block/code-block-metadata.png
  website/public/assets/components/code-block/code-block-rounded-standalone.png
Labels: none

Port CodeBlock featured image from #1691
  website/public/assets/illustrations/components/code-block.jpg
Labels: none

Port CodeBlock content from #1691
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/accessibility/accessibility.md
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/overview.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/code-block/partials/specifications/states.md
Labels: docs-website

Add acceptance tests for CodeBlock
  website/tests/acceptance/components/code-block.js
Labels: none

Scope dracula theme styles to docs
  website/app/styles/prism-dracula.scss
Labels: none

Setup fallback for cases where Prism language is not available
  website/app/initializers/showdown-extensions.js
Labels: none

Update ember language copy
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Clarify 'value' argument
  website/docs/components/code-block/partials/code/component-api.md
Labels: docs-website

Clarify 'language' argument
  website/docs/components/code-block/partials/code/component-api.md
Labels: docs-website

Add adjustments based feedback
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Rename `isReadOnly` to `contentEditable`
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Add `isStandalone` argument
  website/docs/components/code-block/partials/code/component-api.md
Labels: docs-website

updated node scripts
  package.json
  website/package.json
Labels: none

re-run scripts to update “release notes” files
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
Labels: docs-website

explicitly added `ember-element-helper` as dependency for the `components` package
  packages/components/package.json
  yarn.lock
Labels: packages/components

changeset
  .changeset/moody-suits-listen.md
Labels: none

Replace `babel-eslint` with `@babel/eslint-parser`
  packages/ember-flight-icons/.eslintrc.js
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

Fix failing lint in tests
  packages/components/.eslintrc.js
Labels: packages/components

Update `ember-a11y-testing` and `@ember/test-helpers`
  packages/components/package.json
  website/package.json
  yarn.lock
Labels: packages/components

Configure babel to enable decorators
  packages/components/.eslintrc.js
  packages/components/package.json
  yarn.lock
Labels: packages/components

Revert dependency updates in `ember-flight-icons`
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

Upgrade Ember to 5.3 in `components`
  .github/workflows/ci-components.yml
  packages/components/.gitignore
  packages/components/.watchmanconfig
  packages/components/config/ember-try.js
  packages/components/package.json
  packages/components/tests/dummy/config/ember-cli-update.json
  packages/components/tests/helpers/index.js
  packages/components/tsconfig.declarations.json
Labels: packages/components

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
