Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

spike to demonstrate auto-load of language
  packages/components/addon/components/hds/code-block/index.js
  packages/components/ember-cli-build.js
  packages/components/index.js
  packages/components/package.json
  yarn.lock
Labels: packages/components

add markdown example to showcase for testing
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

Scaffolding and starting CodeBlock documentation
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/overview.md
Labels: docs-website

Adding initial draft of changelog authoring guidelines
  wiki/Website-Changelog.md
  wiki/images/doc-figma-libraries.png
  wiki/images/doc-npm-packages.png
Labels: none

Update Website-Changelog.md
  wiki/Website-Changelog.md
Labels: none

Update doc-npm-packages.png
  wiki/images/doc-npm-packages.png
Labels: none

Update Website-Changelog.md
  wiki/Website-Changelog.md
Labels: none

Update Website-Changelog.md
  wiki/Website-Changelog.md
Labels: none

README.md
  README.md
Labels: none

pornhub.md
  pornhub.md
Labels: none

Acceptance test with a11y audit for Hds::Tabs component (#1697)
  packages/components/tests/acceptance/components/hds/tabs-test.js
Labels: packages/components

Adds side-nav component a11y audit
  packages/components/tests/acceptance/components/hds/side-nav-test.js
Labels: packages/components

resolved issues with side-nav preview page
  packages/components/tests/acceptance/components/hds/side-nav-test.js
  packages/components/tests/dummy/app/components/shw/placeholder/index.js
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

removed color attribute changes
  packages/components/tests/dummy/app/components/shw/placeholder/index.js
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

Adding more clarity to icon and text usage
  website/docs/components/badge/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/badge/partials/guidelines/guidelines.md
  website/docs/components/badge/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/alert/partials/guidelines/overview.md
  website/docs/components/toast/partials/guidelines/overview.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/alert/partials/guidelines/overview.md
Labels: docs-website

Update guidelines.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
Labels: docs-website

guidelines.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/alert/partials/guidelines/overview.md
Labels: docs-website

Adding template and example output
  wiki/Website-Changelog.md
Labels: none

Finalizing changes before review
  wiki/Website-Changelog.md
Labels: none

Removing the unused images
  wiki/images/doc-figma-libraries.png
  wiki/images/doc-npm-packages.png
Labels: none

Adding figma template and examples
  wiki/Website-Changelog.md
Labels: none

Updating guidelines and anatomy
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/public/assets/components/code-block/code-block-anatomy.png
Labels: docs-website

button acceptance test with a11y audit
  packages/components/tests/acceptance/components/hds/button-test.js
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

add test
  packages/components/tests/acceptance/components/hds/dropdown-test.js
Labels: packages/components

Tweaks to button test
  packages/components/tests/acceptance/components/hds/button-test.js
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

update language about using the disabled attribute on links.
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

Update guidelines.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
Labels: docs-website

added use cases to the `Button/ButtonSet` showcases for equal width and loading states
  packages/components/tests/dummy/app/controllers/components/button-set.js
  packages/components/tests/dummy/app/controllers/components/button.js
  packages/components/tests/dummy/app/templates/components/button-set.hbs
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

updated the `Button/ButtonSet` documentation pages to include “equal width” and “loading states”
  website/docs/components/button-set/index.js
  website/docs/components/button-set/partials/code/how-to-use.md
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

Update guidelines.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
Labels: docs-website

adjust dropdown preview page for conformance
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
Labels: packages/components

`TextInput` - toggle visibility documentation guidelines (#1713)
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
Labels: docs-website

Cleaning up guidelines and adding images
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/public/assets/components/code-block/code-block-block-level.png
  website/public/assets/components/code-block/code-block-line-highlighting.png
  website/public/assets/components/code-block/code-block-line-selection.png
  website/public/assets/components/code-block/code-block-metadata.png
  website/public/assets/components/code-block/code-block-rounded-standalone.png
  website/public/assets/illustrations/components/code-block.jpg
Labels: docs-website

applied explicit text alignment to the text in the `Button` component
  packages/components/app/styles/components/button.scss
Labels: packages/components

changeset
  .changeset/wise-apples-worry.md
Labels: none

converted `showLabels` getter to simple tracked variable (for consistency with the “Numbered” implementation
  packages/components/addon/components/hds/pagination/compact/index.js
Labels: packages/components

removed useless/leftover variant assignment in “Numbered” variant of `Pagination`
  packages/components/addon/components/hds/pagination/numbered/index.js
Labels: packages/components
