Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added missing assertion tests for `Hds::Flex`
  showcase/tests/integration/components/hds/layout/flex/index-test.js
Labels: showcase

Update .changeset/purple-poems-battle.md
  .changeset/purple-poems-battle.md
Labels: none

removed comment after decision with Kristin
  packages/components/src/components/hds/layout/flex/index.ts
Labels: packages/components

simplified a bit the showcase code
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

more cleanup
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

AdvancedTable: set checkbox column width to `min-content` (#2761)
  .changeset/purple-poems-battle.md
  packages/components/src/components/hds/advanced-table/index.ts
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

working on cleaning up template
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

fixed row toggling
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

updated images to reflect A11Y changes
  website/public/assets/components/stepper/indicator/step-noninteractive.png
  website/public/assets/components/stepper/indicator/stepper-step-states.png
  website/public/assets/components/stepper/list/stepper-list-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-description-do.png
  website/public/assets/components/stepper/list/stepper-list-description-dont.png
  website/public/assets/components/stepper/list/stepper-list-processing-status-errored.png
  website/public/assets/components/stepper/list/stepper-list-processing-status.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-do.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-dont.png
  website/public/assets/components/stepper/list/stepper-list-states.png
  website/public/assets/components/stepper/list/stepper-list.png
  website/public/assets/components/stepper/nav/stepper-nav-anatomy.png
  website/public/assets/components/stepper/nav/stepper-nav-description-do.png
  website/public/assets/components/stepper/nav/stepper-nav-description-dont.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-matching-experiences.png
  website/public/assets/components/stepper/nav/stepper-nav-non-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-responsive-behavior.png
  website/public/assets/components/stepper/nav/stepper-nav-spacing-example.png
  website/public/assets/components/stepper/nav/stepper-nav-states.png
  website/public/assets/components/stepper/nav/stepper-navigation-spacing-example.png
Labels: none

Apply suggestions from code review
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
Labels: docs-website

updated images in accessibility tab
  website/public/assets/components/stepper/nav/stepper-nav-arrow-key.png
  website/public/assets/components/stepper/nav/stepper-nav-enter.png
  website/public/assets/components/stepper/nav/stepper-nav-focus-to-content.png
  website/public/assets/components/stepper/nav/stepper-nav-focus.png
Labels: none

updated do for list progressive disclosure.
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
Labels: docs-website

fixed a couple of headings
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

Add missing devDeps for `website`
  pnpm-lock.yaml
  website/package.json
Labels: none

Add missing `devDependencies` for `website` (#2767)
  pnpm-lock.yaml
  website/package.json
Labels: none

Fix: `List::Step` status set to optional
  packages/components/src/components/hds/stepper/list/step.ts
Labels: packages/components

working on styles for the panel close button
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

enable the minimum height of the editor only if linting is enabled
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

drawer diagnostic finished styling
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

json linting works pretty well
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

working on linting
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

updating tooltip styles
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

cleaning up after debugging linting issues
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

styling the selected panel
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

working on lint tooltip styling
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

added unit tests for linting methods
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: packages/components, showcase

increased close button size
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: packages/components, showcase

linting logic is in
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components

working on the json linter
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  pnpm-lock.yaml
Labels: packages/components

Add `lintGutter`
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

working on initial linting plugin
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  pnpm-lock.yaml
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

the linting drawer opens with the key command now
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

updating styles for linting drawer
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

finalized code editor UI
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

working on styline the linting elements
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

pr cleanup
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

responding to design feedback
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

fixing border colors
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

updating docs
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

cleaning up types and imports
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components
