Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

improved styling of content (preview illustration, title, description, highlighting)
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

finally deleted `algolia-autocomplete-theme-classic.scss` file!
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/index.scss
Labels: none

standardized focus color
  website/app/styles/doc-components/algolia-search/button.scss
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/results.scss
  website/app/styles/pages/application/header.scss
  website/app/styles/tokens.scss
Labels: none

fixed bug in the generation of the HTML for highlighting
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
Labels: none

renamed files for clarity
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/algoliaSearchClient.js
  website/app/components/doc/page/header/search/parts/getItemsFunction.js
Labels: none

added border to button + made “close” more button-like
  website/app/styles/doc-components/algolia-search/form.scss
Labels: none

added vertical responsiveness to the modal panel
  website/app/styles/doc-components/algolia-search/modal.scss
Labels: none

improved code for `SourceHeader`
  website/app/components/doc/page/header/search/parts/templatesHeaderFunction.js
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/modal.scss
Labels: none

improved snipppeting/highliting with custom method
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
  website/package.json
  yarn.lock
Labels: none

applied styles to modal overlay + container
  website/app/styles/doc-components/algolia-search/modal.scss
Labels: none

changed labet to “cancel/close” button in modal
  website/app/components/doc/page/header/search/index.js
Labels: none

added event listener to open/close the modal via `command-K` hot-key
  website/app/components/doc/page/header/search/index.js
Labels: none

styled modal “panel(s)” elements
  website/app/components/doc/page/header/search/index.js
  website/app/styles/doc-components/algolia-search/algolia-autocomplete-theme-classic.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

linting (can be split and squashed later if you want)
  website/app/styles/doc-components/algolia-search/button.scss
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

added “beta” badge
  website/app/styles/doc-components/algolia-search/form.scss
Labels: none

tweaks per design specs
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

improved deduplication
  website/app/components/doc/page/header/search/index.js
Labels: none

fixed strange bug that appeared only when highlighting exact matches
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
Labels: none

fixed alignment of results list in relation to other elements
  website/app/styles/doc-components/algolia-search/results.scss
Labels: none

fixed small visual CSS bug
  website/app/styles/doc-components/algolia-search/trigger.scss
Labels: none

renamed file
  website/app/styles/doc-components/algolia-search/index.scss
  website/app/styles/doc-components/algolia-search/trigger.scss
Labels: none

added fallback to “pageCaption” in result description
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
Labels: none

reset query value when modal is closed
  website/app/components/doc/page/header/search/index.js
Labels: none

improved content highlighting
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/htmlTemplatesItemBody.js
Labels: none

removed leftovers + other small tweaks
  website/app/components/doc/page/header/search/index.js
  website/app/components/doc/page/header/search/parts/templatesItemFunction.js
  website/config/environment.js
Labels: none

removed “filter” input from the sidebar
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidebar.js
  website/app/styles/pages/application/sidebar.scss
  website/tests/acceptance/sidebar-test.js
Labels: none

removed `Doc::Form:Filter` component
  website/app/components/doc/form/filter.hbs
  website/app/styles/doc-components/form/filter.scss
  website/app/styles/doc-components/form/index.scss
Labels: none

replaced “search” with “filter” in component used in the filtering of tokens and icons
  website/app/components/doc/form/filter.hbs
  website/app/components/doc/icons-list/index.hbs
  website/app/components/doc/tokens-list/index.hbs
  website/app/styles/doc-components/form/filter.scss
  website/app/styles/doc-components/form/index.scss
Labels: none

removed double entry in the `Wcag` list in the `AppFooter` page
  website/docs/components/app-footer/partials/accessibility/accessibility.md
Labels: docs-website

introduced check to make sure the index is correctly cleared at the beginning of the process
  website/docs-scraper/index-website-content.mjs
Labels: none

introduced logic to removed records with the same `objectID`
  website/docs-scraper/index-website-content.mjs
Labels: none

improved messaging
  website/docs-scraper/index-website-content.mjs
  website/docs-scraper/populateAlgoliaRecords.mjs
Labels: none

small refactoring of logic to improve feedback in console
  website/docs-scraper/index-website-content.mjs
Labels: none

FIX for asynchronous array population
  website/docs-scraper/index-website-content.mjs
Labels: none

extracted the `new EmberApp` config object in a standalone variable
  website/ember-cli-build.js
Labels: none

introduced a `isVercelProduction` variable (based on `process.env.VERCEL_ENV`)
  website/ember-cli-build.js
Labels: none

used the `isVercelProduction` to conditionally skip the fingerprinting of the “illustrations” assets
  website/ember-cli-build.js
Labels: none

remove some content from one of the examples of `Tabs`
  website/docs/components/tabs/partials/guidelines/guidelines.md
Labels: docs-website

added `page` key to “page” records
  website/docs-scraper/index-website-content.mjs
Labels: none

Add `shortfall` and rename `remaining`
  packages/components/addon/components/hds/form/character-count/index.hbs
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/tests/dummy/app/controllers/components/form/base-elements.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/dummy/app/templates/components/form/textarea.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
Labels: packages/components
