Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

chore: clarify tests
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

Expose the available names for icons
  packages/components/src/components/hds/icon/index.ts
Labels: packages/components

Only attempt to list icons that are available to `Hds::Icon`
  website/docs/icons/library/index.js
Labels: docs-website

Update changelog entries
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components

Generate markdown
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website

Resolve `flight-icons` misalignment in `website` (#2804)
  packages/components/src/components/hds/icon/index.ts
  pnpm-lock.yaml
  website/docs/icons/library/index.js
  website/package.json
Labels: docs-website, packages/components

Update headlines
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website, packages/components

`AdvancedTable`: add support for a sticky column (#2770)
  .changeset/nasty-rockets-grab.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/th-sort-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: packages/components, showcase

fix: table overflow container
  showcase/app/components/mock/app/index.gts
Labels: showcase

feat: add fixed height to table
  showcase/app/styles/mock-components/app.scss
Labels: showcase

finish adding mock model
  showcase/app/components/mock/app/main/generic-advanced-table.gts
Labels: showcase

temp
  showcase/app/components/mock/app/main/generic-advanced-table.gts
Labels: showcase

feat: crosslink full page example from advanced table showcase page
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fix: make all labels take 1 line
  showcase/app/components/mock/app/main/generic-advanced-table.gts
Labels: showcase

fix: column widths
  showcase/app/components/mock/app/main/generic-advanced-table.gts
Labels: showcase

feat: create app frame example with generic advanced table
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/router.ts
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-advanced-table.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

feat: sticky column to code docs
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

Added content and images to the specifications around sticky column, moved/rewrote the content for the stickky header.
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/advanced-table/partials/specifications/sticky-column.md
  website/public/assets/components/table/advanced-table/advanced-table-horizontal-overflow.png
  website/public/assets/components/table/advanced-table/advanced-table-sticky-column.png
Labels: docs-website

fix: spelling errors
  website/docs/components/table/advanced-table/partials/specifications/sticky-column.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/table/advanced-table/partials/specifications/sticky-column.md
Labels: docs-website

Use workspace protocol in `components/package.json`
  packages/components/package.json
  pnpm-lock.yaml
Labels: packages/components

Update load-sprite.ts
  packages/components/src/instance-initializers/load-sprite.ts
Labels: packages/components

Showcase: add app frame example with generic advanced table (#2789)
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/router.ts
  showcase/app/styles/mock-components/app.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-advanced-table.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

Update website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

Resolve pnpm no matching version error (#2807)
  packages/components/package.json
  packages/components/src/instance-initializers/load-sprite.ts
  pnpm-lock.yaml
Labels: packages/components

Update ember-a11y-testing version and a11y test scripts
  pnpm-lock.yaml
  showcase/package.json
  showcase/tests/acceptance/components/hds/dropdown-test.js
Labels: showcase

chore: resolve conflicts
  pnpm-lock.yaml
Labels: none

Update ember-a11y-testing version and a11y test scripts (#2724)
  pnpm-lock.yaml
  showcase/package.json
  showcase/tests/acceptance/components/hds/dropdown-test.js
Labels: showcase

Web Docs - SuperSelect Multiple Selection Order (#2775)
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

HDS-4688 Add tag argument to Card, add Showcase example, add tests
  packages/components/src/components/hds/card/container.hbs
  packages/components/src/components/hds/card/container.ts
  packages/components/src/components/hds/card/types.ts
  showcase/app/styles/showcase-pages/card.scss
  showcase/app/templates/components/card.hbs
  showcase/tests/integration/components/hds/card/container-test.js
Labels: packages/components, showcase

Update showcase/app/templates/components/card.hbs
  showcase/app/templates/components/card.hbs
Labels: showcase

HDS-4688 Add changeset
  .changeset/wise-stingrays-heal.md
Labels: none

Fixed component name formatting
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website, packages/components

HDS-4688 Add role=listitem if Card tag is an li
  packages/components/src/components/hds/card/container.hbs
  showcase/tests/integration/components/hds/card/container-test.js
Labels: packages/components, showcase

table now supports Ember data
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/components/hds/advanced-table/utils.ts
  pnpm-lock.yaml
  showcase/app/controllers/components/advanced-table.js
  showcase/app/models/music.js
  showcase/app/templates/components/advanced-table.hbs
  showcase/package.json
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/unit/serializers/application-test.js
Labels: packages/components, showcase

`Card` - Add tag argument (HDS-4688) (#2787)
  .changeset/wise-stingrays-heal.md
  packages/components/src/components/hds/card/container.hbs
  packages/components/src/components/hds/card/container.ts
  packages/components/src/components/hds/card/types.ts
  showcase/app/styles/showcase-pages/card.scss
  showcase/app/templates/components/card.hbs
  showcase/tests/integration/components/hds/card/container-test.js
Labels: packages/components, showcase

table now supports Ember data
  packages/components/src/components/hds/advanced-table/utils.ts
Labels: packages/components

HDS-4688 Add information on ensuring valid HTML markup
  website/docs/components/card/partials/accessibility/accessibility.md
  website/docs/components/card/partials/code/how-to-use.md
Labels: docs-website

HDS-4688 Add documentation for Card tag argument
  website/app/styles/app.scss
  website/app/styles/pages/components/card.scss
  website/docs/components/card/partials/code/component-api.md
  website/docs/components/card/partials/code/how-to-use.md
Labels: docs-website

`Card` - docs for tag arg (HDS-4688) (#2805)
  website/app/styles/app.scss
  website/app/styles/pages/components/card.scss
  website/docs/components/card/partials/accessibility/accessibility.md
  website/docs/components/card/partials/code/component-api.md
  website/docs/components/card/partials/code/how-to-use.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
