Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

removed control for `isOpen` in the content
  packages/components/src/components/hds/popover-primitive/index.hbs
Labels: packages/components

updates tests
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

re-added back the `isOpen` check in the template
  packages/components/src/components/hds/popover-primitive/index.hbs
Labels: packages/components

WIP refactored arrow logic
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/styles/components/popover-primitive.scss
  showcase/app/styles/showcase-pages/popover-primitive.scss
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: packages/components, showcase

fixed test
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

updated tests
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

fixed more tests
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
Labels: showcase

WIP showcase
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

fixed two bugs in one
  packages/components/src/components/hds/popover-primitive/index.js
Labels: packages/components

updated how to apply a backgroudn image to the arrow
  packages/components/src/styles/components/popover-primitive.scss
  showcase/app/styles/showcase-pages/popover-primitive.scss
Labels: packages/components, showcase

Applying Jory's suggestion.
  website/docs/components/form/select/partials/guidelines/guidelines.md
Labels: docs-website

sq
  packages/components/src/styles/components/popover-primitive.scss
Labels: packages/components

Updating wording to more accurate (thanks Jory)
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: docs-website

updates following comments in code review
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

changeset
  .changeset/slimy-bears-mix.md
Labels: none

removed whitespace (newline) from `ember-flight-icon` template
  packages/ember-flight-icons/src/components/flight-icon.hbs
Labels: packages/ember-flight-icons

updated `max-width` property for the tooltip content to take into account the padding
  packages/components/src/styles/components/tooltip.scss
Labels: packages/components

updated showcase to keep tooltips content on two lines
  showcase/app/templates/components/tooltip.hbs
Labels: showcase

changeset
  .changeset/chilly-avocados-serve.md
Labels: none

add image compression github action
  .github/workflows/ci-compress-images.yml
Labels: none

Added my username majedelass in SKIP_USERS array
  .changeset/changelog-hds.cjs.js
Labels: none

added missing “related” entries for the “utilities” components
  website/docs/utilities/disclosure-primitive/index.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/interactive/index.md
  website/docs/utilities/menu-primitive/index.md
Labels: docs-website

Fix test template for SegmentedGroup
  showcase/tests/integration/components/hds/segmented-group/index-test.js
Labels: showcase

sync & build of flight icons
  packages/flight-icons/catalog.json
Labels: packages/flight-icons

upgraded `stylelint` to `^16.3.1` and `stylelint-config-standard-scss` to `^13.1.0`
  packages/components/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, showcase

removed deprecated `max-line-length` rule declaration
  packages/components/.stylelintrc.js
  showcase/.stylelintrc.js
Labels: packages/components, showcase

Initial commit to open PR (to be removed later)
  .changeset/soft-lions-warn.md
Labels: none

updated unit/integration tests
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

added unit tests for `getFloatingUIOptions()` function
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

updated logic for how the `arrow` element and its options are provided, validated and processed
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

added integration test for when modifier is declared in template code
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

added integration tests for `hds-float-popover`modifier
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

added `hds-float-popover` modifier
  packages/components/package.json
  packages/components/src/modifiers/hds-float-popover.js
Labels: packages/components

changed default of `arrowPadding` option (to keep it more agnostic)
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

added “auto” option for `enableCollisionDetection` + “limiter” for `shift` middleware
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

renamed `hds-float-popover` modifier to `hds-anchored-position` and generalized code to be more agnostic (no “popover” references)
  packages/components/package.json
  packages/components/src/modifiers/hds-anchored-position.js
  packages/components/src/modifiers/hds-float-popover.js
Labels: packages/components

added `@floating-ui/dom` as dependency
  packages/components/package.json
  yarn.lock
Labels: packages/components

changed how the “arrow element” is provided to the modifier (from positional to named argument)
  packages/components/src/modifiers/hds-anchored-position.js
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: packages/components, showcase

added constants for `PLACEMENTS/DEFAULT_PLACEMENT` so they can be exported and consumed by other components
  packages/components/src/modifiers/hds-anchored-position.js
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
