Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added exports to components file
  packages/components/src/components.ts
Labels: packages/components

HDS-3854 fix: Tag - dismiss button overflow
  packages/components/src/styles/components/form/super-select.scss
  packages/components/src/styles/components/tag.scss
Labels: packages/components

Add changeset entry
  .changeset/heavy-camels-crash.md
Labels: none

Update website documentation
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/4.16.0.md
  website/docs/components/tag/index.md
  website/docs/components/tag/partials/version-history/4.16.0.md
Labels: docs-website

feat: switch website scripts from npm-run-all to concurrently
  website/package.json
  yarn.lock
Labels: none

fix: spelling errors and update dictionaries
  website/cspell-config/dictionary-docs-examples.txt
  website/cspell-config/dictionary-lorem.txt
  website/cspell-config/project-words.txt
  website/cspell.json
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/code/component-api.md
  website/docs/components/form/radio-card/partials/code/how-to-use.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/content/writing-style/index.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/utilities/popover-primitive/partials/code/component-api.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
Labels: docs-website

chore: alphabatize
  website/cspell-config/dictionary-docs-examples.txt
  website/cspell-config/dictionary-lorem.txt
  website/cspell-config/project-words.txt
Labels: none

fix: restore tabindex correctly when switch between mode
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: packages/components, showcase

chore: remove pauseTest
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: showcase

feat: add new AdvancedTable docs page
  website/app/styles/app.scss
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/index.js
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/accessibility/accessibility.md
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/version-history/4.16.0.md
Labels: docs-website

chore: move Table docs to components/table/table
  website/app/styles/pages/components/table.scss
  website/docs/components/table/table/index.js
  website/docs/components/table/table/index.md
  website/docs/components/table/table/partials/accessibility/accessibility.md
  website/docs/components/table/table/partials/code/component-api.md
  website/docs/components/table/table/partials/code/how-to-use.md
  website/docs/components/table/table/partials/content/badge-usage.md
  website/docs/components/table/table/partials/content/general.md
  website/docs/components/table/table/partials/content/icon-usage.md
  website/docs/components/table/table/partials/content/link-usage.md
  website/docs/components/table/table/partials/content/null-values.md
  website/docs/components/table/table/partials/guidelines/guidelines.md
  website/docs/components/table/table/partials/guidelines/overview.md
  website/docs/components/table/table/partials/specifications/anatomy.md
  website/docs/components/table/table/partials/specifications/states.md
  website/docs/components/table/table/partials/version-history/4.10.0.md
  website/docs/components/table/table/partials/version-history/4.11.0.md
  website/docs/components/table/table/partials/version-history/4.15.0.md
Labels: docs-website

chore: update links to Table component around docs site
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/filter-patterns/partials/guidelines/overview.md
  website/docs/patterns/filter-patterns/partials/specifications/specifications.md
  website/docs/patterns/table-multi-select/index.md
  website/docs/patterns/table-multi-select/partials/guidelines/guidelines.md
Labels: docs-website

feat: add sticky header, nested examples
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/index.js
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

chore: lint
  website/docs/components/table/advanced-table/index.js
Labels: docs-website

fix: wording
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

fix: lint:css:fix command in components and showcase
  packages/components/package.json
  showcase/package.json
Labels: packages/components, showcase

chore: update lint:css:fix
  website/package.json
Labels: none

added support for other langs
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
Labels: packages/components

added support for other langs
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: showcase

fix: lint:css:fix command in components and showcase (#2630)
  packages/components/package.json
  showcase/package.json
Labels: packages/components, showcase

adding docs for sentinel language support
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/languages/sentinel.js
  packages/components/src/modifiers/hds-code-editor/types.ts
Labels: packages/components

Upgrade `del` to `8.0` and remove `del` from tokens
  packages/flight-icons/package.json
  packages/flight-icons/scripts/build.ts
  packages/flight-icons/scripts/sync.ts
  packages/tokens/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens

Upgrade `ember-qunit` to `9.0.1`
  showcase/package.json
  showcase/tests/test-helper.ts
  website/package.json
  website/tests/test-helper.js
  yarn.lock
Labels: showcase

feat: switch website scripts from npm-run-all to concurrently (#2629)
  website/cspell-config/dictionary-docs-examples.txt
  website/cspell-config/dictionary-lorem.txt
  website/cspell-config/project-words.txt
  website/cspell.json
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/code/component-api.md
  website/docs/components/form/radio-card/partials/code/how-to-use.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/content/writing-style/index.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/utilities/popover-primitive/partials/code/component-api.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/package.json
  yarn.lock
Labels: docs-website

simplifying parser
  packages/components/src/modifiers/hds-code-editor/languages/sentinel.js
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

feat: copy Hds::Table and rework to Hds::AdvancedTable
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/td.hbs
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-button-sort.hbs
  packages/components/src/components/hds/advanced-table/th-button-sort.ts
  packages/components/src/components/hds/advanced-table/th-button-tooltip.hbs
  packages/components/src/components/hds/advanced-table/th-button-tooltip.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
Labels: packages/components

feat: copy tests from Table and rework for AdvancedTable
  showcase/tests/acceptance/components/hds/advanced-table.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/td-test.js
  showcase/tests/integration/components/hds/advanced-table/th-sort-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: showcase

chore: add changeset
  .changeset/strange-wolves-press.md
Labels: none

feat: copy showcase from Table and rework for AdvancedTable
  showcase/app/controllers/components/advanced-table.js
  showcase/app/router.ts
  showcase/app/routes/components/advanced-table.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/app/templates/index.hbs
  showcase/public/api/mock-spanning-cells-manual.json
Labels: showcase

feat: use ember-focus-trap and tabbable libraries
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/td.hbs
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  showcase/package.json
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
  yarn.lock
Labels: packages/components, showcase

chore: skip sticky header test for now
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

chore: remove pauseTest
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: showcase

feat: add @hasStickyHeader argument and related showcase example, test
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/routes/components/advanced-table.js
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

feat: add keyboard navigation + related tests
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/td.hbs
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: packages/components, showcase

chore: incorporate feedback for advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

feat: add nested rows, @childrenKey arg
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
  showcase/package.json
  showcase/public/api/mock-nested-rows-custom.json
  showcase/public/api/mock-nested-rows.json
  showcase/public/api/mock-spanning-cells.json
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  yarn.lock
Labels: packages/components, showcase

fix: add cleanup for IntersectionObserver
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: restore tabindex correctly when switch between mode
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: packages/components, showcase

chore: lint showcase
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
Labels: showcase

chore: lint components
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components
