Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Fix type for card when is static
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Adjust hover and active states for 'flush' variant
  packages/components/src/styles/components/accordion.scss
  showcase/app/templates/components/accordion.hbs
Labels: packages/components, showcase

Remove Sass variables
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Refactor `isStatic` to render a hidden button
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/styles/components/accordion.scss
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

Refactor CSS to make use of scoped variables
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Replace Sass variables with CSS variables
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Component fixes based on feedback
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
Labels: packages/components

Reorder showcase sections
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Adjustments to `Accordion::Item::Button`
  packages/components/src/components/hds/accordion/item/button.hbs
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/styles/components/accordion.scss
  showcase/app/styles/showcase-pages/accordion.scss
  showcase/app/templates/components/accordion.hbs
Labels: packages/components, showcase

Add exception to automated a11y testing
  showcase/tests/acceptance/components/hds/accordion-test.js
Labels: showcase

Refactor showcase
  showcase/app/templates/components/accordion.hbs
Labels: showcase

Move `sizeMap` up one level as `TEXT_SIZE_MAP`
  packages/components/src/components/hds/accordion/item/index.ts
Labels: packages/components

Add tests for `@size` and `@type` at parent and item levels
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: showcase

Rename CSS variable
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Add more bespoke padding/spacing on various sizes
  packages/components/src/styles/components/accordion.scss
Labels: packages/components

Add `gap` to ShwFlexSignature and ShwGridSignature
  showcase/types/global.d.ts
Labels: showcase

HDS-3416 Add changeset
  .changeset/flat-swans-exist.md
Labels: none

Delete .changeset/flat-swans-exist.md
  .changeset/flat-swans-exist.md
Labels: none

Update dirty-dots-wait.md
  .changeset/dirty-dots-wait.md
Labels: none

Update website/docs/about/contribution.md
  website/docs/about/contribution.md
Labels: docs-website

Update website/docs/about/contribution.md
  website/docs/about/contribution.md
Labels: docs-website

Apply suggestions from code review
  packages/components/src/components/hds/dropdown/toggle/icon.js
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

HDS-3416 Clean up old code
  packages/components/src/components/hds/dropdown/toggle/icon.js
Labels: packages/components

Added missing period
  website/docs/about/contribution.md
Labels: docs-website

Updated heading structure in BadgeCount docs (#2184)
  website/docs/components/badge-count/partials/guidelines/guidelines.md
Labels: docs-website

Contribution: Updating documentation order (#2185)
  website/docs/about/contribution.md
Labels: docs-website

`Dropdown::Toggle::Icon`: Fix inconsistencies (HDS-3416) (#2178)
  .changeset/dirty-dots-wait.md
  packages/components/src/components/hds/dropdown/toggle/icon.js
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

Add handle to SKIP_USERS
  .changeset/changelog-hds.cjs.js
Labels: none

returned null checks to tab component
  packages/components/src/components/hds/tabs/tab.hbs
  packages/components/src/components/hds/tabs/tab.ts
  showcase/app/templates/components/tabs.hbs
Labels: packages/components, showcase

finished converting the panel component
  packages/components/src/components/hds/tabs/panel.hbs
  packages/components/src/components/hds/tabs/panel.ts
Labels: packages/components

finished converting the panel component
  packages/components/src/components/hds/tabs/panel.ts
Labels: packages/components

created changeset for minor version bump
  .changeset/friendly-rules-end.md
Labels: none

converted tab component to ts file
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

pr feedback
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

returned null checks to panel component
  packages/components/src/components/hds/tabs/panel.hbs
  packages/components/src/components/hds/tabs/panel.ts
  showcase/app/templates/components/tabs.hbs
Labels: packages/components, showcase

confirmed that 'isSelected' is optional
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

added to template-registry
  packages/components/src/template-registry.ts
Labels: packages/components

Revert "finished converting the panel component"
  packages/components/src/components/hds/tabs/panel.ts
Labels: packages/components

addressing PR feedback
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

initial conversion to ts of index file
  packages/components/src/components/hds/tabs/index.ts
Labels: packages/components
