Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

`Copy::Button` - added a couple of examples of composition in showcase
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
Labels: packages/components

`Copy::Snippet` - implemented mocking of copy “states” in showcase
  packages/components/tests/dummy/app/controllers/components/copy/snippet.js
  packages/components/tests/dummy/app/routes/components/copy/snippet.js
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

Responding to feedback
  website/docs/components/table/partials/guidelines/guidelines.md
Labels: docs-website

`Copy::Snippet` - reorganized content in showcase
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

Add content for consistent tables (#1528)
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/table/partials/guidelines/guidelines.md
  website/docs/components/table/partials/specifications/anatomy.md
  website/docs/components/table/partials/specifications/states.md
  website/public/assets/components/table/center-justified-alignment.png
  website/public/assets/components/table/end-alignment-example-02.png
  website/public/assets/components/table/end-alignment-example-date.png
  website/public/assets/components/table/end-alignment-example-more-options.png
  website/public/assets/components/table/end-alignment-example.png
  website/public/assets/components/table/end-alignment-variable-length.png
  website/public/assets/components/table/icon-grouping.png
  website/public/assets/components/table/icon-product-branding.png
  website/public/assets/components/table/icon-status.png
  website/public/assets/components/table/icon-tile-product-branding.png
  website/public/assets/components/table/icon-without-label.png
  website/public/assets/components/table/link-example.png
  website/public/assets/components/table/longform-content-links.png
  website/public/assets/components/table/multiple-links.png
  website/public/assets/components/table/start-alignment-example.png
  website/public/assets/components/table/table-accessibility-tooltip.png
  website/public/assets/components/table/table-alignment-do.png
  website/public/assets/components/table/table-alignment-dont.png
  website/public/assets/components/table/table-cell-anatomy.png
  website/public/assets/components/table/table-cell-focus-do.png
  website/public/assets/components/table/table-cell-focus-dont.png
  website/public/assets/components/table/table-col-placement.png
  website/public/assets/components/table/table-density.png
  website/public/assets/components/table/table-header-anatomy.png
  website/public/assets/components/table/table-header-states.png
  website/public/assets/components/table/table-row-placement.png
  website/public/assets/components/table/table-sorting.png
  website/public/assets/components/table/table-striping.png
  website/public/assets/components/table/with-service-icon.png
Labels: docs-website

`Copy::Button` - updated showcase to include examples with `MaskedInput::Field`
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
Labels: packages/components

test
  packages/components/CONTRIBUTING.md
Labels: packages/components

Adding images and updating prose of null values
  website/docs/components/table/partials/guidelines/guidelines.md
  website/public/assets/components/table/null-empty-cells.png
  website/public/assets/components/table/null-value-badge-example.png
  website/public/assets/components/table/null-value-cause-tooltip.png
  website/public/assets/components/table/null-value-comparative-value.png
  website/public/assets/components/table/null-value-fallback-em-dash.png
  website/public/assets/components/table/null-value-fallback-na.png
  website/public/assets/components/table/null-value-text-example.png
Labels: docs-website

Adding null table content, cleanup of hierarchy
  website/docs/components/table/partials/guidelines/guidelines.md
  website/public/assets/components/table/null-data-set-in-a-table.png
Labels: docs-website

Fix spelling
  website/docs/components/table/partials/guidelines/guidelines.md
Labels: docs-website

HDS-2279 Update typography class to match newer designs, fix issue with button focus on active button, clean up styles
  packages/components/addon/components/hds/form/file-input/base.js
  packages/components/app/styles/components/form/file-input.scss
Labels: packages/components

Fix fancy apostrophe
  website/docs/components/table/partials/guidelines/guidelines.md
Labels: docs-website

HDS-2279 Update typography class to match newer designs, fix issue with button focus on active button, clean up styles
  packages/components/addon/components/hds/form/file-input/base.js
  packages/components/app/styles/components/form/file-input.scss
Labels: packages/components

Reorganized content guidelines into a separate tab
  website/docs/components/table/index.md
  website/docs/components/table/partials/content/content.md
  website/docs/components/table/partials/guidelines/guidelines.md
Labels: docs-website

Removed duplicative content
  website/docs/components/table/partials/guidelines/guidelines.md
Labels: docs-website

Removed content headline underneath Headers
  website/docs/components/table/partials/guidelines/guidelines.md
Labels: docs-website

Reordered tabs
  website/docs/components/table/index.md
Labels: docs-website

Reorganized content into separate files
  website/docs/components/table/index.md
  website/docs/components/table/partials/content/content.md
  website/docs/components/table/partials/content/general.md
  website/docs/components/table/partials/content/icon-usage.md
  website/docs/components/table/partials/content/link-usage.md
  website/docs/components/table/partials/content/null-values.md
Labels: docs-website

use `@ember/test-waiters` to instruct Ember to wait for modal `close`
  .changeset/pretty-ways-rule.md
  packages/components/addon/components/hds/modal/index.js
  packages/components/package.json
  yarn.lock
Labels: packages/components

HDS-2278 Fix bug with mock-focus style, clean up Showcase
  packages/components/app/styles/components/form/file-input.scss
  packages/components/tests/dummy/app/templates/components/form/file-input.hbs
Labels: packages/components

HDS-2278 Delete unneeded js file and move class names to template
  packages/components/addon/components/hds/form/file-input/base.hbs
  packages/components/addon/components/hds/form/file-input/base.js
Labels: packages/components

HDS-2278 Remove tests for attribute spreading
  packages/components/tests/integration/components/hds/form/file-input/base-test.js
  packages/components/tests/integration/components/hds/form/file-input/field-test.js
Labels: packages/components

Fix flaky tests in Flyout component
  packages/components/addon/components/hds/flyout/index.js
Labels: packages/components

Add changelog entry
  .changeset/strange-shoes-jam.md
Labels: none

Add changelog
  .changeset/serious-ravens-promise.md
Labels: none

fixed wrong default weight value for `Code`
  packages/components/addon/components/hds/text/code.js
Labels: packages/components

fixed missing `@` character from `tag` argument
  packages/components/tests/dummy/app/templates/components/text.hbs
Labels: packages/components

added integration tests for `Text` component and `Display/Body/Code` derived components
  packages/components/tests/integration/components/hds/text/body-test.js
  packages/components/tests/integration/components/hds/text/code-test.js
  packages/components/tests/integration/components/hds/text/display-test.js
  packages/components/tests/integration/components/hds/text/index-test.js
Labels: packages/components

changeset
  .changeset/old-parents-repeat.md
Labels: none

Update packages/components/tests/integration/components/hds/text/index-test.js
  packages/components/tests/integration/components/hds/text/index-test.js
Labels: packages/components

added `@align` argument to `Text` component (and derived components)
  packages/components/addon/components/hds/text/body.hbs
  packages/components/addon/components/hds/text/code.hbs
  packages/components/addon/components/hds/text/display.hbs
  packages/components/addon/components/hds/text/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/text.scss
  packages/components/tests/dummy/app/routes/components/text.js
  packages/components/tests/dummy/app/templates/components/text.hbs
Labels: packages/components

added `bold` weight to `Code` text style
  packages/components/addon/components/hds/text/code.js
  packages/components/tests/integration/components/hds/text/code-test.js
Labels: packages/components

removed implicit default weight logic for `Display`
  packages/components/addon/components/hds/text/display.js
  packages/components/tests/integration/components/hds/text/display-test.js
Labels: packages/components

added basic showcase for `Text` component
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/text.js
  packages/components/tests/dummy/app/templates/components/text.hbs
  packages/components/tests/dummy/app/templates/index.hbs
Labels: packages/components

added `@color` argument to `Text` component (and derived components)
  packages/components/addon/components/hds/text/body.hbs
  packages/components/addon/components/hds/text/code.hbs
  packages/components/addon/components/hds/text/display.hbs
  packages/components/addon/components/hds/text/index.hbs
  packages/components/addon/components/hds/text/index.js
  packages/components/tests/dummy/app/components/shw/flex/index.js
  packages/components/tests/dummy/app/routes/components/text.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-components/flex.scss
  packages/components/tests/dummy/app/styles/showcase-pages/text.scss
  packages/components/tests/dummy/app/templates/components/text.hbs
Labels: packages/components

added base `Text` component + derived `Display/Body/Code` components
  packages/components/addon/components/hds/text/body.hbs
  packages/components/addon/components/hds/text/body.js
  packages/components/addon/components/hds/text/code.hbs
  packages/components/addon/components/hds/text/code.js
  packages/components/addon/components/hds/text/display.hbs
  packages/components/addon/components/hds/text/display.js
  packages/components/addon/components/hds/text/index.hbs
  packages/components/addon/components/hds/text/index.js
  packages/components/app/components/hds/text/body.js
  packages/components/app/components/hds/text/code.js
  packages/components/app/components/hds/text/display.js
  packages/components/app/components/hds/text/index.js
Labels: packages/components

Apply suggestions from code review
  packages/components/tests/dummy/app/templates/components/text.hbs
Labels: packages/components

added percy testing for `Text` showcase page
  packages/components/tests/acceptance/percy-test.js
Labels: packages/components

updated frontmatter metadata for `Text` component
  website/docs/components/text/index.md
  website/docs/foundations/typography/index.md
Labels: docs-website

Applied suggestions from code review
  website/docs/components/text/index.md
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/components/text/partials/code/component-api.md
  website/docs/components/text/partials/code/how-to-use.md
  website/docs/foundations/typography/partials/code/how-to-use.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
