Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Website: add `@hasStickyFirstColumn` to Advanced Table code docs (#2797)
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/advanced-table/partials/specifications/sticky-column.md
  website/public/assets/components/table/advanced-table/advanced-table-horizontal-overflow.png
  website/public/assets/components/table/advanced-table/advanced-table-sticky-column.png
Labels: docs-website

`Layout::Flex` - documentation (#2764)
  website/app/styles/app.scss
  website/app/styles/pages/layouts/app-frame.scss
  website/app/styles/pages/layouts/flex.scss
  website/app/styles/pages/layouts/grid.scss
  website/docs/layouts/flex/index.md
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
  website/docs/layouts/flex/partials/version-history/version-history.md
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/code/component-api.md
  website/docs/layouts/grid/partials/code/how-to-use.md
  website/public/assets/illustrations/layouts/flex.jpg
  website/public/assets/illustrations/layouts/grid.jpg
  website/tests/acceptance/layouts/flex-test.js
  website/tests/acceptance/layouts/grid-test.js
Labels: docs-website

`4.18` Release Figma Changelog (#2806)
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website, packages/components

Prepare release for 4.18.1
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

Update component changelog entries
  website/docs/components/card/index.md
  website/docs/components/card/partials/version-history/version-history.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/version-history.md
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/textarea/partials/version-history/version-history.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/version-history/version-history.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/version-history/version-history.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/time/index.md
  website/docs/components/time/partials/version-history/version-history.md
  website/docs/layouts/flex/index.md
  website/docs/layouts/grid/index.md
Labels: docs-website

added changeset
  .changeset/quiet-wolves-exercise.md
Labels: none

updating docs
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

Fix spelling for linter
  packages/components/CHANGELOG.md
  website/cspell-config/project-words.txt
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/list/partials/version-history/version-history.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/version-history/version-history.md
  website/docs/layouts/flex/partials/version-history/version-history.md
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

fixed a ts error
  showcase/app/components/mock/app/main/generic-advanced-table.gts
Labels: showcase

updated the changeset and fixed a linting error
  .changeset/quiet-wolves-exercise.md
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

removed unneeded tests
  showcase/tests/unit/serializers/application-test.js
Labels: showcase

Fix: Add missing component paths to changelog generation script
  website/lib/changelog/generate-component-changelog-entries.mjs
Labels: none

chore(components): update `eslint` & `prettier` setup
  packages/components/.eslintignore
  packages/components/.eslintrc.cjs
  packages/components/.gitignore
  packages/components/.prettierignore
  packages/components/.prettierrc.cjs
  packages/components/.template-lintrc.cjs
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/tsconfig.json
  packages/components/unpublished-development-types/global.d.ts
  pnpm-lock.yaml
Labels: packages/components

fix(components): 💅 `lint:types`
  packages/components/src/components/hds/breadcrumb/item.hbs
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/interactive/index.hbs
  packages/components/src/components/hds/menu-primitive/index.ts
Labels: packages/components

fix(components): manual format adjustment to CSS
  packages/components/src/styles/components/alert.scss
  packages/components/src/styles/components/app-side-nav/content.scss
  packages/components/src/styles/components/badge-count.scss
  packages/components/src/styles/components/badge.scss
  packages/components/src/styles/components/dismiss-button.scss
  packages/components/src/styles/components/form/group.scss
  packages/components/src/styles/components/icon-tile.scss
  packages/components/src/styles/components/link/standalone.scss
  packages/components/src/styles/components/pagination.scss
  packages/components/src/styles/components/side-nav/content.scss
  packages/components/src/styles/mixins/_button.scss
Labels: packages/components

fix(components): run `lint:fix`
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
Labels: packages/components

internal: add global lint/format scripts
  package.json
Labels: none

bump packages
  packages/components/package.json
  pnpm-lock.yaml
Labels: packages/components

fix(components): fixup 9efb9bd70
  packages/components/src/components/hds/menu-primitive/index.ts
Labels: packages/components

fix: 🔒
  .npmrc
Labels: none

Disable `@typescript-eslint` errors to facilitate the upgrade
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/portal/target.ts
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/form/super-select/multiple/base.ts
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/components/hds/modal/index.ts
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/portal/target.ts
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/instance-initializers/load-sprite.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
  packages/components/src/modifiers/hds-anchored-position.ts
  packages/components/src/modifiers/hds-clipboard.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/utils/hds-get-element-id.ts
Labels: packages/components

fix: 🔒
  .npmrc
  pnpm-lock.yaml
Labels: none

fix: lint and format after rebase
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/styles/components/layout/flex.scss
  packages/components/src/styles/components/layout/grid.scss
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

chore: bump related deps and fix lint after rebase
  packages/components/package.json
  packages/components/src/instance-initializers/load-sprite.ts
  packages/components/src/styles/mixins/_focus-ring.scss
  pnpm-lock.yaml
Labels: packages/components

feat: enable `embroider-optimized` scenario
  showcase/config/ember-try.js
Labels: showcase

chore(showcase): bump `@embroider/test-setup`
  pnpm-lock.yaml
  showcase/package.json
Labels: showcase

chore: bump all `@embroider/*`
  packages/ember-flight-icons/package.json
  pnpm-lock.yaml
  website/package.json
Labels: packages/ember-flight-icons

chore: add all webpack `embroider` dependancies
  pnpm-lock.yaml
  showcase/package.json
Labels: showcase

chore: bump all `@embroider/*`
  pnpm-lock.yaml
  showcase/package.json
Labels: showcase

fix(showcase): lint 💅
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

chore: add `@hashicorp/flight-icons` to skipBabel
  showcase/ember-cli-build.js
Labels: showcase

feat(showcase): add modern `eslint` & `prettier`
  pnpm-lock.yaml
  showcase/.eslintignore
  showcase/.eslintrc.js
  showcase/.prettierrc.js
  showcase/.template-lintrc.js
  showcase/config/deprecation-workflow.js
  showcase/config/ember-cli-update.json
  showcase/eslint.config.mjs
  showcase/package.json
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/tabs/index-test.js
  showcase/tsconfig.json
  showcase/types/global.d.ts
Labels: showcase

fix(showcase): css lint
  showcase/app/styles/_typography.scss
  showcase/app/styles/showcase-pages/app-footer.scss
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/styles/showcase-pages/layout/grid.scss
  showcase/app/styles/showcase-pages/rich-tooltip.scss
  showcase/app/styles/showcase-pages/tooltip.scss
Labels: showcase

fix(showcase): lint js
  showcase/app/components/mock/app/main/generic-advanced-table.gts
Labels: showcase

fix(showcase): setup
  pnpm-lock.yaml
  showcase/.template-lintrc.js
  showcase/package.json
  showcase/tsconfig.json
Labels: showcase

fix: pnpm bump and config adjustment
  .npmrc
  package.json
  pnpm-lock.yaml
Labels: none

Fix: Update stepper path
  website/lib/changelog/generate-component-changelog-entries.mjs
Labels: none

Add missing component paths to changelog script (#2809)
  website/lib/changelog/generate-component-changelog-entries.mjs
Labels: none

fix: move caption out of grid
  packages/components/src/components/hds/advanced-table/index.hbs
Labels: packages/components

fix: remove aria-expanded mixed
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/types.ts
Labels: packages/components
