Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Update website/docs/components/alert/partials/guidelines/overview.md
  website/docs/components/alert/partials/guidelines/overview.md
Labels: docs-website

added basic CSS styling for “changelog” page content
  website/app/styles/app.scss
  website/app/styles/pages/whats-new/changelog.scss
Labels: none

fixed content in `components/CHANGELOG.md` file that causes our markdown-to-HTML renderer to crash
  packages/components/CHANGELOG.md
Labels: packages/components

added CHANGELOG files for Figma in “components” folder
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
Labels: packages/components

updated `prebuild` script tp add header to file to avoid accidental editing
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: none

Fixed the heading issue
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: docs-website, packages/components

implemented pre-processor for the CHANGELOG files (code only)
  website/lib/changelog/README.md
  website/lib/changelog/generate-changelog-markdown-files.mjs
  website/package.json
Labels: none

processed CHANGELOG files (for Figma)
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/figma-libraries.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website

added custom `changeset` formatting function for the HDS changelog
  .changeset/changelog-hds.cjs.js
  .changeset/config.json
Labels: none

added `whats-new/release-notes` files with placeholder content
  website/app/components/doc/page/sidebar.js
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/figma-libraries.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: docs-website

refactored `prebuild` node script to include Figma changelog files
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: none

Updating the Figma changelog content
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website, packages/components

new formatting after sync with designers
  .changeset/changelog-hds.cjs.js
Labels: none

updated existing CHANGELOG files to match new format
  packages/components/CHANGELOG.md
  packages/ember-flight-icons/CHANGELOG.md
  packages/flight-icons/CHANGELOG.md
  packages/tokens/CHANGELOG.md
Labels: packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

run `prebuild` script to generate updated `release-notes` markdown on website
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: docs-website

removed placeholder text from CHANGELOG-FIGMA-FOUNDATIONS
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website, packages/components

removed `@changesets/changelog-github` as dependency (not needed anymore)
  package.json
  yarn.lock
Labels: none

`Alert` and `Toast` Overview Update (#1720)
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/alert/partials/guidelines/overview.md
  website/docs/components/toast/partials/guidelines/overview.md
Labels: docs-website

`Checkbox` - Updating documentation for indeterminate state (#1726)
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/public/assets/components/form/checkbox/checkbox-indeterminate-do.png
  website/public/assets/components/form/checkbox/checkbox-indeterminate-dont.png
Labels: docs-website

Add tests for password input fields
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
Labels: packages/components

Add `VisibilityToggle` to `TextInput` when `@type="password"`
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.js
  packages/components/app/styles/components/form/text-input.scss
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
Labels: packages/components

Rename `isPasswordReadable ` → `isPasswordMasked`
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.js
Labels: packages/components

Rename `onClickToggle` → `onClickToggleMasking`
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/masked-input/base.js
Labels: packages/components

Apply `hds-form-text-input__wrapper` to all form field components
  packages/components/addon/components/hds/form/text-input/field.hbs
Labels: packages/components

Update `@layout` properties on `RadioCard`
  website/docs/components/form/radio-card/partials/code/component-api.md
Labels: docs-website

Forward aria arguments and add tests
  packages/components/addon/components/hds/form/masked-input/field.hbs
  packages/components/tests/integration/components/hds/form/masked-input/field-test.js
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: docs-website, packages/components

Update `MaskedInput` docs
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: docs-website

Added “Types” to showcase for `Hds::Form::TextInput`
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
Labels: packages/components

Rename `MaskedInput` aria arguments
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/masked-input/base.js
Labels: packages/components

Remove `@layout` argument on `Hds::RadioCard`
  packages/components/addon/components/hds/form/radio-card/index.js
  packages/components/app/styles/components/form/radio-card.scss
  packages/components/tests/integration/components/hds/form/radio-card/index-test.js
Labels: packages/components

Make `VisibilityToggle` more agnostic
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/visibility-toggle/index.hbs
  packages/components/addon/components/hds/visibility-toggle/index.js
  packages/components/app/styles/components/form/masked-input.scss
  packages/components/tests/dummy/app/templates/utilities/visibility-toggle.hbs
  packages/components/tests/integration/components/hds/visibility-toggle/index-test.js
Labels: packages/components

Update copy for `aria-live` message
  packages/components/addon/components/hds/form/masked-input/base.js
  packages/components/addon/components/hds/form/text-input/field.js
  packages/components/tests/integration/components/hds/form/masked-input/base-test.js
  packages/components/tests/integration/components/hds/form/visibility-toggle/index-test.js
Labels: packages/components

Add VRT test for custom width on password inputs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
Labels: packages/components

Add generic changelog entry
  .changeset/neat-panthers-develop.md
Labels: none

Update showcase to reflect `@layout` changes
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
Labels: packages/components

Update examples to use new `@listPosition` values
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  packages/components/tests/dummy/app/templates/components/table.hbs
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website, packages/components

Move `VisibilityToggle` to form primitives
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/visibility-toggle/index.hbs
  packages/components/app/components/hds/form/visibility-toggle/index.js
  packages/components/app/components/hds/visibility-toggle/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/form/index.scss
  packages/components/app/styles/components/form/visibility-toggle.scss
  packages/components/tests/dummy/app/routes/components/visibility-toggle.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/form/base-elements.scss
  packages/components/tests/dummy/app/styles/showcase-pages/visibility-toggle.scss
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/dummy/app/templates/utilities/visibility-toggle.hbs
  packages/components/tests/integration/components/hds/form/masked-input/base-test.js
  packages/components/tests/integration/components/hds/form/visibility-toggle/index-test.js
Labels: packages/components

Move positioning concerns out of `VisibilityToggle`
  packages/components/addon/components/hds/form/text-input/base.js
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/app/styles/components/form/masked-input.scss
  packages/components/app/styles/components/form/text-input.scss
  packages/components/app/styles/components/form/visibility-toggle.scss
  packages/components/tests/dummy/app/styles/showcase-pages/form/base-elements.scss
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
Labels: packages/components

Remove deprecated Dropdown `listPosition`
  packages/components/addon/components/hds/dropdown/index.js
  packages/components/app/styles/components/dropdown.scss
  packages/components/tests/integration/components/hds/dropdown/index-test.js
Labels: packages/components

Abstract `VisibilityToggle` as a utility component
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/visibility-toggle/index.hbs
  packages/components/addon/components/hds/visibility-toggle/index.js
  packages/components/app/components/hds/visibility-toggle/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/form/masked-input.scss
  packages/components/app/styles/components/visibility-toggle.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/visibility-toggle.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/visibility-toggle.scss
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/dummy/app/templates/utilities/visibility-toggle.hbs
  packages/components/tests/integration/components/hds/form/masked-input/base-test.js
  packages/components/tests/integration/components/hds/visibility-toggle/index-test.js
Labels: packages/components

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
