Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Feat: Assertion for number of panels and steps
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/panel.ts
  packages/components/src/components/hds/stepper/navigation/step.ts
Labels: packages/components

Chore: Linting fixes
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

`MaskedInput`: add ability to control content masking externally (#2716)
  .changeset/gentle-frogs-talk.md
  packages/components/src/components/hds/form/masked-input/base.hbs
  packages/components/src/components/hds/form/masked-input/base.ts
  showcase/app/controllers/components/form/masked-input.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/form/masked-input.scss
  showcase/app/templates/components/form/masked-input.hbs
Labels: packages/components, showcase

working on the json linter
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  pnpm-lock.yaml
Labels: packages/components

chore(components): upgrade `ember-stargate`
  packages/components/package.json
  pnpm-lock.yaml
Labels: packages/components

Feat: Design style alignment
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: packages/components, showcase

chore: ignore pnpm-lock for copywrite headers
  .copywrite.hcl
Labels: none

chore: upgrade ember-a11y-testing
  pnpm-lock.yaml
  showcase/package.json
Labels: showcase

fix: accordion test a11y violations
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: showcase

chore: remove old copywrite change
  .copywrite.hcl
Labels: none

Update ember-a11y-testing version and a11y test scripts
  pnpm-lock.yaml
  showcase/package.json
  showcase/tests/acceptance/components/hds/dropdown-test.js
Labels: showcase

fix(components): `ember-composable-helpers` -> `@nullvoxpopuli/ember-composable-helpers`
  .changeset/polite-shirts-fix.md
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  website/cspell-config/project-words.txt
  website/docs/components/table/table/partials/code/how-to-use.md
Labels: docs-website, packages/components

Update .changeset/polite-shirts-fix.md
  .changeset/polite-shirts-fix.md
Labels: none

address review feedback
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

fix(components): `ember-composable-helpers` -> `@nullvoxpopuli/ember-composable-helpers` (#2493)
  .changeset/polite-shirts-fix.md
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  website/cspell-config/project-words.txt
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/table/partials/code/how-to-use.md
Labels: docs-website, packages/components

feat: enable `embroider-safe` scenario
  .github/workflows/ci-components.yml
  showcase/config/ember-try.js
Labels: showcase

fix: warnings
  showcase/tests/unit/services/hds-time-test.js
Labels: showcase

feat: enable `embroider-safe` scenario (#2708)
  .github/workflows/ci-components.yml
  showcase/config/ember-try.js
  showcase/tests/unit/services/hds-time-test.js
Labels: showcase

feat: enable `embroider-optimized` scenario
  showcase/config/ember-try.js
Labels: showcase

Feat: Move isInteractive from `Navigation::Step` to `Navigation`, have currentStep determine step status
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Feat: Rename `Stepper::Navigation` to `Stepper::Nav`
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/template-registry.ts
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Prevent click and keyboard on non-interactive steps
  packages/components/src/components/hds/stepper/nav/step.ts
Labels: packages/components

Chore: Linting fixes
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

chore(website): add expand all button to code tab
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

feat: update icon to match design
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/types.ts
Labels: packages/components

chore: update changeset formatting
  .changeset/swift-elephants-play.md
Labels: none

chore: update guideline images
  website/public/assets/components/table/advanced-table/advanced-table-density-mix.png
  website/public/assets/components/table/advanced-table/advanced-table-dont-parent-nested.png
  website/public/assets/components/table/advanced-table/expandable-rows.png
Labels: none

HDS-4550 Update Time component visual style when tooltip is present
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-4550 Add changeset
  .changeset/tidy-eels-doubt.md
Labels: none

HDS-4550 Add Time component to visual regression testing as the visual style was changed
  showcase/tests/acceptance/percy-test.js
Labels: showcase

HDS-4542 Move style import from tooltip modifier to SCSS and update rollup to resolve Sass path
  packages/components/rollup.config.mjs
  packages/components/src/modifiers/hds-tooltip.ts
  packages/components/src/styles/components/tooltip.scss
Labels: packages/components

feat(website): modernize dynamic-template component
  pnpm-lock.yaml
  website/app/components/dynamic-template.hbs
  website/app/components/dynamic-template.js
  website/package.json
Labels: none

feat(website): modernize dynamic-template component (#2729)
  pnpm-lock.yaml
  website/app/components/dynamic-template.hbs
  website/app/components/dynamic-template.js
  website/package.json
Labels: none

feat: wrap contextual components in `ensure-safe-component`
  packages/components/package.json
  packages/components/src/components/hds/form/masked-input/field.hbs
  packages/components/src/components/hds/form/text-input/field.hbs
  packages/components/src/components/hds/form/textarea/field.hbs
  packages/components/unpublished-development-types/global.d.ts
  pnpm-lock.yaml
Labels: packages/components

Fix: a11y structure improvements for non-interactive steps
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/styles/components/stepper/navigation.scss
Labels: packages/components

Feat: Design style alignment
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  showcase/app/routes/components/stepper.js
  showcase/app/templates/components/stepper.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
Labels: packages/components, showcase

Chore: Linting fixes
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/navigation-panel-test.js
  showcase/tests/integration/components/hds/stepper/navigation-step-test.js
  showcase/tests/integration/components/hds/stepper/navigation-test.js
Labels: packages/components, showcase

Fix: showcase active state and a11y automated tests
  showcase/app/templates/components/stepper.hbs
  showcase/tests/acceptance/components/hds/stepper-test.js
Labels: showcase

HDS-4411 `Stepper::Navigation` and `Stepper::List` components added
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/navigation/index.hbs
  packages/components/src/components/hds/stepper/navigation/index.ts
  packages/components/src/components/hds/stepper/navigation/step.hbs
  packages/components/src/components/hds/stepper/navigation/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/navigation.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/stepper.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/stepper.scss
  showcase/app/templates/components/stepper.hbs
Labels: packages/components, showcase

Fix: Align class names in List
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components
