Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

HDS-3221 Restructure layout of width examples in Showcase, refactor selected option data, use better class name for applying match-trigger-width-false style
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Fix text capitalization in tests
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
Labels: showcase

HDS-3221 Add example of custom selectedItem component for Single, add examples without custom selectedItem
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

Guard against default option border
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Show 'Clear Selected' only when there are selected items
  packages/components/src/components/hds/form/super-select/after-options.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
Labels: packages/components

Make PowerSelect API available in Single variant
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/field.hbs
Labels: packages/components

HDS-3221 Refactor to remove extra div
  packages/components/src/components/hds/form/super-select/option-group.hbs
Labels: packages/components

Use shared `ID_PREFIX` from label
  packages/components/src/components/hds/form/field/index.js
Labels: packages/components

Rename `options` to `option`
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
Labels: packages/components

HDS-3221 Updated id prefix for group title
  packages/components/src/components/hds/form/super-select/option-group.hbs
  packages/components/src/components/hds/form/super-select/option-group.js
Labels: packages/components

HDS-3221 Change span to div
  packages/components/src/components/hds/form/super-select/option-group.hbs
Labels: packages/components

Fix subcomponent paths in `showcase`
  showcase/app/templates/components/form/super-select.hbs
  showcase/app/templates/components/form/super-select/after-options.hbs
  showcase/app/templates/components/form/super-select/generic-content.hbs
  showcase/app/templates/components/form/super-select/selected-component-multiple.hbs
  showcase/app/templates/components/form/super-select/selected-component-single.hbs
Labels: showcase

Fix hover indicator on message
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

HDS-3221 Rename group-header to group-title to match Figma, fix Showcase example for no AfterOptions in Multiple component, add additional Showcase examples
  packages/components/src/components/hds/form/super-select/option-group.hbs
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Add missing closeOnSelect option forwarding to Single component, use custom search placeholder value for Multiple to match Single even though it won't be visible for now
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/single/base.hbs
Labels: packages/components

Add tests for `SuperSelect::Multiple::Field`
  showcase/tests/integration/components/hds/form/super-select/multiple/field-test.js
Labels: showcase

HDS-3221 Fix dropdownMaxWidth and matchTriggerWidth
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/base.js
  packages/components/src/components/hds/form/super-select/single/field.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Add comments as reminder to add same arguments both in base and field
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/field.hbs
Labels: packages/components

HDS-3221 Delete old TODOs
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
  showcase/tests/integration/components/hds/form/super-select/single/base-test.js
Labels: showcase

HDS-3221 Remove unneeded ariaLabels from tests
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
  showcase/tests/integration/components/hds/form/super-select/single/base-test.js
Labels: showcase

HDS-3221 Refactor dropdownMaxWIdth to pass an object instead of setting default in JS
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.js
Labels: packages/components

Make PowerSelect API available in Multiple variant
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
Labels: packages/components

Fix font on search input
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

HDS-3221 Simplify structure and styles for rich content examples
  showcase/app/styles/showcase-pages/form/super-select.scss
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Refactor how typography styles are applied to various child elements
  packages/components/package.json
  packages/components/src/components/hds/form/super-select/after-options.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/placeholder.hbs
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/base.js
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/templates/components/form/power-select/selected-component-multiple.hbs
  showcase/app/templates/components/form/power-select/selected-component-single.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

Add comment around indicator's positioning
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Compute `ariaLabelledBy` in SuperSelect
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/field/index.js
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  packages/components/src/components/hds/form/super-select/single/field.hbs
  showcase/tests/integration/components/hds/form/field/index-test.js
Labels: packages/components, showcase

HDS-3221 Clean up code repetition and delete unneeded IDs
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
  showcase/tests/integration/components/hds/form/super-select/single/base-test.js
Labels: showcase

Apply showcase-related suggestions from code review
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

Refactor `ember-basic-dropdown-content`'s `max-width`
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Comments updates
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Document `setPowerSelectAPI`
  packages/components/src/components/hds/form/super-select/multiple/base.js
Labels: packages/components

Reorder before/after options examples
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

Add tests for `SuperSelect::Multiple`
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
Labels: showcase

Fix default after options example
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

Apply suggestions from code review
  packages/components/src/components/hds/form/super-select/after-options.hbs
Labels: packages/components

HDS-3221 Refactor how some typograpghy and color styles are applied, narrow width of some showcase examples a bit
  packages/components/src/components/hds/form/super-select/after-options.hbs
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Modify options data to include disabled option
  showcase/app/routes/components/form/super-select.js
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

HDS-3221 Clean up CSS
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

HDS-3221 Clean up comments
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components
