Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Chore: Add changeset
  .changeset/selfish-apes-breathe.md
Labels: none

Update guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Feat: `CodeBlock` toggle code docs
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Fix: Linting
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Update guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

added images
  website/public/assets/components/code-block/code-block-collapsed.png
  website/public/assets/components/code-block/code-block-expanded.png
Labels: none

Apply suggestions from code review
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

cleaning up
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

simplified the th api
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

Apply suggestions from code review
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

removing slider component
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/th-menu/index.hbs
  packages/components/src/components/hds/advanced-table/th-menu/index.ts
  packages/components/src/components/hds/advanced-table/th-resize-form.hbs
  packages/components/src/components/hds/advanced-table/th-resize-form.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
Labels: packages/components

Update guidelines.md
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

Fix: Code docs missing word
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: docs-website

Update guidelines.md
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

added showcase page for `foundations/breakpoints`
  showcase/app/components/mock/demo/breakpoints-ruler.gts
  showcase/app/components/mock/demo/breakpoints-visualization.gts
  showcase/app/router.ts
  showcase/app/styles/_temp-hds-breakpoints.scss
  showcase/app/styles/app.scss
  showcase/app/styles/mock-components/app.scss
  showcase/app/styles/mock-components/demo/breakpoints/colors.scss
  showcase/app/styles/mock-components/demo/breakpoints/index.scss
  showcase/app/styles/mock-components/demo/breakpoints/page-padding.scss
  showcase/app/styles/mock-components/demo/breakpoints/ruler.scss
  showcase/app/styles/mock-components/demo/breakpoints/visualization.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-page-padding.hbs
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-visualization-with-ui-shell.hbs
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-visualization.hbs
  showcase/app/templates/foundations/breakpoints/index.hbs
  showcase/app/templates/index.hbs
  showcase/types/template-registry.ts
Labels: showcase

changeset
  .changeset/plenty-kangaroos-worry.md
Labels: none

generalized support for number of columns in `Shw::Grid` component
  showcase/app/components/shw/grid/index.gts
  showcase/app/styles/showcase-components/grid.scss
Labels: showcase

added percy test for breakpoints (frameless) page
  showcase/tests/acceptance/percy-test.js
Labels: showcase

added TypeScript file for `breakpoints`
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/foundations/breakpoints.ts
Labels: packages/components

this actually just works
  showcase/app/styles/_temp-hds-breakpoints.scss
  showcase/app/styles/mock-components/demo/breakpoints/page-padding.scss
  showcase/app/styles/mock-components/demo/breakpoints/ruler.scss
  showcase/app/styles/mock-components/demo/breakpoints/visualization.scss
Labels: showcase

added Sass file for `breakpoints`
  packages/components/src/styles/mixins/_breakpoints.scss
Labels: packages/components

moved `breakpoints` file under `utils` folder per review suggestion
  packages/components/package.json
  packages/components/src/utils/hds-breakpoints.ts
  showcase/app/components/mock/demo/breakpoints-ruler.gts
  showcase/app/components/mock/demo/breakpoints-visualization.gts
Labels: packages/components, showcase

removed unused Sass code
  showcase/app/styles/mock-components/demo/breakpoints/colors.scss
  showcase/app/styles/mock-components/demo/breakpoints/ruler.scss
  showcase/app/styles/mock-components/demo/breakpoints/visualization.scss
Labels: showcase

removed `appReexports` entry for `foundations` per review comment
  packages/components/rollup.config.mjs
Labels: packages/components

renamed `hdsBreakpointsValues` to `hdsBreakpoints` and removed `hdsBreakpointsNames` (per code review conversation)
  packages/components/src/utils/hds-breakpoints.ts
  showcase/app/components/mock/demo/breakpoints-ruler.gts
  showcase/app/components/mock/demo/breakpoints-visualization.gts
Labels: packages/components, showcase

changes per code review suggestion
  packages/components/src/utils/hds-breakpoints.ts
  showcase/app/components/mock/demo/breakpoints-ruler.gts
Labels: packages/components, showcase

added `screen` to `@media` declaration, per code review suggestion
  packages/components/src/styles/mixins/_breakpoints.scss
Labels: packages/components

moved documentation update commit from other branch
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
Labels: docs-website

Update website/docs/foundations/breakpoints/partials/code/how-to-use.md
  website/docs/foundations/breakpoints/partials/code/how-to-use.md
Labels: docs-website

Foundations / Viewport breakpoints - Implementation (#2848)
  .changeset/plenty-kangaroos-worry.md
  packages/components/src/styles/mixins/_breakpoints.scss
  packages/components/src/utils/hds-breakpoints.ts
  showcase/app/components/mock/demo/breakpoints-ruler.gts
  showcase/app/components/mock/demo/breakpoints-visualization.gts
  showcase/app/components/shw/grid/index.gts
  showcase/app/router.ts
  showcase/app/styles/app.scss
  showcase/app/styles/mock-components/app.scss
  showcase/app/styles/mock-components/demo/breakpoints/colors.scss
  showcase/app/styles/mock-components/demo/breakpoints/index.scss
  showcase/app/styles/mock-components/demo/breakpoints/page-padding.scss
  showcase/app/styles/mock-components/demo/breakpoints/ruler.scss
  showcase/app/styles/mock-components/demo/breakpoints/visualization.scss
  showcase/app/styles/showcase-components/grid.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-page-padding.hbs
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-visualization-with-ui-shell.hbs
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-visualization.hbs
  showcase/app/templates/foundations/breakpoints/index.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/percy-test.js
  showcase/types/template-registry.ts
Labels: packages/components, showcase

styling the resize handle
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/global.d.ts
  pnpm-lock.yaml
Labels: packages/components

resizing with both the keyboard and mouse works
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
Labels: packages/components

cleaning up PR
  packages/components/src/modifiers/hds-on-click-outside.ts
  packages/components/src/template-registry.ts
  showcase/app/templates/components/form/base-elements.hbs
Labels: packages/components, showcase

fixed typo
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/component-api.md
Labels: docs-website

feat(showcase): add modern `eslint` & `prettier`
  pnpm-lock.yaml
Labels: none

feat(showcase): add modern `eslint` & `prettier`
  pnpm-lock.yaml
Labels: none

fix(showcase): setup
  showcase/.template-lintrc.js
Labels: showcase
