Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Added articles in the related articles area
  website/docs/patterns/disabled-patterns/partials/relatedarticles.md
Labels: docs-website

convert separator to TS
  packages/components/src/components/hds/separator/index.hbs
  packages/components/src/components/hds/separator/index.ts
  packages/components/src/components/hds/separator/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

add changeset
  .changeset/stupid-news-marry.md
Labels: none

rename js file to ts
  packages/components/src/components/hds/separator/index.ts
Labels: packages/components

update order or expected values in test
  showcase/tests/integration/components/hds/separator/index-test.js
Labels: showcase

move app-footer/index to ts
  packages/components/src/components/hds/app-footer/index.ts
Labels: packages/components

rename js files to ts
  packages/components/src/components/hds/app-footer/copyright.ts
Labels: packages/components

convert app-footer/status-link to ts
  packages/components/src/components/hds/app-footer/status-link.hbs
  packages/components/src/components/hds/app-footer/status-link.ts
  packages/components/src/components/hds/app-footer/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

work around status potentially being undefined
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

Update packages/components/src/template-registry.ts
  packages/components/src/template-registry.ts
Labels: packages/components

move hrefForSupport back where it was
  packages/components/src/components/hds/app-footer/legal-links.ts
Labels: packages/components

HdsAppFooterIndexComponent -> HdsAppFooterComponent
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Use `HdsLinkInlineSignature` for `AppFooter::Link`
  packages/components/src/components/hds/app-footer/link.ts
Labels: packages/components

convert app-footer/copywrite
  packages/components/src/components/hds/app-footer/copyright.hbs
  packages/components/src/components/hds/app-footer/copyright.ts
  packages/components/src/template-registry.ts
Labels: packages/components

convert app-footer/link to ts
  packages/components/src/components/hds/app-footer/link.hbs
  packages/components/src/components/hds/app-footer/link.ts
  packages/components/src/template-registry.ts
Labels: packages/components

convert app-footer/item to ts
  packages/components/src/components/hds/app-footer/item.hbs
  packages/components/src/components/hds/app-footer/item.ts
  packages/components/src/template-registry.ts
Labels: packages/components

rename js tiles to ts
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

simplify app-footer/status-link constructor
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

import SafeString from `@ember/template/-private/handlebars`
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

add changeset
  .changeset/plenty-emus-marry.md
Labels: none

Apply suggestions from code review
  packages/components/src/components/hds/app-footer/copyright.ts
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-footer/item.ts
  packages/components/src/components/hds/app-footer/legal-links.ts
  packages/components/src/components/hds/app-footer/link.ts
  packages/components/src/components/hds/app-footer/status-link.ts
  packages/components/src/template-registry.ts
Labels: packages/components

fix issue with status type
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

add empty Blocks hash
  packages/components/src/components/hds/app-footer/legal-links.ts
Labels: packages/components

convert app-footer/index to ts
  packages/components/src/components/hds/app-footer/index.hbs
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

adjust type for itemStyle
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

convert app-footer/legal-link to ts
  packages/components/src/components/hds/app-footer/legal-links.hbs
  packages/components/src/components/hds/app-footer/legal-links.ts
  packages/components/src/template-registry.ts
Labels: packages/components

fix statusIcon getter
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

rename js files to ts
  packages/components/src/components/hds/app-footer/legal-links.ts
Labels: packages/components

extra themes into a type
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-footer/types.ts
Labels: packages/components

update type in comment
  packages/components/src/components/hds/app-footer/status-link.ts
Labels: packages/components

Replace temporary comment with content
  wiki/TypeScript-Migration.md
Labels: none

Indent point for each step
  wiki/TypeScript-Migration.md
Labels: none

Fix extension in step 3
  wiki/TypeScript-Migration.md
Labels: none

Add thin docs around Blocks and Element
  wiki/TypeScript-Migration.md
Labels: none

Apply suggestions from code review
  wiki/TypeScript-Migration.md
Labels: none

Document optional arguments
  wiki/TypeScript-Migration.md
Labels: none

Use `types.d.ts`
  wiki/TypeScript-Migration.md
Labels: none

Remove `Index` from class and signature name
  wiki/TypeScript-Migration.md
Labels: none

Add TypeScript migration light docs
  wiki/TypeScript-Migration.md
Labels: none

Add note about template-only component
  wiki/TypeScript-Migration.md
Labels: none

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
