Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Update `@count` type in API docs
  website/docs/components/dropdown/partials/code/component-api.md
Labels: docs-website

Shorten syntax for toggle focus
  packages/components/src/components/hds/menu-primitive/index.ts
Labels: packages/components

Apply suggestions from code review
  website/docs/getting-started/for-designers.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
Labels: docs-website

removed `glint-nocheck` declaration in template file
  packages/components/src/components/hds/segmented-group/index.hbs
Labels: packages/components

run `npx ember-codemod-args-to-signature --src src/components/hds/se gmented-group` command
  packages/components/src/components/hds/segmented-group/index.ts
Labels: packages/components

Fix a few return types
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/dialog-primitive/header.ts
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/modal/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

fully converted `SegmentedGroup` to TS (as template-only component)
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/components/hds/segmented-group/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

changeset
  .changeset/small-mirrors-hope.md
Labels: none

added `HdsSegmentedGroup` to barrell export file
  packages/components/src/components.ts
Labels: packages/components

Set link vertical alignment to baseline
  website/app/styles/pages/application/sidebar.scss
Labels: none

fix spacing between hds-button(-set) and various components
  website/docs/components/button/partials/guidelines/guidelines.md
Labels: docs-website

HDS-3375 Delete old CSS code
  packages/components/src/styles/components/app-frame.scss
Labels: packages/components

chore: add demo to all names
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
Labels: docs-website

HDS-3375 Update argument name in code example to match latest API
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/app/templates/patterns.hbs
  website/docs/getting-started/for-designers.md
Labels: docs-website

small fix for the `/testing/components/typography` page
  website/app/components/doc/page/banner.hbs
  website/docs/testing/components/typography.md
Labels: docs-website

HDS-3375 Change 'SideNav' to 'Side Nav' within text when not referring directly to code
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/overview.md
Labels: docs-website

Apply suggestions from code review
  website/app/templates/patterns.hbs
  website/docs/getting-started/for-designers.md
Labels: docs-website

HDS-3375 Add missing links, update related and keywords to add other examples
  website/docs/components/app-header/index.md
Labels: docs-website

Tooltip Modifier TS Migration begin
  packages/components/src/modifiers/hds-tooltip.ts
Labels: packages/components

hds-tooltip modifier migrated to TypeScript
  .changeset/nasty-points-wait.md
  packages/components/src/modifiers/hds-tooltip.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Several updates across components
  website/docs/about/overview.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/dropdown/partials/guidelines/overview.md
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/utilities/dialog-primitive/partials/guidelines/guidelines.md
  website/docs/utilities/disclosure-primitive/partials/code/how-to-use.md
  website/docs/utilities/dismiss-button/partials/code/how-to-use.md
  website/docs/utilities/interactive/partials/code/how-to-use.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

HDS-3375 Fix link to appframe docs, add return above md list
  website/docs/components/app-header/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

TS Migration begin
  packages/components/src/components/hds/table/th-button-tooltip.ts
Labels: packages/components

TS Migration begin
  packages/components/src/components/hds/table/th.ts
Labels: packages/components

add explicit ember-get-config
  .changeset/small-peaches-complain.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

Remove web component scraping examples
  website/docs/testing/markdown/scraping-playground.md
Labels: docs-website

TS Migration end
  .changeset/nasty-points-wait.md
  packages/components/src/components.ts
  packages/components/src/components/hds/table/th-button-tooltip.hbs
  packages/components/src/components/hds/table/th-button-tooltip.ts
  packages/components/src/template-registry.ts
Labels: packages/components

TS Migration end
  .changeset/nasty-points-wait.md
  packages/components/src/components.ts
  packages/components/src/components/hds/table/th.ts
  packages/components/src/components/hds/table/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3375 Remove unneeded CSS, text improvements
  website/app/styles/app.scss
  website/app/styles/pages/components/app-header.scss
  website/docs/components/app-header/partials/code/how-to-use.md
Labels: docs-website

HDS-3375 Soften guidance on SideNav :header and :footer usage when paired with AppHeader
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

HDS-3375 Add TODO comment reminding us to update icon usage link
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

Enterprise Nav: `AppHeader` web docs (#2239)
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/accessibility/accessibility.md
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/accessibility/accessibility.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/docs/components/side-nav/partials/specifications/states.md
  website/public/assets/components/app-header/app-header-anatomy-large.png
  website/public/assets/components/app-header/app-header-anatomy-small.png
  website/public/assets/components/app-header/app-header-context-switcher.png
  website/public/assets/components/app-header/app-header-focus-order.png
  website/public/assets/components/app-header/app-header-help-dropdown.png
  website/public/assets/components/app-header/app-header-hierarchy.png
  website/public/assets/components/app-header/app-header-home-link.png
  website/public/assets/components/app-header/app-header-menu.png
  website/public/assets/components/app-header/app-header-search.png
  website/public/assets/components/app-header/app-header-size-large.png
  website/public/assets/components/app-header/app-header-size-small.png
  website/public/assets/components/app-header/app-header-user-dropdown.png
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-collapse-interaction.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
  website/public/assets/illustrations/components/app-header.jpg
  website/public/assets/illustrations/components/side-nav.jpg
  website/tests/acceptance/components/app-header.js
Labels: docs-website

compressed image assets
  website/public/assets/components/dialog-primitives/dialog-primitive-non-modal-example.png
  website/public/assets/components/dialog-primitives/dialog-primitives-anatomy.png
  website/public/assets/components/dialog-primitives/dialog-primitives-footer-actions-one.png
  website/public/assets/components/dialog-primitives/dialog-primitives-footer-actions-three.png
  website/public/assets/components/dialog-primitives/dialog-primitives-footer-actions-two.png
  website/public/assets/components/dialog-primitives/dialog-primitives-header-icon-and-title-and-description.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-icon-and-title.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-tagline-and-icon-and-title.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-tagline-and-title.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-title-only-and-description.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-title-only.jpg
  website/public/assets/components/flyout/flyout-complex-actions.png
  website/public/assets/components/flyout/flyout-custom-content.png
  website/public/assets/components/flyout/flyout-focus-order-simple.png
  website/public/assets/components/flyout/flyout-sizes.png
  website/public/assets/components/flyout/flyout-with-code-snippet.png
  website/public/assets/components/flyout/flyout-with-complex-content.png
  website/public/assets/components/flyout/flyout-with-form.png
  website/public/assets/components/flyout/form-in-flyout.png
  website/public/assets/components/modal/modal-action-content-do.png
  website/public/assets/components/modal/modal-action-content-dont.png
  website/public/assets/components/modal/modal-anatomy.png
  website/public/assets/components/modal/modal-dismissal-actions.png
  website/public/assets/components/modal/modal-focus-order-complex.png
  website/public/assets/components/modal/modal-focus-order-simple.png
  website/public/assets/components/modal/modal-mobile-sizes.png
  website/public/assets/components/modal/modal-positioning.png
  website/public/assets/illustrations/patterns/data-visualization-color-usage.jpg
  website/public/assets/illustrations/utilities/dialog-primitive.jpg
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-label.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-pattern.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-symbol.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-categorical.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-graduated-sequence.png
Labels: none

`SegmentedGroup` - mark subcomponents as optional
  packages/components/src/components/hds/segmented-group/index.ts
Labels: packages/components

`Dropdown` - mark args as optional
  packages/components/src/components/hds/dropdown/index.ts
Labels: packages/components

fix: checkbox::field examples
  website/docs/components/form/checkbox/partials/code/how-to-use.md
Labels: docs-website
