Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

HDS-3222 Update API docs to distinguish custom options,add docs for missing customized options
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

Updated image to remove center positioning
  website/public/assets/components/form/super-select/super-select-list-positioning.png
Labels: none

Update website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

Update a11y test setup after #2067
  website/tests/acceptance/components/super-select.js
Labels: none

HDS-3222 Refactor selected option data for examples to be consistent, update API docs to add component name for groupComponent
  website/docs/components/form/super-select/index.js
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

Update guidelines
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Fix typos
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Fix mocked states
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

Expand changelog entry
  .changeset/hot-grapes-rule.md
Labels: none

Fixed a11y tests and add known exceptions
  showcase/tests/acceptance/components/hds/form/super-select-test.js
  showcase/tests/acceptance/components/hds/super-select/multiple.js
  showcase/tests/acceptance/components/hds/super-select/single.js
Labels: showcase

Remove typography-related styles
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

Add `ember-power-select` dep to `showcase`
  showcase/package.json
  yarn.lock
Labels: showcase

Updated the overview wording to be more pointed with the feedback given
  website/docs/patterns/disabled-patterns/partials/guidelines/overview.md
Labels: docs-website

Added related articles tab
  website/docs/patterns/disabled-patterns/index.md
  website/docs/patterns/disabled-patterns/partials/relatedarticles.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/form/super-select/partials/specifications/states.md
Labels: docs-website

HDS-3222 Update warning text regarding duplicate option names to be more accurate
  website/docs/components/form/super-select/partials/code/how-to-use.md
Labels: docs-website

renamed `js` files to `ts`
  packages/components/src/components/hds/reveal/index.ts
  packages/components/src/components/hds/reveal/toggle/button.ts
Labels: packages/components

run command `npx ember-codemod-args-to-signature --src src/components/hds/reveal`
  packages/components/src/components/hds/reveal/index.ts
  packages/components/src/components/hds/reveal/toggle/button.ts
Labels: packages/components

fully converted `Reveal` component (and subcomponent) to TS
  packages/components/src/components/hds/reveal/index.ts
  packages/components/src/components/hds/reveal/toggle/button.hbs
  packages/components/src/components/hds/reveal/toggle/button.ts
  packages/components/src/template-registry.ts
Labels: packages/components

changeset
  .changeset/soft-carrots-rest.md
Labels: none

removed `glint-nocheck` declaration in template files
  packages/components/src/components/hds/reveal/index.hbs
Labels: packages/components

updated internal logic to satisfy TypeScript strictness
  packages/components/src/components/hds/reveal/index.hbs
  packages/components/src/components/hds/reveal/index.ts
Labels: packages/components

simplified arguments for the `getText` local helper per code review suggestion
  packages/components/src/components/hds/reveal/index.hbs
  packages/components/src/components/hds/reveal/index.ts
Labels: packages/components

Update website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: docs-website

`Hds::Interactive` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

chore: turn on typechecking for text component template in showcase
  showcase/app/controllers/components.ts
  showcase/app/routes/components.ts
  showcase/app/routes/components/text.ts
  showcase/app/templates/components/text.hbs
Labels: showcase

chore: upgrade ember-page-title to get glint types
  showcase/package.json
  showcase/types/global.d.ts
  yarn.lock
Labels: showcase

fix: controller types
  showcase/app/controllers/components.ts
Labels: showcase

`Hds::Button` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/button/index.ts
  packages/components/src/template-registry.ts
  website/docs/components/button/partials/code/component-api.md
Labels: docs-website, packages/components

`Hds:DisclosurePrimitive` - Updated documentation
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
Labels: docs-website

`Hds::Card::Container` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/card/container.ts
Labels: packages/components

`Hds::Tag` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/tag/index.ts
  website/docs/components/tag/partials/code/component-api.md
Labels: docs-website, packages/components

`Hds::BadgeCount` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/template-registry.ts
  website/docs/components/badge-count/partials/code/component-api.md
Labels: docs-website, packages/components

`Hds::DismissButton` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

`Hds::Link::Inline` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/link/inline.ts
Labels: packages/components

`Hds::Badge` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/badge/index.ts
  packages/components/src/template-registry.ts
  website/docs/components/badge/partials/code/component-api.md
Labels: docs-website, packages/components

`Hds::Alert` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

`Hds::IconTile` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/template-registry.ts
  website/docs/components/icon-tile/partials/code/component-api.md
Labels: docs-website, packages/components

`Hds::Link::Standalone` - Aligned type declaration to agreed patterns
  packages/components/src/components/hds/link/standalone.ts
  website/docs/components/link/standalone/partials/code/component-api.md
Labels: docs-website, packages/components

`Hds::Text` - Aligned type declaration to agreed patterns for text components
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components
