Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3373 Rename appHeader global named blocks
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Refactor to use JS to control hide/show of items vs css
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Add return type for ariaLabel getter
  packages/components/src/components/hds/app-header/home-link.ts
Labels: packages/components

HDS-3373 Fix incorrrect height value, move class name to template
  packages/components/src/components/hds/app-header/menu-button.hbs
  packages/components/src/components/hds/app-header/menu-button.ts
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3375 Fix issue with hovered border of disabled actions
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3373 Add additional tests for responsiveness, menu behavior, and a11y features
  packages/components/src/components/hds/app-header/index.ts
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Clean up token naming
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3373 Add extra long content to frameless test page to test breakpoint
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
Labels: showcase

HDS-3373 Add frameless test pages for AppHeader and SideNav
  showcase/app/router.ts
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

HDS-3373 Update old classname, replace :has selector with logic in template to add class
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3373 Update css to remove token definitions on root which were replaced by JSON tokens
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3373 Expose breakpoint variable so consumers can choose to override
  packages/components/src/components/hds/app-header/index.ts
Labels: packages/components

HDS-3373 Replace operator
  packages/components/src/components/hds/app-header/index.ts
Labels: packages/components

Add design tokens JSON for AppHeader
  packages/tokens/src/products/shared/app-header.json
Labels: packages/tokens

HDS-3373 Hide content in minimized SideNav for demos
  showcase/app/styles/showcase-pages/app-frame.scss
Labels: showcase

HDS-3373 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3373 Move menu button so it renders before the menu it controls matching visual order
  packages/components/src/components/hds/app-header/index.hbs
Labels: packages/components

HDS-3373 Undo changes to appFrame test
  showcase/tests/integration/components/hds/app-frame/index-test.js
Labels: showcase

HDS-3373 rename SideNav hasHeader param to withAppHeader, add additional temp dropdown position override styles, add misc content to Showcase example
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/integration/components/hds/app-frame/index-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components, showcase

HDS-3373 Add basic main content to frmaeless examples
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
Labels: showcase

HDS-3373 Add Showcase example and test for custom breakpoint options, code clean up
  packages/components/src/components/hds/app-header/index.ts
  showcase/app/templates/components/app-header.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Refactor menu content so wrapper with id stays in DOM, refactor related layout styles and tests
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Fix mistaken value for logo size in token
  packages/tokens/src/products/shared/app-header.json
Labels: packages/tokens

HDS-3373 Prevent interaction with AppHeader when SideNav is expanded
  packages/components/src/styles/components/app-frame.scss
Labels: packages/components

HDS-3373 Delete temporary custom properties replaced by tokens
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3373 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3373 Add changsets for components and tokens
  .changeset/mean-tools-repair.md
  .changeset/tough-tigers-dress.md
Labels: none

HDS-3373 Refactor sizing & layout styles for home-link and svg logo
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

Update tough-tigers-dress.md
  .changeset/tough-tigers-dress.md
Labels: none

HDS-3373 Update design tokens for AppHeader
  packages/tokens/src/products/shared/app-header.json
Labels: packages/tokens

Update mean-tools-repair.md
  .changeset/mean-tools-repair.md
Labels: none

HDS-3373 Add css custom property to replace fixed values for home-link width and height
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

language updated
  website/app/templates/patterns.hbs
  website/docs/getting-started/for-designers.md
Labels: docs-website

HDS-3373 CSS fixes: scope style preventing interaction to mobile view, remove temp styles forcing Dropdown position, improve Showcase mobile menu appearance
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/showcase-pages/app-header.scss
Labels: packages/components, showcase

Update for-designers.md
  website/docs/getting-started/for-designers.md
Labels: docs-website

HDS-3375 Add warning notice to Code tab explaining phased release approach, modify language for consistency and clarity
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

HDS-3375 Update API docs
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

fixed issue with a CSS selector for the homepage
  showcase/app/controllers/application.js
  showcase/app/styles/_layout.scss
Labels: showcase

Apply suggestions from code review
  .changeset/nasty-points-wait.md
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/components/hds/dropdown/toggle/icon.ts
  packages/components/src/components/hds/menu-primitive/index.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
