Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

put back the yarn changes
  yarn.lock
Labels: none

HDS-2246 Delete JS added to docs for removed Showcase
  website/docs/components/button/index.js
  website/docs/components/dropdown/index.js
  website/docs/components/form/checkbox/index.js
  website/docs/components/form/radio-card/index.js
  website/docs/components/form/radio/index.js
  website/docs/components/form/select/index.js
  website/docs/components/form/text-input/index.js
  website/docs/components/form/textarea/index.js
  website/docs/components/form/toggle/index.js
  website/docs/components/link/inline/index.js
  website/docs/components/link/standalone/index.js
  website/docs/components/stepper/index.js
  website/docs/components/table/index.js
  website/docs/components/tabs/index.js
  website/docs/utilities/dismiss-button/index.js
Labels: docs-website

HDS-2246 Delete unused toggleHighlights action for form primitives
  website/docs/components/form/primitives/index.js
Labels: docs-website

add favicon to showcase
  packages/components/tests/dummy/app/index.html
  packages/components/tests/dummy/public/assets/logos/favicon.png
Labels: packages/components

HDS-2246 Delete unused variable
  website/docs/components/form/primitives/index.js
Labels: docs-website

refactor copy/snippet
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

fixed specific colors, tidied up code
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

move ember-cli-clipboard to dependency
  packages/components/package.json
Labels: packages/components

initial add of tests
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

HDS-2246 Delete unused Showcase references
  website/docs/components/alert/index.js
  website/docs/components/badge-count/index.js
  website/docs/components/badge/index.js
  website/docs/components/card/index.js
  website/docs/components/flyout/index.js
  website/docs/components/icon-tile/index.js
  website/docs/components/modal/index.js
  website/docs/components/toast/index.js
Labels: docs-website

add more tests (for documented features)
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

HDS-2246 Remove unneeded code related to Showcase
  website/docs/components/form/radio-card/index.js
Labels: docs-website

make the copy/snippet styles a little more stable
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

feat: add json output format
  packages/tokens/dist/devdot/tokens.json
  packages/tokens/dist/products/tokens.json
  packages/tokens/scripts/build.ts
Labels: packages/tokens

Update packages/components/app/styles/components/copy/snippet.scss
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

Guidelines.md
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/components/copy/button/partials/guidelines/overview.md
  website/docs/components/copy/button/partials/specifications/anatomy.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/overview.md
  website/docs/components/copy/snippet/partials/specifications/anatomy.md
  website/public/assets/components/copy/copy-button-anatomy.png
  website/public/assets/components/copy/copy-snippet-anatomy.png
  website/public/assets/illustrations/components/copy-button.jpg
  website/public/assets/illustrations/components/copy-snippet.jpg
Labels: docs-website

Add component api and how to use for copy/button
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/button/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

Guidelines.md
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/components/copy/button/partials/guidelines/overview.md
  website/docs/components/copy/button/partials/specifications/anatomy.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/overview.md
  website/docs/components/copy/snippet/partials/specifications/anatomy.md
  website/public/assets/components/copy/copy-button-anatomy.png
  website/public/assets/components/copy/copy-snippet-anatomy.png
  website/public/assets/illustrations/components/copy-button.jpg
  website/public/assets/illustrations/components/copy-snippet.jpg
Labels: docs-website

Update guidelines.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
Labels: docs-website

Update guidelines.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
Labels: docs-website

add copy/button a11y doc
  website/docs/components/copy/button/partials/accessibility/accessibility.md
Labels: docs-website

markdown linting
  website/docs/components/copy/button/partials/guidelines/guidelines.md
Labels: docs-website

add copy/snippet a11y docs
  website/docs/components/copy/snippet/partials/accessibility/accessibility.md
Labels: docs-website

markdown linting, removed empty related
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/copy/snippet/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

added `@color` argument to `Text` component (and derived components)
  packages/components/addon/components/hds/text/body.hbs
  packages/components/addon/components/hds/text/code.hbs
  packages/components/addon/components/hds/text/display.hbs
  packages/components/addon/components/hds/text/index.hbs
  packages/components/addon/components/hds/text/index.js
  packages/components/tests/dummy/app/components/shw/flex/index.js
  packages/components/tests/dummy/app/routes/components/text.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-components/flex.scss
  packages/components/tests/dummy/app/styles/showcase-pages/text.scss
  packages/components/tests/dummy/app/templates/components/text.hbs
Labels: packages/components

Refactor references to submit support requests (#1467)
  website/app/components/doc/a11y-support.hbs
  website/app/templates/patterns.hbs
  website/docs/about/contribution.md
  website/docs/about/support.md
  website/docs/components/link/standalone/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/docs/getting-started/for-designers.md
  website/docs/icons/usage-guidelines/partials/guidelines/overview.md
Labels: docs-website

HDS-2246 Add back dummy action needed by dropdown
  website/docs/components/dropdown/index.js
Labels: docs-website

sync & build of flight icons
  packages/flight-icons/catalog.json
Labels: packages/flight-icons

Update keywords in catalog
  packages/flight-icons/catalog.json
Labels: packages/flight-icons

added logic to get the “related components” information from frontmatter to the `show` template
  website/app/controllers/show.js
  website/app/routes/show.js
  website/app/templates/show.hbs
  website/lib/markdown/markdown-to-jsonapi.js
Labels: none

added deck with “related components” cards at the bottom of the `show` template
  website/app/controllers/components.js
  website/app/controllers/show.js
  website/app/templates/show.hbs
Labels: none

Add list of related components to indexes
  website/docs/components/accordion/index.md
  website/docs/components/alert/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/page-header/index.md
  website/docs/components/reveal/index.md
  website/docs/components/segmented-group/index.md
  website/docs/components/tooltip/index.md
Labels: docs-website

added missing title so that it appears also when other content tabs are selected
  website/app/templates/show.hbs
Labels: none

Document potential layout shift in Modal/Flyout
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

fixed link
  website/docs/components/dropdown/partials/specifications/states.md
Labels: docs-website

Update illustration for `Form::Select`
  website/public/assets/illustrations/components/form/select.jpg
Labels: none

chore: add changeset
  .changeset/wild-trains-decide.md
Labels: none

sync & build of flight icons
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/elastic-observability-16.svg
  packages/flight-icons/svg-original/elastic-observability-24.svg
  packages/flight-icons/svg-original/elastic-observability-color-16.svg
  packages/flight-icons/svg-original/elastic-observability-color-24.svg
  packages/flight-icons/svg-original/new-relic-16.svg
  packages/flight-icons/svg-original/new-relic-24.svg
  packages/flight-icons/svg-original/new-relic-color-16.svg
  packages/flight-icons/svg-original/new-relic-color-24.svg
  packages/flight-icons/svg-react/elastic-observability-16.tsx
  packages/flight-icons/svg-react/elastic-observability-24.tsx
  packages/flight-icons/svg-react/elastic-observability-color-16.tsx
  packages/flight-icons/svg-react/elastic-observability-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/new-relic-16.tsx
  packages/flight-icons/svg-react/new-relic-24.tsx
  packages/flight-icons/svg-react/new-relic-color-16.tsx
  packages/flight-icons/svg-react/new-relic-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/elastic-observability-16.svg
  packages/flight-icons/svg/elastic-observability-24.svg
  packages/flight-icons/svg/elastic-observability-color-16.svg
  packages/flight-icons/svg/elastic-observability-color-24.svg
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/new-relic-16.svg
  packages/flight-icons/svg/new-relic-24.svg
  packages/flight-icons/svg/new-relic-color-16.svg
  packages/flight-icons/svg/new-relic-color-24.svg
Labels: packages/flight-icons

Create changelog
  .changeset/little-steaks-float.md
Labels: none

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
