Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

cherry-pick commits from `spike-showcase-theming`
  showcase/app/components/shw/theme/switcher.gts
  showcase/app/controllers/foundations/theming.js
  showcase/app/index.html
  showcase/app/router.ts
  showcase/app/services/theming.js
  showcase/app/styles/_globals.scss
  showcase/app/styles/_tokens.scss
  showcase/app/styles/_typography.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/divider.scss
  showcase/app/styles/showcase-components/frame.scss
  showcase/app/styles/showcase-components/label.scss
  showcase/app/styles/showcase-components/placeholder.scss
  showcase/app/styles/showcase-components/theme-switcher.scss
  showcase/app/styles/showcase-pages/theming.scss
  showcase/app/styles/showcase-pages/typography.scss
  showcase/app/styles/showcase-theming/dark.scss
  showcase/app/styles/showcase-theming/light.scss
  showcase/app/templates/application.hbs
  showcase/app/templates/foundations/theming.hbs
  showcase/app/templates/index.hbs
  showcase/ember-cli-build.js
Labels: showcase

fixing color setup
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
Labels: packages/tokens

HDS-3948 Add changeset
  .changeset/hungry-mayflies-destroy.md
Labels: none

HDS-3948 Use design token for button border-radius variable, use calc to derive border-radius used in dropdown toggle
  packages/components/src/styles/components/dropdown.scss
  packages/components/src/styles/mixins/_button.scss
Labels: packages/components

HDS-3948 Replace hard-coded border-radius values with tokens
  packages/components/src/styles/components/card/container.scss
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/copy/snippet.scss
  packages/components/src/styles/components/form/select.scss
  packages/components/src/styles/components/link/standalone.scss
  packages/components/src/styles/components/side-nav/a11y-refocus.scss
Labels: packages/components

HDS-3948 Update border-radius values to use tokens
  packages/components/src/styles/@hashicorp/design-system-power-select-overrides.scss
Labels: packages/components

HDS-3948 Fix border-radisu value calculations for buttons
  packages/components/src/styles/mixins/_button.scss
Labels: packages/components

moved to local color definitions
  packages/components/package.json
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

changed `design-system-components.scss` file imports structure so the common part can be re-used to generate themed files
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/@hashicorp/partials/design-system-components-common.scss
Labels: packages/components

added “themed” scss files
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-css-selectors.scss
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-prefers-color-scheme.scss
Labels: packages/components

using local colors
  packages/components/src/modifiers/hds-code-editor/highlight-styles/hds-dark-highlight-style.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

fix: selectable table checkbox labels
  .changeset/lovely-goats-work.md
  packages/components/src/components/hds/table/th-selectable.ts
  showcase/tests/integration/components/hds/table/index-test.js
  showcase/tests/integration/components/hds/table/tr-test.js
Labels: packages/components, showcase

feat: add borders to all cells
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

chore: remove hds-focus-ring-with-after-pseudo-element
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
Labels: packages/components

chore: remove helpers from table
  packages/components/package.json
  packages/components/src/components/hds/table/helpers.ts
Labels: packages/components

chore: remove change to table css
  packages/components/src/styles/components/table.scss
Labels: packages/components

fix: resolve lint errors
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
Labels: packages/components

fix: classnames
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

fix: expanded button tests
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  showcase/tests/integration/components/hds/advanced-table/th-test.js
Labels: packages/components, showcase

fix: add th sort tests
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/th-sort.js
Labels: showcase

wip: more index tests
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

fix: make default blocks optional
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.ts
Labels: packages/components

feat: all table tests imported to advanced-table
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

wip: matching advancedtable showcase to table
  showcase/app/controllers/components/advanced-table.js
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fix: all tests are passing
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: packages/components, showcase

fix: broken index test
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

wip: advancedtable sub component tests
  showcase/tests/integration/components/hds/advanced-table/td-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: showcase

chore: clean up comments
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  showcase/app/routes/components/advanced-table.js
Labels: packages/components, showcase

chore: clean up showcase
  showcase/app/router.ts
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/percy-test.js
Labels: showcase

chore: add changeset
  .changeset/strange-wolves-press.md
Labels: none

cleaning up theming
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

regenerated design tokens output file to have all dark colors as #FF0000 (red)
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/dark-tokens.css
Labels: packages/tokens

tried to update the Rollup.js config to generate multiple CSS in output but it doesn’t work
  packages/components/rollup.config.mjs
Labels: packages/components

added `outputReferences": true` to be able to use the themed tokens
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/common-tokens.css
  packages/tokens/scripts/build.ts
Labels: packages/tokens

workaround for Rollup not compiling distinct CSS in output
  packages/components/rollup.config.mjs
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-css-selectors.css
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-prefers-color-scheme.css
  packages/components/src/styles/@hashicorp/design-system-components.scss
Labels: packages/components

fix: remove changing checkbox labels
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: packages/components, showcase

fix: switch th-button-expand to use aria-description
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
Labels: packages/components

chore: fix lint ignore
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
Labels: packages/components

flyout test failure fix
  packages/components/declarations/components/hds/flyout/index.d.ts
  packages/components/declarations/components/hds/flyout/index.d.ts.map
  packages/components/dist/components/hds/flyout/index.js
  packages/components/dist/components/hds/flyout/index.js.map
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

fix linting issue
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
