Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

working on the json linter
  pnpm-lock.yaml
Labels: none

making website code updates
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

working on the json linter
  pnpm-lock.yaml
Labels: none

working on the json linter
  pnpm-lock.yaml
Labels: none

Update to image and info callout
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/codeeditor-linting-preview-tooltip.png
Labels: docs-website

Update guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Troubleshooting images
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Updates to image quality and accepting comment edits
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/code-editor-linting-preview-dialog.png
  website/public/assets/components/code-editor/code-editor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/code-editor-linting-preview.png
  website/public/assets/components/code-editor/codeeditor-linting-preview-dialog.png
  website/public/assets/components/code-editor/codeeditor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/codeeditor-linting-preview.png
Labels: docs-website

Addition of callout
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update to add images and tweak copy
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/code-editor-linting-preview-dialog.png
  website/public/assets/components/code-editor/code-editor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/code-editor-linting-preview.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Adding links to CodeMirror and support
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

re-removed additional info item
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

Update advanced-table-keyboard-action-mode-tooltip.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-tooltip.png
Labels: none

fixed spelling error
  website/docs/components/code-editor/partials/code/component-api.md
Labels: docs-website

Update accessibility.md
  website/docs/components/table/advanced-table/partials/accessibility/accessibility.md
Labels: docs-website

Feat: Nav support for not using panel blocks
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Feat: Add `ariaLabel` arg for nav and list
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

Fix: Address a11y feedback
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/types.ts
  showcase/app/templates/components/stepper/nav.hbs
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
Labels: packages/components, showcase

Updating text and images for Stepper List
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/list/partials/specifications/anatomy.md
  website/public/assets/components/stepper/list/stepper-list-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-processing-status-errored.png
  website/public/assets/components/stepper/list/stepper-list-processing-status.png
Labels: docs-website

update image to fix buttons.
  website/public/assets/components/stepper/navigation/stepper-navigation-matching-experiences.png
Labels: none

adding related links to each component
  website/docs/components/stepper/indicator/index.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

Chore: Rename assets from navigation to nav
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
  website/public/assets/components/stepper/nav/stepper-nav-anatomy.png
  website/public/assets/components/stepper/nav/stepper-nav-arrow-key.png
  website/public/assets/components/stepper/nav/stepper-nav-description-do.png
  website/public/assets/components/stepper/nav/stepper-nav-description-dont.png
  website/public/assets/components/stepper/nav/stepper-nav-enter.png
  website/public/assets/components/stepper/nav/stepper-nav-focus-to-content.png
  website/public/assets/components/stepper/nav/stepper-nav-focus.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards-movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-matching-experiences.png
  website/public/assets/components/stepper/nav/stepper-nav-non-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-responsive-behavior.png
  website/public/assets/components/stepper/nav/stepper-nav-spacing-example.png
  website/public/assets/components/stepper/nav/stepper-nav-states.png
Labels: docs-website

Feat: Stepper accessibility docs
  website/docs/components/stepper/list/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/public/assets/components/stepper/navigation/stepper-navigation-arrow-key.png
  website/public/assets/components/stepper/navigation/stepper-navigation-enter.png
  website/public/assets/components/stepper/navigation/stepper-navigation-focus-to-content.png
  website/public/assets/components/stepper/navigation/stepper-navigation-focus.png
Labels: docs-website

Updated text and images for Stepper Nav
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/public/assets/components/stepper/navigation/stepper-navigation-anatomy.png
  website/public/assets/components/stepper/navigation/stepper-navigation-interactive-non-interactive.png
  website/public/assets/components/stepper/navigation/stepper-navigation-interactive-steps.png
  website/public/assets/components/stepper/navigation/stepper-navigation-matching-experiences.png
  website/public/assets/components/stepper/navigation/stepper-navigation-non-interactive-steps.png
  website/public/assets/components/stepper/navigation/stepper-navigation-responsive-behavior.png
Labels: docs-website

Updated wording in specifications tab.
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

Fix: Address feedback in code and accessibility docs
  website/docs/components/stepper/list/partials/accessibility/accessibility.md
  website/docs/components/stepper/list/partials/code/how-to-use.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Updated wording within docs.
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Updated indicator docs by removing 'out of order'
  website/docs/components/stepper/indicator/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Updated page structure to follow naming convention
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/component-api.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/guidelines/overview.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

updated figma path
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

removed overview.md files
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/list/partials/guidelines/overview.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/guidelines/overview.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
