Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

actions are displayed correctly
  packages/components/src/styles/components/application-state.scss
  showcase/app/templates/components/application-state.hbs
Labels: packages/components, showcase

alignment classes - wip
  packages/components/src/components/hds/application-state/index.hbs
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

added default left alignment to ApplicationState index
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/application-state/types.ts
Labels: packages/components

adding visual test cases for larger images
  packages/components/src/styles/components/application-state.scss
  showcase/app/templates/components/application-state.hbs
  showcase/public/assets/images/cat-banner.png
Labels: packages/components, showcase

converted index from template-only component
  packages/components/src/components/hds/application-state/index.ts
Labels: packages/components

margin-left: auto is great
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

yielding new media component from parent ApplicationState component
  packages/components/src/components/hds/application-state/index.hbs
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/application-state/media.hbs
  packages/components/src/components/hds/application-state/media.ts
  showcase/app/templates/components/application-state.hbs
Labels: packages/components, showcase

alignment classes - wip
  showcase/app/templates/components/application-state.hbs
  showcase/public/assets/images/application-state-banner.png
Labels: showcase

fixed center alignment issue
  packages/components/src/components/hds/application-state/index.hbs
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

updated text styles
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

final using flexbox
  showcase/app/styles/showcase-pages/application-state.scss
  showcase/app/templates/components/application-state.hbs
Labels: showcase

adjusting footer padding
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

updated showcase page to include a “highlight” button
  showcase/app/controllers/components/application-state.js
  showcase/app/styles/showcase-pages/application-state.scss
  showcase/app/templates/components/application-state.hbs
Labels: showcase

linting
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

finished the spike
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

added `Button` as yielded component for the `ApplicationState::Footer` subcomponent
  packages/components/src/components/hds/application-state/footer.hbs
Labels: packages/components

removing unused vars
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

typos fix
  showcase/app/templates/components/application-state.hbs
Labels: showcase

implemented left aligned version
  packages/components/src/styles/components/application-state.scss
  showcase/app/styles/showcase-pages/application-state.scss
Labels: packages/components, showcase

pr feedback
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

styles working
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

wip
  packages/components/src/styles/components/application-state.scss
  showcase/app/styles/showcase-pages/application-state.scss
Labels: packages/components, showcase

fixing ts error
  packages/components/src/components/hds/application-state/footer.ts
Labels: packages/components

responding to MR feedback
  packages/components/src/components/hds/application-state/header.hbs
  packages/components/src/styles/components/application-state.scss
Labels: packages/components

extended showcase with more use cases and reorganized existing content
  packages/components/src/components/hds/application-state/index.ts
  showcase/app/routes/components/application-state.js
  showcase/app/styles/showcase-pages/application-state.scss
  showcase/app/templates/components/application-state.hbs
Labels: packages/components, showcase

Update for-designers.md
  website/docs/getting-started/for-designers.md
Labels: docs-website

updating more custom to generic
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

Update components.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website

feat: add names to form input examples
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
Labels: docs-website

HDS-3373 Add tests for AppHeader content and HomeLink child component
  showcase/tests/integration/components/hds/app-header/home-link-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: showcase

HDS-3373 Add components to registry
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3373 Fix signature name, adjust AppHeader height to follow newer mocks
  packages/components/src/components/hds/app-header/home-link.ts
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Make aria-labels unique to pass accessibility tests
  showcase/app/templates/components/side-nav.hbs
Labels: showcase

HDS-3373 Create AppHeader component, add related examples to Showcase
  packages/components/package.json
  packages/components/src/components/hds/app-header/home-link.hbs
  packages/components/src/components/hds/app-header/home-link.ts
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/app-header.scss
  showcase/app/router.ts
  showcase/app/routes/components/app-header.js
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/acceptance/components/hds/app-header.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Add suishies to remove white space, Refactor styling to use :empty selector to remove excess padding in empty elements
  packages/components/src/components/hds/side-nav/base.hbs
  packages/components/src/components/hds/side-nav/header/index.hbs
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3372 Add preliminary example of SideNav with changes for pairing with AppHeader, Add styling to remove excess spacing from empty header and footer
  packages/components/src/styles/components/side-nav/main.scss
  showcase/app/templates/components/side-nav.hbs
Labels: packages/components, showcase

HDS-3373 Update logo size, update examples to add Terraform example and shift items around to match mocks
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
Labels: packages/components, showcase

HDS-3373 Refactor named block slots to simplify
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: packages/components, showcase

HDS-3373 Fix icon type, add HomeLink examples to Showcase
  packages/components/src/components/hds/app-header/home-link.ts
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/app/templates/components/app-header.hbs
Labels: packages/components, showcase

HDS-3373 Update AppHeader styles to add border and dropshadow from newer design mocks, change buttons in Showcase to use Hds::Button icon only variant
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
Labels: packages/components, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
