Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

HDS-3373 Add narrower width for collapsed SideNav w/o header content
  packages/components/src/styles/components/side-nav/main.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: packages/components, showcase

HDS-3373 Add preliminary functionality for responsive menu, remove AppHeader box-shadowm fix button focus styles
  packages/components/package.json
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-header/menu-button.hbs
  packages/components/src/components/hds/app-header/menu-button.ts
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
  packages/components/src/template-registry.ts
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/app/templates/components/app-header.hbs
Labels: packages/components, showcase

HDS-3373 Add conditionals to dark theme mixin for sidenav
  packages/components/src/styles/components/side-nav/header.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3373 Add height variable in style to replaced incorrect hard-coded value, update comments for clarity
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Change gap of 'slots' to inherit from app-header parent
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Overhaul css for interactive component dark color palette mixin, apply styles to child components via inheritance, add examples of interactive child components to Showcase
  packages/components/src/styles/components/app-header.scss
  showcase/app/routes/components/app-header.js
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: packages/components, showcase

HDS-3373 Add hasHeader arg to SideNav to adjust padding and toggle button position when app-header is present, add test
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/main.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components, showcase

HDS-3373 Fix linting for files
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/page-header/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/src/helpers/hds-link-to-query.ts
  showcase/types/global.d.ts
Labels: packages/components, showcase

HDS-3373 Refactor globalItems into 2 slots for before and after, yield after content in 2 places for inclusion in responsive menu
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: packages/components, showcase

HDS-3373 Fix failing tests
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: showcase

HDS-3373 re-organize dark theme states, update color tokens following mocks
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3373 Tweak min-height and padding to match Figma
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Adjust spacing, padding, and min-height to match latest mocks
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Create shared interactive dark theme mixin and update AppHeader and SideNav to use for interactive components
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3373 Refactor how responsive styles are applied and clean up CSS
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Use border radius from button mixin for AppHeader nested interactives, make app-header layout fixed with full screen height responsive menu but override for showcase examples
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/styles/showcase-pages/app-header.scss
Labels: packages/components, showcase

HDS-3373 Remove future phase content from long content examples
  showcase/app/templates/components/app-header.hbs
Labels: showcase

HDS-3373 Fix 'disappearing' Button & Dropdown border, apply dark theme to nested SideNav interactive components following AppHeader pattern
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: packages/components, showcase

HDS-3373 Fix linting errors
  packages/components/src/components/hds/accordion/item/index.ts
  showcase/types/global.d.ts
Labels: packages/components, showcase

HDS-3373 Fix responsive behavior
  packages/components/src/components/hds/app-header/index.ts
Labels: packages/components

HDS-3373 Fix linting errors
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/menu-button.hbs
Labels: packages/components

HDS-3373 Fixed layout issues with fixed app-header overlapping main content, cleaned up css tokens, fixed issue with dark theming for interactive components using old class name
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3373 Update OrgSwitcher edge case example with longest possible content
  showcase/app/templates/components/app-header.hbs
Labels: showcase

HDS-3373 Force nested dropdowns to display to left in responsive view
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 Add commas for linter
  showcase/types/global.d.ts
Labels: showcase

HDS-3373 Add examples with long organization names to Showcase
  showcase/app/templates/components/app-header.hbs
Labels: showcase

HDS-3373 Adjust SideNav toggleButton position when :header is empty
  packages/components/src/styles/components/side-nav/toggle-button.scss
Labels: packages/components

HDS-3373 Fix linting errors, simplify selectors for applying dark interactive them to SideNav components
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/page-header/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/src/helpers/hds-link-to-query.ts
  packages/components/src/styles/components/side-nav/header.scss
  showcase/types/global.d.ts
Labels: packages/components, showcase

HDS-3373 Change box-shadow to use black to fix unwanted glow effect
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3373 removed unused event from onClickToggle
  packages/components/src/components/hds/app-header/menu-button.ts
Labels: packages/components

Apply suggestions from code review
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-header/menu-button.ts
Labels: packages/components

HDS-3373 Add back hds-side-nav-header as a selector for adding dark theme interactive styles to fix Showcase
  packages/components/src/styles/components/side-nav/header.scss
Labels: packages/components

Replace type any in blocks with empty array
  packages/components/src/components/hds/app-header/index.ts
Labels: packages/components

HDS-3373 Clean up old eslint disable comment, add missing type
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-header/menu-button.ts
Labels: packages/components

HDS-3373 Set width value for headerless sidenav directly instad of creating a new custom property
  packages/components/src/styles/components/side-nav/main.scss
Labels: packages/components

HDS-3373 Rename globalItems and utilityItems to globalActions and utilityActions
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

HDS-3373 Add prefix to menu content id, add return types to getters and methods
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-header/menu-button.ts
Labels: packages/components

HDS-3373 Fix issues with focus styles for interactive elements, clean up css
  packages/components/src/styles/components/side-nav/main.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

HDS-3373 Remove/replace JSDoc comments
  packages/components/src/components/hds/app-header/home-link.ts
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-header/menu-button.ts
Labels: packages/components

HDS-3375 Refactor AppHeader to eliminate duplicate globalActions to instead use CSS for responsive views, set frame header container to position sticky instead of making AppHeader position absolute
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/styles/showcase-pages/app-header.scss
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase
