Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added acceptance test for `RichTooltip`
  website/tests/acceptance/components/rich-tooltip-test.js
Labels: none

Updating based on feedback from review
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
Labels: docs-website

Responding to feedback, updating images, adding more context in a few spots
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
  website/public/assets/components/rich-tooltip/default-trigger-anatomy.png
  website/public/assets/components/rich-tooltip/rich-tooltip-anatomy.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-key-value-pair.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-links.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-structure.png
  website/public/assets/components/rich-tooltip/rich-tooltip-info-text-icon.png
  website/public/assets/components/rich-tooltip/rich-tooltip-info-text-sizes.png
  website/public/assets/components/rich-tooltip/rich-tooltip-info-text-underline.png
  website/public/assets/components/rich-tooltip/rich-tooltip-offset-spacing.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-persistence.png
Labels: docs-website

Remove states file and include
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/specifications/states.md
Labels: docs-website

updated front matter for `RichTooltip`
  website/docs/components/rich-tooltip/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/rich-tooltip/partials/accessibility/accessibility.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

added “Component API” documentation for `RichTooltip`
  website/docs/components/rich-tooltip/partials/code/component-api.md
Labels: docs-website

added “How to use” section for the `RichTooltip` component
  website/app/styles/app.scss
  website/app/styles/pages/components/rich-tooltip.scss
  website/docs/components/rich-tooltip/index.js
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

Editing, streamlining, and simplifying the guidelines content
  website/public/assets/illustrations/components/rich-tooltip.jpg
Labels: none

Additional cleanup
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/guidelines/overview.md
  website/public/assets/components/rich-tooltip/rich-tooltip-toggle-text-only.png
Labels: docs-website

Updated the description and caption to more closely match the Tooltip and be more concise.
  website/docs/components/rich-tooltip/index.md
Labels: docs-website

Updated the accessibility content and added an image to communicate the min height. Updated the use within helper text.
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/accessibility/accessibility.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/public/assets/components/rich-tooltip/rich-tooltip-minimum-height.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-helper-text-dont.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-reveal-do.png
Labels: docs-website

jagged → janky
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: docs-website

added links to allow consumers to dig deeper in Floating UI APIs
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/tests/acceptance/components/rich-tooltip-test.js
Labels: docs-website

Apply suggestions from code review
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

changed default `iconPosition` to `trailing` for toggle in documentation (per discussion with Jory)
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

added example of how to handle whitespace issues with inline text
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

removed duplicate test file (wrong filename)
  website/tests/acceptance/components/rich-tooltip.js
Labels: none

Small addition to structured content
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
Labels: docs-website

Working through feedback and updating imagery
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/guidelines/overview.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
  website/public/assets/components/rich-tooltip/infotext-states.png
  website/public/assets/components/rich-tooltip/rich-tooltip-additional-placements.png
  website/public/assets/components/rich-tooltip/rich-tooltip-anatomy.png
  website/public/assets/components/rich-tooltip/rich-tooltip-collision-detection.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-key-value-pair.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-overflow.png
  website/public/assets/components/rich-tooltip/rich-tooltip-icon-only-toggle.png
  website/public/assets/components/rich-tooltip/rich-tooltip-info-text-icon.png
  website/public/assets/components/rich-tooltip/rich-tooltip-info-text-underline.png
  website/public/assets/components/rich-tooltip/rich-tooltip-toggle-icon.png
  website/public/assets/components/rich-tooltip/rich-tooltip-toggle-sizes.png
  website/public/assets/components/rich-tooltip/rich-tooltip-toggle-underline.png
  website/public/assets/components/rich-tooltip/toggle-states.png
Labels: docs-website

Responding to feedback and updating images to use correct styling
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/guidelines/overview.md
  website/docs/components/rich-tooltip/partials/specifications/anatomy.md
  website/public/assets/components/rich-tooltip/default-trigger-anatomy.png
  website/public/assets/components/rich-tooltip/rich-tooltip-collision-detection.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-key-value-pair.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-links.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-overflow.png
  website/public/assets/components/rich-tooltip/rich-tooltip-content-structure.png
  website/public/assets/components/rich-tooltip/rich-tooltip-icon-only-toggle.png
  website/public/assets/components/rich-tooltip/rich-tooltip-offset-spacing.png
  website/public/assets/components/rich-tooltip/rich-tooltip-toggle-icon.png
  website/public/assets/components/rich-tooltip/rich-tooltip-toggle-sizes.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-badge-do.png
  website/public/assets/components/rich-tooltip/rich-tooltip-trigger-persistence.png
Labels: docs-website

Reverting change to the text input docs
  website/docs/components/form/text-input/partials/code/how-to-use.md
Labels: docs-website

WIP
  website/app/components/doc/page/cover.hbs
  website/app/components/doc/page/sidecar.hbs
  website/app/components/doc/page/tabs.hbs
  website/app/controllers/show.js
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/page-sections.js
  website/app/templates/show.hbs
  wiki/Website-Infrastructure.md
Labels: none

small tweak following review suggestion
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
Labels: docs-website

Update website/docs/components/rich-tooltip/partials/accessibility/accessibility.md
  website/docs/components/rich-tooltip/partials/accessibility/accessibility.md
Labels: docs-website

remove temporary changeset
  .changeset/sixty-worms-yell.md
Labels: none

Removed duplicate illustration
  website/public/assets/illustrations/components/components/rich-tooltip.jpg
Labels: none

fixed typo in `template-registry.ts` file
  packages/components/src/template-registry.ts
Labels: packages/components

changeset
  .changeset/breezy-humans-search.md
Labels: none

updated `oddbird/popover-polyfill` dependency version
  packages/components/package.json
  yarn.lock
Labels: packages/components

Starting place for rewording of this section.
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/disabled-patterns/partials/guidelines/overview.md
  website/public/assets/patterns/disabled-patterns/permissions-example.png
Labels: docs-website

Added dos and donts for conditional availability. This section is new, but is relevent to what products have in place now
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/public/assets/patterns/disabled-patterns/conditional-availability-example-disabled.png
  website/public/assets/patterns/disabled-patterns/conditional-availability-example-explanation.png
Labels: docs-website

Added figma modal example for marketing content. This is for the upgrading experience.
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/disabled-patterns/partials/guidelines/overview.md
  website/public/assets/patterns/disabled-patterns/upgrade-modal-example.png
Labels: docs-website

Updated some word choices to be a little bit more conscise.
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
Labels: docs-website

added comment
  packages/components/src/styles/components/page-header.scss
Labels: packages/components

HDS-3221 Add preliminary Search and Dropdown styles
  packages/components/src/components/hds/super-select/single/index.hbs
  packages/components/src/components/hds/super-select/single/index.js
  showcase/app/styles/showcase-pages/super-select/theme.scss
  showcase/app/templates/components/super-select.hbs
Labels: packages/components, showcase

HDS-3221 Add basic examples to Showcase, add basic styles with padding to match mocks
  packages/components/src/components/hds/super-select/multiple/index.js
  packages/components/src/components/hds/super-select/single/index.js
  showcase/app/styles/showcase-pages/super-select.scss
  showcase/app/styles/showcase-pages/super-select/index.scss
  showcase/app/styles/showcase-pages/super-select/theme.scss
  showcase/app/templates/components/super-select.hbs
  showcase/tests/integration/components/hds/super-select/multiple/index-test.js
  showcase/tests/integration/components/hds/super-select/single/index-test.js
Labels: packages/components, showcase

HDS-3221 Tweak spacing, padding, and selected item styles to better match mocks
  showcase/app/styles/showcase-pages/super-select/theme.scss
Labels: showcase
