Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Fix: Tag linting issue
  packages/components/src/styles/components/tag.scss
Labels: packages/components

Update website documentation
  website/docs/components/form/super-select/partials/version-history/4.16.0.md
  website/docs/components/tag/index.md
  website/docs/components/tag/partials/version-history/4.16.0.md
Labels: docs-website

fix: Reverting border-radius update, and using overflow hidden on tag
  packages/components/src/styles/components/form/super-select.scss
  packages/components/src/styles/components/tag.scss
Labels: packages/components

Fix: Dismiss button active state overflow
  packages/components/src/styles/components/tag.scss
Labels: packages/components

Chore: removing website docs updates
  website/docs/components/tag/index.md
  website/docs/components/tag/partials/version-history/4.16.0.md
Labels: docs-website

chore: update changeset
  .changeset/heavy-camels-crash.md
  website/docs/components/form/super-select/partials/version-history/4.16.0.md
  website/docs/components/tag/partials/version-history/4.16.0.md
Labels: docs-website

Update for-engineers.md
  website/docs/getting-started/for-engineers.md
Labels: docs-website

`PopoverPrimitive` - Implement `aria-controls` (#2639)
  .changeset/many-apples-film.md
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.hbs
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
  showcase/tests/integration/components/hds/rich-tooltip/toggle-test.js
Labels: packages/components, showcase

Update for-engineers.md (#2651)
  website/docs/getting-started/for-engineers.md
Labels: docs-website

Install `codemirror` 5
  yarn.lock
Labels: none

copy button works
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

styling wip
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/toolbar-button.hbs
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

added some initial language support
  showcase/app/templates/components/code-editor.hbs
Labels: showcase

rough version of fullscreen mode works
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/modifiers/hds-code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  packages/components/src/template-registry.ts
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

Generate `CodeEditor` showcase
  showcase/app/router.ts
  showcase/app/routes/components/code-editor.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/code-editor.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: showcase

added support for history
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
Labels: packages/tokens

working on initial structure
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

Switch to `codemirror` 6 via subpackages
  packages/components/src/modifiers/hds-code-editor.ts
  yarn.lock
Labels: packages/components

can add new lines in the code editor
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

Generate `hds-code-editor` modifier
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/template-registry.ts
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

added javascript support
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/types/hds-code-editor.types.ts
Labels: packages/components

Generate `CodeEditor` component
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

Theme
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

styling code editor
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/toolbar-button.hbs
  packages/components/src/components/hds/code-editor/toolbar-button.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  packages/components/src/template-registry.ts
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, packages/tokens, showcase

Clean-up and lint
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

website docs WIP
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/docs/components/code-editor/partials/version-history/4.15.0.md
Labels: docs-website

fixing linting issues
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/components/hds/code-editor/page.js
Labels: showcase

loading state added
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

removed website updates
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/docs/components/code-editor/partials/version-history/4.15.0.md
Labels: docs-website

code cleanup
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

fixing tests
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

adjusted styling and header composition to fit the new designs
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

added examples to the showcase
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

adding keyboard nav support
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

cleaning up theming
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

got content selection styled
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

added customizable option for title tag
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
Labels: packages/components

fixing color setup
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
Labels: packages/tokens

fixed header styling
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

changed title and description to yielded subcomponents
  packages/components/package.json
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/description.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
  packages/components/src/template-registry.ts
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase
