Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Added supporting images and cover illustration
  website/docs/patterns/data-visualization/color-usage/partials/guidelines/color-usage.md
  website/public/assets/illustrations/patterns/data-visualization-color-usage.jpg
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-categorical.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-diverging.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-sequential.png
Labels: docs-website

Spellcheck
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
Labels: docs-website

Added a11y success criteria
  website/docs/components/app-header/partials/accessibility/accessibility.md
Labels: docs-website

Quick image fix
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-diverging.png
Labels: none

Apply suggestions from code review
  website/docs/patterns/data-visualization/color-usage/partials/guidelines/specifications.md
Labels: docs-website

HDS-3292 Reorganize info so it's in a single tabbed page
  website/docs/patterns/data-visualization/index.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/partials/guidelines/color-usage.md
  website/docs/patterns/data-visualization/partials/guidelines/specifications.md
Labels: docs-website

fixed CSS selector to avoid applying a grid if frameless page
  showcase/app/styles/_layout.scss
Labels: showcase

added frameless pages for `app-frame` component
  showcase/app/router.ts
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-modal.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame.hbs
Labels: showcase

moved the index `app-frame` showcase page under a folder
  showcase/app/controllers/layouts/app-frame/index.js
  showcase/app/router.ts
  showcase/app/routes/layouts/app-frame/index.js
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

added logic to “Showcase” application to support frameless pages (via the `frameless` term in the URL)
  showcase/app/controllers/application.js
  showcase/app/templates/application.hbs
Labels: showcase

sync & build of flight icons
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/mongodb-16.svg
  packages/flight-icons/svg-original/mongodb-24.svg
  packages/flight-icons/svg-original/mongodb-color-16.svg
  packages/flight-icons/svg-original/mongodb-color-24.svg
  packages/flight-icons/svg-original/twilio-16.svg
  packages/flight-icons/svg-original/twilio-24.svg
  packages/flight-icons/svg-original/twilio-color-16.svg
  packages/flight-icons/svg-original/twilio-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/mongodb-16.tsx
  packages/flight-icons/svg-react/mongodb-24.tsx
  packages/flight-icons/svg-react/mongodb-color-16.tsx
  packages/flight-icons/svg-react/mongodb-color-24.tsx
  packages/flight-icons/svg-react/twilio-16.tsx
  packages/flight-icons/svg-react/twilio-24.tsx
  packages/flight-icons/svg-react/twilio-color-16.tsx
  packages/flight-icons/svg-react/twilio-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/mongodb-16.svg
  packages/flight-icons/svg/mongodb-24.svg
  packages/flight-icons/svg/mongodb-color-16.svg
  packages/flight-icons/svg/mongodb-color-24.svg
  packages/flight-icons/svg/twilio-16.svg
  packages/flight-icons/svg/twilio-24.svg
  packages/flight-icons/svg/twilio-color-16.svg
  packages/flight-icons/svg/twilio-color-24.svg
Labels: packages/flight-icons

Create flat-fireants-kneel.md
  .changeset/flat-fireants-kneel.md
Labels: none

compressed image assets
  website/public/assets/logos/share-card.jpg
Labels: none

Update changelog entry for v4.6.0
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

added `Shw::Frame` component to add frameless pages inside an `<iframe>` element
  showcase/app/components/shw/frame/index.hbs
  showcase/app/components/shw/frame/index.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/frame.scss
Labels: showcase

added framed examples in the `app-frame` showcase page
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

added `ShwPlaceholder` to the Global types for the Showcase
  showcase/types/global.d.ts
Labels: showcase

Update .changeset/flat-fireants-kneel.md
  .changeset/flat-fireants-kneel.md
Labels: none

Added new images supporting a11y examples and graduated sequences
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/partials/guidelines/color-usage.md
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-label.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-pattern.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-symbol.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-graduated-sequence.png
Labels: docs-website

HDS-3292 Update text to recommend borders between colors, etc
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/partials/guidelines/color-usage.md
Labels: docs-website

Create witty-pears-nail.md
  .changeset/witty-pears-nail.md
Labels: none

ran sync & build
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/mongodb-color-16.svg
  packages/flight-icons/svg-original/mongodb-color-24.svg
  packages/flight-icons/svg-react/mongodb-color-16.tsx
  packages/flight-icons/svg-react/mongodb-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/mongodb-color-16.svg
  packages/flight-icons/svg/mongodb-color-24.svg
Labels: packages/flight-icons

removed duplicate changeset file
  .changeset/witty-pears-nail.md
Labels: none

Web docs: Patterns, color usage for data visualization (HDS-3292) (#2255)
  website/docs/patterns/data-visualization/index.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/partials/guidelines/color-usage.md
  website/docs/patterns/data-visualization/partials/guidelines/specifications.md
  website/public/assets/illustrations/patterns/data-visualization-color-usage.jpg
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-label.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-pattern.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-symbol.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-categorical.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-diverging.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-graduated-sequence.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-sequential.png
Labels: docs-website

twilio color update
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/twilio-color-16.svg
  packages/flight-icons/svg-original/twilio-color-24.svg
  packages/flight-icons/svg-react/twilio-color-16.tsx
  packages/flight-icons/svg-react/twilio-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/twilio-color-16.svg
  packages/flight-icons/svg/twilio-color-24.svg
Labels: packages/flight-icons

guideline changes
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

updated `Modal` and `Flyout` components to use `DialogPrimitive` sub-components
  packages/components/src/components/hds/flyout/index.hbs
  packages/components/src/components/hds/modal/index.hbs
Labels: packages/components

ported `DialogPrimitive` component from previous implementation
  packages/components/package.json
  packages/components/src/components/hds/dialog-primitive/body.hbs
  packages/components/src/components/hds/dialog-primitive/description.hbs
  packages/components/src/components/hds/dialog-primitive/footer.hbs
  packages/components/src/components/hds/dialog-primitive/header.hbs
  packages/components/src/components/hds/dialog-primitive/header.js
  packages/components/src/components/hds/dialog-primitive/overlay.hbs
  packages/components/src/components/hds/dialog-primitive/wrapper.hbs
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/dialog-primitive.scss
  packages/components/src/styles/components/flyout.scss
Labels: packages/components

added deprecation notes to old `Modal` and `Flyout` sub-components
  packages/components/src/components/hds/flyout/body.hbs
  packages/components/src/components/hds/flyout/description.hbs
  packages/components/src/components/hds/flyout/footer.hbs
  packages/components/src/components/hds/flyout/header.hbs
  packages/components/src/components/hds/modal/body.hbs
  packages/components/src/components/hds/modal/footer.hbs
  packages/components/src/components/hds/modal/header.hbs
Labels: packages/components

remove extra whitespace from `DialogPrimitive` templates
  packages/components/src/components/hds/dialog-primitive/body.hbs
  packages/components/src/components/hds/dialog-primitive/description.hbs
  packages/components/src/components/hds/dialog-primitive/footer.hbs
  packages/components/src/components/hds/dialog-primitive/header.hbs
  packages/components/src/components/hds/dialog-primitive/overlay.hbs
  packages/components/src/components/hds/dialog-primitive/wrapper.hbs
Labels: packages/components

updated `Modal` and `Flyout` styles to reflect new structure based on `DialogPrimitive` sub-components
  packages/components/src/styles/components/flyout.scss
  packages/components/src/styles/components/modal.scss
Labels: packages/components

updated `DialogPrimitive::Header` and `DialogPrimitive::Overlay` to support contextual classes
  packages/components/src/components/hds/dialog-primitive/header.hbs
  packages/components/src/components/hds/dialog-primitive/overlay.hbs
Labels: packages/components

ported integration and acceptance tests for `DialogPrimitive` from previous implementation
  showcase/tests/acceptance/components/hds/dialog-primitive-test.js
  showcase/tests/integration/components/hds/dialog-primitive/body-test.js
  showcase/tests/integration/components/hds/dialog-primitive/description-test.js
  showcase/tests/integration/components/hds/dialog-primitive/footer-test.js
  showcase/tests/integration/components/hds/dialog-primitive/header-test.js
  showcase/tests/integration/components/hds/dialog-primitive/overlay-test.js
  showcase/tests/integration/components/hds/dialog-primitive/wrapper-test.js
Labels: showcase

fixed issue with `DialogPrimitive::Footer` showing a border when “empty” (no child nodes, apart from whitespaces)
  packages/components/src/styles/components/dialog-primitive.scss
Labels: packages/components

better handling of `contextualClassPrefix` argument + added missing integration test
  packages/components/src/components/hds/dialog-primitive/header.hbs
  showcase/tests/integration/components/hds/dialog-primitive/header-test.js
Labels: packages/components, showcase

used `inset` instead of `top/right/bottom/left` per review suggestion
  packages/components/src/styles/components/dialog-primitive.scss
Labels: packages/components

lint fix
  packages/components/src/components/hds/dialog-primitive/header.hbs
Labels: packages/components

ported showcase page for `DialogPrimitive` from previous implementation
  showcase/app/router.ts
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/dialog-primitive.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/utilities/dialog-primitive.hbs
Labels: showcase

added deprecation notifications for the `Flyout` and `Modal` subcomponents
  packages/components/src/components/hds/flyout/body.js
  packages/components/src/components/hds/flyout/description.js
  packages/components/src/components/hds/flyout/footer.js
  packages/components/src/components/hds/flyout/header.js
  packages/components/src/components/hds/modal/body.js
  packages/components/src/components/hds/modal/footer.js
  packages/components/src/components/hds/modal/header.js
Labels: packages/components

add `tabindex` to body of `DialogPrimitive` (and consequently `Modal` and `Flyout`)
  packages/components/src/components/hds/dialog-primitive/body.hbs
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
