Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

HDS-2480 Remove and replace list markup and associated naming
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/item.hbs
  packages/components/addon/components/hds/app-footer/status-link.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
Labels: packages/components

HDS-2480 Fix failing test
  packages/components/addon/components/hds/app-footer/status-link.hbs
Labels: packages/components

HDS-2480 Fix a11y errors
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
  packages/components/tests/integration/components/hds/app-footer/item-test.js
  packages/components/tests/integration/components/hds/app-footer/legal-links-test.js
  packages/components/tests/integration/components/hds/app-footer/link-test.js
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
Labels: packages/components

CSS changes discussed during pairing
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
Labels: packages/components

Update packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Change list width to shrink wrap contents, align contents of footer to the right and add spacing between rows
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Remove unneeded file
  packages/components/addon/components/hds/app-footer/yield/index.hbs
Labels: packages/components

HDS-2480 Fix a11y error
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
Labels: packages/components

HDS-2480 Refactor theming CSS and clean up styles
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Refactor Showcase layout examples to use let
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Change styles to use right alignment
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2502 Refactor StatusLink to work with class names, add rough theming
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/index.js
  packages/components/addon/components/hds/app-footer/status-link.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
Labels: packages/components

HDS-2480 Refactor status link to require preset status name if used
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Fix layout of items
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Refactor to use let
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

tweaks to the showcase
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
Labels: packages/components

Apply suggestions from code review
  packages/components/addon/components/hds/app-footer/link.hbs
  packages/components/addon/components/hds/app-footer/status-link.hbs
Labels: packages/components

Apply suggestions from code review
  packages/components/addon/components/hds/app-footer/status-link.js
Labels: packages/components

HDS-2480 Update tests, add attribute spreading to LegalLinks
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/integration/components/hds/app-footer/index-test.js
Labels: packages/components

HDS-2480 Add tests for LegalLinks
  packages/components/tests/integration/components/hds/app-footer/index-test.js
  packages/components/tests/integration/components/hds/app-footer/legal-links-test.js
Labels: packages/components

HDS-2480 Expose icon arguments on link
  packages/components/addon/components/hds/app-footer/link.hbs
Labels: packages/components

HDS-2480 Add layout examples to Showcase
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

HDS-2480 Expose all url values for LegalLinks, add comments to document getters
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/addon/components/hds/app-footer/legal-links.js
  packages/components/addon/components/hds/app-footer/status-link.js
Labels: packages/components

HDS-2480 Fix border color
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Refactor to use new Text component
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/link.hbs
Labels: packages/components

HDS-2480 Groupd LegalLinks in nested list, move copyright back inside list as list item
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
Labels: packages/components

HDS-2480 Add a min-width of 0 to footer to prevent grid blowout
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Remove css fix which didn't work
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

HDS-2480 Add acceptance test
  website/tests/acceptance/components/app-footer-test.js
Labels: none

Apply suggestions from code review
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

Apply suggestions from code review
  .changeset/gorgeous-sheep-tap.md
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

Adding initial guidelines and specifications docs
  website/docs/components/app-footer/partials/guidelines/guidelines.md
  website/docs/components/app-footer/partials/guidelines/overview.md
  website/docs/components/app-footer/partials/specifications/anatomy.md
  website/docs/components/app-footer/partials/specifications/states.md
  website/public/assets/components/app-footer/app-footer-additional-links.png
  website/public/assets/components/app-footer/app-footer-anatomy.png
  website/public/assets/components/app-footer/app-footer-dark.png
  website/public/assets/components/app-footer/app-footer-extra-content-do.png
  website/public/assets/components/app-footer/app-footer-extra-content-dont.png
  website/public/assets/components/app-footer/app-footer-extra-content.png
  website/public/assets/components/app-footer/app-footer-items.png
  website/public/assets/components/app-footer/app-footer-large.png
  website/public/assets/components/app-footer/app-footer-legal-links.png
  website/public/assets/components/app-footer/app-footer-order-priority.png
  website/public/assets/components/app-footer/app-footer-small.png
  website/public/assets/components/app-footer/link-states.png
  website/public/assets/components/app-footer/status-link-options.png
  website/public/assets/components/app-footer/status-link-states.png
Labels: docs-website

HDS-2502 Add accesibility criteria
  website/docs/components/app-footer/partials/accessibility/accessibility.md
Labels: docs-website

HDS-2502 Generate documentation md files
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/accessibility/accessibility.md
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/how-to-use.md
  website/docs/components/app-footer/partials/guidelines/guidelines.md
  website/docs/components/app-footer/partials/guidelines/overview.md
  website/docs/components/app-footer/partials/specifications/anatomy.md
  website/docs/components/app-footer/partials/specifications/states.md
Labels: docs-website

HDS-2502 Add code examples to docs
  website/app/styles/app.scss
  website/app/styles/pages/components/app-footer.scss
  website/docs/components/app-footer/partials/code/how-to-use.md
Labels: docs-website

HDS-2502 Add documentation for route etc arguments StatusLink supports
  website/docs/components/app-footer/partials/code/component-api.md
Labels: docs-website

HDS-2502 Reorder section, add language recommending adding custom ToS href
  website/docs/components/app-footer/partials/code/component-api.md
Labels: docs-website

HDS-2502 Add API documentation
  website/docs/components/app-footer/partials/code/component-api.md
Labels: docs-website

HDS-2502 Add meta info to index
  website/docs/components/app-footer/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/how-to-use.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
