Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Feat: Add `icon` acceptance test
  showcase/tests/acceptance/components/hds/icon-test.js
Labels: showcase

Apply suggestions from code review
  packages/components/src/template-registry.ts
Labels: packages/components

Feat: Add `RichTooltip` acceptance test
  showcase/app/templates/components/rich-tooltip.hbs
  showcase/tests/acceptance/components/hds/rich-tooltip-test.js
Labels: showcase

`Layout::Grid` component implementation (HDS-4532) (#2756)
  .changeset/strong-students-decide.md
  packages/components/package.json
  packages/components/src/components/hds/layout/grid/index.hbs
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/layout/grid/item.hbs
  packages/components/src/components/hds/layout/grid/item.ts
  packages/components/src/components/hds/layout/grid/types.ts
  packages/components/src/styles/components/layout/grid.scss
  packages/components/src/styles/components/layout/index.scss
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/components/layout/grid.js
  showcase/app/routes/layouts/grid.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/layout/grid.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/grid.hbs
  showcase/tests/acceptance/components/hds/layout/grid.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/layout/grid/index-test.js
  showcase/tests/integration/components/hds/layout/grid/item-test.js
Labels: packages/components, showcase

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/component-api.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/table/table/partials/specifications/states.md
Labels: docs-website

Guidelines.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/public/assets/components/table/advanced-table/expandable-rows-collapse-all.png
  website/public/assets/components/table/advanced-table/expandable-rows-collapse-state.png
  website/public/assets/components/table/advanced-table/expandable-rows-expand-all.png
  website/public/assets/components/table/advanced-table/expandable-rows-expand-state.png
  website/public/assets/components/table/advanced-table/expandable-rows-mixed-state.png
Labels: docs-website

Fix: Rename acceptance test files
  showcase/tests/acceptance/components/hds/advanced-table-test.js
  showcase/tests/acceptance/components/hds/app-header-test.js
  showcase/tests/acceptance/components/hds/code-editor-test.js
  showcase/tests/acceptance/components/hds/form/base-elements-test.js
Labels: showcase

Feat: Add a11y audit tests to `Pagination`
  showcase/app/styles/showcase-pages/pagination.scss
  showcase/app/templates/components/pagination.hbs
  showcase/tests/acceptance/components/hds/pagination-test.js
Labels: showcase

Apply suggestions from code review
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
Labels: docs-website

Chore: Linting
  showcase/app/templates/components/pagination.hbs
  showcase/tests/acceptance/components/hds/pagination-test.js
Labels: showcase

Apply suggestions from code review
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
Labels: docs-website

Delete expandable-rows-collapsed-state.png
  website/public/assets/components/table/advanced-table/expandable-rows-collapsed-state.png
Labels: none

Fix: Rename website acceptance test files
  website/tests/acceptance/components/app-header-test.js
  website/tests/acceptance/components/code-block-test.js
  website/tests/acceptance/components/table/table-test.js
  website/tests/acceptance/components/time-test.js
  website/tests/acceptance/utilities/dialog-primitive-test.js
Labels: none

Feat: Add `CodeEditor` website acceptance tests
  website/tests/acceptance/components/code-editor-test.js
Labels: none

Feat: Add `FileInput` and `MakedInput` website acceptance tests
  website/tests/acceptance/components/form/file-input-test.js
  website/tests/acceptance/components/form/masked-input-test.js
Labels: none

[HDS-4345] - Fix double loading of flight icons in engines
  packages/components/src/instance-initializers/load-sprite.ts
Labels: packages/components

Account for engines with no app parent
  packages/components/src/instance-initializers/load-sprite.ts
Labels: packages/components

AdvancedTable - use focus ring with pseudo element
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
Labels: packages/components

Don't prevent default actions for arrow keys
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
Labels: packages/components

`Layout::Grid` - documentation (HDS-4650) (#2772)
  website/app/styles/app.scss
  website/app/styles/pages/layouts/grid.scss
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/code/component-api.md
  website/docs/layouts/grid/partials/code/how-to-use.md
  website/public/assets/illustrations/layouts/grid.jpg
Labels: docs-website

Fix: `AdvancedTable` and `AppHeader` acceptance test import path
  showcase/tests/acceptance/components/hds/advanced-table-test.js
  showcase/tests/acceptance/components/hds/app-header-test.js
Labels: showcase

fix: focus ring styles
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
Labels: packages/components

fix: focus ring improvements
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

Add references and cross-links between flex and grid, fix reference in grid docs
  website/docs/layouts/flex/index.md
  website/docs/layouts/flex/partials/code/how-to-use.md
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/code/how-to-use.md
Labels: docs-website

Add basic acceptance tests
  website/tests/acceptance/layouts/flex-test.js
  website/tests/acceptance/layouts/grid-test.js
Labels: none

Fix: Revert changes to `AdvancedTable` acceptance test
  showcase/tests/acceptance/components/hds/advanced-table.js
Labels: showcase

Simplify setup
  packages/components/src/instance-initializers/load-sprite.ts
Labels: packages/components

Feat: Add `FileInput` and `MaskedInput` acceptance tests
  showcase/app/templates/components/form/file-input.hbs
  showcase/app/templates/components/form/masked-input.hbs
  showcase/tests/acceptance/components/hds/form/file-input-test.js
  showcase/tests/acceptance/components/hds/form/masked-input-test.js
Labels: showcase

Feat: Add `AppFrame` website acceptance test
  website/tests/acceptance/layouts/app-frame-test.js
Labels: none

Feat: Add `DisclosurePrimitive` website acceptance test
  website/tests/acceptance/utilities/disclosure-primitive-test.js
Labels: none

Feat: Add `AdvancedTable` website acceptance test
  website/tests/acceptance/components/table/advanced-table-test.js
Labels: none

Feat: Add content pages acceptance tests
  website/tests/acceptance/content/writing-guidelines-test.js
  website/tests/acceptance/content/writing-style-test.js
Labels: none

removes RSVP.all usage
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components

Feat: Add patterns pages acceptance tests
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/tests/acceptance/patterns/button-organization-test.js
  website/tests/acceptance/patterns/data-visualization-test.js
  website/tests/acceptance/patterns/disabled-patterns-test.js
  website/tests/acceptance/patterns/filter-patterns-test.js
  website/tests/acceptance/patterns/form-patterns-test.js
  website/tests/acceptance/patterns/table-multi-select-test.js
Labels: docs-website

Fix: Rename `SuperSelect` website acceptance test
  website/tests/acceptance/components/form/super-select-test.js
Labels: none

Fix: `MaskedInput` showcase typos
  showcase/app/templates/components/form/masked-input.hbs
Labels: showcase

Fix: Showcase blueprint acceptance test import path
  showcase/blueprints/hds-component-test/files/tests/acceptance/components/hds/__name__.js
Labels: showcase

fix: scrolling issues
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
