Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

fixed super issue in hds modal body
  .changeset/dull-lamps-retire.md
  packages/components/src/components/hds/modal/body.ts
Labels: packages/components

correcting ts issue
  packages/components/src/components/hds/modal/body.ts
Labels: packages/components

correcting ts issue
  packages/components/src/components/hds/flyout/body.ts
  packages/components/src/components/hds/flyout/description.ts
  packages/components/src/components/hds/flyout/footer.ts
  packages/components/src/components/hds/flyout/header.ts
Labels: packages/components

Update changeset
  .changeset/dull-lamps-retire.md
Labels: none

Update .changeset/dull-lamps-retire.md
  .changeset/dull-lamps-retire.md
Labels: none

Fixing signatures in `Hds::Flyout` & `Hds::Modal` subcomponents (#2511)
  .changeset/dull-lamps-retire.md
  packages/components/src/components/hds/flyout/body.ts
  packages/components/src/components/hds/flyout/description.ts
  packages/components/src/components/hds/modal/body.ts
Labels: packages/components

Version Packages (#2510)
  .changeset/dull-lamps-retire.md
  .changeset/smooth-bulldogs-leave.md
  .changeset/tough-lies-divide.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

HDS-3945 Implement initial Time component based on Cloud-ui and add Showcase
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/inner.ts
  packages/components/src/services.ts
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/application.js
  showcase/app/routes/components/time.js
  showcase/app/templates/components/time.hbs
  showcase/app/templates/index.hbs
  yarn.lock
Labels: packages/components, showcase

HDS-3945 Add basic tests, update Showcase, add class names
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
  showcase/app/templates/components/time.hbs
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Remove glint-nochecks
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/inner.hbs
Labels: packages/components

HDS-3945 Replace any types
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

1-add-embroider-webpack
  showcase/ember-cli-build.js
  showcase/package.json
  yarn.lock
Labels: showcase

HDS-3800 Add fix for toggle border overlaying AppSideNav border
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
Labels: packages/components

HDS-3800 Undo temp styles for testing skip link
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

HDS-3800 Remove NavigatorNarrator (a11y-refocus) from AppSideNav
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/styles/components/app-side-nav/a11y-refocus.scss
  packages/components/src/styles/components/app-side-nav/index.scss
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

HDS-3800 Fix states for active List::Link, remove temporary token definitions
  packages/components/src/styles/components/app-side-nav/content.scss
  packages/components/src/styles/components/app-side-nav/main.scss
Labels: packages/components

HDS-3800 Remove header component and HomeLink child component
  packages/components/package.json
  packages/components/src/components/hds/app-side-nav/header/home-link.hbs
  packages/components/src/components/hds/app-side-nav/header/home-link.ts
  packages/components/src/components/hds/app-side-nav/header/index.hbs
  packages/components/src/components/hds/app-side-nav/header/index.ts
  packages/components/src/styles/components/app-side-nav/header.scss
  packages/components/src/styles/components/app-side-nav/index.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/app-side-nav.hbs
  showcase/tests/integration/components/hds/app-side-nav/header/home-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/header/index-test.js
Labels: packages/components, showcase

HDS-3800 Clean up Showcase examples
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Remove old argument, fix failing test
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

HDS-3800 Remove skip link example from Showcase as it's no longer applicable
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Add test for iconColor arg
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
Labels: showcase

HDS-3800 Make preliminary css updates to AppSideNav to replace dark theme
  packages/components/src/styles/components/app-side-nav/header.scss
  packages/components/src/styles/components/app-side-nav/main.scss
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
  showcase/app/styles/showcase-pages/app-side-nav.scss
  showcase/app/templates/components/app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Add border-radius to active indicator
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3800 Update Badges in AppSideNav to outlined variant
  packages/components/src/components/hds/app-side-nav/list/link.hbs
  showcase/app/templates/components/app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Fix failing tests
  packages/components/package.json
  packages/components/src/components/hds/app-side-nav/header/icon-button.hbs
  packages/components/src/components/hds/app-side-nav/header/icon-button.ts
  packages/components/src/components/hds/app-side-nav/list/index.hbs
  packages/components/src/template-registry.ts
  showcase/tests/integration/components/hds/app-side-nav/base-test.js
  showcase/tests/integration/components/hds/app-side-nav/header/home-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/header/icon-button-test.js
  showcase/tests/integration/components/hds/app-side-nav/header/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/back-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/item-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
  showcase/tests/integration/components/hds/app-side-nav/portal/index-test.js
Labels: packages/components, showcase

HDS-3800 Update JSON values
  packages/tokens/src/products/shared/app-side-nav.json
Labels: packages/tokens

HDS-3800 Update styles for current active List::Link
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3800 Expose color prop of icons in List::Link, add example with colored icons to Showcase and in framed example
  packages/components/src/components/hds/app-side-nav/list/link.hbs
  packages/components/src/components/hds/app-side-nav/list/link.ts
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Update JS & CSS for Showcase display
  showcase/app/routes/components/app-side-nav.js
  showcase/app/styles/showcase-pages/app-side-nav.scss
Labels: showcase

HDS-3800 Add clip-path to prevent white background of toggle corners from showing
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
Labels: packages/components

HDS-3800 Update to remove ember-testing reference matching SideNav code updats
  packages/components/src/components/hds/app-side-nav/portal/target.ts
Labels: packages/components

HDS-3800 Include app-side-nav Showcase styles, update Showcase to match latest code, fix naming
  packages/components/src/styles/components/app-side-nav/vars.scss
  showcase/app/styles/app.scss
  showcase/app/templates/components/app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Fix failing tests, comment out web tests until web docs are added
  showcase/app/templates/components/app-side-nav.hbs
  website/tests/acceptance/components/app-side-nav-test.js
Labels: showcase

HDS-3800 Add new framed example with AppSideNav
  showcase/app/router.ts
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

HDS-3800 Remove interaction styles for current/active link since it doesn't actually do anything
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Fix background color of :active state for List::Link
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Update to swap empty component classes to templateOnly and match SideNav
  packages/components/src/components/hds/app-side-nav/portal/index.ts
Labels: packages/components

`AppSideNav` - overlay scrolling bug fix (HDS-3914) (#2472)
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components
