Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

HDS-3945 Fix dashes in tooltip content
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Fix whitespace in components, add examples to Showcase
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/single.hbs
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 remove undefined from type definitions
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Skip percy tests for section that continuously updates
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Remove undefined and change args to optional
  packages/components/src/components/hds/time/single.ts
Labels: packages/components

HDS-3945 Update type for display to be more explicit
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Clean up
  showcase/tests/unit/services/hds-time-test.js
Labels: showcase

HDS-3945 Remove Date type coercions, code clean up
  packages/components/src/components/hds/time/range.ts
Labels: packages/components

HDS-394 Fix Showcase to skip percy test in correct section
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Replae const values for display and relative units with enumerations and update tests
  packages/components/src/services/hds-time.ts
  showcase/tests/integration/components/hds/time/index-test.js
  showcase/tests/unit/services/hds-time-test.js
Labels: packages/components, showcase

HDS-3945 Add integration tests for time helpers
  showcase/tests/integration/helpers/hds-format-date-test.js
  showcase/tests/integration/helpers/hds-format-relative-test.js
Labels: showcase

HDS-3945 Fix display of time range so it works the same when used without tooltip, add more examples to Showcase
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Remove percy testing from Time Showcase page
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 remove assert.expect in tests
  showcase/tests/integration/helpers/hds-format-date-test.js
  showcase/tests/integration/helpers/hds-format-relative-test.js
Labels: showcase

HDS-3945 Move actions below getters, refactor to remove type coersions, update return value
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Add time showcase to percy testing
  showcase/tests/acceptance/percy-test.js
Labels: showcase

HDS-3945 Removed type coercion and made parameters optional
  packages/components/src/helpers/hds-format-relative.ts
  packages/components/src/services/hds-time-types.ts
Labels: packages/components

HDS-3945 Remove Time showcase page from list of pages Percy tests
  showcase/tests/acceptance/percy-test.js
Labels: showcase

Apply suggestions from code review
  showcase/app/controllers/components/time.js
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-4161 Add documentation around time service and helpers
  website/docs/components/time/partials/code/component-api.md
Labels: docs-website

HDS-4161 Add status
  website/docs/components/time/index.md
Labels: docs-website

Update website/docs/components/time/partials/code/component-api.md
  website/docs/components/time/partials/code/component-api.md
Labels: docs-website

Design Guidelines
  website/docs/components/time/index.md
  website/docs/components/time/partials/guidelines/guidelines.md
  website/docs/components/time/partials/guidelines/overview.md
  website/public/assets/components/time/time-example-tooltip.png
  website/public/assets/illustrations/components/time.jpg
Labels: docs-website

HDS-4161 remove unneeded tabs & make other related updates to Time docs
  website/docs/components/time/index.md
  website/docs/components/time/partials/code/how-to-use.md
  website/docs/components/time/partials/guidelines/guidelines.md
  website/docs/components/time/partials/guidelines/overview.md
  website/docs/components/time/partials/specifications/anatomy.md
  website/docs/components/time/partials/specifications/states.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/time/partials/code/component-api.md
Labels: docs-website

HDS-4161 Add code and API documentation
  website/docs/components/time/index.md
  website/docs/components/time/partials/accessibility/accessibility.md
  website/docs/components/time/partials/code/component-api.md
  website/docs/components/time/partials/code/how-to-use.md
  website/docs/components/time/partials/guidelines/guidelines.md
  website/docs/components/time/partials/guidelines/overview.md
  website/docs/components/time/partials/specifications/anatomy.md
  website/docs/components/time/partials/specifications/states.md
  website/tests/acceptance/components/time.js
Labels: docs-website

HDS-4161 Update accessibility docs for Time
  website/docs/components/time/partials/accessibility/accessibility.md
Labels: docs-website

HDS-4161 Remove unneeded Figma link, add version history
  website/docs/components/time/index.md
  website/docs/components/time/partials/version-history/4.15.0.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/time/partials/code/component-api.md
  website/docs/components/time/partials/code/how-to-use.md
Labels: docs-website

add designers as approved codeowners for docs
  .github/CODEOWNERS
Labels: none

feat: website create new content section
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidebar.js
  website/app/controllers/content.js
  website/app/router.js
  website/app/styles/pages/application/header.scss
  website/app/templates/content.hbs
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-for-ui-copy/index.md
Labels: docs-website

include website assets
  .github/CODEOWNERS
Labels: none

separate lines
  .github/CODEOWNERS
Labels: none

HDS-4150 website tabs set focus on tab change
  website/app/components/doc/page/tabs.hbs
  website/app/components/doc/page/tabs.js
  website/app/controllers/application.js
  website/app/controllers/show.js
  website/app/routes/show.js
  website/docs/about/accessibility-statement.md
  website/docs/about/contribution.md
  website/docs/about/overview.md
  website/docs/about/principles.md
  website/docs/about/support.md
  website/docs/foundations/accessibility/index.md
  website/docs/getting-started/for-designers.md
  website/docs/getting-started/for-engineers.md
Labels: docs-website

HDS-4150 fixing linting issues
  website/app/components/doc/page/tabs.js
Labels: none

add designers as approved codeowners for docs (#2570)
  .github/CODEOWNERS
Labels: none

HDS-3945 Move ember-concurrency package to dependencies
  packages/components/package.json
Labels: packages/components

fix: padding around icon nav items
  website/app/styles/pages/application/header.scss
Labels: none

HDS-4150 frontmatter remove hasTabs
  website/app/controllers/application.js
  website/app/routes/show.js
  website/docs/about/accessibility-statement.md
  website/docs/about/contribution.md
  website/docs/about/overview.md
  website/docs/about/principles.md
  website/docs/about/support.md
  website/docs/foundations/accessibility/index.md
  website/docs/getting-started/for-designers.md
  website/docs/getting-started/for-engineers.md
Labels: docs-website

HDS-4150 linting fix
  website/app/controllers/application.js
Labels: none
