Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

added support for `@justify` and `@align` arguments
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/types.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/routes/layouts/flex.js
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

added some basic examples to the `Flex` showcase page
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

small update to how the `Flex::Item` subcomponent handles the `@basis` argument
  packages/components/src/components/hds/layout/flex/item.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

simplified a bit the showcase code
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

linting fixes
  showcase/tests/integration/components/hds/layout/flex/index-test.js
Labels: showcase

added missing assertions to getters of `Flex`
  packages/components/src/components/hds/layout/flex/index.ts
Labels: packages/components

extended the `@basis` argument to accept also the `0` (numeric) value
  packages/components/src/components/hds/layout/flex/item.ts
Labels: packages/components

fixed test
  showcase/tests/integration/components/hds/layout/flex/index-test.js
Labels: showcase

removed comment after decision with Kristin
  packages/components/src/components/hds/layout/flex/index.ts
Labels: packages/components

more cleanup
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

added support for `@gap` argument with pre-defined spacing scale
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/types.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/routes/layouts/flex.js
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

shared tag-related types across `Flex` and `Flex::Item`
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/item.ts
  packages/components/src/components/hds/layout/flex/types.ts
Labels: packages/components

added integration tests for `Layout::Flex` and `Layout::Flex::Item` components
  showcase/tests/integration/components/hds/layout/flex/index-test.js
  showcase/tests/integration/components/hds/layout/flex/item-test.js
Labels: showcase

ported `gap` implementation via CSS variables from `Grid` implementation
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

added comment in code
  packages/components/src/components/hds/layout/flex/index.ts
Labels: packages/components

added missing assertion tests for `Hds::Flex`
  showcase/tests/integration/components/hds/layout/flex/index-test.js
Labels: showcase

assigned HTML tags to some of the flex items in the showcase page
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

replaced `Hds::Flex::Item` with `HLF.Item` where meaningful
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

fixed a couple of headings
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

simplified some tests
  showcase/tests/integration/components/hds/layout/flex/index-test.js
  showcase/tests/integration/components/hds/layout/flex/item-test.js
Labels: showcase

added `Layout::Flex::Item` yielded subcomponent, with support for `@tag`, `@basis`, `@grow`, and `@shrink` arguments
  packages/components/package.json
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/item.hbs
  packages/components/src/components/hds/layout/flex/item.ts
  packages/components/src/styles/components/layout/flex.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

added support for `@enableCollapseBelowContentSize` argument for `Flex::Item`
  packages/components/src/components/hds/layout/flex/item.ts
  packages/components/src/styles/components/layout/flex.scss
  showcase/app/templates/layouts/flex.hbs
Labels: packages/components, showcase

more linting fixes
  packages/components/src/components/hds/layout/flex/types.ts
Labels: packages/components

linting
  showcase/tests/integration/components/hds/layout/flex/item-test.js
Labels: showcase

linting
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/components/hds/layout/flex/item.hbs
Labels: packages/components

remove extra CSS class for simplification
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/styles/components/layout/flex.scss
Labels: packages/components

linting
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/types.ts
Labels: packages/components

fixes showcase example
  showcase/app/templates/layouts/flex.hbs
Labels: showcase

added changeset
  .changeset/funny-dragons-kneel.md
Labels: none

Apply suggestions from code review
  showcase/tests/integration/components/hds/layout/flex/index-test.js
  showcase/tests/integration/components/hds/layout/flex/item-test.js
Labels: showcase

added comments
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/components/hds/layout/flex/item.hbs
Labels: packages/components

small code cleanup
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/styles/components/layout/flex.scss
  showcase/tests/integration/components/hds/layout/flex/index-test.js
Labels: packages/components, showcase

small fixes per PR reviews/suggestions
  packages/components/src/components/hds/layout/flex/index.hbs
  packages/components/src/components/hds/layout/flex/item.hbs
  packages/components/src/components/hds/layout/flex/types.ts
  packages/components/src/styles/components/layout/flex.scss
Labels: packages/components

responding to pr feedback
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

added another example of stretching content
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

simplified the label in the website sidebar navigation
  website/docs/layouts/flex/index.md
Labels: docs-website

removed version history entry
  website/docs/layouts/flex/partials/version-history/version-history.md
Labels: docs-website

removed file that is not needed
  website/docs/layouts/flex/index.js
Labels: docs-website

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
Labels: docs-website
