Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Update accordion-isStatic-open-example.png
  website/public/assets/components/accordion/accordion-isStatic-open-example.png
Labels: none

Markdown lint
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Add examples for new args and nested accordions
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/public/assets/components/accordion/accordion-patterns-expand-collapse-all-labels.png
Labels: docs-website

Update guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Update guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

guidelines.md
  website/public/assets/components/accordion/accordion-anatomy.png
  website/public/assets/components/accordion/accordion-isStatic-open-example.png
  website/public/assets/components/accordion/accordion-states-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open.png
  website/public/assets/components/accordion/accordion-states.png
Labels: none

add shleewhite to changelog-hds.cjs.js
  .changeset/changelog-hds.cjs.js
Labels: none

updated stretched/inline behavior and corresponding tests
  packages/components/src/components/hds/icon/index.ts
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: packages/components, showcase

Update accordion-states-open-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open-contains-interactive.png
Labels: none

update component name and assertions
  packages/components/src/components/hds/icon/index.ts
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: packages/components, showcase

Document properties for expand/collapse
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
Labels: docs-website

Add expand/collapse all example
  website/app/styles/pages/components/accordion.scss
  website/docs/components/accordion/index.js
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Match icon with action in expand/collapse example
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Make button small
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/public/assets/components/accordion/accordion-card-type-example.png
  website/public/assets/components/accordion/accordion-nesting-do.png
  website/public/assets/components/accordion/accordion-patterns-expand-collapse-all-labels.png
  website/public/assets/components/accordion/accordion-size-range.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

replaced `@required="true”` with `@required={{true}}` in `<Doc::ComponentApi>` properties declarations
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/link/standalone/partials/code/component-api.md
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/reveal/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/icons/usage-guidelines/partials/code/component-api.md
Labels: docs-website

Content adjustments for clarity
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Add return types to DisclosurePrimitive
  packages/components/src/components/hds/disclosure-primitive/index.ts
Labels: packages/components

responding to pr feedback
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/icon.scss
  packages/components/src/template-registry.ts
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: packages/components, showcase

Add return types to `hds-aria-described-by.ts`
  packages/components/src/utils/hds-aria-described-by.ts
Labels: packages/components

Rename js to ts
  packages/components/src/components/hds/form/character-count/index.ts
  packages/components/src/components/hds/form/error/index.ts
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/components/hds/form/helper-text/index.ts
  packages/components/src/components/hds/form/indicator/index.ts
  packages/components/src/components/hds/form/label/index.ts
  packages/components/src/components/hds/form/legend/index.ts
Labels: packages/components

Convert `Form::CharacterCount` to TypeScript
  packages/components/src/components/hds/form/character-count/index.hbs
  packages/components/src/components/hds/form/character-count/index.ts
Labels: packages/components

Convert `Form::VisibilityToggle` to TypeScript
  packages/components/src/components/hds/form/visibility-toggle/index.hbs
  packages/components/src/components/hds/form/visibility-toggle/index.ts
Labels: packages/components

Narrow down type errors and add expect for decorator
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.hbs
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/utils/hds-aria-described-by.ts
Labels: packages/components

Convert `hds-get-element-id` util to TypeScript
  packages/components/src/utils/hds-get-element-id.ts
Labels: packages/components

Convert `Form::Legend` to TypeScript
  packages/components/src/components/hds/form/legend/index.hbs
  packages/components/src/components/hds/form/legend/index.ts
Labels: packages/components

Convert `Form::Indicator` to TypeScript
  packages/components/src/components/hds/form/indicator/index.hbs
  packages/components/src/components/hds/form/indicator/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Update paths to converted files
  packages/components/src/components/hds/dropdown/list-item/checkbox.js
  packages/components/src/components/hds/dropdown/list-item/radio.js
  packages/components/src/components/hds/flyout/index.js
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/components/hds/form/masked-input/base.js
  packages/components/src/components/hds/form/super-select/multiple/field.js
  packages/components/src/components/hds/form/super-select/single/field.js
  packages/components/src/components/hds/modal/index.js
  packages/components/src/components/hds/rich-tooltip/index.ts
Labels: packages/components

Convert `Form::HelperText` to TypeScript
  packages/components/src/components/hds/form/helper-text/index.hbs
  packages/components/src/components/hds/form/helper-text/index.ts
Labels: packages/components

Convert `Form::Error` to TypeScript
  packages/components/src/components/hds/form/error/index.hbs
  packages/components/src/components/hds/form/error/index.ts
  packages/components/src/components/hds/form/error/message.hbs
  packages/components/src/components/hds/form/error/message.ts
Labels: packages/components

Update template registry
  packages/components/src/template-registry.ts
Labels: packages/components

Convert `Form::Fieldset` to TypeScript
  packages/components/src/components/hds/form/fieldset/index.hbs
  packages/components/src/components/hds/form/fieldset/index.ts
Labels: packages/components
