Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Add link to `hds-engineering`
  wiki/TypeScript-Migration.md
Labels: none

Add instructions around argument order
  wiki/TypeScript-Migration.md
Labels: none

Update WCAG 2.1 references to WCAG 2.2
  website/docs/about/accessibility-statement.md
  website/docs/about/overview.md
  website/docs/components/button/partials/code/component-api.md
Labels: docs-website

Update WCAG 2.1 links to WCAG 2.2 links
  website/app/components/doc/wcag-list/index.js
  website/docs-scraper/parts/getWcagCriteria.mjs
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/foundations/accessibility/index.md
  website/docs/patterns/table-multi-select/partials/accessibility/accessibility.md
Labels: docs-website

changed `linear` transition to `ease-in-out` (and merged transition declarations)
  website/app/styles/doc-components/scroll-to-top.scss
Labels: none

Add a11y information
  website/docs/patterns/disabled-patterns/partials/accessibility.md
Labels: docs-website

put html elements in code tags so markdown file renders
  website/docs/patterns/disabled-patterns/partials/accessibility.md
Labels: docs-website

tweaks to the transition + added `pointer-events` handling + toggled `tabindex` depending on the visibility
  website/app/components/doc/scroll-to-top/index.hbs
  website/app/styles/doc-components/scroll-to-top.scss
Labels: none

move files from js to ts
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.ts
Labels: packages/components

convert stepper components to typescript
  packages/components/src/components/hds/stepper/step/indicator.hbs
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.hbs
  packages/components/src/components/hds/stepper/task/indicator.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

add changeset
  .changeset/purple-pears-hang.md
Labels: none

Slight refactor of how these components are named internally
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Order arguments to match docs
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.ts
Labels: packages/components

fix typo in AppFooter changeset
  .changeset/plenty-emus-marry.md
Labels: none

convert to ts
  packages/components/src/components/hds/app-frame/index.ts
Labels: packages/components

remove glint disable
  packages/components/src/components/hds/app-frame/index.hbs
  packages/components/src/components/hds/app-frame/parts/footer.hbs
  packages/components/src/components/hds/app-frame/parts/header.hbs
  packages/components/src/components/hds/app-frame/parts/main.hbs
  packages/components/src/components/hds/app-frame/parts/modals.hbs
  packages/components/src/components/hds/app-frame/parts/sidebar.hbs
Labels: packages/components

change from js to ts
  packages/components/src/components/hds/app-frame/index.ts
Labels: packages/components

Added ts files and updated template registry
  packages/components/src/components/hds/app-frame/parts/footer.ts
  packages/components/src/components/hds/app-frame/parts/header.ts
  packages/components/src/components/hds/app-frame/parts/main.ts
  packages/components/src/components/hds/app-frame/parts/modals.ts
  packages/components/src/components/hds/app-frame/parts/sidebar.ts
  packages/components/src/template-registry.ts
Labels: packages/components

add changeset
  .changeset/smart-badgers-own.md
Labels: none

where do I need to add path back in for the tests to work
  packages/components/src/components/hds/app-frame/index.hbs
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

fixed glint lint errors
  packages/components/src/components/hds/app-frame/index.hbs
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Update .changeset/smart-badgers-own.md
  .changeset/smart-badgers-own.md
Labels: none

sorted lines alphabetically for consistency
  packages/components/src/components/hds/app-frame/index.ts
Labels: packages/components

sorted the sub-components in the template-registry
  packages/components/src/template-registry.ts
Labels: packages/components

`AppFrame` - Convert to TypeScript (#2098)
  .changeset/smart-badgers-own.md
  packages/components/src/components/hds/app-frame/index.hbs
  packages/components/src/components/hds/app-frame/index.js
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/app-frame/parts/footer.hbs
  packages/components/src/components/hds/app-frame/parts/footer.ts
  packages/components/src/components/hds/app-frame/parts/header.hbs
  packages/components/src/components/hds/app-frame/parts/header.ts
  packages/components/src/components/hds/app-frame/parts/main.hbs
  packages/components/src/components/hds/app-frame/parts/main.ts
  packages/components/src/components/hds/app-frame/parts/modals.hbs
  packages/components/src/components/hds/app-frame/parts/modals.ts
  packages/components/src/components/hds/app-frame/parts/sidebar.hbs
  packages/components/src/components/hds/app-frame/parts/sidebar.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Update WCAG 2.1 references to WCAG 2.2 (#2095)
  website/app/components/doc/wcag-list/index.js
  website/docs-scraper/parts/getWcagCriteria.mjs
  website/docs/about/accessibility-statement.md
  website/docs/about/overview.md
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/foundations/accessibility/index.md
  website/docs/patterns/table-multi-select/partials/accessibility/accessibility.md
Labels: docs-website

small fix to the way opacity and background color are applied
  website/app/styles/doc-components/scroll-to-top.scss
Labels: none

Updating wordings from Jory's suggestions
  website/docs/patterns/disabled-patterns/index.md
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/disabled-patterns/partials/guidelines/overview.md
Labels: docs-website

updated the “Component API” for `Copy::Button` and `Copy::Snippet`
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
Labels: docs-website

HDS-2686 Add backing class typescript file to button-set
  packages/components/src/components/hds/button-set/index.ts
Labels: packages/components

HDS-2686 Delete nocheck tag from hbs and add buttonSet to ts registry
  packages/components/src/components/hds/button-set/index.hbs
  packages/components/src/components/hds/button-set/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-2686 Add changeset
  .changeset/strange-hairs-judge.md
Labels: none

HDS-2686 Use TemplateOnlyComponent
  packages/components/src/components/hds/button-set/index.ts
Labels: packages/components

`ButtonSet`: Convert to TypeScript (HDS-2686) (#2099)
  .changeset/strange-hairs-judge.md
  packages/components/src/components/hds/button-set/index.hbs
  packages/components/src/components/hds/button-set/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

Updated docs with Jory's suggestions
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
Labels: docs-website

fix(components): update pre-publish script to run build correctly
  .changeset/rare-suns-love.md
  packages/components/package.json
Labels: packages/components

HDS-2688 Convert js code to typescript for hds-clipboard
  packages/components/src/modifiers/hds-clipboard.ts
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-2688 Convert hds-clipboard from js to ts
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

HDS-3344 Redefine targetElement as HTMLElement instead of Node
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

Apply suggestions from code review
  packages/components/src/modifiers/hds-clipboard.ts
  packages/components/src/template-registry.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
