Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HBS-3800 Update Showcase links to group together deprioritized components, comment out framed examples
  showcase/app/router.ts
  showcase/app/templates/deprioritized/app-header.hbs
  showcase/app/templates/deprioritized/app-side-nav.hbs
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

split everything
  showcase/ember-cli-build.js
  showcase/package.json
Labels: showcase

make vercel happy
  showcase/vercel.json
  website/vercel.json
Labels: showcase

bring back buttons less LinkToExternal
  packages/components/src/components/hds/interactive.hbs
Labels: packages/components

add missing deps
  pnpm-lock.yaml
  website/package.json
Labels: none

more missing deps
  packages/components/src/components/hds/form/masked-input/field.hbs
  packages/flight-icons/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
  showcase/blueprints/hds-component-test/index.js
  showcase/blueprints/hds-component/index.js
  showcase/package.json
  showcase/types/global.d.ts
  website/blueprints/hds-component-docs/index.js
  website/package.json
Labels: packages/components, packages/flight-icons, packages/tokens, showcase

fix(ci): components
  .github/workflows/ci-components.yml
Labels: none

chore: bump `pnpm`
  .github/workflows/ci-components.yml
  package.json
Labels: none

fix(ci): website
  .github/workflows/ci-website.yml
Labels: none

Prevent `app-header` and `app-side-nav` from being used
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: packages/components

Update README.md
  packages/ember-flight-icons/README.md
Labels: packages/ember-flight-icons

HDS-3800 Update language in banners
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
Labels: docs-website

HDS-3800 Comment out code examples of AppHeader and AppSideNav in web docs
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
Labels: docs-website

Update README.md in `ember-flight-icons` (#2521)
  packages/ember-flight-icons/README.md
Labels: packages/ember-flight-icons

HDS-3800 Update Web docs and Showcase examples to comment out non-working components, undo different routs changes for Showcase pages and instead comment out links
  showcase/app/router.ts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/index.hbs
Labels: showcase

Apply suggestions from code review
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

HDS-3800 Comment out unpublished components to satisfy linter
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

Updated images
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
Labels: none

fix: make icon correct size for small variant
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

chore: add changeset
  .changeset/violet-donuts-matter.md
Labels: none

HDS-3800 Comment out tests for AppHeader and AppSideNav
  showcase/tests/integration/components/hds/app-header/home-link-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/back-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/item-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
  showcase/tests/integration/components/hds/app-side-nav/portal/index-test.js
Labels: showcase

made the `gap` argument optional in the `Shw::Grid` signature
  showcase/app/components/shw/grid/index.gts
Labels: showcase

added support for 1-column layout in `Shw::Grid` component
  showcase/app/components/shw/grid/index.gts
  showcase/app/styles/showcase-components/grid.scss
Labels: showcase

feat: add clipboard-polyfill to hds-clipboard
  package.json
  packages/components/package.json
  packages/components/src/modifiers/hds-clipboard.ts
  yarn.lock
Labels: packages/components

chore: changeset
  .changeset/soft-pets-hear.md
Labels: none

TEMP: add logs
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

chore: remove logs
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

chore: add comments
  packages/components/src/modifiers/hds-clipboard.ts
Labels: packages/components

HDS-3800 Skip tests
  showcase/tests/integration/components/hds/app-header/home-link-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/back-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/item-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
Labels: showcase

HDS-3800 Update language in docs
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
Labels: docs-website

HDS-3800 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3800 Fix background color of :active state for List::Link
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Update styles for current active List::Link
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Set negative tabindex for active Link
  packages/components/src/components/hds/app-side-nav/list/link.hbs
Labels: packages/components

HDS-3800 Clean up Showcase examples
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Fix failing tests, comment out web tests until web docs are added
  showcase/app/templates/components/app-side-nav.hbs
  website/tests/acceptance/components/app-side-nav-test.js
Labels: showcase

HDS-3800 Add border-radius to active indicator
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Include app-side-nav Showcase styles, update Showcase to match latest code, fix naming
  packages/components/src/styles/components/app-side-nav/vars.scss
  showcase/app/styles/app.scss
  showcase/app/templates/components/app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Clean up type definitions
  packages/components/src/components/hds/app-side-nav/base.ts
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

HDS-3800 Add new framed example with AppSideNav
  showcase/app/router.ts
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
