Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Apply suggestions from code review
  website/docs/components/stepper/indicator/partials/specifications/anatomy.md
  website/docs/components/stepper/indicator/partials/specifications/states.md
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/list/partials/specifications/anatomy.md
  website/docs/components/stepper/list/partials/specifications/states.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
Labels: docs-website

Fix: Address nav docs feedback
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Fix: Address nav code feedback
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

update image to fix buttons.
  website/public/assets/components/stepper/navigation/stepper-navigation-matching-experiences.png
Labels: none

Apply suggestions from code review
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
Labels: docs-website

updated spacing image
  website/public/assets/components/stepper/navigation/stepper-navigation-spacing-example.png
Labels: none

updated to include related components in keywords
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

adding related links to each component
  website/docs/components/stepper/indicator/index.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

Fix: Nav api default values
  website/docs/components/stepper/nav/partials/code/component-api.md
Labels: docs-website

updated figma path
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Feat: Stepper accessibility docs
  website/docs/components/stepper/list/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/public/assets/components/stepper/navigation/stepper-navigation-arrow-key.png
  website/public/assets/components/stepper/navigation/stepper-navigation-enter.png
  website/public/assets/components/stepper/navigation/stepper-navigation-focus-to-content.png
  website/public/assets/components/stepper/navigation/stepper-navigation-focus.png
Labels: docs-website

Fix: Address feedback in code docs
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Updated image sizing in specification sections
  website/docs/components/stepper/indicator/partials/specifications/anatomy.md
  website/docs/components/stepper/indicator/partials/specifications/states.md
  website/docs/components/stepper/list/partials/specifications/anatomy.md
  website/docs/components/stepper/list/partials/specifications/states.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
  website/public/assets/components/stepper/indicator/step-indicator-anatomy.png
  website/public/assets/components/stepper/indicator/stepper-step-states.png
  website/public/assets/components/stepper/indicator/stepper-task-states.png
  website/public/assets/components/stepper/indicator/task-indicator-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-states.png
  website/public/assets/components/stepper/nav/stepper-nav-anatomy.png
  website/public/assets/components/stepper/nav/stepper-nav-states.png
Labels: docs-website

Fix: Failing docs tests
  website/tests/acceptance/components/stepper/indicator-test.js
  website/tests/acceptance/components/stepper/list-test.js
  website/tests/acceptance/components/stepper/nav-test.js
  website/tests/acceptance/sidebar-test.js
Labels: none

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/list/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Fix: Address feedback in code and accessibility docs
  website/docs/components/stepper/list/partials/accessibility/accessibility.md
  website/docs/components/stepper/list/partials/code/how-to-use.md
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
Labels: docs-website

Chore: Linting fixes
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

updated path for figma component links
  website/docs/components/stepper/indicator/index.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

added illustrations for each stepper component
  website/docs/components/stepper/indicator/index.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/nav/index.md
  website/public/assets/illustrations/components/stepper-indicator.jpg
  website/public/assets/illustrations/components/stepper-list.jpg
  website/public/assets/illustrations/components/stepper-nav.jpg
  website/public/assets/illustrations/components/stepper.jpg
Labels: docs-website

Updating text and images for Stepper List
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/list/partials/specifications/anatomy.md
  website/public/assets/components/stepper/list/stepper-list-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-processing-status-errored.png
  website/public/assets/components/stepper/list/stepper-list-processing-status.png
Labels: docs-website

Updated text and images for Stepper Nav
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/public/assets/components/stepper/navigation/stepper-navigation-anatomy.png
  website/public/assets/components/stepper/navigation/stepper-navigation-interactive-non-interactive.png
  website/public/assets/components/stepper/navigation/stepper-navigation-interactive-steps.png
  website/public/assets/components/stepper/navigation/stepper-navigation-matching-experiences.png
  website/public/assets/components/stepper/navigation/stepper-navigation-non-interactive-steps.png
  website/public/assets/components/stepper/navigation/stepper-navigation-responsive-behavior.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

removed overview.md files
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/list/partials/guidelines/overview.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/guidelines/overview.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/indicator/partials/specifications/states.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
Labels: docs-website

Chore: Rename assets from navigation to nav
  website/docs/components/stepper/nav/partials/accessibility/accessibility.md
  website/docs/components/stepper/nav/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/specifications/anatomy.md
  website/docs/components/stepper/nav/partials/specifications/states.md
  website/public/assets/components/stepper/nav/stepper-nav-anatomy.png
  website/public/assets/components/stepper/nav/stepper-nav-arrow-key.png
  website/public/assets/components/stepper/nav/stepper-nav-description-do.png
  website/public/assets/components/stepper/nav/stepper-nav-description-dont.png
  website/public/assets/components/stepper/nav/stepper-nav-enter.png
  website/public/assets/components/stepper/nav/stepper-nav-focus-to-content.png
  website/public/assets/components/stepper/nav/stepper-nav-focus.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards-movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-matching-experiences.png
  website/public/assets/components/stepper/nav/stepper-nav-non-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-responsive-behavior.png
  website/public/assets/components/stepper/nav/stepper-nav-spacing-example.png
  website/public/assets/components/stepper/nav/stepper-nav-states.png
Labels: docs-website

Fix: Address Nav code docs feedback
  website/docs/components/stepper/nav/index.js
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Feat: Add `ariaLabel` arg to docs
  website/docs/components/stepper/list/partials/code/component-api.md
  website/docs/components/stepper/list/partials/code/how-to-use.md
  website/docs/components/stepper/nav/partials/code/component-api.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

added dont guidelines for progressive disclosure
  website/docs/components/stepper/list/partials/guidelines/guidelines.md
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-dont.png
Labels: docs-website

Feat: No panels example for nav code docs
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Feat: Update nav docs to `isInteractive` default of `true`
  website/docs/components/stepper/nav/partials/code/component-api.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
Labels: docs-website

Fix: Update component api component names
  website/docs/components/stepper/list/partials/code/component-api.md
  website/docs/components/stepper/nav/partials/code/component-api.md
Labels: docs-website

adding new models
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

Fix: Set description color on list
  packages/components/src/styles/components/stepper/list.scss
Labels: packages/components
