Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

`Dropdown::ListItem::Interactive` enhancement - codemod (#2331)
  packages/codemods/transforms/v4/dropdown-list-item-interactive/README.md
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
  packages/codemods/transforms/v4/dropdown-list-item-interactive/test.js
Labels: none

responding to PR feedback
  website/docs/components/dropdown/partials/code/component-api.md
Labels: docs-website

finished updating code
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

added version history update as well as a deprecation notice
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/4.11.0.md
Labels: docs-website, packages/components

updated deprecation id
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
Labels: packages/components

fix(components): side step index components
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: packages/components

compressed image assets
  website/public/assets/patterns/filter-patterns/applied-filters-overflow-basic-example.png
  website/public/assets/patterns/filter-patterns/applied-filters-overflow-intermediate-example-closed.png
  website/public/assets/patterns/filter-patterns/applied-filters-overflow-intermediate-example-open.png
  website/public/assets/patterns/filter-patterns/filter-overflow-holistic-example.png
  website/public/assets/patterns/filter-patterns/filter-parameters-overflow-flyout-accordion.png
  website/public/assets/patterns/filter-patterns/filter-parameters-overflow-flyout.png
  website/public/assets/patterns/filter-patterns/filter-parameters-overflow-more-filters.png
Labels: none

Removed disabled colors image since no longer used.
  website/public/assets/foundations/color/colors-disabled-examples.png
Labels: none

Add back `@deprecated` arg to `Property` component
  website/app/components/doc/component-api/property.hbs
Labels: none

Responding to PR feedback
  website/docs/components/dropdown/partials/code/component-api.md
Labels: docs-website

added changeset
  .changeset/nice-drinks-do.md
Labels: none

merge codemod
  packages/codemods/transforms/v4/dropdown-list-item-interactive/README.md
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
  packages/codemods/transforms/v4/dropdown-list-item-interactive/test.js
Labels: none

add changeset
  .changeset/poor-rules-flow.md
Labels: none

Apply suggestions from code review
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

Updated phrasing to match Kristin's suggestion
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

updating docs
  showcase/app/templates/components/dropdown.hbs
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/version-history/4.10.0.md
Labels: docs-website, showcase

backing out showcase updates
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

`Hds::Dropdown::ListItem::Interactive` docs updates (#2349)
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/version-history/4.10.0.md
Labels: docs-website

merge codemod
  packages/codemods/transforms/v4/dropdown-list-item-interactive/README.md
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
  packages/codemods/transforms/v4/dropdown-list-item-interactive/test.js
Labels: none

added changeset
  .changeset/nice-drinks-do.md
Labels: none

added option for yielded text
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  showcase/app/templates/components/dropdown.hbs
Labels: packages/components, showcase

update css to allow for multiple children
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

added new tests to support yielded content
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
Labels: showcase

updated existing docs
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

added documentation for new yielded block
  website/docs/components/dropdown/partials/code/component-api.md
Labels: docs-website

added optional yielded badge component
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  packages/components/src/styles/components/dropdown.scss
  showcase/app/templates/components/dropdown.hbs
Labels: packages/components, showcase

updating docs
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  packages/components/src/styles/components/dropdown.scss
  showcase/app/templates/components/dropdown.hbs
Labels: packages/components, showcase

adding tests for badge component
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
Labels: showcase

reverting doc changes
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

fixing test name
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
Labels: showcase

removing extraneous documentation
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

updated other showcase examples
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

respongint to PR feedback
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
Labels: packages/components, showcase

fixing tests
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
Labels: showcase

adding deprecation notice for the usage of the @text arg
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  packages/components/src/components/hds/dropdown/list-item/radio.hbs
Labels: packages/components

fixing linting issues
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/components/hds/dropdown/list-item/radio.hbs
Labels: packages/components

updated showcase with badge examples
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  showcase/app/templates/components/dropdown.hbs
Labels: packages/components, showcase

Update to website docs for ListItem::Interactive
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/public/assets/components/dropdown/dropdown-interactive-badge-example.png
Labels: docs-website
