Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

fix: refactor styles
  packages/components/src/styles/components/table.scss
Labels: packages/components

fix: remove bad copy/paste
  packages/components/src/styles/components/table.scss
Labels: packages/components

Update website/docs/content/writing-guidelines/index.md
  website/docs/content/writing-guidelines/index.md
Labels: docs-website

WIP 12 (replaced placeholder with custom local “component”)
  showcase/app/styles/showcase-pages/theming.scss
  showcase/app/templates/foundations/theming.hbs
Labels: showcase

`Time` - docs (HDS-4161) (#2557)
  website/docs/components/time/index.md
  website/docs/components/time/partials/accessibility/accessibility.md
  website/docs/components/time/partials/code/component-api.md
  website/docs/components/time/partials/code/how-to-use.md
  website/docs/components/time/partials/version-history/4.15.0.md
  website/public/assets/components/time/time-example-tooltip.png
  website/public/assets/illustrations/components/time.jpg
  website/tests/acceptance/components/time.js
Labels: docs-website

HDS-3945 Add link to writing guidelines for date and time
  website/docs/components/time/partials/code/how-to-use.md
Labels: docs-website

changed title and description to yielded subcomponents
  packages/components/package.json
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/description.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
  packages/components/src/template-registry.ts
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

HDS-3945 Export Single child component
  packages/components/src/components.ts
Labels: packages/components

HDS-3945 Remove unnecessary args for didInsertNode and willDestroyNode
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

Update happy-readers-notice.md
  .changeset/happy-readers-notice.md
Labels: none

feat: add borders to all cells
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

chore: remove hds-focus-ring-with-after-pseudo-element
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
Labels: packages/components

chore: remove change to table css
  packages/components/src/styles/components/table.scss
Labels: packages/components

chore: clean up showcase
  showcase/app/router.ts
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/percy-test.js
Labels: showcase

website docs WIP
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/docs/components/code-editor/partials/version-history/4.15.0.md
Labels: docs-website

feat: update cards on index page
  website/app/controllers/index.js
Labels: none

feat: website create new content section
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidebar.js
  website/app/controllers/content.js
  website/app/router.js
  website/app/styles/pages/application/header.scss
  website/app/templates/content.hbs
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-for-ui-copy/index.md
Labels: docs-website

fix: padding around icon nav items
  website/app/styles/pages/application/header.scss
Labels: none

fix: styles
  website/app/styles/pages/application/header.scss
Labels: none

fix: put gap back
  website/app/styles/pages/application/header.scss
Labels: none

fix: switch padding to margin
  website/app/styles/pages/application/header.scss
Labels: none

feat: reorder nav items and cards
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/controllers/index.js
Labels: none

adjusted styling and header composition to fit the new designs
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

fix: remove old pages
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-for-ui-copy/index.md
Labels: docs-website

fix: icon sizes
  website/app/components/doc/page/header/index.hbs
Labels: none

chore: remove unused image
  website/public/assets/illustrations/content/tone-and-voice.jpg
Labels: none

fix: classnames
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

added `build:watch` script to `tokens` package
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

updated `build` script to remove check on token category for `font-size` type
  packages/tokens/scripts/build.ts
Labels: packages/tokens

WIP FORM ELEMENTS
  packages/components/src/styles/@hashicorp/design-system-power-select-overrides.scss
  packages/components/src/styles/components/form/checkbox.scss
  packages/components/src/styles/components/form/error.scss
  packages/components/src/styles/components/form/file-input.scss
  packages/components/src/styles/components/form/group.scss
  packages/components/src/styles/components/form/masked-input.scss
  packages/components/src/styles/components/form/radio-card.scss
  packages/components/src/styles/components/form/radio.scss
  packages/components/src/styles/components/form/select.scss
  packages/components/src/styles/components/form/super-select.scss
  packages/components/src/styles/components/form/text-input.scss
  packages/components/src/styles/components/form/textarea.scss
  packages/components/src/styles/components/form/toggle.scss
  packages/components/src/styles/components/form/visibility-toggle.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/form/base-elements.json
  packages/tokens/src/products/shared/form/checkbox.json
  packages/tokens/src/products/shared/form/file-input.json
  packages/tokens/src/products/shared/form/generic-control/colors.json
  packages/tokens/src/products/shared/form/generic-control/sizing.json
  packages/tokens/src/products/shared/form/masked-input.json
  packages/tokens/src/products/shared/form/radio.json
  packages/tokens/src/products/shared/form/radiocard.json
  packages/tokens/src/products/shared/form/select.json
  packages/tokens/src/products/shared/form/text-area.json
  packages/tokens/src/products/shared/form/text-input.json
  packages/tokens/src/products/shared/form/toggle.json
Labels: packages/components, packages/tokens

added component-level tokens to `Badge` component
  packages/components/src/styles/components/badge.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/badge.json
Labels: packages/components, packages/tokens

added component-level tokens to `Button` component
  packages/components/src/styles/components/form/file-input.scss
  packages/components/src/styles/mixins/_button.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/button/critical.json
  packages/tokens/src/products/shared/button/disabled.json
  packages/tokens/src/products/shared/button/index.json
  packages/tokens/src/products/shared/button/primary.json
  packages/tokens/src/products/shared/button/secondary.json
  packages/tokens/src/products/shared/button/tertiary.json
Labels: packages/components, packages/tokens

added component-level tokens to `BadgeCount` component
  packages/components/src/styles/components/badge-count.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/badge-count.json
Labels: packages/components, packages/tokens

enable logging
  packages/tokens/scripts/build.ts
Labels: packages/tokens

added expected CSS output files to use as model for the generation of output files
  packages/tokens/expected-CSS-output/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/expected-CSS-output/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/expected-CSS-output/products/css/themed-tokens-with-root-selector/common-tokens.css
  packages/tokens/expected-CSS-output/products/css/themed-tokens-with-root-selector/dark-tokens.css
  packages/tokens/expected-CSS-output/products/css/themed-tokens-with-root-selector/light-tokens.css
  packages/tokens/expected-CSS-output/products/css/tokens.css
Labels: packages/tokens

changed a few tokens to be composite (multiple entries under the same `value` key)
  packages/tokens/src/global/color/palette-accents.json
  packages/tokens/src/products/shared/form/base-elements.json
Labels: packages/tokens

fixed styling for differnet header combos
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

first attempt using a preprocessor
  packages/tokens/scripts/@types/Config.d.ts
  packages/tokens/scripts/build.ts
Labels: packages/tokens

adding keyboard nav support
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

fixing styling
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components
