Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

fix: enable acceptance test
  showcase/tests/acceptance/components/hds/advanced-table.js
Labels: showcase

chore: changeset
  .changeset/blue-suits-hide.md
Labels: none

chore: improve changeset
  .changeset/blue-suits-hide.md
Labels: none

fix: remove checks for aria-expanded mixed in integration tests
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

fix: a11y violations in showcase
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

chore: rename acceptance test file
  showcase/tests/acceptance/components/hds/advanced-table-test.js
Labels: showcase

Adding a voice and tone page
  website/docs/content/voice-tone/index.md
Labels: docs-website

Adding card illustration
  website/docs/content/voice-tone/index.md
  website/public/assets/illustrations/content/voice-and-tone.jpg
Labels: docs-website

Moving do-dont blocks into a the layout helper
  website/docs/content/voice-tone/index.md
Labels: docs-website

Adding salesy to the list of acceptable project words
  website/cspell-config/project-words.txt
Labels: none

compressed image assets
  website/public/assets/components/stepper/indicator/step-indicator-anatomy.png
  website/public/assets/components/stepper/indicator/step-noninteractive.png
  website/public/assets/components/stepper/indicator/stepper-step-states.png
  website/public/assets/components/stepper/indicator/stepper-task-states.png
  website/public/assets/components/stepper/indicator/task-indicator-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-description-do.png
  website/public/assets/components/stepper/list/stepper-list-description-dont.png
  website/public/assets/components/stepper/list/stepper-list-processing-status-errored.png
  website/public/assets/components/stepper/list/stepper-list-processing-status.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-do.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-dont.png
  website/public/assets/components/stepper/list/stepper-list-states.png
  website/public/assets/components/stepper/list/stepper-list.png
  website/public/assets/components/stepper/nav/stepper-nav-anatomy.png
  website/public/assets/components/stepper/nav/stepper-nav-arrow-key.png
  website/public/assets/components/stepper/nav/stepper-nav-description-do.png
  website/public/assets/components/stepper/nav/stepper-nav-description-dont.png
  website/public/assets/components/stepper/nav/stepper-nav-enter.png
  website/public/assets/components/stepper/nav/stepper-nav-focus-to-content.png
  website/public/assets/components/stepper/nav/stepper-nav-focus.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards-movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-matching-experiences.png
  website/public/assets/components/stepper/nav/stepper-nav-non-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-responsive-behavior.png
  website/public/assets/components/stepper/nav/stepper-nav-spacing-example.png
  website/public/assets/components/stepper/nav/stepper-nav-states.png
  website/public/assets/components/stepper/nav/stepper-navigation-spacing-example.png
  website/public/assets/components/table/advanced-table/advanced-table-horizontal-overflow.png
  website/public/assets/components/table/advanced-table/advanced-table-sticky-column.png
  website/public/assets/illustrations/components/stepper-indicator.jpg
  website/public/assets/illustrations/components/stepper-list.jpg
  website/public/assets/illustrations/components/stepper-nav.jpg
  website/public/assets/illustrations/layouts/flex.jpg
  website/public/assets/illustrations/layouts/grid.jpg
Labels: none

Compressed Image Assets (#2813)
  website/public/assets/components/stepper/indicator/step-indicator-anatomy.png
  website/public/assets/components/stepper/indicator/step-noninteractive.png
  website/public/assets/components/stepper/indicator/stepper-step-states.png
  website/public/assets/components/stepper/indicator/stepper-task-states.png
  website/public/assets/components/stepper/indicator/task-indicator-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-anatomy.png
  website/public/assets/components/stepper/list/stepper-list-description-do.png
  website/public/assets/components/stepper/list/stepper-list-description-dont.png
  website/public/assets/components/stepper/list/stepper-list-processing-status-errored.png
  website/public/assets/components/stepper/list/stepper-list-processing-status.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-do.png
  website/public/assets/components/stepper/list/stepper-list-progressive-disclosure-dont.png
  website/public/assets/components/stepper/list/stepper-list-states.png
  website/public/assets/components/stepper/list/stepper-list.png
  website/public/assets/components/stepper/nav/stepper-nav-anatomy.png
  website/public/assets/components/stepper/nav/stepper-nav-arrow-key.png
  website/public/assets/components/stepper/nav/stepper-nav-description-do.png
  website/public/assets/components/stepper/nav/stepper-nav-description-dont.png
  website/public/assets/components/stepper/nav/stepper-nav-enter.png
  website/public/assets/components/stepper/nav/stepper-nav-focus-to-content.png
  website/public/assets/components/stepper/nav/stepper-nav-focus.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-backwards-movement.png
  website/public/assets/components/stepper/nav/stepper-nav-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-matching-experiences.png
  website/public/assets/components/stepper/nav/stepper-nav-non-interactive-steps.png
  website/public/assets/components/stepper/nav/stepper-nav-responsive-behavior.png
  website/public/assets/components/stepper/nav/stepper-nav-spacing-example.png
  website/public/assets/components/stepper/nav/stepper-nav-states.png
  website/public/assets/components/stepper/nav/stepper-navigation-spacing-example.png
  website/public/assets/components/table/advanced-table/advanced-table-horizontal-overflow.png
  website/public/assets/components/table/advanced-table/advanced-table-sticky-column.png
  website/public/assets/illustrations/components/stepper-indicator.jpg
  website/public/assets/illustrations/components/stepper-list.jpg
  website/public/assets/illustrations/components/stepper-nav.jpg
  website/public/assets/illustrations/layouts/flex.jpg
  website/public/assets/illustrations/layouts/grid.jpg
Labels: none

Fix sidecar in website
  website/app/routes/show.js
Labels: none

Avoid effects in hds-tooltip modifier
  packages/components/src/modifiers/hds-tooltip.ts
Labels: packages/components

Update hds-tooltip.ts
  packages/components/src/modifiers/hds-tooltip.ts
Labels: packages/components

Update .changeset/blue-suits-hide.md
  .changeset/blue-suits-hide.md
Labels: none

Advanced Table: enable acceptance tests, resolve a11y violations (#2811)
  .changeset/blue-suits-hide.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/types.ts
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/acceptance/components/hds/advanced-table-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

Skip tests
  showcase/tests/integration/components/hds/tooltip/tooltip-button-test.js
Labels: showcase

fix: update files changelog automation missed
  packages/components/CHANGELOG.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

fix: add missing heading
  packages/components/CHANGELOG.md
Labels: packages/components

oops
  packages/components/CHANGELOG.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

do changeset right
  .changeset/good-jars-attend.md
Labels: none

fix: update files changelog automation missed (#2818)
  .changeset/good-jars-attend.md
Labels: none

Feat: Update focus ring colors in `CodeBlock` and `CodeEditor`
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/code-block/theme.scss
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

Feat: Update focus ring colors in `SideNav`
  packages/components/src/styles/components/side-nav/content.scss
  packages/components/src/styles/components/side-nav/toggle-button.scss
  packages/components/src/styles/components/side-nav/vars.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

Add changeset
  .changeset/little-sheep-shave.md
Labels: none

Fix: Use interactive dark theme mixin variables in `SideNav` variables
  packages/components/src/styles/components/side-nav/vars.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

Add `prettier-plugin-ember-template-tag` as workspaces devDep
  package.json
  pnpm-lock.yaml
Labels: none

Create plenty-seals-cough.md
  .changeset/plenty-seals-cough.md
Labels: none

fix: styling bugs with sticky column & scroll indicators
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

wip
  showcase/app/controllers/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

wip
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/components/hds/advanced-table/types.ts
Labels: packages/components

moved the `iFrame` with the AdvancedTable AppFrame demo in the “AdvancedTable” showcase page
  showcase/app/templates/components/advanced-table.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

moved the “overflow wrapping logic” from the AppFrame main container to a local wrapper of the GenericAdvancedTable demo component
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/styles/mock-components/app.scss
Labels: showcase

column headers also reorder
  showcase/app/controllers/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

wip
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
Labels: packages/components

added images and updated some words to match the updates coming for the super select.
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-after-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-before-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-dont-visually-heavy.png
  website/public/assets/components/form/super-select/super-select-flow-clear-selected.png
  website/public/assets/components/form/super-select/super-select-flow-select-all.png
  website/public/assets/components/form/super-select/super-select-list-width-auto.png
  website/public/assets/components/form/super-select/super-select-list-width-matching.png
  website/public/assets/components/form/super-select/super-select-multiple-variant-footer.png
  website/public/assets/components/form/super-select/super-select-multiple-variant.png
  website/public/assets/components/form/super-select/super-select-single-multiple-footer-custom-content.png
  website/public/assets/components/form/super-select/super-select-trigger-filled.png
Labels: docs-website

Update website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Update packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
