Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Convert `Form::Field` to TypeScript
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/types.ts
Labels: packages/components

Convert `Form::Label` to TypeScript
  packages/components/src/components/hds/form/label/index.hbs
  packages/components/src/components/hds/form/label/index.ts
Labels: packages/components

Fix linting error after prettier upgrade
  packages/components/src/components/hds/form/character-count/index.ts
  packages/components/src/components/hds/form/error/index.ts
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.ts
Labels: packages/components

Apply suggestions from code review
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Accordion enhancement documentation (#2209)
  website/app/styles/pages/components/accordion.scss
  website/docs/components/accordion/index.js
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
  website/public/assets/components/accordion/accordion-anatomy.png
  website/public/assets/components/accordion/accordion-card-type-example.png
  website/public/assets/components/accordion/accordion-flush-example.png
  website/public/assets/components/accordion/accordion-isStatic-example.png
  website/public/assets/components/accordion/accordion-isStatic-open-example.png
  website/public/assets/components/accordion/accordion-nesting-do.png
  website/public/assets/components/accordion/accordion-nesting-example-dont.png
  website/public/assets/components/accordion/accordion-nesting-example.png
  website/public/assets/components/accordion/accordion-patterns-collapse-all-dont.png
  website/public/assets/components/accordion/accordion-patterns-expand-collapse-all-labels.png
  website/public/assets/components/accordion/accordion-size-Dont.png
  website/public/assets/components/accordion/accordion-size-range.png
  website/public/assets/components/accordion/accordion-states-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open.png
  website/public/assets/components/accordion/accordion-states.png
Labels: docs-website

added the showcase page for hds::icon
  showcase/app/router.ts
  showcase/app/routes/components/icon.js
  showcase/app/styles/showcase-pages/icon.scss
  showcase/app/templates/components/icon.hbs
  showcase/app/templates/index.hbs
Labels: showcase

Addressing PR feedback
  packages/components/src/styles/components/icon.scss
Labels: packages/components

addressing PR feedback
  packages/components/src/components/hds/icon/index.ts
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: packages/components, showcase

Update NEW-COMPONENT-CHECKLIST.md
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

fixed way in which the `isOptional/isRequired` form primitive arguments are documented
  website/docs/components/form/primitives/partials/code/component-api.md
Labels: docs-website

added percy test
  showcase/tests/acceptance/percy-test.js
Labels: showcase

removed jsdoc comments from icon component
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

code style suggestions
  packages/components/src/components/hds/icon/index.ts
Labels: packages/components

Split `HdsFormLayouts` to Field and Fieldset
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/field/types.ts
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/components/hds/form/fieldset/types.ts
Labels: packages/components

Reorder class properties
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.ts
Labels: packages/components

Reference types instead of explicitly define them
  packages/components/src/components/hds/form/indicator/index.ts
  packages/components/src/components/hds/form/label/index.ts
  packages/components/src/components/hds/form/legend/index.ts
Labels: packages/components

Add changelog entry
  .changeset/real-ducks-tie.md
Labels: none

added duisplay test case for combo of stretched and isInline
  showcase/app/templates/components/icon.hbs
Labels: showcase

added return types to getters
  packages/components/src/components/hds/icon/index.ts
Labels: packages/components

replaced instances of `<Doc::ListContainer>` with simple `<ul>` HTML element
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: docs-website

removed `<Doc::ListContainer>` component (used only in a few places)
  website/app/components/doc/list-container.hbs
  website/tests/integration/components/doc/list-container-test.js
Labels: none

Create a new doc component test page to QA new showdown extension
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Token Preview Component
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Test FontHelpersList component
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Update regex to account for self-closing tags
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
Labels: none

Stub out Doc components remaining to test
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

New showdown extension
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
Labels: none

Test Form Filter Component
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Test Do/Don't component
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

More Doc Components
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Added Doc::LinkWithIcon to inline exclusions array
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Add an array for inline custom elements we would like to exclude
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
Labels: none

Add new extension to showdown config
  website/app/shared/showdown-config.js
Labels: none

Revert accidental standup report inclusion
  website/docs/testing/markdown/july-8-24.md
Labels: docs-website

lint
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/july-8-24.md
Labels: docs-website

More Doc Components
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Add Doc::ColorCard to test page
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

FormSelect FormSelectGroupType & IconsList
  website/docs/testing/markdown/doc-components.js
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

Doc placeholder component
  website/docs/testing/markdown/doc-components.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
