Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-3945 Add try catch for toIsoUtcString conversion
  packages/components/src/services/hds-time.js
Labels: packages/components

HDS-3945 Change tests to use toISOString to compare UTC values
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Add timezone to friendly local time
  packages/components/src/components/hds/time/types.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/services/types.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Replace type definition of displayInner with DisplayType
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 code clean up, spread attributes
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/range.ts
Labels: packages/components

HDS-3945 Fix test
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Refactor to create TimeSingle instead of TimeInner child component, code cleanup
  packages/components/package.json
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/inner.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/range.ts
  packages/components/src/components/hds/time/single.hbs
  packages/components/src/components/hds/time/single.ts
  packages/components/src/template-registry.ts
Labels: packages/components

HDS-3945 Added check for endDate >= to startDate for range, renamed register and unregister
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Clean up comments on helpers with examples
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
Labels: packages/components

Use `TaskGenerator` type
  packages/components/src/services/hds-time.ts
Labels: packages/components

HDS-3945 Remove disabling for type checking, fix type error with date
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/single.ts
Labels: packages/components

HDS-3945 Export defaultDisplayType
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/types.ts
Labels: packages/components

HDS-3945 Consolidate display type, delete unused types file
  packages/components/src/components/hds/time/single.ts
  packages/components/src/components/hds/time/types.ts
  packages/components/src/services/types.ts
Labels: packages/components

HDS-3945 Add tests for various date options
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

HDS-3945 Move actions below getters, refactor to remove type coersions, update return value
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-394 Fix Showcase to skip percy test in correct section
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Add integration tests for time helpers
  showcase/tests/integration/helpers/hds-format-date-test.js
  showcase/tests/integration/helpers/hds-format-relative-test.js
Labels: showcase

HDS-3945 Add time showcase to percy testing
  showcase/tests/acceptance/percy-test.js
Labels: showcase

HDS-3945 Replae const values for display and relative units with enumerations and update tests
  packages/components/src/services/hds-time.ts
  showcase/tests/integration/components/hds/time/index-test.js
  showcase/tests/unit/services/hds-time-test.js
Labels: packages/components, showcase

HDS-3945 Remove Time showcase page from list of pages Percy tests
  showcase/tests/acceptance/percy-test.js
Labels: showcase

HDS-3945 remove undefined from type definitions
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

Fix locale-related tests failing when not 'en-US'
  showcase/app/index.html
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Clean up
  showcase/tests/unit/services/hds-time-test.js
Labels: showcase

HDS-3945 Update tests to create expected date string from Date
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

HDS-3945 Update tests for near future relative dates to assert against T - 1, import time consts from service to use in calculations
  showcase/tests/integration/components/hds/time/index-test.js
Labels: showcase

Update showcase/app/index.html to remove extra closing html tag
  showcase/app/index.html
Labels: showcase

HDS-3945 remove assert.expect in tests
  showcase/tests/integration/helpers/hds-format-date-test.js
  showcase/tests/integration/helpers/hds-format-relative-test.js
Labels: showcase

HDS-3945 Remove undefined and change args to optional
  packages/components/src/components/hds/time/single.ts
Labels: packages/components

HDS-3945 Move ember-concurrency package to dependencies
  packages/components/package.json
Labels: packages/components

HDS-3945 Skip percy tests for section that continuously updates
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Remove Date type coercions, code clean up
  packages/components/src/components/hds/time/range.ts
Labels: packages/components

HDS-3945 Clean up Showcase
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Remove percy testing from Time Showcase page
  showcase/app/templates/components/time.hbs
Labels: showcase

HDS-3945 Add changelog
  .changeset/happy-readers-notice.md
Labels: none

HDS-3945 Clean up commented out lines, add example to Showcase using long paragraph
  packages/components/src/services/hds-time.ts
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Update type for display to be more explicit
  packages/components/src/components/hds/time/index.ts
Labels: packages/components

HDS-3945 Fix whitespace in components, add examples to Showcase
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/single.hbs
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

HDS-3945 Removed type coercion and made parameters optional
  packages/components/src/helpers/hds-format-relative.ts
  packages/components/src/services/hds-time-types.ts
Labels: packages/components

HDS-3945 Add unit tests for time service
  packages/components/src/services/hds-time.ts
  showcase/tests/unit/services/hds-time-test.js
Labels: packages/components, showcase

HDS-3945 Fix display of time range so it works the same when used without tooltip, add more examples to Showcase
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
