Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Switch to `codemirror` 6 via subpackages
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  yarn.lock
Labels: packages/components

changed title and description to yielded subcomponents
  packages/components/package.json
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/description.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
  packages/components/src/template-registry.ts
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

writing tests and cleaning up code
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/components/hds/code-editor/page.js
Labels: packages/components, showcase

copy button works
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

added examples to the showcase
  packages/components/src/components/hds/text/index.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

added javascript support
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/types/hds-code-editor.types.ts
Labels: packages/components

added examples to the showcase
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

updated highlighting
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/highlight-styles/hds-dark-highlight-style.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

rough version of fullscreen mode works
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/modifiers/hds-code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  packages/components/src/template-registry.ts
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: packages/components, showcase

calls the update function
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

can add new lines in the code editor
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

Generate `CodeEditor` component
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

adjusted styling and header composition to fit the new designs
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

fixed styling for differnet header combos
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

styling code editor
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/toolbar-button.hbs
  packages/components/src/components/hds/code-editor/toolbar-button.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor.scss
  packages/components/src/template-registry.ts
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, packages/tokens, showcase

Generate `hds-code-editor` modifier
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/template-registry.ts
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

added support for history
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
Labels: packages/tokens

adding keyboard nav support
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

Clean-up and lint
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

Theme
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor.scss
Labels: packages/components

added support for hcl
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/types/hds-code-editor.types.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  yarn.lock
Labels: packages/components, showcase

added customizable option for title tag
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
Labels: packages/components

updating active line styles
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

reduced header complexity
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

fixing linting issues
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/components/hds/code-editor/page.js
Labels: showcase

removed some visibility observers
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

added support for bracket matching
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

fixing tests
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase

updated the highlight style
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

improving keybopard navigation
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

fixing color variables
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
Labels: packages/components

cleaning up code for PR
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/components/hds/code-editor/page.js
Labels: packages/components, showcase

fixing color setup
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/semantic-code.json
Labels: packages/tokens

figured out padding for custom content
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

simplified html structure
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/styles/components/code-editor/index.scss
  showcase/app/templates/components/code-editor.hbs
Labels: packages/components, showcase

will only load once visible
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
Labels: packages/components

removed website updates
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/docs/components/code-editor/partials/version-history/4.15.0.md
Labels: docs-website

added a root margin to the loader intersection observer
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

using local colors
  packages/components/src/modifiers/hds-code-editor/highlight-styles/hds-dark-highlight-style.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

moved to local color definitions
  packages/components/package.json
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
