Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Upgrade `ember-focus-trap` to `1.1.0`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Upgrade `ember-keyboard` to `8.2.1`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Add changelog entries
  .changeset/dry-eels-pretend.md
  .changeset/pink-mayflies-speak.md
Labels: none

Upgrade `sass` to `1.69.5`
  packages/components/package.json
  yarn.lock
Labels: packages/components

remove @ember/render-modifiers resolution
  package.json
  yarn.lock
Labels: none

reverting colors
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

Upgrade `jest` to `29.7.0`
  packages/codemods/package.json
  yarn.lock
Labels: none

Upgrade `sinon` to `17.0.0`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Upgrade `ts-node` to `10.9.1`
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

Upgrade `archiver` to `6.0.1`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `@types/node` to `20.8.9`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Update yarn.lock
  yarn.lock
Labels: none

Upgrade `fs-extra` and `@types/fs-extra` to `11.x.x`
  packages/flight-icons/package.json
  packages/tokens/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens

Upgrade `cspell` to `7.3.8`
  website/package.json
  yarn.lock
Labels: none

Upgrade `qunit-dom` to `3.0.0`
  packages/components/package.json
  packages/ember-flight-icons/package.json
  website/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

Upgrade `jsdom` to `22.1.0`
  website/package.json
  yarn.lock
Labels: none

Upgrade `ember-math-helpers` to `3.0.0`
  website/package.json
  yarn.lock
Labels: none

Upgrade `@types/react` and `@types/react-dom`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `ember-concurrency` to `3.1.1`
  packages/components/package.json
  website/package.json
  yarn.lock
Labels: packages/components

Upgrade `@figma-export` dependencies to `4.7.0`
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons

Upgrade `typescript` to `5.2.2`
  packages/flight-icons/package.json
  packages/tokens/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens

exclude placeholder from checks for now
  packages/components/tests/acceptance/components/hds/side-nav-test.js
Labels: packages/components

skip dropdown test to debug instability issues
  packages/components/tests/acceptance/components/hds/dropdown-test.js
Labels: packages/components

linter
  packages/components/tests/acceptance/components/hds/dropdown-test.js
Labels: packages/components

Upgrade `ember-cached-decorator-polyfill` to `1.0.2`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Upgrade `ember-cli-babel` to `8.2.0`
  packages/components/package.json
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

Upgrade `ember-cli-sass` to `11.0.1`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Upgrade `ember-composable-helpers` to `5.0.0`
  packages/components/package.json
  yarn.lock
Labels: packages/components

Update yarn.lock
  yarn.lock
Labels: none

Add changelog entries
  .changeset/modern-monkeys-fold.md
  .changeset/popular-hornets-promise.md
Labels: none

skip dropdown test to debug instability issues (#1771)
  packages/components/tests/acceptance/components/hds/dropdown-test.js
Labels: packages/components

Acceptance test with a11y audit for side-nav component (#1695)
  packages/components/tests/acceptance/components/hds/side-nav-test.js
  packages/components/tests/dummy/app/components/shw/placeholder/index.js
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

yarn 4
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

rename our version command
  .github/workflows/release.yml
  package.json
Labels: none

rename release script for consistency
  .github/workflows/release.yml
  package.json
Labels: none

add linktoexternal support to breadcrumb
  packages/components/addon/components/hds/breadcrumb/item.hbs
Labels: packages/components

added missing CSS class
  packages/components/addon/components/hds/breadcrumb/item.hbs
Labels: packages/components

updates breadcrumb API docs
  website/docs/components/breadcrumb/partials/code/component-api.md
Labels: docs-website

changeset
  .changeset/nervous-boxes-vanish.md
Labels: none

update changelog entry to past tense
  .changeset/mighty-singers-prove.md
Labels: none

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
