Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*

Add indeterminate checkbox example
  website/docs/components/form/checkbox/partials/code/how-to-use.md
Labels: docs-website

WIP
  website/tests/acceptance/a11y-test.js
Labels: none

Add examples for selectable `ListItem`s
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

HDS-2277 Add header for lineWrapping option in Showcase
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2444 Add web docs for isTruncated
  website/app/styles/app.scss
  website/app/styles/pages/components/copy-snippet.scss
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

Fix `Table` content image and cleanup prose (#1588)
  website/docs/components/table/partials/content/icon-usage.md
  website/public/assets/components/table/longform-content-links.png
  website/public/assets/components/table/outlined-badge-within-table.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/form/checkbox/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

Fix mock state selector for `@isMultiline`
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
Labels: packages/components

HDS-2444 scope class by id and tweak naming
  website/app/styles/pages/components/copy-snippet.scss
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

HDS-2396 Simplify Showcase examples with different links in Description
  packages/components/tests/dummy/app/templates/components/alert.hbs
Labels: packages/components

HDS-2396 Add examples of different link content to Toast Showcase, fix capitalization
  packages/components/tests/dummy/app/templates/components/alert.hbs
  packages/components/tests/dummy/app/templates/components/toast.hbs
Labels: packages/components

Update .changeset/strange-horses-exercise.md
  .changeset/strange-horses-exercise.md
Labels: none

Updating and clarifying link guidelines
  website/docs/components/alert/partials/content/content.md
  website/public/assets/components/alert/standalone-link-inside-compact-alert.png
Labels: docs-website

sync & build of flight icons
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/aws-cdk-16.svg
  packages/flight-icons/svg-original/aws-cdk-24.svg
  packages/flight-icons/svg-original/aws-cdk-color-16.svg
  packages/flight-icons/svg-original/aws-cdk-color-24.svg
  packages/flight-icons/svg-original/twitter-16.svg
  packages/flight-icons/svg-original/twitter-24.svg
  packages/flight-icons/svg-original/twitter-color-16.svg
  packages/flight-icons/svg-original/twitter-color-24.svg
  packages/flight-icons/svg-react/aws-cdk-16.tsx
  packages/flight-icons/svg-react/aws-cdk-24.tsx
  packages/flight-icons/svg-react/aws-cdk-color-16.tsx
  packages/flight-icons/svg-react/aws-cdk-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/twitter-16.tsx
  packages/flight-icons/svg-react/twitter-24.tsx
  packages/flight-icons/svg-react/twitter-color-16.tsx
  packages/flight-icons/svg-react/twitter-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/aws-cdk-16.svg
  packages/flight-icons/svg/aws-cdk-24.svg
  packages/flight-icons/svg/aws-cdk-color-16.svg
  packages/flight-icons/svg/aws-cdk-color-24.svg
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/twitter-16.svg
  packages/flight-icons/svg/twitter-24.svg
  packages/flight-icons/svg/twitter-color-16.svg
  packages/flight-icons/svg/twitter-color-24.svg
Labels: packages/flight-icons

Addressing Kristin's grammatical suggestions
  website/docs/components/alert/partials/content/content.md
Labels: docs-website

HDS-2277 Set readOnly to true by default
  packages/components/addon/modifiers/hds-code-mirror.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

HDS-2277 Delete duplicate typescript version of file
  packages/components/addon/modifiers/hds-code-mirror.ts
Labels: packages/components

Apply suggestions from code review
  packages/components/addon/components/hds/code-block/index.js
Labels: packages/components

Create serious-fans-poke.md
  .changeset/serious-fans-poke.md
Labels: none

Apply suggestions from code review
  packages/flight-icons/catalog.json
Labels: packages/flight-icons

Apply suggestions from code review
  packages/flight-icons/catalog.json
Labels: packages/flight-icons

Update Reveal guidelines to link to the Accordion
  website/docs/components/reveal/partials/guidelines/guidelines.md
Labels: docs-website

Remove outer wrapper
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/app/styles/components/form/masked-input.scss
Labels: packages/components

Clarify `@width` when `hasCopyButton` is `true`
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: docs-website

Allow `CopyButton`'s `aria-label` text to be overridden
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/masked-input/base.js
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: docs-website, packages/components

Use `margin-left` instead of `grid-gap`
  packages/components/app/styles/components/form/masked-input.scss
Labels: packages/components

randomize flight export branch name
  .github/workflows/open-pull-request-for-icon-update.yml
Labels: none

Use `grid-template-areas`
  packages/components/app/styles/components/form/masked-input.scss
Labels: packages/components

Apply suggestions from code review
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

Removal of Image
  website/docs/components/copy/button/index.md
  website/public/assets/components/form/masked-input/masked-input-has-copy-button.png
Labels: docs-website

guidlines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/image.png
  website/public/assets/components/form/masked-input/masked-input-has-copy-button.png
Labels: docs-website

Update website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

Delete image.png
  website/docs/components/form/masked-input/partials/guidelines/image.png
Labels: docs-website

Apply suggestions from code review
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website
