Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

chore(showcase): run `pnpm lint format`
  showcase/app/index.html
  showcase/tests/index.html
Labels: showcase

feat(showcase): add modern `eslint` & `prettier`
  showcase/.template-lintrc.js
  showcase/config/deprecation-workflow.js
Labels: showcase

run blueprint
  packages/components/package.json
  pnpm-lock.yaml
  showcase/.ember-cli
  showcase/.template-lintrc.js
  showcase/app/app.ts
  showcase/app/controllers/application.js
  showcase/app/controllers/components.js
  showcase/app/controllers/components/code-block.js
  showcase/app/controllers/components/copy/button.js
  showcase/app/controllers/components/copy/snippet.js
  showcase/app/controllers/components/pagination.js
  showcase/app/controllers/components/tabs.js
  showcase/app/controllers/components/time.js
  showcase/app/controllers/utilities.js
  showcase/app/deprecation-workflow.ts
  showcase/app/index.html
  showcase/config/ember-cli-update.json
  showcase/config/ember-try.js
  showcase/config/targets.js
  showcase/package.json
  showcase/tests/index.html
Labels: packages/components, showcase

fix: downgrade '@ember/test-waiters'
  packages/components/package.json
  pnpm-lock.yaml
  showcase/package.json
Labels: packages/components, showcase

fix: website build
  website/app/components/dynamic-template.js
Labels: none

fix(showcase): move deprecation workflow config
  showcase/app/deprecation-workflow.ts
  showcase/config/deprecation-workflow.js
Labels: showcase

chore(components): remove `@glimmer/tracked”`
  packages/components/package.json
  pnpm-lock.yaml
Labels: packages/components

added `@breakpoint` argument and removed usage of `--hds-app-desktop-breakpoint` CSS variable and relied on `@breakpoint` argument for override of mobile breakpoint in `AppSideNav `
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/styles/components/app-side-nav/vars.scss
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

replaced custom breakpoint for `Stepper::Nav` component with standard `sm` breakpoint (using `hds-breakpoint` mixin)
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

changeset
  .changeset/red-rice-refuse.md
Labels: none

replaced custom breakpoint for `Pagination` component with standard `lg = 1088px` breakpoint (using `hds-breakpoint` mixin)
  packages/components/src/styles/components/pagination.scss
Labels: packages/components

removed usage of `--hds-app-desktop-breakpoint` CSS variable and relied on `@breakpoint` argument for override of mobile breakpoint in `AppHeader`
  packages/components/src/components/hds/app-header/index.ts
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

linked `lg` breakpoint value to `--hds-app-desktop-breakpoint` used in `SideNav`
  packages/components/src/styles/components/side-nav/vars.scss
Labels: packages/components

Foundations / Viewport breakpoints - Adoption in HDS (#2859)
  .changeset/red-rice-refuse.md
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/styles/components/app-side-nav/vars.scss
  packages/components/src/styles/components/pagination.scss
  packages/components/src/styles/components/side-nav/vars.scss
  packages/components/src/styles/components/stepper/nav.scss
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

Update guidelines.md
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

Website - `CodeBlock` height toggle docs (#2845)
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/public/assets/components/code-block/code-block-collapsed.png
  website/public/assets/components/code-block/code-block-expanded.png
Labels: docs-website

Update to diagram
  website/docs/foundations/colors/partials/guidelines/guidelines.md
  website/public/assets/foundations/color/colors-what-are-semantic-tokens.png
Labels: docs-website

chore: update docs site
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

chore: add test for @maxHeight argument
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: showcase

feat: add @maxHeight argument, update styles for the advanced table container
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

chore: update showcase examples
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/styles/mock-components/app.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

chore: add changeset
  .changeset/rotten-geese-swim.md
Labels: none

chore: lint
  packages/components/src/components/hds/advanced-table/index.ts
Labels: packages/components

fix: clarify wording
  website/docs/components/table/advanced-table/partials/code/component-api.md
Labels: docs-website

`HDS Docs` - Breakpoints (#2855)
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/foundations/breakpoints/index.md
  website/docs/foundations/breakpoints/partials/code/how-to-use.md
  website/docs/foundations/breakpoints/partials/guidelines/guidelines.md
  website/public/assets/foundations/breakpoints/breakpoints-card-designs-shfting.png
  website/public/assets/foundations/breakpoints/breakpoints-table-example.png
  website/public/assets/illustrations/foundations/breakpoints.jpg
Labels: docs-website

fix: cleanup showcase
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

Fix: `CodeBlock` guidelines height toggle revision
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

`AdvancedTable` - add `@maxHeight` argument and fix the container styles (#2865)
  .changeset/rotten-geese-swim.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/styles/mock-components/app.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

cleaned up PR for review
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

fixing nested rows
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

fix: tests for advanced table
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

Website - `CodeBlock` guidelines revision (#2874)
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

removed range slider styles
  packages/components/src/styles/components/form/index.scss
  packages/components/src/styles/components/form/range-slider.scss
Labels: packages/components

pr cleanup
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/components/hds/form/range-slider/base.hbs
  packages/components/src/components/hds/form/range-slider/base.ts
Labels: packages/components

New image for naming
  website/docs/foundations/colors/partials/guidelines/guidelines.md
  website/public/assets/foundations/color/colors-semantic-token-naming.png
Labels: docs-website

fixing build issues
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/template-registry.ts
Labels: packages/components

small tweaks to the headings in the `AdvancedTable` showcase page
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

Fix: Convert to ResizeObserver
  packages/components/src/components/hds/code-block/index.ts
Labels: packages/components

Added intro for element content
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

Text refinement
  website/docs/foundations/colors/partials/guidelines/guidelines.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
