Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

Update .changeset/beige-cups-raise.md
  .changeset/beige-cups-raise.md
Labels: none

Update .changeset/beige-cups-raise.md
  .changeset/beige-cups-raise.md
Labels: none

chore: update ember-style-modifier to a version that publishes types
  showcase/package.json
  yarn.lock
Labels: showcase

fix: type config in components package.json
  packages/components/package.json
Labels: packages/components

chore: use ember-source types
  showcase/package.json
  showcase/types/global.d.ts
  yarn.lock
Labels: showcase

refactor: put all component registry declarations in template-registry
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/src/helpers/hds-link-to-query.ts
  packages/components/src/template-registry.ts
  packages/components/src/types/global.d.ts
Labels: packages/components

chore: move development types to unpublished-development-types
  packages/components/src/types/global.d.ts
  packages/components/unpublished-development-types/@hashicorp/ember-flight-icons/flight-icon.d.ts
  packages/components/unpublished-development-types/global.d.ts
  packages/components/unpublished-development-types/index.d.ts
Labels: packages/components

chore: add registry types for ember style modifier
  packages/components/unpublished-development-types/global.d.ts
Labels: packages/components

refactor: convert Hds::Text to typescript
  packages/components/src/components/hds/text/index.ts
  packages/components/src/components/hds/text/types.ts
Labels: packages/components

refactor: convert Hds::Text::Display to typescript
  packages/components/src/components/hds/text/display.js
  packages/components/src/components/hds/text/display.ts
Labels: packages/components

refactor: convert Hds::Text::Code to typescript
  packages/components/src/components/hds/text/code.js
  packages/components/src/components/hds/text/code.ts
Labels: packages/components

refactor: convert Hds::Text::Body to typescript
  packages/components/src/components/hds/text/body.js
  packages/components/src/components/hds/text/body.ts
Labels: packages/components

chore: add changelog entry
  .changeset/stale-poets-applaud.md
Labels: none

chore: add template-registry entries for text components
  packages/components/src/template-registry.ts
Labels: packages/components

fix: add rollup-plugin-ts
  packages/components/package.json
  packages/components/rollup.config.mjs
  yarn.lock
Labels: packages/components

chore: update changelog entry
  .changeset/stale-poets-applaud.md
Labels: none

fix: Text should support any element tag
  packages/components/src/components/hds/text/index.ts
  packages/components/src/components/hds/text/types.ts
Labels: packages/components

fix: available size list should not contain reverse mappings from enum
  packages/components/src/components/hds/text/display.ts
  showcase/tests/integration/components/hds/text/display-test.js
Labels: packages/components, showcase

new addon blueprint
  packages/components/.eslintrc.js
  packages/components/babel.config.json
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/tsconfig.json
  yarn.lock
Labels: packages/components

add `decorator-transforms`
  packages/components/package.json
  yarn.lock
Labels: packages/components

HDS-3206 Add interpolation to Sass size variable
  packages/components/src/styles/components/flyout.scss
Labels: packages/components

setup embroider
  showcase/ember-cli-build.js
  showcase/package.json
Labels: showcase

HDS-3206 Add changeset
  .changeset/khaki-trees-sit.md
Labels: none

re-organized showcase index page to follow same order as website
  showcase/app/templates/index.hbs
Labels: showcase

Update .changeset/khaki-trees-sit.md
  .changeset/khaki-trees-sit.md
Labels: none

`Flyout`: Add interpolation to Sass size variable (HDS-3206) (#1994)
  .changeset/khaki-trees-sit.md
  packages/components/src/styles/components/flyout.scss
Labels: packages/components

Version Packages (#1996)
  .changeset/khaki-trees-sit.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website, packages/components

WIP Breadcrumb
  packages/components/src/components/hds/breadcrumb/truncation.hbs
  packages/components/src/styles/components/breadcrumb.scss
Labels: packages/components

WIP POPOVER
  packages/components/package.json
  packages/components/src/modifiers/hds-float-element.js
Labels: packages/components

WIP modifier linking anchor-floating
  packages/components/src/components/hds/menu-primitive-new/index.hbs
  packages/components/src/components/hds/menu-primitive-new/index.js
  packages/components/src/modifiers/hds-float-element.js
Labels: packages/components

added `@floating-ui/dom` as dependency
  packages/components/package.json
  yarn.lock
Labels: packages/components

WIP Dropdown
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/menu-primitive-new/index.hbs
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

WIP started to allow passing down configuration properties from components to modifier via primitive
  packages/components/src/components/hds/breadcrumb/truncation.hbs
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.js
  packages/components/src/components/hds/menu-primitive-new/index.hbs
  packages/components/src/components/hds/menu-primitive-new/index.js
  packages/components/src/modifiers/hds-float-element.js
Labels: packages/components

WIP MenuPrimitiveNew
  packages/components/package.json
  packages/components/src/components/hds/menu-primitive-new/index.hbs
  packages/components/src/components/hds/menu-primitive-new/index.js
  showcase/app/router.js
  showcase/app/styles/showcase-pages/menu-primitive.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/utilities/menu-primitive-new.hbs
Labels: packages/components, showcase

WIP Move modifier at `Dropdown`/`Breadcrum::Truncation` level + Deleted `MenuPrimitiveNew` primitive
  packages/components/package.json
  packages/components/src/components/hds/breadcrumb/truncation.hbs
  packages/components/src/components/hds/breadcrumb/truncation.js
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.js
  packages/components/src/components/hds/dropdown/toggle/button.hbs
  packages/components/src/components/hds/dropdown/toggle/button.js
  packages/components/src/components/hds/dropdown/toggle/icon.hbs
  packages/components/src/components/hds/menu-primitive-new/index.hbs
  packages/components/src/components/hds/menu-primitive-new/index.js
  showcase/app/router.js
  showcase/app/styles/showcase-pages/menu-primitive.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/utilities/menu-primitive-new.hbs
Labels: packages/components, showcase

WIP forward `@renderInElement` argument from `Dropdown` to `MenuPrimitive`
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.js
Labels: packages/components

updated position strategy logic for dropdown
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.js
Labels: packages/components

adedd a few more use cases to dropdown and modal showcase
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/modal.hbs
Labels: showcase

WIP extended MenuPrimitive component to support `#in-element` rendering of the content
  packages/components/src/components/hds/menu-primitive/index.hbs
  packages/components/src/components/hds/menu-primitive/index.js
Labels: packages/components

added use cases to showcase for MenuPrimitive to test rendering with `@renderInElement` (via `#in-element`)
  showcase/app/controllers/utilities/menu-primitive.js
  showcase/app/styles/showcase-pages/menu-primitive.scss
  showcase/app/templates/utilities/menu-primitive.hbs
Labels: showcase
