Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*

fixed a11y issue in showcase (“Scrollable region must have keyboard access”)
  showcase/app/templates/utilities/dialog-primitive.hbs
Labels: showcase

small tweaks to the showcase page for the “Modal” page
  showcase/app/styles/showcase-pages/modal.scss
  showcase/app/templates/components/modal.hbs
Labels: showcase

added handling of use case where the header is missing + added use cases to showcase
  packages/components/src/styles/components/dialog-primitive.scss
  showcase/app/templates/utilities/dialog-primitive.hbs
Labels: packages/components, showcase

changeset
  .changeset/pretty-timers-rhyme.md
Labels: none

added support for “added” status for the components
  website/app/components/doc/cards/card.hbs
  website/app/components/doc/table-of-contents/index.hbs
  website/app/controllers/show.js
  wiki/Website-Doc-folder.md
Labels: none

updated Component API documentation for `Flyout` and `Modal` subcomponents + added deprecation messages
  website/app/styles/doc-components/badge.scss
  website/docs/components/flyout/partials/code/component-api.md
  website/docs/components/modal/partials/code/component-api.md
Labels: docs-website

updated version number for updates to `Flyout` and `Modal` + added status update to `DialogPrimitive`
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.7.0.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.7.0.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/version-history/4.7.0.md
Labels: docs-website

added “Version history” tab to `Flyout` and `Modal`
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.6.0.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.6.0.md
Labels: docs-website

added “Version history” tab to `DialogPrimitive`
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/version-history/4.6.0.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/application-state/partials/code/component-api.md
  website/docs/components/flyout/partials/code/component-api.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/version-history/4.6.0.md
  website/docs/components/modal/partials/code/component-api.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/version-history/4.6.0.md
  website/docs/components/page-header/partials/code/component-api.md
  website/docs/components/segmented-group/partials/code/component-api.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/code/component-api.md
  website/docs/utilities/dialog-primitive/partials/guidelines/guidelines.md
Labels: docs-website

added `DialogPrimitive` to “related” components for `Flyout` and `Modal`
  website/docs/components/flyout/index.md
  website/docs/components/modal/index.md
Labels: docs-website

ported website documentation changes from previous implementation
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/accessibility/accessibility.md
  website/docs/utilities/dialog-primitive/partials/code/component-api.md
  website/docs/utilities/dialog-primitive/partials/code/how-to-use.md
  website/docs/utilities/dialog-primitive/partials/guidelines/guidelines.md
  website/docs/utilities/dialog-primitive/partials/guidelines/overview.md
  website/docs/utilities/dialog-primitive/partials/specifications/anatomy.md
  website/public/assets/components/dialog-primitives/dialog-primitive-non-modal-example.png
  website/public/assets/components/dialog-primitives/dialog-primitives-anatomy.png
  website/public/assets/components/dialog-primitives/dialog-primitives-footer-actions-one.png
  website/public/assets/components/dialog-primitives/dialog-primitives-footer-actions-three.png
  website/public/assets/components/dialog-primitives/dialog-primitives-footer-actions-two.png
  website/public/assets/components/dialog-primitives/dialog-primitives-header-icon-and-title-and-description.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-icon-and-title.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-tagline-and-icon-and-title.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-tagline-and-title.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-title-only-and-description.jpg
  website/public/assets/components/dialog-primitives/dialog-primitives-header-title-only.jpg
  website/public/assets/components/flyout/flyout-complex-actions.png
  website/public/assets/components/flyout/flyout-custom-content.png
  website/public/assets/components/flyout/flyout-focus-order-simple.png
  website/public/assets/components/flyout/flyout-sizes.png
  website/public/assets/components/flyout/flyout-with-code-snippet.png
  website/public/assets/components/flyout/flyout-with-complex-content.png
  website/public/assets/components/flyout/flyout-with-form.png
  website/public/assets/components/flyout/form-in-flyout.png
  website/public/assets/components/modal/modal-action-content-do.png
  website/public/assets/components/modal/modal-action-content-dont.png
  website/public/assets/components/modal/modal-anatomy.png
  website/public/assets/components/modal/modal-dismissal-actions.png
  website/public/assets/components/modal/modal-focus-order-complex.png
  website/public/assets/components/modal/modal-focus-order-simple.png
  website/public/assets/components/modal/modal-mobile-sizes.png
  website/public/assets/components/modal/modal-positioning.png
  website/public/assets/illustrations/utilities/dialog-primitive.jpg
  website/tests/acceptance/components/dialog-primitive.js
Labels: docs-website

feat: convert dialog primitive files to typescript
  packages/components/src/components/hds/dialog-primitive/body.hbs
  packages/components/src/components/hds/dialog-primitive/body.ts
  packages/components/src/components/hds/dialog-primitive/description.hbs
  packages/components/src/components/hds/dialog-primitive/description.ts
  packages/components/src/components/hds/dialog-primitive/footer.hbs
  packages/components/src/components/hds/dialog-primitive/footer.ts
  packages/components/src/components/hds/dialog-primitive/header.hbs
  packages/components/src/components/hds/dialog-primitive/header.ts
  packages/components/src/components/hds/dialog-primitive/overlay.hbs
  packages/components/src/components/hds/dialog-primitive/overlay.ts
  packages/components/src/components/hds/dialog-primitive/wrapper.hbs
  packages/components/src/components/hds/dialog-primitive/wrapper.ts
Labels: packages/components

chore: export ts components
  packages/components/src/components.ts
Labels: packages/components

fix: make footer onDismiss optional
  packages/components/src/components/hds/dialog-primitive/footer.ts
Labels: packages/components

fix: rename component exports
  packages/components/src/components.ts
Labels: packages/components

chore: update template registry
  packages/components/src/template-registry.ts
Labels: packages/components

chore: update changeset
  .changeset/young-beds-knock.md
Labels: none

chore: add changeset
  .changeset/young-beds-knock.md
Labels: none

fix: incorrect types
  packages/components/src/components/hds/dialog-primitive/footer.ts
  packages/components/src/components/hds/dialog-primitive/header.ts
Labels: packages/components

chore: update export files
  packages/components/src/components.ts
  packages/components/src/template-registry.ts
Labels: packages/components

feat: convert components to typescript
  packages/components/src/components/hds/modal/body.hbs
  packages/components/src/components/hds/modal/body.ts
  packages/components/src/components/hds/modal/footer.hbs
  packages/components/src/components/hds/modal/footer.ts
  packages/components/src/components/hds/modal/header.hbs
  packages/components/src/components/hds/modal/header.ts
  packages/components/src/components/hds/modal/index.hbs
  packages/components/src/components/hds/modal/index.ts
  packages/components/src/components/hds/modal/types.ts
Labels: packages/components

fix: trying diff function types
  packages/components/src/components/hds/modal/footer.ts
  packages/components/src/components/hds/modal/header.ts
  packages/components/src/components/hds/modal/index.ts
Labels: packages/components

fix: implement feedback
  packages/components/src/components/hds/modal/index.ts
Labels: packages/components

fix: use enum for SIZES, COLORS
  packages/components/src/components/hds/modal/index.ts
Labels: packages/components

fix: update function arg types
  packages/components/src/components/hds/modal/footer.ts
  packages/components/src/components/hds/modal/header.ts
  packages/components/src/components/hds/modal/index.ts
Labels: packages/components

chore: changeset
  .changeset/quick-flies-drop.md
Labels: none

fix: make ondismiss optional
  packages/components/src/components/hds/modal/footer.ts
Labels: packages/components

added border around markdown images in the root of the content
  website/app/styles/markdown/other-elements.scss
Labels: none

feat: convert flyout to TS
  packages/components/src/components.ts
  packages/components/src/components/hds/flyout/body.hbs
  packages/components/src/components/hds/flyout/body.ts
  packages/components/src/components/hds/flyout/description.hbs
  packages/components/src/components/hds/flyout/description.ts
  packages/components/src/components/hds/flyout/footer.hbs
  packages/components/src/components/hds/flyout/footer.ts
  packages/components/src/components/hds/flyout/header.hbs
  packages/components/src/components/hds/flyout/header.ts
  packages/components/src/components/hds/flyout/index.hbs
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/flyout/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

chore: add changeset
  .changeset/six-students-provide.md
Labels: none

fix: use textbody signature for description
  packages/components/src/components/hds/flyout/description.ts
Labels: packages/components

Update changelog-hds.cjs.js
  .changeset/changelog-hds.cjs.js
Labels: none

Updated export of icons from Figma (#2260)
  .changeset/flat-fireants-kneel.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/mongodb-16.svg
  packages/flight-icons/svg-original/mongodb-24.svg
  packages/flight-icons/svg-original/mongodb-color-16.svg
  packages/flight-icons/svg-original/mongodb-color-24.svg
  packages/flight-icons/svg-original/twilio-16.svg
  packages/flight-icons/svg-original/twilio-24.svg
  packages/flight-icons/svg-original/twilio-color-16.svg
  packages/flight-icons/svg-original/twilio-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/mongodb-16.tsx
  packages/flight-icons/svg-react/mongodb-24.tsx
  packages/flight-icons/svg-react/mongodb-color-16.tsx
  packages/flight-icons/svg-react/mongodb-color-24.tsx
  packages/flight-icons/svg-react/twilio-16.tsx
  packages/flight-icons/svg-react/twilio-24.tsx
  packages/flight-icons/svg-react/twilio-color-16.tsx
  packages/flight-icons/svg-react/twilio-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/mongodb-16.svg
  packages/flight-icons/svg/mongodb-24.svg
  packages/flight-icons/svg/mongodb-color-16.svg
  packages/flight-icons/svg/mongodb-color-24.svg
  packages/flight-icons/svg/twilio-16.svg
  packages/flight-icons/svg/twilio-24.svg
  packages/flight-icons/svg/twilio-color-16.svg
  packages/flight-icons/svg/twilio-color-24.svg
Labels: packages/flight-icons

Update guidelines.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

updated the sprite loader in ember-flight-icons to only run once
  packages/components/src/instance-initializers/load-sprite.ts
  packages/ember-flight-icons/src/instance-initializers/load-sprite.js
Labels: packages/components, packages/ember-flight-icons

load sprites if they have not been loaded in another initializer
  packages/components/addon-main.cjs
  packages/components/package.json
  packages/components/src/instance-initializers/load-sprite.ts
  yarn.lock
Labels: packages/components

Update changeset
  .changeset/fuzzy-suits-call.md
Labels: none

Updating changeset description
  .changeset/fuzzy-suits-call.md
Labels: none

added a changet
  .changeset/fuzzy-suits-call.md
Labels: none
