Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Update pull_request_template.md
  .github/pull_request_template.md
Labels: none

Updated test:a11y script
  packages/components/package.json
  packages/components/tests/integration/components/hds/alert/index-test.js
  packages/components/tests/test-helper.js
Labels: packages/components

Update NEW-COMPONENT-CHECKLIST.md
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

tidy up breadcrumb tests for a11yAudit
  packages/components/tests/integration/components/hds/breadcrumb/item-test.js
  packages/components/tests/integration/components/hds/breadcrumb/truncation-test.js
Labels: packages/components

Add test-is-flake for confirmed exceptions
  packages/components/tests/integration/components/hds/button/index-test.js
  packages/components/tests/test-helper.js
Labels: packages/components

tidied up disclosure-primitive tests for a11yAudit
  packages/components/tests/integration/components/hds/disclosure-primitive/index-test.js
Labels: packages/components

tidy up dropdown/listitem/checkbox test for a11yAudit
  packages/components/tests/integration/components/hds/dropdown/list-item/checkbox-test.js
Labels: packages/components

tidied up dropdown/list-item/copy-item for a11yAudit
  packages/components/tests/integration/components/hds/dropdown/list-item/copy-item-test.js
  packages/components/tests/test-helper.js
Labels: packages/components

tidied up dropdown/list-item/description test for a11yAudit
  packages/components/tests/integration/components/hds/dropdown/list-item/description-test.js
Labels: packages/components

tidied up dropdown/list-item child components for a11yAudit
  packages/components/tests/integration/components/hds/dropdown/list-item/generic-test.js
  packages/components/tests/integration/components/hds/dropdown/list-item/interactive-test.js
  packages/components/tests/integration/components/hds/dropdown/list-item/radio-test.js
  packages/components/tests/integration/components/hds/dropdown/list-item/title-test.js
Labels: packages/components

Updated links in form components to target validation tab
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
  website/docs/components/form/radio/partials/guidelines/guidelines.md
  website/docs/components/form/select/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/docs/components/form/toggle/partials/guidelines/guidelines.md
Labels: docs-website

Removing duplicative content in guidelines and adding direct links to validation tab
  website/docs/patterns/form-patterns/index.md
  website/docs/patterns/form-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/partials/guidelines/validation.md
Labels: docs-website

tidied up the interactive component tests for a11yAudit
  packages/components/tests/integration/components/hds/interactive/index-test.js
Labels: packages/components

tidied up link component tests for a11yAudit
  packages/components/tests/integration/components/hds/link/inline-test.js
  packages/components/tests/integration/components/hds/link/standalone-test.js
Labels: packages/components

tidied up menu-primitive component tests for a11yAudit
  packages/components/tests/integration/components/hds/menu-primitive/index-test.js
Labels: packages/components

tidied up reveal component test for a11yAudit
  packages/components/tests/integration/components/hds/reveal/index-test.js
Labels: packages/components

tidied up segmented-group component tests for a11yAudit
  packages/components/tests/integration/components/hds/segmented-group/index-test.js
  packages/components/tests/test-helper.js
Labels: packages/components

tidied up the th-sort component tests for a11yAudit
  packages/components/tests/integration/components/hds/table/th-sort-test.js
Labels: packages/components

HDS-2035 Delete commented out line, fix punctuation
  website/docs/components/accordion/index.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

tidied up form component tests for a11yAudit
  packages/components/tests/integration/components/hds/form/checkbox/base-test.js
  packages/components/tests/integration/components/hds/form/checkbox/field-test.js
  packages/components/tests/integration/components/hds/form/radio-card/group-test.js
  packages/components/tests/integration/components/hds/form/radio-card/index-test.js
  packages/components/tests/integration/components/hds/form/radio/base-test.js
  packages/components/tests/integration/components/hds/form/radio/field-test.js
  packages/components/tests/integration/components/hds/form/radio/group-test.js
  packages/components/tests/integration/components/hds/form/select/base-test.js
  packages/components/tests/integration/components/hds/form/select/field-test.js
  packages/components/tests/integration/components/hds/form/text-input/base-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  packages/components/tests/integration/components/hds/form/textarea/base-test.js
  packages/components/tests/integration/components/hds/form/textarea/field-test.js
  packages/components/tests/integration/components/hds/form/toggle/base-test.js
  packages/components/tests/integration/components/hds/form/toggle/field-test.js
Labels: packages/components

Update anatomy image
  website/public/assets/components/accordion/accordion-anatomy.png
Labels: none

Update guidelines based on the latest feedback
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Fix event name typo
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
Labels: docs-website

HDS-2034 change border to box-shadow
  packages/components/app/styles/components/accordion.scss
Labels: packages/components

HDS-2034 Add changeset
  .changeset/shiny-spiders-protect.md
Labels: none

Apply suggestions from code review
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/accordion/partials/code/component-api.md
Labels: docs-website

Clarifying icon usage in standalone link
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
Labels: docs-website

Updating docs based on feedback
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/public/assets/components/dropdown/dropdown-interactive-filter-do.png
  website/public/assets/components/dropdown/dropdown-interactive-filter-dont.png
  website/public/assets/components/dropdown/dropdown-listitem-types-selection.png
Labels: docs-website

HDS-2035 Update code tab content to add ariaLabel documentation, update interactive content examples
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
Labels: docs-website

Update dropdown documentation with new features details (#1363)
  website/app/styles/pages/components/dropdown.scss
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/guidelines/overview.md
  website/public/assets/components/dropdown/dropdown-example-do.png
  website/public/assets/components/dropdown/dropdown-example-dont.png
  website/public/assets/components/dropdown/dropdown-interactive-contextswitcher-do.png
  website/public/assets/components/dropdown/dropdown-interactive-filter-do.png
  website/public/assets/components/dropdown/dropdown-interactive-filter-dont.png
  website/public/assets/components/dropdown/dropdown-listitem-types-generic.png
  website/public/assets/components/dropdown/dropdown-listitem-types-interactive.png
  website/public/assets/components/dropdown/dropdown-listitem-types-noninteractive.png
  website/public/assets/components/dropdown/dropdown-listitem-types-selection.png
  website/public/assets/components/dropdown/dropdown-listitem-types.png
  website/public/assets/components/dropdown/dropdown-loading-do.png
  website/public/assets/components/dropdown/dropdown-loading-dont.png
  website/public/assets/components/dropdown/dropdown-placement.png
Labels: docs-website

Reorganized form pattern documentation
  website/docs/patterns/form-patterns/guidelines/index.md
  website/docs/patterns/form-patterns/guidelines/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/guidelines/partials/guidelines/overview.md
  website/docs/patterns/form-patterns/index.md
  website/docs/patterns/form-patterns/specifications/index.md
  website/docs/patterns/form-patterns/specifications/partials/specifications/anatomy.md
  website/docs/patterns/form-patterns/validation/index.md
  website/docs/patterns/form-patterns/validation/partials/validation/validation.md
Labels: docs-website

Updating images (placeholder)
  website/docs/patterns/form-patterns/guidelines/index.md
  website/docs/patterns/form-patterns/specifications/index.md
  website/docs/patterns/form-patterns/validation/index.md
Labels: docs-website

Reorg more
  website/docs/patterns/form-patterns/guidelines/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/layout/index.md
  website/docs/patterns/form-patterns/layout/partials/order-organization.md
  website/docs/patterns/form-patterns/layout/partials/overview.md
  website/docs/patterns/form-patterns/layout/partials/sizing.md
  website/docs/patterns/form-patterns/overview/index.md
  website/docs/patterns/form-patterns/overview/partials/guidelines.md
  website/docs/patterns/form-patterns/overview/partials/overview.md
  website/docs/patterns/form-patterns/specifications/index.md
  website/docs/patterns/form-patterns/specifications/partials/anatomy.md
  website/docs/patterns/form-patterns/specifications/partials/spacing.md
  website/docs/patterns/form-patterns/validation/index.md
  website/docs/patterns/form-patterns/validation/partials/validation.md
Labels: docs-website

Updated ordering
  website/docs/patterns/form-patterns/layout/index.md
  website/docs/patterns/form-patterns/overview/index.md
  website/docs/patterns/form-patterns/specifications/index.md
  website/docs/patterns/form-patterns/validation/index.md
Labels: docs-website

Add Form Validation Docs (#1462)
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
  website/docs/components/form/radio/partials/guidelines/guidelines.md
  website/docs/components/form/select/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/docs/components/form/toggle/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/index.md
  website/docs/patterns/form-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/partials/guidelines/validation.md
  website/docs/patterns/form-patterns/partials/validation/validation.md
  website/public/assets/patterns/form-patterns/delayed-validation-example.mp4
  website/public/assets/patterns/form-patterns/form-pattern-validation-form-level-error.png
  website/public/assets/patterns/form-patterns/form-pattern-validation-inline-error.png
  website/public/assets/patterns/form-patterns/validation-on-submit-example.mp4
Labels: docs-website

HDS-1357 Delete references and logic for status indicators
  website/app/components/doc/page/cover.hbs
  website/app/components/doc/page/cover.js
  website/docs/components/alert/index.md
  website/docs/components/application-state/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/button/index.md
  website/docs/components/card/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/icon-tile/index.md
  website/docs/components/link/inline/index.md
  website/docs/components/link/standalone/index.md
  website/docs/components/modal/index.md
  website/docs/components/reveal/index.md
  website/docs/components/separator/index.md
  website/docs/components/side-nav/index.md
  website/docs/components/stepper/index.md
  website/docs/components/table/index.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/toast/index.md
  website/docs/components/tooltip/index.md
  website/docs/layouts/app-frame/index.md
  website/docs/patterns/filter-patterns/index.md
  website/docs/patterns/form-patterns/index.md
Labels: docs-website

Update interactive content section
  website/docs/components/accordion/partials/guidelines/guidelines.md
Labels: docs-website

Re-organize states order
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/accordion/partials/specifications/states.md
  website/public/assets/components/accordion/toggle-content-interactive.png
Labels: docs-website

Re-size do/don't images
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/accordion/partials/specifications/states.md
  website/public/assets/components/accordion/usage-do-complex-1.png
  website/public/assets/components/accordion/usage-do-complex.png
  website/public/assets/components/accordion/usage-do-not.png
Labels: docs-website

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
