Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

updated showcase for `Copy::Button` to cover more use cases
  packages/components/tests/dummy/app/controllers/components/copy/button.js
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
Labels: packages/components

updated changeset per requirements
  .changeset/strong-bears-kick.md
Labels: none

updated `Modal` component to use the `Text` component
  packages/components/addon/components/hds/modal/header.hbs
Labels: packages/components

updated/fixed integration tests for `Copy::Button/Snippet`
  packages/components/package.json
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
  yarn.lock
Labels: packages/components

updated `Tag` component to use the `Text` component
  packages/components/addon/components/hds/tag/index.hbs
  packages/components/app/styles/components/tag.scss
Labels: packages/components

Update fixed/fluid CSS classes
  packages/components/addon/components/hds/form/radio-card/index.js
  packages/components/app/styles/components/form/radio-card.scss
  packages/components/tests/integration/components/hds/form/radio-card/index-test.js
Labels: packages/components

Update group test title
  packages/components/tests/integration/components/hds/form/radio-card/group-test.js
Labels: packages/components

updated showcase for `Dropdown` component
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
Labels: packages/components

changeset
  .changeset/fresh-oranges-add.md
Labels: none

Document layout and control position usage
  website/docs/components/form/radio-card/partials/code/how-to-use.md
Labels: docs-website

replaced `console.log` with Ember `warn`
  packages/components/addon/modifiers/hds-clipboard.js
Labels: packages/components

updated `ApplicationState` component to use the `Text` component
  packages/components/addon/components/hds/application-state/body.hbs
  packages/components/addon/components/hds/application-state/header.hbs
Labels: packages/components

Forward `@layout` argument from `RadioCard::Group` to `Fieldset`
  packages/components/addon/components/hds/form/radio-card/group.hbs
  packages/components/app/styles/components/form/group.scss
  packages/components/tests/integration/components/hds/form/radio-card/group-test.js
Labels: packages/components

fixed issue with Ember `warn` requiring an `ID` that was causing the tests to fail
  packages/components/addon/modifiers/hds-clipboard.js
Labels: packages/components

added “integration” + “unit” tests for the `hds-clipboard` modifier
  packages/components/tests/integration/modifiers/hds-clipboard-test.js
Labels: packages/components

Add example of vertical layout and fixed width
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
Labels: packages/components

Add level 2 separators
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
Labels: packages/components

updated `Flyout` component to use the `Text` component
  packages/components/addon/components/hds/flyout/description.hbs
  packages/components/addon/components/hds/flyout/header.hbs
  packages/components/app/styles/components/flyout.scss
Labels: packages/components

split the logic of `hds-clipboard` modifier so it’s easier to test
  packages/components/addon/modifiers/hds-clipboard.js
Labels: packages/components

changed default “color“ and “truncation” for `Dropdown::ListItem::CopyItem`
  packages/components/addon/components/hds/dropdown/list-item/copy-item.hbs
  packages/components/addon/components/hds/dropdown/list-item/copy-item.js
Labels: packages/components

updated `Stepper` component to use the `Text` component
  packages/components/addon/components/hds/stepper/step/indicator.hbs
  packages/components/app/styles/components/stepper/step-indicator.scss
Labels: packages/components

changeset
  .changeset/silver-dodos-retire.md
Labels: none

updated `Pagination` component to use the `Text` component
  packages/components/addon/components/hds/pagination/info/index.hbs
  packages/components/addon/components/hds/pagination/nav/arrow.hbs
  packages/components/addon/components/hds/pagination/nav/arrow.js
  packages/components/addon/components/hds/pagination/nav/number.hbs
  packages/components/addon/components/hds/pagination/nav/number.js
Labels: packages/components

updated website documentation for `Copy::Button/Snippet`
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
Labels: docs-website

updated `Accordion` component to use the `Text` component
  packages/components/addon/components/hds/accordion/item/index.hbs
Labels: packages/components

Add `RadioCard` layout docs (#1527)
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
Labels: docs-website

Install `ember-cli-typescript`
  packages/components/package.json
  packages/components/tests/dummy/app/config/environment.d.ts
  packages/components/tsconfig.json
  packages/components/types/global.d.ts
  yarn.lock
Labels: packages/components

updated “How to use” and “Component API” documentation for `Dropdown::ListItem::CopyItem`
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

changeset
  .changeset/little-ads-explain.md
Labels: none

Remove dummy changeset entry
  .changeset/neat-panthers-develop.md
Labels: none

Add signature and types for `button/index.js`
  packages/components/addon/components/hds/button/index.ts
Labels: packages/components

`button/index.js` → `button/index.ts`
  packages/components/addon/components/hds/button/index.ts
Labels: packages/components

Add Button to template registry
  packages/components/addon/template-registry.ts
Labels: packages/components

Add changelog entry
  .changeset/stale-hornets-worry.md
Labels: none

updated “Containers” demo in showcase for `Button` elements to follow the `Copy::Snippet` one
  packages/components/tests/dummy/app/styles/showcase-pages/button.scss
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

added a few clarifications to the changeset files
  .changeset/little-ads-explain.md
  .changeset/silver-dodos-retire.md
  .changeset/strange-birds-juggle.md
  .changeset/strong-bears-kick.md
Labels: none

added option to the `Shw::Grid::Item` to force a `min-width` value (instead of `auto`)
  packages/components/tests/dummy/app/components/shw/grid/item.js
  packages/components/tests/dummy/app/styles/showcase-components/grid.scss
Labels: packages/components

updated showcase for `Code::Snippet` to include “Containers” section
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

changed the way in which “truncation” is applied to the `Code::Snippet` content
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
Labels: packages/components

updated integration tests for `Copy::Snippet`
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
