Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Adding link to Figma file
  website/docs/components/app-footer/index.md
Labels: docs-website

HDS-2502 Document contextual child components
  website/docs/components/app-footer/partials/code/component-api.md
Labels: docs-website

HDS-2502 Delete irrelevant text
  website/docs/components/app-footer/partials/accessibility/accessibility.md
Labels: docs-website

Create app-footer.jpg
  website/public/assets/illustrations/components/app-footer.jpg
Labels: none

Apply suggestions from code review
  packages/components/app/styles/components/app-footer.scss
Labels: packages/components

Apply suggestions from code review
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/how-to-use.md
  website/docs/components/app-footer/partials/guidelines/guidelines.md
Labels: docs-website

HDS-2502 Add SideNav to related components list
  website/docs/components/app-footer/index.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/app-footer/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/app-footer/partials/guidelines/guidelines.md
Labels: docs-website

Apply suggestions from code review
  website/docs/components/app-footer/partials/code/how-to-use.md
Labels: docs-website

Setup local demo app
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/demo-app/index.scss
  packages/components/tests/dummy/app/templates/demo-app/index.hbs
  packages/components/tests/dummy/app/templates/demo-app/sub-page.hbs
Labels: packages/components

Enable `isCollapsible`
  packages/components/tests/dummy/app/templates/demo-app/index.hbs
  packages/components/tests/dummy/app/templates/demo-app/sub-page.hbs
Labels: packages/components

Remove `shw-` elements and overrides from `demo-app`
  packages/components/tests/dummy/app/styles/demo-app/index.scss
  packages/components/tests/dummy/app/templates/application.hbs
Labels: packages/components

HDS-2480 Add a11y acceptance test
  packages/components/tests/acceptance/components/hds/app-footer-test.js
Labels: packages/components

Update packages/components/tests/acceptance/components/hds/app-footer-test.js
  packages/components/tests/acceptance/components/hds/app-footer-test.js
Labels: packages/components

HDS-2480 Lighten background-color in Showcase placeholders to pass accessibility tests
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
Labels: packages/components

added `whats-new/release-notes` using the existing CHANGELOG content
  website/app/components/doc/page/sidebar.js
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/figma-libraries.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: docs-website

Adjust `TextInput` guidance on `@type`
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
Labels: docs-website

Add IDE setup info
  website/docs/getting-started/for-engineers.md
Labels: docs-website

Extract type number in infobox
  website/docs/components/form/text-input/partials/code/how-to-use.md
Labels: docs-website

updated tag CSS for WCAG conformance
  .changeset/neat-owls-rush.md
  packages/components/app/styles/components/tag.scss
Labels: packages/components

Remove url test from component acceptance test blueprint
  packages/components/blueprints/hds-component-test/files/tests/acceptance/components/hds/__name__.js
Labels: packages/components

added default background color for `Shw::Placeholder`
  packages/components/tests/dummy/app/styles/showcase-components/placeholder.scss
Labels: packages/components

removed `@background` argument for `Shw::Placeholder` when the color was the same as the default
  packages/components/tests/dummy/app/templates/components/accordion.hbs
  packages/components/tests/dummy/app/templates/components/alert.hbs
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
  packages/components/tests/dummy/app/templates/components/flyout.hbs
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
  packages/components/tests/dummy/app/templates/components/modal.hbs
  packages/components/tests/dummy/app/templates/components/reveal.hbs
  packages/components/tests/dummy/app/templates/components/tabs.hbs
  packages/components/tests/dummy/app/templates/components/toast.hbs
Labels: packages/components

replaced a couple of colors
  packages/components/tests/dummy/app/templates/utilities/disclosure-primitive.hbs
  packages/components/tests/dummy/app/templates/utilities/menu-primitive.hbs
Labels: packages/components

Update .changeset/neat-owls-rush.md
  .changeset/neat-owls-rush.md
Labels: none

updated Hds::Tag component's CSS for WCAG conformance (#1696)
  .changeset/neat-owls-rush.md
  packages/components/app/styles/components/tag.scss
Labels: packages/components

Apply suggestions from code review
  website/docs/getting-started/for-engineers.md
Labels: docs-website

updated integration tests for `Pagination::Compact`
  packages/components/tests/integration/components/hds/pagination/compact-test.js
Labels: packages/components

changeset
  .changeset/cyan-adults-laugh.md
Labels: none

updated the “How to use” section of the `Pagination` documentation
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: docs-website

added `showSizeSelector` to the `Pagination` Component API documentation + reordered some items
  website/docs/components/pagination/partials/code/component-api.md
Labels: docs-website

added `Pagination::sizeSelector` to `Pagination::Compact` (hidden by default)
  packages/components/addon/components/hds/pagination/compact/index.hbs
  packages/components/addon/components/hds/pagination/compact/index.js
Labels: packages/components

updated “Pagination” showcase to include use case where `SizeSelector` is visible for the `Pagination::Compact`
  packages/components/tests/dummy/app/templates/components/pagination.hbs
Labels: packages/components

[TEST] Visualizing Designs in Website
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/figma-libraries.md
Labels: docs-website

introduced way to notify nested tabs of updates on visibility and use it to fix issue with indicator not initialized for (hidden) nested tabs
  packages/components/addon/components/hds/tabs/index.hbs
  packages/components/addon/components/hds/tabs/index.js
  packages/components/addon/components/hds/tabs/panel.hbs
Labels: packages/components

improved handling of out-of-bound `this.selectedTabIndex`
  packages/components/addon/components/hds/tabs/index.js
Labels: packages/components

added some more complex examples of tabs in showcase
  packages/components/tests/dummy/app/controllers/components/tabs.js
  packages/components/tests/dummy/app/styles/_typography.scss
  packages/components/tests/dummy/app/styles/showcase-pages/tabs.scss
  packages/components/tests/dummy/app/templates/components/tabs.hbs
Labels: packages/components

fixed issue with `scrollIntoView` scrolling the page on page load
  packages/components/addon/components/hds/tabs/index.js
Labels: packages/components

refactored logic for `Tabs` component + `Tab/Panel` sub-components
  packages/components/addon/components/hds/tabs/index.hbs
  packages/components/addon/components/hds/tabs/index.js
  packages/components/addon/components/hds/tabs/panel.hbs
  packages/components/addon/components/hds/tabs/panel.js
  packages/components/addon/components/hds/tabs/tab.hbs
  packages/components/addon/components/hds/tabs/tab.js
Labels: packages/components

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
