Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

a11y changes
  packages/components/src/components/hds/code-editor/index.hbs
Labels: packages/components

Upgrade Ember to 5.12.0 in `components`
  packages/components/config/ember-cli-update.json
  packages/components/package.json
  showcase/tests/helpers/index.ts
  website/tests/helpers/index.js
  yarn.lock
Labels: packages/components, showcase

Upgrade Ember to 5.12.0 in `ember-flight-icons`
  packages/ember-flight-icons/config/ember-cli-update.json
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

Upgrade Ember to 5.12.0 in `showcase`
  showcase/config/ember-cli-update.json
  showcase/package.json
  yarn.lock
Labels: showcase

Upgrade Ember to 5.12.0 in `website`
  website/config/ember-cli-update.json
  website/package.json
  yarn.lock
Labels: none

Test
  showcase/app/styles/showcase-theming/dark.scss
Labels: showcase

Add changelog entry
  .changeset/curvy-colts-applaud.md
Labels: none

Remove ember-flight-icons from changelog entry
  .changeset/curvy-colts-applaud.md
Labels: none

added `build:watch` script to `tokens` package
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

updated `build` script to remove check on token category for `font-size` type
  packages/tokens/scripts/build.ts
Labels: packages/tokens

created folders for theming of colors
  packages/tokens/src/global/shared/color/semantic-border.json
  packages/tokens/src/global/shared/color/semantic-focus.json
  packages/tokens/src/global/shared/color/semantic-foreground.json
  packages/tokens/src/global/shared/color/semantic-page.json
  packages/tokens/src/global/shared/color/semantic-surface.json
  packages/tokens/src/global/shared/elevation/elevation.json
  packages/tokens/src/global/shared/elevation/surface.json
  packages/tokens/src/global/shared/elevation/values/base-level.json
  packages/tokens/src/global/shared/elevation/values/colors.json
  packages/tokens/src/global/shared/elevation/values/high-level.json
  packages/tokens/src/global/shared/elevation/values/higher-level.json
  packages/tokens/src/global/shared/elevation/values/inset-level.json
  packages/tokens/src/global/shared/elevation/values/low-level.json
  packages/tokens/src/global/shared/elevation/values/mid-level.json
  packages/tokens/src/global/shared/elevation/values/overlay-level.json
  packages/tokens/src/global/shared/focus-ring.json
  packages/tokens/src/global/themed/dark/color/palette-accents.json
  packages/tokens/src/global/themed/dark/color/palette-neutrals.json
  packages/tokens/src/global/themed/dark/color/palette-products.json
  packages/tokens/src/global/themed/light/color/palette-accents.json
  packages/tokens/src/global/themed/light/color/palette-neutrals.json
  packages/tokens/src/global/themed/light/color/palette-products.json
Labels: packages/tokens

updated source (themed) tokens to include a `theme` attribute
  packages/tokens/src/global/themed/dark/color/palette-accents.json
  packages/tokens/src/global/themed/dark/color/palette-neutrals.json
  packages/tokens/src/global/themed/dark/color/palette-products.json
  packages/tokens/src/global/themed/light/color/palette-accents.json
  packages/tokens/src/global/themed/light/color/palette-neutrals.json
  packages/tokens/src/global/themed/light/color/palette-products.json
Labels: packages/tokens

updated build script to include by default only the light theme files
  packages/tokens/scripts/build.ts
Labels: packages/tokens

found a scrappy but working way to generate themed CSS files
  packages/tokens/scripts/@types/Config.d.ts
  packages/tokens/scripts/build-parts/generateExtraThemingFiles.ts
  packages/tokens/scripts/build.ts
Labels: packages/tokens

generated CSS output files
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/common-tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/dark-tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/light-tokens.css
Labels: packages/tokens

cherry-pick commits from `spike-showcase-theming`
  showcase/app/components/shw/theme/switcher.gts
  showcase/app/controllers/foundations/theming.js
  showcase/app/index.html
  showcase/app/router.ts
  showcase/app/services/theming.js
  showcase/app/styles/_globals.scss
  showcase/app/styles/_tokens.scss
  showcase/app/styles/_typography.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/divider.scss
  showcase/app/styles/showcase-components/frame.scss
  showcase/app/styles/showcase-components/label.scss
  showcase/app/styles/showcase-components/placeholder.scss
  showcase/app/styles/showcase-components/theme-switcher.scss
  showcase/app/styles/showcase-pages/theming.scss
  showcase/app/styles/showcase-pages/typography.scss
  showcase/app/styles/showcase-theming/dark.scss
  showcase/app/styles/showcase-theming/light.scss
  showcase/app/templates/application.hbs
  showcase/app/templates/foundations/theming.hbs
  showcase/app/templates/index.hbs
  showcase/ember-cli-build.js
Labels: showcase

enable logging
  packages/tokens/scripts/build.ts
Labels: packages/tokens

renamed custom transform to avoid bug in SD
  packages/tokens/scripts/build.ts
Labels: packages/tokens

changed `design-system-components.scss` file imports structure so the common part can be re-used to generate themed files
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/@hashicorp/partials/design-system-components-common.scss
Labels: packages/components

added “themed” scss files
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-css-selectors.scss
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-prefers-color-scheme.scss
Labels: packages/components

tried to update the Rollup.js config to generate multiple CSS in output but it doesn’t work
  packages/components/rollup.config.mjs
Labels: packages/components

replaced core palettes (“neutral” and “accents”) values with Jory’s one in Figma
  packages/tokens/src/global/themed/dark/color/palette-accents.json
  packages/tokens/src/global/themed/dark/color/palette-neutrals.json
Labels: packages/tokens

added `outputReferences": true` to be able to use the themed tokens
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/common-tokens.css
  packages/tokens/scripts/build.ts
Labels: packages/tokens

regenerated design tokens output files to use dark colors from Figma
  packages/tokens/dist/products/css/themed-tokens-with-css-selectors/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-prefers-color-scheme/tokens.css
  packages/tokens/dist/products/css/themed-tokens-with-root-selector/dark-tokens.css
Labels: packages/tokens

workaround for Rollup not compiling distinct CSS in output
  packages/components/rollup.config.mjs
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-css-selectors.css
  packages/components/src/styles/@hashicorp/design-system-components--themed-with-prefers-color-scheme.css
  packages/components/src/styles/@hashicorp/design-system-components.scss
Labels: packages/components

TEMP local link to SD
  package.json
  packages/tokens/package.json
  yarn.lock
Labels: packages/tokens

removed neeed for “gap” token in Showcase
  showcase/app/styles/_tokens.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/flex.scss
  showcase/app/styles/showcase-components/grid.scss
Labels: showcase

added `hds-theming` service in HDS components
  packages/components/package.json
  packages/components/src/services.ts
  packages/components/src/services/hds-theming.ts
Labels: packages/components

refactored generation of extra theming files to have a unified output file (will be used for the showcase)
  packages/tokens/dist/products/css/themed-tokens/unified.css
  packages/tokens/dist/products/css/themed-tokens/with-css-selectors.css
  packages/tokens/dist/products/css/themed-tokens/with-prefers-color-scheme.css
  packages/tokens/dist/products/css/themed-tokens/with-root-selector/common-tokens.css
  packages/tokens/dist/products/css/themed-tokens/with-root-selector/dark-tokens.css
  packages/tokens/dist/products/css/themed-tokens/with-root-selector/light-tokens.css
  packages/tokens/scripts/build-parts/generateExtraThemingFiles.ts
  packages/tokens/scripts/build.ts
Labels: packages/tokens

updated imported file in HDS component for tokens, to use the “unified" one
  packages/components/src/styles/@hashicorp/design-system-components.scss
Labels: packages/components

changed theming switcher logic in the showcase
  showcase/app/components/shw/theme/switcher.gts
  showcase/app/index.html
  showcase/app/services/theming.js
  showcase/app/styles/showcase-theming/dark.scss
  showcase/app/styles/showcase-theming/light.scss
Labels: showcase

fixed showcase theming page
  showcase/app/controllers/foundations/theming.js
  showcase/app/templates/foundations/theming.hbs
Labels: showcase

removed unused CSS variables for Showcase
  showcase/app/styles/showcase-theming/dark.scss
  showcase/app/styles/showcase-theming/light.scss
Labels: showcase

simplified theming for showcase
  showcase/app/components/shw/theme/switcher.gts
  showcase/app/services/theming.js
Labels: showcase

implemented basic HDS switcher for testing
  packages/components/package.json
  packages/components/src/components/hds/theme-switcher/index.hbs
  packages/components/src/components/hds/theme-switcher/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

added `build:watch` command to scripts for `components` package
  packages/components/package.json
  yarn.lock
Labels: packages/components

HDS-4254 Hard code value of searchFieldPosition to before-options in Multiple SuperSelect, clean up Showcase
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

Shift node support to 18+
  packages/codemods/package.json
  packages/components/package.json
  packages/ember-flight-icons/README.md
  packages/ember-flight-icons/package.json
  showcase/package.json
  website/package.json
Labels: packages/components, packages/ember-flight-icons, showcase

Upgrade node version of CI workflows to 22.x
  .github/workflows/ci-components.yml
  .github/workflows/ci-compress-images.yml
  .github/workflows/ci-website.yml
  .github/workflows/open-pull-request-for-icon-update.yml
  .github/workflows/release.yml
Labels: none

HDS-4254 Add changeset
  .changeset/new-paws-cross.md
Labels: none

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
