Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens

Delete ci-components-nightly.yml
  .github/workflows/ci-components-nightly.yml
Labels: none

changeset
  .changeset/shy-bobcats-eat.md
Labels: none

Delete website/docs/updates/roadmap.md
  website/docs/updates/roadmap.md
Labels: docs-website

Rename `--hds-app-sidenav-border-radius`
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/app/styles/components/side-nav/vars.scss
Labels: packages/components

Add global keyboard shortcut to expand/collapse
  packages/components/addon/components/hds/side-nav/index.js
  packages/components/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components

Refactor `SideNav::ToggleButton`
  packages/components/addon/components/hds/side-nav/index.hbs
  packages/components/addon/components/hds/side-nav/toggle-button.hbs
  packages/components/app/components/hds/side-nav/toggle-button.js
  packages/components/app/styles/components/side-nav/index.scss
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/app/styles/components/side-nav/toggle-button.scss
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

Rename `hds-side-nav__menu-toggle-button` class
  packages/components/addon/components/hds/side-nav/index.hbs
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/tests/dummy/app/styles/showcase-pages/side-nav.scss
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  packages/components/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components

Highlight the reason for the box model change
  packages/components/app/styles/components/side-nav/main.scss
Labels: packages/components

Clarify arguments in backing class
  packages/components/addon/components/hds/side-nav/index.js
Labels: packages/components

Move some variable to tokens
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/app/styles/components/side-nav/vars.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/side-nav.json
Labels: packages/components, packages/tokens

Explicitly set transition properties
  packages/components/app/styles/components/side-nav/header.scss
Labels: packages/components

Adjust label in showcase
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

Remove unused property
  packages/components/app/styles/components/side-nav/toggle-button.scss
Labels: packages/components

Update changelog entry
  .changeset/two-pumas-deny.md
Labels: none

Add changelog entry
  .changeset/moody-bulldogs-battle.md
Labels: none

Updating imagery and beginning to add content around collapse
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/public/assets/components/side-nav/side-nav-anatomy.png
Labels: docs-website

Update website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

Updating imagery and adding example video
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
Labels: docs-website

Updating imagery and adding example video
  website/public/assets/components/side-nav/side-nav-anatomy.png
Labels: none

Update website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

Small grammatical update
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

Updating imagery and beginning to add content around collapse
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-collapse-interaction.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
Labels: docs-website

Updates based of feedback and cleanup
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
Labels: docs-website

Updated imagery
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
Labels: none

Updating prose to be more generic around reflow and resizing of the main page content
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

Fix `RadioCard` codemod
  packages/codemods/transforms/v3/radio-card/index.js
Labels: none

added codemod for `Hds::Sidenav`
  .gitignore
  packages/codemods/transforms/v3/side-nav/README.md
  packages/codemods/transforms/v3/side-nav/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v3/side-nav/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v3/side-nav/index.js
  packages/codemods/transforms/v3/side-nav/test.js
Labels: none

Update instructions for local usage
  packages/codemods/README.md
  packages/codemods/transforms/v3/dropdown/README.md
  packages/codemods/transforms/v3/masked-input/README.md
  packages/codemods/transforms/v3/radio-card/README.md
  packages/codemods/transforms/v3/side-nav/README.md
Labels: none

Fix codemod for `Hds::Sidenav`
  packages/codemods/transforms/v3/side-nav/index.js
Labels: none

Add additinal instructions for v3/radio-card codemod
  packages/codemods/transforms/v3/radio-card/README.md
Labels: none

Add transform docs links
  packages/codemods/README.md
Labels: none

add infra efficiency docs to wiki
  wiki/Infrastructure-Efficiency.md
Labels: none

Update Infrastructure-Efficiency.md
  wiki/Infrastructure-Efficiency.md
Labels: none

Emphasize `@ariaLabel` on `SideNav::Portal` must be unique
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

Update 'How to use' example
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

Update showcase to facilitate axe testing
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

added `aria-labelledby` to `CopyButton` in code snippet on websites
  website/app/components/doc/copy-button/index.hbs
  website/app/initializers/showdown-extensions.js
Labels: none

`Link::Standalone` – increase target size
  packages/components/app/styles/components/link/standalone.scss
Labels: packages/components

Add changelog entry
  .changeset/small-coats-return.md
Labels: none

Adding spacing recommendations to Standalone Link docs
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/public/assets/components/link/standalone/standalone-link-horizontal-list.png
  website/public/assets/components/link/standalone/standalone-link-vertical-list-dont.png
  website/public/assets/components/link/standalone/standalone-link-vertical-list.png
Labels: docs-website

.github/labeler.yml:

docs-website:
  - website/docs/**/*
packages/components:
  - packages/components/**/*
packages/ember-flight-icons:
  - packages/ember-flight-icons/**/*
packages/flight-icons:
  - packages/flight-icons/**/*
packages/tokens:
  - packages/tokens/**/*
