Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

HDS-4154 added toggle for PageHeader showcase outlines
  showcase/app/controllers/components/page-header.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/page-header.scss
  showcase/app/templates/components/page-header.hbs
  showcase/tests/acceptance/percy-test.js
Labels: showcase

HDS-4154 remove unneeded route from page header showcase
  showcase/app/controllers/components/page-header.js
Labels: showcase

Apply suggestions from code review
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Update guidelines.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

Update website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

`PageHeader` - Fix for extra spacing when no metadata present (#2581)
  .changeset/eighty-lobsters-brush.md
  packages/components/src/styles/components/page-header.scss
  showcase/app/controllers/components/page-header.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/page-header.scss
  showcase/app/templates/components/page-header.hbs
  showcase/tests/acceptance/percy-test.js
  website/docs/components/page-header/index.md
  website/docs/components/page-header/partials/version-history/4.15.0.md
Labels: docs-website, packages/components, showcase

now works with conditionals inside of the dropdown
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/inside-conditional.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/inside-conditional.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
Labels: none

added some comments to make things a bit easier to read
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
Labels: none

pr feedback
  .changeset/lucky-hotels-sell.md
  packages/codemods/README.md
Labels: none

HDS-2508 reverted private props name changes on mirrored public arg props
  packages/components/src/components/hds/form/masked-input/base.hbs
  packages/components/src/components/hds/form/masked-input/base.ts
  packages/components/src/components/hds/form/text-input/field.hbs
  packages/components/src/components/hds/form/text-input/field.ts
  packages/components/src/components/hds/pagination/compact/index.hbs
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/numbered/index.hbs
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/table/index.hbs
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.ts
Labels: packages/components

HDS-2508 reverting private props name changes on MenuPrimitive
  packages/components/src/components/hds/menu-primitive/index.hbs
  packages/components/src/components/hds/menu-primitive/index.ts
Labels: packages/components

HDS-2508 adding changeset
  .changeset/wicked-cheetahs-change.md
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.15.0.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/4.15.0.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/text-input/partials/version-history/4.15.0.md
  website/docs/components/icon/index.md
  website/docs/components/icon/partials/version-history/4.15.0.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.15.0.md
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/version-history/4.15.0.md
  website/docs/components/reveal/index.md
  website/docs/components/reveal/partials/version-history/4.15.0.md
  website/docs/components/table/partials/version-history/4.15.0.md
  website/docs/components/tabs/index.md
  website/docs/components/tabs/partials/version-history/4.15.0.md
Labels: docs-website

HDS-2508 adding changeset for first batch of private props updates
  .changeset/wicked-cheetahs-change.md
  website/docs/components/accordion/index.md
  website/docs/components/accordion/partials/version-history/4.15.0.md
  website/docs/components/alert/index.md
  website/docs/components/alert/partials/version-history/4.15.0.md
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/version-history/4.15.0.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/version-history/4.15.0.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/4.15.0.md
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/version-history/4.15.0.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/version-history/4.15.0.md
  website/docs/components/dropdown/partials/version-history/4.15.0.md
Labels: docs-website

compressed image assets
  website/public/assets/getting-started/designers/enable-libraries-icon.png
  website/public/assets/getting-started/designers/enable-libraries-menu.png
Labels: none

Compressed Image Assets (#2582)
  website/public/assets/getting-started/designers/enable-libraries-icon.png
  website/public/assets/getting-started/designers/enable-libraries-menu.png
Labels: none

renamed a section to 'writing guidelines' and updated contents to be specific to that. Added illustrations and content images
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-for-ui-copy/index.md
  website/docs/content/writing-guidelines/index.md
  website/public/assets/content/writing-guidelines/writing-guidelines-relative-dates-with-tooltip.png
  website/public/assets/illustrations/content/tone-and-voice.jpg
  website/public/assets/illustrations/content/writing-guidelines.jpg
Labels: docs-website

Updated some words on the voice and tone doc
  website/docs/content/voice-and-tone/index.md
Labels: docs-website

Update .changeset/lucky-hotels-sell.md
  .changeset/lucky-hotels-sell.md
Labels: none

Apply suggestions from code review
  website/docs/content/voice-and-tone/index.md
Labels: docs-website

HDS-2508 removed subcomponents from changeset note
  .changeset/wicked-cheetahs-change.md
Labels: none

HDS-2508 private props standardization on modifiers
  .changeset/violet-suns-scream.md
  packages/components/src/modifiers/hds-anchored-position.ts
  packages/components/src/modifiers/hds-register-event.ts
  packages/components/src/modifiers/hds-tooltip.ts
Labels: packages/components

HDS-4046 Update website body font
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
  website/app/styles/doc-components/badge.scss
  website/app/styles/doc-components/color-card.scss
  website/app/styles/doc-components/color-swatch.scss
  website/app/styles/doc-components/icons-list/index.scss
  website/app/styles/pages/about/principles.scss
  website/app/styles/pages/home.scss
  website/app/styles/typography/mixins.scss
Labels: none

added writing style, with images and the content
  website/docs/content/writing-style/index.md
  website/public/assets/content/writing-style/writing-style-capitlization-header-do.png
  website/public/assets/content/writing-style/writing-style-capitlization-header-dont.png
  website/public/assets/content/writing-style/writing-style-capitlization-input-do.png
  website/public/assets/content/writing-style/writing-style-capitlization-input-dont.png
  website/public/assets/content/writing-style/writing-style-capitlization-link-do.png
  website/public/assets/content/writing-style/writing-style-capitlization-link-dont.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-apply-dont.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-invite-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-save-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-menu-actions-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-menu-actions-dont.png
Labels: docs-website

updated docs based on everyone's feedback.
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-guidelines/index.md
  website/public/assets/components/time/time-tooltip.png
Labels: docs-website

Update ci-compress-images.yml
  .github/workflows/ci-compress-images.yml
Labels: none

Update website/docs/components/time/partials/code/how-to-use.md
  website/docs/components/time/partials/code/how-to-use.md
Labels: docs-website

HDS-2508 update changeset to remove reference to internal modifiers
  .changeset/violet-suns-scream.md
Labels: none

Updated a lot of the text from feedback from team.
  website/docs/content/voice-and-tone/index.md
  website/docs/content/writing-guidelines/index.md
  website/docs/content/writing-style/index.md
Labels: docs-website

Add `<select multiple>` examples to showcase
  showcase/app/templates/components/form/select.hbs
Labels: showcase

Dropdown Interactive Codemod Enhancements (#2575)
  .changeset/lucky-hotels-sell.md
  packages/codemods/README.md
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/inside-conditional.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/inside-conditional.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
Labels: none

Add `<select multiple>` examples to showcase
  showcase/app/templates/components/form/select.hbs
Labels: showcase

Update interaction status examples
  showcase/app/templates/components/form/select.hbs
Labels: showcase

updated another line of text from feedback
  website/docs/content/writing-guidelines/index.md
  website/public/assets/illustrations/content/writing-style.jpg
Labels: docs-website

Update showcase/app/templates/components/form/select.hbs
  showcase/app/templates/components/form/select.hbs
Labels: showcase

added supporting images and updated content to flow better
  website/docs/content/writing-style/index.md
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-add-remove-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-create-delete-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-action-object.png
  website/public/assets/content/writing-style/writing-style-punctuation-en-dashes.png
  website/public/assets/content/writing-style/writing-style-punctuation-percentage.png
Labels: docs-website

fixed formatting issues in writing guidelines
  website/docs/content/writing-guidelines/index.md
Labels: docs-website

Add `<select multiple>` examples to showcase (#2586)
  showcase/app/templates/components/form/select.hbs
Labels: showcase

HDS-3945 Remove spaces within tooltip date ranges
  packages/components/src/components/hds/time/index.ts
  showcase/tests/integration/components/hds/time/index-test.js
Labels: packages/components, showcase

Apply suggestions from code review
  website/docs/content/writing-style/index.md
Labels: docs-website

HDS-3945 Add components in exports, update luxon versioning
  packages/components/package.json
  packages/components/src/components.ts
  yarn.lock
Labels: packages/components

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
