Repository hashicorp/design-system, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-website, packages/components, packages/ember-flight-icons, packages/flight-icons, packages/tokens, showcase

Update silver-planes-occur.md
  .changeset/silver-planes-occur.md
Labels: none

HDS-3800 Add example of BackLink used in context to Showcase
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

`AppSideNav` - Web docs (HDS-3807) (#2410)
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/accessibility/accessibility.md
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/guidelines.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
  website/docs/components/app-side-nav/partials/specifications/anatomy.md
  website/docs/components/app-side-nav/partials/version-history/4.10.0.md
  website/public/assets/components/app-side-nav/app-side-nav-anatomy.png
  website/public/assets/components/app-side-nav/app-side-nav-collapse-interaction.png
  website/public/assets/components/app-side-nav/app-side-nav-overlay-small-viewport.png
  website/public/assets/components/app-side-nav/app-side-nav-position-and-responsive.png
  website/public/assets/components/app-side-nav/custom-content-body.png
  website/public/assets/components/app-side-nav/list-item-with-badge.png
  website/public/assets/components/app-side-nav/list-item-with-count.png
  website/public/assets/components/app-side-nav/list-item-with-external-link.png
  website/public/assets/components/app-side-nav/list-item-with-icon-do.png
  website/public/assets/components/app-side-nav/list-item-with-icon-dont.png
  website/public/assets/components/app-side-nav/list-item-with-icon.png
  website/public/assets/components/app-side-nav/list-item-with-nested-items.png
  website/public/assets/components/app-side-nav/list-item-without-icon.png
  website/public/assets/components/app-side-nav/responsiveness.png
  website/public/assets/components/app-side-nav/section-with-title.png
  website/public/assets/components/app-side-nav/section-without-title.png
  website/public/assets/illustrations/components/app-side-nav.jpg
  website/tests/acceptance/components/app-side-nav-test.js
Labels: docs-website

HDS-3800 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3800 Add changelog
  .changeset/silver-planes-occur.md
Labels: none

HDS-3800 Remove colored icons from framed example, remove typesafe disabling for entire template and instead add only where needed
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

HDS-3800 Delete TODO comment
  packages/components/src/components/hds/app-side-nav/list/link.ts
Labels: packages/components

`AppSideNav` - Remove named blocks (HDS-3924) (#2477)
  packages/components/package.json
  packages/components/src/components/hds/app-side-nav/base.hbs
  packages/components/src/components/hds/app-side-nav/base.ts
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/list/title.ts
  packages/components/src/styles/components/app-side-nav/content.scss
  packages/components/src/styles/components/app-side-nav/main.scss
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
  packages/components/src/styles/components/app-side-nav/vars.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/tests/integration/components/hds/app-side-nav/base-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
Labels: docs-website, packages/components, showcase

HDS-3800 Remove glint-expect-error
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

`AppSideNav` - Follow-on improvements for headers & aria (HDS-3897) (#2463)
  packages/components/src/components/hds/app-side-nav/base.hbs
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/list/index.hbs
  packages/components/src/components/hds/app-side-nav/list/index.ts
  packages/components/src/components/hds/app-side-nav/list/title.hbs
  packages/components/src/components/hds/app-side-nav/list/title.ts
  showcase/tests/acceptance/components/hds/app-side-nav-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

HDS-3800 Remove background-color from hds-app-side-nav__list-item-link
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Set negative tabindex for active Link
  packages/components/src/components/hds/app-side-nav/list/link.hbs
Labels: packages/components

HDS-3800 Clean up type definitions
  packages/components/src/components/hds/app-side-nav/base.ts
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

Update silver-planes-occur.md
  .changeset/silver-planes-occur.md
Labels: none

HDS-3800 Remove negative tabIndex
  packages/components/src/components/hds/app-side-nav/list/link.hbs
Labels: packages/components

HDS-3800 Regenerate design tokens in output
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
Labels: packages/tokens

HDS-3800 Remove iconColor option
  packages/components/src/components/hds/app-side-nav/list/link.hbs
  packages/components/src/components/hds/app-side-nav/list/link.ts
  showcase/app/templates/components/app-side-nav.hbs
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
Labels: packages/components, showcase

HDS-3800 Rename ariaLabel for toggle button for clarity
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

HDS-3800 Update design token value used by titles
  packages/tokens/src/products/shared/app-side-nav.json
Labels: packages/tokens

HDS-3800 Update comment
  packages/components/src/components/hds/app-side-nav/portal/target.ts
Labels: packages/components

HDS-3800 Fix incorrect class names
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

HDS-3800 Port fix for inert synchronization from SideNav
  packages/components/src/components/hds/app-side-nav/index.ts
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: packages/components, showcase

`AppSideNav` - Replace tracked variables from args (#2486)
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

HDS-3800 Refactor .active state styles to fix issue with link :active state
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

`AppSideNav` - Fix bug with scrolling caused by hidden panels (HDS-3892) (#2487)
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Remove uneeded id
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: showcase

HDS-3800 Add aria-current=page for active ListLink
  packages/components/src/components/hds/app-side-nav/list/link.hbs
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
Labels: packages/components, showcase

HDS-3800 Remove Component from names to match SideNav updates
  packages/components/src/components/hds/app-side-nav/base.ts
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/list/back-link.ts
  packages/components/src/components/hds/app-side-nav/list/index.ts
  packages/components/src/components/hds/app-side-nav/list/item.ts
  packages/components/src/components/hds/app-side-nav/list/link.ts
  packages/components/src/components/hds/app-side-nav/list/title.ts
  packages/components/src/components/hds/app-side-nav/toggle-button.ts
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: packages/components, showcase

HDS-3800 Update color used for border in design tokens, update related styles
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
  packages/tokens/src/products/shared/app-side-nav.json
Labels: packages/components, packages/tokens

HDS-3800 UPdate list item color
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

HDS-3800 Remove examples of nested BUttons & Dropdowns from Showcase as style overrides are no longer being applied
  showcase/app/templates/components/app-side-nav.hbs
Labels: showcase

HDS-3800 Improve toggle tab rounded corner rendering
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
Labels: packages/components

`SideNav` - Deprecate component (HDS-3848) (#2425)
  .changeset/seven-mugs-think.md
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
Labels: docs-website, packages/components

HDS-3800 export signature
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

HDS-3800 Add back missing line
  website/docs/components/side-nav/index.md
Labels: docs-website

Update website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/index.md
Labels: docs-website

HDS-3800 Update references to versioning
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/version-history/4.10.0.md
  website/docs/components/app-side-nav/partials/version-history/4.14.0.md
Labels: docs-website

HDS-3800 Revert SideNav deprecation
  .changeset/seven-mugs-think.md
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
Labels: docs-website, packages/components

HDS-3800 Remove link to deleted page
  website/docs/components/side-nav/index.md
Labels: docs-website

HDS-3800 De-link AppHeader and AppSideNav docs, add warning banners
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
Labels: docs-website

.github/labeler.yml:

docs-website:
  - changed-files:
    - any-glob-to-any-file:
      - website/docs/**/*
packages/components:
  - changed-files:
    - any-glob-to-any-file:
      - packages/components/**/*
packages/ember-flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ember-flight-icons/**/*
packages/flight-icons:
  - changed-files:
    - any-glob-to-any-file:
      - packages/flight-icons/**/*
packages/tokens:
  - changed-files:
    - any-glob-to-any-file:
      - packages/tokens/**/*
showcase:
  - changed-files:
    - any-glob-to-any-file:
      - showcase/**/*
