Repository hashicorp/design-system, pull requests merged in 2023-06, with the labels that each got.

#1407 update test helper config
  packages/components/tests/test-helper.js
Labels: internal, a11y

#1405 Reveal design guidelines
  website/docs/components/reveal/index.md
  website/docs/components/reveal/partials/guidelines/guidelines.md
  website/docs/components/reveal/partials/guidelines/overview.md
  website/docs/components/reveal/partials/specifications/anatomy.md
  website/docs/components/reveal/partials/specifications/states.md
  website/public/assets/components/reveal/content-type-do.png
  website/public/assets/components/reveal/content-type-dont.png
  website/public/assets/components/reveal/reveal-anatomy.png
  website/public/assets/components/reveal/reveal-states-open.png
  website/public/assets/components/reveal/reveal-states.png
  website/public/assets/components/reveal/spacing-guidance-section.png
  website/public/assets/components/reveal/spacing-guidance-single-element.png
  website/public/assets/components/reveal/spacing-guidance.png
  website/public/assets/components/reveal/toggle-text-do.png
  website/public/assets/components/reveal/toggle-text-dont.png
  website/public/assets/illustrations/components/reveal.jpg
Labels: docs-website

#1381 `Reveal` component (HDS-1911)
  .changeset/rude-trainers-flow.md
  packages/components/addon/components/hds/disclosure-primitive/index.js
  packages/components/addon/components/hds/reveal/index.hbs
  packages/components/addon/components/hds/reveal/index.js
  packages/components/addon/components/hds/reveal/toggle/button.hbs
  packages/components/addon/components/hds/reveal/toggle/button.js
  packages/components/app/components/hds/reveal/index.js
  packages/components/app/components/hds/reveal/toggle/button.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/reveal.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/reveal.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/reveal.scss
  packages/components/tests/dummy/app/templates/components/reveal.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/reveal/index-test.js
  website/docs/components/reveal/index.md
  website/docs/components/reveal/partials/accessibility/accessibility.md
  website/docs/components/reveal/partials/code/component-api.md
  website/docs/components/reveal/partials/code/how-to-use.md
  website/docs/components/reveal/partials/code/showcase.md
  website/docs/components/reveal/partials/guidelines/guidelines.md
  website/docs/components/reveal/partials/guidelines/overview.md
  website/docs/components/reveal/partials/specifications/anatomy.md
  website/docs/components/reveal/partials/specifications/states.md
  website/public/assets/components/reveal/content-type-do.png
  website/public/assets/components/reveal/content-type-dont.png
  website/public/assets/components/reveal/reveal-anatomy.png
  website/public/assets/components/reveal/reveal-states-open.png
  website/public/assets/components/reveal/reveal-states.png
  website/public/assets/components/reveal/spacing-guidance-section.png
  website/public/assets/components/reveal/spacing-guidance-single-element.png
  website/public/assets/components/reveal/spacing-guidance.png
  website/public/assets/components/reveal/toggle-text-do.png
  website/public/assets/components/reveal/toggle-text-dont.png
  website/public/assets/illustrations/components/reveal.jpg
Labels: packages/components, docs-website

#1412 Updated export of icons from Figma
  .changeset/slow-ducks-smell.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/ampersand-16.svg
  packages/flight-icons/svg-original/ampersand-24.svg
  packages/flight-icons/svg-original/check-diamond-24.svg
  packages/flight-icons/svg-original/diamond-24.svg
  packages/flight-icons/svg-original/docs-16.svg
  packages/flight-icons/svg-original/folder-star-16.svg
  packages/flight-icons/svg-original/hammer-16.svg
  packages/flight-icons/svg-original/layers-16.svg
  packages/flight-icons/svg-original/line-chart-24.svg
  packages/flight-icons/svg-original/message-circle-24.svg
  packages/flight-icons/svg-original/navigation-24.svg
  packages/flight-icons/svg-original/phone-16.svg
  packages/flight-icons/svg-original/phone-24.svg
  packages/flight-icons/svg-original/phone-call-16.svg
  packages/flight-icons/svg-original/phone-call-24.svg
  packages/flight-icons/svg-original/rewind-24.svg
  packages/flight-icons/svg-original/star-24.svg
  packages/flight-icons/svg-original/swap-horizontal-16.svg
  packages/flight-icons/svg-original/vault-16.svg
  packages/flight-icons/svg-original/vault-24.svg
  packages/flight-icons/svg-original/vault-color-16.svg
  packages/flight-icons/svg-original/vault-color-24.svg
  packages/flight-icons/svg-original/wand-24.svg
  packages/flight-icons/svg-original/x-diamond-24.svg
  packages/flight-icons/svg-react/ampersand-16.tsx
  packages/flight-icons/svg-react/ampersand-24.tsx
  packages/flight-icons/svg-react/diamond-24.tsx
  packages/flight-icons/svg-react/folder-star-16.tsx
  packages/flight-icons/svg-react/hammer-16.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/layers-16.tsx
  packages/flight-icons/svg-react/message-circle-24.tsx
  packages/flight-icons/svg-react/phone-16.tsx
  packages/flight-icons/svg-react/phone-24.tsx
  packages/flight-icons/svg-react/phone-call-16.tsx
  packages/flight-icons/svg-react/phone-call-24.tsx
  packages/flight-icons/svg-react/star-24.tsx
  packages/flight-icons/svg-react/swap-horizontal-16.tsx
  packages/flight-icons/svg-react/wand-24.tsx
  packages/flight-icons/svg-react/x-diamond-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/ampersand-16.svg
  packages/flight-icons/svg/ampersand-24.svg
  packages/flight-icons/svg/animation.css
  packages/flight-icons/svg/diamond-24.svg
  packages/flight-icons/svg/folder-star-16.svg
  packages/flight-icons/svg/hammer-16.svg
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/layers-16.svg
  packages/flight-icons/svg/message-circle-24.svg
  packages/flight-icons/svg/phone-16.svg
  packages/flight-icons/svg/phone-24.svg
  packages/flight-icons/svg/phone-call-16.svg
  packages/flight-icons/svg/phone-call-24.svg
  packages/flight-icons/svg/star-24.svg
  packages/flight-icons/svg/swap-horizontal-16.svg
  packages/flight-icons/svg/wand-24.svg
  packages/flight-icons/svg/x-diamond-24.svg
Labels: packages/flight-icons

#1413 Version Packages
  .changeset/rude-trainers-flow.md
  .changeset/slow-ducks-smell.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/components

#1414 Updates test for a11y
  packages/components/tests/integration/components/hds/table/th-test.js
Labels: packages/components

#1415 `Hds::Table` - Improve columns `@width` handling and documentation
  .changeset/orange-crews-applaud.md
  packages/components/addon/components/hds/table/th-sort.hbs
  packages/components/addon/components/hds/table/th.hbs
  packages/components/tests/dummy/app/routes/components/table.js
  packages/components/tests/dummy/app/styles/showcase-pages/table.scss
  packages/components/tests/dummy/app/templates/components/table.hbs
  packages/components/tests/dummy/public/api/mock-many-columns.json
  packages/components/tests/integration/components/hds/table/th-sort-test.js
  packages/components/tests/integration/components/hds/table/th-test.js
  website/app/styles/pages/components/table.scss
  website/docs/components/table/index.js
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1393 Add `Separator` component
  .changeset/moody-donkeys-rule.md
  packages/components/addon/components/hds/separator/index.hbs
  packages/components/addon/components/hds/separator/index.js
  packages/components/app/components/hds/separator/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/separator.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/separator.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/separator.scss
  packages/components/tests/dummy/app/templates/components/separator.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/separator/index-test.js
  website/docs/components/separator/index.md
  website/docs/components/separator/partials/accessibility/accessibility.md
  website/docs/components/separator/partials/code/component-api.md
  website/docs/components/separator/partials/code/how-to-use.md
  website/docs/components/separator/partials/code/showcase.md
  website/docs/components/separator/partials/guidelines/guidelines.md
  website/docs/components/separator/partials/guidelines/overview.md
  website/public/assets/components/separator/separator-do.png
  website/public/assets/components/separator/separator-dont.png
  website/public/assets/illustrations/components/separator.jpg
Labels: packages/components, docs-website

#1422 Add copyright headers to "flight icons" output files generators
  packages/flight-icons/scripts/build-parts/generateBundleSVG.ts
  packages/flight-icons/scripts/build-parts/generateBundleSVGSprite.ts
  packages/flight-icons/scripts/build-parts/getCssForIconAnimation.ts
  packages/flight-icons/svg-react/animation.css
Labels: packages/flight-icons

#1420 Fix color for connection-gateway icon
  .changeset/late-pumas-listen.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/connection-gateway-16.svg
  packages/flight-icons/svg-react/connection-gateway-16.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/connection-gateway-16.svg
Labels: packages/flight-icons

#1402 Add `PageHeader` Docs
  website/docs/components/page-header/index.md
  website/docs/components/page-header/partials/accessibility/accessibility.md
  website/docs/components/page-header/partials/code/component-api.md
  website/docs/components/page-header/partials/code/how-to-use.md
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/guidelines/overview.md
  website/docs/components/page-header/partials/specifications/anatomy.md
  website/public/assets/components/page-header/page-header-actions-do-primary-dropdown.png
  website/public/assets/components/page-header/page-header-actions-dont-primary-dropdown.png
  website/public/assets/components/page-header/page-header-actions-tertiary-button.png
  website/public/assets/components/page-header/page-header-actions.png
  website/public/assets/components/page-header/page-header-anatomy.png
  website/public/assets/components/page-header/page-header-badges-do-metadata.png
  website/public/assets/components/page-header/page-header-badges-dont-many-badges.png
  website/public/assets/components/page-header/page-header-badges.png
  website/public/assets/components/page-header/page-header-breadcrumb.png
  website/public/assets/components/page-header/page-header-custom-metadata-dont.png
  website/public/assets/components/page-header/page-header-custom-metadata-example.png
  website/public/assets/components/page-header/page-header-custom-metadata.png
  website/public/assets/components/page-header/page-header-description-dont-long-form.png
  website/public/assets/components/page-header/page-header-description.png
  website/public/assets/components/page-header/page-header-dont-two-actions.png
  website/public/assets/components/page-header/page-header-icon-tile.png
  website/public/assets/components/page-header/page-header-size-large.png
  website/public/assets/components/page-header/page-header-size-small.png
  website/public/assets/components/page-header/page-header-subtitle-dont-full-sentence.png
  website/public/assets/components/page-header/page-header-subtitle.png
  website/public/assets/illustrations/components/page-header.jpg
Labels: docs-website

#1377 Add `PageHeader` Component
  .changeset/light-seas-exercise.md
  packages/components/addon/components/hds/page-header/actions.hbs
  packages/components/addon/components/hds/page-header/badges.hbs
  packages/components/addon/components/hds/page-header/description.hbs
  packages/components/addon/components/hds/page-header/index.hbs
  packages/components/addon/components/hds/page-header/subtitle.hbs
  packages/components/addon/components/hds/page-header/title.hbs
  packages/components/app/components/hds/page-header/actions.js
  packages/components/app/components/hds/page-header/badges.js
  packages/components/app/components/hds/page-header/description.js
  packages/components/app/components/hds/page-header/index.js
  packages/components/app/components/hds/page-header/subtitle.js
  packages/components/app/components/hds/page-header/title.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/page-header.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/page-header.js
  packages/components/tests/dummy/app/templates/components/page-header.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/page-header/index-test.js
  website/docs/components/page-header/index.md
  website/docs/components/page-header/partials/accessibility/accessibility.md
  website/docs/components/page-header/partials/code/component-api.md
  website/docs/components/page-header/partials/code/how-to-use.md
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/guidelines/overview.md
  website/docs/components/page-header/partials/specifications/anatomy.md
  website/public/assets/components/page-header/page-header-actions-do-primary-dropdown.png
  website/public/assets/components/page-header/page-header-actions-dont-primary-dropdown.png
  website/public/assets/components/page-header/page-header-actions-tertiary-button.png
  website/public/assets/components/page-header/page-header-actions.png
  website/public/assets/components/page-header/page-header-anatomy.png
  website/public/assets/components/page-header/page-header-badges-do-metadata.png
  website/public/assets/components/page-header/page-header-badges-dont-many-badges.png
  website/public/assets/components/page-header/page-header-badges.png
  website/public/assets/components/page-header/page-header-breadcrumb.png
  website/public/assets/components/page-header/page-header-custom-metadata-dont.png
  website/public/assets/components/page-header/page-header-custom-metadata-example.png
  website/public/assets/components/page-header/page-header-custom-metadata.png
  website/public/assets/components/page-header/page-header-description-dont-long-form.png
  website/public/assets/components/page-header/page-header-description.png
  website/public/assets/components/page-header/page-header-dont-two-actions.png
  website/public/assets/components/page-header/page-header-icon-tile.png
  website/public/assets/components/page-header/page-header-size-large.png
  website/public/assets/components/page-header/page-header-size-small.png
  website/public/assets/components/page-header/page-header-subtitle-dont-full-sentence.png
  website/public/assets/components/page-header/page-header-subtitle.png
  website/public/assets/illustrations/components/page-header.jpg
Labels: packages/components, docs-website

#1418 Version Packages
  .changeset/brown-jeans-mix.md
  .changeset/late-pumas-listen.md
  .changeset/light-seas-exercise.md
  .changeset/moody-donkeys-rule.md
  .changeset/orange-crews-applaud.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/components

#1424 `Icon` web doc improvements (HDS-2092)
  website/app/styles/app.scss
  website/app/styles/pages/foundations/icon.scss
  website/docs/icons/usage-guidelines/partials/code/component-api.md
  website/docs/icons/usage-guidelines/partials/code/how-to-use.md
Labels: docs-website

#1426 Some alert/toast action style tweaks
  .changeset/proud-mangos-fry.md
  packages/components/app/styles/components/alert.scss
  packages/components/app/styles/components/link/standalone.scss
Labels: packages/components

#1425 `Table` - Set `min-height` instead of `height` for the table head cells + fix cells vertical padding
  .changeset/lemon-camels-poke.md
  packages/components/app/styles/components/table.scss
Labels: packages/components

#1427 Disable the "minifyCSS" advanced option in the “components” package
  packages/components/ember-cli-build.js
Labels: packages/components

#1437 Updating contextual examples of `Link::Inline`
  website/docs/components/link/inline/index.md
  website/docs/components/link/inline/partials/code/how-to-use.md
Labels: docs-website

#1434 Remove the "style" attribute on `<body>` when no styles are presented
  .changeset/thin-ants-crash.md
  packages/components/addon/components/hds/flyout/index.js
  packages/components/addon/components/hds/modal/index.js
Labels: packages/components

#1431 Browser support matrix - Updated `targets.js` files in the monorepo
  packages/components/tests/dummy/config/targets.js
  packages/ember-flight-icons/tests/dummy/config/targets.js
  website/config/targets.js
Labels: packages/components, packages/ember-flight-icons

#1432 Browser support matrix - Added browser support table to “Getting started / For engineers"
  website/docs/getting-started/for-engineers.md
Labels: docs-website

#1428 Add `robot` icon for Service Principals
  .changeset/polite-dolphins-reply.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/robot-16.svg
  packages/flight-icons/svg-original/robot-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/robot-16.tsx
  packages/flight-icons/svg-react/robot-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/robot-16.svg
  packages/flight-icons/svg/robot-24.svg
Labels: packages/flight-icons

#1439 Percy tests - Added `Tooltip`
  packages/components/tests/acceptance/percy-test.js
Labels: packages/components

#1395 Upgrade Ember to 4.12
  .changeset/happy-bears-judge.md
  .github/workflows/ci-components.yml
  package.json
  packages/components/README.md
  packages/components/config/ember-try.js
  packages/components/package.json
  packages/components/tests/dummy/config/ember-cli-update.json
  packages/ember-flight-icons/README.md
  packages/ember-flight-icons/config/ember-try.js
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/tests/dummy/config/ember-cli-update.json
  packages/flight-icons/package.json
  packages/tokens/package.json
  website/config/ember-cli-update.json
  website/package.json
  yarn.lock
Labels: packages/flight-icons, dependencies, packages/tokens, packages/components, packages/ember-flight-icons

#1440 Update Flight icons CONTRIBUTING.md
  packages/flight-icons/CONTRIBUTING.md
Labels: packages/flight-icons

#1444 Accessibility fixes for certain versions of dropdown component
  .changeset/early-emus-attack.md
  packages/components/addon/components/hds/dropdown/list-item/checkmark.hbs
  packages/components/addon/components/hds/dropdown/list-item/separator.hbs
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
  packages/components/tests/integration/components/hds/dropdown/list-item/separator-test.js
Labels: packages/components

#1442 Alert docs update
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/toast/partials/guidelines/guidelines.md
Labels: docs-website

#1447 remove reference to bot we no longer use
  packages/flight-icons/CONTRIBUTING.md
Labels: packages/flight-icons

#1436 Version Packages
  .changeset/calm-chairs-nail.md
  .changeset/early-emus-attack.md
  .changeset/happy-bears-judge.md
  .changeset/lemon-camels-poke.md
  .changeset/plenty-ghosts-rhyme.md
  .changeset/polite-dolphins-reply.md
  .changeset/proud-mangos-fry.md
  .changeset/thin-ants-crash.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/components

#1446 Add help actions guidance on icons
  website/docs/icons/usage-guidelines/partials/guidelines/overview.md
  website/public/assets/foundations/flight-icons/help-actions.png
  website/public/assets/foundations/flight-icons/navigation-actions.png
Labels: docs-website

#1451 Update `changesets/action` to use trusted version
  .github/workflows/release.yml
Labels: dependencies

#1458 Using reporter middleware options for a11y test results
  .github/workflows/ci-components-nightly.yml
  packages/components/.npmignore
  packages/components/ember-a11y-report/2023-06-28T16-40-05-049Z.json
  packages/components/package.json
  packages/components/tests/test-helper.js
Labels: packages/components

#1459 Update ci-components-nightly.yml
  .github/workflows/ci-components-nightly.yml
Labels: internal

#1452 `Form::TextInput` - Add loading state on "search" type
  .changeset/bright-cougars-dress.md
  .changeset/tricky-badgers-try.md
  packages/components/addon/components/hds/form/text-input/base.js
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/app/styles/components/form/text-input.scss
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/integration/components/hds/form/text-input/base-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/devdot/tokens.json
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/form/text-input.json
  website/docs/components/form/text-input/partials/code/component-api.md
Labels: packages/tokens, packages/components, docs-website

#1456 `Hds::Modal` – Prevent `onClose` callback function invocation when `isDismissDisabled` is `true`
  .changeset/tiny-news-obey.md
  packages/components/addon/components/hds/modal/index.js
  packages/components/tests/dummy/app/controllers/components/modal.js
  packages/components/tests/dummy/app/templates/components/modal.hbs
  website/docs/components/modal/index.js
  website/docs/components/modal/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1463 fix minor typo in the component changelog
  packages/components/CHANGELOG.md
Labels: packages/components

#1466 `Hds::PageHeader` – Set position to 'relative'
  .changeset/calm-days-rescue.md
  packages/components/app/styles/components/page-header.scss
  website/app/styles/doc-components/code-block.scss
  website/docs/components/page-header/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1465 Add `isLoading` example for search input
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
Labels: docs-website
