Repository hashicorp/design-system, pull requests merged in 2023-10, with the labels that each got.

#1681 Page content should be in aria landmarks (HDS-1222)
  website/app/index.html
  website/app/templates/application.hbs
Labels: bug-a-thon

#1682 add component a11y test blueprints for docs and components
  packages/components/blueprints/hds-component-test/files/tests/acceptance/components/hds/__name__.js
  website/blueprints/hds-component-docs/files/tests/acceptance/components/__name__.js
Labels: packages/components, bug-a-thon

#1673 `AppFooter`: documentation (HDS-2502)
  website/app/styles/app.scss
  website/app/styles/pages/components/app-footer.scss
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/accessibility/accessibility.md
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/how-to-use.md
  website/docs/components/app-footer/partials/guidelines/guidelines.md
  website/docs/components/app-footer/partials/guidelines/overview.md
  website/docs/components/app-footer/partials/specifications/anatomy.md
  website/docs/components/app-footer/partials/specifications/states.md
  website/public/assets/components/app-footer/app-footer-additional-links.png
  website/public/assets/components/app-footer/app-footer-anatomy.png
  website/public/assets/components/app-footer/app-footer-dark.png
  website/public/assets/components/app-footer/app-footer-extra-content-do.png
  website/public/assets/components/app-footer/app-footer-extra-content-dont.png
  website/public/assets/components/app-footer/app-footer-extra-content.png
  website/public/assets/components/app-footer/app-footer-items.png
  website/public/assets/components/app-footer/app-footer-large.png
  website/public/assets/components/app-footer/app-footer-legal-links.png
  website/public/assets/components/app-footer/app-footer-order-priority.png
  website/public/assets/components/app-footer/app-footer-small.png
  website/public/assets/components/app-footer/link-states.png
  website/public/assets/components/app-footer/status-link-options.png
  website/public/assets/components/app-footer/status-link-states.png
  website/public/assets/illustrations/components/app-footer.jpg
Labels: docs-website

#1693 Adjust `TextInput` guidance on `@type`
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
Labels: docs-website

#1623 `AppFooter` component (HDS-2480)
  .changeset/gorgeous-sheep-tap.md
  packages/components/addon/components/hds/app-footer/copyright.hbs
  packages/components/addon/components/hds/app-footer/copyright.js
  packages/components/addon/components/hds/app-footer/index.hbs
  packages/components/addon/components/hds/app-footer/index.js
  packages/components/addon/components/hds/app-footer/item.hbs
  packages/components/addon/components/hds/app-footer/legal-links.hbs
  packages/components/addon/components/hds/app-footer/legal-links.js
  packages/components/addon/components/hds/app-footer/link.hbs
  packages/components/addon/components/hds/app-footer/status-link.hbs
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/app/components/hds/app-footer/copyright.js
  packages/components/app/components/hds/app-footer/index.js
  packages/components/app/components/hds/app-footer/item.js
  packages/components/app/components/hds/app-footer/legal-links.js
  packages/components/app/components/hds/app-footer/link.js
  packages/components/app/components/hds/app-footer/status-link.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/acceptance/components/hds/app-footer-test.js
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/controllers/components/app-footer.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/app-footer.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-footer.scss
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/app-footer/copyright-test.js
  packages/components/tests/integration/components/hds/app-footer/index-test.js
  packages/components/tests/integration/components/hds/app-footer/item-test.js
  packages/components/tests/integration/components/hds/app-footer/legal-links-test.js
  packages/components/tests/integration/components/hds/app-footer/link-test.js
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
  website/app/styles/app.scss
  website/app/styles/pages/components/app-footer.scss
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/accessibility/accessibility.md
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/how-to-use.md
  website/docs/components/app-footer/partials/guidelines/guidelines.md
  website/docs/components/app-footer/partials/guidelines/overview.md
  website/docs/components/app-footer/partials/specifications/anatomy.md
  website/docs/components/app-footer/partials/specifications/states.md
  website/public/assets/components/app-footer/app-footer-additional-links.png
  website/public/assets/components/app-footer/app-footer-anatomy.png
  website/public/assets/components/app-footer/app-footer-dark.png
  website/public/assets/components/app-footer/app-footer-extra-content-do.png
  website/public/assets/components/app-footer/app-footer-extra-content-dont.png
  website/public/assets/components/app-footer/app-footer-extra-content.png
  website/public/assets/components/app-footer/app-footer-items.png
  website/public/assets/components/app-footer/app-footer-large.png
  website/public/assets/components/app-footer/app-footer-legal-links.png
  website/public/assets/components/app-footer/app-footer-order-priority.png
  website/public/assets/components/app-footer/app-footer-small.png
  website/public/assets/components/app-footer/link-states.png
  website/public/assets/components/app-footer/status-link-options.png
  website/public/assets/components/app-footer/status-link-states.png
  website/public/assets/illustrations/components/app-footer.jpg
  website/tests/acceptance/components/app-footer-test.js
Labels: packages/components, docs-website

#1698 Remove url test from component acceptance test blueprint
  packages/components/blueprints/hds-component-test/files/tests/acceptance/components/hds/__name__.js
Labels: packages/components

#1696 updated Hds::Tag component's CSS for WCAG conformance
  .changeset/neat-owls-rush.md
  packages/components/app/styles/components/tag.scss
Labels: packages/components

#1699 `Shw::Placeholder` - Fix color contrast
  packages/components/tests/dummy/app/styles/showcase-components/placeholder.scss
  packages/components/tests/dummy/app/templates/components/accordion.hbs
  packages/components/tests/dummy/app/templates/components/alert.hbs
  packages/components/tests/dummy/app/templates/components/app-footer.hbs
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
  packages/components/tests/dummy/app/templates/components/flyout.hbs
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/radio-card.hbs
  packages/components/tests/dummy/app/templates/components/modal.hbs
  packages/components/tests/dummy/app/templates/components/reveal.hbs
  packages/components/tests/dummy/app/templates/components/tabs.hbs
  packages/components/tests/dummy/app/templates/components/toast.hbs
  packages/components/tests/dummy/app/templates/utilities/disclosure-primitive.hbs
  packages/components/tests/dummy/app/templates/utilities/menu-primitive.hbs
Labels: packages/components

#1694 Add IDE setup info
  website/docs/getting-started/for-engineers.md
Labels: docs-website

#1685 Version Packages
  .changeset/gorgeous-sheep-tap.md
  .changeset/neat-owls-rush.md
  .changeset/small-coats-return.md
  .changeset/two-pumas-deny.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  yarn.lock
Labels: packages/components

#1702 `Tabs` - Update documentation
  website/app/controllers/show.js
  website/app/styles/app.scss
  website/app/styles/pages/components/tabs.scss
  website/docs/components/pagination/index.js
  website/docs/components/tabs/index.js
  website/docs/components/tabs/partials/code/component-api.md
  website/docs/components/tabs/partials/code/how-to-use.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
Labels: docs-website

#1700 `Pagination::Compact` - Expose the `SizeSelector`
  .changeset/cyan-adults-laugh.md
  packages/components/addon/components/hds/pagination/compact/index.hbs
  packages/components/addon/components/hds/pagination/compact/index.js
  packages/components/tests/dummy/app/templates/components/pagination.hbs
  packages/components/tests/integration/components/hds/pagination/compact-test.js
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1708 Drop Node.js 14 support
  .changeset/long-grapes-call.md
  packages/components/README.md
  packages/components/package.json
  packages/ember-flight-icons/README.md
  packages/ember-flight-icons/package.json
Labels: packages/components, packages/ember-flight-icons

#1710 `Tabs` - Avoid VRT failures because of dynamic content
  packages/components/tests/dummy/app/controllers/components/tabs.js
Labels: packages/components

#1709 `Tabs` - Handle `@isSelected` within `each` loop
  .changeset/sharp-needles-kick.md
  packages/components/addon/components/hds/tabs/index.hbs
  packages/components/addon/components/hds/tabs/index.js
  packages/components/tests/dummy/app/controllers/components/tabs.js
  packages/components/tests/dummy/app/templates/components/tabs.hbs
Labels: packages/components

#1711 Version Packages
  .changeset/sharp-needles-kick.md
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: packages/components

#1715 Fix default button type in docs
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

#1716 `Tabs` - replace `assert` with `warn` in `setIndicator`
  .changeset/olive-carpets-clean.md
  packages/components/addon/components/hds/tabs/index.js
  packages/components/tests/integration/components/hds/tabs/index-test.js
Labels: packages/components

#1697 Acceptance test with a11y audit for Hds::Tabs component
  packages/components/tests/acceptance/components/hds/tabs-test.js
Labels: packages/components

#1714 Updating content around Badge icon usage
  website/docs/components/badge/partials/accessibility/accessibility.md
  website/docs/components/badge/partials/guidelines/guidelines.md
Labels: docs-website

#1713 `TextInput` - toggle visibility documentation guidelines
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
Labels: docs-website

#1732 `Button` - Applied explicit text alignment to the text
  .changeset/wise-apples-worry.md
  packages/components/app/styles/components/button.scss
Labels: packages/components

#1724 `Pagination` - Fix missing `@currentPageSize` argument in the "Compact" variant with `SizeSelector`
  .changeset/light-clouds-explain.md
  packages/components/addon/components/hds/pagination/compact/index.js
  packages/components/addon/components/hds/pagination/numbered/index.js
  packages/components/tests/acceptance/components/hds/pagination-test.js
  packages/components/tests/dummy/app/controllers/components/pagination.js
  packages/components/tests/dummy/app/templates/components/pagination.hbs
  packages/components/tests/integration/components/hds/pagination/compact-test.js
  packages/components/tests/integration/components/hds/pagination/numbered-test.js
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1690 `Button`- Update padding/sizing for "icon-only" variant
  .changeset/itchy-doors-protect.md
  packages/components/addon/components/hds/button/index.js
  packages/components/app/styles/components/dropdown.scss
  packages/components/app/styles/mixins/_button.scss
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

#1736 `Pagination` - Remove handling of query parameters on page change for the "compact" variant
  .changeset/loud-readers-flash.md
  packages/components/addon/components/hds/pagination/compact/index.js
  packages/components/tests/dummy/app/controllers/components/pagination.js
  packages/components/tests/dummy/app/templates/components/pagination.hbs
Labels: packages/components

#1734 `Table` - Add example for alignment of `Button` in `Table` cell to showcase
  packages/components/tests/dummy/app/templates/components/table.hbs
Labels: packages/components

#1728 button acceptance test with a11y audit
  packages/components/tests/acceptance/components/hds/button-test.js
  packages/components/tests/dummy/app/templates/components/button.hbs
Labels: packages/components

#1735 Version Packages
  .changeset/itchy-doors-protect.md
  .changeset/loud-readers-flash.md
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: packages/components

#1720 `Alert` and `Toast` Overview Update
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/alert/partials/guidelines/overview.md
  website/docs/components/toast/partials/guidelines/overview.md
Labels: docs-website

#1726 `Checkbox` - Updating documentation for indeterminate state
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/public/assets/components/form/checkbox/checkbox-indeterminate-do.png
  website/public/assets/components/form/checkbox/checkbox-indeterminate-dont.png
Labels: docs-website

#1740 `Changelog` - Pre-process and re-format CHANGELOG files
  .changeset/changelog-hds.cjs.js
  .changeset/config.json
  package.json
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  packages/components/CHANGELOG.md
  packages/ember-flight-icons/CHANGELOG.md
  packages/flight-icons/CHANGELOG.md
  packages/tokens/CHANGELOG.md
  website/app/components/doc/page/sidebar.js
  website/app/styles/app.scss
  website/app/styles/pages/whats-new/changelog.scss
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  website/lib/changelog/README.md
  website/lib/changelog/generate-changelog-markdown-files.mjs
  website/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens, packages/components, packages/ember-flight-icons, docs-website

#1744 Version Packages
  .changeset/clean-yaks-cross.md
  .changeset/fresh-oranges-add.md
  .changeset/little-ads-explain.md
  .changeset/long-grapes-call.md
  .changeset/long-grapes-call2.md
  .changeset/moody-bulldogs-battle.md
  .changeset/plenty-months-lick.md
  .changeset/shy-ads-care.md
  .changeset/shy-bobcats-eat.md
  .changeset/silver-dodos-retire.md
  .changeset/stale-hornets-worry.md
  .changeset/strange-birds-juggle.md
  .changeset/strong-bears-kick.md
  .changeset/wise-apples-worry.md
  .changeset/yellow-monkeys-wave.md
  packages/codemods/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

#1745 Update release notes
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
Labels: docs-website

#1747 Fix `ember-flight-icons`'s dependency on `ember-get-config`
  .changeset/healthy-pots-deliver.md
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/ember-flight-icons

#1748 Version Packages
  .changeset/healthy-pots-deliver.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

#1718 Added PR template to `body` of `create-pull-request` in github action for new icons
  .github/pull_request_template.md
  .github/workflows/open-pull-request-for-icon-update.yml
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

#1750 Fix `pre-build` script invocation + Update release notes
  package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/package.json
Labels: docs-website

#1751 Explicitly add `ember-element-helper` as dependency for the `components` package
  .changeset/moody-suits-listen.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

#1752 Version Packages
  .changeset/moody-suits-listen.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#1754 Increase length of release notes for all code-related changes
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: docs-website
