Repository hashicorp/design-system, pull requests merged in 2023-01, with the labels that each got.

#978 Markdown linting for components A-B
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/alert/partials/code/showcase.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/alert/partials/guidelines/overview.md
  website/docs/components/avatar/index.md
  website/docs/components/avatar/partials/accessibility/accessibility.md
  website/docs/components/avatar/partials/code/component-api.md
  website/docs/components/avatar/partials/code/how-to-use.md
  website/docs/components/avatar/partials/code/showcase.md
  website/docs/components/avatar/partials/guidelines/guidelines.md
  website/docs/components/badge-count/partials/accessibility/accessibility.md
  website/docs/components/badge-count/partials/code/how-to-use.md
  website/docs/components/badge-count/partials/code/showcase.md
  website/docs/components/badge-count/partials/guidelines/overview.md
  website/docs/components/badge/index.md
  website/docs/components/badge/partials/accessibility/accessibility.md
  website/docs/components/badge/partials/accessibility/support.md
  website/docs/components/badge/partials/code/component-api.md
  website/docs/components/badge/partials/code/how-to-use.md
  website/docs/components/badge/partials/code/showcase.md
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/breadcrumb/partials/accessibility/support.md
  website/docs/components/breadcrumb/partials/code/showcase.md
  website/docs/components/breadcrumb/partials/guidelines/guidelines.md
  website/docs/components/button-set/partials/code/component-api.md
  website/docs/components/button-set/partials/code/showcase.md
  website/docs/components/button-set/partials/guidelines/guidelines.md
  website/docs/components/button-set/partials/guidelines/overview.md
  website/docs/components/button/index.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/button/partials/code/component-api.md
Labels: docs-website

#982 Improve fix for text in "CopyButton"
  website/app/components/doc/color-swatch/index.hbs
  website/app/components/doc/copy-button/index.hbs
Labels: docs-website

#983 Fix "About" page links
  website/app/styles/global/link.scss
  website/app/templates/about.hbs
Labels: docs-website

#991 New docs website / Update markup in page "Footer"
  website/app/components/doc/page/footer.hbs
  website/app/styles/pages/application/footer.scss
Labels: docs-website

#987 New Docs Website / Small fixes
  website/app/components/doc/copy-button/index.js
  website/app/components/doc/table-of-contents/index.hbs
  website/app/components/doc/vars-list/index.hbs
  website/app/styles/doc-components/vars-list.scss
  website/docs/foundations/accessibility/index.md
  website/docs/getting-started/for-designers/partials/best-practices.md
  website/docs/getting-started/for-designers/partials/setup-guide.md
Labels: docs-website

#1004 New docs website / Move the "support" page under the "About" section
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/header/nav-item.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/components/dynamic-template-error.hbs
  website/app/router.js
  website/app/templates/error.hbs
  website/app/templates/patterns.hbs
  website/app/templates/support.hbs
  website/docs/about/support.md
Labels: docs-website

#1002 use current-when to set active class in sidebar
  website/app/components/doc/table-of-contents/index.hbs
  website/tests/acceptance/component-query-test.js
Labels: docs-website

#1011 add fathom analytics
  website/config/dotenv.js
  website/lib/analytics/index.js
  website/lib/analytics/package.json
  website/package.json
  yarn.lock
Labels: docs-website

#1001 Setup meta tags
  website/app/services/head-data.js
  website/app/templates/application.hbs
  website/app/templates/head.hbs
  website/app/templates/show.hbs
  website/config/environment.js
Labels: docs-website

#1019 New docs website / Fix small issues
  website/docs/getting-started/for-designers/partials/setup-guide.md
  website/docs/testing/components/badge.md
Labels: docs-website

#1006 Update docs / Designer Best Practices
  website/docs/getting-started/for-designers/index.md
  website/docs/getting-started/for-designers/partials/best-practices.md
  website/docs/getting-started/for-engineers.md
Labels: docs-website

#1012 icon page tweaks
  website/docs/icons/library/index.md
Labels: docs-website

#1015 refactor how illustrations are referenced
  website/app/controllers/components.js
  website/app/controllers/foundations.js
  website/app/routes/show.js
  website/app/services/head-data.js
  website/docs/components/alert/index.md
  website/docs/components/avatar/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/button-set/index.md
  website/docs/components/button/index.md
  website/docs/components/card/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/icon-tile/index.md
  website/docs/components/link/inline/index.md
  website/docs/components/link/standalone/index.md
  website/docs/components/modal/index.md
  website/docs/components/stepper/index.md
  website/docs/components/table/index.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/toast/index.md
  website/docs/foundations/accessibility/index.md
  website/docs/foundations/border/index.md
  website/docs/foundations/colors/index.md
  website/docs/foundations/elevation/index.md
  website/docs/foundations/focus-ring/index.md
  website/docs/foundations/tokens/index.md
  website/docs/foundations/typography/index.md
  website/docs/icons/library/index.md
  website/docs/icons/usage-guidelines/index.md
  website/docs/overrides/power-select/index.md
  website/docs/utilities/disclosure/index.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/interactive/index.md
  website/ember-cli-build.js
  website/lib/markdown/markdown-to-jsonapi.js
  website/lib/markdown/table-of-contents.js
  wiki/Website-Doc-folder.md
Labels: docs-website

#1028 Adds correct CSS class to link
  website/app/components/doc/wcag-list/index.hbs
  website/app/styles/doc-components/wcag-list.scss
Labels: docs-website

#1030 Adds aria-hidden attribute to svgs in logo
  website/app/components/doc/logo/design-system.hbs
Labels: docs-website

#1025 About iterations
  website/docs/about/accessibility-statement.md
  website/docs/about/overview.md
  website/docs/about/principles.md
  website/docs/about/support.md
  website/docs/getting-started/contribution/index.md
Labels: docs-website

#1031 Updates "explore" links on home page to add description for AT
  website/app/templates/index.hbs
Labels: docs-website, a11y

#1009 New docs website / Refactored logic for `showSidebarOnSmallViewport`
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/header/index.js
  website/app/components/doc/page/sidebar.js
  website/app/controllers/application.js
  website/app/templates/application.hbs
Labels: docs-website

#1010 New docs website / Fix `<body>` overflow + Sidebar animation/transition/position/display
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidebar.js
  website/app/controllers/application.js
  website/app/styles/doc-components/index.scss
  website/app/styles/doc-components/table-of-contents.scss
  website/app/styles/pages/application/footer.scss
  website/app/styles/pages/application/header.scss
  website/app/styles/pages/application/index.scss
  website/app/styles/pages/application/sidebar.scss
  website/app/styles/pages/application/stage.scss
  website/app/templates/application.hbs
Labels: docs-website

#1037 New docs website / Update spacing values
  website/app/components/doc/content/hds-principles/index.hbs
  website/app/components/doc/copy-button/index.hbs
  website/app/components/doc/font-helpers-list/index.hbs
  website/app/components/doc/form/label.hbs
  website/app/components/doc/icons-list/grid.hbs
  website/app/components/doc/meta-row.hbs
  website/app/components/doc/page/cover.hbs
  website/app/components/doc/page/footer.hbs
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/header/nav-item.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidecar.hbs
  website/app/components/doc/page/tabs.hbs
  website/app/components/doc/table-of-contents/index.hbs
  website/app/styles/app.scss
  website/app/styles/doc-components/banner.scss
  website/app/styles/doc-components/code-block.scss
  website/app/styles/doc-components/copy-button.scss
  website/app/styles/doc-components/do-dont.scss
  website/app/styles/doc-components/font-helpers-list.scss
  website/app/styles/doc-components/form/label.scss
  website/app/styles/doc-components/icons-list/index.scss
  website/app/styles/doc-components/meta-row.scss
  website/app/styles/doc-components/table-of-contents.scss
  website/app/styles/markdown/index.scss
  website/app/styles/markdown/lists.scss
  website/app/styles/markdown/other-elements.scss
  website/app/styles/markdown/root.scss
  website/app/styles/markdown/typography.scss
  website/app/styles/pages/about/principles.scss
  website/app/styles/pages/application/cover.scss
  website/app/styles/pages/application/footer.scss
  website/app/styles/pages/application/header.scss
  website/app/styles/pages/application/sidecar.scss
  website/app/styles/pages/application/tabs.scss
  website/app/styles/spacing/index.scss
  website/app/styles/typography/helpers.scss
  website/app/styles/typography/index.scss
  website/app/styles/typography/mixins.scss
  website/app/templates/error.hbs
  wiki/Website-Doc-styling-and-components.md
Labels: docs-website

#1014 New docs website / Pagination
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/accessibility/support.md
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/components/pagination/partials/code/showcase.md
  website/docs/components/pagination/partials/guidelines/guidelines.md
  website/docs/components/pagination/partials/guidelines/overview.md
  website/docs/components/pagination/partials/specifications/anatomy.md
  website/docs/components/pagination/partials/specifications/states.md
  website/public/assets/components/pagination/pagination-anatomy.png
  website/public/assets/components/pagination/pagination-cursor-example.png
  website/public/assets/components/pagination/pagination-info-anatomy.png
  website/public/assets/components/pagination/pagination-keyboard-navigation-01.png
  website/public/assets/components/pagination/pagination-keyboard-navigation-02.png
  website/public/assets/components/pagination/pagination-nav-anatomy.png
  website/public/assets/components/pagination/pagination-offset-example.png
  website/public/assets/components/pagination/pagination-size-selector-anatomy.png
  website/public/assets/components/pagination/pagination-spacing-not-contained.png
  website/public/assets/components/pagination/pagination-spacing-tables.png
  website/public/assets/components/pagination/pagination-state-default.png
  website/public/assets/components/pagination/pagination-state-selected.png
Labels: docs-website

#1027 Fix power select styles
  website/app/styles/app.scss
  website/docs/overrides/power-select/partials/code/how-to-use.md
  website/docs/overrides/power-select/partials/code/showcase.md
Labels: docs-website

#1036 update helios references in repo
  .changeset/light-birds-end.md
  README.md
  packages/components/README.md
  packages/components/package.json
  packages/tokens/README.md
  packages/tokens/package.json
Labels: docs-website

#1041 Button docs: added more a11y info
  website/docs/components/button/partials/accessibility/accessibility.md
Labels: docs-website, a11y

#1069 New docs website / Fix double "search" icon
  website/app/styles/doc-components/form/search.scss
Labels: docs-website

#1079 Add missing `@type` values on `TextInput` API docs
  website/docs/components/form/text-input/partials/code/component-api.md
Labels: docs-website

#1088 Website: two color tweaks for a11y conformance
  website/app/styles/prism-dracula.scss
Labels: docs-website, a11y

#1087 Adding keywords to Button Set
  website/docs/components/button-set/index.md
Labels: docs-website

#1084 Aligning accessibility support section
  website/docs/components/alert/index.md
  website/docs/components/alert/partials/accessibility/accessibility.md
  website/docs/components/alert/partials/accessibility/support.md
  website/docs/components/avatar/partials/accessibility/accessibility.md
  website/docs/components/badge-count/partials/accessibility/accessibility.md
  website/docs/components/badge/index.md
  website/docs/components/badge/partials/accessibility/accessibility.md
  website/docs/components/badge/partials/accessibility/support.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/breadcrumb/partials/accessibility/support.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/card/partials/accessibility/accessibility.md
  website/docs/components/dropdown/partials/accessibility/accessibility.md
  website/docs/components/form/checkbox/partials/accessibility/accessibility.md
  website/docs/components/form/primitives/partials/accessibility/accessibility.md
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/form/radio/partials/accessibility/accessibility.md
  website/docs/components/form/select/partials/accessibility/accessibility.md
  website/docs/components/form/text-input/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/textarea/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/partials/accessibility/support.md
  website/docs/components/form/toggle/index.md
  website/docs/components/form/toggle/partials/accessibility/accessibility.md
  website/docs/components/form/toggle/partials/accessibility/support.md
  website/docs/components/icon-tile/index.md
  website/docs/components/icon-tile/partials/accessibility/accessibility.md
  website/docs/components/icon-tile/partials/accessibility/support.md
  website/docs/components/link/standalone/index.md
  website/docs/components/link/standalone/partials/accessibility/accessibility.md
  website/docs/components/link/standalone/partials/accessibility/support.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/accessibility/support.md
  website/docs/components/stepper/index.md
  website/docs/components/stepper/partials/accessibility/accessibility.md
  website/docs/components/stepper/partials/accessibility/support.md
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/tabs/index.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/support.md
  website/docs/components/tag/index.md
  website/docs/components/tag/partials/accessibility/accessibility.md
  website/docs/components/tag/partials/accessibility/support.md
  website/docs/components/template/index.md
  website/docs/components/template/partials/accessibility/accessibility.md
  website/docs/components/template/partials/accessibility/support.md
  website/docs/components/toast/index.md
  website/docs/components/toast/partials/accessibility/accessibility.md
  website/docs/components/toast/partials/accessibility/support.md
Labels: docs-website

#1091 Updating utility component documentation
  website/docs/utilities/disclosure/index.md
  website/docs/utilities/disclosure/partials/code/component-api.md
  website/docs/utilities/disclosure/partials/code/how-to-use.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/dismiss-button/partials/code/component-api.md
  website/docs/utilities/dismiss-button/partials/code/how-to-use.md
  website/docs/utilities/interactive/index.md
  website/docs/utilities/interactive/partials/code/component-api.md
  website/docs/utilities/interactive/partials/code/how-to-use.md
Labels: docs-website

#1093 Cleaning up alert content
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/alert/partials/guidelines/overview.md
  website/docs/components/alert/partials/specifications/anatomy.md
  website/public/assets/components/alert/alert-anatomy-page.png
Labels: docs-website

#1085 Retain input focus when filtering
  website/app/components/doc/page/header/index.hbs
  website/app/controllers/application.js
  website/app/templates/application.hbs
Labels: docs-website

#1096 New docs website / Hide testing content from the footer links
  website/app/components/doc/page/footer.hbs
  website/app/components/doc/page/footer.js
  website/app/styles/pages/application/_debug.scss
  website/app/styles/pages/application/index.scss
Labels: docs-website

#1081 Website cover adjustments
  website/app/styles/pages/application/cover.scss
  website/app/styles/pages/application/tabs.scss
Labels: docs-website

#1095 Updates to powerselect override documentation
  website/docs/overrides/power-select/index.md
  website/docs/overrides/power-select/partials/code/how-to-use.md
Labels: docs-website

#1094 Badge Count content iterations
  website/docs/components/badge-count/index.md
  website/docs/components/badge-count/partials/code/component-api.md
  website/docs/components/badge-count/partials/code/how-to-use.md
  website/docs/components/badge-count/partials/guidelines/overview.md
Labels: docs-website

#1076 Responsive cleanup / List Items
  website/app/styles/doc-components/font-helpers-list.scss
  website/app/styles/doc-components/icons-list/index.scss
  website/app/styles/doc-components/tokens-list/index.scss
Labels: docs-website

#1098 fix broken links
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/badge/partials/guidelines/overview.md
  website/docs/components/breadcrumb/partials/guidelines/guidelines.md
  website/docs/components/button/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
  website/docs/components/form/radio/partials/guidelines/guidelines.md
  website/docs/components/form/select/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/docs/components/form/toggle/partials/guidelines/guidelines.md
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/docs/components/tag/partials/guidelines/guidelines.md
  website/docs/components/toast/partials/guidelines/guidelines.md
Labels: docs-website

#1105 Removing Structure references from about content
  website/docs/about/overview.md
Labels: docs-website

#1099 Minor iterations to icon tile documentation
  website/docs/components/icon-tile/index.md
  website/docs/components/icon-tile/partials/accessibility/accessibility.md
  website/docs/components/icon-tile/partials/code/component-api.md
  website/docs/components/icon-tile/partials/code/how-to-use.md
  website/docs/components/icon-tile/partials/guidelines/guidelines.md
  website/docs/components/icon-tile/partials/guidelines/overview.md
  website/docs/components/icon-tile/partials/specifications/anatomy.md
Labels: docs-website

#1104 Updating card container documentation
  website/docs/components/card/index.md
  website/docs/components/card/partials/accessibility/accessibility.md
  website/docs/components/card/partials/code/how-to-use.md
  website/docs/components/card/partials/guidelines/guidelines.md
  website/public/assets/components/card/card-base-neutral0.png
  website/public/assets/components/card/card-base-neutral50.png
  website/public/assets/components/card/card-base.png
  website/public/assets/components/card/card-high.png
  website/public/assets/components/card/card-mid.png
  website/public/assets/components/card/card-spacing.png
Labels: docs-website

#1100 Contribution updates
  website/app/templates/about.hbs
  website/docs/about/accessibility-statement.md
  website/docs/about/contribution.md
Labels: docs-website

#1103 Updating breadcrumb documentation
  website/docs/components/breadcrumb/index.md
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/breadcrumb/partials/code/how-to-use.md
  website/docs/components/breadcrumb/partials/guidelines/guidelines.md
  website/docs/components/breadcrumb/partials/guidelines/overview.md
  website/docs/components/breadcrumb/partials/specifications/anatomy.md
  website/docs/components/breadcrumb/partials/specifications/states.md
  website/public/assets/components/breadcrumb/breadcrumb-known-issue-truncated-text.png
  website/public/assets/components/breadcrumb/breadcrumb-known-issue-truncation-outside-viewport.png
Labels: docs-website

#1110 Badge content iterations
  website/docs/components/badge/index.md
  website/docs/components/badge/partials/accessibility/accessibility.md
  website/docs/components/badge/partials/code/component-api.md
  website/docs/components/badge/partials/code/how-to-use.md
  website/docs/components/badge/partials/guidelines/guidelines.md
  website/docs/components/badge/partials/guidelines/overview.md
  website/docs/components/badge/partials/specifications/anatomy.md
  website/public/assets/components/badge/badge-anatomy.png
  website/public/assets/components/badge/badge-annotation.png
  website/public/assets/components/badge/badge-annotations.png
  website/public/assets/components/badge/badge-inverted-dont.png
Labels: docs-website

#1108 Use `Doc::Layout` in Alert and Toast
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/toast/partials/guidelines/guidelines.md
Labels: docs-website

#1112 Updating the tag documentation
  website/docs/components/tag/index.md
  website/docs/components/tag/partials/accessibility/accessibility.md
  website/docs/components/tag/partials/code/component-api.md
  website/docs/components/tag/partials/code/how-to-use.md
  website/docs/components/tag/partials/guidelines/guidelines.md
  website/docs/components/tag/partials/guidelines/overview.md
  website/docs/components/tag/partials/specifications/anatomy.md
  website/docs/components/tag/partials/specifications/states.md
  website/public/assets/components/tag/tag-anatomy.png
  website/public/assets/components/tag/tag-layout-group.png
  website/public/assets/components/tag/tag-layout-list.png
  website/public/assets/components/tag/tag-leading-icon.png
  website/public/assets/components/tag/tag-leading_icon.png
  website/public/assets/components/tag/tag-spacing.png
  website/public/assets/components/tag/tag-states.png
  website/public/assets/components/tag/tag-trailing-icon.png
  website/public/assets/components/tag/tag-trailing_icon.png
Labels: docs-website

#1111 Updating docs for Inline and Standalone link
  website/docs/components/link/inline/index.md
  website/docs/components/link/inline/partials/code/component-api.md
  website/docs/components/link/inline/partials/code/how-to-use.md
  website/docs/components/link/inline/partials/guidelines/overview.md
  website/docs/components/link/inline/partials/specifications/design-guidelines.md
  website/docs/components/link/standalone/index.md
  website/docs/components/link/standalone/partials/accessibility/accessibility.md
  website/docs/components/link/standalone/partials/code/component-api.md
  website/docs/components/link/standalone/partials/code/how-to-use.md
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/docs/components/link/standalone/partials/guidelines/overview.md
  website/docs/components/link/standalone/partials/specifications/anatomy.md
  website/docs/components/link/standalone/partials/specifications/states.md
  website/docs/utilities/interactive/partials/code/component-api.md
  website/docs/utilities/interactive/partials/code/how-to-use.md
  website/public/assets/components/link/standalone/link-anatomy.png
  website/public/assets/components/link/standalone/link-annotation.png
  website/public/assets/components/link/standalone/link_standalone-accessibility-focus_order.png
  website/public/assets/components/link/standalone/link_standalone-anatomy.png
  website/public/assets/components/link/standalone/link_standalone-states-primary.png
  website/public/assets/components/link/standalone/link_standalone-states-secondary.png
Labels: docs-website

#1113 Updating content for tabs
  website/docs/components/tabs/index.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/code/component-api.md
  website/docs/components/tabs/partials/code/how-to-use.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/docs/components/tabs/partials/guidelines/overview.md
  website/docs/components/tabs/partials/specifications/anatomy.md
  website/docs/components/tabs/partials/specifications/states.md
  website/public/assets/components/tabs/tab-anatomy.png
  website/public/assets/components/tabs/tab-arrows.png
  website/public/assets/components/tabs/tab-focus-to-panel.png
  website/public/assets/components/tabs/tab-focus.png
  website/public/assets/components/tabs/tab-item-anatomy.png
  website/public/assets/components/tabs/tab-spacebar-enter.png
  website/public/assets/components/tabs/tabs-accessibility-arrow_keys.png
  website/public/assets/components/tabs/tabs-accessibility-spacebar_enter.png
  website/public/assets/components/tabs/tabs-accessibility-tab-01.png
  website/public/assets/components/tabs/tabs-accessibility-tab-02.png
  website/public/assets/components/tabs/tabs-spacing-contained.png
  website/public/assets/components/tabs/tabs-spacing-nested.png
  website/public/assets/components/tabs/tabs-spacing-not-contained.png
  website/public/assets/components/tabs/tabs-spacing-not_contained.png
  website/public/assets/components/tabs/tabs-state.png
  website/public/assets/components/tabs/tabs-states.png
  website/public/assets/components/tabs/tabs-tab_item-anatomy.png
  website/public/assets/components/tabs/tabs-tab_items-anatomy.png
Labels: docs-website

#1121 Updates to Stepper documentation
  website/docs/components/stepper/index.md
  website/docs/components/stepper/partials/accessibility/accessibility.md
  website/docs/components/stepper/partials/code/component-api.md
  website/docs/components/stepper/partials/code/how-to-use.md
  website/docs/components/stepper/partials/guidelines/guidelines.md
  website/docs/components/stepper/partials/guidelines/overview.md
  website/docs/components/stepper/partials/specifications/anatomy.md
  website/docs/components/stepper/partials/specifications/states.md
  website/public/assets/components/stepper/step-indicator-anatomy.png
  website/public/assets/components/stepper/stepper-anatomy.png
  website/public/assets/components/stepper/stepper-step-states.png
  website/public/assets/components/stepper/stepper-step_indicator-anatomy.png
  website/public/assets/components/stepper/stepper-task-states.png
  website/public/assets/components/stepper/stepper-task_indicator-anatomy.png
  website/public/assets/components/stepper/task-indicator-anatomy.png
Labels: docs-website

#1118 Updating Toast documentation
  website/docs/components/toast/index.md
  website/docs/components/toast/partials/accessibility/accessibility.md
  website/docs/components/toast/partials/code/component-api.md
  website/docs/components/toast/partials/code/how-to-use.md
  website/docs/components/toast/partials/guidelines/guidelines.md
  website/docs/components/toast/partials/guidelines/overview.md
  website/docs/components/toast/partials/specifications/anatomy.md
  website/public/assets/components/toast/toast-button-secondary-tertiary.png
  website/public/assets/components/toast/toast-button.png
  website/public/assets/components/toast/toast-color_variants.png
  website/public/assets/components/toast/toast-composition-with_actions.png
  website/public/assets/components/toast/toast-composition-with_custom_actions.png
  website/public/assets/components/toast/toast-composition-with_custom_content.png
  website/public/assets/components/toast/toast-composition-with_icon_title.png
  website/public/assets/components/toast/toast-composition-with_icon_title_description.png
  website/public/assets/components/toast/toast-composition-with_title_description.png
  website/public/assets/components/toast/toast-content_examples.png
  website/public/assets/components/toast/toast-custom-actions.png
  website/public/assets/components/toast/toast-custom-content.png
  website/public/assets/components/toast/toast-icon_examples.png
  website/public/assets/components/toast/toast-link-only.png
  website/public/assets/components/toast/toast-placement-multiple.png
  website/public/assets/components/toast/toast-placement.png
Labels: docs-website

#1072 Website: Add ember-router-scroll
  website/app/controllers/show.js
  website/app/templates/application.hbs
  website/config/environment.js
  website/package.json
  yarn.lock
Labels: docs-website

#1124 Adjustments to `Modal` documentation
  website/docs/components/modal/partials/code/component-api.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/specifications/anatomy.md
Labels: docs-website

#1117 Website: hide sidebar on error and patterns pages
  website/app/styles/pages/application/footer.scss
  website/app/styles/pages/application/sidebar.scss
Labels: docs-website

#1123 Add flyout illustration
  website/docs/components/flyout/index.md
  website/docs/components/pagination/index.md
  website/public/assets/illustrations/components/flyout.jpg
Labels: docs-website

#1092 New Docs Content: Button alignment, order, and grouping
  website/docs/patterns/button-alignment/index.md
  website/docs/patterns/button-alignment/partials/accessibility/accessibility.md
  website/docs/patterns/button-alignment/partials/overview/overview.md
  website/docs/patterns/button-alignment/partials/specifications/alignment.md
  website/docs/patterns/button-alignment/partials/specifications/exceptions.md
  website/docs/patterns/button-alignment/partials/specifications/grouping.md
  website/docs/patterns/button-alignment/partials/specifications/order.md
  website/docs/patterns/button-alignment/partials/specifications/specifications.md
  website/public/assets/patterns/button-alignment/alignment-conversational-example.png
  website/public/assets/patterns/button-alignment/alignment-methods.png
  website/public/assets/patterns/button-alignment/alignment-reading-pattern.png
  website/public/assets/patterns/button-alignment/f-shaped-pattern-nn-group.jpeg
  website/public/assets/patterns/button-alignment/f-shaped-pattern.png
  website/public/assets/patterns/button-alignment/grouping-inverse-actions.png
  website/public/assets/patterns/button-alignment/gutenberg-diagram.png
  website/public/assets/patterns/button-alignment/multi-step-progressive-flow.png
  website/public/assets/patterns/button-alignment/optimal-ordering.png
  website/public/assets/patterns/button-alignment/order-conversational-example.png
  website/public/assets/patterns/button-alignment/order-destructive-action.png
  website/public/assets/patterns/button-alignment/order-high-low-priority.png
  website/public/assets/patterns/button-alignment/stacked-ordering.png
  website/public/assets/patterns/button-alignment/suboptimal-grouping.png
  website/public/assets/patterns/button-alignment/z-shaped-pattern.png
Labels: docs-website

#1138 New docs website / Fix issue with sidebar filter results persisting across pages
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidebar.js
  website/app/templates/application.hbs
Labels: docs-website

#1136 Updating text input, textarea, and select docs
  website/docs/components/form/primitives/partials/accessibility/accessibility.md
  website/docs/components/form/select/index.md
  website/docs/components/form/select/partials/accessibility/accessibility.md
  website/docs/components/form/select/partials/code/component-api.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/select/partials/guidelines/guidelines.md
  website/docs/components/form/select/partials/guidelines/overview.md
  website/docs/components/form/select/partials/specifications/anatomy.md
  website/docs/components/form/select/partials/specifications/states.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/text-input/partials/accessibility/accessibility.md
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/guidelines/overview.md
  website/docs/components/form/text-input/partials/specifications/anatomy.md
  website/docs/components/form/text-input/partials/specifications/states.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/textarea/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/partials/code/component-api.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/partials/guidelines/overview.md
  website/docs/components/form/textarea/partials/specifications/anatomy.md
  website/docs/components/form/textarea/partials/specifications/states.md
  website/public/assets/components/form/select/accessibility/keyboard/select-arrow-keys.png
  website/public/assets/components/form/select/accessibility/keyboard/select-enter.png
  website/public/assets/components/form/select/accessibility/keyboard/select-focus.png
  website/public/assets/components/form/select/accessibility/keyboard/select-keyboard-focus.png
  website/public/assets/components/form/select/accessibility/keyboard/select-spacebar.png
  website/public/assets/components/form/select/accessibility/mouse/select-click-to-open.png
  website/public/assets/components/form/select/accessibility/mouse/select-click-to-select.png
  website/public/assets/components/form/select/accessibility/mouse/select-hover-between-items.png
  website/public/assets/components/form/select/accessibility/mouse/select-hover.png
  website/public/assets/components/form/select/select-anatomy.png
  website/public/assets/components/form/select/select-client-side-validation.png
  website/public/assets/components/form/select/select-interactions.png
  website/public/assets/components/form/select/select-required_optional.png
  website/public/assets/components/form/select/select-server-side-validation.png
  website/public/assets/components/form/select/select-state-default-default.png
  website/public/assets/components/form/select/select-state-default-focus.png
  website/public/assets/components/form/select/select-state-default-hover.png
  website/public/assets/components/form/select/select-state-disabled-default.png
  website/public/assets/components/form/select/select-state-disabled-focus.png
  website/public/assets/components/form/select/select-state-disabled-hover.png
  website/public/assets/components/form/select/select-state-invalid-default.png
  website/public/assets/components/form/select/select-state-invalid-focus.png
  website/public/assets/components/form/select/select-state-invalid-hover.png
  website/public/assets/components/form/select/select-states.png
  website/public/assets/components/form/select/select-validation-error.png
  website/public/assets/components/form/text-input/text-input-anatomy.png
  website/public/assets/components/form/text-input/text_input-states.png
  website/public/assets/components/form/text-input/textinput-anatomy.png
  website/public/assets/components/form/text-input/textinput-states.png
  website/public/assets/components/form/textarea/textarea-anatomy.png
  website/public/assets/components/form/textarea/textarea-states.png
Labels: docs-website

#1126 `Pagination` - Support routing arguments in API (final implementation)
  packages/components/addon/components/hds/pagination/compact/index.hbs
  packages/components/addon/components/hds/pagination/compact/index.js
  packages/components/addon/components/hds/pagination/nav/arrow.hbs
  packages/components/addon/components/hds/pagination/nav/number.hbs
  packages/components/addon/components/hds/pagination/numbered/index.hbs
  packages/components/addon/components/hds/pagination/numbered/index.js
  packages/components/addon/components/hds/pagination/size-selector/index.hbs
  packages/components/addon/components/hds/pagination/size-selector/index.js
  packages/components/package.json
  packages/components/tests/dummy/app/controllers/components/pagination.js
  packages/components/tests/dummy/app/routes/components/pagination.js
  packages/components/tests/dummy/app/styles/pages/db-pagination.scss
  packages/components/tests/dummy/app/templates/application.hbs
  packages/components/tests/dummy/app/templates/components/pagination.hbs
  packages/components/tests/dummy/public/api/mock-users.json
  yarn.lock
Labels: packages/components

#1131 `Pagination` - Add/Update tests (integration + acceptance)
  packages/components/tests/acceptance/components/hds/pagination-test.js
  packages/components/tests/dummy/app/templates/components/pagination.hbs
  packages/components/tests/integration/components/hds/pagination/compact-test.js
  packages/components/tests/integration/components/hds/pagination/nav/arrow-test.js
  packages/components/tests/integration/components/hds/pagination/numbered-test.js
  packages/components/tests/integration/components/hds/pagination/size-selector-test.js
Labels: packages/components

#1135 Add spell check to website CI workflow
  .github/workflows/ci-website.yml
  website/docs/patterns/button-alignment/partials/overview/overview.md
  website/docs/patterns/button-alignment/partials/specifications/order.md
  wiki/Website-Editing-existing-content.md
Labels: docs-website

#1147 style updates to wcag list component
  website/app/components/doc/wcag-list/index.hbs
  website/app/styles/doc-components/index.scss
  website/app/styles/doc-components/wcag-list.scss
Labels: docs-website

#1142 Updating button documentation
  website/docs/components/button/index.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/button/partials/guidelines/guidelines.md
  website/docs/components/button/partials/specifications/anatomy.md
  website/docs/components/button/partials/specifications/states.md
  website/public/assets/components/button/button-anatomy.png
  website/public/assets/components/button/button-annotation_example.png
  website/public/assets/components/button/button-state-critical.png
  website/public/assets/components/button/button-state-primary.png
  website/public/assets/components/button/button-state-secondary.png
  website/public/assets/components/button/button-state-tertiary.png
  website/public/assets/components/button/button-states.png
Labels: docs-website

#1149 Moved accessible routing section to make content more designer-friendly
  website/docs/foundations/accessibility/index.md
Labels: docs-website

#1141 Updating the dropdown documentation
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/accessibility/accessibility.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/guidelines/overview.md
  website/docs/components/dropdown/partials/specifications/anatomy.md
  website/docs/components/dropdown/partials/specifications/states.md
  website/project-words.txt
  website/public/assets/components/dropdown/dropdown-anatomy.png
  website/public/assets/components/dropdown/dropdown-button-chevrons.png
  website/public/assets/components/dropdown/dropdown-copy_item-anatomy.png
  website/public/assets/components/dropdown/dropdown-focus-order.png
  website/public/assets/components/dropdown/dropdown-focus_order-01.png
  website/public/assets/components/dropdown/dropdown-focus_order-02.png
  website/public/assets/components/dropdown/dropdown-focus_order-03.png
  website/public/assets/components/dropdown/dropdown-icon-chevrons.png
  website/public/assets/components/dropdown/dropdown-list_item-anatomy.png
  website/public/assets/components/dropdown/dropdown-list_item-types.png
  website/public/assets/components/dropdown/dropdown-listitem-states.png
  website/public/assets/components/dropdown/dropdown-listitem-types.png
  website/public/assets/components/dropdown/dropdown-placement-left_example.png
  website/public/assets/components/dropdown/dropdown-placement-right_example.png
  website/public/assets/components/dropdown/dropdown-placement.png
  website/public/assets/components/dropdown/dropdown-state-button.png
  website/public/assets/components/dropdown/dropdown-state-icon.png
  website/public/assets/components/dropdown/dropdown-toggle-avatar-anatomy.png
  website/public/assets/components/dropdown/dropdown-toggle-button-anatomy.png
  website/public/assets/components/dropdown/dropdown-toggle-icon-anatomy.png
  website/public/assets/components/dropdown/dropdown-toggle-icon_only-anatomy.png
  website/public/assets/components/dropdown/dropdown-toggle-states.png
Labels: docs-website

#1148 Updates WCAG SC data
  website/app/components/doc/wcag-list/index.js
Labels: docs-website

#1143 New docs website / Fix "patterns" sidebar
  website/app/styles/pages/application/footer.scss
  website/app/styles/pages/application/sidebar.scss
  website/app/styles/pages/application/stage.scss
Labels: docs-website

#1145 copy updates per marketing
  website/app/templates/about.hbs
  website/app/templates/index.hbs
  website/config/environment.js
Labels: docs-website

#1139 Updating checkbox, radio, and toggle documentation
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/checkbox/partials/accessibility/accessibility.md
  website/docs/components/form/checkbox/partials/code/component-api.md
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/docs/components/form/checkbox/partials/specifications/anatomy.md
  website/docs/components/form/checkbox/partials/specifications/states.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/radio/partials/accessibility/accessibility.md
  website/docs/components/form/radio/partials/code/component-api.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/guidelines/guidelines.md
  website/docs/components/form/radio/partials/specifications/anatomy.md
  website/docs/components/form/radio/partials/specifications/states.md
  website/docs/components/form/toggle/index.md
  website/docs/components/form/toggle/partials/accessibility/accessibility.md
  website/docs/components/form/toggle/partials/code/component-api.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
  website/docs/components/form/toggle/partials/guidelines/guidelines.md
  website/docs/components/form/toggle/partials/specifications/anatomy.md
  website/docs/components/form/toggle/partials/specifications/states.md
  website/public/assets/components/form/checkbox/checkbox-anatomy.png
  website/public/assets/components/form/checkbox/checkbox-group-anatomy.png
  website/public/assets/components/form/checkbox/checkbox-states.png
  website/public/assets/components/form/radio/radio-states.png
  website/public/assets/components/form/toggle/toggle-group-anatomy.png
  website/public/assets/components/form/toggle/toggle-states.png
Labels: docs-website

#1151 Updating modal documentation
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/modal/partials/code/component-api.md
  website/docs/components/modal/partials/code/how-to-use.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/specifications/anatomy.md
  website/public/assets/components/modal/modal-body-type.png
  website/public/assets/components/modal/modal-color_critical.png
  website/public/assets/components/modal/modal-color_neutral.png
  website/public/assets/components/modal/modal-color_warning.png
  website/public/assets/components/modal/modal-mobile-sizes.png
Labels: docs-website

#1128 `Pagination` - "How to use" and "Component API" sections in documentation for Helios website
  website/app/controllers/show.js
  website/app/routes/show.js
  website/app/styles/app.scss
  website/app/styles/pages/components/pagination.scss
  website/app/templates/show.hbs
  website/docs/components/pagination/index.js
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1032 HDS-1383 Add meta tag for twitter site
  website/app/templates/head.hbs
  website/config/environment.js
Labels: docs-website

#1130 Tabs component: moves the icon and count inside of the button for WCAG conformance
  .changeset/silly-dots-smile.md
  packages/components/addon/components/hds/tabs/tab.hbs
  packages/components/app/styles/components/tabs.scss
Labels: packages/components

#1157 Table: Resolves issue where some CSS classes were malformed
  .changeset/six-snakes-reply.md
  packages/components/addon/components/hds/table/td.js
  packages/components/addon/components/hds/table/th-sort.js
  packages/components/addon/components/hds/table/th.js
  packages/components/tests/integration/components/hds/table/td-test.js
  packages/components/tests/integration/components/hds/table/th-sort-test.js
  packages/components/tests/integration/components/hds/table/th-test.js
Labels: packages/components
