Repository hashicorp/design-system, pull requests merged in 2023-12, with the labels that each got.

#1843 Website search - Indexing script cleanup to filter out non-relevant content
  website/docs-scraper/extract-content-from-markdown.mjs
  website/docs-scraper/index-website-content.mjs
  website/docs-scraper/parts/cleanupContent.mjs
  website/docs-scraper/parts/debugLogNodes.mjs
  website/docs-scraper/parts/extractComponentApis.mjs
  website/docs-scraper/parts/extractHeadings.mjs
  website/docs-scraper/parts/extractParagraphs.mjs
  website/docs-scraper/parts/extractTables.mjs
  website/docs-scraper/parts/extractWcagLists.mjs
  website/docs-scraper/parts/rehypeRemoveAllHdsElements.mjs
  website/docs-scraper/parts/rehypeRemoveChangelogMetadata.mjs
  website/docs-scraper/parts/rehypeRemoveEmptyParagraphs.mjs
  website/docs-scraper/parts/rehypeRemoveEmptyTextNodes.mjs
  website/docs-scraper/parts/rehypeRemoveNonRelevantDocElements.mjs
  website/docs-scraper/parts/rehypeSanitizeTextNodes.mjs
  website/docs-scraper/parts/remarkHtmlSanitise.mjs
  website/docs-scraper/parts/remarkProcessCustomImageFormat.mjs
  website/docs-scraper/parts/remarkSanitizeDocComponentApi.mjs
  website/docs-scraper/parts/remarkStripHeliosContentBlocksDelimiters.mjs
  website/docs-scraper/parts/remarkStripHeliosHandlebarsExpressions.mjs
  website/docs-scraper/parts/remarkStripHeliosReleaseNotesMetadata.mjs
  website/docs-scraper/parts/removeContentBlocksDelimiters.mjs
  website/docs-scraper/parts/removeHandlebarsComments.mjs
  website/docs-scraper/parts/removeIgnoredContent.mjs
  website/docs-scraper/parts/removeLinkToLinks.mjs
  website/docs-scraper/parts/replaceCustomImageFormat.mjs
  website/docs-scraper/parts/replaceDocTags.mjs
  website/docs-scraper/parts/setNodesHierarchy.mjs
  website/docs-scraper/parts/transformDocComponentApi.mjs
  website/docs-scraper/parts/transformDocTags.mjs
  website/docs-scraper/parts/transformDocWcagList.mjs
  website/docs-scraper/parts/transformHdsTags.mjs
  website/docs-scraper/populateAlgoliaRecords.mjs
  website/docs/about/principles.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/foundations/colors/partials/other/palette.md
  website/docs/foundations/elevation/partials/code/how-to-use.md
  website/docs/foundations/tokens/index.md
  website/docs/foundations/typography/partials/code/how-to-use.md
  website/docs/icons/library/index.md
  website/package.json
  yarn.lock
Labels: docs-website

#1851 Fix `ThSort` `onclick` example
  packages/components/tests/dummy/app/templates/components/table.hbs
  website/docs/components/table/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1849 Version Packages
  .changeset/brown-berries-tap.md
  .changeset/mean-eyes-call.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#1811 update AppFooter's default accessibility URL
  .changeset/purple-buttons-divide.md
  packages/components/addon/components/hds/app-footer/legal-links.js
  packages/components/tests/integration/components/hds/app-footer/legal-links-test.js
  website/docs/components/app-footer/partials/code/component-api.md
Labels: packages/components, docs-website

#1789 Website Search - Search UI implementation
  website/app/components/doc/form/filter.hbs
  website/app/components/doc/form/search.hbs
  website/app/components/doc/icons-list/index.hbs
  website/app/components/doc/page/header/algolia-search/index.hbs
  website/app/components/doc/page/header/algolia-search/index.js
  website/app/components/doc/page/header/algolia-search/parts/algoliaSearchClient.js
  website/app/components/doc/page/header/algolia-search/parts/getItemsFunction.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelFooter.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelNoResults.js
  website/app/components/doc/page/header/algolia-search/parts/htmlTemplatesItemBody.js
  website/app/components/doc/page/header/algolia-search/parts/htmlTemplatesItemExtra.js
  website/app/components/doc/page/header/algolia-search/parts/htmlTemplatesItemPreview.js
  website/app/components/doc/page/header/algolia-search/parts/templatesFooterFunction.js
  website/app/components/doc/page/header/algolia-search/parts/templatesHeaderFunction.js
  website/app/components/doc/page/header/algolia-search/parts/templatesItemFunction.js
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/tokens-list/index.hbs
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/algolia-search/index.scss
  website/app/styles/doc-components/algolia-search/modal.scss
  website/app/styles/doc-components/algolia-search/results.scss
  website/app/styles/doc-components/form/filter.scss
  website/app/styles/doc-components/form/index.scss
  website/app/styles/doc-components/form/search.scss
  website/app/styles/doc-components/index.scss
  website/app/styles/pages/application/header.scss
  website/app/styles/tokens.scss
  website/config/environment.js
  website/docs/foundations/tokens/index.js
  website/package.json
  website/public/assets/logos/algolia.svg
  website/tests/a11y-helper.js
  wiki/Website-Doc-styling-and-components.md
  yarn.lock
Labels: docs-website

#1854 `Button`: Add isInline argument (HDS-2681)
  .changeset/calm-adults-collect.md
  packages/components/addon/components/hds/button/index.ts
  packages/components/app/styles/components/button.scss
  packages/components/tests/dummy/app/styles/showcase-pages/button.scss
  packages/components/tests/dummy/app/templates/components/button.hbs
  packages/components/tests/integration/components/hds/button/index-test.js
  website/app/styles/app.scss
  website/app/styles/pages/components/button.scss
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/code/component-api.md
Labels: packages/components, docs-website

#1856 Fix legend spacing (HDS-2948)
  .changeset/sharp-phones-agree.md
  packages/components/app/styles/components/form/group.scss
Labels: packages/components

#1858 Docs: Update button how-to-use.md
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

#1864 Fix `Button` docs to include the correct value in example
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

#1865 Update dialog-related docs
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

#1861 `Table` - Add `baseline` option to vertical alignment of cells
  .changeset/ten-monkeys-eat.md
  packages/components/addon/components/hds/table/index.js
  packages/components/app/styles/components/table.scss
  packages/components/tests/dummy/app/templates/components/table.hbs
  website/docs/components/table/partials/code/component-api.md
Labels: packages/components, docs-website

#1866 ButtonSet - Remove coming soon message
  website/docs/components/button-set/partials/guidelines/guidelines.md
Labels: docs-website

#1870 Add extra headings to character count documentation
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/primitives/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
Labels: docs-website

#1869 `Tooltip` - Fix text alignment
  .changeset/five-buses-burn.md
  packages/components/app/styles/components/tooltip.scss
  packages/components/tests/dummy/app/styles/showcase-pages/tooltip.scss
  packages/components/tests/dummy/app/templates/components/tooltip.hbs
Labels: packages/components

#1876 Add compositional recommendations to the CopyButton docs
  website/app/styles/app.scss
  website/app/styles/pages/components/copy-button.scss
  website/docs/components/copy/button/partials/code/how-to-use.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/partials/guidelines/guidelines.md
  website/public/assets/components/copy/copy-button-composition-input-spacing.png
  website/public/assets/components/copy/copy-button-composition-multi-line-input-complex.png
  website/public/assets/components/copy/copy-button-composition-multi-line-input-simple.png
  website/public/assets/components/copy/copy-button-composition-single-line-input-complex.png
  website/public/assets/components/copy/copy-button-composition-single-line-input-simple.png
Labels: docs-website

#1877 `AppFooter` image update
  website/public/assets/components/app-footer/app-footer-additional-links.png
  website/public/assets/components/app-footer/app-footer-anatomy.png
  website/public/assets/components/app-footer/app-footer-dark.png
  website/public/assets/components/app-footer/app-footer-extra-content-do.png
  website/public/assets/components/app-footer/app-footer-extra-content.png
  website/public/assets/components/app-footer/app-footer-items.png
  website/public/assets/components/app-footer/app-footer-large.png
  website/public/assets/components/app-footer/app-footer-legal-links.png
  website/public/assets/components/app-footer/app-footer-order-priority.png
  website/public/assets/components/app-footer/app-footer-small.png
Labels: packages/components

#1878 `MaskedInput` - Add multiline text examples to showcase (and update docs)
  packages/components/tests/dummy/app/controllers/components/form/masked-input.js
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: packages/components, docs-website

#1879 `FileInput` - Updated documentation around validation
  website/docs/components/form/file-input/partials/code/how-to-use.md
Labels: docs-website
