Repository hashicorp/design-system, pull requests merged in 2023-05, with the labels that each got.

#1336 `SideNav` - "How to use" documentation update
  website/app/styles/pages/components/side-nav.scss
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/how-to-use_OLD.md
  website/docs/components/side-nav/partials/code/how-to-use_TEMP.md
  website/public/assets/components/side-nav/responsiveness.png
Labels: docs-website

#1373 Adds args with string fallback to aria-labels in components
  .changeset/clean-frogs-dance.md
  packages/components/addon/components/hds/breadcrumb/truncation.hbs
  packages/components/addon/components/hds/breadcrumb/truncation.js
  packages/components/addon/components/hds/dismiss-button/index.hbs
  packages/components/addon/components/hds/dismiss-button/index.js
  packages/components/addon/components/hds/pagination/compact/index.hbs
  packages/components/addon/components/hds/pagination/compact/index.js
  packages/components/addon/components/hds/pagination/numbered/index.hbs
  packages/components/addon/components/hds/pagination/numbered/index.js
  packages/components/addon/components/hds/side-nav/index.hbs
  packages/components/addon/components/hds/side-nav/index.js
  packages/components/addon/components/hds/tag/index.hbs
  packages/components/addon/components/hds/tag/index.js
  packages/components/tests/integration/components/hds/tag/index-test.js
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/tag/partials/code/component-api.md
  website/docs/utilities/dismiss-button/partials/code/component-api.md
Labels: packages/components

#1375 Replace deprecated links
  .changeset/empty-lions-doubt.md
  packages/components/README.md
  packages/components/tests/integration/components/hds/flight-icon/index-test.js
  packages/ember-flight-icons/README.md
  packages/ember-flight-icons/addon/components/flight-icon.js
  packages/flight-icons/README.md
  packages/tokens/README.md
Labels: packages/ember-flight-icons

#1378 re-enables inline template linting rules that were disabled in the website
  website/app/components/doc/page/tabs.hbs
  website/app/templates/head.hbs
Labels: docs-website

#1379 re-enables inline disabled linting rules in components
  packages/components/addon/components/hds/dropdown/list-item/checkmark.hbs
  packages/components/addon/components/hds/menu-primitive/index.hbs
  packages/components/addon/components/hds/tabs/index.hbs
  packages/components/addon/components/hds/tabs/tab.hbs
  packages/components/tests/dummy/app/templates/components/form/checkbox.hbs
  packages/components/tests/dummy/app/templates/components/form/radio.hbs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/dummy/app/templates/components/form/textarea.hbs
  packages/components/tests/dummy/app/templates/components/form/toggle.hbs
  packages/components/tests/dummy/app/templates/components/modal.hbs
  packages/components/tests/dummy/app/templates/foundations/icon.hbs
Labels: packages/components

#1380 Removes aria-label from stepper/indicator component
  .changeset/tiny-suns-share.md
  packages/components/addon/components/hds/stepper/step/indicator.hbs
  packages/components/addon/components/hds/stepper/task/indicator.hbs
Labels: packages/components
