Repository hashicorp/design-system, pull requests merged in 2023-11, with the labels that each got.

#1759 Only run integration tests in `ember-try`
  packages/components/config/ember-try.js
Labels: packages/components

#1738 Updating the design checklist in component checklist
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

#1749 `CodeBlock` docs (HDS-2595)
  website/app/initializers/showdown-extensions.js
  website/app/styles/app.scss
  website/app/styles/pages/components/code-block.scss
  website/app/styles/prism-dracula.scss
  website/app/styles/spacing/index.scss
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/accessibility/accessibility.md
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/overview.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/code-block/partials/specifications/states.md
  website/public/assets/components/code-block/code-block-anatomy.png
  website/public/assets/components/code-block/code-block-block-level.png
  website/public/assets/components/code-block/code-block-copy-button.png
  website/public/assets/components/code-block/code-block-dont-use-metadata.png
  website/public/assets/components/code-block/code-block-focus-header.png
  website/public/assets/components/code-block/code-block-focus-no-header.png
  website/public/assets/components/code-block/code-block-line-highlighting.png
  website/public/assets/components/code-block/code-block-line-numbers.png
  website/public/assets/components/code-block/code-block-line-selection.png
  website/public/assets/components/code-block/code-block-metadata.png
  website/public/assets/components/code-block/code-block-rounded-standalone.png
  website/public/assets/illustrations/components/code-block.jpg
  website/tests/acceptance/components/code-block.js
Labels: docs-website

#1762 Update focus details for `Modal`
  website/docs/components/modal/partials/accessibility/accessibility.md
Labels: docs-website

#1704 Upgrade Ember to v5.3
  .github/workflows/ci-components.yml
  packages/components/.eslintrc.js
  packages/components/.gitignore
  packages/components/.watchmanconfig
  packages/components/config/ember-try.js
  packages/components/package.json
  packages/components/tests/dummy/config/ember-cli-update.json
  packages/components/tests/helpers/index.js
  packages/components/tsconfig.declarations.json
  packages/components/tsconfig.json
  packages/components/types/dummy/index.d.ts
  packages/ember-flight-icons/.eslintrc.js
  packages/ember-flight-icons/.gitignore
  packages/ember-flight-icons/.watchmanconfig
  packages/ember-flight-icons/config/ember-try.js
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/tests/dummy/config/ember-cli-update.json
  packages/ember-flight-icons/tests/helpers/index.js
  packages/ember-flight-icons/tsconfig.declarations.json
  website/.eslintrc.js
  website/.gitignore
  website/.watchmanconfig
  website/app/styles/pages/home.scss
  website/config/ember-cli-update.json
  website/package.json
  website/tests/helpers/index.js
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

#1769 Fix `HdsInteractiveSignature` type import
  .changeset/shy-lamps-drive.md
  packages/components/addon/components/hds/button/index.ts
Labels: packages/components

#1756 Upgrade patch and minor `dependencies`
  .changeset/dry-eels-pretend.md
  .changeset/pink-mayflies-speak.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

#1757 Upgrade major `devDependencies`
  packages/codemods/package.json
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/package.json
  packages/tokens/package.json
  website/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens, packages/components, packages/ember-flight-icons

#1771 skip dropdown test to debug instability issues
  packages/components/tests/acceptance/components/hds/dropdown-test.js
Labels: packages/components

#1695 Acceptance test with a11y audit for side-nav component
  packages/components/tests/acceptance/components/hds/side-nav-test.js
  packages/components/tests/dummy/app/components/shw/placeholder/index.js
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

#1761 Upgrade major `dependencies`
  .changeset/modern-monkeys-fold.md
  .changeset/popular-hornets-promise.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons

#1763 add static svg sprite sheet file
  .changeset/mighty-singers-prove.md
  packages/flight-icons/scripts/build-parts/generateBundleSVGSprite.ts
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
Labels: packages/flight-icons

#1774 add external link support to breadcrumb
  .changeset/nervous-boxes-vanish.md
  packages/components/addon/components/hds/breadcrumb/item.hbs
  website/docs/components/breadcrumb/partials/code/component-api.md
Labels: packages/components, docs-website

#1764 Version Packages
  .changeset/dry-eels-pretend.md
  .changeset/mighty-singers-prove.md
  .changeset/modern-monkeys-fold.md
  .changeset/nervous-boxes-vanish.md
  .changeset/pink-mayflies-speak.md
  .changeset/popular-hornets-promise.md
  .changeset/shy-lamps-drive.md
  .changeset/yellow-chairs-sin.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, docs-website

#1777 Added changelog entries for Figma component and foundations
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
Labels: packages/components

#1780 fix doc link
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

#1778 Small clarification about usage of the `CodeBlock` component
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

#1781 fix icon library link
  website/docs/icons/usage-guidelines/partials/code/how-to-use.md
Labels: docs-website

#1782 satisfy `@ember/string` peerDep
  .changeset/rich-gifts-matter.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

#1784 Generate Figma changelog entries
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website

#1776 feat: add IconName type to iconNames export
  .changeset/short-forks-cross.md
  packages/flight-icons/scripts/build-parts/generateBundleSVG.ts
  packages/flight-icons/svg/index.d.ts
Labels: packages/flight-icons

#1783 Version Packages
  .changeset/rich-gifts-matter.md
  .changeset/short-forks-cross.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, docs-website

#1786 Fix visible scrollbar in SideNav when collapsed
  .changeset/shy-impalas-float.md
  packages/components/app/styles/components/side-nav/content.scss
Labels: packages/components

#1790 `AppFooter::StatusLink`: Fix predefined statuses—replace "critical" with "outage" (HDS-2854)
  .changeset/old-forks-scream.md
  packages/components/addon/components/hds/app-footer/status-link.js
  packages/components/app/styles/components/app-footer.scss
  packages/components/tests/integration/components/hds/app-footer/status-link-test.js
  website/docs/components/app-footer/partials/code/component-api.md
Labels: packages/components, docs-website

#1798 `CodeBlock`: Fix line wrapping so overflowing strings wrap
  .changeset/wicked-items-guess.md
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

#1795 Version Packages
  .changeset/old-forks-scream.md
  .changeset/shy-impalas-float.md
  .changeset/wicked-items-guess.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#1794 Clarify `isMinimized` docs
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

#1772 Upgrade `stylelint-config-standard-scss` to `11.1.0`
  packages/components/.prettierrc.js
  packages/components/.stylelintrc.js
  packages/components/package.json
  packages/ember-flight-icons/.prettierrc.js
  website/.prettierrc.js
  website/app/styles/breakpoints/index.scss
  website/app/styles/doc-components/color-swatch.scss
  website/package.json
  yarn.lock
Labels: packages/components

#1800 Clarify validation docs
  website/docs/patterns/form-patterns/partials/validation/validation.md
  website/public/assets/patterns/form-patterns/delayed-validation-example.mp4
  website/public/assets/patterns/form-patterns/validation-on-focus-change.mp4
Labels: docs-website

#1808 Document `SideNav`s `onToggleMinimizedStatus`
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

#1807 `SideNav` - Reduce the width of `SideNav::ToggleButton`
  .changeset/khaki-penguins-remain.md
  packages/components/app/styles/components/side-nav/toggle-button.scss
  packages/components/app/styles/components/side-nav/vars.scss
Labels: packages/components

#1788 Website Search - Indexing script - Part 1
  website/docs-scraper/config.mjs
  website/docs-scraper/extract-content-from-markdown.mjs
  website/docs-scraper/index-website-content.mjs
  website/docs-scraper/parts/debugLogNodes.mjs
  website/docs-scraper/parts/getPageTopRoute.mjs
  website/docs-scraper/parts/getWcagCriteria.mjs
  website/docs-scraper/parts/remarkHtmlSanitise.mjs
  website/docs-scraper/parts/remarkProcessCustomImageFormat.mjs
  website/docs-scraper/parts/remarkRemoveCodeBlocks.mjs
  website/docs-scraper/parts/remarkRemoveComments.mjs
  website/docs-scraper/parts/remarkStripHeliosContentBlocksDelimiters.mjs
  website/docs-scraper/parts/remarkStripHeliosHandlebarsExpressions.mjs
  website/docs-scraper/parts/remarkStripHeliosReleaseNotesMetadata.mjs
  website/docs-scraper/parts/replaceDocTags.mjs
  website/docs-scraper/parts/setNodesHierarchy.mjs
  website/docs-scraper/parts/stringifyChildNodes.mjs
  website/docs-scraper/parts/walkdir.mjs
  website/docs-scraper/populateAlgoliaRecords.mjs
  website/docs/testing/markdown/scraping-playground.md
  website/package.json
  yarn.lock
Labels: docs-website

#1806 `Table` - Add example with `rowspan/colspan` to showcase
  packages/components/tests/dummy/app/templates/components/table.hbs
Labels: packages/components

#1820 Fix the `isSortable="true”` declarations
  packages/components/tests/dummy/app/templates/components/pagination.hbs
  packages/components/tests/dummy/app/templates/components/table.hbs
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1826 Remove double entry in the `Wcag` list in the `AppFooter` page
  website/docs/components/app-footer/partials/accessibility/accessibility.md
Labels: docs-website

#1829 Remove some content from one of the examples of `Tabs`
  website/docs/components/tabs/partials/guidelines/guidelines.md
Labels: docs-website

#1831 Website - Remove leftover “dummy” class names
  packages/components/tests/dummy/app/styles/_globals.scss
  website/docs/components/avatar/partials/guidelines/guidelines.md
  website/docs/components/empty-state/partials/specifications/design-guidelines.md
  website/docs/foundations/colors/partials/other/palette.md
Labels: packages/components, docs-website

#1819 `Table` - Add ability to visually hide a table column header
  .changeset/tidy-rivers-sin.md
  packages/components/addon/components/hds/table/index.hbs
  packages/components/addon/components/hds/table/th.hbs
  packages/components/tests/dummy/app/templates/components/table.hbs
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1834 `CodeBlock`: Add Ruby language support (HDS-2926)
  .changeset/friendly-hounds-jog.md
  packages/components/addon/components/hds/code-block/index.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1832 Remove draft code for `Avatar` and `EmptyState` components
  packages/components/addon/components/hds/avatar/index.hbs
  packages/components/app/components/hds/avatar/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/avatar.scss
  packages/components/tests/acceptance/components/hds/avatar-test.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/avatar.js
  packages/components/tests/dummy/app/routes/components/empty-state.js
  packages/components/tests/dummy/app/templates/components/avatar.hbs
  packages/components/tests/dummy/app/templates/components/empty-state.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/avatar/index-test.js
  website/docs/components/avatar/index.md
  website/docs/components/avatar/partials/accessibility/accessibility.md
  website/docs/components/avatar/partials/code/component-api.md
  website/docs/components/avatar/partials/code/how-to-use.md
  website/docs/components/avatar/partials/guidelines/guidelines.md
  website/docs/components/avatar/partials/guidelines/overview.md
  website/docs/components/empty-state/index.md
  website/docs/components/empty-state/partials/accessibility/accessibility.md
  website/docs/components/empty-state/partials/code/component-api.md
  website/docs/components/empty-state/partials/code/how-to-use.md
  website/docs/components/empty-state/partials/specifications/design-guidelines.md
Labels: packages/components, docs-website

#1837 Website - fix color page
  website/docs/foundations/colors/partials/other/palette.md
Labels: docs-website

#1835 `Table` documentation - Tweak to wording of an example
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

#1838 Attempt to fix `yarn sync` on `flight-icons`
  packages/flight-icons/scripts/sync-parts/exportAssetsToFolder.ts
Labels: packages/flight-icons

#1821 allow for specific icons to be loaded in isolation
  website/app/components/doc/icons-list/item.hbs
  website/app/styles/doc-components/icons-list/index.scss
  website/docs/icons/library/index.js
  website/tests/acceptance/icon-test.js
Labels: docs-website

#1804 Version Packages
  .changeset/cuddly-melons-occur.md
  .changeset/friendly-hounds-jog.md
  .changeset/honest-olives-kneel.md
  .changeset/khaki-penguins-remain.md
  .changeset/tidy-rivers-sin.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, docs-website

#1841 Update release notes format
  .changeset/changelog-hds.cjs.js
  packages/codemods/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/ember-flight-icons/CHANGELOG.md
  packages/flight-icons/CHANGELOG.md
  packages/tokens/CHANGELOG.md
  website/app/styles/pages/whats-new/changelog.scss
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: packages/flight-icons, packages/tokens, packages/components, packages/ember-flight-icons, docs-website

#1845 Website - Include the token value as searchable field
  website/docs/foundations/tokens/index.js
Labels: docs-website

#1799 Add Character Count documentation
  website/docs/components/form/masked-input/index.js
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/primitives/partials/code/component-api.md
  website/docs/components/form/primitives/partials/code/how-to-use.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
  website/docs/components/form/text-input/index.js
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/index.js
  website/docs/components/form/textarea/partials/code/component-api.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/public/assets/components/form/masked-input/masked-input-anatomy.png
  website/public/assets/components/form/primitives/character-count-default-interactions.mp4
  website/public/assets/components/form/primitives/character-count-do-helper-text.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text-overlap.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text.png
  website/public/assets/components/form/text-input/textinput-anatomy.png
  website/public/assets/components/form/textarea/textarea-anatomy.png
Labels: docs-website

#1802 Add `Form::CharacterCount`
  .changeset/brown-berries-tap.md
  packages/components/addon/components/hds/form/character-count/index.hbs
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/addon/components/hds/form/field/index.hbs
  packages/components/addon/components/hds/form/masked-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/textarea/field.hbs
  packages/components/app/components/hds/form/character-count/index.js
  packages/components/app/styles/components/form/character-count.scss
  packages/components/app/styles/components/form/field.scss
  packages/components/app/styles/components/form/index.scss
  packages/components/tests/dummy/app/controllers/components/form/base-elements.js
  packages/components/tests/dummy/app/controllers/components/form/masked-input.js
  packages/components/tests/dummy/app/controllers/components/form/text-input.js
  packages/components/tests/dummy/app/controllers/components/form/textarea.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/dummy/app/templates/components/form/textarea.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
  packages/components/tests/integration/components/hds/form/field/index-test.js
  packages/components/tests/integration/components/hds/form/masked-input/field-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  packages/components/tests/integration/components/hds/form/textarea/field-test.js
  website/docs/components/form/masked-input/index.js
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/primitives/partials/code/component-api.md
  website/docs/components/form/primitives/partials/code/how-to-use.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
  website/docs/components/form/text-input/index.js
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
  website/docs/components/form/textarea/index.js
  website/docs/components/form/textarea/partials/code/component-api.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/guidelines/guidelines.md
  website/public/assets/components/form/masked-input/masked-input-anatomy.png
  website/public/assets/components/form/primitives/character-count-default-interactions.mp4
  website/public/assets/components/form/primitives/character-count-do-helper-text.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text-overlap.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text.png
  website/public/assets/components/form/text-input/textinput-anatomy.png
  website/public/assets/components/form/textarea/textarea-anatomy.png
Labels: packages/components, docs-website
