Repository hashicorp/design-system, pull requests merged in 2023-09, with the labels that each got.

#1612 Remove reference to icons migration from Structure from documentation
  website/docs/icons/usage-guidelines/partials/guidelines/overview.md
Labels: docs-website

#1615 `Text` - Remove extra console log
  .changeset/curly-zebras-teach.md
  packages/components/addon/components/hds/text/index.js
Labels: packages/components

#1621 (nitpick) (non-blocking) Update component-api.md
  website/docs/components/dropdown/partials/code/component-api.md
Labels: docs-website

#1622 Updated dropdown code samples
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

#1618 `Dropdown`: checkbox gap fix (HDS-2332)
  .changeset/honest-stingrays-whisper.md
  packages/components/addon/components/hds/dropdown/list-item/checkbox.hbs
  packages/components/addon/components/hds/dropdown/list-item/radio.hbs
  packages/components/app/styles/components/dropdown.scss
Labels: packages/components

#1617 `Link::Standalone`: Update font-weight (HDS-2437)
  .changeset/new-garlics-vanish.md
  packages/components/app/styles/components/link/standalone.scss
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/link/standalone/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1624 Improve documentation for the `Dropdown::ListItem::CopyItem`
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

#1619 Website "Contribution" documentation page update following the "Contribution/Collaboration Model" RFC
  website/docs/about/contribution.md
Labels: docs-website

#1628 `Stepper` - Remove useless CSS declarations
  .changeset/warm-schools-serve.md
  packages/components/app/styles/components/stepper/step-indicator.scss
Labels: packages/components

#1629 Adding more context around link usage in buttons
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/button/partials/guidelines/guidelines.md
Labels: docs-website

#1586 `Hds::Form::TextInput::Field` and `Hds::Form::MaskedInput` - Refactor to use `Hds::Form::VisibilityToggle`
  .changeset/plenty-months-lick.md
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/masked-input/base.js
  packages/components/addon/components/hds/form/masked-input/field.hbs
  packages/components/addon/components/hds/form/text-input/base.js
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.js
  packages/components/addon/components/hds/form/visibility-toggle/index.hbs
  packages/components/app/components/hds/form/visibility-toggle/index.js
  packages/components/app/styles/components/form/index.scss
  packages/components/app/styles/components/form/masked-input.scss
  packages/components/app/styles/components/form/text-input.scss
  packages/components/app/styles/components/form/visibility-toggle.scss
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/integration/components/hds/form/masked-input/base-test.js
  packages/components/tests/integration/components/hds/form/masked-input/field-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  packages/components/tests/integration/components/hds/form/visibility-toggle/index-test.js
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1558 `Hds::Dropdown` - remove deprecated `@listPositions` values
  .changeset/shy-ads-care.md
  packages/components/addon/components/hds/dropdown/index.js
  packages/components/app/styles/components/dropdown.scss
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  packages/components/tests/dummy/app/templates/components/table.hbs
  packages/components/tests/integration/components/hds/dropdown/index-test.js
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1643 Fix small typos
  website/docs/components/form/masked-input/partials/code/component-api.md
Labels: docs-website

#1640 `IconTile` - Add "Vault Secrets" product
  .changeset/nervous-lizards-wave.md
  packages/components/addon/components/hds/icon-tile/index.js
  packages/components/app/styles/components/icon-tile.scss
  packages/components/tests/dummy/app/templates/components/icon-tile.hbs
  packages/components/tests/integration/components/hds/icon-tile/index-test.js
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/src/global/color/palette-products.json
  packages/tokens/src/products/shared/color/semantic-product-vault-secrets.json
  website/cspell-config/project-words.txt
  website/docs/components/icon-tile/partials/code/component-api.md
  website/docs/components/icon-tile/partials/guidelines/guidelines.md
  website/docs/testing/components/layout/index.md
Labels: packages/tokens, packages/components, docs-website

#1616 Version Packages
  .changeset/curly-zebras-teach.md
  .changeset/honest-stingrays-whisper.md
  .changeset/lovely-fireants-occur.md
  .changeset/nervous-lizards-wave.md
  .changeset/new-garlics-vanish.md
  .changeset/warm-schools-serve.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  yarn.lock
Labels: packages/components

#1635 `Dropdown`: modify @height to use max-height (HDS-2513)
  .changeset/red-comics-laugh.md
  packages/components/addon/components/hds/dropdown/index.hbs
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: packages/components, docs-website

#1636 Fixing incorrect Figma links
  website/docs/components/accordion/index.md
  website/docs/components/form/file-input/index.md
  website/docs/components/segmented-group/index.md
  website/docs/components/separator/index.md
Labels: docs-website

#1647 `SideNav` - Small update to the documentation about CSS variable for "desktop" viewport
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

#1646 Version Packages
  .changeset/perfect-pens-cry.md
  .changeset/red-comics-laugh.md
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: packages/components

#1626 Introduce a custom "copy to clipboard" library to replace `ember-cli-clipboard/clipboard.js` + Update `Copy::Button/Snippet` components
  .changeset/strong-bears-kick.md
  packages/components/addon/components/hds/copy/button/index.hbs
  packages/components/addon/components/hds/copy/button/index.js
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/addon/modifiers/hds-clipboard.js
  packages/components/app/modifiers/hds-clipboard.js
  packages/components/package.json
  packages/components/tests/dummy/app/controllers/components/copy/button.js
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
  packages/components/tests/integration/components/hds/copy/button/index-test.js
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
  packages/components/tests/integration/modifiers/hds-clipboard-test.js
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  yarn.lock
Labels: packages/components, docs-website

#1639 `Form::MaskedInput` - Fix logic for copy button
  .changeset/fresh-oranges-add.md
  packages/components/addon/components/hds/form/masked-input/base.hbs
Labels: packages/components

#1631 `Dropdown::ListItem::CopyItem` - Update defaults for `@color` and `@isTruncated`
  .changeset/little-ads-explain.md
  packages/components/addon/components/hds/dropdown/list-item/copy-item.hbs
  packages/components/addon/components/hds/dropdown/list-item/copy-item.js
  packages/components/tests/dummy/app/templates/components/dropdown.hbs
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1633 `Copy::Snippet` - Update `width` behaviour implementation
  .changeset/strange-birds-juggle.md
  packages/components/addon/components/hds/copy/snippet/index.hbs
  packages/components/addon/components/hds/copy/snippet/index.js
  packages/components/app/styles/components/copy/snippet.scss
  packages/components/tests/dummy/app/components/shw/grid/item.js
  packages/components/tests/dummy/app/styles/showcase-components/grid.scss
  packages/components/tests/dummy/app/styles/showcase-pages/button.scss
  packages/components/tests/dummy/app/templates/components/button.hbs
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
  packages/components/tests/integration/components/hds/copy/snippet/index-test.js
Labels: packages/components

#1641 `Copy::Snippet` - Fix background color for different states
  .changeset/clean-yaks-cross.md
  packages/components/app/styles/components/copy/snippet.scss
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/copy/snippet.scss
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

#1648 Update documentation for `3.0.0` release
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

#1656 Update CONTRIBUTING.md
  packages/flight-icons/CONTRIBUTING.md
Labels: packages/flight-icons

#1650 add links to our feedback form
  website/app/components/doc/page/footer.hbs
  website/app/templates/error.hbs
  website/docs/about/support.md
Labels: docs-website

#1652 `Text` component - Fix issue with whitespace
  .changeset/wise-peas-deliver.md
  packages/components/addon/components/hds/text/body.hbs
  packages/components/addon/components/hds/text/code.hbs
  packages/components/addon/components/hds/text/display.hbs
  packages/components/addon/components/hds/text/index.hbs
  packages/components/tests/dummy/app/templates/components/link/inline.hbs
Labels: packages/components

#1655 `PowerSelect` - fix style overrides when the list is positioned above
  .changeset/curvy-cherries-sin.md
  packages/components/app/styles/@hashicorp/design-system-power-select-overrides.scss
  packages/components/tests/dummy/app/templates/overrides/power-select.hbs
Labels: packages/components

#1659 Version Packages
  .changeset/curvy-cherries-sin.md
  .changeset/kind-crabs-warn.md
  .changeset/wise-peas-deliver.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons

#1662 fix capitilization of feedback change
  website/docs/about/support.md
Labels: docs-website

#1667 clarify direct contributions
  website/docs/about/contribution.md
Labels: docs-website

#1678 `Link::Standalone` increase target size
  .changeset/small-coats-return.md
  packages/components/app/styles/components/link/standalone.scss
Labels: packages/components, bug-a-thon

#1684 Match tab order in Footer to source order.
  website/app/styles/pages/application/footer.scss
Labels: bug-a-thon

#1683 `Text`: update docs to improve accessibility info (HDS-2528)
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/components/text/partials/code/how-to-use.md
Labels: docs-website, bug-a-thon

#1680 Truncation documentation fix
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/breadcrumb/partials/code/how-to-use.md
  website/docs/components/breadcrumb/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website, bug-a-thon

#1676 Emphasize `@ariaLabel` on `SideNav::Portal` must be unique
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: packages/components, docs-website, bug-a-thon

#1677 Add `aria-labelledby` to `CopyButton` in code snippet on website
  website/app/components/doc/copy-button/index.hbs
  website/app/initializers/showdown-extensions.js
Labels: docs-website, bug-a-thon
