Repository hashicorp/design-system, pull requests merged in 2023-02, with the labels that each got.

#1158 New docs website / Dynamic paths for open-graph images
  website/app/services/head-data.js
  website/app/templates/head.hbs
Labels: docs-website

#1159 ember-prism 0.13.0
  flight-website/package.json
  packages/components/package.json
  website/package.json
  yarn.lock
Labels: dependencies

#1171 yarn 3.4.1
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies

#1166 New docs website - Post launch / Blueprints update
  packages/components/NEW-COMPONENT-CHECKLIST.md
  packages/components/blueprints/hds-component-test/files/tests/dummy/app/templates/components/__name__.hbs
  packages/components/blueprints/hds-component/files/app/styles/components/__name__.scss
  website/blueprints/hds-component-docs/files/docs/components/__name__/index.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/accessibility/accessibility.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/code/component-api.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/code/how-to-use.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/code/showcase.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/guidelines/guidelines.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/guidelines/overview.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/specifications/anatomy.md
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/specifications/states.md
  website/blueprints/hds-component-docs/index.js
  website/docs/components/template/partials/accessibility/accessibility.md
  website/docs/components/template/partials/code/component-api.md
  website/docs/components/template/partials/code/how-to-use.md
  website/docs/components/template/partials/code/showcase.md
Labels: docs-website

#1070 Add `Flyout` component
  .changeset/rude-moose-stare.md
  packages/components/addon/components/hds/flyout/body.hbs
  packages/components/addon/components/hds/flyout/description.hbs
  packages/components/addon/components/hds/flyout/header.hbs
  packages/components/addon/components/hds/flyout/index.hbs
  packages/components/addon/components/hds/flyout/index.js
  packages/components/app/components/hds/flyout/body.js
  packages/components/app/components/hds/flyout/description.js
  packages/components/app/components/hds/flyout/header.js
  packages/components/app/components/hds/flyout/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/flyout.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/controllers/components/flyout.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/flyout.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/pages/db-flyout.scss
  packages/components/tests/dummy/app/templates/components/flyout.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/flyout/index-test.js
Labels: packages/components

#1152 Update `Flyout` and `Modal` docs
  website/app/routes/show.js
  website/app/styles/app.scss
  website/app/styles/pages/components/flyout.scss
  website/app/styles/pages/components/modal.scss
  website/cspell-config/dictionary-lorem.txt
  website/docs/components/flyout/index.js
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/accessibility/accessibility.md
  website/docs/components/flyout/partials/code/component-api.md
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/guidelines/overview.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/public/assets/components/flyout/flyout-anatomy.png
  website/public/assets/components/flyout/flyout-custom-content.png
  website/public/assets/components/flyout/flyout-focus-order-complex.png
  website/public/assets/components/flyout/flyout-focus-order-simple.png
  website/public/assets/components/flyout/flyout-with-code-snippet.png
  website/public/assets/components/flyout/flyout-with-complex-content.png
  website/public/assets/components/flyout/flyout-with-form.png
Labels: docs-website

#1140 Allow deep linking
  website/app/controllers/application.js
  website/app/controllers/show.js
  website/tests/acceptance/component-query-test.js
Labels: docs-website

#1137 New docs website / Frontmatter updates ("navigation" group)
  website/app/components/doc/page/sidebar.js
  website/app/components/doc/table-of-contents/index.hbs
  website/app/controllers/components.js
  website/app/controllers/foundations.js
  website/app/routes/show.js
  website/blueprints/hds-component-docs/files/docs/components/__name__/index.md
  website/docs/about/accessibility-statement.md
  website/docs/about/contribution.md
  website/docs/about/overview.md
  website/docs/about/principles.md
  website/docs/about/support.md
  website/docs/components/alert/index.md
  website/docs/components/avatar/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/button-set/index.md
  website/docs/components/button/index.md
  website/docs/components/card/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/empty-state/index.md
  website/docs/components/flyout/index.md
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/icon-tile/index.md
  website/docs/components/link/inline/index.md
  website/docs/components/link/standalone/index.md
  website/docs/components/modal/index.md
  website/docs/components/pagination/index.md
  website/docs/components/stepper/index.md
  website/docs/components/table/index.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/toast/index.md
  website/docs/getting-started/adoption.md
  website/docs/getting-started/for-designers.md
  website/docs/getting-started/for-engineers.md
  website/docs/getting-started/tutorials.md
  website/docs/overrides/power-select/index.md
  website/docs/patterns/button-alignment/index.md
  website/docs/testing/markdown/basic-styling.md
  website/docs/updates/newsletter.md
  website/docs/updates/release-notes.md
  website/docs/updates/roadmap.md
  website/docs/utilities/disclosure/index.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/interactive/index.md
  website/lib/markdown/index.js
  website/lib/markdown/markdown-to-jsonapi.js
  website/lib/markdown/table-of-contents.js
  wiki/Website-Doc-folder.md
Labels: docs-website

#1192 converts a11y support statement to a component and update docs
  website/app/components/doc/a11y-support.hbs
  website/blueprints/hds-component-docs/files/docs/components/__name__/partials/accessibility/accessibility.md
  website/docs/components/alert/partials/accessibility/accessibility.md
  website/docs/components/avatar/partials/accessibility/accessibility.md
  website/docs/components/badge-count/partials/accessibility/accessibility.md
  website/docs/components/badge/partials/accessibility/accessibility.md
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/card/partials/accessibility/accessibility.md
  website/docs/components/dropdown/partials/accessibility/accessibility.md
  website/docs/components/flyout/partials/accessibility/accessibility.md
  website/docs/components/form/checkbox/partials/accessibility/accessibility.md
  website/docs/components/form/primitives/partials/accessibility/accessibility.md
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/form/radio/partials/accessibility/accessibility.md
  website/docs/components/form/select/partials/accessibility/accessibility.md
  website/docs/components/form/text-input/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/partials/accessibility/accessibility.md
  website/docs/components/form/toggle/partials/accessibility/accessibility.md
  website/docs/components/icon-tile/partials/accessibility/accessibility.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/accessibility/accessibility.md
  website/docs/components/stepper/partials/accessibility/accessibility.md
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tag/partials/accessibility/accessibility.md
  website/docs/components/toast/partials/accessibility/accessibility.md
Labels: docs-website

#1200 Removed spellcheck CI job
  .github/workflows/ci-website.yml
Labels: docs-website

#1199 Website: updates existing table component how-to-use documentation
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

#1208 Adds missing style support for table component where th was used in tbody
  .changeset/green-mangos-hug.md
  packages/components/app/styles/components/table.scss
Labels: packages/components

#1160 `Hds::Table` - Update API to support custom sorting
  .changeset/five-cheetahs-wonder.md
  packages/components/addon/components/hds/table/index.hbs
  packages/components/addon/components/hds/table/index.js
  packages/components/addon/components/hds/table/th-sort.js
  packages/components/tests/dummy/app/controllers/components/table.js
  packages/components/tests/dummy/app/routes/components/table.js
  packages/components/tests/dummy/app/templates/components/table.hbs
  packages/components/tests/dummy/public/api/folk.json
  packages/components/tests/dummy/public/api/mock-clusters-with-status.json
  packages/components/tests/integration/components/hds/table/index-test.js
  packages/components/tests/integration/components/hds/table/th-sort-test.js
Labels: packages/components

#1215 Table: update "how to use" documentation to include custom sort
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

#1198 Website: Updates `Hds::Table` component documentation
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

#1229 Website: add accessible names to lists on home page
  website/app/components/doc/page/header/index.hbs
  website/app/templates/index.hbs
Labels: docs-website
