Repository hashicorp/design-system, pull requests merged in 2023-04, with the labels that each got.

#1269 Update `Dropdown` code documentation
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

#1284 `AppFrame` component
  .changeset/cyan-horses-buy.md
  packages/components/addon/components/hds/app-frame/index.hbs
  packages/components/addon/components/hds/app-frame/index.js
  packages/components/addon/components/hds/app-frame/parts/footer.hbs
  packages/components/addon/components/hds/app-frame/parts/header.hbs
  packages/components/addon/components/hds/app-frame/parts/main.hbs
  packages/components/addon/components/hds/app-frame/parts/modals.hbs
  packages/components/addon/components/hds/app-frame/parts/sidebar.hbs
  packages/components/app/components/hds/app-frame/index.js
  packages/components/app/components/hds/app-frame/parts/footer.js
  packages/components/app/components/hds/app-frame/parts/header.js
  packages/components/app/components/hds/app-frame/parts/main.js
  packages/components/app/components/hds/app-frame/parts/modals.js
  packages/components/app/components/hds/app-frame/parts/sidebar.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/app-frame.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/controllers/layouts/app-frame.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/layouts/app-frame.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/app-frame.scss
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/dummy/app/templates/layouts/app-frame.hbs
  packages/components/tests/integration/components/hds/app-frame/index-test.js
  website/app/components/doc/page/sidebar.js
  website/app/controllers/components.js
  website/app/styles/app.scss
  website/app/styles/pages/layouts/app-frame.scss
  website/app/templates/components.hbs
  website/docs/layouts/app-frame/index.js
  website/docs/layouts/app-frame/index.md
  website/docs/layouts/app-frame/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
  website/lib/markdown/table-of-contents.js
  website/public/assets/illustrations/layouts/app-frame.jpg
Labels: packages/components

#1313 `SideNav` component - Add component-specific design tokens
  .changeset/rude-tips-divide.md
  packages/components/app/styles/components/side-nav/content.scss
  packages/components/app/styles/components/side-nav/header.scss
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/app/styles/components/side-nav/vars.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/devdot/tokens.json
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/side-nav.json
Labels: packages/components

#1317 `AppFrame` - change position in the DOM for the “modals” container
  .changeset/shaggy-schools-fold.md
  packages/components/addon/components/hds/app-frame/index.hbs
Labels: packages/components

#1321 `SideNav` - Extract a "base" component
  .changeset/empty-apricots-hear.md
  packages/components/addon/components/hds/side-nav/base.hbs
  packages/components/addon/components/hds/side-nav/index.hbs
  packages/components/addon/components/hds/side-nav/index.js
  packages/components/app/components/hds/side-nav/base.js
  packages/components/app/styles/components/side-nav/main.scss
  packages/components/app/styles/components/side-nav/vars.scss
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
  packages/components/tests/integration/components/hds/side-nav/base-test.js
  website/docs/components/side-nav/partials/code/component-api.md
Labels: packages/components

#1309 Add Flyout Footer
  .changeset/odd-beans-sneeze.md
  packages/components/addon/components/hds/flyout/footer.hbs
  packages/components/addon/components/hds/flyout/index.hbs
  packages/components/app/components/hds/flyout/footer.js
  packages/components/app/styles/components/flyout.scss
  packages/components/tests/dummy/app/templates/components/flyout.hbs
  packages/components/tests/integration/components/hds/flyout/index-test.js
  website/docs/components/flyout/partials/code/component-api.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/specifications/anatomy.md
  website/docs/components/modal/partials/code/component-api.md
  website/public/assets/components/flyout/flyout-anatomy.png
  website/public/assets/components/flyout/flyout-complex-actions.png
  website/public/assets/components/flyout/flyout-complex-footer.png
  website/public/assets/components/flyout/flyout-simple-actions.png
  website/public/assets/components/flyout/flyout-vs-modal-01.png
  website/public/assets/components/flyout/flyout-vs-modal-02.png
  website/public/assets/components/flyout/flyout-vs-modal.png
  website/public/assets/components/flyout/form-in-flyout.png
Labels: documentation, enhancement, packages/components

#1316 Add `SegmentedGroup` component
  .changeset/grumpy-monkeys-relate.md
  packages/components/addon/components/hds/form/checkbox/field.hbs
  packages/components/addon/components/hds/form/field/index.hbs
  packages/components/addon/components/hds/form/radio/field.hbs
  packages/components/addon/components/hds/form/select/field.hbs
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/textarea/field.hbs
  packages/components/addon/components/hds/form/toggle/base.hbs
  packages/components/addon/components/hds/form/toggle/base.js
  packages/components/addon/components/hds/form/toggle/field.hbs
  packages/components/addon/components/hds/segmented-group/index.hbs
  packages/components/app/components/hds/segmented-group/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/form/field.scss
  packages/components/app/styles/components/segmented-group.scss
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/segmented-group.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/segmented-group.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/form/checkbox/field-test.js
  packages/components/tests/integration/components/hds/form/field/index-test.js
  packages/components/tests/integration/components/hds/form/radio/field-test.js
  packages/components/tests/integration/components/hds/form/select/field-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  packages/components/tests/integration/components/hds/form/textarea/field-test.js
  packages/components/tests/integration/components/hds/segmented-group/index-test.js
Labels: packages/components

#1326 Cv tooltip design docs
  website/docs/components/tooltip/index.md
  website/docs/components/tooltip/partials/accessibility/accessibility.md
  website/docs/components/tooltip/partials/guidelines/guidelines.md
  website/docs/components/tooltip/partials/guidelines/overview.md
  website/docs/components/tooltip/partials/specifications/anatomy.md
  website/public/assets/components/tooltip/tooltip-anatomy.png
  website/public/assets/components/tooltip/tooltip-focus.png
  website/public/assets/components/tooltip/tooltip-offset-do.png
  website/public/assets/components/tooltip/tooltip-offset-dont.png
  website/public/assets/components/tooltip/tooltip-placement.png
  website/public/assets/components/tooltip/tooltip-spacing.png
  website/public/assets/components/tooltip/tooltip-text-formatting.png
  website/public/assets/components/tooltip/tooltip-text-wrapping.png
  website/public/assets/components/tooltip/tooltip-when-not-to-use.png
  website/public/assets/components/tooltip/tooltip-when-to-use.png
  website/public/assets/illustrations/components/tooltip.jpg
Labels: docs-website

#1332 Add `SegmentedGroup` code docs
  website/docs/components/segmented-group/index.md
  website/docs/components/segmented-group/partials/accessibility/accessibility.md
  website/docs/components/segmented-group/partials/code/component-api.md
  website/docs/components/segmented-group/partials/code/how-to-use.md
Labels: docs-website

#1334 `SideNav` - Add missing override of `Dropdown::ToggleButton`
  .changeset/tasty-oranges-behave.md
  packages/components/app/styles/components/side-nav/header.scss
  packages/components/tests/dummy/app/templates/components/side-nav.hbs
Labels: packages/components

#1282 Add `Segmented Group` documentation
  website/docs/components/segmented-group/index.md
  website/docs/components/segmented-group/partials/accessibility/accessibility.md
  website/docs/components/segmented-group/partials/code/component-api.md
  website/docs/components/segmented-group/partials/code/how-to-use.md
  website/docs/components/segmented-group/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/partials/guidelines/overview.md
  website/docs/components/segmented-group/partials/specifications/anatomy.md
  website/public/assets/components/form/segmented-group/segmented-group-anatomy-base.png
  website/public/assets/components/form/segmented-group/segmented-group-base-component.png
  website/public/assets/components/form/segmented-group/segmented-group-example-filter-pattern-01-open.png
  website/public/assets/components/form/segmented-group/segmented-group-example-filter-pattern-01.png
  website/public/assets/components/form/segmented-group/segmented-group-example-form-01.png
  website/public/assets/components/form/segmented-group/segmented-group-example-form-02.png
  website/public/assets/components/form/segmented-group/segmented-group-example-form-03.png
  website/public/assets/components/form/segmented-group/segmented-group-states.png
  website/public/assets/illustrations/components/form/segmented-group.jpg
Labels: docs-website

#1283 `Tooltip` component (HDS-1743)
  .changeset/cyan-panthers-kiss.md
  packages/components/addon/components/hds/tooltip-button/index.hbs
  packages/components/addon/components/hds/tooltip-button/index.js
  packages/components/addon/modifiers/hds-tooltip.js
  packages/components/app/components/hds/tooltip-button/index.js
  packages/components/app/modifiers/hds-tooltip.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/tooltip.scss
  packages/components/package.json
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/tooltip.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-pages/tooltip.scss
  packages/components/tests/dummy/app/templates/components/tooltip.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/tooltip/tooltip-button-test.js
  packages/components/tests/integration/components/hds/tooltip/tooltip-modifier-test.js
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/devdot/tokens.json
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/tooltip.json
  website/docs/components/tooltip/index.md
  website/docs/components/tooltip/partials/accessibility/accessibility.md
  website/docs/components/tooltip/partials/code/component-api.md
  website/docs/components/tooltip/partials/code/how-to-use.md
  website/docs/components/tooltip/partials/code/showcase.md
  website/docs/components/tooltip/partials/guidelines/guidelines.md
  website/docs/components/tooltip/partials/guidelines/overview.md
  website/docs/components/tooltip/partials/specifications/anatomy.md
  website/docs/components/tooltip/partials/specifications/states.md
  website/public/assets/components/tooltip/tooltip-anatomy.png
  website/public/assets/components/tooltip/tooltip-focus.png
  website/public/assets/components/tooltip/tooltip-offset-do.png
  website/public/assets/components/tooltip/tooltip-offset-dont.png
  website/public/assets/components/tooltip/tooltip-placement.png
  website/public/assets/components/tooltip/tooltip-spacing.png
  website/public/assets/components/tooltip/tooltip-text-formatting.png
  website/public/assets/components/tooltip/tooltip-text-wrapping.png
  website/public/assets/components/tooltip/tooltip-when-not-to-use.png
  website/public/assets/components/tooltip/tooltip-when-to-use.png
  website/public/assets/illustrations/components/tooltip.jpg
  yarn.lock
Labels: packages/components

#1333 Guidelines for Badge in a Radio Card
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
Labels: docs-website
