Repository hashicorp/design-system, pull requests merged in 2023-08, with the labels that each got.

#1526 Update `Tabs` usage guidelines
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/docs/components/tabs/partials/specifications/anatomy.md
  website/docs/components/tabs/partials/specifications/states.md
  website/public/assets/components/tabs/tab-behavior-single-button.png
  website/public/assets/components/tabs/tab-item-anatomy.png
  website/public/assets/components/tabs/tab-usage-example-01.png
  website/public/assets/components/tabs/tab-usage-example-02.png
  website/public/assets/components/tabs/tab-usage-example-03.png
  website/public/assets/components/tabs/tabs-container-anatomy.png
  website/public/assets/components/tabs/tabs-external-trigger.png
  website/public/assets/components/tabs/tabs-spacing-contained.png
  website/public/assets/components/tabs/tabs-spacing-nested.png
  website/public/assets/components/tabs/tabs-spacing-not-contained.png
  website/public/assets/components/tabs/tabs-states.png
Labels: docs-website

#1542 Removing outdated patterns language
  website/docs/getting-started/for-designers.md
Labels: docs-website

#1528 Add content for consistent tables
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/table/partials/guidelines/guidelines.md
  website/docs/components/table/partials/specifications/anatomy.md
  website/docs/components/table/partials/specifications/states.md
  website/public/assets/components/table/center-justified-alignment.png
  website/public/assets/components/table/end-alignment-example-02.png
  website/public/assets/components/table/end-alignment-example-date.png
  website/public/assets/components/table/end-alignment-example-more-options.png
  website/public/assets/components/table/end-alignment-example.png
  website/public/assets/components/table/end-alignment-variable-length.png
  website/public/assets/components/table/icon-grouping.png
  website/public/assets/components/table/icon-product-branding.png
  website/public/assets/components/table/icon-status.png
  website/public/assets/components/table/icon-tile-product-branding.png
  website/public/assets/components/table/icon-without-label.png
  website/public/assets/components/table/link-example.png
  website/public/assets/components/table/longform-content-links.png
  website/public/assets/components/table/multiple-links.png
  website/public/assets/components/table/start-alignment-example.png
  website/public/assets/components/table/table-accessibility-tooltip.png
  website/public/assets/components/table/table-alignment-do.png
  website/public/assets/components/table/table-alignment-dont.png
  website/public/assets/components/table/table-cell-anatomy.png
  website/public/assets/components/table/table-cell-focus-do.png
  website/public/assets/components/table/table-cell-focus-dont.png
  website/public/assets/components/table/table-col-placement.png
  website/public/assets/components/table/table-density.png
  website/public/assets/components/table/table-header-anatomy.png
  website/public/assets/components/table/table-header-states.png
  website/public/assets/components/table/table-row-placement.png
  website/public/assets/components/table/table-sorting.png
  website/public/assets/components/table/table-striping.png
  website/public/assets/components/table/with-service-icon.png
Labels: docs-website

#1545 Remove testing for “splattributes” from integration tests
  packages/components/tests/integration/components/hds/accordion/index-test.js
  packages/components/tests/integration/components/hds/dropdown/index-test.js
  packages/components/tests/integration/components/hds/flyout/index-test.js
  packages/components/tests/integration/components/hds/form/checkbox/base-test.js
  packages/components/tests/integration/components/hds/form/checkbox/field-test.js
  packages/components/tests/integration/components/hds/form/checkbox/group-test.js
  packages/components/tests/integration/components/hds/form/error/index-test.js
  packages/components/tests/integration/components/hds/form/field/index-test.js
  packages/components/tests/integration/components/hds/form/fieldset/index-test.js
  packages/components/tests/integration/components/hds/form/helper-text/index-test.js
  packages/components/tests/integration/components/hds/form/label/index-test.js
  packages/components/tests/integration/components/hds/form/legend/index-test.js
  packages/components/tests/integration/components/hds/form/masked-input/base-test.js
  packages/components/tests/integration/components/hds/form/masked-input/field-test.js
  packages/components/tests/integration/components/hds/form/radio-card/group-test.js
  packages/components/tests/integration/components/hds/form/radio-card/index-test.js
  packages/components/tests/integration/components/hds/form/radio/base-test.js
  packages/components/tests/integration/components/hds/form/radio/field-test.js
  packages/components/tests/integration/components/hds/form/radio/group-test.js
  packages/components/tests/integration/components/hds/form/select/base-test.js
  packages/components/tests/integration/components/hds/form/select/field-test.js
  packages/components/tests/integration/components/hds/form/text-input/base-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  packages/components/tests/integration/components/hds/form/textarea/base-test.js
  packages/components/tests/integration/components/hds/form/textarea/field-test.js
  packages/components/tests/integration/components/hds/form/toggle/base-test.js
  packages/components/tests/integration/components/hds/form/toggle/field-test.js
  packages/components/tests/integration/components/hds/form/toggle/group-test.js
  packages/components/tests/integration/components/hds/interactive/index-test.js
  packages/components/tests/integration/components/hds/modal/index-test.js
  packages/components/tests/integration/components/hds/pagination/compact-test.js
  packages/components/tests/integration/components/hds/pagination/nav/arrow-test.js
  packages/components/tests/integration/components/hds/pagination/nav/ellipsis-test.js
  packages/components/tests/integration/components/hds/pagination/nav/number-test.js
  packages/components/tests/integration/components/hds/pagination/numbered-test.js
  packages/components/tests/integration/components/hds/pagination/size-selector-test.js
  packages/components/tests/integration/components/hds/reveal/index-test.js
  packages/components/tests/integration/components/hds/side-nav/base-test.js
  packages/components/tests/integration/components/hds/side-nav/header/home-link-test.js
  packages/components/tests/integration/components/hds/side-nav/header/icon-button-test.js
  packages/components/tests/integration/components/hds/side-nav/header/index-test.js
  packages/components/tests/integration/components/hds/side-nav/index-test.js
  packages/components/tests/integration/components/hds/side-nav/list/back-link-test.js
  packages/components/tests/integration/components/hds/side-nav/list/index-test.js
  packages/components/tests/integration/components/hds/side-nav/list/item-test.js
  packages/components/tests/integration/components/hds/side-nav/list/link-test.js
  packages/components/tests/integration/components/hds/side-nav/portal/index-test.js
  packages/components/tests/integration/components/hds/tooltip/tooltip-button-test.js
Labels: packages/components

#1549 use `@ember/test-waiters` to instruct Ember to wait for modal `close`
  .changeset/pretty-ways-rule.md
  packages/components/addon/components/hds/modal/index.js
  packages/components/package.json
  yarn.lock
Labels: packages/components

#1546 `Copy` - Showcase tweaks
  packages/components/tests/dummy/app/controllers/components/copy/button.js
  packages/components/tests/dummy/app/controllers/components/copy/snippet.js
  packages/components/tests/dummy/app/routes/components/copy/button.js
  packages/components/tests/dummy/app/routes/components/copy/snippet.js
  packages/components/tests/dummy/app/styles/showcase-components/grid.scss
  packages/components/tests/dummy/app/styles/showcase-pages/copy/button.scss
  packages/components/tests/dummy/app/templates/components/copy/button.hbs
  packages/components/tests/dummy/app/templates/components/copy/snippet.hbs
Labels: packages/components

#1552 `HDS::Flyout` - reduce test flakiness around closing Flyout when using `@ember/test-helpers`
  .changeset/strange-shoes-jam.md
  packages/components/addon/components/hds/flyout/index.js
Labels: packages/components

#1530 Fix Embroider warnings caused by incorrect export of internal utility functions
  .changeset/serious-ravens-promise.md
  packages/components/app/utils/hds-get-element-id.js
  packages/components/app/utils/hds-set-aria-described-by.js
Labels: packages/components

#1536 Version Packages
  .changeset/hot-dolphins-battle.md
  .changeset/pretty-feet-wave.md
  .changeset/pretty-ways-rule.md
  .changeset/serious-ravens-promise.md
  .changeset/strange-shoes-jam.md
  .changeset/two-pumpkins-shake.md
  .changeset/weak-eagles-accept.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons

#1553 Update percy reference to permalink
  packages/ember-flight-icons/index.js
Labels: packages/ember-flight-icons

#1554 Fix frontmatter on `CopyButton` and `CopySnippet`
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/guidelines/guidelines.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/guidelines/guidelines.md
Labels: docs-website

#1555 `Hds::SegmentedGroup` - fix `border-radius`
  .changeset/thin-bears-tap.md
  packages/components/app/styles/components/segmented-group.scss
  packages/components/tests/dummy/app/templates/components/segmented-group.hbs
Labels: packages/components

#1557 `Hds::IconTile` - remove comment on `assert`
  packages/components/addon/components/hds/icon-tile/index.js
Labels: packages/components

#1561 Update `PageHeader` character limit guidance
  website/docs/components/page-header/partials/guidelines/guidelines.md
Labels: docs-website

#1548 Add guidance around `null` and empty table values
  website/docs/components/table/index.md
  website/docs/components/table/partials/content/general.md
  website/docs/components/table/partials/content/icon-usage.md
  website/docs/components/table/partials/content/link-usage.md
  website/docs/components/table/partials/content/null-values.md
  website/docs/components/table/partials/guidelines/guidelines.md
  website/public/assets/components/table/null-data-set-in-a-table.png
  website/public/assets/components/table/null-empty-cells.png
  website/public/assets/components/table/null-value-badge-example.png
  website/public/assets/components/table/null-value-cause-tooltip.png
  website/public/assets/components/table/null-value-comparative-value.png
  website/public/assets/components/table/null-value-fallback-em-dash.png
  website/public/assets/components/table/null-value-fallback-na.png
  website/public/assets/components/table/null-value-text-example.png
Labels: docs-website

#1550 `Text` component - Documentation
  website/docs/components/text/index.md
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/components/text/partials/code/component-api.md
  website/docs/components/text/partials/code/how-to-use.md
  website/docs/foundations/typography/index.md
  website/docs/foundations/typography/partials/code/how-to-use.md
  website/public/assets/illustrations/components/text.jpg
Labels: docs-website

#1563 Modal: Extra text removal
  website/docs/components/modal/partials/guidelines/guidelines.md
Labels: docs-website

#1543 add config and initializer to defer loading of icon sprite
  .changeset/pretty-jobs-destroy.md
  packages/components/tests/dummy/config/environment.js
  packages/components/tests/index.html
  packages/ember-flight-icons/addon/instance-initializers/load-sprite.js
  packages/ember-flight-icons/app/instance-initializers/load-sprite.js
  packages/ember-flight-icons/index.js
  packages/ember-flight-icons/tests/index.html
  website/docs/icons/usage-guidelines/partials/code/how-to-use.md
Labels: packages/components, packages/ember-flight-icons, docs-website

#1562 Update `Button` examples to not use copy functionality
  website/docs/components/button/index.js
  website/docs/components/button/partials/code/how-to-use.md
Labels: docs-website

#1566 Update usage info for FlightIcon component
  website/docs/icons/usage-guidelines/partials/code/how-to-use.md
Labels: docs-website

#1565 Fix styles for right-aligned text in ThSort
  .changeset/young-waves-deny.md
  packages/components/app/styles/components/table.scss
  packages/components/tests/dummy/app/templates/components/table.hbs
Labels: packages/components

#1551 `SideNav` - Add missing "Component API" docs and warning about refocusing behaviour
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website

#1567 Add container support to copy/snippet and update docs
  .changeset/hungry-jokes-flash.md
  packages/components/addon/components/hds/copy/snippet/index.hbs
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
Labels: packages/components, docs-website

#1570 Remove unnecessary export of `hds/copy/index.js`
  .changeset/eight-vans-yawn.md
  packages/components/app/components/hds/copy/index.js
Labels: packages/components

#1541 `FileInput` web documentation (HDS-2279)
  website/docs/components/form/file-input/index.md
  website/docs/components/form/file-input/partials/accessibility/accessibility.md
  website/docs/components/form/file-input/partials/code/component-api.md
  website/docs/components/form/file-input/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/guidelines/guidelines.md
  website/docs/components/form/file-input/partials/specifications/anatomy.md
  website/docs/components/form/file-input/partials/specifications/states.md
  website/public/assets/components/form/file-input/file-input-anatomy.png
  website/public/assets/components/form/file-input/file-input-browsers.png
  website/public/assets/components/form/file-input/file-input-filled-multiple.png
  website/public/assets/components/form/file-input/file-input-filled-states.png
  website/public/assets/components/form/file-input/file-input-states.png
  website/public/assets/components/form/file-input/file-input-truncation.png
  website/public/assets/illustrations/components/form/file-input.jpg
Labels: docs-website

#1571 `Hds::Tabs` - Fix tabs and panels misbehaving on route change
  .changeset/large-melons-allow.md
  packages/components/addon/components/hds/tabs/index.hbs
  packages/components/addon/components/hds/tabs/index.js
  packages/components/addon/components/hds/tabs/panel.hbs
  packages/components/addon/components/hds/tabs/panel.js
  packages/components/addon/components/hds/tabs/tab.hbs
  packages/components/addon/components/hds/tabs/tab.js
Labels: packages/components

#1556 Version Packages
  .changeset/eight-vans-yawn.md
  .changeset/fuzzy-socks-agree.md
  .changeset/hungry-jokes-flash.md
  .changeset/large-melons-allow.md
  .changeset/pretty-jobs-destroy.md
  .changeset/sour-geese-bake.md
  .changeset/tender-cougars-report.md
  .changeset/thin-bears-tap.md
  .changeset/young-waves-deny.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  yarn.lock
Labels: packages/components

#1577 Remove aria-hidden from optional span
  .changeset/curvy-rice-watch.md
  packages/components/addon/components/hds/form/indicator/index.hbs
Labels: packages/components

#1579 Fix website failing in SSR
  website/app/components/doc/page/banner.js
Labels: docs-website

#1573 Add clarity about typographic inheritance for `Link::Inline`
  website/docs/components/link/inline/index.md
  website/docs/components/link/inline/partials/code/how-to-use.md
  website/docs/components/link/inline/partials/guidelines/guidelines.md
  website/docs/components/link/inline/partials/guidelines/overview.md
  website/docs/components/link/standalone/index.md
  website/docs/components/link/standalone/partials/code/how-to-use.md
  website/docs/components/link/standalone/partials/guidelines/overview.md
  website/public/assets/components/link/inline/link-inline-dont-mix.png
  website/public/assets/components/link/inline/link-inline-secondary.png
Labels: docs-website

#1585 Updated export of icons from Figma
  .changeset/beige-olives-wink.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/clipboard-x-16.svg
  packages/flight-icons/svg-original/clipboard-x-24.svg
  packages/flight-icons/svg-original/jira-16.svg
  packages/flight-icons/svg-original/jira-24.svg
  packages/flight-icons/svg-original/jira-color-16.svg
  packages/flight-icons/svg-original/jira-color-24.svg
  packages/flight-icons/svg-original/opa-24.svg
  packages/flight-icons/svg-original/opa-color-24.svg
  packages/flight-icons/svg-original/vercel-16.svg
  packages/flight-icons/svg-original/vercel-24.svg
  packages/flight-icons/svg-original/vercel-color-16.svg
  packages/flight-icons/svg-original/vercel-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/jira-16.tsx
  packages/flight-icons/svg-react/jira-24.tsx
  packages/flight-icons/svg-react/jira-color-16.tsx
  packages/flight-icons/svg-react/jira-color-24.tsx
  packages/flight-icons/svg-react/opa-24.tsx
  packages/flight-icons/svg-react/opa-color-24.tsx
  packages/flight-icons/svg-react/vercel-16.tsx
  packages/flight-icons/svg-react/vercel-24.tsx
  packages/flight-icons/svg-react/vercel-color-16.tsx
  packages/flight-icons/svg-react/vercel-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/jira-16.svg
  packages/flight-icons/svg/jira-24.svg
  packages/flight-icons/svg/jira-color-16.svg
  packages/flight-icons/svg/jira-color-24.svg
  packages/flight-icons/svg/opa-24.svg
  packages/flight-icons/svg/opa-color-24.svg
  packages/flight-icons/svg/vercel-16.svg
  packages/flight-icons/svg/vercel-24.svg
  packages/flight-icons/svg/vercel-color-16.svg
  packages/flight-icons/svg/vercel-color-24.svg
Labels: packages/flight-icons

#1583 Updated related components
  website/docs/components/accordion/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/button-set/index.md
  website/docs/components/button/index.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/flyout/index.md
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/link/inline/index.md
  website/docs/components/link/standalone/index.md
  website/docs/components/modal/index.md
  website/docs/components/pagination/index.md
  website/docs/components/reveal/index.md
  website/docs/components/segmented-group/index.md
  website/docs/components/side-nav/index.md
  website/docs/components/table/index.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/toast/index.md
  website/docs/patterns/button-organization/index.md
  website/docs/patterns/filter-patterns/index.md
  website/docs/patterns/form-patterns/index.md
Labels: docs-website

#1589 Add indeterminate checkbox example
  website/docs/components/form/checkbox/partials/code/how-to-use.md
Labels: docs-website

#1590 Add examples for selectable `Dropdown::ListItem`s
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: docs-website

#1490 `Text` component - Code implementation
  .changeset/old-parents-repeat.md
  packages/components/addon/components/hds/text/body.hbs
  packages/components/addon/components/hds/text/body.js
  packages/components/addon/components/hds/text/code.hbs
  packages/components/addon/components/hds/text/code.js
  packages/components/addon/components/hds/text/display.hbs
  packages/components/addon/components/hds/text/display.js
  packages/components/addon/components/hds/text/index.hbs
  packages/components/addon/components/hds/text/index.js
  packages/components/app/components/hds/text/body.js
  packages/components/app/components/hds/text/code.js
  packages/components/app/components/hds/text/display.js
  packages/components/app/components/hds/text/index.js
  packages/components/app/styles/@hashicorp/design-system-components.scss
  packages/components/app/styles/components/text.scss
  packages/components/tests/acceptance/percy-test.js
  packages/components/tests/dummy/app/components/shw/flex/index.js
  packages/components/tests/dummy/app/router.js
  packages/components/tests/dummy/app/routes/components/text.js
  packages/components/tests/dummy/app/styles/app.scss
  packages/components/tests/dummy/app/styles/showcase-components/flex.scss
  packages/components/tests/dummy/app/styles/showcase-pages/text.scss
  packages/components/tests/dummy/app/templates/components/text.hbs
  packages/components/tests/dummy/app/templates/index.hbs
  packages/components/tests/integration/components/hds/text/body-test.js
  packages/components/tests/integration/components/hds/text/code-test.js
  packages/components/tests/integration/components/hds/text/display-test.js
  packages/components/tests/integration/components/hds/text/index-test.js
  website/docs/components/text/index.md
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/components/text/partials/code/component-api.md
  website/docs/components/text/partials/code/how-to-use.md
  website/docs/foundations/typography/index.md
  website/docs/foundations/typography/partials/code/how-to-use.md
  website/public/assets/illustrations/components/text.jpg
Labels: packages/components, docs-website

#1581 `Masked Input` Copy button guidelines
  website/docs/components/copy/button/index.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

#1587 `Hds::Form::MaskedInput` - Add `hasCopyButton` argument
  .changeset/silly-buckets-pay.md
  packages/components/addon/components/hds/form/masked-input/base.hbs
  packages/components/addon/components/hds/form/masked-input/base.js
  packages/components/addon/components/hds/form/masked-input/field.hbs
  packages/components/app/styles/components/form/masked-input.scss
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  website/docs/components/copy/button/index.md
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: packages/components, docs-website

#1591 `CopySnippet`: Add web docs for `@isTruncated` (HDS-2444)
  website/app/styles/app.scss
  website/app/styles/pages/components/copy-snippet.scss
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
Labels: docs-website

#1596 Update Reveal guidelines to link to the Accordion
  website/docs/components/reveal/partials/guidelines/guidelines.md
Labels: docs-website

#1607 Ember Flight Icons - Update CONTRIBUTING.md
  packages/ember-flight-icons/CONTRIBUTING.md
Labels: packages/ember-flight-icons

#1604 Tokens - Update README.md
  packages/tokens/README.md
Labels: packages/tokens

#1606 Remove `ember-named-blocks-polyfill`
  .changeset/ninety-nails-report.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

#1610 Updated export of icons from Figma
  .changeset/nervous-beans-pump.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/aws-cdk-16.svg
  packages/flight-icons/svg-original/aws-cdk-24.svg
  packages/flight-icons/svg-original/aws-cdk-color-16.svg
  packages/flight-icons/svg-original/aws-cdk-color-24.svg
  packages/flight-icons/svg-original/jfrog-16.svg
  packages/flight-icons/svg-original/jfrog-24.svg
  packages/flight-icons/svg-original/jfrog-color-16.svg
  packages/flight-icons/svg-original/jfrog-color-24.svg
  packages/flight-icons/svg-original/twitter-16.svg
  packages/flight-icons/svg-original/twitter-24.svg
  packages/flight-icons/svg-original/twitter-color-16.svg
  packages/flight-icons/svg-original/twitter-color-24.svg
  packages/flight-icons/svg-original/twitter-x-16.svg
  packages/flight-icons/svg-original/twitter-x-24.svg
  packages/flight-icons/svg-original/twitter-x-color-16.svg
  packages/flight-icons/svg-original/twitter-x-color-24.svg
  packages/flight-icons/svg-react/aws-cdk-16.tsx
  packages/flight-icons/svg-react/aws-cdk-24.tsx
  packages/flight-icons/svg-react/aws-cdk-color-16.tsx
  packages/flight-icons/svg-react/aws-cdk-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/jfrog-16.tsx
  packages/flight-icons/svg-react/jfrog-24.tsx
  packages/flight-icons/svg-react/jfrog-color-16.tsx
  packages/flight-icons/svg-react/jfrog-color-24.tsx
  packages/flight-icons/svg-react/twitter-x-16.tsx
  packages/flight-icons/svg-react/twitter-x-24.tsx
  packages/flight-icons/svg-react/twitter-x-color-16.tsx
  packages/flight-icons/svg-react/twitter-x-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg/aws-cdk-16.svg
  packages/flight-icons/svg/aws-cdk-24.svg
  packages/flight-icons/svg/aws-cdk-color-16.svg
  packages/flight-icons/svg/aws-cdk-color-24.svg
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/jfrog-16.svg
  packages/flight-icons/svg/jfrog-24.svg
  packages/flight-icons/svg/jfrog-color-16.svg
  packages/flight-icons/svg/jfrog-color-24.svg
  packages/flight-icons/svg/twitter-x-16.svg
  packages/flight-icons/svg/twitter-x-24.svg
  packages/flight-icons/svg/twitter-x-color-16.svg
  packages/flight-icons/svg/twitter-x-color-24.svg
Labels: packages/flight-icons

#1578 Version Packages
  .changeset/beige-olives-wink.md
  .changeset/curvy-rice-watch.md
  .changeset/nervous-beans-pump.md
  .changeset/ninety-nails-report.md
  .changeset/old-parents-repeat.md
  .changeset/silly-buckets-pay.md
  .changeset/strange-horses-exercise.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  yarn.lock
Labels: packages/components

#1611 Remove references to patterns roadmap
  website/app/templates/patterns.hbs
Labels: docs-website
