Repository hashicorp/design-system, pull requests merged in 2024-07, with the labels that each got.

#2202 Changelog updates after manual release
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, docs-website

#2203 Update HOW-TO-TEST-A-COMPONENT-IN-CLOUD-UI.md
  packages/components/HOW-TO-TEST-A-COMPONENT-IN-CLOUD-UI.md
Labels: packages/components

#2103 Modifier `hds-register-event` - Convert to TypeScript
  .changeset/loud-clouds-type.md
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/modifiers/hds-register-event.js
  packages/components/src/modifiers/hds-register-event.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2104 Modifier `hds-anchored-position` - Convert to TypeScript
  .changeset/loud-coats-reply.md
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/single/base.js
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/modifiers/hds-anchored-position.js
  packages/components/src/modifiers/hds-anchored-position.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2105 `PopoverPrimitive` - Convert to TypeScript
  .changeset/giant-eagles-agree.md
  packages/components/src/components/hds/popover-primitive/index.hbs
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/bubble.js
  packages/components/src/modifiers/hds-anchored-position.ts
  packages/components/src/template-registry.ts
  showcase/app/routes/components/rich-tooltip.js
  showcase/app/routes/utilities/popover-primitive.js
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: packages/components, docs-website, showcase, typescript

#2205 Add return types to all functions in TypeScript
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/copyright.ts
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-footer/legal-links.ts
  packages/components/src/components/hds/app-footer/status-link.ts
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/components/hds/badge-count/types.ts
  packages/components/src/components/hds/badge/index.ts
  packages/components/src/components/hds/copy/button/index.ts
  packages/components/src/components/hds/copy/snippet/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/components/hds/link/inline.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/reveal/toggle/button.ts
  packages/components/src/components/hds/separator/index.ts
  packages/components/src/components/hds/side-nav/header/home-link.ts
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/portal/target.ts
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/components/hds/tabs/tab.ts
  packages/components/src/components/hds/tag/index.ts
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/src/helpers/hds-link-to-query.ts
  packages/components/src/modifiers/hds-clipboard.ts
  wiki/TypeScript-Migration.md
Labels: packages/components, typescript

#2212 Remove references to `dialog-polyfill` in documentation pages for `Flyout` and `Modal`
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

#2214 Remove Popover API polyfill
  .changeset/new-buckets-fry.md
  packages/components/package.json
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/styles/components/rich-tooltip.scss
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
  yarn.lock
Labels: packages/components, docs-website

#2206 Hds 3383 - Update prettier and related packages
  packages/codemods/package.json
  packages/codemods/transforms/v3/dropdown/index.js
  packages/codemods/transforms/v3/dropdown/test.js
  packages/codemods/transforms/v3/masked-input/index.js
  packages/codemods/transforms/v3/masked-input/test.js
  packages/codemods/transforms/v3/radio-card/test.js
  packages/codemods/transforms/v3/side-nav/index.js
  packages/codemods/transforms/v3/side-nav/test.js
  packages/components/.eslintrc.cjs
  packages/components/.prettierrc.cjs
  packages/components/.template-lintrc.cjs
  packages/components/package.json
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/form/error/index.hbs
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/fieldset/index.hbs
  packages/components/src/components/hds/form/radio-card/index.hbs
  packages/components/src/components/hds/page-header/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/src/helpers/hds-link-to-query.ts
  packages/ember-flight-icons/.prettierrc.cjs
  packages/ember-flight-icons/.template-lintrcc.cjs
  packages/ember-flight-icons/package.json
  packages/flight-icons/package.json
  packages/flight-icons/scripts/build-parts/generateBundleSVG.ts
  packages/flight-icons/scripts/build-parts/generateBundleSVGReact.ts
  packages/flight-icons/scripts/build-parts/getCssForIconAnimation.ts
  showcase/.eslintrc.js
  showcase/.prettierrc.js
  showcase/.template-lintrc.js
  showcase/package.json
  showcase/types/global.d.ts
  website/.eslintrc.js
  website/.prettierrc.js
  website/.template-lintrc.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelFooter.js
  website/app/components/doc/page/header/algolia-search/parts/htmlPanelNoResults.js
  website/app/components/dynamic-template-error.js
  website/app/components/dynamic-template.js
  website/app/initializers/showdown-extensions.js
  website/app/routes/application.js
  website/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, showcase

#2215 Website - Update `Doc::Badge` component to support new variants
  website/app/components/doc/badge/index.js
  website/app/styles/doc-components/badge.scss
  website/docs/testing/components/badge.md
Labels: docs-website

#2222 Replaced `@required="true"` with `@required={{true}}` in `<Doc::ComponentApi>` properties declarations
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/link/standalone/partials/code/component-api.md
  website/docs/components/pagination/partials/code/component-api.md
  website/docs/components/reveal/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/icons/usage-guidelines/partials/code/component-api.md
Labels: docs-website

#2147 `Accordion` - expand/collapse enhancements
  .changeset/six-flowers-joke.md
  packages/components/src/components/hds/accordion/index.hbs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
  packages/components/src/components/hds/disclosure-primitive/index.hbs
  packages/components/src/components/hds/disclosure-primitive/index.ts
  showcase/app/controllers/components/accordion.js
  showcase/app/controllers/utilities/disclosure-primitive.js
  showcase/app/templates/components/accordion.hbs
  showcase/app/templates/utilities/disclosure-primitive.hbs
  showcase/tests/integration/components/hds/accordion/index-test.js
  showcase/tests/integration/components/hds/disclosure-primitive/index-test.js
Labels: packages/components, showcase

#2209 Accordion enhancement documentation
  website/app/styles/pages/components/accordion.scss
  website/docs/components/accordion/index.js
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
  website/public/assets/components/accordion/accordion-anatomy.png
  website/public/assets/components/accordion/accordion-card-type-example.png
  website/public/assets/components/accordion/accordion-flush-example.png
  website/public/assets/components/accordion/accordion-isStatic-example.png
  website/public/assets/components/accordion/accordion-isStatic-open-example.png
  website/public/assets/components/accordion/accordion-nesting-do.png
  website/public/assets/components/accordion/accordion-nesting-example-dont.png
  website/public/assets/components/accordion/accordion-nesting-example.png
  website/public/assets/components/accordion/accordion-patterns-collapse-all-dont.png
  website/public/assets/components/accordion/accordion-patterns-expand-collapse-all-labels.png
  website/public/assets/components/accordion/accordion-size-Dont.png
  website/public/assets/components/accordion/accordion-size-range.png
  website/public/assets/components/accordion/accordion-states-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open-contains-interactive.png
  website/public/assets/components/accordion/accordion-states-open.png
  website/public/assets/components/accordion/accordion-states.png
Labels: docs-website

#2210 Version Packages
  .changeset/giant-eagles-agree.md
  .changeset/loud-clouds-type.md
  .changeset/loud-coats-reply.md
  .changeset/nasty-fireants-wash.md
  .changeset/new-buckets-fry.md
  .changeset/six-flowers-joke.md
  .changeset/tiny-shrimps-flash.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2229 Add reference to visual regression tests in NEW-COMPONENT-CHECKLIST.md
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

#2232 Fix way in which the `isOptional/isRequired` form primitive arguments are documented
  website/docs/components/form/primitives/partials/code/component-api.md
Labels: docs-website

#2236 Website - Remove `<Doc::ListContainer>` component
  website/app/components/doc/list-container.hbs
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/tests/integration/components/doc/list-container-test.js
Labels: docs-website

#2217 Convert Form primitives to TypeScript
  .changeset/real-ducks-tie.md
  packages/components/src/components/hds/dropdown/list-item/checkbox.js
  packages/components/src/components/hds/dropdown/list-item/radio.js
  packages/components/src/components/hds/flyout/index.js
  packages/components/src/components/hds/form/character-count/index.hbs
  packages/components/src/components/hds/form/character-count/index.ts
  packages/components/src/components/hds/form/error/index.hbs
  packages/components/src/components/hds/form/error/index.ts
  packages/components/src/components/hds/form/error/message.hbs
  packages/components/src/components/hds/form/error/message.ts
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/field/index.js
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/field/types.ts
  packages/components/src/components/hds/form/fieldset/index.hbs
  packages/components/src/components/hds/form/fieldset/index.js
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/components/hds/form/fieldset/types.ts
  packages/components/src/components/hds/form/helper-text/index.hbs
  packages/components/src/components/hds/form/helper-text/index.ts
  packages/components/src/components/hds/form/indicator/index.hbs
  packages/components/src/components/hds/form/indicator/index.js
  packages/components/src/components/hds/form/indicator/index.ts
  packages/components/src/components/hds/form/label/index.hbs
  packages/components/src/components/hds/form/label/index.ts
  packages/components/src/components/hds/form/legend/index.hbs
  packages/components/src/components/hds/form/legend/index.ts
  packages/components/src/components/hds/form/masked-input/base.js
  packages/components/src/components/hds/form/super-select/multiple/field.js
  packages/components/src/components/hds/form/super-select/single/field.js
  packages/components/src/components/hds/form/visibility-toggle/index.hbs
  packages/components/src/components/hds/form/visibility-toggle/index.ts
  packages/components/src/components/hds/modal/index.js
  packages/components/src/components/hds/rich-tooltip/index.ts
  packages/components/src/template-registry.ts
  packages/components/src/utils/hds-aria-described-by.ts
  packages/components/src/utils/hds-get-element-id.ts
Labels: packages/components

#2216 Website - Update frontmatter logic to handle deprecation/update status
  website/app/components/doc/cards/card.hbs
  website/app/components/doc/cards/deck.hbs
  website/app/components/doc/component-api/property.hbs
  website/app/components/doc/page/cover.hbs
  website/app/components/doc/table-of-contents/index.hbs
  website/app/controllers/components.js
  website/app/controllers/foundations.js
  website/app/controllers/patterns.js
  website/app/controllers/show.js
  website/app/routes/show.js
  website/app/styles/doc-components/cards/card.scss
  website/app/styles/doc-components/component-api.scss
  website/app/styles/doc-components/table-of-contents.scss
  website/app/templates/show.hbs
  website/docs/overrides/power-select/index.md
  website/docs/overrides/power-select/partials/version-history/4.3.0.md
  website/lib/markdown/markdown-to-jsonapi.js
  website/lib/markdown/table-of-contents.js
Labels: docs-website

#2237 Hds-1366 Remove auto p tags around custom elements with showdown extension
  website/app/shared/showdown-config.js
  website/app/shared/showdown-extensions/remove-auto-p-tags.js
  website/app/styles/spacing/index.scss
  website/docs/testing/markdown/remove-auto-p-playground.js
  website/docs/testing/markdown/remove-auto-p-playground.md
Labels: docs-website

#2240 `Checkbox`, `Radio`, `RadioCard`, `Toggle` - Convert to TypeScript
  .changeset/rotten-roses-battle.md
  packages/components/src/components/hds/form/checkbox/base.hbs
  packages/components/src/components/hds/form/checkbox/base.ts
  packages/components/src/components/hds/form/checkbox/field.hbs
  packages/components/src/components/hds/form/checkbox/field.ts
  packages/components/src/components/hds/form/checkbox/group.hbs
  packages/components/src/components/hds/form/checkbox/group.ts
  packages/components/src/components/hds/form/error/index.ts
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/helper-text/index.ts
  packages/components/src/components/hds/form/label/index.ts
  packages/components/src/components/hds/form/legend/index.ts
  packages/components/src/components/hds/form/radio-card/description.hbs
  packages/components/src/components/hds/form/radio-card/description.ts
  packages/components/src/components/hds/form/radio-card/group.hbs
  packages/components/src/components/hds/form/radio-card/group.ts
  packages/components/src/components/hds/form/radio-card/index.hbs
  packages/components/src/components/hds/form/radio-card/index.js
  packages/components/src/components/hds/form/radio-card/index.ts
  packages/components/src/components/hds/form/radio-card/label.hbs
  packages/components/src/components/hds/form/radio-card/label.ts
  packages/components/src/components/hds/form/radio-card/types.ts
  packages/components/src/components/hds/form/radio/base.hbs
  packages/components/src/components/hds/form/radio/base.ts
  packages/components/src/components/hds/form/radio/field.hbs
  packages/components/src/components/hds/form/radio/field.ts
  packages/components/src/components/hds/form/radio/group.hbs
  packages/components/src/components/hds/form/radio/group.ts
  packages/components/src/components/hds/form/toggle/base.hbs
  packages/components/src/components/hds/form/toggle/base.ts
  packages/components/src/components/hds/form/toggle/field.hbs
  packages/components/src/components/hds/form/toggle/field.ts
  packages/components/src/components/hds/form/toggle/group.hbs
  packages/components/src/components/hds/form/toggle/group.ts
  packages/components/src/template-registry.ts
Labels: packages/components

#2244 `FileInput`, `MaskedInput`, `Select`, `TextInput`, `Textarea` - Convert to TypeScript
  .changeset/blue-squids-deliver.md
  packages/components/src/components/hds/form/file-input/base.hbs
  packages/components/src/components/hds/form/file-input/base.ts
  packages/components/src/components/hds/form/file-input/field.hbs
  packages/components/src/components/hds/form/file-input/field.ts
  packages/components/src/components/hds/form/masked-input/base.hbs
  packages/components/src/components/hds/form/masked-input/base.ts
  packages/components/src/components/hds/form/masked-input/field.hbs
  packages/components/src/components/hds/form/masked-input/field.ts
  packages/components/src/components/hds/form/select/base.hbs
  packages/components/src/components/hds/form/select/base.ts
  packages/components/src/components/hds/form/select/field.hbs
  packages/components/src/components/hds/form/select/field.ts
  packages/components/src/components/hds/form/text-input/base.hbs
  packages/components/src/components/hds/form/text-input/base.ts
  packages/components/src/components/hds/form/text-input/field.hbs
  packages/components/src/components/hds/form/text-input/field.js
  packages/components/src/components/hds/form/text-input/field.ts
  packages/components/src/components/hds/form/text-input/types.ts
  packages/components/src/components/hds/form/textarea/base.hbs
  packages/components/src/components/hds/form/textarea/base.ts
  packages/components/src/components/hds/form/textarea/field.hbs
  packages/components/src/components/hds/form/textarea/field.ts
  packages/components/src/components/hds/form/visibility-toggle/index.ts
  packages/components/src/modifiers/hds-clipboard.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2233 Website - Standardize and improve how we document "named blocks", yielded content, and contextual components
  website/app/components/doc/component-api/property.hbs
  website/app/styles/doc-components/component-api.scss
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/application-state/partials/code/component-api.md
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/button-set/partials/code/component-api.md
  website/docs/components/card/partials/code/component-api.md
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/flyout/partials/code/component-api.md
  website/docs/components/form/primitives/partials/code/component-api.md
  website/docs/components/icon-tile/partials/code/component-api.md
  website/docs/components/link/inline/partials/code/component-api.md
  website/docs/components/link/standalone/partials/code/component-api.md
  website/docs/components/modal/partials/code/component-api.md
  website/docs/components/page-header/partials/code/component-api.md
  website/docs/components/reveal/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/segmented-group/partials/code/component-api.md
  website/docs/components/separator/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/stepper/partials/code/component-api.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/tabs/partials/code/component-api.md
  website/docs/components/tag/partials/code/component-api.md
  website/docs/components/text/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/component-api.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
  website/docs/utilities/dismiss-button/partials/code/component-api.md
  website/docs/utilities/interactive/partials/code/component-api.md
  website/docs/utilities/menu-primitive/partials/code/component-api.md
  website/docs/utilities/popover-primitive/partials/code/component-api.md
Labels: docs-website

#2247 Update aliases for `<Hds::Dropdown>` and `<Hds::SegmentedGroup>`
  showcase/app/templates/components/app-footer.hbs
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/page-header.hbs
  showcase/app/templates/components/segmented-group.hbs
  showcase/app/templates/components/table.hbs
  showcase/tests/integration/components/hds/dropdown/index-test.js
  showcase/tests/integration/components/hds/segmented-group/index-test.js
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/code/how-to-use.md
  website/docs/components/segmented-group/partials/code/how-to-use.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/patterns/table-multi-select/partials/accessibility/accessibility.md
Labels: docs-website, showcase

#2246 removes outdated a11y audit report
  packages/components/ember-a11y-report/2023-06-28T16-40-05-049Z.json
Labels: packages/components

#2251 `TextInput`: add support for month, week, tel types
  .changeset/good-pumas-hunt.md
  packages/components/src/components/hds/form/text-input/types.ts
  packages/components/src/styles/components/form/text-input.scss
  showcase/app/templates/components/form/text-input.hbs
  showcase/tests/integration/components/hds/form/text-input/base-test.js
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/text-input/partials/guidelines/guidelines.md
Labels: packages/components, docs-website, showcase

#2254 fix: icon for month/week input types
  packages/components/src/styles/components/form/text-input.scss
Labels: packages/components

#2195 Update RELEASE.md to include `redeploy` info
  packages/components/RELEASE.md
Labels: packages/components

#2259 Website - Add support for "frameless" pages
  showcase/app/components/shw/frame/index.hbs
  showcase/app/components/shw/frame/index.js
  showcase/app/controllers/application.js
  showcase/app/controllers/layouts/app-frame/index.js
  showcase/app/router.ts
  showcase/app/routes/layouts/app-frame/index.js
  showcase/app/styles/_layout.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/frame.scss
  showcase/app/templates/application.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-modal.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/types/global.d.ts
Labels: showcase

#2262 Update changelog entry for v4.6.0
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2255 Web docs: Patterns, color usage for data visualization (HDS-3292)
  website/docs/patterns/data-visualization/index.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/partials/guidelines/color-usage.md
  website/docs/patterns/data-visualization/partials/guidelines/specifications.md
  website/public/assets/illustrations/patterns/data-visualization-color-usage.jpg
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-label.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-pattern.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-symbol.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-categorical.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-diverging.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-graduated-sequence.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-sequential.png
Labels: docs-website

#2264 Convert Flyout to TypeScript
  .changeset/six-students-provide.md
  packages/components/src/components.ts
  packages/components/src/components/hds/flyout/body.hbs
  packages/components/src/components/hds/flyout/body.ts
  packages/components/src/components/hds/flyout/description.hbs
  packages/components/src/components/hds/flyout/description.ts
  packages/components/src/components/hds/flyout/footer.hbs
  packages/components/src/components/hds/flyout/footer.ts
  packages/components/src/components/hds/flyout/header.hbs
  packages/components/src/components/hds/flyout/header.ts
  packages/components/src/components/hds/flyout/index.hbs
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/flyout/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2270 Badge: update @text arg to allow numbers
  .changeset/proud-bugs-tickle.md
  packages/components/src/components/hds/badge/index.ts
  website/docs/components/badge/partials/code/component-api.md
Labels: packages/components, docs-website, typescript

#2271 Website - Add status and version history to recently updated components
  website/docs/components/badge/index.md
  website/docs/components/badge/partials/version-history/4.7.0.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/text-input/partials/version-history/4.7.0.md
Labels: docs-website

#2238 Version Packages
  .changeset/blue-squids-deliver.md
  .changeset/flat-fireants-kneel.md
  .changeset/fuzzy-suits-call.md
  .changeset/good-pumas-hunt.md
  .changeset/pretty-timers-rhyme.md
  .changeset/proud-bugs-tickle.md
  .changeset/quick-flies-drop.md
  .changeset/real-ducks-tie.md
  .changeset/rotten-roses-battle.md
  .changeset/six-students-provide.md
  .changeset/young-beds-knock.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, docs-website

#2275 Add missing links to versioned docs
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website

#2279 Fix a few return types
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/dialog-primitive/header.ts
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/modal/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
Labels: packages/components

#2094 `SegmentedGroup` - Convert to TypeScript
  .changeset/small-mirrors-hope.md
  packages/components/src/components.ts
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/components/hds/segmented-group/index.hbs
  packages/components/src/components/hds/segmented-group/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2281 Website - Small fix for the `/testing/components/typography` page
  website/app/components/doc/page/banner.hbs
  website/docs/testing/components/typography.md
Labels: docs-website

#2256 Hds 2718 tooltip modifier TS migration
  .changeset/nasty-points-wait.md
  packages/components/src/modifiers/hds-tooltip.js
  packages/components/src/modifiers/hds-tooltip.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2239 Enterprise Nav: `AppHeader` web docs
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/accessibility/accessibility.md
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/accessibility/accessibility.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/specifications/anatomy.md
  website/docs/components/side-nav/partials/specifications/states.md
  website/public/assets/components/app-header/app-header-anatomy-large.png
  website/public/assets/components/app-header/app-header-anatomy-small.png
  website/public/assets/components/app-header/app-header-context-switcher.png
  website/public/assets/components/app-header/app-header-focus-order.png
  website/public/assets/components/app-header/app-header-help-dropdown.png
  website/public/assets/components/app-header/app-header-hierarchy.png
  website/public/assets/components/app-header/app-header-home-link.png
  website/public/assets/components/app-header/app-header-menu.png
  website/public/assets/components/app-header/app-header-search.png
  website/public/assets/components/app-header/app-header-size-large.png
  website/public/assets/components/app-header/app-header-size-small.png
  website/public/assets/components/app-header/app-header-user-dropdown.png
  website/public/assets/components/side-nav/responsiveness.png
  website/public/assets/components/side-nav/side-nav-anatomy.png
  website/public/assets/components/side-nav/sidenav-collapse-interaction.png
  website/public/assets/components/side-nav/sidenav-expand-collapse.mp4
  website/public/assets/components/side-nav/sidenav-overlay-small-viewport.png
  website/public/assets/components/side-nav/sidenav-position-and-responsive.png
  website/public/assets/illustrations/components/app-header.jpg
  website/public/assets/illustrations/components/side-nav.jpg
  website/tests/acceptance/components/app-header.js
Labels: docs-website

#2276 website: add name attribute to form component code examples
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
Labels: docs-website

#2265 Update custom to generic terminology
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
Labels: docs-website

#2301 Align page title and main headings to blueprint format
  showcase/app/templates/application.hbs
  showcase/app/templates/components/alert.hbs
  showcase/app/templates/components/application-state.hbs
  showcase/app/templates/components/badge-count.hbs
  showcase/app/templates/components/badge.hbs
  showcase/app/templates/components/breadcrumb.hbs
  showcase/app/templates/components/button.hbs
  showcase/app/templates/components/card.hbs
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/icon-tile.hbs
  showcase/app/templates/components/stepper.hbs
  showcase/app/templates/components/tag.hbs
  showcase/app/templates/components/text.hbs
  showcase/app/templates/components/toast.hbs
  showcase/app/templates/utilities/dialog-primitive.hbs
  showcase/app/templates/utilities/disclosure-primitive.hbs
  showcase/app/templates/utilities/interactive.hbs
  showcase/app/templates/utilities/menu-primitive.hbs
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

#2283 add explicit ember-get-config depedency
  .changeset/small-peaches-complain.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

#2300 Fix website spacing issue - Hds-3615
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
Labels: docs-website

#2282 Doc Image Caption Component
  website/app/components/doc/image-caption/index.hbs
  website/app/styles/doc-components/image-caption.scss
  website/app/styles/doc-components/index.scss
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/icon-tile/partials/guidelines/guidelines.md
  website/docs/components/pagination/partials/guidelines/guidelines.md
  website/docs/components/tag/partials/guidelines/guidelines.md
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/filter-patterns/partials/core-concepts/core-concepts.md
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/docs/testing/markdown/more-complex-images.md
  website/tests/acceptance/components/accordion-test.js
  website/tests/acceptance/components/pagination-test.js
  website/tests/acceptance/components/tag-test.js
Labels: docs-website

#2273 Consistent language around support
  website/docs/about/contribution.md
  website/docs/about/overview.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/dropdown/partials/guidelines/overview.md
  website/docs/components/form/radio-card/partials/guidelines/guidelines.md
  website/docs/components/rich-tooltip/partials/code/component-api.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/getting-started/for-designers.md
  website/docs/utilities/dialog-primitive/partials/guidelines/guidelines.md
  website/docs/utilities/disclosure-primitive/partials/code/how-to-use.md
  website/docs/utilities/dismiss-button/partials/code/how-to-use.md
  website/docs/utilities/interactive/partials/code/how-to-use.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

#2292 `Table` TypeScript migration - `Td` component [00]
  packages/components/src/components.ts
  packages/components/src/components/hds/table/td.ts
  packages/components/src/components/hds/table/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2288 `Table` TypeScript migration - `Th` component [02a]
  .changeset/nasty-points-wait.md
  packages/components/src/components.ts
  packages/components/src/components/hds/table/th.ts
  packages/components/src/components/hds/table/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2290 `Table` TypeScript migration - `ThSort` component [02b]
  packages/components/src/components.ts
  packages/components/src/components/hds/table/th-sort.ts
  packages/components/src/components/hds/table/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2208 `Hds::Icon` Component
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/icon/index.hbs
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/components/hds/icon/types.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/icon.scss
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/components/icon.js
  showcase/app/styles/showcase-pages/icon.scss
  showcase/app/templates/components/icon.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/icon/index-test.js
Labels: packages/components, showcase

#2298 fix: move keyboard focus when click scroll to top button
  website/app/components/doc/page/stage.hbs
  website/app/components/doc/scroll-to-top/index.hbs
  website/app/components/doc/scroll-to-top/index.js
  website/app/styles/app.scss
Labels: docs-website

#2291 `Table` TypeScript migration - `ThSelectable` component [03]
  packages/components/src/components.ts
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.js
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript
