Repository hashicorp/design-system, pull requests merged in 2024-06, with the labels that each got.

#2138 Add links to previous version docs
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2144 Updated export of icons from Figma
  .changeset/lucky-steaks-peel.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/vagrant-16.svg
  packages/flight-icons/svg-original/vagrant-24.svg
  packages/flight-icons/svg-original/vagrant-color-16.svg
  packages/flight-icons/svg-original/vagrant-color-24.svg
  packages/flight-icons/svg-original/vagrant-fill-16.svg
  packages/flight-icons/svg-original/vagrant-fill-24.svg
  packages/flight-icons/svg-original/vagrant-fill-color-16.svg
  packages/flight-icons/svg-original/vagrant-fill-color-24.svg
  packages/flight-icons/svg-original/vagrant-square-16.svg
  packages/flight-icons/svg-original/vagrant-square-24.svg
  packages/flight-icons/svg-original/vagrant-square-color-16.svg
  packages/flight-icons/svg-original/vagrant-square-color-24.svg
  packages/flight-icons/svg-react/vagrant-16.tsx
  packages/flight-icons/svg-react/vagrant-24.tsx
  packages/flight-icons/svg-react/vagrant-color-16.tsx
  packages/flight-icons/svg-react/vagrant-color-24.tsx
  packages/flight-icons/svg-react/vagrant-fill-16.tsx
  packages/flight-icons/svg-react/vagrant-fill-24.tsx
  packages/flight-icons/svg-react/vagrant-fill-color-16.tsx
  packages/flight-icons/svg-react/vagrant-fill-color-24.tsx
  packages/flight-icons/svg-react/vagrant-square-16.tsx
  packages/flight-icons/svg-react/vagrant-square-24.tsx
  packages/flight-icons/svg-react/vagrant-square-color-16.tsx
  packages/flight-icons/svg-react/vagrant-square-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/vagrant-16.svg
  packages/flight-icons/svg/vagrant-24.svg
  packages/flight-icons/svg/vagrant-color-16.svg
  packages/flight-icons/svg/vagrant-color-24.svg
  packages/flight-icons/svg/vagrant-fill-16.svg
  packages/flight-icons/svg/vagrant-fill-24.svg
  packages/flight-icons/svg/vagrant-fill-color-16.svg
  packages/flight-icons/svg/vagrant-fill-color-24.svg
  packages/flight-icons/svg/vagrant-square-16.svg
  packages/flight-icons/svg/vagrant-square-24.svg
  packages/flight-icons/svg/vagrant-square-color-16.svg
  packages/flight-icons/svg/vagrant-square-color-24.svg
Labels: packages/flight-icons

#2145 Version Packages
  .changeset/lucky-steaks-peel.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website

#2143 Update release docs to include vercel alias
  README.md
  packages/components/RELEASE.md
Labels: packages/components

#2148 Change start command in docs to include build step
  packages/components/CONTRIBUTING.md
Labels: packages/components

#2153 Update blueprints to be TypeScript-ready
  showcase/blueprints/hds-component-test/files/tests/integration/components/hds/__name__/index-test.js
  showcase/blueprints/hds-component-test/index.js
  showcase/blueprints/hds-component/files/src/components/hds/__name__/index.ts
Labels: showcase, typescript

#2154 `Alert` - Fix `HdsAlertTypeValues`
  .changeset/beige-clouds-occur.md
  packages/components/src/components/hds/alert/types.ts
Labels: packages/components

#2102 `Sidenav` - Convert to TypeScript
  .changeset/quick-seals-worry.md
  packages/components/package.json
  packages/components/src/components/hds/side-nav/base.hbs
  packages/components/src/components/hds/side-nav/base.ts
  packages/components/src/components/hds/side-nav/header/home-link.hbs
  packages/components/src/components/hds/side-nav/header/home-link.ts
  packages/components/src/components/hds/side-nav/header/icon-button.hbs
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  packages/components/src/components/hds/side-nav/header/index.hbs
  packages/components/src/components/hds/side-nav/header/index.ts
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/list/back-link.hbs
  packages/components/src/components/hds/side-nav/list/back-link.ts
  packages/components/src/components/hds/side-nav/list/index.hbs
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/side-nav/list/item.hbs
  packages/components/src/components/hds/side-nav/list/item.ts
  packages/components/src/components/hds/side-nav/list/link.hbs
  packages/components/src/components/hds/side-nav/list/link.ts
  packages/components/src/components/hds/side-nav/list/title.hbs
  packages/components/src/components/hds/side-nav/list/title.ts
  packages/components/src/components/hds/side-nav/portal/index.hbs
  packages/components/src/components/hds/side-nav/portal/index.ts
  packages/components/src/components/hds/side-nav/portal/target.hbs
  packages/components/src/components/hds/side-nav/portal/target.ts
  packages/components/src/components/hds/side-nav/toggle-button.hbs
  packages/components/src/components/hds/side-nav/toggle-button.ts
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/global.d.ts
  website/docs/components/side-nav/partials/code/component-api.md
  yarn.lock
Labels: packages/components, docs-website, typescript

#2158 integrates `excludeAllQueryParams` feature from `ember-a11y-refocus`
  .changeset/angry-ghosts-repeat.md
  packages/components/package.json
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  website/docs/components/side-nav/partials/code/component-api.md
  website/package.json
  yarn.lock
Labels: packages/components, docs-website

#2163 Adds `aria-describedby` to the icon filter input
  website/app/components/doc/icons-list/index.hbs
Labels: bug, a11y

#2166 Update ember apps/addons to 5.9 blueprint
  packages/components/.eslintignore
  packages/components/config/ember-cli-update.json
  packages/components/package.json
  packages/ember-flight-icons/.editorconfig
  packages/ember-flight-icons/.eslintignore
  packages/ember-flight-icons/.eslintrc.cjs
  packages/ember-flight-icons/.eslintrc.js
  packages/ember-flight-icons/.gitignore
  packages/ember-flight-icons/.prettierignore
  packages/ember-flight-icons/.prettierrc.cjs
  packages/ember-flight-icons/.prettierrc.js
  packages/ember-flight-icons/.template-lintrcc.cjs
  packages/ember-flight-icons/addon-main.cjs
  packages/ember-flight-icons/config/ember-cli-update.json
  packages/ember-flight-icons/config/environment.js
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/rollup.config.mjs
  packages/ember-flight-icons/tsconfig.declarations.json
  packages/ember-flight-icons/tsconfig.json
  showcase/config/optional-features.json
  showcase/package.json
  showcase/tests/helpers/index.ts
  website/.eslintignore
  website/config/ember-cli-update.json
  website/config/optional-features.json
  website/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

#2160 `HdsPageHeader` TS Conversion
  .changeset/pink-foxes-roll.md
  packages/components/src/components.ts
  packages/components/src/components/hds/page-header/actions.hbs
  packages/components/src/components/hds/page-header/actions.ts
  packages/components/src/components/hds/page-header/badges.hbs
  packages/components/src/components/hds/page-header/badges.ts
  packages/components/src/components/hds/page-header/description.hbs
  packages/components/src/components/hds/page-header/description.ts
  packages/components/src/components/hds/page-header/index.hbs
  packages/components/src/components/hds/page-header/index.ts
  packages/components/src/components/hds/page-header/subtitle.hbs
  packages/components/src/components/hds/page-header/subtitle.ts
  packages/components/src/components/hds/page-header/title.hbs
  packages/components/src/components/hds/page-header/title.ts
  packages/components/src/template-registry.ts
Labels: packages/components

#2142 feat(ember-flight-icons): update blueprint
  .changeset/long-rats-share.md
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/link.ts
  packages/components/src/components/hds/app-footer/status-link.ts
  packages/components/src/components/hds/app-footer/types.ts
  packages/components/src/components/hds/application-state/header.ts
  packages/components/src/components/hds/badge/index.ts
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/copy/button/index.ts
  packages/components/src/components/hds/copy/snippet/index.ts
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/link/inline.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/side-nav/header/home-link.ts
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  packages/components/src/components/hds/side-nav/list/link.ts
  packages/components/src/components/hds/side-nav/toggle-button.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/unpublished-development-types/@hashicorp/ember-flight-icons/flight-icon.d.ts
  packages/components/unpublished-development-types/global.d.ts
  packages/ember-flight-icons/.eslintignore
  packages/ember-flight-icons/babel.config.json
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/rollup.config.mjs
  packages/ember-flight-icons/src/components.ts
  packages/ember-flight-icons/src/components/flight-icon.ts
  packages/ember-flight-icons/src/template-registry.ts
  packages/ember-flight-icons/unpublished-development-types/index.d.ts
  showcase/types/global.d.ts
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

#2173 Button docs: update "Types" heading to "Colors"
  website/docs/components/button/partials/guidelines/guidelines.md
Labels: docs-website

#2175 Updated export of icons from Figma
  .changeset/cool-fans-bathe.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/search-16.svg
  packages/flight-icons/svg-react/search-16.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/search-16.svg
Labels: packages/flight-icons

#2180 fix icon installation anchor links
  website/docs/icons/usage-guidelines/partials/code/how-to-use.md
Labels: docs-website

#2179 Showcase - Remove `@wrap` argument from `Shw::Flex`
  showcase/app/components/shw/flex/index.js
  showcase/app/styles/showcase-components/flex.scss
  showcase/app/templates/components/text.hbs
Labels: showcase

#2181 Showcase - Add `@gap` argument to `Shw::Flex` and `Shw::Grid` components
  showcase/app/components/shw/flex/index.hbs
  showcase/app/components/shw/flex/index.js
  showcase/app/components/shw/grid/index.hbs
  showcase/app/components/shw/grid/index.js
  showcase/app/templates/components/accordion.hbs
  showcase/app/templates/components/app-footer.hbs
  showcase/app/templates/components/card.hbs
  showcase/app/templates/components/code-block.hbs
  showcase/app/templates/components/copy/button.hbs
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/form/base-elements.hbs
  showcase/app/templates/components/form/checkbox.hbs
  showcase/app/templates/components/form/file-input.hbs
  showcase/app/templates/components/form/radio.hbs
  showcase/app/templates/components/form/select.hbs
  showcase/app/templates/components/form/super-select.hbs
  showcase/app/templates/components/form/toggle.hbs
  showcase/app/templates/components/link/inline.hbs
  showcase/app/templates/components/page-header.hbs
  showcase/app/templates/components/reveal.hbs
  showcase/app/templates/components/rich-tooltip.hbs
  showcase/app/templates/components/table.hbs
  showcase/app/templates/components/text.hbs
  showcase/app/templates/components/tooltip.hbs
  showcase/app/templates/layouts/app-frame.hbs
  showcase/app/templates/utilities/popover-primitive.hbs
Labels: showcase

#2187 Add `gap` to `ShwFlexSignature` and `ShwGridSignature`
  showcase/types/global.d.ts
Labels: showcase

#2184 Updated heading structure in BadgeCount docs
  website/docs/components/badge-count/partials/guidelines/guidelines.md
Labels: docs-website

#2185 Contribution: Updating documentation order
  website/docs/about/contribution.md
Labels: docs-website

#2178 `Dropdown::Toggle::Icon`: Fix inconsistencies (HDS-3416)
  .changeset/dirty-dots-wait.md
  packages/components/src/components/hds/dropdown/toggle/icon.js
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

#2186 Showcase - Added use cases for display variants to the `icon` page
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/icon.scss
  showcase/app/templates/foundations/icon.hbs
Labels: showcase

#2168 Tabs TS Conversion
  .changeset/friendly-rules-end.md
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/components/hds/tabs/tab.js
  packages/components/src/components/hds/tabs/tab.ts
  packages/components/src/components/hds/tabs/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components

#2190 Fix broken links - Hds-3438
  website/docs/about/overview.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/guidelines/guidelines.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/components/table/partials/content/icon-usage.md
  website/docs/components/table/partials/guidelines/guidelines.md
  website/docs/patterns/button-organization/partials/research/research.md
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/filter-patterns/partials/specifications/specifications.md
  website/docs/patterns/form-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/table-multi-select/partials/interaction-concepts/interaction-concepts.md
Labels: docs-website

#2191 Updated export of icons from Figma
  .changeset/rotten-pets-crash.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/pager-duty-16.svg
  packages/flight-icons/svg-original/pager-duty-24.svg
  packages/flight-icons/svg-original/pager-duty-color-16.svg
  packages/flight-icons/svg-original/pager-duty-color-24.svg
  packages/flight-icons/svg-original/service-now-16.svg
  packages/flight-icons/svg-original/service-now-24.svg
  packages/flight-icons/svg-original/service-now-color-16.svg
  packages/flight-icons/svg-original/service-now-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/pager-duty-16.tsx
  packages/flight-icons/svg-react/pager-duty-24.tsx
  packages/flight-icons/svg-react/pager-duty-color-16.tsx
  packages/flight-icons/svg-react/pager-duty-color-24.tsx
  packages/flight-icons/svg-react/service-now-16.tsx
  packages/flight-icons/svg-react/service-now-24.tsx
  packages/flight-icons/svg-react/service-now-color-16.tsx
  packages/flight-icons/svg-react/service-now-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/pager-duty-16.svg
  packages/flight-icons/svg/pager-duty-24.svg
  packages/flight-icons/svg/pager-duty-color-16.svg
  packages/flight-icons/svg/pager-duty-color-24.svg
  packages/flight-icons/svg/service-now-16.svg
  packages/flight-icons/svg/service-now-24.svg
  packages/flight-icons/svg/service-now-color-16.svg
  packages/flight-icons/svg/service-now-color-24.svg
Labels: packages/flight-icons

#2193 @percy/cli 1.28.8
  showcase/package.json
  yarn.lock
Labels: showcase

#2157 Version Packages
  .changeset/angry-ghosts-repeat.md
  .changeset/beige-clouds-occur.md
  .changeset/cool-fans-bathe.md
  .changeset/dirty-dots-wait.md
  .changeset/friendly-rules-end.md
  .changeset/honest-kids-judge.md
  .changeset/long-rats-share.md
  .changeset/pink-foxes-roll.md
  .changeset/quick-seals-worry.md
  .changeset/rotten-pets-crash.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, docs-website

#2177 fix(components): fix syncing of <F.Error/> ids to their Form elements via aria-describedby
  .changeset/hip-bobcats-invent.md
  packages/components/src/components/hds/form/error/index.hbs
  packages/components/src/components/hds/form/error/index.js
  packages/components/src/components/hds/form/field/index.hbs
  packages/components/src/components/hds/form/field/index.js
  packages/components/src/components/hds/form/fieldset/index.hbs
  packages/components/src/components/hds/form/fieldset/index.js
  packages/components/src/components/hds/form/radio-card/index.hbs
  packages/components/src/components/hds/form/radio-card/index.js
  packages/components/src/utils/hds-aria-described-by.ts
  packages/components/src/utils/hds-set-aria-described-by.js
  showcase/tests/integration/components/hds/form/checkbox/group-test.js
  showcase/tests/integration/components/hds/form/file-input/field-test.js
  showcase/tests/integration/components/hds/form/masked-input/field-test.js
  showcase/tests/integration/components/hds/form/radio-card/group-test.js
  showcase/tests/integration/components/hds/form/radio/field-test.js
  showcase/tests/integration/components/hds/form/radio/group-test.js
  showcase/tests/integration/components/hds/form/select/field-test.js
  showcase/tests/integration/components/hds/form/super-select/multiple/field-test.js
  showcase/tests/integration/components/hds/form/super-select/single/field-test.js
  showcase/tests/integration/components/hds/form/text-input/field-test.js
  showcase/tests/integration/components/hds/form/textarea/field-test.js
  showcase/tests/integration/components/hds/form/toggle/field-test.js
Labels: packages/components, showcase

#2194 Version Packages
  .changeset/hip-bobcats-invent.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2196 fix(ember-flight-icons): realign publish script with components
  packages/ember-flight-icons/package.json
Labels: packages/ember-flight-icons

#2197 Add missing `.ts` extensions to “helpers” imports in `template-registry.ts`
  packages/components/src/template-registry.ts
Labels: packages/components

#2192 Update CONTRIBUTING.md for Flight Icons
  packages/flight-icons/CONTRIBUTING.md
Labels: packages/flight-icons

#2200 Version Packages
  .changeset/good-hornets-press.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, docs-website
