Repository hashicorp/design-system, pull requests merged in 2024-12, with the labels that each got.

#2560 Design tokens pipeline - Upgrade `StyleDictionary` to version `4.2.0`
  .changeset/silly-taxis-reply.md
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/package.json
  packages/tokens/scripts/@types/Config.d.ts
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/scripts/build-parts/generateCssHelpers.ts
  packages/tokens/scripts/build-parts/generateElevationHelpers.ts
  packages/tokens/scripts/build-parts/generateFocusRingHelpers.ts
  packages/tokens/scripts/build-parts/generateTypographyHelpers.ts
  packages/tokens/scripts/build.ts
  packages/tokens/tsconfig.json
  yarn.lock
Labels: packages/components

#2587 Fix issue with generation of Zip file of SVG icons in pipeline
  packages/flight-icons/scripts/build-parts/generatePublicZIPFile.ts
  packages/flight-icons/scripts/config.ts
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

#2557 `Time` - docs (HDS-4161)
  website/docs/components/time/index.md
  website/docs/components/time/partials/accessibility/accessibility.md
  website/docs/components/time/partials/code/component-api.md
  website/docs/components/time/partials/code/how-to-use.md
  website/docs/components/time/partials/version-history/4.15.0.md
  website/public/assets/components/time/time-example-tooltip.png
  website/public/assets/illustrations/components/time.jpg
  website/tests/acceptance/components/time.js
Labels: docs-website

#2515 `Time` - component (HDS-3945)
  .changeset/happy-readers-notice.md
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components.ts
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/components/hds/time/range.hbs
  packages/components/src/components/hds/time/range.ts
  packages/components/src/components/hds/time/single.hbs
  packages/components/src/components/hds/time/single.ts
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
  packages/components/src/services.ts
  packages/components/src/services/hds-time-types.ts
  packages/components/src/services/hds-time.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/time.scss
  packages/components/src/template-registry.ts
  showcase/app/components/shw/divider/index.gts
  showcase/app/controllers/components/time.js
  showcase/app/index.html
  showcase/app/router.ts
  showcase/app/routes/components/time.js
  showcase/app/templates/components/time.hbs
  showcase/app/templates/index.hbs
  showcase/tests/integration/components/hds/time/index-test.js
  showcase/tests/integration/helpers/hds-format-date-test.js
  showcase/tests/integration/helpers/hds-format-relative-test.js
  showcase/tests/unit/services/hds-time-test.js
  website/docs/components/time/index.md
  website/docs/components/time/partials/accessibility/accessibility.md
  website/docs/components/time/partials/code/component-api.md
  website/docs/components/time/partials/code/how-to-use.md
  website/docs/components/time/partials/version-history/4.15.0.md
  website/public/assets/components/time/time-example-tooltip.png
  website/public/assets/illustrations/components/time.jpg
  website/tests/acceptance/components/time.js
  yarn.lock
Labels: packages/components, docs-website, showcase

#2593 Document Application State align property
  website/docs/components/application-state/partials/code/component-api.md
Labels: docs-website

#2572 Website: create new content section
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/page/sidebar.hbs
  website/app/components/doc/page/sidebar.js
  website/app/controllers/content.js
  website/app/controllers/index.js
  website/app/router.js
  website/app/styles/pages/application/header.scss
  website/app/templates/content.hbs
  website/docs/content/writing-guidelines/index.md
  website/docs/content/writing-style/index.md
  website/public/assets/content/writing-guidelines/writing-guidelines-relative-dates-with-tooltip.png
  website/public/assets/content/writing-style/writing-style-capitlization-header-do.png
  website/public/assets/content/writing-style/writing-style-capitlization-header-dont.png
  website/public/assets/content/writing-style/writing-style-capitlization-input-do.png
  website/public/assets/content/writing-style/writing-style-capitlization-input-dont.png
  website/public/assets/content/writing-style/writing-style-capitlization-link-do.png
  website/public/assets/content/writing-style/writing-style-capitlization-link-dont.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-add-remove-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-apply-dont.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-create-delete-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-invite-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-save-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-action-object.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-menu-actions-do.png
  website/public/assets/content/writing-style/writing-style-consistent-termonology-menu-actions-dont.png
  website/public/assets/content/writing-style/writing-style-punctuation-en-dashes.png
  website/public/assets/content/writing-style/writing-style-punctuation-percentage.png
  website/public/assets/illustrations/content/writing-guidelines.jpg
  website/public/assets/illustrations/content/writing-style.jpg
Labels: docs-website

#2597 `Flyout` - Element prop name update
  packages/components/src/components/hds/flyout/index.ts
Labels: packages/components

#2594 Resolve sass warnings in rollup build
  .changeset/neat-eels-speak.md
  packages/components/src/styles/components/badge-count.scss
  packages/components/src/styles/components/badge.scss
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/icon-tile.scss
  packages/components/src/styles/components/link/standalone.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
  packages/components/src/styles/components/stepper/task-indicator.scss
  packages/components/src/styles/components/tabs.scss
  packages/components/src/styles/mixins/_button.scss
Labels: packages/components

#2600 `Time` - Docs broken link fix
  website/docs/components/time/partials/code/how-to-use.md
Labels: docs-website

#2559 Version Packages
  .changeset/cold-humans-mix.md
  .changeset/eighty-lobsters-brush.md
  .changeset/gentle-countries-build.md
  .changeset/great-papayas-develop.md
  .changeset/happy-readers-notice.md
  .changeset/lucky-hotels-sell.md
  .changeset/neat-eels-speak.md
  .changeset/silly-taxis-reply.md
  .changeset/smart-seahorses-cough.md
  .changeset/sweet-penguins-shave.md
  .changeset/thin-games-doubt.md
  .changeset/violet-suns-scream.md
  .changeset/wicked-cheetahs-change.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website, packages/tokens

#2596 `Table`: make checkbox aria-labels stay the same regardless of checkbox state
  .changeset/lovely-goats-work.md
  packages/components/src/components/hds/table/th-selectable.ts
  showcase/tests/integration/components/hds/table/index-test.js
  showcase/tests/integration/components/hds/table/tr-test.js
Labels: packages/components, showcase

#2602 Showcase: Fix `Table` selectable + sortable th table examples
  showcase/app/templates/components/table.hbs
Labels: showcase

#2599 Remove release and cloud-ui testing docs
  README.md
  packages/components/HOW-TO-TEST-A-COMPONENT-IN-CLOUD-UI.md
  packages/components/RELEASE.md
  packages/tokens/.npmignore
  packages/tokens/CONTRIBUTING.md
  website/docs/about/contribution.md
Labels: packages/components, docs-website, packages/tokens

#2606 Adjust a few documentation headings
  website/docs/components/accordion/partials/code/how-to-use.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/copy/button/partials/code/how-to-use.md
  website/docs/components/copy/snippet/partials/code/how-to-use.md
  website/docs/components/reveal/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/utilities/dialog-primitive/partials/code/how-to-use.md
Labels: docs-website

#2610 Website - Add 4.15 link to release notes
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website

#2588 Table: add borders around the cells
  .changeset/gorgeous-days-call.md
  packages/components/src/styles/components/table.scss
Labels: packages/components

#2621 Showcase - fix Sass warnings (HDS-4261)
  showcase/app/styles/_globals.scss
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-components/label.scss
  showcase/app/styles/showcase-pages/alert.scss
  showcase/app/styles/showcase-pages/app-footer.scss
  showcase/app/styles/showcase-pages/copy/button.scss
  showcase/app/styles/showcase-pages/power-select.scss
  showcase/app/styles/showcase-pages/table.scss
  showcase/app/styles/showcase-pages/tabs.scss
Labels: showcase
