Repository hashicorp/design-system, pull requests merged in 2024-11, with the labels that each got.

#2539 Share the `wait` test helper across files
  showcase/tests/helpers/index.ts
  showcase/tests/integration/components/hds/copy/button/index-test.js
  showcase/tests/integration/components/hds/copy/snippet/index-test.js
  showcase/tests/integration/components/hds/rich-tooltip/index-test.js
  showcase/tests/integration/components/hds/tooltip/tooltip-button-test.js
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
Labels: showcase

#2540 Use token value for showcase outlines
  showcase/app/styles/showcase-components/autoscrollable.scss
  showcase/app/styles/showcase-components/outliner.scss
  showcase/app/styles/showcase-pages/alert.scss
  showcase/app/styles/showcase-pages/button.scss
  showcase/app/styles/showcase-pages/dialog-primitive.scss
  showcase/app/styles/showcase-pages/disclosure-primitive.scss
  showcase/app/styles/showcase-pages/dropdown.scss
  showcase/app/styles/showcase-pages/menu-primitive.scss
  showcase/app/styles/showcase-pages/popover-primitive.scss
  showcase/app/styles/showcase-pages/rich-tooltip.scss
  showcase/app/styles/showcase-pages/tooltip.scss
Labels: showcase

#2488 fix: usage of @tracked modifier across components
  .changeset/purple-poets-smoke.md
  packages/components/src/components/hds/form/masked-input/base.ts
  packages/components/src/components/hds/form/text-input/field.ts
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/tabs/index.ts
  showcase/tests/integration/components/hds/pagination/numbered-test.js
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
  website/app/components/doc/copy-button/index.js
  website/app/components/doc/table-of-contents/collapsible-item.js
Labels: packages/components, showcase

#2535 `SideNav` - Prevent hidden panels from triggering unnecessary overflow scrolling
  .changeset/smooth-cameras-yawn.md
  packages/components/src/styles/components/side-nav/content.scss
Labels: packages/components

#2536 `SideNav` - A11y improvements
  .changeset/modern-otters-bake.md
  packages/components/src/components/hds/side-nav/base.hbs
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/list/index.hbs
  packages/components/src/components/hds/side-nav/list/index.ts
  packages/components/src/components/hds/side-nav/list/title.hbs
  packages/components/src/components/hds/side-nav/list/title.ts
  showcase/tests/acceptance/components/hds/side-nav-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
Labels: packages/components, docs-website, showcase

#2527 Showcase - Add `Mock::App` component in showcase to easily mock a product application in a frameless page
  showcase/app/components/mock/app/footer/app-footer.gts
  showcase/app/components/mock/app/header/app-header.gts
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/main/generic-text-content.gts
  showcase/app/components/mock/app/main/page-header.gts
  showcase/app/components/mock/app/sidebar/side-nav.gts
  showcase/app/styles/app.scss
  showcase/app/styles/mock-components/app.scss
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/types/global.d.ts
  showcase/types/showcase/index.d.ts
  showcase/types/template-registry.ts
Labels: showcase

#2541 Removed references to the AppHeader
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/version-history/4.10.0.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
  website/docs/layouts/app-frame/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
  website/docs/layouts/app-frame/partials/version-history/4.10.0.md
Labels: docs-website

#2530 `Dropdown` - add `matchToggleWidth`
  .changeset/lucky-fireants-cover.md
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/modifiers/hds-anchored-position.ts
  showcase/app/styles/showcase-pages/dropdown.scss
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/index-test.js
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/version-history/4.14.0.md
Labels: packages/components, docs-website, showcase

#2543 FlightIcon pipeline - FigmaApi updates
  packages/flight-icons/package.json
  packages/flight-icons/scripts/sync-parts/getAssetsMetadata.ts
  packages/tokens/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens

#2532 Version Packages
  .changeset/lucky-fireants-cover.md
  .changeset/modern-otters-bake.md
  .changeset/purple-poets-smoke.md
  .changeset/smooth-cameras-yawn.md
  .changeset/soft-pets-hear.md
  .changeset/violet-donuts-matter.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2552 Remove scss extensions
  packages/components/src/styles/components/app-side-nav/index.scss
  packages/components/src/styles/components/copy/index.scss
  packages/components/src/styles/components/link/index.scss
  packages/components/src/styles/components/side-nav/index.scss
  packages/components/src/styles/components/stepper/index.scss
Labels: packages/components

#2546 `RichTooltip` - Standardize private properties and methods
  packages/components/NEW-COMPONENT-CHECKLIST.md
  packages/components/src/components/hds/rich-tooltip/index.hbs
  packages/components/src/components/hds/rich-tooltip/index.ts
Labels: packages/components

#2556 updated test:a11y scripts in showcase
  showcase/package.json
Labels: showcase

#2514 `IconTile` documentation update
  website/docs/components/icon-tile/partials/guidelines/guidelines.md
  website/public/assets/components/icon-tile/icon-tile.png
  website/public/assets/components/icon-tile/icon-tiles-colors.png
  website/public/assets/components/icon-tile/icon-tiles-scondary-icon.png
  website/public/assets/components/icon-tile/icon-tiles-sizes.png
  website/public/assets/components/icon-tile/icontile-anatomy.png
  website/public/assets/components/icon-tile/icontile-hidden-example.png
Labels: docs-website

#2553 Private props standardization - 1st components batch
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/alert/index.hbs
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/list/index.ts
  packages/components/src/components/hds/app-side-nav/list/title.hbs
  packages/components/src/components/hds/app-side-nav/list/title.ts
  packages/components/src/components/hds/app-side-nav/portal/target.hbs
  packages/components/src/components/hds/app-side-nav/portal/target.ts
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/copy/button/index.ts
  packages/components/src/components/hds/copy/snippet/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/dropdown/toggle/button.hbs
  packages/components/src/components/hds/dropdown/toggle/button.ts
  packages/components/src/components/hds/dropdown/toggle/icon.hbs
  packages/components/src/components/hds/dropdown/toggle/icon.ts
Labels: packages/components

#2565 Fix spelling mistake in docs
  website/docs/components/accordion/partials/version-history/4.10.0.md
Labels: docs-website

#2568 Update 'Release notes' section in website
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website

#2563 Updated export of icons from Figma
  .changeset/smart-seahorses-cough.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/postgres-16.svg
  packages/flight-icons/svg-original/postgres-24.svg
  packages/flight-icons/svg-original/postgres-color-16.svg
  packages/flight-icons/svg-original/postgres-color-24.svg
  packages/flight-icons/svg-original/vault-radar-16.svg
  packages/flight-icons/svg-original/vault-radar-24.svg
  packages/flight-icons/svg-original/vault-radar-color-16.svg
  packages/flight-icons/svg-original/vault-radar-color-24.svg
  packages/flight-icons/svg-original/vault-secrets-16.svg
  packages/flight-icons/svg-original/vault-secrets-24.svg
  packages/flight-icons/svg-original/vault-secrets-color-16.svg
  packages/flight-icons/svg-original/vault-secrets-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/postgres-16.tsx
  packages/flight-icons/svg-react/postgres-24.tsx
  packages/flight-icons/svg-react/postgres-color-16.tsx
  packages/flight-icons/svg-react/postgres-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/postgres-16.svg
  packages/flight-icons/svg/postgres-24.svg
  packages/flight-icons/svg/postgres-color-16.svg
  packages/flight-icons/svg/postgres-color-24.svg
Labels: packages/flight-icons

#2574 `Dropdown` - Focus ring on click for `ToggleIcon` fix
  .changeset/cold-humans-mix.md
  packages/components/src/styles/components/dropdown.scss
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/4.15.0.md
Labels: packages/components, docs-website

#2581 `PageHeader` - Fix for extra spacing when no metadata present
  .changeset/eighty-lobsters-brush.md
  packages/components/src/styles/components/page-header.scss
  showcase/app/controllers/components/page-header.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/page-header.scss
  showcase/app/templates/components/page-header.hbs
  showcase/tests/acceptance/percy-test.js
  website/docs/components/page-header/index.md
  website/docs/components/page-header/partials/version-history/4.15.0.md
Labels: packages/components, docs-website, showcase

#2586 Add `<select multiple>` examples to showcase
  showcase/app/templates/components/form/select.hbs
Labels: showcase
