Repository hashicorp/design-system, pull requests merged in 2024-02, with the labels that each got.

#1920 Improved resilience of SVG sprite loading script
  .changeset/silly-ducks-decide.md
  packages/ember-flight-icons/addon/instance-initializers/load-sprite.js
Labels: packages/ember-flight-icons

#1923 update office hours
  website/docs/about/support.md
Labels: docs-website

#1917 Fixed discrepancy in docs
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: docs-website

#1915 Terraform color update - Design tokens
  .changeset/strange-mugs-bathe.md
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/color/semantic-product-terraform.json
Labels: packages/packages/tokens

#1914 Vault brand color update - Design tokens
  .changeset/gorgeous-chicken-wash.md
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/color/palette-products.json
Labels: packages/packages/tokens, packages/tokens

#1922 Version Packages
  .changeset/gorgeous-chicken-wash.md
  .changeset/poor-books-repair.md
  .changeset/silly-ducks-decide.md
  .changeset/strange-mugs-bathe.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website, packages/tokens

#1871 `Table` - New sorting and tooltip documentation update
  website/docs/components/table/index.js
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/components/table/partials/guidelines/guidelines.md
  website/docs/components/table/partials/specifications/anatomy.md
  website/public/assets/components/accordion/content-custom.png
  website/public/assets/components/copy/copy-snippet-table-do.png
  website/public/assets/components/reveal/content-type-dont.png
  website/public/assets/components/table/badge-table-null-value.png
  website/public/assets/components/table/center-justified-alignment.png
  website/public/assets/components/table/different-badge-sizes.png
  website/public/assets/components/table/end-alignment-example-02.png
  website/public/assets/components/table/end-alignment-example.png
  website/public/assets/components/table/end-alignment-variable-length.png
  website/public/assets/components/table/icon-grouping.png
  website/public/assets/components/table/icon-product-branding.png
  website/public/assets/components/table/icon-status.png
  website/public/assets/components/table/icon-tile-product-branding.png
  website/public/assets/components/table/icon-without-label.png
  website/public/assets/components/table/large-badge-in-table.png
  website/public/assets/components/table/longform-content-links.png
  website/public/assets/components/table/null-data-set-in-a-table.png
  website/public/assets/components/table/null-empty-cells.png
  website/public/assets/components/table/null-value-badge-example.png
  website/public/assets/components/table/null-value-cause-tooltip.png
  website/public/assets/components/table/null-value-comparative-value.png
  website/public/assets/components/table/null-value-fallback-em-dash.png
  website/public/assets/components/table/null-value-fallback-na.png
  website/public/assets/components/table/null-value-text-example.png
  website/public/assets/components/table/outlined-badge-within-table.png
  website/public/assets/components/table/start-alignment-example.png
  website/public/assets/components/table/table-alignment-do.png
  website/public/assets/components/table/table-alignment-dont.png
  website/public/assets/components/table/table-cell-focus-do.png
  website/public/assets/components/table/table-col-placement.png
  website/public/assets/components/table/table-density-small-badge.png
  website/public/assets/components/table/table-density.png
  website/public/assets/components/table/table-header-anatomy.png
  website/public/assets/components/table/table-row-placement.png
  website/public/assets/components/table/table-sort-button-sorted-states.png
  website/public/assets/components/table/table-sort-button-states.png
  website/public/assets/components/table/table-sorting.png
  website/public/assets/components/table/table-striping.png
  website/public/assets/components/table/table-tooltip-dont.png
  website/public/assets/components/table/table-tooltip-example.png
  website/public/assets/components/table/with-service-icon.png
  website/public/assets/components/tabs/tab-usage-example-02.png
Labels: docs-website

#1859 `Table` `Multi-select` component (HDS-2953)
  .changeset/fair-files-relate.md
  packages/codemods/README.md
  packages/components/addon/components/hds/table/index.hbs
  packages/components/addon/components/hds/table/index.js
  packages/components/addon/components/hds/table/th-selectable.hbs
  packages/components/addon/components/hds/table/th-selectable.js
  packages/components/addon/components/hds/table/tr.hbs
  packages/components/addon/components/hds/table/tr.js
  packages/components/app/components/hds/table/th-selectable.js
  packages/components/app/styles/components/table.scss
  packages/components/package.json
  packages/components/tests/dummy/app/controllers/components/table.js
  packages/components/tests/dummy/app/routes/components/table.js
  packages/components/tests/dummy/app/styles/showcase-pages/table.scss
  packages/components/tests/dummy/app/templates/components/table.hbs
  packages/components/tests/dummy/public/api/mock-selectable-data.json
  packages/components/tests/integration/components/hds/table/index-test.js
  packages/components/tests/integration/components/hds/table/tr-test.js
  website/app/styles/pages/components/table.scss
  website/docs/components/table/index.js
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/components/table/partials/guidelines/guidelines.md
  website/docs/components/table/partials/specifications/anatomy.md
  website/public/assets/components/table/multi-select-cells.png
  website/public/assets/components/table/multi-select-header.png
  website/public/assets/components/table/multi-selection-interaction-01.mp4
  website/public/assets/components/table/multi-selection-interaction-02.mp4
  website/public/assets/components/table/table-cell-select-anatomy.png
  website/public/assets/components/table/table-header-select-anatomy.png
  yarn.lock
Labels: packages/components, docs-website

#1896 Change `Form::CharacterCount` to use a `value` argument.
  .changeset/hip-drinks-matter.md
  packages/components/addon/components/hds/form/character-count/index.hbs
  packages/components/addon/components/hds/form/character-count/index.js
  packages/components/addon/components/hds/form/masked-input/field.hbs
  packages/components/addon/components/hds/form/text-input/field.hbs
  packages/components/addon/components/hds/form/textarea/field.hbs
  packages/components/tests/dummy/app/controllers/components/form/base-elements.js
  packages/components/tests/dummy/app/controllers/components/form/masked-input.js
  packages/components/tests/dummy/app/controllers/components/form/text-input.js
  packages/components/tests/dummy/app/controllers/components/form/textarea.js
  packages/components/tests/dummy/app/templates/components/form/base-elements.hbs
  packages/components/tests/dummy/app/templates/components/form/masked-input.hbs
  packages/components/tests/dummy/app/templates/components/form/text-input.hbs
  packages/components/tests/dummy/app/templates/components/form/textarea.hbs
  packages/components/tests/integration/components/hds/form/character-count/index-test.js
  packages/components/tests/integration/components/hds/form/text-input/field-test.js
  website/docs/components/form/masked-input/index.js
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/primitives/index.js
  website/docs/components/form/primitives/partials/code/component-api.md
  website/docs/components/form/primitives/partials/code/how-to-use.md
  website/docs/components/form/text-input/index.js
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/index.js
  website/docs/components/form/textarea/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1911 Pattern Docs: Avoiding empty state
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/public/assets/patterns/filter-patterns/avoid-empty-state-list-item-count.png
Labels: docs-website

#1884 Rename namespaced contextual components
  .changeset/smart-glasses-turn.md
  .changeset/two-gorillas-tease.md
  packages/codemods/README.md
  packages/codemods/transforms/v4/contextual-components/README.md
  packages/codemods/transforms/v4/contextual-components/__testfixtures__/form-field.input.hbs
  packages/codemods/transforms/v4/contextual-components/__testfixtures__/form-field.output.hbs
  packages/codemods/transforms/v4/contextual-components/__testfixtures__/link-standalone.input.hbs
  packages/codemods/transforms/v4/contextual-components/__testfixtures__/link-standalone.output.hbs
  packages/codemods/transforms/v4/contextual-components/index.js
  packages/codemods/transforms/v4/contextual-components/test.js
  packages/codemods/transforms/v4/table/README.md
  packages/components/addon/components/hds/alert/index.hbs
  packages/components/addon/components/hds/application-state/footer.hbs
  packages/components/addon/components/hds/form/checkbox/group.hbs
  packages/components/addon/components/hds/form/radio/group.hbs
  packages/components/addon/components/hds/form/toggle/group.hbs
  packages/components/addon/components/hds/toast/index.hbs
  packages/components/tests/dummy/app/templates/components/alert.hbs
  packages/components/tests/dummy/app/templates/components/application-state.hbs
  packages/components/tests/dummy/app/templates/components/form/checkbox.hbs
  packages/components/tests/dummy/app/templates/components/form/radio.hbs
  packages/components/tests/dummy/app/templates/components/form/toggle.hbs
  packages/components/tests/dummy/app/templates/components/toast.hbs
  packages/components/tests/integration/components/hds/alert/index-test.js
  packages/components/tests/integration/components/hds/application-state/footer-test.js
  packages/components/tests/integration/components/hds/form/checkbox/group-test.js
  packages/components/tests/integration/components/hds/form/radio/group-test.js
  packages/components/tests/integration/components/hds/form/toggle/group-test.js
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/alert/partials/content/content.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/docs/components/application-state/partials/code/component-api.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/button/partials/guidelines/guidelines.md
  website/docs/components/form/checkbox/partials/code/component-api.md
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/checkbox/partials/guidelines/guidelines.md
  website/docs/components/form/radio/partials/code/component-api.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/guidelines/guidelines.md
  website/docs/components/form/toggle/partials/code/component-api.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
  website/docs/components/toast/partials/code/how-to-use.md
  website/docs/components/toast/partials/content/content.md
  website/docs/components/toast/partials/guidelines/guidelines.md
Labels: packages/components, docs-website

#1929 Remove remnant v1 format exports
  packages/components/app/components/hds/table/th-button-sort.js
  packages/components/app/components/hds/table/th-button-tooltip.js
  packages/components/app/components/hds/table/th-selectable.js
Labels: packages/components

#1910 `Dropdown` - Fixed dropdown list missing an accessible name when Checkmark items were passed in
  .changeset/long-meals-appear.md
  packages/components/src/components/hds/dropdown/index.js
  packages/components/src/components/hds/dropdown/toggle/button.hbs
  packages/components/src/components/hds/dropdown/toggle/button.js
  showcase/tests/integration/components/hds/dropdown/index-test.js
Labels: packages/components, showcase

#1930 Skip `onClose` callback test in Flyout
  showcase/tests/integration/components/hds/flyout/index-test.js
Labels: showcase

#1939 Fix dependencies watch
  packages/components/rollup.config.mjs
  packages/ember-flight-icons/rollup.config.mjs
Labels: packages/components, packages/ember-flight-icons

#1935 `Accordion` - Add use case for a generic toggle content to showcase
  showcase/app/templates/components/accordion.hbs
Labels: showcase

#1909 `SideNav` - Disable keyboard navigation/focus of hidden elements
  .changeset/strong-balloons-repeat.md
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components, showcase

#1941 Fix links after migration to v2 format
  .copywrite.hcl
  website/docs/components/accordion/index.md
  website/docs/components/alert/index.md
  website/docs/components/app-footer/index.md
  website/docs/components/application-state/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/button-set/index.md
  website/docs/components/button/index.md
  website/docs/components/card/index.md
  website/docs/components/code-block/index.md
  website/docs/components/copy/button/index.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/flyout/index.md
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/file-input/index.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/icon-tile/index.md
  website/docs/components/link/inline/index.md
  website/docs/components/link/standalone/index.md
  website/docs/components/modal/index.md
  website/docs/components/page-header/index.md
  website/docs/components/pagination/index.md
  website/docs/components/reveal/index.md
  website/docs/components/segmented-group/index.md
  website/docs/components/separator/index.md
  website/docs/components/side-nav/index.md
  website/docs/components/stepper/index.md
  website/docs/components/table/index.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/text/index.md
  website/docs/components/toast/index.md
  website/docs/components/tooltip/index.md
  website/docs/layouts/app-frame/index.md
Labels: docs-website

#1940 Add `ember-cli-update` config to `showcase`
  showcase/config/ember-cli-update.json
Labels: showcase

#1942 Fix wrong paths in website documentation
  website/docs/utilities/disclosure-primitive/partials/code/how-to-use.md
  website/docs/utilities/menu-primitive/partials/code/how-to-use.md
Labels: docs-website

#1926 `Tab` documentation update
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/public/assets/components/tabs/tab-size.png
Labels: docs-website

#1913 `Pagination` - Remove handling of query parameters on page change for the "numbered" variant
  .changeset/sour-tigers-pull.md
  packages/components/src/components/hds/pagination/numbered/index.js
  showcase/app/controllers/components/pagination.js
  showcase/app/templates/components/pagination.hbs
  website/docs/components/pagination/index.js
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#1937 `Tabs`: large size variant (HDS-3000)
  .changeset/four-rice-bake.md
  .changeset/itchy-feet-poke.md
  packages/components/src/components/hds/tabs/index.hbs
  packages/components/src/components/hds/tabs/index.js
  packages/components/src/components/hds/tabs/tab.hbs
  packages/components/src/styles/components/tabs.scss
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/products/shared/tabs.json
  showcase/app/routes/components/tabs.js
  showcase/app/styles/showcase-pages/tabs.scss
  showcase/app/templates/components/tabs.hbs
  showcase/tests/integration/components/hds/tabs/index-test.js
  website/docs/components/tabs/partials/code/component-api.md
  website/docs/components/tabs/partials/code/how-to-use.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/public/assets/components/tabs/tab-size.png
Labels: packages/components, docs-website, packages/tokens, showcase

#1908 Add documentation for using multiple `Alerts`
  showcase/dist/api/folk.json
  showcase/dist/api/mock-clusters-with-status.json
  showcase/dist/api/mock-many-columns.json
  showcase/dist/api/mock-selectable-data.json
  showcase/dist/api/mock-users.json
  showcase/dist/assets/chunk.app.c26f43b443789e974e45.js
  showcase/dist/assets/chunk.node_modules_dialog-polyfill_dist_dialog-polyfill_css.f50ef8bd2045d71f17b3.js
  showcase/dist/assets/chunk.packages_components_dist_components_hds_pagination_numbered_index_js-private_var_folders_dr_m-040d6f.d0460662b1666a27acf3.js
  showcase/dist/assets/chunk.packages_flight-icons_svg-sprite_svg-sprite-module_js.076c98b7e28023571cc2.js
  showcase/dist/assets/chunk.tests.0dae70ead7719fa95931.js
  showcase/dist/assets/chunk.vendors-node_modules_axe-core_axe_js-node_modules_ember-qunit_dist_index_js-node_modules_quni-9b87bf.9c74c45d39b1198f9a7f.js
  showcase/dist/assets/chunk.vendors-node_modules_dialog-polyfill_dist_dialog-polyfill_esm_js.62d7f71e9e99e38bf29e.js
  showcase/dist/assets/chunk.vendors-node_modules_glimmer_env_dist_modules_es2017_index_js-node_modules_ember-deep-tracked-6d6f83.13a5ea9b268df04b69d2.js
  showcase/dist/assets/fonts/Rubik-Italic-VF.ttf
  showcase/dist/assets/fonts/Rubik-VF.ttf
  showcase/dist/assets/fonts/gilmer-300-normal.woff2
  showcase/dist/assets/fonts/gilmer-400-normal.woff2
  showcase/dist/assets/fonts/gilmer-500-normal.woff2
  showcase/dist/assets/fonts/gilmer-700-normal.woff2
  showcase/dist/assets/images/avatar.png
  showcase/dist/assets/logos/favicon.png
  showcase/dist/assets/showcase.css
  showcase/dist/assets/showcase.css.map
  showcase/dist/assets/showcase.js
  showcase/dist/assets/showcase.map
  showcase/dist/assets/test-support.js
  showcase/dist/assets/test-support.map
  showcase/dist/assets/tests.js
  showcase/dist/assets/tests.map
  showcase/dist/assets/vendor.css
  showcase/dist/assets/vendor.js
  showcase/dist/assets/vendor.map
  showcase/dist/index.html
  showcase/dist/robots.txt
  showcase/dist/testem.js
  showcase/dist/tests/index.html
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/public/assets/components/alert/alerts-within-reveal-closed.png
  website/public/assets/components/alert/alerts-within-reveal-open.png
  website/public/assets/components/alert/combining-contextualized-alerts.png
  website/public/assets/components/alert/mixing-alert-types-do.png
  website/public/assets/components/alert/mixing-alert-types-dont.png
  website/public/assets/components/alert/multiple-alert-types-do.png
  website/public/assets/components/alert/multiple-color-alerts-do-bulleted-list.png
  website/public/assets/components/alert/multiple-color-alerts-do.png
  website/public/assets/components/alert/multiple-color-alerts-dont.png
  website/public/assets/components/alert/multiple-page-level-alerts.png
  website/public/assets/components/alert/ordering-alerts-color.png
  website/public/assets/components/alert/ordering-alerts-type.png
Labels: docs-website, showcase

#1948 Remove `showcase/dist`
  showcase/dist/api/folk.json
  showcase/dist/api/mock-clusters-with-status.json
  showcase/dist/api/mock-many-columns.json
  showcase/dist/api/mock-selectable-data.json
  showcase/dist/api/mock-users.json
  showcase/dist/assets/chunk.app.c26f43b443789e974e45.js
  showcase/dist/assets/chunk.node_modules_dialog-polyfill_dist_dialog-polyfill_css.f50ef8bd2045d71f17b3.js
  showcase/dist/assets/chunk.packages_components_dist_components_hds_pagination_numbered_index_js-private_var_folders_dr_m-040d6f.d0460662b1666a27acf3.js
  showcase/dist/assets/chunk.packages_flight-icons_svg-sprite_svg-sprite-module_js.076c98b7e28023571cc2.js
  showcase/dist/assets/chunk.tests.0dae70ead7719fa95931.js
  showcase/dist/assets/chunk.vendors-node_modules_axe-core_axe_js-node_modules_ember-qunit_dist_index_js-node_modules_quni-9b87bf.9c74c45d39b1198f9a7f.js
  showcase/dist/assets/chunk.vendors-node_modules_dialog-polyfill_dist_dialog-polyfill_esm_js.62d7f71e9e99e38bf29e.js
  showcase/dist/assets/chunk.vendors-node_modules_glimmer_env_dist_modules_es2017_index_js-node_modules_ember-deep-tracked-6d6f83.13a5ea9b268df04b69d2.js
  showcase/dist/assets/fonts/Rubik-Italic-VF.ttf
  showcase/dist/assets/fonts/Rubik-VF.ttf
  showcase/dist/assets/fonts/gilmer-300-normal.woff2
  showcase/dist/assets/fonts/gilmer-400-normal.woff2
  showcase/dist/assets/fonts/gilmer-500-normal.woff2
  showcase/dist/assets/fonts/gilmer-700-normal.woff2
  showcase/dist/assets/images/avatar.png
  showcase/dist/assets/logos/favicon.png
  showcase/dist/assets/showcase.css
  showcase/dist/assets/showcase.css.map
  showcase/dist/assets/showcase.js
  showcase/dist/assets/showcase.map
  showcase/dist/assets/test-support.js
  showcase/dist/assets/test-support.map
  showcase/dist/assets/tests.js
  showcase/dist/assets/tests.map
  showcase/dist/assets/vendor.css
  showcase/dist/assets/vendor.js
  showcase/dist/assets/vendor.map
  showcase/dist/index.html
  showcase/dist/robots.txt
  showcase/dist/testem.js
  showcase/dist/tests/index.html
Labels: showcase

#1949 Showcase - Add demo use cases
  showcase/app/controllers/components/modal.js
  showcase/app/styles/showcase-pages/dropdown.scss
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/modal.hbs
Labels: showcase

#1950 move ember-deep-tracked dep to showcase
  .changeset/silver-masks-change.md
  packages/components/package.json
  showcase/package.json
  yarn.lock
Labels: packages/components, showcase

#1946 Fix build errors when watching packages
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/rollup.config.mjs
Labels: packages/components, packages/ember-flight-icons

#1951 Explicitly define the entry point for the CSS compilation
  packages/components/rollup.config.mjs
Labels: packages/components

#1952 Adding guidelines for truncation in Pagination
  website/docs/components/pagination/partials/guidelines/guidelines.md
  website/public/assets/components/pagination/pagination-anatomy.png
  website/public/assets/components/pagination/pagination-keyboard-navigation-01.png
  website/public/assets/components/pagination/pagination-keyboard-navigation-02.png
  website/public/assets/components/pagination/pagination-nav-anatomy.png
  website/public/assets/components/pagination/pagination-offset-example.png
  website/public/assets/components/pagination/pagination-spacing-not-contained.png
  website/public/assets/components/pagination/pagination-spacing-tables.png
  website/public/assets/components/pagination/pagination-truncation-end.png
  website/public/assets/components/pagination/pagination-truncation-middle.png
  website/public/assets/components/pagination/pagination-truncation-start.png
Labels: docs-website

#1955 update ambassador references
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

#1957 `Flyout`: Reduce gap between edge of screen in mobile view (HDS-3003)
  .changeset/popular-papayas-march.md
  packages/components/src/styles/components/flyout.scss
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/public/assets/components/flyout/flyout-sizing.png
Labels: packages/components, docs-website

#1961 Standardize acceptance test
  showcase/tests/acceptance/components/hds/app-footer-test.js
Labels: showcase

#1958 Align component names in `website`
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/guidelines/guidelines.md
  website/docs/components/app-footer/partials/guidelines/overview.md
  website/docs/components/button-set/partials/guidelines/overview.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/overview.md
  website/docs/components/code-block/partials/specifications/anatomy.md
  website/docs/components/code-block/partials/specifications/states.md
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: docs-website

#1928 Version Packages
  .changeset/angry-kings-suffer.md
  .changeset/fair-files-relate.md
  .changeset/four-rice-bake.md
  .changeset/hip-drinks-matter.md
  .changeset/itchy-feet-poke.md
  .changeset/long-meals-appear.md
  .changeset/modern-zebras-destroy.md
  .changeset/popular-papayas-march.md
  .changeset/silver-masks-change.md
  .changeset/smart-glasses-turn.md
  .changeset/sour-tigers-pull.md
  .changeset/strong-balloons-repeat.md
  .changeset/two-gorillas-tease.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, docs-website, packages/tokens

#1962 Fix missing comma in v2 addon instructions
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/ember-flight-icons/CHANGELOG.md
  website/docs/getting-started/for-engineers.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
Labels: packages/components, packages/ember-flight-icons, docs-website

#1936 Add a Figma changelog entry for the 4.0 release
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components
