Repository hashicorp/design-system, pull requests merged in 2024-10, with the labels that each got.

#2464 Update checkmark `ListItem` styling
  .changeset/odd-poets-complain.md
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

#2470 HDS Website -- Addition of UI Libraries
  website/docs/getting-started/for-designers.md
Labels: docs-website

#2475 `Shw::Label` - Convert to GTS (HDS-3834)
  showcase/app/components/shw/label/index.gts
  showcase/app/components/shw/label/index.hbs
  showcase/app/components/shw/label/index.ts
  showcase/types/template-registry.ts
Labels: showcase

#2473 `SuperSelect::Multiple` - fix placeholder style and layout
  .changeset/nice-llamas-tap.md
  packages/components/src/styles/components/form/super-select.scss
  showcase/app/templates/components/form/super-select.hbs
Labels: packages/components, showcase

#2479 Update `SuperSelect` selected list item style
  .changeset/new-days-enjoy.md
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

#2476 Add deprecation comments to the type declarations
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
Labels: packages/components

#2480 Showcase - Tiny fix to a `Modal` demo
  showcase/app/templates/components/modal.hbs
Labels: showcase

#2474 `CodeBlock` - fix line numbers always shown when `highlightLines` is set
  .changeset/rich-lemons-think.md
  packages/components/src/components/hds/code-block/index.ts
  showcase/app/templates/components/code-block.hbs
Labels: packages/components, showcase

#2467 `CodeBlock` - Expose ability to set custom line number start
  .changeset/spicy-grapes-happen.md
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  showcase/app/templates/components/code-block.hbs
  website/docs/components/code-block/partials/code/component-api.md
Labels: packages/components, docs-website, showcase

#2481 Update `SuperSelect` selected list item style
  packages/components/src/styles/components/form/super-select.scss
Labels: packages/components

#2477 `AppSideNav` - Remove named blocks (HDS-3924)
  packages/components/package.json
  packages/components/src/components/hds/app-side-nav/base.hbs
  packages/components/src/components/hds/app-side-nav/base.ts
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/list/title.ts
  packages/components/src/styles/components/app-side-nav/content.scss
  packages/components/src/styles/components/app-side-nav/main.scss
  packages/components/src/styles/components/app-side-nav/toggle-button.scss
  packages/components/src/styles/components/app-side-nav/vars.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/tests/integration/components/hds/app-side-nav/base-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2484 Showcase - Small update to the showcase for `AppFrame`
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

#2486 `AppSideNav` - Replace tracked variables from args
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

#2482 chore: upgrade `ember-style-modifier`
  .changeset/spotty-experts-repair.md
  packages/components/package.json
  showcase/package.json
  yarn.lock
Labels: packages/components, showcase

#2489 Updated export of icons from Figma
  .changeset/young-buckets-glow.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/okta-16.svg
  packages/flight-icons/svg-original/okta-24.svg
  packages/flight-icons/svg-original/okta-color-16.svg
  packages/flight-icons/svg-original/okta-color-24.svg
  packages/flight-icons/svg-react/okta-16.tsx
  packages/flight-icons/svg-react/okta-24.tsx
  packages/flight-icons/svg-react/okta-color-16.tsx
  packages/flight-icons/svg-react/okta-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/okta-16.svg
  packages/flight-icons/svg/okta-24.svg
  packages/flight-icons/svg/okta-color-16.svg
  packages/flight-icons/svg/okta-color-24.svg
Labels: packages/flight-icons

#2495 Showcase `.gts` - Convert some components to TemplateOnly
  showcase/app/components/shw/divider/index.gts
  showcase/app/components/shw/label/index.gts
  showcase/app/components/shw/outliner/index.gts
  showcase/app/components/shw/text/body.gts
  showcase/app/components/shw/text/h1.gts
  showcase/app/components/shw/text/h2.gts
  showcase/app/components/shw/text/h3.gts
  showcase/app/components/shw/text/h4.gts
Labels: showcase

#2494 Showcase `.gts` - `Shw::Frame`
  showcase/app/components/shw/frame/index.gts
  showcase/app/components/shw/frame/index.hbs
  showcase/types/template-registry.ts
Labels: showcase

#2497 `Modal`/` Flyout` - Add `returnFocusTo` argument for consumer-side focus management on close
  .changeset/brown-eagles-fry.md
  packages/components/src/components/hds/flyout/index.ts
  packages/components/src/components/hds/modal/index.ts
  showcase/app/controllers/components/flyout.js
  showcase/app/controllers/components/modal.js
  showcase/app/templates/components/flyout.hbs
  showcase/app/templates/components/modal.hbs
  showcase/package.json
  showcase/tests/integration/components/hds/flyout/index-test.js
  showcase/tests/integration/components/hds/modal/index-test.js
  yarn.lock
Labels: packages/components, showcase

#2504 Showcase - Remove leftover `Component` in `Shw::**` components class names
  showcase/app/components/shw/flex/index.gts
  showcase/app/components/shw/flex/item.gts
  showcase/app/components/shw/text/index.gts
Labels: showcase

#2492 Shw Grid - Convert components to gts (HDS-3833)
  showcase/app/components/shw/grid/index.gts
  showcase/app/components/shw/grid/index.hbs
  showcase/app/components/shw/grid/item.gts
  showcase/app/components/shw/grid/item.hbs
  showcase/types/template-registry.ts
Labels: showcase

#2502 `SuperSelect::Multiple` - allow custom result count message
  .changeset/spotty-boxes-do.md
  packages/components/src/components/hds/form/super-select/multiple/base.ts
  showcase/app/templates/components/form/super-select.hbs
  showcase/tests/integration/components/hds/form/super-select/multiple/base-test.js
  website/docs/components/form/super-select/partials/code/component-api.md
Labels: packages/components, docs-website, showcase

#2503 `Dropdown` - Small changes to logic for content being preserved in the DOM (on top of #2490)
  .changeset/curly-apples-share.md
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.ts
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/index-test.js
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2490 `Dropdown` - fix content being preserved in the DOM when closed
  .changeset/curly-apples-share.md
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.ts
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/index-test.js
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2505 Updated export of icons from Figma
  .changeset/orange-mice-tease.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/confluent-16.svg
  packages/flight-icons/svg-original/confluent-24.svg
  packages/flight-icons/svg-original/confluent-color-16.svg
  packages/flight-icons/svg-original/confluent-color-24.svg
  packages/flight-icons/svg-original/datadog-24.svg
  packages/flight-icons/svg-original/datadog-color-24.svg
  packages/flight-icons/svg-original/lightlytics-color-24.svg
  packages/flight-icons/svg-react/confluent-16.tsx
  packages/flight-icons/svg-react/confluent-24.tsx
  packages/flight-icons/svg-react/confluent-color-16.tsx
  packages/flight-icons/svg-react/confluent-color-24.tsx
  packages/flight-icons/svg-react/datadog-24.tsx
  packages/flight-icons/svg-react/datadog-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/confluent-16.svg
  packages/flight-icons/svg/confluent-24.svg
  packages/flight-icons/svg/confluent-color-16.svg
  packages/flight-icons/svg/confluent-color-24.svg
  packages/flight-icons/svg/datadog-24.svg
  packages/flight-icons/svg/datadog-color-24.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
Labels: packages/flight-icons

#2506 `Dropdown` - fix dropdown content not being preserved when interacted with
  .changeset/seven-taxis-develop.md
  packages/components/src/components/hds/dropdown/index.hbs
  showcase/tests/integration/components/hds/dropdown/index-test.js
Labels: packages/components, showcase

#2487 `AppSideNav` - Fix bug with scrolling caused by hidden panels (HDS-3892)
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

#2469 Version Packages
  .changeset/brown-eagles-fry.md
  .changeset/curly-apples-share.md
  .changeset/eighty-geese-camp.md
  .changeset/new-days-enjoy.md
  .changeset/nice-llamas-tap.md
  .changeset/odd-poets-complain.md
  .changeset/orange-mice-tease.md
  .changeset/rich-lemons-think.md
  .changeset/seven-taxis-develop.md
  .changeset/spicy-grapes-happen.md
  .changeset/spotty-boxes-do.md
  .changeset/spotty-experts-repair.md
  .changeset/young-buckets-glow.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/components/accordion/index.md
  website/docs/components/alert/index.md
  website/docs/components/app-header/index.md
  website/docs/components/application-state/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/card/index.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/4.13.0.md
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/4.13.0.md
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.13.0.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/4.13.0.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.13.0.md
  website/docs/components/pagination/index.md
  website/docs/components/side-nav/index.md
  website/docs/layouts/app-frame/index.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website

#2425 `SideNav` - Deprecate component (HDS-3848)
  .changeset/seven-mugs-think.md
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/partials/version-history/4.14.0.md
Labels: packages/components, docs-website

#2509 `Alert` - Docs updates for informational alert usage (HDS-3918)
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/public/assets/components/alert/alert-informational-highlight.png
  website/public/assets/components/alert/alert-informational-nuetral.png
Labels: docs-website

#2500 `Alert` - don't use role or aria-live for non-valid alert usages (HDS-3919)
  .changeset/tough-lies-divide.md
  packages/components/src/components/hds/alert/index.hbs
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/toast/index.hbs
  showcase/tests/integration/components/hds/alert/index-test.js
  showcase/tests/integration/components/hds/toast/index-test.js
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/alert/partials/guidelines/guidelines.md
  website/public/assets/components/alert/alert-informational-highlight.png
  website/public/assets/components/alert/alert-informational-nuetral.png
Labels: packages/components, docs-website, showcase

#2508 `Modal`/` Flyout` - Add `returnFocusTo` documentation
  website/docs/components/flyout/partials/code/component-api.md
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/modal/partials/code/component-api.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

#2513 Fix Dropdown-related deprecation warnings in `website` and `showcase`
  showcase/app/templates/components/app-footer.hbs
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/application-state.hbs
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/modal.hbs
  showcase/app/templates/components/page-header.hbs
  showcase/app/templates/components/segmented-group.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/components/table.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
  website/config/deprecation-workflow.js
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/patterns/table-multi-select/partials/accessibility/accessibility.md
Labels: docs-website, showcase

#2516 Fix incorrectly met dev dependencies
  packages/components/package.json
  packages/tokens/package.json
  packages/tokens/scripts/build-parts/generateCssHelpers.ts
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, packages/tokens, showcase

#2511 Fixing Error in `Hds::Flyout` & `Hds::Modal` subcomponents
  .changeset/dull-lamps-retire.md
  packages/components/src/components/hds/flyout/body.ts
  packages/components/src/components/hds/flyout/description.ts
  packages/components/src/components/hds/modal/body.ts
Labels: packages/components

#2521 Update README.md in `ember-flight-icons`
  packages/ember-flight-icons/README.md
Labels: packages/ember-flight-icons

#2523 Showcase - Small fixes for `Shw::Grid` component
  showcase/app/components/shw/grid/index.gts
  showcase/app/styles/showcase-components/grid.scss
Labels: showcase

#2529 Showcase - Added extra demo to `Dropdown` for `width="100%"`
  showcase/app/templates/components/dropdown.hbs
Labels: showcase

#2531 Fix few typos in docs
  website/docs/components/app-header/partials/specifications/anatomy.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/application-state/partials/guidelines/guidelines.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/patterns/form-patterns/partials/validation/validation.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
Labels: docs-website

#2522 `Dropdown`: fix height for small variant
  .changeset/violet-donuts-matter.md
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

#2525 `hds-clipboard`: add `clipboard-polyfill` to support more environments
  .changeset/soft-pets-hear.md
  packages/components/package.json
  packages/components/src/modifiers/hds-clipboard.ts
  yarn.lock
Labels: packages/components
