Repository hashicorp/design-system, pull requests merged in 2024-03, with the labels that each got.

#1970 Update NEW-COMPONENT-CHECKLIST.md
  packages/components/NEW-COMPONENT-CHECKLIST.md
Labels: packages/components

#1968 Removed structure reference from the badge documentation.
  website/docs/components/badge/partials/guidelines/guidelines.md
Labels: docs-website

#1972 Added date and generated changelog release notes
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#1973 Fix form component docs
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/form/checkbox/partials/code/component-api.md
  website/docs/components/form/masked-input/partials/code/component-api.md
  website/docs/components/form/radio-card/partials/code/component-api.md
  website/docs/components/form/radio/partials/code/component-api.md
  website/docs/components/form/select/partials/code/component-api.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/component-api.md
  website/docs/components/form/textarea/partials/code/component-api.md
  website/docs/components/form/toggle/partials/code/component-api.md
Labels: docs-website

#1906 Add image error handling to `Dropdown::Toggle::Icon`
  .changeset/smooth-hairs-nail.md
  packages/components/src/components/hds/dropdown/toggle/icon.hbs
  packages/components/src/components/hds/dropdown/toggle/icon.js
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/toggle/icon-test.js
Labels: packages/components, showcase

#1967 Icons - Update script to support a "category" field
  .changeset/tall-windows-hug.md
  packages/flight-icons/catalog.json
  packages/flight-icons/scripts/@types/AssetsCatalog.d.ts
  packages/flight-icons/scripts/@types/AssetsMetadata.d.ts
  packages/flight-icons/scripts/@types/ConfigData.d.ts
  packages/flight-icons/scripts/config.ts
  packages/flight-icons/scripts/sync-parts/getAssetsCatalog.ts
  packages/flight-icons/scripts/sync-parts/getAssetsMetadata.ts
Labels: packages/flight-icons

#1977 Remove `dialog-polyfill` dependency
  .changeset/twenty-goats-type.md
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components/hds/flyout/index.js
  packages/components/src/components/hds/modal/index.js
  yarn.lock
Labels: packages/components

#1980 Typescript - `Hds::DismissButton`
  .changeset/nice-radios-hammer.md
  packages/components/src/components/hds/dismiss-button/index.js
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components

#1981 Skip flake in Dropdown toggle icon test
  showcase/tests/integration/components/hds/dropdown/toggle/icon-test.js
Labels: showcase

#1965 Design tokens for email
  .changeset/chilled-ducks-march.md
  packages/tokens/dist/cloud-email/helpers/color.css
  packages/tokens/dist/cloud-email/helpers/elevation.css
  packages/tokens/dist/cloud-email/helpers/focus-ring.css
  packages/tokens/dist/cloud-email/helpers/typography.css
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/scripts/build-parts/generateCssHelpers.ts
  packages/tokens/scripts/build-parts/generateElevationHelpers.ts
  packages/tokens/scripts/build-parts/generateFocusRingHelpers.ts
  packages/tokens/scripts/build-parts/generateTypographyHelpers.ts
  packages/tokens/scripts/build.ts
Labels: packages/tokens

#1971 Version Packages
  .changeset/beige-cups-raise.md
  .changeset/chilled-ducks-march.md
  .changeset/dirty-peaches-drum.md
  .changeset/grumpy-hounds-shave.md
  .changeset/nice-radios-hammer.md
  .changeset/pretty-rabbits-mix.md
  .changeset/smooth-hairs-nail.md
  .changeset/tall-windows-hug.md
  .changeset/twenty-goats-type.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, docs-website

#1987 Put all component registry declarations in template-registry
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/src/helpers/hds-link-to-query.ts
  packages/components/src/template-registry.ts
  packages/components/src/types/global.d.ts
Labels: packages/components, typescript

#1988 Move development types to unpublished-development-types
  packages/components/src/types/global.d.ts
  packages/components/unpublished-development-types/@hashicorp/ember-flight-icons/flight-icon.d.ts
  packages/components/unpublished-development-types/global.d.ts
  packages/components/unpublished-development-types/index.d.ts
Labels: packages/components, typescript

#1995 Re-organize "showcase" index page to follow same order as "website"
  showcase/app/templates/index.hbs
Labels: showcase

#1994 `Flyout`: Add interpolation to Sass size variable (HDS-3206)
  .changeset/khaki-trees-sit.md
  packages/components/src/styles/components/flyout.scss
Labels: packages/components

#1996 Version Packages
  .changeset/khaki-trees-sit.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#1998 Add linting for `.ts` files in `packages/components`
  packages/components/.eslintrc.js
  packages/components/package.json
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/helpers/hds-link-to-models.ts
  packages/components/unpublished-development-types/@hashicorp/ember-flight-icons/flight-icon.d.ts
  yarn.lock
Labels: packages/components

#1984 Convert `Hds::Text*` components to typescript
  .changeset/stale-poets-applaud.md
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components/hds/text/body.js
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.js
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.js
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/components/hds/text/types.ts
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/global.d.ts
  yarn.lock
Labels: packages/components, typescript

#2003 Add linting for `packages/components` and fix Text types
  .github/workflows/ci-components.yml
  packages/components/src/components/hds/copy/snippet/index.hbs
  packages/components/src/components/hds/text/types.ts
Labels: packages/components

#2002 Add warning for version 4.1.1 in changelog
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2005 Bump components test timeout from 10s to 20s
  showcase/testem.js
Labels: showcase

#1999 Check Sass compiles to CSS before publish
  packages/components/package.json
Labels: packages/components

#1989 Web: Add categories for filtered icon search (HDS-3064)
  website/app/components/doc/icons-list/grid.hbs
  website/app/components/doc/icons-list/index.hbs
  website/app/styles/doc-components/icons-list/index.scss
  website/docs/icons/library/index.js
  website/docs/icons/library/index.md
  website/tests/acceptance/icon-test.js
Labels: docs-website

#2010 HDS-2704: convert `Hds::Link::Standalone` to typescript
  .changeset/green-donkeys-rule.md
  packages/components/package.json
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/components/hds/interactive/types.ts
  packages/components/src/components/hds/link/standalone.hbs
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/link/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2009 Web: Update token search to match icon search (HDS-3209)
  website/app/components/doc/tokens-list/grid.hbs
  website/app/components/doc/tokens-list/index.hbs
  website/app/styles/doc-components/tokens-list.scss
  website/docs/foundations/tokens/index.js
  website/tests/acceptance/token-test.js
Labels: docs-website

#2014 Add interactive types to package.json
  packages/components/package.json
Labels: packages/components

#1997 TypeScript: Convert Hds::Card to TypeScript
  .changeset/funny-files-pay.md
  packages/components/package.json
  packages/components/src/components/hds/card/container.hbs
  packages/components/src/components/hds/card/container.ts
  packages/components/src/components/hds/card/types.ts
  packages/components/src/template-registry.ts
  showcase/app/routes/components/card.js
Labels: packages/components, showcase, typescript

#2011 bugfix(components): fix flaky tests by restoring waiters usage from @ember/test-waiters
  .changeset/ten-falcons-run.md
  packages/components/src/components/hds/flyout/index.js
  packages/components/src/components/hds/modal/index.js
Labels: packages/components

#1990 Typescript - `Hds::Alert`
  .changeset/stupid-windows-deny.md
  packages/components/package.json
  packages/components/src/components/hds/alert/description.hbs
  packages/components/src/components/hds/alert/description.ts
  packages/components/src/components/hds/alert/index.hbs
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/alert/title.hbs
  packages/components/src/components/hds/alert/title.ts
  packages/components/src/components/hds/alert/types.ts
  packages/components/src/components/hds/yield/index.ts
  packages/components/src/components/hds/yield/types.ts
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/@hashicorp/ember-flight-icons/flight-icon.d.ts
  packages/components/unpublished-development-types/global.d.ts
Labels: packages/components, typescript

#2001 Version Packages
  .changeset/big-hornets-allow.md
  .changeset/funny-files-pay.md
  .changeset/green-donkeys-rule.md
  .changeset/stale-poets-applaud.md
  .changeset/stupid-windows-deny.md
  .changeset/ten-falcons-run.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2019 Fix outdated GitHub paths for `table` and `pagination` components on website
  website/docs/components/pagination/index.md
  website/docs/components/table/index.md
Labels: docs-website

#2024 Ignore `/declarations/` in prettier and eslint
  packages/components/.eslintignore
  packages/components/.prettierignore
Labels: packages/components, typescript

#2027 Re-map class-name color token in CodeBlock
  .changeset/olive-hotels-know.md
  packages/components/src/styles/components/code-block/theme.scss
Labels: packages/components

#2012 Update the description of HDS on website to clarify its intended scope
  website/app/templates/about.hbs
  website/docs/about/overview.md
Labels: docs-website
