Repository hashicorp/design-system, pull requests merged in 2024-05, with the labels that each got.

#2065 Website + Showcase / Rebranding followup
  showcase/app/components/shw/logo/design-system.hbs
  website/app/components/doc/logo/design-system.hbs
  website/app/components/doc/logo/hashi-corp.hbs
  website/app/styles/doc-components/algolia-search/form.scss
  website/app/styles/doc-components/color-swatch.scss
  website/app/styles/pages/home.scss
  website/app/styles/typography/font-faces.scss
  website/app/styles/typography/mixins.scss
  website/public/assets/fonts/gilmer-300-normal.woff2
  website/public/assets/fonts/gilmer-400-normal.woff2
  website/public/assets/fonts/gilmer-500-normal.woff2
  website/public/assets/fonts/gilmer-700-normal.woff2
  website/public/assets/fonts/hashicorp-sans-variable.woff2
Labels: showcase

#2072 Adjust guidance for forms in Modal
  website/docs/components/modal/index.js
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

#2078 `AppFooter`: Add `ExtraBefore` & `ExtraAfter` examples to docs
  website/app/styles/pages/components/app-footer.scss
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-footer/partials/code/how-to-use.md
Labels: docs-website

#2076 Removed outdated comments in CSS code
  packages/components/src/styles/@hashicorp/design-system-power-select-overrides.scss
  packages/components/src/styles/components/form/select.scss
  packages/components/src/styles/components/form/text-input.scss
  packages/components/src/styles/components/form/textarea.scss
Labels: packages/components

#2081 Updated export of icons from Figma
  .changeset/twenty-games-play.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/sparkle-16.svg
  packages/flight-icons/svg-original/sparkle-24.svg
  packages/flight-icons/svg-original/zap-16.svg
  packages/flight-icons/svg-original/zap-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/sparkle-16.tsx
  packages/flight-icons/svg-react/sparkle-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/sparkle-16.svg
  packages/flight-icons/svg/sparkle-24.svg
Labels: packages/flight-icons

#2073 Add examples of `Tag` components with long text to the showcase
  showcase/app/templates/components/tag.hbs
Labels: showcase

#2004 Publish types from `packages/components`
  .changeset/dirty-ways-wave.md
  packages/components/babel.config.json
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components/hds/alert/description.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/alert/title.ts
  packages/components/src/components/hds/alert/types.ts
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/icon-tile/types.ts
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/components/hds/interactive/types.ts
  packages/components/src/components/hds/link/inline.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/link/types.ts
  packages/components/src/components/hds/toast/index.ts
  packages/components/src/components/hds/toast/types.ts
  packages/components/src/components/hds/yield/index.ts
  packages/components/src/components/hds/yield/types.ts
  packages/components/tsconfig.json
  packages/ember-flight-icons/package.json
  showcase/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase, typescript

#2084 `Dropdown::ListItem::Checkmark` - Fix icon spacing
  .changeset/chilled-news-sort.md
  packages/components/src/components/hds/dropdown/list-item/checkmark.hbs
Labels: packages/components

#2025 `DisclosurePrimitive` - Convert to TypeScript
  .changeset/lovely-worms-turn.md
  packages/components/src/components/hds/disclosure-primitive/index.hbs
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2090 Fix typo in `template-registry.ts` file
  .changeset/breezy-humans-search.md
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2088 `BadgeCount` - Convert to TypeScript
  .changeset/light-dolphins-film.md
  packages/components/src/components/hds/badge-count/index.hbs
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/components/hds/badge-count/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2089 `Tag` - Convert to TypeScript
  .changeset/eighty-rings-lie.md
  packages/components/src/components/hds/tag/index.ts
  packages/components/src/components/hds/tag/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2092 Added small comment to file with link mentioning Container Queries and z-index
  packages/components/src/styles/components/page-header.scss
Labels: packages/components

#2097 `Reveal` - Convert to TypeScript
  .changeset/soft-carrots-rest.md
  packages/components/src/components/hds/reveal/index.hbs
  packages/components/src/components/hds/reveal/index.js
  packages/components/src/components/hds/reveal/index.ts
  packages/components/src/components/hds/reveal/toggle/button.hbs
  packages/components/src/components/hds/reveal/toggle/button.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2026 `SuperSelect` web docs (HDS-3222)
  website/app/components/power-select/selected-option-multiple.hbs
  website/app/components/power-select/selected-option-single.hbs
  website/app/styles/app.scss
  website/app/styles/pages/components/super-select.scss
  website/docs/components/form/super-select/index.js
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/accessibility/accessibility.md
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/guidelines/overview.md
  website/docs/components/form/super-select/partials/specifications/anatomy.md
  website/docs/components/form/super-select/partials/specifications/states.md
  website/docs/overrides/power-select/partials/code/how-to-use.md
  website/public/assets/components/form/super-select/super-select-after-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-anatomy.png
  website/public/assets/components/form/super-select/super-select-before-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-before-options-search.png
  website/public/assets/components/form/super-select/super-select-dont-visually-heavy.png
  website/public/assets/components/form/super-select/super-select-flow-clear-selected.png
  website/public/assets/components/form/super-select/super-select-flow-no-selections-select-all.png
  website/public/assets/components/form/super-select/super-select-flow-select-all.png
  website/public/assets/components/form/super-select/super-select-group-list-items.png
  website/public/assets/components/form/super-select/super-select-list-item-types.png
  website/public/assets/components/form/super-select/super-select-list-positioning.png
  website/public/assets/components/form/super-select/super-select-list-width-auto.png
  website/public/assets/components/form/super-select/super-select-list-width-matching.png
  website/public/assets/components/form/super-select/super-select-listitem-checkbox-states.png
  website/public/assets/components/form/super-select/super-select-listitem-checkmark-states.png
  website/public/assets/components/form/super-select/super-select-multi-flow-search-to-add.png
  website/public/assets/components/form/super-select/super-select-multiple-variant-footer.png
  website/public/assets/components/form/super-select/super-select-multiple-variant.png
  website/public/assets/components/form/super-select/super-select-optional.png
  website/public/assets/components/form/super-select/super-select-required.png
  website/public/assets/components/form/super-select/super-select-single-multiple-footer-custom-content.png
  website/public/assets/components/form/super-select/super-select-single-variant-footer-with-counter.png
  website/public/assets/components/form/super-select/super-select-single-variant-text.png
  website/public/assets/components/form/super-select/super-select-trigger-empty.png
  website/public/assets/components/form/super-select/super-select-trigger-filled.png
  website/public/assets/components/form/super-select/super-select-trigger-placeholder-text.png
  website/public/assets/components/form/super-select/super-select-trigger-states.png
  website/public/assets/illustrations/components/form/super-select.jpg
  website/tests/acceptance/components/super-select.js
Labels: docs-website

#2111 Fix: add `'**/*.ts',` to public entry points
  packages/components/rollup.config.mjs
Labels: packages/components, typescript

#2113 Fix issue with `TemplateOnlyComponent`
  packages/components/src/components/hds/alert/description.ts
  packages/components/src/components/hds/alert/title.ts
  packages/components/src/components/hds/toast/index.ts
  packages/components/src/components/hds/yield/index.ts
  packages/components/tsconfig.json
Labels: packages/components

#2108 Standardize type declarations for existing components
  .changeset/lemon-masks-carry.md
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/components/hds/badge/index.ts
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/card/container.ts
  packages/components/src/components/hds/dismiss-button/index.ts
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/components/hds/link/inline.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/tag/index.ts
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/template-registry.ts
  website/docs/components/badge-count/partials/code/component-api.md
  website/docs/components/badge/partials/code/component-api.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/icon-tile/partials/code/component-api.md
  website/docs/components/link/standalone/partials/code/component-api.md
  website/docs/components/tag/partials/code/component-api.md
  website/docs/utilities/disclosure-primitive/partials/code/component-api.md
Labels: packages/components, docs-website, typescript

#2101 `Accordion` - Convert to TypeScript
  .changeset/seven-comics-cough.md
  packages/components/src/components/hds/accordion/index.hbs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/button.hbs
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2087 Add TypeScript migration docs
  wiki/TypeScript-Migration.md
Labels: typescript

#2114 `Separator` - Convert to TypeScript
  .changeset/stupid-news-marry.md
  packages/components/src/components/hds/separator/index.hbs
  packages/components/src/components/hds/separator/index.ts
  packages/components/src/components/hds/separator/types.ts
  packages/components/src/template-registry.ts
  showcase/tests/integration/components/hds/separator/index-test.js
Labels: packages/components, showcase, typescript

#2096 `AppFooter` - Convert to Typescript
  .changeset/plenty-emus-marry.md
  packages/components/src/components/hds/app-footer/copyright.hbs
  packages/components/src/components/hds/app-footer/copyright.ts
  packages/components/src/components/hds/app-footer/index.hbs
  packages/components/src/components/hds/app-footer/index.js
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-footer/item.hbs
  packages/components/src/components/hds/app-footer/item.ts
  packages/components/src/components/hds/app-footer/legal-links.hbs
  packages/components/src/components/hds/app-footer/legal-links.ts
  packages/components/src/components/hds/app-footer/link.hbs
  packages/components/src/components/hds/app-footer/link.ts
  packages/components/src/components/hds/app-footer/status-link.hbs
  packages/components/src/components/hds/app-footer/status-link.ts
  packages/components/src/components/hds/app-footer/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2115 `Stepper` - Convert components to TypeScript
  .changeset/purple-pears-hang.md
  packages/components/src/components/hds/stepper/step/indicator.hbs
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.hbs
  packages/components/src/components/hds/stepper/task/indicator.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2095 Update WCAG 2.1 references to WCAG 2.2
  website/app/components/doc/wcag-list/index.js
  website/docs-scraper/parts/getWcagCriteria.mjs
  website/docs/about/accessibility-statement.md
  website/docs/about/overview.md
  website/docs/components/breadcrumb/partials/accessibility/accessibility.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/foundations/accessibility/index.md
  website/docs/patterns/table-multi-select/partials/accessibility/accessibility.md
Labels: docs-website

#2121 Update the “Component API” for `Copy::Button` and `Copy::Snippet`
  website/docs/components/copy/button/partials/code/component-api.md
  website/docs/components/copy/snippet/partials/code/component-api.md
Labels: docs-website

#2099 `ButtonSet`: Convert to TypeScript (HDS-2686)
  .changeset/strange-hairs-judge.md
  packages/components/src/components/hds/button-set/index.hbs
  packages/components/src/components/hds/button-set/index.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2029 Version Packages
  .changeset/afraid-beds-serve.md
  .changeset/breezy-humans-search.md
  .changeset/chilled-news-sort.md
  .changeset/chilly-avocados-serve.md
  .changeset/cool-lemons-rush.md
  .changeset/dirty-ways-wave.md
  .changeset/eighty-rings-lie.md
  .changeset/friendly-onions-walk.md
  .changeset/hot-grapes-rule.md
  .changeset/lemon-masks-carry.md
  .changeset/light-dolphins-film.md
  .changeset/lovely-worms-turn.md
  .changeset/metal-zoos-push.md
  .changeset/olive-hotels-know.md
  .changeset/plenty-emus-marry.md
  .changeset/purple-pears-hang.md
  .changeset/real-pets-work.md
  .changeset/seven-comics-cough.md
  .changeset/six-wombats-press.md
  .changeset/slimy-bears-mix.md
  .changeset/slow-scissors-flow.md
  .changeset/small-onions-grow.md
  .changeset/smart-badgers-own.md
  .changeset/smart-squids-fry.md
  .changeset/soft-buttons-burn.md
  .changeset/soft-carrots-rest.md
  .changeset/strange-hairs-judge.md
  .changeset/stupid-news-marry.md
  .changeset/twenty-games-play.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/components, docs-website

#2124 `Hds::BadgeCount` - Fix typo in template registry declaration
  .changeset/tiny-apes-sin.md
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2122 fix(components): update pre-publish script to run build correctly
  .changeset/rare-suns-love.md
  packages/components/package.json
Labels: packages/components

#2123 chore(components): add new `eslint` rule
  packages/components/.eslintrc.cjs
  packages/components/.eslintrc.js
  packages/components/.prettierrc.cjs
  packages/components/.template-lintrc.cjs
  packages/components/addon-main.cjs
  packages/components/config/environment.d.ts
  packages/components/config/environment.js
  packages/components/package.json
  packages/components/src/components/hds/dropdown/list-item/checkbox.js
  packages/components/src/components/hds/dropdown/list-item/radio.js
  packages/components/src/components/hds/flyout/index.js
  packages/components/src/components/hds/form/field/index.js
  packages/components/src/components/hds/form/fieldset/index.js
  packages/components/src/components/hds/form/masked-input/base.js
  packages/components/src/components/hds/form/radio-card/index.js
  packages/components/src/components/hds/form/super-select/multiple/base.js
  packages/components/src/components/hds/form/super-select/multiple/field.js
  packages/components/src/components/hds/form/super-select/single/base.js
  packages/components/src/components/hds/form/super-select/single/field.js
  packages/components/src/components/hds/modal/index.js
  packages/components/src/components/hds/popover-primitive/index.js
  packages/components/src/components/hds/rich-tooltip/bubble.js
  packages/components/src/components/hds/rich-tooltip/index.js
  yarn.lock
Labels: packages/components

#2127 Template Registry - Remove redundant entries
  .changeset/lucky-stingrays-call.md
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2120 `hds-clipboard` modifier: convert to TypeScript (HDS-3344)
  .changeset/unlucky-oranges-tickle.md
  packages/components/src/modifiers/hds-clipboard.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2130 Fix link to Figma Component
  website/docs/components/rich-tooltip/index.md
Labels: docs-website

#2134 Add deprecation warning to `PowerSelect` style overrides
  website/docs/overrides/power-select/partials/code/how-to-use.md
Labels: docs-website

#2131 Web: icon library "group by" feature (HDS-3288)
  website/app/components/doc/form/select-group-type.hbs
  website/app/components/doc/icons-list/index.hbs
  website/app/components/doc/table-of-contents/index.hbs
  website/app/controllers/show.js
  website/app/styles/doc-components/form/select.scss
  website/app/styles/doc-components/icons-list/index.scss
  website/docs/icons/library/index.js
  website/docs/icons/library/index.md
  website/tests/acceptance/icon-test.js
Labels: docs-website

#2110 `CopySnippet`: convert to TypeScript (HDS-2689)
  .changeset/small-boats-tie.md
  packages/components/src/components/hds/copy/snippet/index.hbs
  packages/components/src/components/hds/copy/snippet/index.ts
  packages/components/src/components/hds/copy/snippet/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2100 `CopyButton`: convert to TypeScript (HDS-2688)
  .changeset/popular-eels-melt.md
  .changeset/small-boats-tie.md
  packages/components/src/components/hds/copy/button/index.hbs
  packages/components/src/components/hds/copy/button/index.ts
  packages/components/src/components/hds/copy/button/types.ts
  packages/components/src/components/hds/copy/snippet/index.hbs
  packages/components/src/components/hds/copy/snippet/index.ts
  packages/components/src/components/hds/copy/snippet/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2136 `Tabs` documentation - Update to the output of the `logClickedTab` function to demo the arguments provided
  showcase/app/controllers/components/tabs.js
  website/docs/components/tabs/index.js
Labels: docs-website, showcase

#2129 feat(components): add public re export pattern
  .changeset/cold-gorillas-reply.md
  packages/components/src/components.ts
  packages/components/src/helpers.ts
  packages/components/src/modifiers.ts
  wiki/TypeScript-Migration.md
Labels: packages/components

#2083 Disabled state patterns Doc
  website/docs/patterns/disabled-patterns/index.md
  website/docs/patterns/disabled-patterns/partials/accessibility.md
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/disabled-patterns/partials/guidelines/overview.md
  website/docs/patterns/disabled-patterns/partials/research.md
  website/public/assets/illustrations/patterns/disabled-state-patterns.jpg
  website/public/assets/patterns/disabled-patterns/conditional-availability-example-disabled.png
  website/public/assets/patterns/disabled-patterns/conditional-availability-example-explanation.png
  website/public/assets/patterns/disabled-patterns/create-new-limitation-example.png
  website/public/assets/patterns/disabled-patterns/create-new-limitation-reached-example.png
  website/public/assets/patterns/disabled-patterns/incomplete-flow-example.png
  website/public/assets/patterns/disabled-patterns/permissions-example-3.png
  website/public/assets/patterns/disabled-patterns/permissions-example.png
  website/public/assets/patterns/disabled-patterns/service-outage-example.png
  website/public/assets/patterns/disabled-patterns/upgrade-inline-example.png
  website/public/assets/patterns/disabled-patterns/upgrade-modal-example-1.png
  website/public/assets/patterns/disabled-patterns/upgrade-modal-example-2.png
Labels: docs-website
