Repository hashicorp/design-system, pull requests merged in 2024-08, with the labels that each got.

#2303 Website - Add status badges and version history for `AppHeader` and `SideNav`
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/version-history/4.8.0.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/version-history/4.8.0.md
Labels: docs-website

#2269 `ApplicationState` Enhancements - Documentation
  showcase/app/templates/components/application-state.hbs
  website/docs/components/application-state/index.md
  website/docs/components/application-state/partials/code/component-api.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/application-state/partials/guidelines/guidelines.md
  website/docs/components/application-state/partials/guidelines/overview.md
  website/docs/components/application-state/partials/specifications/anatomy.md
  website/public/assets/components/application-state/application-state-alignment-center.png
  website/public/assets/components/application-state/application-state-alignment-left.png
  website/public/assets/components/application-state/application-state-anatomy-page.png
  website/public/assets/components/application-state/application-state-body-content-types.png
  website/public/assets/components/application-state/application-state-dropdown-actions.png
  website/public/assets/components/application-state/application-state-empty-state-do-keep-one-primary-cta.png
  website/public/assets/components/application-state/application-state-empty-state-dont-duplicate-buttons.png
  website/public/assets/components/application-state/application-state-empty-state.png
  website/public/assets/components/application-state/application-state-error-state.png
  website/public/assets/components/application-state/application-state-footer-action-types.png
  website/public/assets/components/application-state/application-state-icon-usage.png
  website/public/assets/components/application-state/application-state-media-slot-icon-tile-center-alignment.png
  website/public/assets/components/application-state/application-state-media-slot-spot-illustration-center-alignment.png
  website/public/assets/components/application-state/application-state-media-slot.png
Labels: docs-website, showcase

#2274 `ApplicationState` Enhancements - Implementation
  .changeset/shaggy-apes-own.md
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/application-state/footer.hbs
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/application-state/header.hbs
  packages/components/src/components/hds/application-state/header.ts
  packages/components/src/components/hds/application-state/index.hbs
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/application-state/media.hbs
  packages/components/src/components/hds/application-state/media.ts
  packages/components/src/components/hds/application-state/types.ts
  packages/components/src/styles/components/application-state.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/application-state.js
  showcase/app/routes/components/application-state.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/application-state.scss
  showcase/app/templates/components/application-state.hbs
  showcase/public/assets/images/cat-banner.png
  showcase/tests/integration/components/hds/application-state/footer-test.js
  showcase/tests/integration/components/hds/application-state/header-test.js
  showcase/tests/integration/components/hds/application-state/index-test.js
  showcase/tests/integration/components/hds/application-state/media-test.js
  website/docs/components/application-state/index.md
  website/docs/components/application-state/partials/code/component-api.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/application-state/partials/guidelines/guidelines.md
  website/docs/components/application-state/partials/guidelines/overview.md
  website/docs/components/application-state/partials/specifications/anatomy.md
  website/public/assets/components/application-state/application-state-alignment-center.png
  website/public/assets/components/application-state/application-state-alignment-left.png
  website/public/assets/components/application-state/application-state-anatomy-page.png
  website/public/assets/components/application-state/application-state-body-content-types.png
  website/public/assets/components/application-state/application-state-dropdown-actions.png
  website/public/assets/components/application-state/application-state-empty-state-do-keep-one-primary-cta.png
  website/public/assets/components/application-state/application-state-empty-state-dont-duplicate-buttons.png
  website/public/assets/components/application-state/application-state-empty-state.png
  website/public/assets/components/application-state/application-state-error-state.png
  website/public/assets/components/application-state/application-state-footer-action-types.png
  website/public/assets/components/application-state/application-state-icon-usage.png
  website/public/assets/components/application-state/application-state-media-slot-icon-tile-center-alignment.png
  website/public/assets/components/application-state/application-state-media-slot-spot-illustration-center-alignment.png
  website/public/assets/components/application-state/application-state-media-slot.png
Labels: packages/components, docs-website, showcase

#2308 Website - Add status badge and version history for `ApplicationState`
  website/docs/components/application-state/index.md
  website/docs/components/application-state/partials/version-history/4.8.0.md
Labels: docs-website

#2284 Remove web component scraping examples that blow up the website
  website/docs/testing/markdown/scraping-playground.md
Labels: docs-website

#2280 Version Packages
  .changeset/mean-tools-repair.md
  .changeset/nasty-points-wait.md
  .changeset/olive-eagles-add.md
  .changeset/shaggy-apes-own.md
  .changeset/small-mirrors-hope.md
  .changeset/small-peaches-complain.md
  .changeset/tough-tigers-dress.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  yarn.lock
Labels: packages/components, docs-website, packages/tokens

#2312 Showcase - Updated the “main” content available width from `1024px` to `1088px`
  showcase/app/styles/_layout.scss
Labels: showcase

#2313 `CodeBlock`: convert component to TypeScript
  .changeset/quick-socks-look.md
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/code-block/copy-button.hbs
  packages/components/src/components/hds/code-block/copy-button.ts
  packages/components/src/components/hds/code-block/description.hbs
  packages/components/src/components/hds/code-block/description.ts
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/code-block/title.hbs
  packages/components/src/components/hds/code-block/title.ts
  packages/components/src/components/hds/code-block/types.ts
  packages/components/src/template-registry.ts
  yarn.lock
Labels: packages/components, typescript

#2317 `TooltipButton`: Converted component to TypeScript
  .changeset/strange-schools-flash.md
  packages/components/src/components.ts
  packages/components/src/components/hds/tooltip-button/index.ts
  packages/components/src/components/hds/tooltip-button/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2207 Add `Hds::Icon` Component - Feature branch [MAIN]
  .changeset/fuzzy-suits-call.md
  .changeset/purple-ghosts-marry.md
  packages/codemods/README.md
  packages/codemods/transforms/v4/icon/README.md
  packages/codemods/transforms/v4/icon/__testfixtures__/basic.input.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/basic.output.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/is-inline-block-dynamic.input.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/is-inline-block-dynamic.output.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/is-inline-block-false.input.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/is-inline-block-false.output.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/is-inline-block-true.input.hbs
  packages/codemods/transforms/v4/icon/__testfixtures__/is-inline-block-true.output.hbs
  packages/codemods/transforms/v4/icon/index.js
  packages/codemods/transforms/v4/icon/test.js
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/icon/index.hbs
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/components/hds/icon/types.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/icon.scss
  packages/components/src/template-registry.ts
  packages/flight-icons/README.md
  showcase/app/router.ts
  showcase/app/routes/components/icon.js
  showcase/app/styles/showcase-pages/icon.scss
  showcase/app/templates/components/icon.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/icon/index-test.js
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/form/radio-card/partials/code/component-api.md
  website/docs/components/icon/index.md
  website/docs/components/icon/partials/accessibility/accessibility.md
  website/docs/components/icon/partials/code/component-api.md
  website/docs/components/icon/partials/code/how-to-use.md
  website/docs/components/icon/partials/guidelines/guidelines.md
  website/docs/components/icon/partials/guidelines/overview.md
  website/docs/components/icon/partials/resources/resources.md
  website/docs/components/icon/partials/version-history/4.9.0.md
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tooltip/partials/code/how-to-use.md
  website/docs/foundations/tokens/partials/code/how-to-use.md
  website/docs/getting-started/for-engineers.md
  website/docs/icons/library/index.md
  website/docs/icons/library/partials/code.md
  website/docs/icons/library/partials/library.md
  website/docs/icons/usage-guidelines/index.md
  website/docs/icons/usage-guidelines/partials/accessibility/accessibility.md
  website/docs/icons/usage-guidelines/partials/code/component-api.md
  website/docs/icons/usage-guidelines/partials/code/how-to-use.md
  website/public/assets/illustrations/components/icon.jpg
  website/tests/acceptance/components/icon-test.js
Labels: packages/flight-icons, packages/components, docs-website, showcase

#2319 Version Packages
  .changeset/fuzzy-suits-call.md
  .changeset/purple-ghosts-marry.md
  .changeset/quick-socks-look.md
  .changeset/strange-schools-flash.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2322 Showcase - Rename `--doc-color` variables to `—shw-color`
  showcase/app/styles/_globals.scss
  showcase/app/styles/_tokens.scss
  showcase/app/styles/_typography.scss
  showcase/app/styles/showcase-components/frame.scss
  showcase/tests/integration/components/hds/flight-icon/index-test.js
Labels: showcase

#2323 Showcase - Use "action" color variables
  showcase/app/styles/_globals.scss
  showcase/app/styles/_tokens.scss
Labels: showcase

#2314 Update Figma release notes
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2311 Table TypeScript migration - Table component [05]
  packages/components/src/components.ts
  packages/components/src/components/hds/table/index.js
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/table/tr.ts
  packages/components/src/components/hds/table/types.ts
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/global.d.ts
Labels: packages/components

#2299 `AppFrame`: “Enterprise Nav” phase 1.5 updates (HDS-3612)
  .changeset/rich-actors-speak.md
  packages/components/src/components/hds/app-frame/index.hbs
  packages/components/src/components/hds/app-frame/index.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  packages/components/src/styles/components/side-nav/main.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/integration/components/hds/app-frame/index-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
  website/app/styles/pages/layouts/app-frame.scss
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2306 `AppHeader`: “Enterprise Nav” phase 1.5 updates (HDS-3613)
  .changeset/fuzzy-melons-dream.md
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-frame.scss
  packages/components/src/styles/components/app-header.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/tests/integration/components/hds/app-header/index-test.js
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-header/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2309 Replace `MenuPrimitive` with `PopoverPrimitive` in `Dropdown` and `Breadcrumb::Truncation`
  .changeset/olive-mugs-travel.md
  packages/components/src/components/hds/breadcrumb/truncation.hbs
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/components/hds/dropdown/toggle/button.hbs
  packages/components/src/components/hds/dropdown/toggle/button.ts
  packages/components/src/components/hds/dropdown/toggle/icon.hbs
  packages/components/src/components/hds/dropdown/toggle/icon.ts
  packages/components/src/components/hds/dropdown/types.ts
  packages/components/src/components/hds/menu-primitive/index.hbs
  packages/components/src/components/hds/menu-primitive/index.ts
  packages/components/src/styles/components/breadcrumb.scss
  packages/components/src/styles/components/dropdown.scss
  showcase/app/routes/components/dropdown.js
  showcase/app/styles/showcase-pages/dropdown.scss
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/breadcrumb/truncation-test.js
  showcase/tests/integration/components/hds/dropdown/index-test.js
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/version-history/4.10.0.md
  website/docs/utilities/menu-primitive/index.md
  website/docs/utilities/menu-primitive/partials/code/how-to-use.md
  website/docs/utilities/menu-primitive/partials/version-history/4.10.0.md
Labels: packages/components, docs-website, showcase

#2328 Showcase: Convert showcase components to TypeScript
  showcase/app/components/shw/autoscrollable/index.js
  showcase/app/components/shw/autoscrollable/index.ts
  showcase/app/components/shw/autoscrollable/types.ts
  showcase/app/components/shw/divider.hbs
  showcase/app/components/shw/divider.ts
  showcase/app/components/shw/flex/index.js
  showcase/app/components/shw/flex/index.ts
  showcase/app/components/shw/flex/item.js
  showcase/app/components/shw/flex/item.ts
  showcase/app/components/shw/frame/index.hbs
  showcase/app/components/shw/frame/index.ts
  showcase/app/components/shw/grid/index.js
  showcase/app/components/shw/grid/index.ts
  showcase/app/components/shw/grid/item.js
  showcase/app/components/shw/grid/item.ts
  showcase/app/components/shw/label/index.hbs
  showcase/app/components/shw/label/index.ts
  showcase/app/components/shw/logo/design-system.ts
  showcase/app/components/shw/outliner.hbs
  showcase/app/components/shw/outliner.ts
  showcase/app/components/shw/placeholder/index.ts
  showcase/app/components/shw/text/body.hbs
  showcase/app/components/shw/text/body.ts
  showcase/app/components/shw/text/h1.hbs
  showcase/app/components/shw/text/h1.ts
  showcase/app/components/shw/text/h2.hbs
  showcase/app/components/shw/text/h2.ts
  showcase/app/components/shw/text/h3.hbs
  showcase/app/components/shw/text/h3.ts
  showcase/app/components/shw/text/h4.hbs
  showcase/app/components/shw/text/h4.ts
  showcase/app/components/shw/text/index.ts
  showcase/app/components/shw/text/types.ts
  showcase/types/global.d.ts
  showcase/types/template-registry.ts
Labels: showcase, typescript

#2340 Add updated documentation for overflow in filter patterns
  website/app/styles/app.scss
  website/app/styles/pages/patterns/filter-patterns.scss
  website/docs/patterns/filter-patterns/index.js
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/public/assets/patterns/filter-patterns/applied-filters-overflow-basic-example.png
  website/public/assets/patterns/filter-patterns/applied-filters-overflow-intermediate-example-closed.png
  website/public/assets/patterns/filter-patterns/applied-filters-overflow-intermediate-example-open.png
  website/public/assets/patterns/filter-patterns/filter-overflow-holistic-example.png
  website/public/assets/patterns/filter-patterns/filter-parameters-overflow-flyout-accordion.png
  website/public/assets/patterns/filter-patterns/filter-parameters-overflow-flyout.png
  website/public/assets/patterns/filter-patterns/filter-parameters-overflow-more-filters.png
Labels: docs-website

#2335 `Color foundations` enhancements - `Website` docs
  website/docs/foundations/colors/index.md
  website/docs/foundations/colors/partials/guidelines/guidelines.md
  website/docs/foundations/colors/partials/guidelines/overview.md
  website/public/assets/foundations/color/colors-border-examples.png
  website/public/assets/foundations/color/colors-foreground-examples.png
  website/public/assets/foundations/color/colors-semantic-tokens-accessibility-examples.png
  website/public/assets/foundations/color/colors-status-examples.png
  website/public/assets/foundations/color/colors-surface-examples.png
  website/public/assets/foundations/color/colors-what-are-semantic-tokens.png
Labels: docs-website

#2357 Add VRT to `DialogPrimitive` components
  showcase/tests/acceptance/percy-test.js
Labels: showcase

#2352 Update `ember-a11y-refocus` to `4.1.3`
  .changeset/heavy-pears-cheer.md
  packages/components/package.json
  website/package.json
  yarn.lock
Labels: packages/components

#2355 Adjust 'full app' examples to be conformant
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
Labels: showcase

#2338 `FlightIcon` => `Hds::Icon` Internal migration - `showcase` & `website`
  showcase/app/components/shw/frame/index.hbs
  showcase/app/router.ts
  showcase/app/routes/foundations/icon.js
  showcase/app/styles/_globals.scss
  showcase/app/styles/showcase-pages/app-footer.scss
  showcase/app/styles/showcase-pages/icon.scss
  showcase/app/styles/showcase-pages/rich-tooltip.scss
  showcase/app/styles/showcase-pages/table.scss
  showcase/app/templates/application.hbs
  showcase/app/templates/components/application-state.hbs
  showcase/app/templates/components/rich-tooltip.hbs
  showcase/app/templates/components/table.hbs
  showcase/app/templates/components/tooltip.hbs
  showcase/app/templates/foundations/icon.hbs
  showcase/app/templates/index.hbs
  showcase/app/templates/utilities/disclosure-primitive.hbs
  showcase/app/templates/utilities/menu-primitive.hbs
  showcase/tests/acceptance/percy-test.js
  website/app/components/doc/banner/index.hbs
  website/app/components/doc/copy-button/index.hbs
  website/app/components/doc/icons-list/item.hbs
  website/app/components/doc/link-with-icon/index.hbs
  website/app/components/doc/page/banner.hbs
  website/app/components/doc/page/cover.hbs
  website/app/components/doc/page/header/index.hbs
  website/app/components/doc/scroll-to-top/index.hbs
  website/app/components/doc/tokens-list/item.hbs
  website/docs/components/app-header/partials/code/component-api.md
  website/package.json
  website/tests/acceptance/icon-test.js
  yarn.lock
Labels: docs-website, showcase

#2356 Convert `SuperSelect` components to TypeScript
  .changeset/afraid-guests-relax.md
  packages/components/src/components.ts
  packages/components/src/components/hds/form/super-select/after-options.hbs
  packages/components/src/components/hds/form/super-select/after-options.ts
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/base.ts
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  packages/components/src/components/hds/form/super-select/multiple/field.js
  packages/components/src/components/hds/form/super-select/multiple/field.ts
  packages/components/src/components/hds/form/super-select/option-group.hbs
  packages/components/src/components/hds/form/super-select/option-group.ts
  packages/components/src/components/hds/form/super-select/placeholder.hbs
  packages/components/src/components/hds/form/super-select/placeholder.ts
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/base.js
  packages/components/src/components/hds/form/super-select/single/base.ts
  packages/components/src/components/hds/form/super-select/single/field.hbs
  packages/components/src/components/hds/form/super-select/single/field.js
  packages/components/src/components/hds/form/super-select/single/field.ts
  packages/components/src/components/hds/form/super-select/types.ts
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/global.d.ts
  showcase/app/templates/components/form/super-select.hbs
  showcase/tests/integration/components/hds/form/super-select/single/base-test.js
Labels: packages/components, showcase

#2353 Accessible Headings: Add tag arguments to components
  .changeset/gentle-cows-remain.md
  packages/components/src/components/hds/accordion/index.hbs
  packages/components/src/components/hds/accordion/index.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/accordion/types.ts
  packages/components/src/components/hds/alert/title.hbs
  packages/components/src/components/hds/alert/title.ts
  packages/components/src/components/hds/alert/types.ts
  packages/components/src/components/hds/application-state/header.ts
  packages/components/src/components/hds/application-state/types.ts
  packages/components/src/components/hds/code-block/title.hbs
  packages/components/src/components/hds/code-block/title.ts
  packages/components/src/components/hds/code-block/types.ts
  packages/components/src/components/hds/dialog-primitive/header.hbs
  packages/components/src/components/hds/dialog-primitive/header.ts
  packages/components/src/components/hds/dialog-primitive/types.ts
  packages/components/src/styles/components/dialog-primitive.scss
  showcase/app/templates/components/accordion.hbs
  showcase/app/templates/components/alert.hbs
  showcase/app/templates/components/code-block.hbs
  showcase/app/templates/utilities/dialog-primitive.hbs
  showcase/tests/integration/components/hds/accordion/index-test.js
  showcase/tests/integration/components/hds/alert/index-test.js
  showcase/tests/integration/components/hds/code-block/index-test.js
  showcase/tests/integration/components/hds/dialog-primitive/header-test.js
Labels: packages/components, showcase

#2359 Enterprise Nav: `SideNav` & `AppHeader`—Improve scoping for dark theme styling
  .changeset/eight-houses-remain.md
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/side-nav/header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
Labels: packages/components, showcase

#2351 “Enterprise Nav”: Misc follow ons (HDS-3693)
  .changeset/four-zoos-promise.md
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/styles/components/app-header.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2364 `Typography` doc enhancements - `Website`
  website/app/styles/app.scss
  website/app/styles/pages/foundations/typography.scss
  website/docs/foundations/typography/index.md
  website/docs/foundations/typography/partials/guidelines/guidelines.md
  website/docs/foundations/typography/partials/guidelines/overview.md
  website/public/assets/foundations/typography/monospace-linux.png
  website/public/assets/foundations/typography/monospace-mac.png
  website/public/assets/foundations/typography/monospace-windows.png
  website/public/assets/foundations/typography/sans-serif-linux.png
  website/public/assets/foundations/typography/sans-serif-mac.png
  website/public/assets/foundations/typography/sans-serif-windows.png
  website/public/assets/foundations/typography/typography-button-example.png
  website/public/assets/foundations/typography/typography-form-example.png
  website/public/assets/foundations/typography/typography-monospace-linux.png
  website/public/assets/foundations/typography/typography-monospace-menlo-mac.png
  website/public/assets/foundations/typography/typography-monospace-safari-13-mac.png
  website/public/assets/foundations/typography/typography-monospace-windows.png
  website/public/assets/foundations/typography/typography-remaining-balance-example.png
  website/public/assets/foundations/typography/typography-sans-serif-display-mac.png
  website/public/assets/foundations/typography/typography-sans-serif-display-windows.png
  website/public/assets/foundations/typography/typography-sans-serif-linux.png
  website/public/assets/foundations/typography/typography-sans-serif-mac.png
  website/public/assets/foundations/typography/typography-sans-serif-windows.png
Labels: docs-website

#2372 `Typography` Website Doc Enhancement - Follow up
  website/app/styles/pages/foundations/typography.scss
  website/docs/foundations/typography/partials/guidelines/guidelines.md
Labels: docs-website

#2358 `Modal`, `Flyout`: make title an H1
  .changeset/old-pots-argue.md
  packages/components/src/components/hds/flyout/index.hbs
  packages/components/src/components/hds/modal/index.hbs
  showcase/app/templates/components/flyout.hbs
  showcase/tests/integration/components/hds/flyout/index-test.js
  showcase/tests/integration/components/hds/modal/index-test.js
Labels: packages/components, showcase

#2373 `RichTooltip` hyperlink fix
  website/docs/components/rich-tooltip/partials/guidelines/overview.md
Labels: docs-website

#2347 `Dropdown::ListItem::Interactive` enhancements MAIN
  .changeset/nice-drinks-do.md
  packages/codemods/transforms/v4/dropdown-list-item-interactive/README.md
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex-conditional-helper.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex-conditional-helper.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex-conditional.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/complex-conditional.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/conditional.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/conditional.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/helper.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/helper.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/mustache-numerical.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/mustache-numerical.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/mustache-text.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/mustache-text.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/mustache-value.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/mustache-value.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/text.input.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/__testfixtures__/text.output.hbs
  packages/codemods/transforms/v4/dropdown-list-item-interactive/index.js
  packages/codemods/transforms/v4/dropdown-list-item-interactive/test.js
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/version-history/4.10.0.md
  website/public/assets/components/dropdown/dropdown-interactive-badge-example.png
Labels: packages/components, docs-website, showcase

#2378 added link to docs
  website/docs/whats-new/release-notes/partials/components.md
Labels: docs-website
