Repository hashicorp/design-system, pull requests merged in 2024-01, with the labels that each got.

#1883 `Tabs` - Fix subcomponents' backing-class names
  .changeset/metal-keys-relax.md
  packages/components/addon/components/hds/tabs/panel.js
  packages/components/addon/components/hds/tabs/tab.js
Labels: packages/components

#1855 Version Packages
  .changeset/brown-buttons-divide.md
  .changeset/calm-adults-collect.md
  .changeset/five-buses-burn.md
  .changeset/lemon-planes-worry.md
  .changeset/metal-keys-relax.md
  .changeset/purple-buttons-divide.md
  .changeset/sharp-phones-agree.md
  .changeset/ten-monkeys-eat.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/CHANGELOG.md
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website

#1887 `Modal`, `Flyout` - Remove `close` event listener on destroy
  .changeset/fast-goats-approve.md
  packages/components/addon/components/hds/flyout/index.hbs
  packages/components/addon/components/hds/flyout/index.js
  packages/components/addon/components/hds/modal/index.hbs
  packages/components/addon/components/hds/modal/index.js
Labels: packages/components

#1853 `CodeBlock`: update to support dynamic content
  .changeset/purple-carrots-burn.md
  packages/components/addon/components/hds/code-block/index.hbs
  packages/components/addon/components/hds/code-block/index.js
  packages/components/app/styles/components/code-block/index.scss
  packages/components/tests/dummy/app/controllers/components/code-block.js
  packages/components/tests/dummy/app/templates/components/code-block.hbs
  packages/components/tests/integration/components/hds/code-block/index-test.js
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: packages/components, docs-website

#1892 `SegmentedGroup`: Fix border radius for lone segments (HDS-2988)
  .changeset/happy-eagles-hug.md
  packages/components/app/styles/components/segmented-group.scss
  packages/components/tests/dummy/app/templates/components/segmented-group.hbs
Labels: packages/components

#1888 Version Packages
  .changeset/fast-goats-approve.md
  .changeset/purple-carrots-burn.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#1895 Version Packages
  .changeset/happy-eagles-hug.md
  packages/components/CHANGELOG.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#1891 Clarify pagination types, reference filtering
  website/docs/components/pagination/partials/guidelines/guidelines.md
Labels: docs-website

#1893 Update `shell-session` default color
  .changeset/rich-hairs-change.md
  packages/components/app/styles/components/code-block/theme.scss
  packages/components/tests/dummy/app/templates/components/code-block.hbs
Labels: packages/components

#1900 remove unused function in ember-flight-icons
  .changeset/odd-years-build.md
  packages/ember-flight-icons/addon/components/flight-icon.js
Labels: packages/ember-flight-icons

#1901 Updated export of icons from Figma
  .changeset/stale-wasps-beam.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/vault-radar-16.svg
  packages/flight-icons/svg-original/vault-radar-24.svg
  packages/flight-icons/svg-original/vault-radar-color-16.svg
  packages/flight-icons/svg-original/vault-radar-color-24.svg
  packages/flight-icons/svg-original/vault-secrets-16.svg
  packages/flight-icons/svg-original/vault-secrets-24.svg
  packages/flight-icons/svg-original/vault-secrets-color-16.svg
  packages/flight-icons/svg-original/vault-secrets-color-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/vault-radar-16.tsx
  packages/flight-icons/svg-react/vault-radar-24.tsx
  packages/flight-icons/svg-react/vault-radar-color-16.tsx
  packages/flight-icons/svg-react/vault-radar-color-24.tsx
  packages/flight-icons/svg-react/vault-secrets-16.tsx
  packages/flight-icons/svg-react/vault-secrets-24.tsx
  packages/flight-icons/svg-react/vault-secrets-color-16.tsx
  packages/flight-icons/svg-react/vault-secrets-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/vault-radar-16.svg
  packages/flight-icons/svg/vault-radar-24.svg
  packages/flight-icons/svg/vault-radar-color-16.svg
  packages/flight-icons/svg/vault-radar-color-24.svg
  packages/flight-icons/svg/vault-secrets-16.svg
  packages/flight-icons/svg/vault-secrets-24.svg
  packages/flight-icons/svg/vault-secrets-color-16.svg
  packages/flight-icons/svg/vault-secrets-color-24.svg
Labels: packages/flight-icons

#1885 Clarify link font-weight in table documenation
  website/docs/components/table/partials/content/link-usage.md
  website/public/assets/components/table/link-example.png
  website/public/assets/components/table/multiple-links.png
Labels: docs-website

#1905 `Tabs` - remove `@cached` decorator
  .changeset/purple-feet-shop.md
  packages/components/addon/components/hds/tabs/panel.js
  packages/components/addon/components/hds/tabs/tab.js
  packages/components/package.json
  yarn.lock
Labels: packages/components

#1904 `IconTile` - Add support for Vault-Radar
  .changeset/chilled-beans-sneeze.md
  .changeset/cyan-keys-reply.md
  packages/components/addon/components/hds/icon-tile/index.js
  packages/components/app/styles/components/icon-tile.scss
  packages/components/tests/integration/components/hds/icon-tile/index-test.js
  packages/tokens/dist/devdot/css/helpers/color.css
  packages/tokens/dist/devdot/css/helpers/elevation.css
  packages/tokens/dist/devdot/css/helpers/focus-ring.css
  packages/tokens/dist/devdot/css/helpers/typography.css
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/helpers/color.css
  packages/tokens/dist/marketing/css/helpers/elevation.css
  packages/tokens/dist/marketing/css/helpers/focus-ring.css
  packages/tokens/dist/marketing/css/helpers/typography.css
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/helpers/color.css
  packages/tokens/dist/products/css/helpers/elevation.css
  packages/tokens/dist/products/css/helpers/focus-ring.css
  packages/tokens/dist/products/css/helpers/typography.css
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/scripts/build-parts/generateColorHelpers.ts
  packages/tokens/src/global/color/palette-products.json
  packages/tokens/src/products/shared/color/semantic-product-vault-radar.json
  website/docs/components/icon-tile/partials/code/component-api.md
Labels: packages/tokens, packages/components, docs-website

#1903 Prepend sass variables with "hds-" (HDS-2974)
  .changeset/gold-eagles-complain.md
  packages/components/app/styles/components/accordion.scss
  packages/components/app/styles/components/app-footer.scss
  packages/components/app/styles/components/badge-count.scss
  packages/components/app/styles/components/badge.scss
  packages/components/app/styles/components/code-block/index.scss
  packages/components/app/styles/components/form/toggle.scss
  packages/components/app/styles/components/icon-tile.scss
  packages/components/app/styles/components/link/standalone.scss
  packages/components/app/styles/components/pagination.scss
  packages/components/app/styles/components/stepper/step-indicator.scss
  packages/components/app/styles/components/stepper/task-indicator.scss
  packages/components/app/styles/mixins/_button.scss
Labels: packages/components

#1889 `Character Count` documentation update
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/public/assets/components/form/primitives/character-count-defaults-filled.png
  website/public/assets/components/form/primitives/character-count-dont-helper-text.png
Labels: docs-website
