Repository hashicorp/design-system, pull requests merged in 2024-04, with the labels that each got.

#2035 Website: Make icon category search case-insensitive (HDS-3226)
  website/docs/icons/library/index.js
  website/tests/acceptance/icon-test.js
Labels: docs-website

#2037 Create custom "issue templates" for the repository
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml.
  .github/ISSUE_TEMPLATE/file-issue-external-users.md
  website/docs/about/support.md
Labels: docs-website

#2033 `IconTile` - Convert to TypeScript
  .changeset/friendly-onions-walk.md
  packages/components/package.json
  packages/components/src/components/hds/icon-tile/index.hbs
  packages/components/src/components/hds/icon-tile/index.ts
  packages/components/src/components/hds/icon-tile/types.ts
  packages/components/src/template-registry.ts
Labels: packages/components, typescript

#2039 Fix broken link in file
  website/docs/components/table/partials/content/icon-usage.md
Labels: docs-website

#2023 HDS-2717: `Hds::Toast` - Converts to Typescript
  .changeset/soft-buttons-burn.md
  packages/components/package.json
  packages/components/src/components/hds/alert/types.ts
  packages/components/src/components/hds/toast/index.hbs
  packages/components/src/components/hds/toast/index.ts
  packages/components/src/components/hds/toast/types.ts
  packages/components/src/template-registry.ts
  packages/components/tsconfig.json
Labels: packages/components, typescript

#2041 HDS-3124 Select doc update
  website/docs/components/form/select/partials/guidelines/guidelines.md
Labels: docs-website

#2042 `Dropdown::ListItem::Interactive` - Add support for trailing icon
  .changeset/six-wombats-press.md
  packages/components/src/components/hds/dropdown/list-item/interactive.hbs
  packages/components/src/styles/components/dropdown.scss
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/list-item/interactive-test.js
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
Labels: packages/components, docs-website, showcase

#2049 Ember `FlightIcon` component - Remove extra whitespace
  .changeset/slimy-bears-mix.md
  packages/ember-flight-icons/src/components/flight-icon.hbs
Labels: packages/ember-flight-icons

#2050 `Tooltip` - Fix max-width
  .changeset/chilly-avocados-serve.md
  packages/components/src/styles/components/tooltip.scss
  showcase/app/templates/components/tooltip.hbs
Labels: packages/components, showcase

#2053 Website - Add missing “related” entries to the “utilities” components
  website/docs/utilities/disclosure-primitive/index.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/interactive/index.md
  website/docs/utilities/menu-primitive/index.md
Labels: docs-website

#2056 `SegmentedGroup` - fix test template
  showcase/tests/integration/components/hds/segmented-group/index-test.js
Labels: showcase

#2055 Updated export of icons from Figma
  packages/flight-icons/catalog.json
Labels: packages/flight-icons

#2057 Upgrade `stylelint` dependencies
  packages/components/.stylelintrc.js
  packages/components/package.json
  showcase/.stylelintrc.js
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, showcase

#2030 Stop reexporting type files
  .changeset/slow-scissors-flow.md
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: packages/components, typescript

#2060 Remove `icon-tile` and `toast` types
  packages/components/package.json
Labels: packages/components

#2062 3260 - Updating contributing docs to include publishing the figma icon library
  packages/flight-icons/CONTRIBUTING.md
Labels: packages/flight-icons

#2020 `RichTooltip/Popover` component - `hds-anchored-position` modifier [01]
  .changeset/metal-zoos-push.md
  .changeset/soft-lions-warn.md
  packages/components/package.json
  packages/components/src/modifiers/hds-anchored-position.js
  showcase/tests/integration/modifiers/hds-anchored-position-test.js
  yarn.lock
Labels: packages/components, showcase

#2017 `RichTooltip/Popover` component - `hds-register-event` modifier [02]
  .changeset/afraid-beds-serve.md
  packages/components/package.json
  packages/components/src/modifiers/hds-register-event.js
  showcase/tests/integration/modifiers/hds-register-event-test.js
Labels: packages/components, showcase

#2068 Adds WCAG 2.2 and removes SC 4.1.1
  website/app/components/doc/wcag-list/index.js
  website/docs/components/accordion/partials/accessibility/accessibility.md
  website/docs/components/alert/partials/accessibility/accessibility.md
  website/docs/components/button/partials/accessibility/accessibility.md
  website/docs/components/flyout/partials/accessibility/accessibility.md
  website/docs/components/form/checkbox/partials/accessibility/accessibility.md
  website/docs/components/form/file-input/partials/accessibility/accessibility.md
  website/docs/components/form/masked-input/partials/accessibility/accessibility.md
  website/docs/components/form/primitives/partials/accessibility/accessibility.md
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/form/radio/partials/accessibility/accessibility.md
  website/docs/components/form/select/partials/accessibility/accessibility.md
  website/docs/components/form/text-input/partials/accessibility/accessibility.md
  website/docs/components/form/textarea/partials/accessibility/accessibility.md
  website/docs/components/form/toggle/partials/accessibility/accessibility.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/accessibility/accessibility.md
  website/docs/components/reveal/partials/accessibility/accessibility.md
  website/docs/components/segmented-group/partials/accessibility/accessibility.md
  website/docs/components/table/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
  website/docs/components/tag/partials/accessibility/accessibility.md
  website/docs/components/toast/partials/accessibility/accessibility.md
Labels: docs-website
