Repository hashicorp/design-system, pull requests merged in 2024-09, with the labels that each got.

#2365 Website: add documentation for `tag` and `titleTag` arguments
  website/app/styles/app.scss
  website/app/styles/pages/components/accordion.scss
  website/app/styles/pages/components/alert.scss
  website/app/styles/pages/components/application-state.scss
  website/app/styles/pages/components/code-block.scss
  website/app/styles/pages/utilities/dialog-primitive.scss
  website/docs/components/accordion/partials/code/component-api.md
  website/docs/components/accordion/partials/code/how-to-use.md
  website/docs/components/alert/partials/code/component-api.md
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/application-state/partials/code/component-api.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/utilities/dialog-primitive/partials/code/component-api.md
  website/docs/utilities/dialog-primitive/partials/code/how-to-use.md
Labels: docs-website

#2382 Remove wiki content
  .github/pull_request_template.md
  .github/workflows/open-pull-request-for-icon-update.yml
  packages/components/NEW-COMPONENT-CHECKLIST.md
  showcase/blueprints/hds-component/files/src/components/hds/__name__/index.ts
  wiki/Home.md
  wiki/Infrastructure-Efficiency.md
  wiki/TypeScript-Migration.md
  wiki/Website-Analytics.md
  wiki/Website-Changelog.md
  wiki/Website-Doc-folder.md
  wiki/Website-Doc-styling-and-components.md
  wiki/Website-Editing-existing-content.md
  wiki/Website-Infrastructure.md
  wiki/Website-Markdown.md
  wiki/Website-Media.md
  wiki/images/basic-video-settings.png
  wiki/images/doc-a11y-badge.png
  wiki/images/doc-badge.png
  wiki/images/doc-banner.png
  wiki/images/doc-code-block-not-executed.png
  wiki/images/doc-code-block-self-executed.png
  wiki/images/doc-code-block-simple.png
  wiki/images/doc-copy-button.png
  wiki/images/doc-dodont.png
  wiki/images/doc-figma-clip-content.png
  wiki/images/doc-figma-show-in-exports.png
  wiki/images/doc-folder-structure.png
  wiki/images/doc-grid-stage.png
  wiki/images/doc-grid-wrapper.png
  wiki/images/doc-inline-code.png
  wiki/images/open-export-settings.png
  wiki/images/video-export-settings.png
Labels: packages/components, showcase

#2354 `SideNav` - Deprecate `SideNav::Header::IconButton` (HDS-3770 )
  .changeset/new-teachers-pay.md
  packages/components/src/components/hds/side-nav/header/icon-button.hbs
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  showcase/app/routes/components/side-nav.js
  showcase/app/styles/showcase-pages/side-nav.scss
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/version-history/4.10.0.md
Labels: packages/components, docs-website, showcase

#2388 website: duplicated `Breadcrumb` docs example
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/breadcrumb/partials/code/how-to-use.md
Labels: docs-website

#2389 website: replace instances of `Modal` and `Flyout` from design guidelines
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/public/assets/components/modal/modal-body-content.png
  website/public/assets/components/modal/modal-color-critical.png
  website/public/assets/components/modal/modal-color-neutral.png
  website/public/assets/components/modal/modal-color-warning.png
  website/public/assets/components/modal/modal-sizes.png
  website/tests/acceptance/components/flyout-test.js
  website/tests/acceptance/components/modal-test.js
Labels: docs-website

#2390 Fix `Stepper::indicator::Task` colors
  .changeset/silent-dolls-unite.md
  packages/components/src/styles/components/stepper/task-indicator.scss
Labels: packages/components

#2392 `BadgeCount`: update the color tokens to be more accurate token for the usage
  .changeset/long-moles-sneeze.md
  packages/components/src/styles/components/badge-count.scss
Labels: packages/components

#2383 `Accordion`: make toggle button names unique
  .changeset/khaki-bats-admire.md
  packages/components/src/components/hds/accordion/item/button.hbs
  packages/components/src/components/hds/accordion/item/button.ts
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  showcase/tests/integration/components/hds/accordion/index-test.js
Labels: packages/components, showcase

#2397 `Breadcrumb`: fix background-color for `Breadcrumb::Truncation`
  .changeset/fuzzy-buses-mate.md
  packages/components/src/styles/components/breadcrumb.scss
Labels: packages/components

#2320 feat(components): simplify reexport and add type reexport example
  .changeset/fifty-kiwis-impress.md
  packages/components/src/components.ts
Labels: packages/components

#2393 `Badge`: update the color tokens to be more accurate token for the usage
  .changeset/popular-shoes-tease.md
  packages/components/src/styles/components/badge.scss
Labels: packages/components

#2401 `DismissButton`, `RadioCard::Group`, `RichTooltip::Toggle` - Type safety fixes
  .changeset/clean-tigers-promise.md
  packages/components/src/components/hds/dismiss-button/index.hbs
  packages/components/src/components/hds/form/field/index.ts
  packages/components/src/components/hds/form/fieldset/index.ts
  packages/components/src/components/hds/form/fieldset/types.ts
  packages/components/src/components/hds/form/radio-card/group.hbs
  packages/components/src/components/hds/rich-tooltip/toggle.hbs
  packages/components/src/utils/hds-aria-described-by.ts
Labels: packages/components

#2399 `SideNav` & `AppFrame` - Fix a11yRefocusSkipTo bugs (HDS-3672)
  .changeset/famous-garlics-fetch.md
  packages/components/src/components/hds/app-frame/parts/main.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/tests/integration/components/hds/app-frame/index-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2409 chore: remove unneeded flight icons ci action
  .github/workflows/ci-ember-flight-icons.yml
  packages/ember-flight-icons/README.md
Labels: packages/ember-flight-icons

#2413 Update Figma release notes
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
Labels: packages/components

#2403 `SideNav`: remove `Ember.testing` because it will be deprecated
  .changeset/brave-feet-melt.md
  packages/components/src/components/hds/side-nav/portal/target.ts
Labels: packages/components

#2411 Showcase `.gts` - Initial setup
  showcase/.prettierrc.js
  showcase/.template-lintrc.js
  showcase/package.json
  showcase/tsconfig.json
  yarn.lock
Labels: showcase

#2415 Website: Change out the "updated" badges and add 4.10.0 version history
  website/docs/components/accordion/index.md
  website/docs/components/accordion/partials/version-history/4.10.0.md
  website/docs/components/alert/index.md
  website/docs/components/alert/partials/version-history/4.10.0.md
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/version-history/4.10.0.md
  website/docs/components/application-state/index.md
  website/docs/components/application-state/partials/version-history/4.10.0.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/breadcrumb/partials/version-history/4.10.0.md
  website/docs/components/card/index.md
  website/docs/components/card/partials/version-history/4.10.0.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/4.10.0.md
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.10.0.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/4.10.0.md
  website/docs/components/form/text-input/index.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.10.0.md
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/version-history/4.10.0.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/version-history/4.10.0.md
  website/docs/components/table/index.md
  website/docs/components/table/partials/version-history/4.10.0.md
  website/docs/layouts/app-frame/index.md
  website/docs/layouts/app-frame/partials/version-history/4.10.0.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/version-history/4.10.0.md
  website/tests/acceptance/component-query-test.js
Labels: docs-website

#2400 Require routing param for controlled pagination
  .changeset/tidy-phones-rest.md
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  showcase/tests/integration/components/hds/pagination/compact-test.js
  showcase/tests/integration/components/hds/pagination/numbered-test.js
  website/docs/components/pagination/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2417 Showcase - Cleanup of the `<Shw::Label>` instances
  showcase/app/templates/components/badge.hbs
  showcase/app/templates/components/button.hbs
  showcase/app/templates/components/code-block.hbs
  showcase/app/templates/components/copy/button.hbs
  showcase/app/templates/components/copy/snippet.hbs
  showcase/app/templates/components/dropdown.hbs
  showcase/app/templates/components/form/base-elements.hbs
  showcase/app/templates/components/form/masked-input.hbs
  showcase/app/templates/components/form/select.hbs
  showcase/app/templates/components/form/text-input.hbs
  showcase/app/templates/components/form/textarea.hbs
  showcase/app/templates/components/link/inline.hbs
  showcase/app/templates/components/link/standalone.hbs
  showcase/app/templates/components/rich-tooltip.hbs
  showcase/app/templates/components/tag.hbs
Labels: showcase

#2408 `Toast` guidance update - `Web docs`
  website/docs/components/toast/partials/guidelines/guidelines.md
  website/docs/components/toast/partials/guidelines/overview.md
  website/public/assets/components/toast/toast-colors.png
  website/public/assets/components/toast/toast-do-non-intrusive-notification.png
  website/public/assets/components/toast/toast-do-system-notifications.png
  website/public/assets/components/toast/toast-dont-intrusive-message.png
  website/public/assets/components/toast/toast-dont-validation-messages.png
  website/public/assets/components/toast/toast-icon-neutral-and-success.png
  website/public/assets/components/toast/toast-persist-critical-retry.png
  website/public/assets/components/toast/toast-video-auto-dismiss.mp4
Labels: docs-website

#2412 Showcase `.gts` - `Shw::Placeholder`
  showcase/app/components/shw/placeholder/index.gts
  showcase/app/components/shw/placeholder/index.hbs
  showcase/types/template-registry.ts
Labels: showcase

#2419 Cleanup color tokens
  .changeset/friendly-balloons-fetch.md
  packages/components/src/styles/components/copy/button.scss
  packages/components/src/styles/components/copy/snippet.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
Labels: packages/components

#2418 Upgrade eslint dependencies
  .changeset/plenty-otters-fry.md
  packages/components/package.json
  packages/components/src/components/hds/dropdown/toggle/chevron.ts
  packages/components/src/modifiers/hds-clipboard.ts
  packages/ember-flight-icons/package.json
  packages/flight-icons/package.json
  packages/tokens/package.json
  showcase/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, packages/tokens, showcase

#2422 Showcase: convert ShwText components to `.gts`
  showcase/.eslintrc.js
  showcase/app/components/shw/text/body.gts
  showcase/app/components/shw/text/body.hbs
  showcase/app/components/shw/text/h1.gts
  showcase/app/components/shw/text/h1.hbs
  showcase/app/components/shw/text/h2.gts
  showcase/app/components/shw/text/h2.hbs
  showcase/app/components/shw/text/h3.gts
  showcase/app/components/shw/text/h3.hbs
  showcase/app/components/shw/text/h4.gts
  showcase/app/components/shw/text/h4.hbs
  showcase/app/components/shw/text/index.gts
  showcase/app/components/shw/text/index.hbs
  showcase/package.json
  website/package.json
  yarn.lock
Labels: showcase

#2387 Table - Sort by selected
  .changeset/large-spiders-protect.md
  packages/components/src/components/hds/table/index.hbs
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-button-sort.ts
  packages/components/src/components/hds/table/th-button-tooltip.ts
  packages/components/src/components/hds/table/th-selectable.hbs
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/table/th-sort.ts
  packages/components/src/components/hds/table/tr.hbs
  packages/components/src/components/hds/table/tr.ts
  packages/components/src/components/hds/table/types.ts
  showcase/app/controllers/components/table.js
  showcase/app/routes/components/table.js
  showcase/app/templates/components/table.hbs
  showcase/tests/integration/components/hds/table/index-test.js
  showcase/tests/integration/components/hds/table/tr-test.js
Labels: packages/components, showcase

#2421 Remove glint nocheck from remaining templates and fix revealed type issues
  .changeset/funny-papayas-act.md
  packages/components/src/components/hds/application-state/footer.ts
  packages/components/src/components/hds/dropdown/footer.ts
  packages/components/src/components/hds/dropdown/header.ts
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  packages/components/src/components/hds/dropdown/toggle/button.ts
  packages/components/src/components/hds/dropdown/toggle/icon.ts
  packages/components/src/components/hds/form/radio-card/group.ts
  packages/components/src/components/hds/form/radio-card/index.ts
  packages/components/src/components/hds/form/super-select/multiple/field.ts
  packages/components/src/components/hds/form/super-select/single/field.ts
  packages/components/src/components/hds/stepper/step/indicator.ts
  packages/components/src/components/hds/stepper/task/indicator.ts
  packages/components/src/components/hds/table/index.ts
  showcase/app/templates/components/breadcrumb.hbs
  showcase/app/templates/components/form/super-select/mock-components/generic-content.hbs
  showcase/app/templates/components/form/super-select/mock-components/selected-component-multiple.hbs
  showcase/app/templates/components/form/super-select/mock-components/selected-component-single.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/utilities/dialog-primitive.hbs
  showcase/app/templates/utilities/disclosure-primitive.hbs
  showcase/app/templates/utilities/menu-primitive.hbs
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/badge-count/partials/code/component-api.md
  website/docs/components/badge/partials/code/component-api.md
  website/docs/components/breadcrumb/partials/code/component-api.md
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/tag/partials/code/component-api.md
Labels: packages/components, docs-website, showcase

#2424 Updated export of icons from Figma
  .changeset/tame-cheetahs-enjoy.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/bucket-16.svg
  packages/flight-icons/svg-original/bucket-24.svg
  packages/flight-icons/svg-original/diamond-24.svg
  packages/flight-icons/svg-original/diamond-fill-16.svg
  packages/flight-icons/svg-original/diamond-fill-24.svg
  packages/flight-icons/svg-original/wand-24.svg
  packages/flight-icons/svg-original/zap-16.svg
  packages/flight-icons/svg-original/zap-24.svg
  packages/flight-icons/svg-react/bucket-16.tsx
  packages/flight-icons/svg-react/bucket-24.tsx
  packages/flight-icons/svg-react/diamond-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/wand-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/bucket-16.svg
  packages/flight-icons/svg/bucket-24.svg
  packages/flight-icons/svg/diamond-24.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/wand-24.svg
Labels: packages/flight-icons

#2416 Version Packages
  .changeset/brave-feet-melt.md
  .changeset/friendly-balloons-fetch.md
  .changeset/funny-papayas-act.md
  .changeset/plenty-otters-fry.md
  .changeset/tame-cheetahs-enjoy.md
  .changeset/tidy-phones-rest.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  website/docs/components/table/index.md
  website/docs/components/table/partials/version-history/4.11.0.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website

#2428 fix: template-registry import for `shwText` component
  showcase/types/template-registry.ts
Labels: showcase

#2429 `Hds::Table` sort by selected docs updates
  website/docs/components/table/index.js
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/table/partials/code/how-to-use.md
Labels: docs-website

#2436 Showcase - Added examples of `Modal` using the `SuperSelect`
  showcase/app/controllers/components/modal.js
  showcase/app/routes/components/modal.js
  showcase/app/styles/showcase-pages/modal.scss
  showcase/app/templates/components/modal.hbs
Labels: showcase

#2431 Inert synchronization issue
  .changeset/tricky-trains-ring.md
  packages/components/src/components/hds/side-nav/index.ts
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: bug, packages/components, showcase

#2435 Inline Link "Do" link update
  website/docs/components/link/inline/partials/guidelines/guidelines.md
Labels: docs-website

#2437 Convert `Shw::Outliner` component to GTS
  showcase/app/components/shw/outliner/index.gts
  showcase/app/components/shw/outliner/index.hbs
  showcase/app/components/shw/outliner/index.ts
  showcase/types/template-registry.ts
Labels: showcase

#2441 Fix default registry in `showcase`
  showcase/types/global.d.ts
Labels: showcase

#2433 fix(components): add `instance-initializers` to appReexports
  .changeset/warm-needles-boil.md
  packages/components/package.json
  packages/components/rollup.config.mjs
Labels: packages/components

#2440 `Shw::Flex` GTS Conversion
  showcase/app/components/shw/flex/index.gts
  showcase/app/components/shw/flex/index.hbs
  showcase/app/components/shw/flex/item.gts
  showcase/app/components/shw/flex/item.hbs
  showcase/types/template-registry.ts
Labels: showcase

#2439 `ember-flight-icons` clean-up
  .github/workflows/ci-components.yml
  .github/workflows/ci-website.yml
  .github/workflows/open-pull-request-for-icon-update.yml
  README.md
  packages/components/HOW-TO-TEST-A-COMPONENT-IN-CLOUD-UI.md
  packages/flight-icons/CONTRIBUTING.md
  showcase/ember-cli-build.js
  showcase/package.json
  showcase/tests/integration/components/hds/flight-icon/index-test.js
  showcase/types/global.d.ts
  website/docs/about/contribution.md
  website/docs/getting-started/for-engineers.md
  website/docs/whats-new/release-notes/partials/components.md
  website/ember-cli-build.js
  website/lib/changelog/generate-changelog-markdown-files.mjs
  website/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, docs-website, showcase

#2442 `DialogPrimitive` - Fix issue with `box-sizing` inheritance
  .changeset/hot-timers-complain.md
  packages/components/src/styles/components/dialog-primitive.scss
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.11.1.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.11.1.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/version-history/4.11.1.md
Labels: packages/components, docs-website

#2448 Fix `Tabs` signatures
  .changeset/sharp-taxis-juggle.md
  packages/components/src/components/hds/tabs/panel.ts
  packages/components/src/components/hds/tabs/tab.ts
Labels: packages/components

#2449 Fix `Table` signatures
  .changeset/thin-ghosts-share.md
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/td.ts
  packages/components/src/components/hds/table/th-button-sort.ts
  packages/components/src/components/hds/table/th-button-tooltip.ts
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/table/th-sort.ts
  packages/components/src/components/hds/table/th.ts
  packages/components/src/components/hds/table/tr.ts
  packages/components/src/components/hds/table/types.ts
Labels: packages/components

#2426 Showcase `.gts` - `Shw::Autoscrollable`
  showcase/app/components/shw/autoscrollable/index.gts
  showcase/app/components/shw/autoscrollable/index.hbs
  showcase/types/template-registry.ts
Labels: showcase

#2443 `Dropdown`: added `isOpen` state to dropdown content
  .changeset/chilled-cups-divide.md
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.ts
  showcase/app/templates/components/dropdown.hbs
  showcase/tests/integration/components/hds/dropdown/index-test.js
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2427 feat: update eslint-plugin-ember to latest major version
  .changeset/loud-grapes-refuse.md
  packages/components/package.json
  packages/components/src/components/hds/app-footer/index.ts
  packages/components/src/components/hds/app-footer/item.ts
  packages/components/src/components/hds/app-footer/link.ts
  packages/components/src/components/hds/app-frame/parts/footer.ts
  packages/components/src/components/hds/app-frame/parts/header.ts
  packages/components/src/components/hds/app-frame/parts/main.ts
  packages/components/src/components/hds/app-frame/parts/modals.ts
  packages/components/src/components/hds/app-frame/parts/sidebar.ts
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/menu-primitive/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/side-nav/portal/index.ts
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/utils/hds-aria-described-by.ts
  packages/components/unpublished-development-types/global.d.ts
  showcase/.eslintrc.js
  showcase/app/components/shw/autoscrollable/index.gts
  showcase/app/components/shw/text/index.gts
  showcase/app/controllers/components.js
  showcase/app/controllers/components/code-block.js
  showcase/app/controllers/components/copy/button.js
  showcase/app/controllers/components/copy/snippet.js
  showcase/app/controllers/components/table.js
  showcase/app/controllers/utilities.js
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/package.json
  showcase/types/global.d.ts
  website/app/components/doc/table-of-contents/collapsible-item.js
  website/app/controllers/application.js
  website/app/controllers/show.js
  website/package.json
  yarn.lock
Labels: packages/components, showcase

#2423 Showcase: convert ShwLogo to `gts`
  showcase/app/components/shw/logo/design-system.gts
  showcase/app/components/shw/logo/design-system.hbs
  showcase/app/components/shw/logo/design-system.ts
Labels: showcase

#2450 Update references to version `4.11.1` to `4.12.0`
  website/docs/components/flyout/index.md
  website/docs/components/flyout/partials/version-history/4.12.0.md
  website/docs/components/modal/index.md
  website/docs/components/modal/partials/version-history/4.12.0.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/version-history/4.12.0.md
Labels: docs-website

#2444 `MaskedInput`, `CodeBlock` - scrollbar overlap fix (HDS-2864)
  .changeset/real-cobras-collect.md
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/form/masked-input.scss
  showcase/app/templates/components/form/masked-input.hbs
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/4.12.0.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/masked-input/partials/version-history/4.12.0.md
Labels: packages/components, docs-website, showcase

#2451 `Website`: add Dropdown `4.12.0` changeset
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/4.12.0.md
Labels: docs-website

#2452 `IconTile`: fix the `@color` argument type
  .changeset/famous-dragons-march.md
  packages/components/src/components/hds/icon-tile/types.ts
Labels: packages/components

#2447 `BadgeCount`, `TooltipButton`: fix types for HCP adoption
  .changeset/three-mugs-kneel.md
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/components/hds/tooltip-button/index.ts
  packages/components/src/modifiers/hds-tooltip.ts
  website/docs/components/badge-count/partials/code/component-api.md
Labels: packages/components, docs-website

#2455 `Interactive` - align types with `LinkTo`
  .changeset/forty-hounds-nail.md
  packages/components/src/components/hds/interactive/index.ts
Labels: packages/components

#2457 `Button` - align types to convention
  .changeset/twenty-pumpkins-notice.md
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/button/types.ts
Labels: packages/components

#2456 Rebuild declaration files on the fly
  packages/components/package.json
Labels: packages/components

#2454 `SideNav` - Add documentation for onDesktopViewportChange (HDS-3867)
  website/docs/components/side-nav/partials/code/component-api.md
Labels: docs-website

#2453 `DialogPrimitive`: add a guard so the yielded `close` function is always defined
  .changeset/tricky-forks-lay.md
  packages/components/src/components/hds/dialog-primitive/footer.hbs
  packages/components/src/components/hds/dialog-primitive/footer.ts
Labels: packages/components

#2445 Fix `RadioCard` styles and interactive states
  .changeset/quiet-ducks-develop.md
  packages/components/src/styles/components/form/radio-card.scss
Labels: packages/components

#2460 chore: remove ember-keyboard dependency
  .changeset/sharp-phones-wait.md
  packages/components/package.json
  yarn.lock
Labels: packages/components

#2459 `Shw::Divider` - Convert to GTS (HDS-3830)
  showcase/app/components/shw/divider.gts
  showcase/app/components/shw/divider/index.hbs
  showcase/app/components/shw/divider/index.ts
Labels: showcase

#2438 Version Packages
  .changeset/chilled-cups-divide.md
  .changeset/famous-dragons-march.md
  .changeset/forty-hounds-nail.md
  .changeset/hot-timers-complain.md
  .changeset/loud-grapes-refuse.md
  .changeset/quiet-ducks-develop.md
  .changeset/real-cobras-collect.md
  .changeset/sharp-phones-wait.md
  .changeset/sharp-taxis-juggle.md
  .changeset/thin-ghosts-share.md
  .changeset/three-mugs-kneel.md
  .changeset/tricky-forks-lay.md
  .changeset/tricky-trains-ring.md
  .changeset/twenty-pumpkins-notice.md
  .changeset/warm-needles-boil.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2461 `Shw::Divider` - Move component under its own folder
  showcase/app/components/shw/divider/index.gts
  showcase/types/template-registry.ts
Labels: showcase

#2462 Update the `Getting started for Engineers` documentation to include marketing and email "targets"
  website/docs/getting-started/for-engineers.md
Labels: docs-website

#2465 `HDS Documentation` Removing office hour reference
  website/docs/about/support.md
Labels: docs-website
