Repository hashicorp/design-system, pull requests merged in 2025-02, with the labels that each got.

#2669 Website: add identity key note to advanced table docs
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

#2676 Website: Update Button Organization pattern (bug bash)
  website/docs/patterns/button-organization/partials/guidelines/alignment.md
  website/docs/patterns/button-organization/partials/guidelines/grouping.md
  website/docs/patterns/button-organization/partials/guidelines/order.md
  website/public/assets/patterns/button-organization/alignment-reading-pattern-comparison.png
  website/public/assets/patterns/button-organization/alignment-reading-pattern.png
  website/public/assets/patterns/button-organization/using-left-alignment.png
Labels: docs-website

#2682 Website: bug bash small fixes
  packages/components/NEW-COMPONENT-CHECKLIST.md
  packages/components/README.md
  website/app/controllers/index.js
  website/app/templates/about.hbs
  website/docs/about/overview.md
  website/docs/about/principles.md
  website/docs/components/app-footer/index.md
  website/docs/components/button-set/index.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/index.md
  website/docs/components/tag/partials/guidelines/guidelines.md
  website/docs/foundations/border/index.md
  website/docs/foundations/tokens/index.md
  website/docs/getting-started/for-designers.md
  website/docs/icons/library/index.md
  website/docs/patterns/button-organization/partials/guidelines/alignment.md
  website/docs/patterns/button-organization/partials/guidelines/specifications.md
  website/docs/patterns/disabled-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/form-patterns/partials/guidelines/guidelines.md
  website/docs/patterns/table-multi-select/index.md
  website/docs/utilities/menu-primitive/partials/code/how-to-use.md
Labels: packages/components, docs-website

#2686 Website: last small bug bash issues
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/partials/code/how-to-use.md
Labels: docs-website

#2683 Adding missing guidance
  website/docs/components/stepper/partials/guidelines/guidelines.md
  website/public/assets/components/stepper/step-interactive.png
  website/public/assets/components/stepper/step-noninteractive.png
  website/public/assets/components/stepper/task-interactive.png
  website/public/assets/components/stepper/task-noninteractive.png
Labels: docs-website

#2681 CodeEditor - Fix import path for `HdsCodeEditorModifierSignature`
  .changeset/neat-teachers-deny.md
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.ts
Labels: packages/components

#2690 `Table`: remove last of update aria-label code
  .changeset/three-walls-lay.md
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.ts
Labels: packages/components

#2648 `hds-tooltip` - Implement a11y toggle content pattern
  .changeset/dry-frogs-smash.md
  packages/components/src/modifiers/hds-tooltip.ts
  showcase/tests/integration/components/hds/tooltip/tooltip-button-test.js
  showcase/tests/integration/components/hds/tooltip/tooltip-modifier-test.js
Labels: packages/components, showcase

#2659 `AdvancedTable`: follow ups
  .changeset/thin-masks-attack.md
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/td.hbs
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/modifiers/hds-advanced-table-cell.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/modifiers/hds-advanced-table-cell.js
Labels: packages/components, showcase

#2691 Remove "2020 AP Stylebook" link
  website/docs/content/writing-style/index.md
Labels: docs-website

#2696 `CodeEditor` and `CodeBlock`: add ability to customize the copy button text
  .changeset/orange-chefs-learn.md
  packages/components/src/components/hds/code-block/copy-button.hbs
  packages/components/src/components/hds/code-block/copy-button.ts
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  showcase/tests/integration/components/hds/code-block/index-test.js
  showcase/tests/integration/components/hds/code-editor/index-test.js
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2695 `Badge` - Update colors to increase contrast for a11y (HDS-4335)
  .changeset/old-snakes-judge.md
  packages/components/src/styles/components/badge-count.scss
  packages/components/src/styles/components/badge.scss
Labels: packages/components

#2697 `Badge` - color updates documentation (HDS-4418)
  website/docs/components/badge/index.md
  website/public/assets/components/badge/badge-anatomy.png
  website/public/assets/components/badge/badge-annotations.png
Labels: docs-website

#2700 feat: types and set correct component owner
  .changeset/bright-crabs-unite.md
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/app-footer/status-link.ts
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/portal/target.ts
  packages/components/src/components/hds/breadcrumb/item.hbs
  packages/components/src/components/hds/breadcrumb/item.ts
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  packages/components/src/components/hds/dropdown/toggle/icon.ts
  packages/components/src/components/hds/flyout/body.ts
  packages/components/src/components/hds/flyout/description.ts
  packages/components/src/components/hds/flyout/footer.ts
  packages/components/src/components/hds/flyout/header.ts
  packages/components/src/components/hds/form/masked-input/base.ts
  packages/components/src/components/hds/form/text-input/field.ts
  packages/components/src/components/hds/icon/index.ts
  packages/components/src/components/hds/interactive/index.hbs
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/components/hds/link/inline.ts
  packages/components/src/components/hds/link/standalone.ts
  packages/components/src/components/hds/menu-primitive/index.ts
  packages/components/src/components/hds/modal/body.ts
  packages/components/src/components/hds/modal/footer.ts
  packages/components/src/components/hds/modal/header.ts
  packages/components/src/components/hds/pagination/compact/index.ts
  packages/components/src/components/hds/pagination/numbered/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/components/hds/side-nav/portal/target.ts
  packages/components/src/components/hds/table/index.ts
  packages/components/src/components/hds/table/th-selectable.ts
  packages/components/src/components/hds/tabs/index.ts
  packages/components/src/components/hds/time/index.hbs
  packages/components/src/components/hds/time/index.ts
  packages/components/src/helpers/hds-format-date.ts
  packages/components/src/helpers/hds-format-relative.ts
  packages/components/src/modifiers/hds-advanced-table-cell.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-tooltip.ts
  packages/components/src/services/hds-time-types.ts
  packages/components/src/services/hds-time.ts
  packages/components/tsconfig.json
  packages/ember-flight-icons/src/components/flight-icon.ts
  showcase/app/components/mock/app/header/app-header.gts
  showcase/app/components/mock/app/main/page-header.gts
  showcase/app/components/mock/app/sidebar/side-nav.gts
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

#2701 fix: dependancies missing and incorrect links
  packages/components/package.json
  packages/ember-flight-icons/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

#2706 Add `@identity` to the list of possible values for the `@identityKey` argument of `Table` and `AdvancedTable`
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/table/partials/code/component-api.md
Labels: docs-website

#2653 Add Figma v2.0 changelog to the website
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: packages/components, docs-website

#2707 Add back Figma changelog entry for January 23rd
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2710 Website Content Updates
  website/docs/content/writing-guidelines/index.md
  website/docs/content/writing-style/index.md
  website/public/assets/content/writing-style/writing-style-consistent-termonology-CTA-save-do.png
Labels: docs-website

#2655 `Tag` - Text truncation for overflow fix
  .changeset/brown-wolves-admire.md
  packages/components/src/components/hds/tag/index.hbs
  packages/components/src/components/hds/tag/index.ts
  packages/components/src/components/hds/tag/types.ts
  packages/components/src/styles/components/tag.scss
  showcase/app/routes/components/tag.js
  showcase/app/templates/components/tag.hbs
  showcase/tests/integration/components/hds/tag/index-test.js
Labels: packages/components, showcase

#2684 Code editor additional languages
  .changeset/smooth-bobcats-hang.md
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/languages/rego.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
  showcase/app/controllers/components/code-editor.js
  website/cspell-config/project-words.txt
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  yarn.lock
Labels: packages/components, docs-website, showcase

#2712 `hds-code-editor` modifier - Dynamically update line wrapping
  .changeset/tricky-games-lay.md
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/modifiers/hds-code-editor-test.js
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2713 Website - Force order for “Table” items in sidenav
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/table/index.md
Labels: docs-website

#2717 Add missing entry point for rego language script
  packages/components/package.json
Labels: packages/components

#2718 fix deprecation link
  packages/components/src/components/hds/side-nav/index.ts
Labels: packages/components

#2678 Update accessibility-statement.md
  website/docs/about/accessibility-statement.md
Labels: docs-website

#2671 feat: pnpm 🎉
  .changeset/pretty-lies-walk.md
  .github/workflows/ci-components.yml
  .github/workflows/ci-website.yml
  .github/workflows/open-pull-request-for-icon-update.yml
  .github/workflows/release.yml
  .npmrc
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  README.md
  package.json
  packages/codemods/README.md
  packages/components/CONTRIBUTING.md
  packages/components/NEW-COMPONENT-CHECKLIST.md
  packages/components/README.md
  packages/components/babel.config.json
  packages/components/config/ember-cli-update.json
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/instance-initializers/load-sprite.ts
  packages/ember-flight-icons/CONTRIBUTING.md
  packages/ember-flight-icons/babel.config.json
  packages/ember-flight-icons/config/ember-cli-update.json
  packages/ember-flight-icons/package.json
  packages/ember-flight-icons/rollup.config.mjs
  packages/ember-flight-icons/tsconfig.json
  packages/ember-flight-icons/unpublished-development-types/index.d.ts
  packages/flight-icons/CONTRIBUTING.md
  packages/flight-icons/package.json
  packages/tokens/CONTRIBUTING.md
  packages/tokens/README.md
  packages/tokens/package.json
  patches/@embroider__core.patch
  patches/@glint__environment-ember-loose.patch
  patches/broccoli-asset-rewrite.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  showcase/blueprints/hds-component-test/index.js
  showcase/blueprints/hds-component/index.js
  showcase/config/ember-cli-update.json
  showcase/config/ember-try.js
  showcase/ember-cli-build.js
  showcase/package.json
  showcase/tests/test-helper.ts
  showcase/vercel.json
  website/README.md
  website/docs/about/overview.md
  website/docs/getting-started/for-engineers.md
  website/ember-cli-build.js
  website/package.json
  website/tests/test-helper.js
  website/vercel.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website, packages/tokens, showcase

#2719 `SideNav` - Update docs & showcase to add `hds-side-nav-hide-when-minimized` class examples (HDS-4544)
  showcase/app/templates/components/side-nav.hbs
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
Labels: docs-website, showcase

#2716 `MaskedInput`: add ability to control content masking externally
  .changeset/gentle-frogs-talk.md
  packages/components/src/components/hds/form/masked-input/base.hbs
  packages/components/src/components/hds/form/masked-input/base.ts
  showcase/app/controllers/components/form/masked-input.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/form/masked-input.scss
  showcase/app/templates/components/form/masked-input.hbs
Labels: packages/components, showcase

#2493 fix(components): `ember-composable-helpers` -> `@nullvoxpopuli/ember-composable-helpers`
  .changeset/polite-shirts-fix.md
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  website/cspell-config/project-words.txt
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/table/partials/code/how-to-use.md
Labels: packages/components, docs-website

#2708 feat: enable `embroider-safe` scenario
  .github/workflows/ci-components.yml
  showcase/config/ember-try.js
  showcase/tests/unit/services/hds-time-test.js
Labels: showcase
