Repository hashicorp/design-system, pull requests merged in 2025-07, with the labels that each got.

#2971 Version Packages
  .changeset/afraid-hornets-lie.md
  .changeset/chilly-cheetahs-rescue.md
  .changeset/dry-spiders-tell.md
  .changeset/eighty-berries-sing.md
  .changeset/giant-shoes-yell.md
  .changeset/honest-ants-dance.md
  .changeset/pretty-birds-know.md
  .changeset/sour-needles-own.md
  .changeset/tough-cooks-notice.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  pnpm-lock.yaml
  website/docs/components/accordion/index.md
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/version-history/version-history.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/button/index.md
  website/docs/components/code-block/index.md
  website/docs/components/form/file-input/index.md
  website/docs/components/form/file-input/partials/version-history/version-history.md
  website/docs/components/form/key-value-inputs/index.md
  website/docs/components/form/key-value-inputs/partials/version-history/version-history.md
  website/docs/components/form/layout/index.md
  website/docs/components/form/layout/partials/guidelines/guidelines.md
  website/docs/components/form/layout/partials/version-history/version-history.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/masked-input/partials/version-history/version-history.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/primitives/partials/version-history/version-history.md
  website/docs/components/form/select/index.md
  website/docs/components/form/select/partials/version-history/version-history.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/version-history.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/text-input/partials/version-history/version-history.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/textarea/partials/version-history/version-history.md
  website/docs/components/modal/index.md
  website/docs/components/pagination/index.md
  website/docs/components/reveal/index.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/time/index.md
  website/docs/layouts/flex/index.md
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/version-history/version-history.md
  website/docs/utilities/disclosure-primitive/index.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: packages/flight-icons, packages/components, docs-website

#2986 Web docs - Update form examples to use `Form` layout components (HDS-4999)
  website/docs/components/accordion/partials/code/how-to-use.md
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/code/how-to-use.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

#2985 Add Figma changelog entry
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2993 `Web docs` - Remove mention of filled badge in tables
  website/docs/components/badge/partials/guidelines/guidelines.md
Labels: docs-website

#2987 `Layout::Flex` & `Layout::Grid` - Prevent inheritance of gap values when nested (HDS-5067)
  .changeset/violet-jars-love.md
  packages/components/src/components/hds/layout/flex/index.ts
  packages/components/src/components/hds/layout/flex/types.ts
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/layout/grid/types.ts
  packages/components/src/styles/components/layout/flex.scss
  packages/components/src/styles/components/layout/grid.scss
  showcase/app/styles/showcase-pages/layout/flex.scss
  showcase/app/styles/showcase-pages/layout/grid.scss
  showcase/app/templates/layouts/flex.hbs
  showcase/app/templates/layouts/grid.hbs
  showcase/tests/integration/components/hds/layout/flex/index-test.js
  showcase/tests/integration/components/hds/layout/grid/index-test.js
Labels: packages/components, showcase

#3003 Copy::Button, Copy::Snippet, Dropdown: fix types for exported constants
  packages/components/src/components/hds/copy/button/index.ts
  packages/components/src/components/hds/copy/snippet/index.ts
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/components/hds/dropdown/list-item/interactive.ts
  packages/components/src/components/hds/dropdown/toggle/button.ts
Labels: packages/components

#3010 Showcase: Remove unused route files
  showcase/app/routes/content.js
  showcase/app/routes/page-components/layout/grid.js
Labels: showcase

#3007 Update Table guidelines for additional clarity
  website/docs/components/table/table/partials/guidelines/guidelines.md
Labels: docs-website

#2973 `KeyValueInputs` - Showcase
  showcase/app/components/mock/app/main/generic-form/partials/add-policy.gts
  showcase/app/components/mock/components/form/key-value-inputs/with-dynamic-inputs.gts
  showcase/app/components/mock/components/form/key-value-inputs/with-validation-and-limit.gts
  showcase/app/components/shw/frame/index.gts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-in-form.js
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.js
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-responsiveness.js
  showcase/app/controllers/page-components/form/key-value-inputs/index.js
  showcase/app/router.ts
  showcase/app/routes/page-components/form/key-value-inputs.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/form/key-value-inputs.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-flows.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-in-form.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness.hbs
  showcase/app/templates/page-components/form/key-value-inputs/index.hbs
  showcase/tests/acceptance/components/hds/form/key-value-inputs-test.js
  showcase/tests/acceptance/percy-test.js
  showcase/types/template-registry.ts
Labels: showcase

#2953 [Website] Changelog component docs script format enhancements
  packages/components/.prettierignore
  pnpm-lock.yaml
  website/lib/changelog/generate-component-changelog-entries.mjs
  website/package.json
Labels: packages/components

#3000 `RadioCard` - Fix hover styles shown when disabled
  .changeset/curly-dogs-greet.md
  packages/components/src/styles/components/form/radio-card.scss
  showcase/app/templates/page-components/form/radio-card.hbs
Labels: packages/components, showcase

#3011 Showcase: convert remaining showcase components to gts
  showcase/app/components/mock/app/main/generic-text-content.gts
  showcase/app/components/mock/components/form/super-select/generic-content.gts
  showcase/app/components/mock/components/form/super-select/generic-content.hbs
  showcase/app/components/mock/components/form/super-select/selected-component-multiple.gts
  showcase/app/components/mock/components/form/super-select/selected-component-multiple.hbs
  showcase/app/components/mock/components/form/super-select/selected-component-single.gts
  showcase/app/components/mock/components/form/super-select/selected-component-single.hbs
  showcase/app/components/shw/placeholder/index.gts
  showcase/types/template-registry.ts
Labels: showcase

#3016 Showcase - Convert Foundations, Layouts, Utilities pages to TS
  showcase/app/controllers/page-foundations/typography.js
  showcase/app/controllers/page-layouts/app-frame/index.ts
  showcase/app/controllers/page-overrides/power-select.ts
  showcase/app/routes/page-foundations.ts
  showcase/app/routes/page-foundations/elevation.js
  showcase/app/routes/page-foundations/elevation.ts
  showcase/app/routes/page-foundations/typography.js
  showcase/app/routes/page-foundations/typography.ts
  showcase/app/routes/page-layouts.ts
  showcase/app/routes/page-layouts/app-frame/index.ts
  showcase/app/routes/page-layouts/flex.js
  showcase/app/routes/page-layouts/flex.ts
  showcase/app/routes/page-layouts/grid.js
  showcase/app/routes/page-layouts/grid.ts
  showcase/app/routes/page-overrides.ts
  showcase/app/routes/page-overrides/power-select.ts
  showcase/app/templates/page-foundations/typography.hbs
  showcase/app/templates/page-layouts/flex.hbs
  showcase/app/templates/page-layouts/grid.hbs
  showcase/types/global.d.ts
Labels: showcase

#3020 `Web docs` - Updating pagination docs to reflect filtered number count
  website/docs/components/pagination/partials/guidelines/guidelines.md
Labels: docs-website

#3026 `AppSideNav::List:Link` - Fix styles when rendered as `button`
  .changeset/grumpy-bulldogs-hammer.md
  packages/components/src/styles/components/app-side-nav/content.scss
  packages/components/src/styles/components/side-nav/content.scss
  showcase/app/templates/page-components/app-side-nav/index.hbs
  showcase/app/templates/page-components/side-nav.hbs
Labels: packages/components, showcase

#3025 Website - Improve clarity/accuracy of how the `@isHrefExternal` argument is documented across multiple components
  showcase/app/templates/page-components/app-side-nav/index.hbs
  showcase/app/templates/page-components/side-nav.hbs
  website/docs/components/app-footer/partials/code/component-api.md
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/button/partials/code/component-api.md
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/code/component-api.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/link/inline/partials/code/component-api.md
  website/docs/components/link/inline/partials/code/how-to-use.md
  website/docs/components/link/standalone/partials/code/component-api.md
  website/docs/components/link/standalone/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/tag/partials/code/component-api.md
  website/docs/utilities/interactive/partials/code/component-api.md
  website/docs/utilities/interactive/partials/code/how-to-use.md
Labels: docs-website, showcase

#3034 Alert, Tag, Text, Tooltip Button - Type fixes
  packages/components/src/components/hds/alert/index.ts
  packages/components/src/components/hds/tag/index.ts
  packages/components/src/components/hds/text/body.ts
  packages/components/src/components/hds/text/code.ts
  packages/components/src/components/hds/text/display.ts
  packages/components/src/components/hds/text/index.ts
  packages/components/src/components/hds/tooltip-button/index.ts
  showcase/app/routes/page-components/text.js
Labels: packages/components, showcase

#3031 AppHeader: add close callback to yielded blocks
  .changeset/thirty-ravens-study.md
  packages/components/src/components/hds/app-header/index.hbs
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-side-nav/list/index.hbs
  showcase/app/components/mock/app/header/app-header.gts
  showcase/tests/integration/components/hds/app-header/index-test.js
Labels: packages/components, showcase

#3032 `AppSideNav::List:Link` - Fix background issue
  .changeset/fuzzy-pumpkins-fix.md
  packages/components/src/styles/components/app-side-nav/content.scss
  showcase/app/components/mock/app/sidebar/app-side-nav.gts
  showcase/app/styles/showcase-pages/app-side-nav.scss
  showcase/app/templates/page-components/app-side-nav/index.hbs
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
Labels: packages/components, showcase

#3033 Tag - Fix performance issues with single ResizeObserver
  .changeset/hungry-meals-serve.md
  packages/components/package.json
  packages/components/src/components/hds/tag/index.ts
  pnpm-lock.yaml
  showcase/app/controllers/page-components/tag/index.js
  showcase/app/router.ts
  showcase/app/routes/page-components/tag/frameless/demo-observer-performance.js
  showcase/app/routes/page-components/tag/index.js
  showcase/app/templates/page-components/tag/frameless/demo-observer-performance.hbs
  showcase/app/templates/page-components/tag/index.hbs
Labels: packages/components, showcase

#3043 Remove `ember-math-helpers` dependency
  .changeset/cold-timers-speak.md
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/th-context-menu.hbs
  packages/components/src/components/hds/advanced-table/th-context-menu.ts
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  pnpm-lock.yaml
  showcase/tests/unit/components/hds/advanced-table/models/column-test.js
Labels: packages/components, showcase

#3017 `Website` Banner Audit: Accessibility Alert and Consideration
  website/docs/components/accordion/partials/code/how-to-use.md
  website/docs/components/alert/partials/code/how-to-use.md
  website/docs/components/application-state/partials/code/how-to-use.md
  website/docs/components/breadcrumb/partials/code/how-to-use.md
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/specifications/states.md
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/code/how-to-use.md
  website/docs/components/form/file-input/partials/specifications/states.md
  website/docs/components/form/masked-input/partials/code/how-to-use.md
  website/docs/components/form/primitives/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
  website/docs/components/form/super-select/partials/specifications/states.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
  website/docs/components/icon-tile/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/docs/components/stepper/nav/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/table/partials/code/how-to-use.md
  website/docs/components/table/table/partials/guidelines/guidelines.md
  website/docs/components/text/partials/code/how-to-use.md
  website/docs/layouts/flex/partials/code/how-to-use.md
  website/docs/layouts/grid/partials/code/how-to-use.md
  website/docs/utilities/dialog-primitive/partials/code/how-to-use.md
Labels: docs-website

#3022 `Web Docs` Banner Audit: Figma differences and tip
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/app-footer/partials/guidelines/guidelines.md
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/form/file-input/partials/guidelines/guidelines.md
  website/docs/components/link/inline/partials/guidelines/guidelines.md
  website/docs/components/link/standalone/partials/code/how-to-use.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/docs/components/segmented-group/partials/guidelines/guidelines.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/table/partials/guidelines/guidelines.md
  website/docs/components/tag/partials/guidelines/guidelines.md
  website/docs/components/tooltip/partials/guidelines/guidelines.md
  website/docs/getting-started/for-designers.md
Labels: docs-website

#3023 `Web Docs` Banner Audit: Required Actions and Tip
  website/docs/components/card/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/primitives/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/code/how-to-use.md
  website/docs/components/form/radio/partials/code/how-to-use.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/super-select/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/foundations/breakpoints/partials/guidelines/guidelines.md
  website/docs/foundations/elevation/partials/code/how-to-use.md
  website/docs/foundations/focus-ring/partials/code/how-to-use.md
  website/docs/getting-started/for-engineers.md
  website/docs/overrides/power-select/partials/code/how-to-use.md
  website/docs/utilities/menu-primitive/partials/code/how-to-use.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
Labels: docs-website

#3045 `AppSideNav::Panel` - Fix focus ring cut off issue (HDS-5165)
  .changeset/rich-suits-count.md
  packages/components/src/styles/components/app-side-nav/content.scss
Labels: packages/components

#3027 Showcase: convert form pages to TypeScript
  showcase/app/controllers/page-components/form/base-elements.js
  showcase/app/controllers/page-components/form/base-elements.ts
  showcase/app/controllers/page-components/form/checkbox.ts
  showcase/app/controllers/page-components/form/file-input.ts
  showcase/app/controllers/page-components/form/frameless/demo-form-complex.ts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-in-form.ts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.ts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-responsiveness.ts
  showcase/app/controllers/page-components/form/key-value-inputs/index.ts
  showcase/app/controllers/page-components/form/layout.ts
  showcase/app/controllers/page-components/form/masked-input.js
  showcase/app/controllers/page-components/form/masked-input.ts
  showcase/app/controllers/page-components/form/radio-card.ts
  showcase/app/controllers/page-components/form/radio.ts
  showcase/app/controllers/page-components/form/select.ts
  showcase/app/controllers/page-components/form/super-select.ts
  showcase/app/controllers/page-components/form/text-input.js
  showcase/app/controllers/page-components/form/text-input.ts
  showcase/app/controllers/page-components/form/textarea.js
  showcase/app/controllers/page-components/form/textarea.ts
  showcase/app/controllers/page-components/form/toggle.ts
  showcase/app/routes/page-components/form/base-elements.js
  showcase/app/routes/page-components/form/base-elements.ts
  showcase/app/routes/page-components/form/checkbox.ts
  showcase/app/routes/page-components/form/file-input.ts
  showcase/app/routes/page-components/form/frameless/demo-form-basic.ts
  showcase/app/routes/page-components/form/frameless/demo-form-complex.ts
  showcase/app/routes/page-components/form/key-value-inputs.ts
  showcase/app/routes/page-components/form/layout.ts
  showcase/app/routes/page-components/form/masked-input.ts
  showcase/app/routes/page-components/form/radio-card.ts
  showcase/app/routes/page-components/form/radio.ts
  showcase/app/routes/page-components/form/select.ts
  showcase/app/routes/page-components/form/super-select.ts
  showcase/app/routes/page-components/form/text-input.ts
  showcase/app/routes/page-components/form/textarea.ts
  showcase/app/routes/page-components/form/toggle.ts
  showcase/app/templates/page-components/form/base-elements.hbs
  showcase/app/templates/page-components/form/checkbox.hbs
  showcase/app/templates/page-components/form/file-input.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-in-form.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness.hbs
  showcase/app/templates/page-components/form/key-value-inputs/index.hbs
  showcase/app/templates/page-components/form/layout.hbs
  showcase/app/templates/page-components/form/masked-input.hbs
  showcase/app/templates/page-components/form/radio.hbs
  showcase/app/templates/page-components/form/select.hbs
  showcase/app/templates/page-components/form/super-select.hbs
  showcase/app/templates/page-components/form/text-input.hbs
  showcase/app/templates/page-components/form/textarea.hbs
  showcase/app/templates/page-components/form/toggle.hbs
  showcase/types/global.d.ts
Labels: showcase

#3057 `CodeBlock`: fix type of exported const
  packages/components/src/components/hds/code-block/index.ts
Labels: packages/components

#3024 `Web Docs` Banner Audit: Inline with content
  website/docs/components/accordion/partials/guidelines/guidelines.md
  website/docs/components/application-state/partials/guidelines/guidelines.md
  website/docs/components/breadcrumb/partials/code/how-to-use.md
  website/docs/components/button/partials/code/how-to-use.md
  website/docs/components/button/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/code/how-to-use.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/flyout/partials/code/how-to-use.md
  website/docs/components/flyout/partials/guidelines/guidelines.md
  website/docs/components/form/checkbox/partials/code/how-to-use.md
  website/docs/components/form/primitives/partials/guidelines/overview.md
  website/docs/components/form/radio/partials/code/component-api.md
  website/docs/components/form/select/partials/code/how-to-use.md
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/text-input/partials/code/how-to-use.md
  website/docs/components/form/textarea/partials/code/how-to-use.md
  website/docs/components/form/toggle/partials/code/how-to-use.md
  website/docs/components/icon/partials/code/how-to-use.md
  website/docs/components/link/standalone/partials/guidelines/guidelines.md
  website/docs/components/modal/partials/guidelines/guidelines.md
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/docs/components/pagination/partials/guidelines/guidelines.md
  website/docs/components/reveal/partials/guidelines/guidelines.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/table/partials/code/how-to-use.md
  website/docs/components/table/table/partials/guidelines/guidelines.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/docs/components/text/partials/code/how-to-use.md
  website/docs/foundations/colors/partials/code/how-to-use.md
  website/docs/getting-started/for-designers.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
Labels: docs-website

#2998 `Layout::Flex` & `Layout::Grid` - API documentation for gap (HDS-5067)
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/grid/partials/code/component-api.md
Labels: docs-website

#3054 `ApplicationState`, `BadgeCount`, `Button`, `Card`: fix exported const types
  packages/components/src/components/hds/application-state/index.ts
  packages/components/src/components/hds/badge-count/index.ts
  packages/components/src/components/hds/button/index.ts
  packages/components/src/components/hds/card/container.ts
  showcase/app/routes/page-components/card.js
Labels: packages/components, showcase

#3042 feat(showcase): enable SFC blueprints
  pnpm-lock.yaml
  showcase/.ember-cli
  showcase/config/ember-cli-update.json
  showcase/package.json
Labels: showcase

#3068 `CodeEditor`: indicate that `[CE].Title` and `[CE].Description` have bound args
  .changeset/rare-items-repeat.md
  packages/components/src/components/hds/code-editor/index.ts
Labels: packages/components

#3071 Website - Fix incorrect type name and acceptance test comments
  website/docs/icons/library/index.js
  website/tests/acceptance/components/icon-test.js
  website/tests/acceptance/components/icon-tile-test.js
Labels: docs-website

#3072 Update `AppHeader` default breakpoint
  .changeset/beige-seas-add.md
  packages/components/src/components/hds/app-header/index.ts
Labels: packages/components
