Repository hashicorp/design-system, pull requests merged in 2025-04, with the labels that each got.

#2803 `CodeBlock` - `@onCopy`
  .changeset/smooth-nails-tell.md
  packages/components/src/components/hds/code-block/copy-button.hbs
  packages/components/src/components/hds/code-block/copy-button.ts
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  showcase/tests/integration/components/hds/code-block/index-test.js
  website/docs/components/code-block/partials/code/component-api.md
  website/docs/components/code-block/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2804 Resolve `flight-icons` misalignment in `website`
  packages/components/src/components/hds/icon/index.ts
  pnpm-lock.yaml
  website/docs/icons/library/index.js
  website/package.json
Labels: packages/components, docs-website

#2770 `AdvancedTable`: add support for a sticky column
  .changeset/nasty-rockets-grab.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/styles/mixins/_focus-ring.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/th-sort-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
Labels: packages/components, showcase

#2789 Showcase: add app frame example with generic advanced table
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/router.ts
  showcase/app/styles/mock-components/app.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-advanced-table.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

#2807 Resolve pnpm no matching version error
  packages/components/package.json
  packages/components/src/instance-initializers/load-sprite.ts
  pnpm-lock.yaml
Labels: packages/components

#2724 Update ember-a11y-testing version and a11y test scripts
  pnpm-lock.yaml
  showcase/package.json
  showcase/tests/acceptance/components/hds/dropdown-test.js
Labels: showcase

#2775 Web Docs - SuperSelect Multiple Selection Order
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
Labels: docs-website

#2787 `Card` - Add tag argument (HDS-4688)
  .changeset/wise-stingrays-heal.md
  packages/components/src/components/hds/card/container.hbs
  packages/components/src/components/hds/card/container.ts
  packages/components/src/components/hds/card/types.ts
  showcase/app/styles/showcase-pages/card.scss
  showcase/app/templates/components/card.hbs
  showcase/tests/integration/components/hds/card/container-test.js
Labels: packages/components, showcase

#2805 `Card` - docs for tag arg (HDS-4688)
  website/app/styles/app.scss
  website/app/styles/pages/components/card.scss
  website/docs/components/card/partials/accessibility/accessibility.md
  website/docs/components/card/partials/code/component-api.md
  website/docs/components/card/partials/code/how-to-use.md
Labels: docs-website

#2797 Website: add `@hasStickyFirstColumn` to Advanced Table code docs
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/docs/components/table/advanced-table/partials/specifications/sticky-column.md
  website/public/assets/components/table/advanced-table/advanced-table-horizontal-overflow.png
  website/public/assets/components/table/advanced-table/advanced-table-sticky-column.png
Labels: docs-website

#2764 `Layout::Flex` - documentation
  website/app/styles/app.scss
  website/app/styles/pages/layouts/app-frame.scss
  website/app/styles/pages/layouts/flex.scss
  website/app/styles/pages/layouts/grid.scss
  website/docs/layouts/flex/index.md
  website/docs/layouts/flex/partials/code/component-api.md
  website/docs/layouts/flex/partials/code/how-to-use.md
  website/docs/layouts/flex/partials/version-history/version-history.md
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/code/component-api.md
  website/docs/layouts/grid/partials/code/how-to-use.md
  website/public/assets/illustrations/layouts/flex.jpg
  website/public/assets/illustrations/layouts/grid.jpg
  website/tests/acceptance/layouts/flex-test.js
  website/tests/acceptance/layouts/grid-test.js
Labels: docs-website

#2806 `4.18` Release Figma Changelog
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
Labels: packages/components, docs-website

#2747 Version Packages
  .changeset/dirty-chefs-develop.md
  .changeset/dry-buses-eat.md
  .changeset/eight-fishes-sin.md
  .changeset/four-avocados-smoke.md
  .changeset/four-cameras-warn.md
  .changeset/four-jokes-wait.md
  .changeset/friendly-balloons-wave.md
  .changeset/funny-dragons-kneel.md
  .changeset/long-maps-smell.md
  .changeset/lucky-panthers-joke.md
  .changeset/nasty-rockets-grab.md
  .changeset/odd-flowers-heal.md
  .changeset/purple-poems-battle.md
  .changeset/rotten-suits-impress.md
  .changeset/smooth-nails-tell.md
  .changeset/strange-bats-provide.md
  .changeset/strong-students-decide.md
  .changeset/swift-elephants-play.md
  .changeset/swift-wasps-happen.md
  .changeset/tall-numbers-exercise.md
  .changeset/tiny-radios-suffer.md
  .changeset/wise-stingrays-heal.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  pnpm-lock.yaml
  website/cspell-config/project-words.txt
  website/docs/components/card/index.md
  website/docs/components/card/partials/version-history/version-history.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/version-history.md
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/textarea/partials/version-history/version-history.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/version-history/version-history.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/version-history/version-history.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/list/partials/version-history/version-history.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/stepper/nav/partials/version-history/version-history.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/time/index.md
  website/docs/components/time/partials/version-history/version-history.md
  website/docs/layouts/flex/index.md
  website/docs/layouts/flex/partials/version-history/version-history.md
  website/docs/layouts/grid/index.md
  website/docs/layouts/grid/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: packages/flight-icons, packages/components, docs-website

#2811 Advanced Table: enable acceptance tests, resolve a11y violations
  .changeset/blue-suits-hide.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/types.ts
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/acceptance/components/hds/advanced-table-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

#2827 Dependencies - Update `figma-api`
  packages/flight-icons/package.json
  pnpm-lock.yaml
Labels: packages/flight-icons

#2821 `AdvancedTable`: fix styling bugs with sticky column & scroll indicators
  .changeset/popular-seahorses-love.md
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components, release-candidate

#2817 Version Packages
  .changeset/blue-suits-hide.md
  .changeset/good-jars-attend.md
  .changeset/plenty-seals-cough.md
  .changeset/popular-seahorses-love.md
  .changeset/wild-starfishes-drum.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-patterns.md
  website/docs/whats-new/release-notes/partials/figma-library-utilities.md
Labels: packages/components, docs-website

#2819 `CodeBlock`, `CodeEditor`, `SideNav` - Focus ring color contrast fix
  .changeset/little-sheep-shave.md
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/code-block/theme.scss
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
  packages/components/src/styles/components/side-nav/content.scss
  packages/components/src/styles/components/side-nav/toggle-button.scss
  packages/components/src/styles/components/side-nav/vars.scss
  packages/components/src/styles/mixins/_interactive-dark-theme.scss
Labels: packages/components

#2836 bump @figma-export/core
  packages/flight-icons/package.json
  pnpm-lock.yaml
Labels: packages/flight-icons

#2812 Adding a voice and tone page
  website/app/styles/doc-components/do-dont.scss
  website/cspell-config/project-words.txt
  website/docs/content/voice-tone/index.md
  website/public/assets/illustrations/content/voice-and-tone.jpg
Labels: docs-website

#2839 Use luxon 3.x
  .changeset/chilled-phones-give.md
  packages/components/package.json
  pnpm-lock.yaml
Labels: packages/components

#2835 `Tag` - Prevent inheritance overrides for font styles
  .changeset/empty-guests-eat.md
  packages/components/src/components/hds/tag/index.hbs
  packages/components/src/styles/components/tag.scss
  showcase/app/styles/showcase-pages/tag.scss
  showcase/app/templates/components/tag.hbs
Labels: packages/components, showcase

#2842 Add Figma changelog entry for interactive variants and component-level tokens
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2837 Revive Enterprise Nav components
  .changeset/real-yaks-press.md
  packages/components/package.json
  packages/components/rollup.config.mjs
  packages/components/src/components.ts
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  showcase/app/components/mock/app/header/app-header.gts
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/sidebar/app-side-nav.gts
  showcase/app/components/mock/app/sidebar/side-nav.gts
  showcase/app/templates/components/app-header.hbs
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-advanced-table.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/app-header/home-link-test.js
  showcase/tests/integration/components/hds/app-header/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/back-link-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/index-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/item-test.js
  showcase/tests/integration/components/hds/app-side-nav/list/link-test.js
  showcase/tests/integration/components/hds/app-side-nav/portal/index-test.js
  showcase/types/template-registry.ts
Labels: packages/components, showcase

#2822 AdvancedTable - AppFrame followup
  showcase/app/components/mock/app/index.gts
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/styles/mock-components/app.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase
