Repository hashicorp/design-system, pull requests merged in 2025-05, with the labels that each got.

#2838 fix(components): `LinkToExternal` & make `ember-engines` optional
  .changeset/tall-rings-act.md
  packages/components/package.json
  packages/components/src/components/hds/breadcrumb/item.hbs
  packages/components/src/components/hds/breadcrumb/item.ts
  packages/components/src/components/hds/interactive/index.hbs
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/utils/hds-resolve-link-to-component.ts
Labels: packages/components, release-candidate

#2823 Web Docs - `SuperSelect::Multiple` guidance updates
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/public/assets/components/form/super-select/super-select-after-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-before-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-dont-visually-heavy.png
  website/public/assets/components/form/super-select/super-select-flow-clear-selected.png
  website/public/assets/components/form/super-select/super-select-flow-no-selections-select-all.png
  website/public/assets/components/form/super-select/super-select-flow-select-all.png
  website/public/assets/components/form/super-select/super-select-list-width-auto.png
  website/public/assets/components/form/super-select/super-select-list-width-matching.png
  website/public/assets/components/form/super-select/super-select-multiple-variant-footer.png
  website/public/assets/components/form/super-select/super-select-multiple-variant.png
  website/public/assets/components/form/super-select/super-select-single-multiple-footer-custom-content.png
  website/public/assets/components/form/super-select/super-select-trigger-filled.png
Labels: docs-website

#2841 Website: Revive `AppHeader` and `AppSideNav` docs
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/code/how-to-use.md
  website/docs/components/app-header/partials/guidelines/guidelines.md
  website/docs/components/app-header/partials/guidelines/overview.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/overview.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/overview.md
  website/docs/components/tabs/partials/guidelines/guidelines.md
  website/docs/layouts/app-frame/partials/code/component-api.md
  website/docs/layouts/app-frame/partials/code/how-to-use.md
  website/public/assets/components/alert/alert-placement-compact.png
  website/public/assets/components/alert/alert-placement-inline.png
  website/public/assets/components/alert/alert-placement-page.png
  website/public/assets/components/alert/alerts-within-reveal-closed.png
  website/public/assets/components/alert/alerts-within-reveal-open.png
  website/public/assets/components/alert/combining-contextualized-alerts.png
  website/public/assets/components/alert/contextualizing-alerts-compact.png
  website/public/assets/components/alert/contextualizing-alerts-inline.png
  website/public/assets/components/alert/mixing-alert-types-do.png
  website/public/assets/components/alert/mixing-alert-types-dont.png
  website/public/assets/components/alert/multiple-alert-types-do.png
  website/public/assets/components/alert/multiple-color-alerts-do-bulleted-list.png
  website/public/assets/components/alert/multiple-color-alerts-do.png
  website/public/assets/components/alert/multiple-color-alerts-dont.png
  website/public/assets/components/alert/multiple-page-level-alerts.png
  website/public/assets/components/app-header/app-header-focus-order.png
  website/public/assets/components/app-header/app-header-hierarchy.png
  website/public/assets/components/tag/tag-layout-group.png
  website/public/assets/components/tag/tag-layout-list.png
  website/public/assets/components/toast/toast-placement-multiple.png
  website/public/assets/components/toast/toast-placement.png
  website/public/assets/patterns/button-organization/using-right-alignment.png
  website/public/assets/patterns/filter-patterns/applied-filters-positioning-filter-bar.png
  website/public/assets/patterns/filter-patterns/applied-filters-positioning-inline-sidebar.png
  website/public/assets/patterns/filter-patterns/applied-filters-positioning-sidebar-clear-all.png
  website/public/assets/patterns/filter-patterns/applied-filters-positioning-sidebar.png
  website/public/assets/patterns/filter-patterns/filter-patterns-empty-state.png
  website/public/assets/patterns/filter-patterns/filter-sidebar-scrollbar.png
  website/public/assets/patterns/filter-patterns/layout-filter-bar.png
  website/public/assets/patterns/filter-patterns/layout-sidebar-left-inline.png
  website/public/assets/patterns/filter-patterns/layout-sidebar-left-page-level.png
  website/public/assets/patterns/filter-patterns/layout-sidebar-right-inline.png
  website/public/assets/patterns/filter-patterns/overflow-applied-filters.png
  website/public/assets/patterns/filter-patterns/overflow-filter-bar-flyout.png
  website/public/assets/patterns/filter-patterns/overflow-filter-bar-multiple-rows.png
  website/public/assets/patterns/filter-patterns/overflow-filter-bar.png
  website/public/assets/patterns/filter-patterns/pagination-layout.png
  website/public/assets/patterns/table-multi-select/multi-select-delete-modal.png
  website/public/assets/patterns/table-multi-select/multi-select-double-confirmation.png
  website/public/assets/patterns/table-multi-select/multi-select-edit-modal.png
  website/public/assets/patterns/table-multi-select/multi-select-in-context-basic.png
  website/public/assets/patterns/table-multi-select/multi-select-in-context-complex-example.png
  website/public/assets/patterns/table-multi-select/multi-select-in-context-filters.png
  website/public/assets/patterns/table-multi-select/multi-select-reflow-example.png
  website/public/assets/patterns/table-multi-select/selection-scope.png
Labels: docs-website

#2854 Update Radio and Checkbox font weight in the Dropdown
  .changeset/rude-rice-hang.md
  packages/components/src/components/hds/dropdown/list-item/checkbox.hbs
  packages/components/src/components/hds/dropdown/list-item/checkmark.hbs
  packages/components/src/components/hds/dropdown/list-item/radio.hbs
  showcase/app/templates/components/dropdown.hbs
Labels: packages/components, showcase

#2846 `Modal`: fix issue with click outside to dismiss
  .changeset/khaki-swans-type.md
  packages/components/src/components/hds/modal/index.hbs
  packages/components/src/components/hds/modal/index.ts
  showcase/tests/integration/components/hds/modal/index-test.js
Labels: packages/components, showcase

#2860 Revert make `ember-engines` an optional peer dep
  .changeset/tall-rings-act.md
  packages/components/package.json
  packages/components/src/components/hds/breadcrumb/item.hbs
  packages/components/src/components/hds/breadcrumb/item.ts
  packages/components/src/components/hds/interactive/index.hbs
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/utils/hds-resolve-link-to-component.ts
Labels: packages/components, release-candidate

#2861 Add Figma changelog for 4.19 release
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2862 Re-add Figma Changelog for 4.19 Release
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2863 Fix `Hds::Form::Label` argument `for` with boolean values
  .changeset/nine-fans-cough.md
  packages/components/src/components/hds/form/label/index.hbs
  showcase/app/templates/components/form/radio.hbs
  showcase/tests/integration/components/hds/form/label/index-test.js
  showcase/tests/integration/components/hds/form/radio/group-test.js
Labels: packages/components, showcase

#2866 Added Patterns changelog entry for Enterprise nav components
  packages/components/CHANGELOG-FIGMA-PATTERNS.md
  website/docs/whats-new/release-notes/partials/figma-library-patterns.md
Labels: packages/components, docs-website

#2852 fix(showcase): this are components
  showcase/app/components/mock/components/form/super-select/generic-content.hbs
  showcase/app/components/mock/components/form/super-select/selected-component-multiple.hbs
  showcase/app/components/mock/components/form/super-select/selected-component-single.hbs
  showcase/app/templates/components/form/super-select.hbs
Labels: showcase

#2826 `CodeBlock` - height toggle feature (HDS-4745)
  .changeset/fresh-kangaroos-sing.md
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/styles/components/code-block/index.scss
  showcase/app/templates/components/code-block.hbs
  showcase/tests/integration/components/hds/code-block/index-test.js
Labels: packages/components, showcase

#2848 Foundations / Viewport breakpoints - Implementation
  .changeset/plenty-kangaroos-worry.md
  packages/components/src/styles/mixins/_breakpoints.scss
  packages/components/src/utils/hds-breakpoints.ts
  showcase/app/components/mock/demo/breakpoints-ruler.gts
  showcase/app/components/mock/demo/breakpoints-visualization.gts
  showcase/app/components/shw/grid/index.gts
  showcase/app/router.ts
  showcase/app/styles/app.scss
  showcase/app/styles/mock-components/app.scss
  showcase/app/styles/mock-components/demo/breakpoints/colors.scss
  showcase/app/styles/mock-components/demo/breakpoints/index.scss
  showcase/app/styles/mock-components/demo/breakpoints/page-padding.scss
  showcase/app/styles/mock-components/demo/breakpoints/ruler.scss
  showcase/app/styles/mock-components/demo/breakpoints/visualization.scss
  showcase/app/styles/showcase-components/grid.scss
  showcase/app/styles/showcase-pages/app-frame.scss
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-page-padding.hbs
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-visualization-with-ui-shell.hbs
  showcase/app/templates/foundations/breakpoints/frameless/demo-viewport-breakpoints-visualization.hbs
  showcase/app/templates/foundations/breakpoints/index.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/percy-test.js
  showcase/types/template-registry.ts
Labels: packages/components, showcase

#2845 Website - `CodeBlock` height toggle docs
  website/docs/components/code-block/partials/code/how-to-use.md
  website/docs/components/code-block/partials/guidelines/guidelines.md
  website/public/assets/components/code-block/code-block-collapsed.png
  website/public/assets/components/code-block/code-block-expanded.png
Labels: docs-website

#2855 `HDS Docs` - Breakpoints
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/foundations/breakpoints/index.md
  website/docs/foundations/breakpoints/partials/code/how-to-use.md
  website/docs/foundations/breakpoints/partials/guidelines/guidelines.md
  website/public/assets/foundations/breakpoints/breakpoints-card-designs-shfting.png
  website/public/assets/foundations/breakpoints/breakpoints-table-example.png
  website/public/assets/illustrations/foundations/breakpoints.jpg
Labels: docs-website

#2865 `AdvancedTable` - add `@maxHeight` argument and fix the container styles
  .changeset/rotten-geese-swim.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/components/mock/app/main/generic-advanced-table.gts
  showcase/app/styles/mock-components/app.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

#2874 Website - `CodeBlock` guidelines revision
  website/docs/components/code-block/partials/guidelines/guidelines.md
Labels: docs-website

#2875 Website: Fix failing AdvancedTable page acceptance tests
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

#2873 Small tweaks to the headings for the `AdvancedTable` showcase page
  showcase/app/templates/components/advanced-table.hbs
Labels: showcase

#2876 Showcase - Add a frameless example for the `AppSideNav`
  showcase/app/templates/components/app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/index.hbs
Labels: showcase

#2872 Website: `AdvancedTable` max height argument docs
  website/app/styles/pages/components/advanced-table.scss
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
Labels: docs-website

#2869 `AppSideNav`: fix scrolling issue and being able to focus hidden links issue
  .changeset/honest-experts-battle.md
  packages/components/src/components/hds/app-side-nav/index.hbs
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/components/hds/app-side-nav/portal/target.hbs
  packages/components/src/styles/components/app-side-nav/main.scss
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
  showcase/tests/integration/components/hds/modal/index-test.js
  website/docs/components/app-side-nav/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2870 Update Color page on Helios website (Foundations section)
  website/docs/foundations/colors/partials/guidelines/guidelines.md
  website/docs/foundations/colors/partials/guidelines/overview.md
  website/public/assets/foundations/color/colors-semantic-token-naming.png
  website/public/assets/foundations/color/colors-what-are-semantic-tokens.png
Labels: docs-website

#2856 CodeBlock - Fix line wrapping and highlighting rendering
  .changeset/selfish-apes-breathe.md
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/styles/components/code-block/index.scss
  showcase/app/controllers/components/code-block.js
  showcase/app/templates/components/code-block.hbs
Labels: packages/components, showcase

#2883 Add missing `flex` and `grid` exports
  .changeset/thick-mice-bow.md
  packages/components/src/components.ts
Labels: packages/components

#2886 fix(components): correct imports
  .changeset/breezy-spoons-flash.md
  packages/components/src/components/hds/app-header/index.ts
  packages/components/src/components/hds/app-side-nav/index.ts
Labels: packages/components

#2884 chore: bump `babel`
  package.json
  packages/components/package.json
  packages/ember-flight-icons/package.json
  pnpm-lock.yaml
  showcase/app/templates/layouts/flex.hbs
  showcase/package.json
  website/package.json
Labels: packages/components, packages/ember-flight-icons, showcase

#2891 Migrate GitHub Actions updates from TSCCR to Dependabot
  .github/dependabot.yml
Labels: dependapatch

#2831 fix: import paths that are missing `/index`
  showcase/app/routes/components/accordion.js
  showcase/app/routes/components/advanced-table.js
  showcase/app/routes/components/alert.js
  showcase/app/routes/components/application-state.js
  showcase/app/routes/components/badge-count.js
  showcase/app/routes/components/badge.js
  showcase/app/routes/components/button.js
  showcase/app/routes/components/code-block.js
  showcase/app/routes/components/copy/button.js
  showcase/app/routes/components/copy/snippet.js
  showcase/app/routes/components/flyout.js
  showcase/app/routes/components/icon-tile.js
  showcase/app/routes/components/modal.js
  showcase/app/routes/components/table.js
  showcase/app/routes/components/tabs.js
  showcase/app/routes/components/tag.js
  showcase/app/routes/components/toast.js
  showcase/app/routes/components/tooltip.js
  showcase/app/routes/layouts/flex.js
  showcase/app/routes/layouts/grid.js
  showcase/tests/integration/components/hds/form/character-count/index-test.js
  showcase/tests/unit/components/hds/pagination/numbered-test.js
Labels: showcase

#2867 fix(components): `LinkToExternal` retake
  .changeset/tall-rings-act.md
  packages/components/package.json
  packages/components/src/components/hds/breadcrumb/item.hbs
  packages/components/src/components/hds/breadcrumb/item.ts
  packages/components/src/components/hds/interactive/index.hbs
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/utils/hds-resolve-link-to-external.ts
  packages/components/unpublished-development-types/global.d.ts
Labels: packages/components, release-candidate

#2879 `CodeBlock` - aria argument and screen-reader improvements
  .changeset/strong-bananas-drum.md
  packages/components/src/components/hds/code-block/description.hbs
  packages/components/src/components/hds/code-block/description.ts
  packages/components/src/components/hds/code-block/index.hbs
  packages/components/src/components/hds/code-block/index.ts
  packages/components/src/components/hds/code-block/title.hbs
  packages/components/src/components/hds/code-block/title.ts
  packages/components/src/modifiers/hds-clipboard.ts
  showcase/app/templates/components/code-block.hbs
  showcase/tests/integration/components/hds/code-block/index-test.js
  showcase/tests/integration/modifiers/hds-clipboard-test.js
Labels: packages/components, showcase

#2909 `Stepper::Nav` Safari text alignment fix for interactive steps
  .changeset/spicy-buses-design.md
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components

#2882 Website: remove references to `ember-flight-icons`
  website/docs/getting-started/for-engineers.md
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/ember-flight-icons.md
Labels: docs-website

#2908 `AppSideNav`, `SideNav`: fix typing issue
  .changeset/kind-ligers-invent.md
  packages/components/src/components/hds/app-side-nav/portal/index.ts
  packages/components/src/components/hds/app-side-nav/portal/target.ts
  packages/components/src/components/hds/side-nav/portal/index.ts
  packages/components/src/components/hds/side-nav/portal/target.ts
Labels: packages/components

#2903 DialogPrimitive documentation updates
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/dialog-primitive/partials/code/how-to-use.md
  website/docs/utilities/dialog-primitive/partials/guidelines/guidelines.md
  website/docs/utilities/dialog-primitive/partials/guidelines/overview.md
Labels: docs-website

#2914 Showcase / Some updates
  showcase/app/templates/components/form/checkbox.hbs
  showcase/app/templates/components/form/file-input.hbs
  showcase/app/templates/components/form/masked-input.hbs
  showcase/app/templates/components/form/radio.hbs
  showcase/app/templates/components/form/select.hbs
  showcase/app/templates/components/form/super-select.hbs
  showcase/app/templates/components/form/text-input.hbs
  showcase/app/templates/components/form/textarea.hbs
  showcase/app/templates/components/form/toggle.hbs
Labels: showcase

#2910 `Stepper::Nav` - Fix alignment in mobile
  packages/components/src/styles/components/stepper/nav.scss
Labels: packages/components
