Repository hashicorp/design-system, pull requests merged in 2025-01, with the labels that each got.

#2630 fix: lint:css:fix command in components and showcase
  packages/components/package.json
  showcase/package.json
Labels: packages/components, showcase

#2629 feat: switch website scripts from npm-run-all to concurrently
  website/cspell-config/dictionary-docs-examples.txt
  website/cspell-config/dictionary-lorem.txt
  website/cspell-config/project-words.txt
  website/cspell.json
  website/docs/components/app-header/partials/code/component-api.md
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/guidelines.md
  website/docs/components/form/radio-card/partials/code/component-api.md
  website/docs/components/form/radio-card/partials/code/how-to-use.md
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/pagination/partials/code/how-to-use.md
  website/docs/components/rich-tooltip/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/code/component-api.md
  website/docs/components/side-nav/partials/code/how-to-use.md
  website/docs/components/side-nav/partials/guidelines/guidelines.md
  website/docs/components/table/partials/code/component-api.md
  website/docs/components/text/partials/accessibility/accessibility.md
  website/docs/content/writing-style/index.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/utilities/popover-primitive/partials/code/component-api.md
  website/docs/utilities/popover-primitive/partials/code/how-to-use.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/package.json
  yarn.lock
Labels: docs-website

#2635 Updated export of icons from Figma
  .changeset/sharp-beds-approve.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/confluence-16.svg
  packages/flight-icons/svg-original/confluence-24.svg
  packages/flight-icons/svg-original/confluence-color-16.svg
  packages/flight-icons/svg-original/confluence-color-24.svg
  packages/flight-icons/svg-original/kubernetes-color-16.svg
  packages/flight-icons/svg-original/kubernetes-color-24.svg
  packages/flight-icons/svg-react/confluence-16.tsx
  packages/flight-icons/svg-react/confluence-24.tsx
  packages/flight-icons/svg-react/confluence-color-16.tsx
  packages/flight-icons/svg-react/confluence-color-24.tsx
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/kubernetes-color-16.tsx
  packages/flight-icons/svg-react/kubernetes-color-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/confluence-16.svg
  packages/flight-icons/svg/confluence-24.svg
  packages/flight-icons/svg/confluence-color-16.svg
  packages/flight-icons/svg/confluence-color-24.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/kubernetes-color-16.svg
  packages/flight-icons/svg/kubernetes-color-24.svg
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

#2623 Upgrade minor and patch `devDependencies`
  package.json
  packages/codemods/package.json
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/package.json
  packages/tokens/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, packages/tokens, showcase

#2612 `SuperSelect` - search position (HDS-4254)
  .changeset/new-paws-cross.md
  packages/components/package.json
  packages/components/src/components/hds/form/super-select/multiple/base.hbs
  packages/components/src/components/hds/form/super-select/multiple/field.hbs
  packages/components/src/components/hds/form/super-select/single/base.hbs
  packages/components/src/components/hds/form/super-select/single/field.hbs
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, showcase

#2595 Design tokens - create border radius tokens (HDS-3948)
  .changeset/hungry-mayflies-destroy.md
  packages/components/src/styles/@hashicorp/design-system-power-select-overrides.scss
  packages/components/src/styles/components/accordion.scss
  packages/components/src/styles/components/alert.scss
  packages/components/src/styles/components/app-header.scss
  packages/components/src/styles/components/badge.scss
  packages/components/src/styles/components/breadcrumb.scss
  packages/components/src/styles/components/card/container.scss
  packages/components/src/styles/components/code-block/index.scss
  packages/components/src/styles/components/copy/snippet.scss
  packages/components/src/styles/components/dropdown.scss
  packages/components/src/styles/components/form/select.scss
  packages/components/src/styles/components/icon-tile.scss
  packages/components/src/styles/components/link/standalone.scss
  packages/components/src/styles/components/modal.scss
  packages/components/src/styles/components/rich-tooltip.scss
  packages/components/src/styles/components/side-nav/a11y-refocus.scss
  packages/components/src/styles/components/table.scss
  packages/components/src/styles/mixins/_button.scss
  packages/tokens/dist/cloud-email/tokens.scss
  packages/tokens/dist/devdot/css/tokens.css
  packages/tokens/dist/docs/products/tokens.json
  packages/tokens/dist/marketing/css/tokens.css
  packages/tokens/dist/marketing/tokens.json
  packages/tokens/dist/products/css/tokens.css
  packages/tokens/src/global/border/radius.json
  website/docs/foundations/border/index.js
  website/docs/foundations/border/index.md
  website/docs/foundations/border/partials/border-radius.md
  website/docs/foundations/border/partials/code/how-to-use.md
  website/docs/foundations/border/partials/guidelines/guidelines.md
  website/public/assets/foundations/borders/foundations-borders.png
Labels: packages/components, docs-website, packages/tokens

#2624 Upgrade major `devDependenices`
  package.json
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, showcase

#2631 Upgrade `del` to `8.0` and remove `del` from tokens
  packages/flight-icons/package.json
  packages/flight-icons/scripts/build.ts
  packages/flight-icons/scripts/sync.ts
  packages/tokens/package.json
  yarn.lock
Labels: packages/flight-icons, packages/tokens

#2622 Add Figma Changelog entry for 4.15.0
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG-FIGMA-FOUNDATIONS.md
  packages/components/CHANGELOG-FIGMA-PATTERNS.md
  packages/components/CHANGELOG-FIGMA-UTILITIES.md
  website/cspell-config/project-words.txt
  website/docs/whats-new/release-notes/index.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/figma-library-foundations.md
  website/docs/whats-new/release-notes/partials/figma-library-patterns.md
  website/docs/whats-new/release-notes/partials/figma-library-utilities.md
  website/lib/changelog/generate-changelog-markdown-files.mjs
Labels: packages/components, docs-website

#2632 Upgrade `ember-qunit` to `9.0.1`
  showcase/package.json
  showcase/tests/test-helper.ts
  website/package.json
  website/tests/test-helper.js
  yarn.lock
Labels: showcase

#2625 Upgrade minor / patch `dependencies`
  .changeset/forty-vans-laugh.md
  .changeset/new-paws-cross.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  showcase/package.json
  website/package.json
  yarn.lock
Labels: packages/components, packages/ember-flight-icons, showcase

#2637 `Tabs` - Implement `aria-controls`
  .changeset/short-rockets-press.md
  packages/components/src/components/hds/tabs/index.hbs
  packages/components/src/components/hds/tabs/tab.hbs
  packages/components/src/components/hds/tabs/tab.ts
  showcase/tests/integration/components/hds/tabs/index-test.js
Labels: packages/components, showcase

#2646 Fix: `Table` - Border radius variables sass error
  packages/components/src/styles/components/table.scss
Labels: packages/components

#2638 HDS-4320 Dropdown Toggle Icon: Fix z-index issue with focus ring
  .changeset/smooth-months-repair.md
  packages/components/src/styles/components/dropdown.scss
Labels: packages/components

#2639 `PopoverPrimitive` - Implement `aria-controls`
  .changeset/many-apples-film.md
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/toggle.hbs
  showcase/tests/integration/components/hds/popover-primitive/index-test.js
  showcase/tests/integration/components/hds/rich-tooltip/toggle-test.js
Labels: packages/components, showcase

#2651 Update for-engineers.md
  website/docs/getting-started/for-engineers.md
Labels: docs-website

#2573 HDS::CodeEditor with Code Mirror 6
  .changeset/long-poets-wonder.md
  packages/components/babel.config.json
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/description.ts
  packages/components/src/components/hds/code-editor/full-screen-button.hbs
  packages/components/src/components/hds/code-editor/full-screen-button.ts
  packages/components/src/components/hds/code-editor/generic.hbs
  packages/components/src/components/hds/code-editor/generic.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/components/hds/code-editor/title.hbs
  packages/components/src/components/hds/code-editor/title.ts
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/highlight-styles/hds-dark-highlight-style.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/code-editor/index.scss
  packages/components/src/styles/components/code-editor/theme.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/code-editor.js
  showcase/app/router.ts
  showcase/app/routes/components/code-editor.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/code-editor.scss
  showcase/app/templates/components/code-editor.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/code-editor.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/code-editor/full-screen-button-test.js
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/components/hds/code-editor/title-test.js
  showcase/tests/integration/modifiers/hds-code-editor-test.js
  yarn.lock
Labels: packages/components, showcase

#2654 `CodeEditor` style fast follow
  packages/components/src/styles/components/code-editor/index.scss
Labels: packages/components

#2615 `AdvancedTable`: create component
  .changeset/strange-wolves-press.md
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/helpers.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/td.hbs
  packages/components/src/components/hds/advanced-table/td.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th-button-sort.hbs
  packages/components/src/components/hds/advanced-table/th-button-sort.ts
  packages/components/src/components/hds/advanced-table/th-button-tooltip.hbs
  packages/components/src/components/hds/advanced-table/th-button-tooltip.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.hbs
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/styles/@hashicorp/design-system-components.scss
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/advanced-table.js
  showcase/app/router.ts
  showcase/app/routes/components/advanced-table.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/app/templates/index.hbs
  showcase/package.json
  showcase/public/api/mock-nested-rows-custom.json
  showcase/public/api/mock-nested-rows.json
  showcase/public/api/mock-spanning-cells-manual.json
  showcase/public/api/mock-spanning-cells.json
  showcase/tests/acceptance/components/hds/advanced-table.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/advanced-table/helpers-test.js
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/integration/components/hds/advanced-table/td-test.js
  showcase/tests/integration/components/hds/advanced-table/th-sort-test.js
  showcase/tests/integration/components/hds/advanced-table/th-test.js
  showcase/tests/integration/components/hds/advanced-table/tr-test.js
  yarn.lock
Labels: packages/components, showcase

#2660 `Hds::CodeEditor` - Support Sentinel language
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/languages/sentinel.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
  showcase/app/controllers/components/code-editor.js
Labels: packages/components, showcase

#2661 `Hds::CodeEditor` & `hds-code-editor` modifer - `aria-describedby` support
  packages/components/src/components/hds/code-editor/description.hbs
  packages/components/src/components/hds/code-editor/description.ts
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/components/hds/code-editor/index.ts
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/tests/integration/components/hds/code-editor/description-test.js
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

#2626 `Hds::CodeEditor` Website updates
  website/app/styles/app.scss
  website/app/styles/pages/components/code-editor.scss
  website/cspell-config/project-words.txt
  website/docs/components/code-editor/index.js
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/docs/components/code-editor/partials/guidelines/overview.md
  website/docs/components/code-editor/partials/specifications/anatomy.md
  website/docs/components/code-editor/partials/specifications/states.md
  website/public/assets/components/code-editor/code-editor-anatomy.png
  website/public/assets/components/code-editor/code-editor-block-level.png
  website/public/assets/components/code-editor/code-editor-bracket-highlighting.png
  website/public/assets/components/code-editor/code-editor-code-active-line.png
  website/public/assets/components/code-editor/code-editor-dont-external-accessible-name.png
  website/public/assets/components/code-editor/code-editor-external-do-accessible-name.png
  website/public/assets/components/code-editor/code-editor-external-functions.png
  website/public/assets/components/code-editor/code-editor-header.png
  website/public/assets/components/code-editor/code-editor-line-selection.png
  website/public/assets/components/code-editor/code-editor-primary-yielded-actions.png
  website/public/assets/components/code-editor/code-editor-rounded-standalone.png
  website/public/assets/components/code-editor/code-editor-secondary-actions.png
  website/public/assets/components/code-editor/code-editor-states-focus-header.png
  website/public/assets/components/code-editor/code-editor-states-focus-no-header.png
  website/public/assets/components/code-editor/code-editor-yielded-actions-placeholder.png
  website/public/assets/illustrations/components/code-editor.jpg
Labels: docs-website

#2656 Automate component version badges
  website/docs/components/accordion/index.md
  website/docs/components/alert/index.md
  website/docs/components/app-footer/index.md
  website/docs/components/app-header/index.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/application-state/index.md
  website/docs/components/badge-count/index.md
  website/docs/components/badge/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/button-set/index.md
  website/docs/components/button/index.md
  website/docs/components/card/index.md
  website/docs/components/code-block/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/flyout/index.md
  website/docs/components/form/checkbox/index.md
  website/docs/components/form/file-input/index.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/radio/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/form/toggle/index.md
  website/docs/components/icon-tile/index.md
  website/docs/components/icon/index.md
  website/docs/components/modal/index.md
  website/docs/components/page-header/index.md
  website/docs/components/pagination/index.md
  website/docs/components/reveal/index.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/segmented-group/index.md
  website/docs/components/separator/index.md
  website/docs/components/side-nav/index.md
  website/docs/components/stepper/index.md
  website/docs/components/table/index.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/text/index.md
  website/docs/components/time/index.md
  website/docs/components/toast/index.md
  website/docs/components/tooltip/index.md
  website/docs/utilities/dialog-primitive/index.md
  website/docs/utilities/disclosure-primitive/index.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/interactive/index.md
  website/docs/utilities/menu-primitive/index.md
  website/docs/utilities/popover-primitive/index.md
  website/lib/changelog/generate-component-changelog-entries.mjs
  website/package.json
  yarn.lock
Labels: docs-website

#2663 Quick update for Code Editor docs
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website

#2620 `SuperSelect` - docs for search position (HDS-4254)
  website/docs/components/form/super-select/partials/code/component-api.md
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/version-history/version-history.md
Labels: docs-website

#2666 Website Figma Release Notes for 4.16
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

#2605 Version Packages
  .changeset/forty-vans-laugh.md
  .changeset/gorgeous-days-call.md
  .changeset/hungry-mayflies-destroy.md
  .changeset/long-poets-wonder.md
  .changeset/lovely-goats-work.md
  .changeset/many-apples-film.md
  .changeset/new-paws-cross.md
  .changeset/sharp-beds-approve.md
  .changeset/short-rockets-press.md
  .changeset/silver-trees-occur.md
  .changeset/smooth-months-repair.md
  .changeset/strange-wolves-press.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/ember-flight-icons/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  website/docs/components/alert/index.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/breadcrumb/partials/version-history/version-history.md
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/dropdown/index.md
  website/docs/components/dropdown/partials/version-history/version-history.md
  website/docs/components/form/super-select/index.md
  website/docs/components/icon-tile/index.md
  website/docs/components/page-header/index.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/version-history/version-history.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/table/table/index.md
  website/docs/components/table/table/partials/version-history/version-history.md
  website/docs/components/tabs/index.md
  website/docs/components/tabs/partials/version-history/version-history.md
  website/docs/components/time/index.md
  website/docs/utilities/popover-primitive/index.md
  website/docs/utilities/popover-primitive/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
  yarn.lock
Labels: packages/flight-icons, packages/components, packages/ember-flight-icons, docs-website, packages/tokens

#2667 `Table`, Multi-select: Add note to docs (HDS-4273)
  website/docs/components/table/table/partials/code/how-to-use.md
Labels: docs-website

#2668 Release notes formatting issue - Figma Library
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: docs-website

#2670 Update accessibility-statement.md
  website/docs/about/accessibility-statement.md
Labels: docs-website

#2677 fix broken support link
  website/docs/components/code-editor/partials/guidelines/guidelines.md
Labels: docs-website
