Repository hashicorp/design-system, pull requests merged in 2025-03, with the labels that each got.

#2725 `Time` - Update visual style when tooltip is present (HDS-4550)
  .changeset/tidy-eels-doubt.md
  packages/components/src/styles/components/rich-tooltip.scss
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
  showcase/tests/acceptance/percy-test.js
Labels: packages/components, showcase

#2726 `hds-tooltip` modifier - Fix CSS import (HDS-4542)
  .changeset/young-buses-shout.md
  packages/components/src/modifiers/hds-tooltip.ts
  packages/components/src/styles/components/tooltip.scss
Labels: packages/components

#2742 `Tag` - Make `@tooltipPlacement` optional
  packages/components/src/components/hds/tag/index.ts
Labels: packages/components

#2694 Website updates - Tag truncation
  website/docs/components/tag/partials/code/component-api.md
  website/docs/components/tag/partials/code/how-to-use.md
  website/docs/components/tag/partials/guidelines/guidelines.md
  website/docs/components/tag/partials/specifications/anatomy.md
  website/docs/components/tooltip/partials/code/component-api.md
  website/public/assets/components/tag/tag-anatomy.png
  website/public/assets/components/tag/tag-truncation-tooltip.png
Labels: docs-website

#2737 Website Release Notes / Figma Libraries for 4.17
  packages/components/CHANGELOG-FIGMA-COMPONENTS.md
  website/docs/whats-new/release-notes/partials/figma-library-components.md
Labels: packages/components, docs-website

#2744 fix: unintentional change to query typing
  packages/components/src/components/hds/interactive/index.ts
  packages/components/src/helpers/hds-link-to-query.ts
Labels: packages/components

#2689 Version Packages
  .changeset/bright-crabs-unite.md
  .changeset/brown-wolves-admire.md
  .changeset/dry-frogs-smash.md
  .changeset/early-knives-fly.md
  .changeset/gentle-frogs-talk.md
  .changeset/neat-teachers-deny.md
  .changeset/old-snakes-judge.md
  .changeset/orange-chefs-learn.md
  .changeset/polite-shirts-fix.md
  .changeset/pretty-lies-walk.md
  .changeset/smooth-bobcats-hang.md
  .changeset/thin-masks-attack.md
  .changeset/three-walls-lay.md
  .changeset/tidy-eels-doubt.md
  .changeset/tricky-games-lay.md
  .changeset/young-buses-shout.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/cspell-config/project-words.txt
  website/docs/components/badge-count/index.md
  website/docs/components/badge-count/partials/version-history/version-history.md
  website/docs/components/badge/index.md
  website/docs/components/badge/partials/version-history/version-history.md
  website/docs/components/breadcrumb/index.md
  website/docs/components/code-block/index.md
  website/docs/components/code-block/partials/version-history/version-history.md
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/copy/button/index.md
  website/docs/components/copy/button/partials/version-history/version-history.md
  website/docs/components/copy/snippet/index.md
  website/docs/components/copy/snippet/partials/version-history/version-history.md
  website/docs/components/dropdown/index.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/masked-input/partials/version-history/version-history.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/rich-tooltip/partials/version-history/version-history.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/table/table/index.md
  website/docs/components/table/table/partials/version-history/version-history.md
  website/docs/components/tabs/index.md
  website/docs/components/tag/index.md
  website/docs/components/tag/partials/version-history/version-history.md
  website/docs/components/time/index.md
  website/docs/components/time/partials/version-history/version-history.md
  website/docs/components/tooltip/index.md
  website/docs/components/tooltip/partials/version-history/version-history.md
  website/docs/utilities/popover-primitive/index.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#2745 `Time` interactive & `RichTooltip` - Increase dotted underline offset (HDS-4618)
  .changeset/eight-fishes-sin.md
  packages/components/src/styles/components/rich-tooltip.scss
  packages/components/src/styles/components/time.scss
  showcase/app/templates/components/time.hbs
Labels: packages/components, showcase

#2728 feat(components): wrap contextual components in `ensure-safe-component`
  .changeset/long-maps-smell.md
  packages/components/package.json
  packages/components/src/components/hds/form/masked-input/field.hbs
  packages/components/src/components/hds/form/text-input/field.hbs
  packages/components/src/components/hds/form/textarea/field.hbs
  packages/components/unpublished-development-types/global.d.ts
  pnpm-lock.yaml
Labels: packages/components

#2753 Website - Update "Getting started for Engineers" page
  website/docs/getting-started/for-engineers.md
Labels: docs-website

#2740 `hds-code-editor` add support for markdown syntax highlighting
  .changeset/swift-wasps-happen.md
  packages/components/package.json
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/highlight-styles/hds-dark-highlight-style.ts
  packages/components/src/modifiers/hds-code-editor/types.ts
  pnpm-lock.yaml
  showcase/app/controllers/components/code-editor.js
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
Labels: packages/components, docs-website, showcase

#2698 `AdvancedTable` Keyboard navigation doc update
  website/app/components/doc/badge-group/index.hbs
  website/app/styles/doc-components/badge-group.scss
  website/app/styles/doc-components/index.scss
  website/docs/components/table/advanced-table/partials/accessibility/accessibility.md
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-link.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-sort.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-tooltip.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-arrow-key-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-down.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-left.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-right.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-fn-up.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-navigation-tab.png
Labels: docs-website

#2762 Website - Add alt text to keyboard arrow icons
  website/docs/components/form/radio-card/partials/accessibility/accessibility.md
  website/docs/components/tabs/partials/accessibility/accessibility.md
Labels: docs-website

#2688 `AdvancedTable`: add expand all button
  .changeset/swift-elephants-play.md
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th-selectable.hbs
  packages/components/src/components/hds/advanced-table/th-selectable.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/modifiers/hds-advanced-table-cell.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
  packages/components/src/modifiers/hds-advanced-table-cell/keyboard-navigation.ts
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/routes/components/advanced-table.js
  showcase/app/templates/components/advanced-table.hbs
  showcase/public/api/mock-spanning-cells.json
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  website/docs/components/table/advanced-table/partials/code/component-api.md
  website/docs/components/table/advanced-table/partials/code/how-to-use.md
  website/public/assets/components/table/advanced-table/advanced-table-density-mix.png
  website/public/assets/components/table/advanced-table/advanced-table-dont-parent-nested.png
  website/public/assets/components/table/advanced-table/expandable-rows.png
Labels: packages/components, docs-website, showcase

#2761 AdvancedTable: set checkbox column width to `min-content`
  .changeset/purple-poems-battle.md
  packages/components/src/components/hds/advanced-table/index.ts
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

#2769 Update template-registry.ts
  packages/components/src/template-registry.ts
Labels: packages/components

#2733 feat(components): exclude `app-header` components
  packages/components/rollup.config.mjs
  packages/components/src/components.ts
  showcase/app/components/mock/app/header/app-header.gts
  showcase/app/components/mock/app/index.gts
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/layouts/app-frame/frameless/demo-full-app-frame-with-app-header.hbs
  showcase/types/template-registry.ts
Labels: packages/components, showcase

#2755 Add support for `cspNonce`
  .changeset/lucky-panthers-joke.md
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/tests/integration/modifiers/hds-code-editor-test.js
  showcase/tests/unit/modifiers/hds-code-editor-test.js
  website/docs/components/code-editor/partials/code/component-api.md
Labels: packages/components, docs-website, showcase

#2778 Update the `@tag` entry in the Component API documentation for the `Text` component
  website/docs/components/text/partials/code/component-api.md
Labels: docs-website

#2777 `AdvancedTable`: use correct icons in th-button-expand
  .changeset/rotten-suits-impress.md
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/types.ts
  showcase/app/templates/components/advanced-table.hbs
Labels: packages/components, showcase

#2776 Code Editor - Support custom keybinding
  .changeset/four-avocados-smoke.md
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

#2768 AdvancedTable - Declarative Template Updates
  .changeset/four-cameras-warn.md
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/expandable-tr-group.hbs
  packages/components/src/components/hds/advanced-table/expandable-tr-group.ts
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-button-expand.hbs
  packages/components/src/components/hds/advanced-table/th-button-expand.ts
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/tr.ts
  packages/components/src/modifiers/hds-advanced-table-cell/dom-management.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

#2783 `Textarea` - Fix charcount margin (HDS-4680)
  .changeset/tiny-radios-suffer.md
  packages/components/src/styles/components/form/field.scss
Labels: packages/components

#2714 `Stepper::Nav` and `Stepper::List`: Create components
  .changeset/four-jokes-wait.md
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/stepper/list/index.hbs
  packages/components/src/components/hds/stepper/list/index.ts
  packages/components/src/components/hds/stepper/list/step.hbs
  packages/components/src/components/hds/stepper/list/step.ts
  packages/components/src/components/hds/stepper/nav/index.hbs
  packages/components/src/components/hds/stepper/nav/index.ts
  packages/components/src/components/hds/stepper/nav/panel.hbs
  packages/components/src/components/hds/stepper/nav/panel.ts
  packages/components/src/components/hds/stepper/nav/step.hbs
  packages/components/src/components/hds/stepper/nav/step.ts
  packages/components/src/components/hds/stepper/types.ts
  packages/components/src/styles/components/stepper/index.scss
  packages/components/src/styles/components/stepper/list.scss
  packages/components/src/styles/components/stepper/nav.scss
  packages/components/src/styles/components/stepper/step-indicator.scss
  packages/components/src/template-registry.ts
  showcase/app/controllers/components/stepper/list.js
  showcase/app/controllers/components/stepper/nav.js
  showcase/app/router.ts
  showcase/app/routes/components/stepper/indicator.js
  showcase/app/routes/components/stepper/list.js
  showcase/app/routes/components/stepper/nav.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/stepper/list.scss
  showcase/app/styles/showcase-pages/stepper/nav.scss
  showcase/app/templates/components/stepper/indicator.hbs
  showcase/app/templates/components/stepper/list.hbs
  showcase/app/templates/components/stepper/nav.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/stepper/indicator-test.js
  showcase/tests/acceptance/components/hds/stepper/list-test.js
  showcase/tests/acceptance/components/hds/stepper/nav-test.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/stepper/list-step-test.js
  showcase/tests/integration/components/hds/stepper/list-test.js
  showcase/tests/integration/components/hds/stepper/nav-panel-test.js
  showcase/tests/integration/components/hds/stepper/nav-step-test.js
  showcase/tests/integration/components/hds/stepper/nav-test.js
Labels: packages/components, showcase

#2715 Linting support for hds-code-editor modifier and component
  .changeset/odd-flowers-heal.md
  packages/components/package.json
  packages/components/src/components/hds/code-editor/index.hbs
  packages/components/src/modifiers/hds-code-editor.ts
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
  packages/components/src/modifiers/hds-code-editor/palettes/hds-dark-palette.ts
  packages/components/src/modifiers/hds-code-editor/themes/hds-dark-theme.ts
  pnpm-lock.yaml
  showcase/app/controllers/components/code-editor.js
  showcase/app/templates/components/code-editor.hbs
  showcase/package.json
  showcase/tests/integration/components/hds/code-editor/index-test.js
  showcase/tests/integration/modifiers/hds-code-editor-test.js
  showcase/tests/unit/modifiers/hds-code-editor/linters/json-linter-test.js
Labels: packages/components, showcase

#2756 `Layout::Grid` component implementation (HDS-4532)
  .changeset/strong-students-decide.md
  packages/components/package.json
  packages/components/src/components/hds/layout/grid/index.hbs
  packages/components/src/components/hds/layout/grid/index.ts
  packages/components/src/components/hds/layout/grid/item.hbs
  packages/components/src/components/hds/layout/grid/item.ts
  packages/components/src/components/hds/layout/grid/types.ts
  packages/components/src/styles/components/layout/grid.scss
  packages/components/src/styles/components/layout/index.scss
  packages/components/src/template-registry.ts
  showcase/app/router.ts
  showcase/app/routes/components/layout/grid.js
  showcase/app/routes/layouts/grid.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/layout/grid.scss
  showcase/app/templates/index.hbs
  showcase/app/templates/layouts/grid.hbs
  showcase/tests/acceptance/components/hds/layout/grid.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/layout/grid/index-test.js
  showcase/tests/integration/components/hds/layout/grid/item-test.js
Labels: packages/components, showcase

#2750 Code Editor linting docs
  website/docs/components/code-editor/index.js
  website/docs/components/code-editor/partials/code/component-api.md
  website/docs/components/code-editor/partials/code/how-to-use.md
  website/docs/components/code-editor/partials/guidelines/guidelines.md
  website/public/assets/components/code-editor/code-editor-anatomy.png
  website/public/assets/components/code-editor/code-editor-block-level.png
  website/public/assets/components/code-editor/code-editor-bracket-highlighting.png
  website/public/assets/components/code-editor/code-editor-code-active-line.png
  website/public/assets/components/code-editor/code-editor-do-external-accessible-name.png
  website/public/assets/components/code-editor/code-editor-dont-external-accessible-name.png
  website/public/assets/components/code-editor/code-editor-external-do-accessible-name.png
  website/public/assets/components/code-editor/code-editor-external-functions.png
  website/public/assets/components/code-editor/code-editor-header.png
  website/public/assets/components/code-editor/code-editor-line-selection.png
  website/public/assets/components/code-editor/code-editor-primary-yielded-actions.png
  website/public/assets/components/code-editor/code-editor-primary-yielded-elements.png
  website/public/assets/components/code-editor/code-editor-rounded-standalone.png
  website/public/assets/components/code-editor/code-editor-secondary-actions.png
  website/public/assets/components/code-editor/code-editor-states-focus-header.png
  website/public/assets/components/code-editor/code-editor-states-focus-no-header.png
  website/public/assets/components/code-editor/code-editor-yielded-actions-placeholder.png
  website/public/assets/components/code-editor/codeeditor-linting-preview-dialog.png
  website/public/assets/components/code-editor/codeeditor-linting-preview-tooltip.png
  website/public/assets/components/code-editor/codeeditor-linting-preview.png
Labels: docs-website

#2788 `SideNav` - Conditionally set `aria-labelledby`
  .changeset/dry-buses-eat.md
  packages/components/src/components/hds/side-nav/index.hbs
  showcase/tests/integration/components/hds/side-nav/index-test.js
Labels: packages/components, showcase

#2779 `hds-code-editor` - Attach `EditorView` instance to modified element
  .changeset/tall-numbers-exercise.md
  packages/components/src/modifiers/hds-code-editor.ts
  showcase/tests/integration/modifiers/hds-code-editor-test.js
Labels: packages/components, showcase

#2794 Remove RSVP.all usage
  packages/components/src/modifiers/hds-code-editor/linters/json-linter.ts
Labels: packages/components

#2795 Website - Add missing acceptance tests
  website/docs/patterns/filter-patterns/partials/guidelines/guidelines.md
  website/tests/acceptance/components/app-header-test.js
  website/tests/acceptance/components/code-block-test.js
  website/tests/acceptance/components/code-editor-test.js
  website/tests/acceptance/components/form/file-input-test.js
  website/tests/acceptance/components/form/masked-input-test.js
  website/tests/acceptance/components/form/super-select-test.js
  website/tests/acceptance/components/table/advanced-table-test.js
  website/tests/acceptance/components/table/table-test.js
  website/tests/acceptance/components/time-test.js
  website/tests/acceptance/content/writing-guidelines-test.js
  website/tests/acceptance/content/writing-style-test.js
  website/tests/acceptance/layouts/app-frame-test.js
  website/tests/acceptance/patterns/button-organization-test.js
  website/tests/acceptance/patterns/data-visualization-test.js
  website/tests/acceptance/patterns/disabled-patterns-test.js
  website/tests/acceptance/patterns/filter-patterns-test.js
  website/tests/acceptance/patterns/form-patterns-test.js
  website/tests/acceptance/patterns/table-multi-select-test.js
  website/tests/acceptance/utilities/dialog-primitive-test.js
  website/tests/acceptance/utilities/disclosure-primitive-test.js
Labels: docs-website

#2796 `CodeEditor` - Website improvements
  website/docs/components/code-editor/partials/accessibility/accessibility.md
  website/docs/components/code-editor/partials/code/how-to-use.md
Labels: docs-website

#2748 `Advanced Table` Expand Collapse All Documentation
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
  website/public/assets/components/table/advanced-table/expandable-rows-collapse-all.png
  website/public/assets/components/table/advanced-table/expandable-rows-collapse-state.png
  website/public/assets/components/table/advanced-table/expandable-rows-expand-all.png
  website/public/assets/components/table/advanced-table/expandable-rows-expand-state.png
  website/public/assets/components/table/advanced-table/expandable-rows-mixed-state.png
Labels: docs-website

#2792 [HDS-4345] - Fix double loading of flight icons in engines
  packages/components/src/instance-initializers/load-sprite.ts
Labels: packages/components
