Repository hashicorp/design-system, pull requests merged in 2025-08, with the labels that each got.

#3064 Showcase: TS route conversion batch 6
  pnpm-lock.yaml
  showcase/app/controllers/page-components/code-editor.ts
  showcase/app/controllers/page-components/flyout.js
  showcase/app/controllers/page-components/flyout.ts
  showcase/app/controllers/page-components/modal.js
  showcase/app/controllers/page-components/modal.ts
  showcase/app/controllers/page-components/page-header.ts
  showcase/app/routes/page-components/code-editor.ts
  showcase/app/routes/page-components/dropdown.ts
  showcase/app/routes/page-components/flyout.ts
  showcase/app/routes/page-components/icon-tile.ts
  showcase/app/routes/page-components/icon.ts
  showcase/app/routes/page-components/modal.ts
  showcase/app/routes/page-components/page-header.ts
  showcase/app/routes/page-components/reveal.ts
  showcase/app/routes/page-components/segmented-group.ts
  showcase/app/routes/page-components/separator.ts
  showcase/app/routes/page-components/side-nav.ts
  showcase/app/templates/page-components/dropdown.hbs
  showcase/app/templates/page-components/flyout.hbs
  showcase/app/templates/page-components/modal.hbs
  showcase/app/templates/page-components/page-header.hbs
  showcase/app/templates/page-components/side-nav.hbs
  showcase/package.json
Labels: showcase

#3058 Showcase: Convert CodeBlock route to TS
  showcase/app/controllers/page-components/code-block.js
  showcase/app/controllers/page-components/code-block.ts
  showcase/app/routes/page-components/code-block.ts
  showcase/app/styles/showcase-pages/code-block.scss
  showcase/app/templates/page-components/code-block.hbs
Labels: showcase

#3075 `ButtonSet` - Update docs (HDS-5238)
  website/docs/components/button-set/partials/code/how-to-use.md
Labels: docs-website

#3089 tests pass
  packages/components/src/components/hds/dropdown/toggle/icon.ts
  showcase/tests/integration/components/hds/dropdown/toggle/icon-test.js
Labels: packages/components, showcase

#3091 Helios Website - Add “Callout” banner (HDS-5178)
  website/app/components/doc/banner/index.js
  website/app/styles/doc-components/banner.scss
  website/docs/testing/components/banner/index.md
Labels: docs-website

#3090 Reverting strings updated by `ember-intl` introduction
  packages/components/src/components/hds/application-state/header.hbs
  packages/components/src/components/hds/pagination/nav/number.hbs
  packages/components/translations/hds/components/application-state/header/en-us.yaml
  packages/components/translations/hds/components/common/en-us.yaml
  packages/components/translations/hds/components/pagination/nav/en-us.yaml
  packages/components/translations/hds/components/pagination/nav/number/en-us.yaml
  showcase/tests/integration/components/hds/pagination/nav/number-test.js
  showcase/tests/integration/components/hds/pagination/numbered-test.js
Labels: packages/components, showcase

#3069 Version Packages
  .changeset/beige-seas-add.md
  .changeset/early-years-jog.md
  .changeset/eight-lies-bathe.md
  .changeset/mean-paws-travel.md
  .changeset/rare-items-repeat.md
  .changeset/tiny-kids-speak.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  website/docs/components/app-footer/index.md
  website/docs/components/app-footer/partials/version-history/version-history.md
  website/docs/components/app-header/index.md
  website/docs/components/app-header/partials/version-history/version-history.md
  website/docs/components/app-side-nav/index.md
  website/docs/components/app-side-nav/partials/version-history/version-history.md
  website/docs/components/application-state/index.md
  website/docs/components/application-state/partials/version-history/version-history.md
  website/docs/components/code-editor/index.md
  website/docs/components/code-editor/partials/version-history/version-history.md
  website/docs/components/form/file-input/index.md
  website/docs/components/form/key-value-inputs/index.md
  website/docs/components/form/layout/index.md
  website/docs/components/form/masked-input/index.md
  website/docs/components/form/masked-input/partials/version-history/version-history.md
  website/docs/components/form/primitives/index.md
  website/docs/components/form/radio-card/index.md
  website/docs/components/form/select/index.md
  website/docs/components/form/super-select/index.md
  website/docs/components/form/super-select/partials/version-history/version-history.md
  website/docs/components/form/text-input/index.md
  website/docs/components/form/textarea/index.md
  website/docs/components/pagination/index.md
  website/docs/components/pagination/partials/version-history/version-history.md
  website/docs/components/reveal/index.md
  website/docs/components/reveal/partials/version-history/version-history.md
  website/docs/components/side-nav/index.md
  website/docs/components/side-nav/partials/version-history/version-history.md
  website/docs/components/stepper/list/index.md
  website/docs/components/stepper/list/partials/version-history/version-history.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/table/table/index.md
  website/docs/components/table/table/partials/version-history/version-history.md
  website/docs/components/tag/index.md
  website/docs/components/time/index.md
  website/docs/components/time/partials/version-history/version-history.md
  website/docs/layouts/flex/index.md
  website/docs/layouts/grid/index.md
  website/docs/utilities/dismiss-button/index.md
  website/docs/utilities/dismiss-button/partials/version-history/version-history.md
  website/docs/utilities/popover-primitive/index.md
  website/docs/whats-new/release-notes/partials/components.md
Labels: packages/components, docs-website

#3074 Showcase: create `mocks/` folder to simplify getting data for showcase pages
  showcase/app/mocks/cluster-data.ts
  showcase/app/mocks/folk-music-data.ts
  showcase/app/mocks/policy-data.ts
  showcase/app/mocks/selectable-item-data.ts
  showcase/app/mocks/spanning-cell-data.ts
  showcase/app/mocks/user-data.ts
  showcase/app/mocks/user-with-more-columns-data.ts
  showcase/app/routes/page-components/advanced-table.ts
  showcase/app/routes/page-components/pagination/index.ts
  showcase/app/routes/page-components/table.js
  showcase/app/templates/page-components/advanced-table.hbs
  showcase/app/templates/page-components/table.hbs
  showcase/public/api/folk.json
  showcase/public/api/mock-clusters-with-status.json
  showcase/public/api/mock-many-columns.json
  showcase/public/api/mock-nested-rows-custom.json
  showcase/public/api/mock-nested-rows.json
  showcase/public/api/mock-selectable-data.json
  showcase/public/api/mock-spanning-cells-manual.json
  showcase/public/api/mock-users.json
Labels: showcase

#3092 Added clarity to When to use Advanced Table
  website/docs/components/table/advanced-table/partials/guidelines/guidelines.md
Labels: docs-website

#3102 AdvancedTable - Set mock-active styles for ThResizeHandle
  packages/components/src/styles/components/advanced-table.scss
Labels: packages/components

#3094 Showcase: fix examples of visually hidden header cells in AdvancedTable page
  showcase/app/controllers/page-components/advanced-table.ts
  showcase/app/templates/page-components/advanced-table.hbs
Labels: showcase

#3093 `AdvancedTable`: fix styles for right/center aligned cells
  .changeset/bitter-knives-call.md
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/styles/components/advanced-table.scss
  showcase/app/controllers/page-components/advanced-table.ts
  showcase/app/templates/page-components/advanced-table.hbs
Labels: packages/components, showcase

#3116 `AppHeader` - fix styling of non interactive actions (buttons) to look disabled (HDS-5303)
  .changeset/light-facts-fall.md
  packages/components/src/components/hds/app-side-nav/index.ts
  packages/components/src/styles/components/app-header.scss
Labels: packages/components

#3122 AdvancedTable - Use `pin-off` icon in ThContextMenu
  packages/components/src/components/hds/advanced-table/th-context-menu.ts
Labels: packages/components

#3118 `PopoverPrimitive`, `RichTooltip`, `Dropdown`: add optional `event` argument to the close callback
  .changeset/huge-buses-play.md
  packages/components/src/components/hds/advanced-table/th-context-menu.ts
  packages/components/src/components/hds/dropdown/index.hbs
  packages/components/src/components/hds/dropdown/index.ts
  packages/components/src/components/hds/popover-primitive/index.ts
  packages/components/src/components/hds/rich-tooltip/index.ts
  showcase/app/templates/page-components/app-footer.hbs
  showcase/app/templates/page-components/rich-tooltip.hbs
Labels: packages/components, showcase

#3117 fix(components): remove deprecated `@task` decorator
  packages/components/src/components/hds/time/index.ts
  packages/components/src/services/hds-time.ts
  showcase/tests/unit/services/hds-time-test.js
Labels: packages/components, showcase

#3105 Showcase: Convert internationalization routes to TS
  showcase/app/controllers/internationalization/translation.js
  showcase/app/controllers/page-internationalization/translation.ts
  showcase/app/router.ts
  showcase/app/routes/internationalization/translation.js
  showcase/app/routes/page-internationalization.ts
  showcase/app/routes/page-internationalization/translation.ts
  showcase/app/templates/index.hbs
  showcase/app/templates/page-internationalization/translation.hbs
Labels: showcase

#3125 Time - Fix error with start task
  packages/components/src/components/hds/time/index.ts
  packages/components/src/services/hds-time.ts
Labels: packages/components

#3124 `Accordion` - Add Showcase examples of flush variant within containers
  showcase/app/styles/showcase-pages/accordion.scss
  showcase/app/templates/page-components/accordion.hbs
Labels: showcase

#3126 `Web docs` - SuperSelect image updates
  website/docs/components/form/super-select/partials/guidelines/guidelines.md
  website/docs/components/form/super-select/partials/specifications/anatomy.md
  website/docs/components/form/super-select/partials/specifications/states.md
  website/public/assets/components/form/super-select/super-select-after-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-anatomy.png
  website/public/assets/components/form/super-select/super-select-before-options-custom-content.png
  website/public/assets/components/form/super-select/super-select-before-options-search.png
  website/public/assets/components/form/super-select/super-select-flow-clear-selected.png
  website/public/assets/components/form/super-select/super-select-flow-no-selections-select-all.png
  website/public/assets/components/form/super-select/super-select-flow-select-all.png
  website/public/assets/components/form/super-select/super-select-group-list-items.png
  website/public/assets/components/form/super-select/super-select-list-item-types.png
  website/public/assets/components/form/super-select/super-select-list-positioning.png
  website/public/assets/components/form/super-select/super-select-listitem-checkbox-states.png
  website/public/assets/components/form/super-select/super-select-listitem-checkmark-states.png
  website/public/assets/components/form/super-select/super-select-multi-flow-search-to-add.png
  website/public/assets/components/form/super-select/super-select-multiple-variant-footer.png
  website/public/assets/components/form/super-select/super-select-multiple-variant.png
  website/public/assets/components/form/super-select/super-select-single-multiple-footer-custom-content.png
  website/public/assets/components/form/super-select/super-select-single-variant-footer-with-counter.png
  website/public/assets/components/form/super-select/super-select-single-variant-text.png
  website/public/assets/components/form/super-select/super-select-trigger-states.png
Labels: docs-website

#3081 `AdvancedTable` Column resize bug fix
  .changeset/tender-carrots-fix.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-context-menu.ts
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/unit/components/hds/advanced-table/models/column-test.js
Labels: packages/components, showcase

#3115 Enforce immutable updates to `AdvancedTable` `@model`
  showcase/app/controllers/page-components/advanced-table.ts
  website/docs/components/table/advanced-table/partials/code/component-api.md
Labels: docs-website, showcase

#3130 `Modal` docs - Add callout banners explaining visual focus (HDS-5423)
  website/docs/components/modal/partials/accessibility/accessibility.md
  website/docs/components/modal/partials/code/how-to-use.md
Labels: docs-website

#3132 Add `cspNonce` argument to `Hds::CodeEditor` component
  .changeset/brown-ways-invite.md
  packages/components/src/components/hds/code-editor/index.hbs
  showcase/tests/integration/components/hds/code-editor/index-test.js
Labels: packages/components, showcase
