Repository hashicorp/design-system, pull requests merged in 2025-10, with the labels that each got.

#3206 Remove unneeded sass-related dependencies
  .changeset/full-showers-kiss.md
  packages/components/package.json
  pnpm-lock.yaml
Labels: packages/components

#3230 `HdsSideNav` deprecations
  .changeset/spicy-ads-roll.md
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/side-nav/header/icon-button.hbs
  packages/components/src/components/hds/side-nav/header/icon-button.ts
  packages/components/src/components/hds/side-nav/index.hbs
  packages/components/src/components/hds/side-nav/index.ts
  packages/components/src/styles/components/side-nav/header.scss
  packages/components/src/template-registry.ts
  showcase/app/templates/page-components/side-nav.hbs
  showcase/tests/integration/components/hds/side-nav/header/icon-button-test.js
  showcase/tests/integration/components/hds/side-nav/index-test.js
  website/app/deprecation-workflow.js
  website/docs/components/side-nav/partials/code/component-api.md
Labels: packages/components, docs-website, showcase

#3265 Tokens package - Remove engines entry
  packages/tokens/.nvmrc
  packages/tokens/package.json
Labels: packages/tokens

#3266 `AdvancedTable` - Dynamic columns fix
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  showcase/app/components/page-components/advanced-table/code-fragments/with-simple-data.gts
  showcase/app/components/page-components/advanced-table/sub-sections/functional-examples.gts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

#3182 Version Packages
  .changeset/brave-owls-jump.md
  .changeset/loud-readers-sneeze.md
  .changeset/mean-ghosts-repeat.md
  .changeset/wet-files-joke.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/package.json
  pnpm-lock.yaml
  website/cspell-config/project-words.txt
  website/docs/components/app-header/index.md
  website/docs/components/button/index.md
  website/docs/components/card/index.md
  website/docs/components/code-editor/index.md
  website/docs/components/dropdown/index.md
  website/docs/components/form/file-input/index.md
  website/docs/components/form/key-value-inputs/index.md
  website/docs/components/form/key-value-inputs/partials/version-history/version-history.md
  website/docs/components/icon-tile/index.md
  website/docs/components/rich-tooltip/index.md
  website/docs/components/stepper/nav/index.md
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/version-history/version-history.md
  website/docs/components/table/table/index.md
  website/docs/components/table/table/partials/version-history/version-history.md
  website/docs/utilities/popover-primitive/index.md
  website/docs/utilities/popover-primitive/partials/version-history/version-history.md
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/design-tokens.md
Labels: packages/components, docs-website, packages/tokens

#3267 Website: Fix focus and brand gradient token names in color palette
  website/docs/foundations/colors/index.js
Labels: docs-website

#3254 Showcase: Convert KeyValueInputs page to gts
  showcase/app/components/page-components/form/key-value-inputs/code-fragments/with-demo-instructions.gts
  showcase/app/components/page-components/form/key-value-inputs/code-fragments/with-dynamic-inputs.gts
  showcase/app/components/page-components/form/key-value-inputs/code-fragments/with-generic-content.gts
  showcase/app/components/page-components/form/key-value-inputs/code-fragments/with-validation-and-limit.gts
  showcase/app/components/page-components/form/key-value-inputs/frameless/demo-flows.gts
  showcase/app/components/page-components/form/key-value-inputs/frameless/demo-in-form.gts
  showcase/app/components/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.gts
  showcase/app/components/page-components/form/key-value-inputs/frameless/demo-responsiveness.gts
  showcase/app/components/page-components/form/key-value-inputs/index.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/containers.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/content.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/demos.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/field.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/footer.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/header.gts
  showcase/app/components/page-components/form/key-value-inputs/sub-sections/responsiveness.gts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-in-form.ts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.ts
  showcase/app/controllers/page-components/form/key-value-inputs/frameless/demo-responsiveness.ts
  showcase/app/controllers/page-components/form/key-value-inputs/index.ts
  showcase/app/routes/page-components/form/key-value-inputs.ts
  showcase/app/routes/page-components/form/key-value-inputs/frameless/demo-flows.ts
  showcase/app/routes/page-components/form/key-value-inputs/frameless/demo-in-form.ts
  showcase/app/routes/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.ts
  showcase/app/routes/page-components/form/key-value-inputs/frameless/demo-responsiveness.ts
  showcase/app/routes/page-components/form/key-value-inputs/index.ts
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-flows.gts
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-flows.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-in-form.gts
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-in-form.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.gts
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness-custom-widths.hbs
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness.gts
  showcase/app/templates/page-components/form/key-value-inputs/frameless/demo-responsiveness.hbs
  showcase/app/templates/page-components/form/key-value-inputs/index.gts
  showcase/app/templates/page-components/form/key-value-inputs/index.hbs
  showcase/types/template-registry.ts
Labels: showcase, showcase-gts

#3270 Showcase: convert Reveal page to gts
  showcase/app/components/page-components/reveal/index.gts
  showcase/app/components/page-components/reveal/sub-sections/content.gts
  showcase/app/components/page-components/reveal/sub-sections/options.gts
  showcase/app/components/page-components/reveal/sub-sections/states.gts
  showcase/app/routes/page-components/reveal.ts
  showcase/app/templates/page-components/reveal.gts
  showcase/app/templates/page-components/reveal.hbs
Labels: showcase, showcase-gts

#3284 Showcase: convert Separator page to gts
  showcase/app/components/page-components/separator/index.gts
  showcase/app/components/page-components/separator/sub-sections/variants.gts
  showcase/app/templates/page-components/separator.gts
  showcase/app/templates/page-components/separator.hbs
Labels: showcase, showcase-gts

#3285 Showcase: convert Segmented Group page to gts
  showcase/app/components/page-components/segmented-group/index.gts
  showcase/app/components/page-components/segmented-group/sub-sections/content.gts
  showcase/app/components/page-components/segmented-group/sub-sections/states.gts
  showcase/app/templates/page-components/segmented-group.gts
  showcase/app/templates/page-components/segmented-group.hbs
Labels: showcase, showcase-gts

#3256 `AppSideNav`: add additional tests for when the nav is removed from the DOM
  showcase/app/components/mock/app/sidebar/app-side-nav.gts
  showcase/app/router.ts
  showcase/app/templates/page-components/app-side-nav/frameless/demo-remove-from-dom.gts
  showcase/app/templates/page-components/app-side-nav/index.hbs
  showcase/tests/integration/components/hds/app-side-nav/index-test.js
Labels: showcase
