Repository hashicorp/design-system, pull requests merged in 2025-09, with the labels that each got.

#2703 feat: enable `embroider-optimized` scenario
  packages/components/package.json
  packages/components/rollup.config.mjs
  pnpm-lock.yaml
  showcase/config/ember-try.js
  showcase/ember-cli-build.js
  showcase/package.json
  website/package.json
Labels: packages/components, packages/ember-flight-icons, showcase, release-candidate

#3131 Fix invalid generated CSS (HDS-5314)
  .changeset/mighty-masks-wave.md
  packages/components/src/styles/mixins/_button.scss
Labels: packages/components

#3134 Clarify `hasSubItems` usage in App Side Nav
  website/docs/components/app-side-nav/partials/code/how-to-use.md
  website/docs/components/app-side-nav/partials/guidelines/guidelines.md
  website/public/assets/components/app-side-nav/list-item-nested-items-dont.png
  website/public/assets/components/app-side-nav/list-item-with-nested-items.png
Labels: docs-website

#3129 Showcase: convert `Accordion` page to `gts`
  showcase/app/components/page-components/accordion/code-fragments/with-external-control.gts
  showcase/app/components/page-components/accordion/code-fragments/with-placeholder-content.gts
  showcase/app/components/page-components/accordion/code-fragments/with-toggle-variants.gts
  showcase/app/components/page-components/accordion/index.gts
  showcase/app/components/page-components/accordion/sub-sections/base-elements.gts
  showcase/app/components/page-components/accordion/sub-sections/content.gts
  showcase/app/components/page-components/accordion/sub-sections/context.gts
  showcase/app/components/page-components/accordion/sub-sections/variants.gts
  showcase/app/controllers/page-components/accordion.ts
  showcase/app/routes/page-components/accordion.ts
  showcase/app/templates/page-components/accordion.gts
  showcase/app/templates/page-components/accordion.hbs
  showcase/app/utils/noop.ts
Labels: showcase

#3161 Adding CSAT survey banner to website
  website/app/components/doc/page/banner.hbs
  website/app/templates/application.hbs
Labels: docs-website

#3157 `Web docs` - Moving table based content to a new section.
  website/docs/components/table/advanced-table/index.md
  website/docs/components/table/advanced-table/partials/content/content.md
  website/docs/components/table/table/index.md
  website/docs/components/table/table/partials/content/badge-usage.md
  website/docs/components/table/table/partials/content/content.md
  website/docs/components/table/table/partials/content/general.md
  website/docs/components/table/table/partials/content/icon-usage.md
  website/docs/components/table/table/partials/content/link-usage.md
  website/docs/components/table/table/partials/content/null-values.md
  website/docs/content/components/date-and-time/index.md
  website/docs/content/components/tables/index.md
  website/public/assets/content/components/date-and-time/relative-dates-with-tooltip.png
  website/public/assets/content/components/tables/badge-table-null-value.png
  website/public/assets/content/components/tables/different-badge-sizes.png
  website/public/assets/content/components/tables/icon-grouping.png
  website/public/assets/content/components/tables/icon-product-branding.png
  website/public/assets/content/components/tables/icon-status.png
  website/public/assets/content/components/tables/icon-tile-product-branding.png
  website/public/assets/content/components/tables/icon-without-label.png
  website/public/assets/content/components/tables/large-badge-in-table.png
  website/public/assets/content/components/tables/link-example.png
  website/public/assets/content/components/tables/longform-content-links.png
  website/public/assets/content/components/tables/multiple-links.png
  website/public/assets/content/components/tables/null-data-set-in-a-table.png
  website/public/assets/content/components/tables/null-empty-cells.png
  website/public/assets/content/components/tables/null-value-badge-example.png
  website/public/assets/content/components/tables/null-value-cause-tooltip.png
  website/public/assets/content/components/tables/null-value-comparative-value.png
  website/public/assets/content/components/tables/null-value-fallback-em-dash.png
  website/public/assets/content/components/tables/null-value-text-example.png
  website/public/assets/content/components/tables/outlined-badge-within-table.png
  website/public/assets/content/components/tables/table-density-small-badge.png
  website/public/assets/content/components/tables/with-service-icon.png
  website/public/assets/illustrations/content/components/date-and-time.jpg
  website/public/assets/illustrations/content/components/tables.jpg
  website/tests/acceptance/content/components/date-and-time-test.js
  website/tests/acceptance/content/components/tables-test.js
  website/tests/acceptance/content/voice-tone-test.js
Labels: docs-website

#3184 Modal - Fix test selector
  showcase/tests/integration/components/hds/modal/index-test.js
Labels: showcase

#3159 Data Viz Web documentation
  website/docs/getting-started/for-designers.md
  website/docs/patterns/data-visualization/index.md
  website/docs/patterns/data-visualization/partials/accessibility.md
  website/docs/patterns/data-visualization/partials/code.md
  website/docs/patterns/data-visualization/partials/guidelines/accessibility.md
  website/docs/patterns/data-visualization/partials/guidelines/color-usage.md
  website/docs/patterns/data-visualization/partials/guidelines/guidelines.md
  website/docs/patterns/data-visualization/partials/guidelines/overview.md
  website/docs/patterns/data-visualization/partials/guidelines/specifications.md
  website/public/assets/patterns/data-visualization/code-demo-donut-chart.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-donut.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-label.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-pattern.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-symbol.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-categorical.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-diverging.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-example-donut.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-example-proportional-meter.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-example-vertical-bar.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-graduated-sequence.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-sequential.png
Labels: docs-website

#3170 Showcase: Convert StepperNav to gts
  showcase/app/components/page-components/stepper/nav/code-fragments/with-contextual-components.gts
  showcase/app/components/page-components/stepper/nav/code-fragments/with-overlay-content.gts
  showcase/app/components/page-components/stepper/nav/code-fragments/with-steps-array.gts
  showcase/app/components/page-components/stepper/nav/code-fragments/with-variable-steps.gts
  showcase/app/components/page-components/stepper/nav/index.gts
  showcase/app/components/page-components/stepper/nav/sub-sections/base-elements.gts
  showcase/app/components/page-components/stepper/nav/sub-sections/examples.gts
  showcase/app/components/page-components/stepper/nav/sub-sections/interactivity.gts
  showcase/app/components/page-components/stepper/nav/sub-sections/responsiveness.gts
  showcase/app/controllers/page-components/stepper/nav.ts
  showcase/app/routes/page-components/stepper/nav.ts
  showcase/app/templates/page-components/stepper/frameless/demo-responsiveness.gts
  showcase/app/templates/page-components/stepper/frameless/demo-responsiveness.hbs
  showcase/app/templates/page-components/stepper/nav.gts
  showcase/app/templates/page-components/stepper/nav.hbs
Labels: showcase, showcase-gts

#3190 Showcase: StepperList page gts conversion
  showcase/app/components/page-components/stepper/list/code-fragments/with-default-implementation.gts
  showcase/app/components/page-components/stepper/list/index.gts
  showcase/app/components/page-components/stepper/list/sub-sections/base-elements.gts
  showcase/app/components/page-components/stepper/list/sub-sections/example-implementations.gts
  showcase/app/components/page-components/stepper/list/sub-sections/status.gts
  showcase/app/controllers/page-components/stepper/list.ts
  showcase/app/routes/page-components/stepper/list.ts
  showcase/app/templates/page-components/stepper/list.gts
  showcase/app/templates/page-components/stepper/list.hbs
Labels: showcase, showcase-gts

#3191 Showcase: convert Toast page to gts
  showcase/app/components/page-components/toast/index.gts
  showcase/app/components/page-components/toast/sub-sections/actions.gts
  showcase/app/components/page-components/toast/sub-sections/color.gts
  showcase/app/components/page-components/toast/sub-sections/content.gts
  showcase/app/components/page-components/toast/sub-sections/icon.gts
  showcase/app/controllers/page-components/toast.ts
  showcase/app/routes/page-components/toast.ts
  showcase/app/templates/page-components/toast.gts
  showcase/app/templates/page-components/toast.hbs
Labels: showcase, showcase-gts

#3193 Showcase: convert CopySnippet page to gts
  showcase/app/components/page-components/copy/snippet/index.gts
  showcase/app/components/page-components/copy/snippet/sub-sections/color.gts
  showcase/app/components/page-components/copy/snippet/sub-sections/containers.gts
  showcase/app/components/page-components/copy/snippet/sub-sections/content.gts
  showcase/app/components/page-components/copy/snippet/sub-sections/full-width.gts
  showcase/app/components/page-components/copy/snippet/sub-sections/states.gts
  showcase/app/controllers/page-components/copy/snippet.ts
  showcase/app/routes/page-components/copy/snippet.ts
  showcase/app/templates/page-components/copy/snippet.gts
  showcase/app/templates/page-components/copy/snippet.hbs
Labels: showcase, showcase-gts

#3192 Showcase: convert Tag pages to gts
  showcase/app/components/page-components/tag/index.gts
  showcase/app/components/page-components/tag/sub-sections/containers.gts
  showcase/app/components/page-components/tag/sub-sections/content.gts
  showcase/app/components/page-components/tag/sub-sections/demos.gts
  showcase/app/components/page-components/tag/sub-sections/inheritance.gts
  showcase/app/components/page-components/tag/sub-sections/link-colors.gts
  showcase/app/components/page-components/tag/sub-sections/states.gts
  showcase/app/components/page-components/tag/sub-sections/tooltip-placements.gts
  showcase/app/controllers/page-components/tag/index.ts
  showcase/app/routes/page-components/tag/frameless/demo-observer-performance.ts
  showcase/app/routes/page-components/tag/index.ts
  showcase/app/templates/page-components/tag/frameless/demo-observer-performance.gts
  showcase/app/templates/page-components/tag/frameless/demo-observer-performance.hbs
  showcase/app/templates/page-components/tag/index.gts
  showcase/app/templates/page-components/tag/index.hbs
Labels: showcase, showcase-gts

#3196 Showcase: Convert Breadcrumb to gts
  showcase/app/components/page-components/breadcrumb/code-fragments/with-generic-content.gts
  showcase/app/components/page-components/breadcrumb/code-fragments/with-long-strings.gts
  showcase/app/components/page-components/breadcrumb/index.gts
  showcase/app/components/page-components/breadcrumb/sub-sections/states.gts
  showcase/app/components/page-components/breadcrumb/sub-sections/truncation-options.gts
  showcase/app/components/page-components/breadcrumb/sub-sections/variants.gts
  showcase/app/templates/page-components/breadcrumb.gts
  showcase/app/templates/page-components/breadcrumb.hbs
Labels: showcase, showcase-gts

#3179 Showcase: convert PopoverPrimitive page to gts
  showcase/app/components/page-utilities/popover-primitive/code-fragments/with-button-trigger.gts
  showcase/app/components/page-utilities/popover-primitive/code-fragments/with-placeholder-trigger.gts
  showcase/app/components/page-utilities/popover-primitive/index.gts
  showcase/app/components/page-utilities/popover-primitive/sub-sections/base.gts
  showcase/app/components/page-utilities/popover-primitive/sub-sections/interaction.gts
  showcase/app/components/page-utilities/popover-primitive/sub-sections/options.gts
  showcase/app/controllers/page-utilities/popover-primitive.ts
  showcase/app/routes/page-utilities/popover-primitive.ts
  showcase/app/templates/page-utilities/popover-primitive.gts
  showcase/app/templates/page-utilities/popover-primitive.hbs
Labels: showcase, showcase-gts

#3208 `HdsAdvancedTableTh` Remove `@isVisuallyHidden` argument
  .changeset/hot-owls-rescue.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  website/docs/components/table/advanced-table/partials/code/component-api.md
Labels: packages/components, docs-website

#3098 Showcase: Convert table to gts
  showcase/app/components/page-components/table/code-fragments/with-cluster-data.gts
  showcase/app/components/page-components/table/code-fragments/with-multi-select/deletion.gts
  showcase/app/components/page-components/table/code-fragments/with-multi-select/external-action.gts
  showcase/app/components/page-components/table/code-fragments/with-multi-select/filter.gts
  showcase/app/components/page-components/table/code-fragments/with-multi-select/pagination.gts
  showcase/app/components/page-components/table/code-fragments/with-multi-select/sorting.gts
  showcase/app/components/page-components/table/code-fragments/with-multi-select/topbar.gts
  showcase/app/components/page-components/table/code-fragments/with-music-data.gts
  showcase/app/components/page-components/table/code-fragments/with-selectable-data.gts
  showcase/app/components/page-components/table/code-fragments/with-users-data.gts
  showcase/app/components/page-components/table/index.gts
  showcase/app/components/page-components/table/sub-sections/base-elements.gts
  showcase/app/components/page-components/table/sub-sections/customization.gts
  showcase/app/components/page-components/table/sub-sections/data-model.gts
  showcase/app/components/page-components/table/sub-sections/layout.gts
  showcase/app/components/page-components/table/sub-sections/multi-select.gts
  showcase/app/components/page-components/table/sub-sections/sorting.gts
  showcase/app/components/page-components/table/sub-sections/tooltip.gts
  showcase/app/controllers/page-components/table.ts
  showcase/app/routes/page-components/table.ts
  showcase/app/templates/page-components/table.gts
  showcase/app/templates/page-components/table.hbs
Labels: showcase, showcase-gts

#3219 Showcase: convert Badge Count page to gts
  showcase/app/components/page-components/badge-count/index.gts
  showcase/app/components/page-components/badge-count/sub-sections/content.gts
  showcase/app/components/page-components/badge-count/sub-sections/variants.gts
  showcase/app/routes/page-components/badge-count.ts
  showcase/app/templates/page-components/badge-count.gts
  showcase/app/templates/page-components/badge-count.hbs
Labels: showcase, showcase-gts

#3220 Showcase: convert Badge page to gts
  showcase/app/components/page-components/badge/index.gts
  showcase/app/components/page-components/badge/sub-sections/containers.gts
  showcase/app/components/page-components/badge/sub-sections/content.gts
  showcase/app/components/page-components/badge/sub-sections/variants.gts
  showcase/app/routes/page-components/badge.ts
  showcase/app/templates/page-components/badge.gts
  showcase/app/templates/page-components/badge.hbs
Labels: showcase, showcase-gts

#3218 Showcase: convert Button page to gts
  showcase/app/components/page-components/button/code-fragments/with-loading-state.gts
  showcase/app/components/page-components/button/index.gts
  showcase/app/components/page-components/button/sub-sections/containers.gts
  showcase/app/components/page-components/button/sub-sections/content.gts
  showcase/app/components/page-components/button/sub-sections/display.gts
  showcase/app/components/page-components/button/sub-sections/generated-element.gts
  showcase/app/components/page-components/button/sub-sections/states.gts
  showcase/app/components/page-components/button/sub-sections/variants.gts
  showcase/app/controllers/page-components/button.ts
  showcase/app/routes/page-components/button.ts
  showcase/app/styles/showcase-pages/button.scss
  showcase/app/templates/page-components/button.gts
  showcase/app/templates/page-components/button.hbs
Labels: showcase, showcase-gts

#3198 Showcase: convert AdvancedTable page to gts
  showcase/app/components/page-components/advanced-table/code-fragments/with-debug-select.gts
  showcase/app/components/page-components/advanced-table/code-fragments/with-dynamic-cell-content.gts
  showcase/app/components/page-components/advanced-table/code-fragments/with-multi-select.gts
  showcase/app/components/page-components/advanced-table/code-fragments/with-nested-rows.gts
  showcase/app/components/page-components/advanced-table/code-fragments/with-simple-data.gts
  showcase/app/components/page-components/advanced-table/code-fragments/with-sorting.gts
  showcase/app/components/page-components/advanced-table/index.gts
  showcase/app/components/page-components/advanced-table/sub-sections/base-elements.gts
  showcase/app/components/page-components/advanced-table/sub-sections/basic.gts
  showcase/app/components/page-components/advanced-table/sub-sections/customization.gts
  showcase/app/components/page-components/advanced-table/sub-sections/demos.gts
  showcase/app/components/page-components/advanced-table/sub-sections/functional-examples.gts
  showcase/app/components/page-components/advanced-table/sub-sections/layout.gts
  showcase/app/components/page-components/advanced-table/sub-sections/multi-select.gts
  showcase/app/components/page-components/advanced-table/sub-sections/nested-rows.gts
  showcase/app/components/page-components/advanced-table/sub-sections/overflow.gts
  showcase/app/components/page-components/advanced-table/sub-sections/pinnable-column.gts
  showcase/app/components/page-components/advanced-table/sub-sections/reorderable-columns.gts
  showcase/app/components/page-components/advanced-table/sub-sections/resizable-columns.gts
  showcase/app/components/page-components/advanced-table/sub-sections/sorting.gts
  showcase/app/components/page-components/advanced-table/sub-sections/tooltip.gts
  showcase/app/controllers/page-components/advanced-table.ts
  showcase/app/mocks/user-data.ts
  showcase/app/routes/page-components/advanced-table.ts
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/page-components/advanced-table.gts
  showcase/app/templates/page-components/advanced-table.hbs
Labels: showcase, showcase-gts

#3225 Showcase: convert AppFrame to gts
  showcase/app/components/page-layouts/app-frame/code-fragments/with-area-blocks.gts
  showcase/app/components/page-layouts/app-frame/index.gts
  showcase/app/components/page-layouts/app-frame/sub-sections/3d-visualization.gts
  showcase/app/components/page-layouts/app-frame/sub-sections/containers.gts
  showcase/app/components/page-layouts/app-frame/sub-sections/demo.gts
  showcase/app/components/page-layouts/app-frame/sub-sections/framed.gts
  showcase/app/controllers/page-layouts/app-frame/index.ts
  showcase/app/routes/page-layouts/app-frame/index.ts
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-advanced-table.gts
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-advanced-table.hbs
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.gts
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav.hbs
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-modal.gts
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-modal.hbs
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.gts
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame-with-side-nav.hbs
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame.gts
  showcase/app/templates/page-layouts/app-frame/frameless/demo-full-app-frame.hbs
  showcase/app/templates/page-layouts/app-frame/index.gts
  showcase/app/templates/page-layouts/app-frame/index.hbs
Labels: showcase, showcase-gts

#3229 Showcase: convert Dropdown page to gts
  showcase/app/components/page-components/dropdown/code-fragments/with-lorem-ipsum.gts
  showcase/app/components/page-components/dropdown/code-fragments/with-simple-actions.gts
  showcase/app/components/page-components/dropdown/index.gts
  showcase/app/components/page-components/dropdown/sub-sections/collision-detection.gts
  showcase/app/components/page-components/dropdown/sub-sections/demo.gts
  showcase/app/components/page-components/dropdown/sub-sections/display.gts
  showcase/app/components/page-components/dropdown/sub-sections/header-and-footer.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/checkbox.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/checkmark.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/copy-item.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/generic.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/index.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/interactive.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/not-interactive.gts
  showcase/app/components/page-components/dropdown/sub-sections/list-items/radio.gts
  showcase/app/components/page-components/dropdown/sub-sections/positions.gts
  showcase/app/components/page-components/dropdown/sub-sections/toggles.gts
  showcase/app/components/page-components/dropdown/sub-sections/width.gts
  showcase/app/routes/page-components/dropdown.ts
  showcase/app/templates/page-components/dropdown.gts
  showcase/app/templates/page-components/dropdown.hbs
Labels: showcase, showcase-gts

#3243 Showcase: convert Form > Textarea page to gts
  showcase/app/components/page-components/form/textarea/code-fragments/with-character-count.gts
  showcase/app/components/page-components/form/textarea/index.gts
  showcase/app/components/page-components/form/textarea/sub-sections/base-element.gts
  showcase/app/components/page-components/form/textarea/sub-sections/field-element.gts
  showcase/app/controllers/page-components/form/textarea.ts
  showcase/app/routes/page-components/form/textarea.ts
  showcase/app/templates/page-components/form/textarea.gts
  showcase/app/templates/page-components/form/textarea.hbs
Labels: showcase, showcase-gts

#3204 Update Ember version compatibility
  packages/components/README.md
Labels: packages/components

#3232 Showcase: Convert Form Base Elements to gts
  showcase/app/components/page-components/form/base-elements/code-fragments/with-character-count.gts
  showcase/app/components/page-components/form/base-elements/index.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/character-count.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/error.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/field.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/fieldset.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/helper-text.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/indicator.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/label.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/legend.gts
  showcase/app/components/page-components/form/base-elements/sub-sections/visibility-toggle.gts
  showcase/app/controllers/page-components/form/base-elements.ts
  showcase/app/routes/page-components/form/base-elements.ts
  showcase/app/templates/page-components/form/base-elements.gts
  showcase/app/templates/page-components/form/base-elements.hbs
Labels: showcase, showcase-gts

#3246 Showcase: convert Form > Text Input page to gts
  showcase/app/components/page-components/form/text-input/code-fragments/with-character-count.gts
  showcase/app/components/page-components/form/text-input/index.gts
  showcase/app/components/page-components/form/text-input/sub-sections/base-element.gts
  showcase/app/components/page-components/form/text-input/sub-sections/field-element.gts
  showcase/app/controllers/page-components/form/text-input.ts
  showcase/app/routes/page-components/form/text-input.ts
  showcase/app/templates/page-components/form/text-input.gts
  showcase/app/templates/page-components/form/text-input.hbs
Labels: showcase, showcase-gts

#3247 Showcase: convert Form > Toggle to gts
  showcase/app/components/page-components/form/toggle/index.gts
  showcase/app/components/page-components/form/toggle/sub-sections/base-element.gts
  showcase/app/components/page-components/form/toggle/sub-sections/field-element.gts
  showcase/app/components/page-components/form/toggle/sub-sections/group.gts
  showcase/app/controllers/page-components/form/toggle.ts
  showcase/app/routes/page-components/form/toggle.ts
  showcase/app/templates/page-components/form/toggle.gts
  showcase/app/templates/page-components/form/toggle.hbs
Labels: showcase, showcase-gts

#3253 Compressed Image Assets
  showcase/public/assets/images/avatar.png
  showcase/public/assets/logos/favicon.png
  website/public/assets/about/hds-decision-tree.png
  website/public/assets/components/accordion/accordion-focus-to-content.png
  website/public/assets/components/table/advanced-table/advanced-table-keyboard-action-mode-resize.png
  website/public/assets/getting-started/designers/enable-libraries-toggle.png
  website/public/assets/images/avatar.png
  website/public/assets/logos/favicon.png
  website/public/assets/patterns/button-organization/f-shaped-pattern.png
  website/public/assets/patterns/button-organization/z-shaped-pattern.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-ally-donut.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-categorical.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-diverging.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-example-donut.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-example-proportional-meter.png
  website/public/assets/patterns/data-visualization/color-usage/data-visualization-graduated-sequence.png
  website/public/assets/patterns/filter-patterns/layout-sidebar-left-page-level.png
Labels: showcase

#3250 Showcase: convert Link Standalone page to gts
  showcase/app/components/page-components/link/standalone/index.gts
  showcase/app/components/page-components/link/standalone/sub-sections/content.gts
  showcase/app/components/page-components/link/standalone/sub-sections/generated-element.gts
  showcase/app/components/page-components/link/standalone/sub-sections/states.gts
  showcase/app/routes/page-components/link/standalone.ts
  showcase/app/templates/page-components/link/standalone.gts
  showcase/app/templates/page-components/link/standalone.hbs
Labels: showcase, showcase-gts

#3249 Showcase: convert Link > Inline page to gts
  showcase/app/components/page-components/link/inline/index.gts
  showcase/app/components/page-components/link/inline/sub-sections/content.gts
  showcase/app/components/page-components/link/inline/sub-sections/generated-element.gts
  showcase/app/components/page-components/link/inline/sub-sections/states.gts
  showcase/app/routes/page-components/link/inline.ts
  showcase/app/templates/page-components/link/inline.gts
  showcase/app/templates/page-components/link/inline.hbs
Labels: showcase, showcase-gts

#3255 Showcase: Convert FormRadio to gts
  showcase/app/components/page-components/form/radio/index.gts
  showcase/app/components/page-components/form/radio/sub-sections/base-control.gts
  showcase/app/components/page-components/form/radio/sub-sections/field-control.gts
  showcase/app/components/page-components/form/radio/sub-sections/group-control.gts
  showcase/app/controllers/page-components/form/radio.ts
  showcase/app/routes/page-components/form/radio.ts
  showcase/app/templates/page-components/form/radio.gts
Labels: showcase, showcase-gts
