Repository hashicorp/design-system, pull requests merged in 2025-06, with the labels that each got.

#2897 Group 1: Banner and Image audit on the website
  website/docs/components/dropdown/partials/guidelines/overview.md
  website/docs/components/form/select/partials/guidelines/guidelines.md
  website/docs/components/form/select/partials/guidelines/overview.md
  website/docs/components/reveal/partials/guidelines/guidelines.md
  website/docs/patterns/table-multi-select/partials/guidelines/guidelines.md
  website/docs/utilities/dialog-primitive/partials/code/how-to-use.md
Labels: docs-website

#2864 Version Packages
  .changeset/breezy-spoons-flash.md
  .changeset/eleven-pianos-invent.md
  .changeset/fresh-kangaroos-sing.md
  .changeset/honest-experts-battle.md
  .changeset/itchy-ravens-shout.md
  .changeset/kind-ligers-invent.md
  .changeset/nine-fans-cough.md
  .changeset/plenty-kangaroos-worry.md
  .changeset/red-rice-refuse.md
  .changeset/rotten-geese-swim.md
  .changeset/selfish-apes-breathe.md
  .changeset/soft-olives-grow.md
  .changeset/spicy-buses-design.md
  .changeset/strong-bananas-drum.md
  .changeset/tall-rings-act.md
  .changeset/thick-mice-bow.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/flight-icons/CHANGELOG.md
  packages/flight-icons/package.json
  pnpm-lock.yaml
  website/docs/whats-new/release-notes/partials/components.md
  website/docs/whats-new/release-notes/partials/flight-icons.md
Labels: packages/flight-icons, packages/components, docs-website

#2932 fix: skip flaky test until we can find a better solution
  showcase/tests/integration/components/hds/modal/index-test.js
Labels: showcase

#2643 `DisclosurePrimitive` - Implement a11y toggled content pattern
  .changeset/seven-eyes-whisper.md
  packages/components/src/components/hds/accordion/item/index.hbs
  packages/components/src/components/hds/accordion/item/index.ts
  packages/components/src/components/hds/disclosure-primitive/index.hbs
  packages/components/src/components/hds/disclosure-primitive/index.ts
  packages/components/src/components/hds/reveal/index.hbs
  packages/components/src/components/hds/reveal/index.ts
  showcase/tests/integration/components/hds/accordion/index-test.js
  showcase/tests/integration/components/hds/disclosure-primitive/index-test.js
  showcase/tests/integration/components/hds/reveal/index-test.js
Labels: packages/components, showcase

#2915 `Form::Field` - Helper text links focus order fix
  .changeset/seven-eyes-whisper.md
  .changeset/swift-adults-share.md
  packages/components/src/components/hds/form/field/index.hbs
  showcase/app/templates/components/form/masked-input.hbs
  showcase/tests/integration/components/hds/form/field/index-test.js
Labels: packages/components, showcase

#2921 Update `ember-a11y-testing` dependency in showcase and website
  pnpm-lock.yaml
  showcase/package.json
  website/app/components/dynamic-template.js
  website/package.json
Labels: showcase

#2920 Colors documentation: Image updates
  website/docs/foundations/colors/partials/guidelines/guidelines.md
  website/public/assets/foundations/color/colors-semantic-tokens-accessibility-examples.png
  website/public/assets/foundations/color/colors-status-examples.png
  website/public/assets/foundations/color/colors-surface-examples.png
Labels: docs-website

#2923 Update `PageHeader` guidelines to match Figma component
  website/docs/components/page-header/partials/guidelines/guidelines.md
  website/public/assets/components/page-header/page-header-custom-metadata-example.png
Labels: docs-website

#2919 `AdvancedTable` bug - Handle `model` updates
  .changeset/fresh-apes-return.md
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  showcase/tests/integration/components/hds/advanced-table/index-test.js
Labels: packages/components, showcase

#2940 Set node version to 22
  .nvmrc
  package.json
  showcase/package.json
  website/package.json
Labels: showcase

#2946 Updating card examples
  website/docs/components/card/partials/guidelines/guidelines.md
  website/public/assets/components/card/card-backgrounds.png
  website/public/assets/components/card/card-base-neutral0.png
  website/public/assets/components/card/card-base-neutral50.png
  website/public/assets/components/card/card-base.png
  website/public/assets/components/card/card-borders.png
  website/public/assets/components/card/card-high.png
  website/public/assets/components/card/card-levels.png
  website/public/assets/components/card/card-mid.png
  website/public/assets/components/card/card-spacing.png
Labels: docs-website

#2901 chore: ember v6.4
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  showcase/.ember-cli
  showcase/.stylelintignore
  showcase/app/app.ts
  showcase/app/deprecation-workflow.ts
  showcase/config/deprecation-workflow.js
  showcase/config/ember-cli-update.json
  showcase/config/ember-try.js
  showcase/config/targets.js
  showcase/package.json
  showcase/tests/test-helper.ts
  website/app/app.js
  website/app/deprecation-workflow.js
  website/config/ember-cli-update.json
  website/package.json
Labels: packages/components, showcase

#2949 Remove Figma v1.0 banner
  website/docs/getting-started/for-designers.md
Labels: docs-website

#2954 fix(components): add missing template registries
  .changeset/sour-needles-own.md
  package.json
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/table/index.hbs
  packages/components/unpublished-development-types/global.d.ts
  pnpm-lock.yaml
  showcase/types/global.d.ts
Labels: packages/components, showcase

#2849 AdvancedTable - Column resizing
  .changeset/chilly-cheetahs-rescue.md
  packages/components/package.json
  packages/components/src/components/hds/advanced-table/index.hbs
  packages/components/src/components/hds/advanced-table/index.ts
  packages/components/src/components/hds/advanced-table/models/column.ts
  packages/components/src/components/hds/advanced-table/models/row.ts
  packages/components/src/components/hds/advanced-table/models/table.ts
  packages/components/src/components/hds/advanced-table/th-context-menu.hbs
  packages/components/src/components/hds/advanced-table/th-context-menu.ts
  packages/components/src/components/hds/advanced-table/th-resize-handle.hbs
  packages/components/src/components/hds/advanced-table/th-resize-handle.ts
  packages/components/src/components/hds/advanced-table/th-sort.hbs
  packages/components/src/components/hds/advanced-table/th-sort.ts
  packages/components/src/components/hds/advanced-table/th.hbs
  packages/components/src/components/hds/advanced-table/th.ts
  packages/components/src/components/hds/advanced-table/types.ts
  packages/components/src/styles/components/advanced-table.scss
  packages/components/src/template-registry.ts
  packages/components/unpublished-development-types/global.d.ts
  pnpm-lock.yaml
  showcase/app/controllers/components/advanced-table.js
  showcase/app/styles/_globals.scss
  showcase/app/styles/showcase-pages/advanced-table.scss
  showcase/app/templates/components/advanced-table.hbs
  showcase/tests/integration/components/hds/advanced-table/index-test.js
  showcase/tests/unit/components/hds/advanced-table/models/column-test.js
Labels: packages/components, showcase

#2974 Helios Data Viz Patterns: Update banner wording
  website/docs/patterns/data-visualization/partials/guidelines/specifications.md
Labels: docs-website

#2898 Form layout—Components (HDS-4885)
  .changeset/afraid-hornets-lie.md
  .gitignore
  packages/components/package.json
  packages/components/src/components.ts
  packages/components/src/components/hds/form/footer/index.hbs
  packages/components/src/components/hds/form/footer/index.ts
  packages/components/src/components/hds/form/header/description.hbs
  packages/components/src/components/hds/form/header/description.ts
  packages/components/src/components/hds/form/header/index.hbs
  packages/components/src/components/hds/form/header/index.ts
  packages/components/src/components/hds/form/header/title.hbs
  packages/components/src/components/hds/form/header/title.ts
  packages/components/src/components/hds/form/index.hbs
  packages/components/src/components/hds/form/index.ts
  packages/components/src/components/hds/form/section/header.hbs
  packages/components/src/components/hds/form/section/header.ts
  packages/components/src/components/hds/form/section/index.hbs
  packages/components/src/components/hds/form/section/index.ts
  packages/components/src/components/hds/form/section/multi-field-group/index.hbs
  packages/components/src/components/hds/form/section/multi-field-group/index.ts
  packages/components/src/components/hds/form/section/multi-field-group/item.hbs
  packages/components/src/components/hds/form/section/multi-field-group/item.ts
  packages/components/src/components/hds/form/separator/index.hbs
  packages/components/src/components/hds/form/separator/index.ts
  packages/components/src/components/hds/form/types.ts
  packages/components/src/styles/components/form/index.scss
  packages/components/src/styles/components/form/layout.scss
  packages/components/src/template-registry.ts
  showcase/app/components/mock/app/main/generic-form/partials/account-signup.gts
  showcase/app/components/mock/app/main/generic-form/partials/actions.gts
  showcase/app/components/mock/app/main/generic-form/partials/add-policy.gts
  showcase/app/components/mock/app/main/generic-form/partials/add-user.gts
  showcase/app/controllers/components/form/frameless/demo-form-complex.js
  showcase/app/controllers/components/form/layout.js
  showcase/app/router.ts
  showcase/app/routes/components/form/layout.js
  showcase/app/styles/app.scss
  showcase/app/styles/showcase-pages/form/layout.scss
  showcase/app/templates/components/form/frameless/demo-form-basic.hbs
  showcase/app/templates/components/form/frameless/demo-form-complex.hbs
  showcase/app/templates/components/form/layout.hbs
  showcase/app/templates/index.hbs
  showcase/tests/acceptance/components/hds/form/layout-test.js
  showcase/tests/acceptance/percy-test.js
  showcase/tests/integration/components/hds/form/divider/index-test.js
  showcase/tests/integration/components/hds/form/footer/index-test.js
  showcase/tests/integration/components/hds/form/header/description/index-test.js
  showcase/tests/integration/components/hds/form/header/index-test.js
  showcase/tests/integration/components/hds/form/header/title/index-test.js
  showcase/tests/integration/components/hds/form/index-test.js
  showcase/tests/integration/components/hds/form/section/header/index-test.js
  showcase/tests/integration/components/hds/form/section/index-test.js
  showcase/tests/integration/components/hds/form/section/multi-field-group/index-test.js
  showcase/tests/integration/components/hds/form/section/multi-field-group/item/index-test.js
  showcase/types/template-registry.ts
Labels: packages/components, showcase

#2972 Updated export of icons from Figma
  .changeset/tough-cooks-notice.md
  packages/flight-icons/catalog.json
  packages/flight-icons/svg-original/move-horizontal-16.svg
  packages/flight-icons/svg-original/move-horizontal-24.svg
  packages/flight-icons/svg-original/resize-column-16.svg
  packages/flight-icons/svg-original/resize-column-24.svg
  packages/flight-icons/svg-react/index.ts
  packages/flight-icons/svg-react/move-horizontal-16.tsx
  packages/flight-icons/svg-react/move-horizontal-24.tsx
  packages/flight-icons/svg-react/resize-column-16.tsx
  packages/flight-icons/svg-react/resize-column-24.tsx
  packages/flight-icons/svg-sprite/svg-sprite-module.js
  packages/flight-icons/svg-sprite/svg-sprite.svg
  packages/flight-icons/svg/index.d.ts
  packages/flight-icons/svg/index.js
  packages/flight-icons/svg/move-horizontal-16.svg
  packages/flight-icons/svg/move-horizontal-24.svg
  packages/flight-icons/svg/resize-column-16.svg
  packages/flight-icons/svg/resize-column-24.svg
  website/public/assets/zip/flight-icons-svg.zip
Labels: packages/flight-icons

#2977 Dropdown icon and screenshot documentation update
  website/docs/components/dropdown/partials/accessibility/accessibility.md
  website/docs/components/dropdown/partials/guidelines/guidelines.md
  website/docs/components/dropdown/partials/specifications/anatomy.md
  website/docs/components/dropdown/partials/specifications/states.md
  website/public/assets/components/dropdown/dropdown-accessibility-destructive-icon.png
  website/public/assets/components/dropdown/dropdown-accessibility-destructive-language.png
  website/public/assets/components/dropdown/dropdown-anatomy.png
  website/public/assets/components/dropdown/dropdown-button-anatomy.png
  website/public/assets/components/dropdown/dropdown-button-chevrons.png
  website/public/assets/components/dropdown/dropdown-context-switcher-do.png
  website/public/assets/components/dropdown/dropdown-copybutton-anatomy.png
  website/public/assets/components/dropdown/dropdown-example-do.png
  website/public/assets/components/dropdown/dropdown-example-dont.png
  website/public/assets/components/dropdown/dropdown-icon-anatomy.png
  website/public/assets/components/dropdown/dropdown-icon-chevrons.png
  website/public/assets/components/dropdown/dropdown-icon-usage-do.png
  website/public/assets/components/dropdown/dropdown-icon-usage-dont.png
  website/public/assets/components/dropdown/dropdown-interactive-badge-example.png
  website/public/assets/components/dropdown/dropdown-interactive-filter-do.png
  website/public/assets/components/dropdown/dropdown-interactive-filter-dont.png
  website/public/assets/components/dropdown/dropdown-listitem-anatomy.png
  website/public/assets/components/dropdown/dropdown-listitem-checkbox-states.png
  website/public/assets/components/dropdown/dropdown-listitem-checkmark-states.png
  website/public/assets/components/dropdown/dropdown-listitem-interactive-states.png
  website/public/assets/components/dropdown/dropdown-listitem-radio-states.png
  website/public/assets/components/dropdown/dropdown-listitem-types-generic.png
  website/public/assets/components/dropdown/dropdown-listitem-types-interactive.png
  website/public/assets/components/dropdown/dropdown-listitem-types-noninteractive.png
  website/public/assets/components/dropdown/dropdown-listitem-types-selection.png
  website/public/assets/components/dropdown/dropdown-loading-do.png
  website/public/assets/components/dropdown/dropdown-loading-dont.png
  website/public/assets/components/dropdown/dropdown-menu-footer.png
  website/public/assets/components/dropdown/dropdown-menu-header.png
  website/public/assets/components/dropdown/dropdown-menu-max-width.png
  website/public/assets/components/dropdown/dropdown-menu-min-width.png
  website/public/assets/components/dropdown/dropdown-menu-scroll.png
  website/public/assets/components/dropdown/dropdown-placement.png
  website/public/assets/components/dropdown/dropdown-toggle-button-sizes.png
  website/public/assets/components/dropdown/dropdown-toggle-icon-sizes.png
  website/public/assets/components/dropdown/dropdown-toggle-states.png
  website/public/assets/components/dropdown/dropdown-toggle-types.png
Labels: docs-website

#2978 Update the resize column icon in the context menu
  packages/components/src/components/hds/advanced-table/th-context-menu.ts
Labels: packages/components
